Repository apache/pulsar, pull requests merged in 2018-09, with the labels that each got.

#2494 [Schema] Introduce Schema.AUTO to detect schema automatically for consumers and readers
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleTypedProducerConsumerTest.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/AutoSchema.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/AvroSchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
Labels: component/schemaregistry, type/task

#2505 Fix sql cli
  bin/pulsar
Labels: type/bug

#2507 Fix typos
  site/docs/latest/admin-api/tenants.md
  site2/docs/admin-api-schemas.md
  site2/docs/admin-api-tenants.md
  site2/docs/getting-started-standalone.md
  site2/website/versioned_docs/version-2.1.0-incubating/admin-api-schemas.md
  site2/website/versioned_docs/version-2.1.0-incubating/admin-api-tenants.md
  site2/website/versioned_docs/version-2.1.0-incubating/getting-started-standalone.md
Labels: component/documentation

#2488 [functions] Don't set the state storage url if state is not enabled.
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/functions

#2482 Fix log4j conf
  conf/log4j2.yaml
Labels: type/enhancement

#2480 Allow to configure bookie settings when running in standalone mode
  conf/standalone.conf
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: type/enhancement

#2434 Add pulsar flink sink connector
  pom.xml
  pulsar-flink/pom.xml
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarJsonTableSink.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarProduceMode.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarTableSink.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/partitioner/PulsarKeyExtractor.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/serde/JsonRowDeserializationSchema.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/serde/JsonRowSerializationSchema.java
Labels: component/flink, type/feature

#2487 Ensure standalone service comes back quickly after ungraceful restarts
  conf/standalone.conf
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/NoopLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: type/enhancement

#2509 Don't initialize /managed-ledgers on client creation (#2379)
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImplZookeeper.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/MetaStoreImplZookeeperTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/MockedBookKeeperTestCase.java
Labels: component/broker, type/bug

#2440 Issue 2313: create a JDBC sink connector
  distribution/io/src/assemble/io.xml
  pom.xml
  pulsar-io/jdbc/lombok.config
  pulsar-io/jdbc/pom.xml
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcAbstractSink.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcAvroSchemaSink.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcSinkConfig.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcUtils.java
  pulsar-io/jdbc/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/JdbcSinkTest.java
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/JdbcUtilsTest.java
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/SqliteUtils.java
  pulsar-io/pom.xml
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/JdbcSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/suites/PulsarTestSuite.java
Labels: component/connect, component/io, type/feature

#2510 Handle /managed-ledgers znode existence on cluster init (#2379)
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
Labels: component/cli, type/bug

#2497 [schema] implement generic schema/record for Schema.JSON
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/api/schema/GenericRecord.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroRecord.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericSchema.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaTest.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/AvroSchemaTest.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/JSONSchemaTest.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/SchemaTestUtils.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: component/schemaregistry, type/task

#2518 Add CLI to get function status of a specific instance
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  site2/docs/reference-pulsar-admin.md
Labels: component/functions

#2517 Log and Return error-message on function-stats failure
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/functions

#2519 Delete temp file after submitting function
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
Labels: component/functions

#2512 Misc Cleanups
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/proto/src/main/proto/Function.proto
Labels: component/functions

#2513 [documentation] Add instructions for contributing c++/python code changes
  pulsar-client-cpp/docker-format.sh
  site2/website/contributing.md
Labels: component/build, component/documentation

#2506 TopicPatterns are now supported by python functions
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions

#2527 [go] Ensure producer/consumer/reader keep a ref of client instance so it won't be finalized
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/c_producer.go
  pulsar-client-go/pulsar/c_reader.go
Labels: component/go, type/bug

#2531 Typo in CSR generation docs (#2530)
  site2/docs/security-tls-authentication.md
  site2/docs/security-tls-transport.md
  site2/website/versioned_docs/version-2.1.0-incubating/security-tls-authentication.md
  site2/website/versioned_docs/version-2.1.0-incubating/security-tls-transport.md
Labels: component/documentation, type/bug

#2473 Downgrading ZK to stable version 3.4.13
  distribution/server/licenses/LICENSE-JLine.txt
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/FileTxnSnapLogWrapper.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/SerializeUtilsAspect.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZookeeperBkClientFactoryImpl.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperClientFactoryImplTest.java
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperServerAspect.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterSpec.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/upgrade/PulsarZKDowngradeTest.java
  tests/integration/src/test/resources/zk-3.5-test-data/log.1
  tests/integration/src/test/resources/zk-3.5-test-data/log.85
  tests/integration/src/test/resources/zk-3.5-test-data/snapshot.0
  tests/integration/src/test/resources/zk-3.5-test-data/snapshot.84
Labels: type/task

#2409 Added HDFS Sink
  pom.xml
  pulsar-io/hdfs/pom.xml
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/AbstractHdfsConfig.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/AbstractHdfsConnector.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/Compression.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/HdfsResources.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/SecurityUtil.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/package-info.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/HdfsAbstractSink.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/HdfsSinkConfig.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/HdfsSyncThread.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/package-info.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/seq/HdfsAbstractSequenceFileSink.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/seq/HdfsSequentialTextSink.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/seq/HdfsTextSink.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/seq/package-info.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/text/HdfsAbstractTextFileSink.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/text/HdfsStringSink.java
  pulsar-io/hdfs/src/main/java/org/apache/pulsar/io/hdfs/sink/text/package-info.java
  pulsar-io/hdfs/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/hdfs/src/test/java/org/apache/pulsar/io/hdfs/sink/AbstractHdfsSinkTest.java
  pulsar-io/hdfs/src/test/java/org/apache/pulsar/io/hdfs/sink/HdfsSinkConfigTests.java
  pulsar-io/hdfs/src/test/java/org/apache/pulsar/io/hdfs/sink/seq/HdfsSequentialSinkTests.java
  pulsar-io/hdfs/src/test/java/org/apache/pulsar/io/hdfs/sink/seq/HdfsTextSinkTests.java
  pulsar-io/hdfs/src/test/java/org/apache/pulsar/io/hdfs/sink/text/HdfsStringSinkTests.java
  pulsar-io/hdfs/src/test/resources/hadoop/core-site.xml
  pulsar-io/hdfs/src/test/resources/hadoop/hdfs-site.xml
  pulsar-io/hdfs/src/test/resources/sinkConfig.yaml
  pulsar-io/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/HdfsContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/HdfsSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/SinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/suites/PulsarTestSuite.java
Labels: component/io, type/feature

#2523 Fix validator logic to differentiate between serializer and deserializer
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions

#2515 support nested fields in Pulsar presto connector
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TweetData.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/AvroSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/JSONSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarInternalColumn.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarMetadata.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
Labels: component/sql

#2540 Enable C++ AuthFactory to parse Athenz params string
  pulsar-client-cpp/include/pulsar/Authentication.h
  pulsar-client-cpp/lib/Authentication.cc
  pulsar-client-cpp/lib/auth/AuthTls.cc
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: component/c++, type/bug

#2542 Fix status code of REST API to get partitioned topic stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: component/broker, type/enhancement

#2537 [schema] enable Schema.AUTO if functions or connectors are using GenericRecord
  pulsar-functions/api-java/pom.xml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-functions/java-examples/pom.xml
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/AutoSchemaFunction.java
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/connect, component/functions, component/schemaregistry, type/feature

#2529 Added cmake install for lib and headers
  pulsar-client-cpp/lib/CMakeLists.txt
Labels: component/c++

#2511 [documentation] Add section about licensing at contribution guide
  site2/website/contributing.md
Labels: component/documentation, type/task

#2545 [docker] introduce a pulsar standalone image
  docker/pom.xml
  docker/pulsar-standalone/Dockerfile
  docker/pulsar-standalone/conf/nginx-app.conf
  docker/pulsar-standalone/conf/postgresql.conf
  docker/pulsar-standalone/conf/supervisor-app.conf
  docker/pulsar-standalone/conf/uwsgi.ini
  docker/pulsar-standalone/conf/uwsgi_params
  docker/pulsar-standalone/django/collector.py
  docker/pulsar-standalone/django/collector.sh
  docker/pulsar-standalone/django/dashboard/__init__.py
  docker/pulsar-standalone/django/dashboard/settings.py
  docker/pulsar-standalone/django/dashboard/urls.py
  docker/pulsar-standalone/django/dashboard/wsgi.py
  docker/pulsar-standalone/django/manage.py
  docker/pulsar-standalone/django/stats/__init__.py
  docker/pulsar-standalone/django/stats/admin.py
  docker/pulsar-standalone/django/stats/apps.py
  docker/pulsar-standalone/django/stats/migrations/0001_initial.py
  docker/pulsar-standalone/django/stats/migrations/__init__.py
  docker/pulsar-standalone/django/stats/models.py
  docker/pulsar-standalone/django/stats/templates/stats/base.html
  docker/pulsar-standalone/django/stats/templates/stats/broker.html
  docker/pulsar-standalone/django/stats/templates/stats/brokers.html
  docker/pulsar-standalone/django/stats/templates/stats/clusters.html
  docker/pulsar-standalone/django/stats/templates/stats/home.html
  docker/pulsar-standalone/django/stats/templates/stats/namespace.html
  docker/pulsar-standalone/django/stats/templates/stats/property.html
  docker/pulsar-standalone/django/stats/templates/stats/topic.html
  docker/pulsar-standalone/django/stats/templates/stats/topics.html
  docker/pulsar-standalone/django/stats/templatetags/__init__.py
  docker/pulsar-standalone/django/stats/templatetags/stats_extras.py
  docker/pulsar-standalone/django/stats/templatetags/table.py
  docker/pulsar-standalone/django/stats/tests.py
  docker/pulsar-standalone/django/stats/urls.py
  docker/pulsar-standalone/django/stats/views.py
  docker/pulsar-standalone/pom.xml
  site2/docs/getting-started-standalone.md
  site2/website/versioned_docs/version-2.1.0-incubating/getting-started-standalone.md
Labels: component/deploy

#2552 Fix dashboard to work with python3.
  dashboard/django/collector.py
  dashboard/django/stats/views.py
Labels: type/enhancement

#2544 Readd MockBookKeeper to Pulsar
  managed-ledger/src/test/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  managed-ledger/src/test/java/org/apache/bookkeeper/client/PulsarMockLedgerHandle.java
  managed-ledger/src/test/java/org/apache/bookkeeper/client/PulsarMockReadHandle.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerErrorsTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/MockedBookKeeperTestCase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MockedBookKeeperClientFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: component/test, type/enhancement

#2550 [WIP] Fix status code of REST API to get list of subscriptions of partition…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: component/broker, type/enhancement

#2557 Fixed download links and resource page
  site2/website/data/resources.js
  site2/website/pages/en/download.js
Labels: component/website

#2555 [ecosystem] Flink pulsar source connector
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBase.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilder.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSourceTests.java
Labels: component/connect, type/feature

#2562 Fixed website build with missing comma in replace.js
  site2/website/scripts/replace.js
Labels: component/website

#2563 Removed sha1 from release signing script
  site2/docs/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-cpp.md
  src/sign-release.sh
Labels: type/task

#2561 [documentation][example] Flink Source & Sink Connector
  examples/flink-consumer-source/README.md
  examples/flink-consumer-source/pom.xml
  examples/flink-consumer-source/src/main/java/org/apache/pulsar/examples/flink/PulsarConsumerSourceWordCount.java
  examples/pom.xml
  pom.xml
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/partitioner/PulsarKeyExtractor.java
Labels: component/documentation, component/flink

#2553 Remove property term from dashboard.
  dashboard/django/stats/templates/stats/base.html
  dashboard/django/stats/templates/stats/home.html
  dashboard/django/stats/views.py
Labels: type/bug

#2538 [io] jdbc connector uses Schema.AUTO
  pulsar-functions/java-examples/pom.xml
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcAbstractSink.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcAutoSchemaSink.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcSinkConfig.java
  pulsar-io/jdbc/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/JdbcSinkTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/JdbcSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/SinkTester.java
Labels: component/connect, component/io, component/schemaregistry, type/task

#2516 Fix: get function status with auth enable
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
Labels: component/functions

#2567 Another fix for website build website/scripts/replace.js
  site2/website/scripts/replace.js
Labels: component/website

#2564 optimizing throughput in Pulsar Presto connector
  conf/presto/catalog/pulsar.properties
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnector.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorConfig.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
Labels: component/sql

#2548 Stop all functions gracefully on closing worker-service
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: component/functions

#2573 ManagedLedger only closes ledger on error if current ledger (#240)
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/bug

#2508 PIP-22: Dead Letter Topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/InMemoryRedeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/RedeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/RedeliveryTrackerDisabled.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/CompactedOutBatchMessageTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/DeadLetterPolicy.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/client, type/feature

#2560 [proxy][functions] Issue #2154: proxy should be able to forward rest requests to function workers cluster
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
Labels: component/functions, component/proxy, type/feature

#2583 Issue #2574: Timeout message not get redeliver in TopicsConsumer when use message listener
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug

#2579 Misc fixes
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/CustomBaseObject.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/CustomDerivedObject.java
Labels: component/connect, component/functions, type/task

#2535 Add ledger op timeout to avoid topics stuck on ledger-creation
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker

#2571 Change repository tag for test image
  tests/docker-images/latest-version-image/pom.xml
Labels: component/build, triage/week-37, type/task

#2588 Preserve filename of the original function submission
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionDetailsUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/functions, component/python

#2595 [tests] Fix the synchronization problem at BrokerClientIntegrationTest.testMaxConcurrentTopicLoading
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
Labels: component/test, type/bug

#2600 [tests] make PersistentQueueE2ETest tolerant failures during deleting topic at cleanup
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentQueueE2ETest.java
Labels: component/test

#2598 [tests] Flaky Test ZooKeeperCacheTest#testChildrenCacheZnodeCreatedAfterCache
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
Labels: component/test, type/bug

#2599 [java-client] Issue #2384: ConnectionHandler: Log stack trace instead of printing
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
Labels: component/client, type/bug

#2591 Fix: Compaction with last deleted keys not completing compaction
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: component/compaction, type/bug

#2597 [build] Fix docker organization parameter
  docker/pom.xml
  pom.xml
Labels: component/build, type/bug

#2577 fix behavior of JSONSchema for derived classes
  pulsar-client-schema/pom.xml
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/JSONSchema.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/JSONSchemaTest.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/SchemaTestUtils.java
Labels: component/schemaregistry, type/bug

#2601 docs for 2.1.1-incubating release
  site2/website/release-notes.md
  site2/website/releases.json
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.1.1-incubating/adaptors-kafka.md
  site2/website/versioned_docs/version-2.1.1-incubating/administration-proxy.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-python.md
  site2/website/versioned_docs/version-2.1.1-incubating/cookbooks-tiered-storage.md
  site2/website/versioned_docs/version-2.1.1-incubating/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-api.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-deploying.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-guarantees.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-overview.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-quickstart.md
  site2/website/versioned_docs/version-2.1.1-incubating/getting-started-clients.md
  site2/website/versioned_docs/version-2.1.1-incubating/getting-started-standalone.md
  site2/website/versioned_docs/version-2.1.1-incubating/io-managing.md
  site2/website/versioned_docs/version-2.1.1-incubating/io-quickstart.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.1.1-incubating/sql-deployment-configurations.md
  site2/website/versioned_docs/version-2.1.1-incubating/sql-getting-started.md
  site2/website/versioned_docs/version-2.1.1-incubating/sql-overview.md
  site2/website/versions.json
Labels: component/documentation

#2586 fixing/improving logging for function instance
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
  pulsar-functions/runtime/src/main/resources/java_instance_log4j2.yml
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
Labels: component/functions, type/bug

#2543 Add ServiceUrlProvider and add method forceCloseConnection in PulsarC…
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ServiceUrlProviderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ServiceUrlProvider.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HandlerState.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
Labels: component/client, type/feature

#2606 Add support for dead letter topics for java functions
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSourceConfig.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/ConsistentlyFailingFunction.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions

#2594 Correcting SQL getting started title
  site2/website/versioned_docs/version-2.1.1-incubating/sql-getting-started.md
Labels: component/sql

#2580 [Python] Consolidated duplicated subscribe_*() methods into a single one
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
Labels: type/enhancement

#2608 Enforce boost-python was found by CMake
  pulsar-client-cpp/docker/build-wheels.sh
  pulsar-client-cpp/python/CMakeLists.txt
Labels: type/bug

#2572 Shorten the timeout value of C++ ZTS client
  pulsar-client-cpp/lib/auth/athenz/ZTSClient.cc
Labels: component/c++, type/bug

#2616 Fixed the null checking of retryDetails field
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSourceConfig.java
Labels: component/functions

#2610 Prepare website for future releases without '-incubating' suffix
  site2/website/pages/en/download.js
  site2/website/releases.json
Labels: component/website

#2590 Issue #2584: unacked message is not redelivered on time
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/UnAcknowledgedMessagesTimeoutTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java
Labels: component/client, type/bug

#2596 [tests] improve PersistentFailoverE2ETest and add more logging to RawReaderTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentFailoverE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
Labels: component/test

#2585 [tests] Make BrokerClientIntegrationTest testing behavior deterministic
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
Labels: component/test, type/bug

#2629 [tests] improve BatchMessageTest#testSimpleBatchProducerConsumer
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
Labels: component/client, component/test, type/bug

#2614 Debezium: add PulsarDatabaseHistory for debezium
  pom.xml
  pulsar-io/debezium/pom.xml
  pulsar-io/debezium/src/main/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistory.java
  pulsar-io/debezium/src/test/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistoryTest.java
  pulsar-io/pom.xml
Labels: component/functions, component/io, type/feature

#2593 Add support for running python functions with wheel file
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/main/python/util.py
Labels: component/functions

#2636 Fix: NPE if messageId not present on create-sub admin-api call
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/broker

#2633 fix NPE while setting stats
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
Labels: component/functions

#2617 Add sample docker-compose file with pulsar standalone
  docker-compose/standalone-dashboard/README.MD
  docker-compose/standalone-dashboard/docker-compose.yml
Labels: component/deploy, type/feature

#2619 Fix aggregation process of topic stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/stats/prometheus/AggregatedNamespaceStatsTest.java
Labels: component/broker, type/bug

#2644 Issue #2638: com.fasterxml.jackson.databind.JsonMappingException: Infinite recursion
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
Labels: component/test, type/bug

#2646 Handle RejectedExecutionException at closing ManagedLedgerClientFactory
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
Labels: component/broker, component/test, type/bug

#2637 Fix average size of messages included in partitioned stats
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PublisherStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicStats.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/PersistentTopicStatsTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/PublisherStatsTest.java
Labels: component/stats

#2643 [tests] improve DispatcherBlockConsumerTest#testBrokerSubscriptionRecovery
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DispatcherBlockConsumerTest.java
Labels: component/test, type/bug

#2025 Allow non-pesistent topics to be retrieved along with persistent ones from the "GetTopicsOfNamespace" method
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
Labels: component/client

#2649 Update Cassandra version
  pom.xml
Labels: component/test, type/task

#2650 [tests] disable DeadLetterTopicTest#testDeadLetterTopicWithMultiTopic
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/PartitionedTopicsSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
Labels: component/test

#2645 [tests] ignore exceptions during shutting down test cases
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
Labels: component/test, type/enhancement

#2640 [tests] Issue 2639: NullPointerException at closing consumer
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/test, type/bug

#2627 Debezium: kafka connect offset store
  pulsar-io/debezium/pom.xml
  pulsar-io/debezium/src/main/java/org/apache/pulsar/io/debezium/PulsarKafkaWorkerConfig.java
  pulsar-io/debezium/src/main/java/org/apache/pulsar/io/debezium/PulsarOffsetBackingStore.java
  pulsar-io/debezium/src/test/java/org/apache/pulsar/io/debezium/PulsarOffsetBackingStoreTest.java
Labels: component/connect, component/io, type/feature

#2635 Gracefully shutdown function worker service
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionWorkerStarter.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
Labels: component/functions

#2628 In ZK 3.4.13 the elapsed time is not anymore based on System.currentTimeMillis()
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/FinalRequestProcessorAspect.java
Labels: type/bug

#2632 clear old function failure exception from stats
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
Labels: component/functions

#2634 Fix: web-thread stuck on function metadata update
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
Labels: component/functions, type/bug

#2411 [functions] change instance id from string to int and expose number of instances in context
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowContext.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowContextImpl.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SinkContext.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SourceContext.java
Labels: component/connect, component/functions, component/io, type/enhancement

#2661 Fixed flaky test BatchMessageTest.testBatchAndNonBatchCumulativeAcks
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
Labels: component/test

#2654 Fixed links in download page
  site2/website/pages/en/download.js
Labels: component/website, type/bug

#2605 implement topic routing on a per record basis
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Record.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/AbstractOneOuputTopicProducers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOuputTopicProducers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/Producers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOutputTopicProducersTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
Labels: component/io

#2670 Fixed HTTP redirects with proxy handler
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/proxy/TestProxy.java
Labels: type/bug

#2671 Simplify ServiceUrlProvider related APIs
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ServiceUrlProviderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ServiceUrlProvider.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/enhancement

#2675 Fix sink-record to get topic name
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
Labels: component/io, type/bug

#2677 mismatch package for AggregatedNamespaceStatsTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStatsTest.java
Labels: component/test

#2679 Add types comment in Prometheus stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
Labels: type/enhancement

#2669 Clarify and add tests for schema change scenarios
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
Labels: component/test, type/task

#2578 Add support for schema extraction from a jar
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSchemas.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/utils/SchemaExtractor.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/pojo/Tick.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/schemaregistry, type/feature

#2681 Fix ConsumerBuilder and PulsarClient document
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
Labels: component/client, component/documentation, type/bug

#2135 Allow user to get topic from consumer message (#2007)
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerConsumerBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicFromMessageTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Message.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageParser.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSourceTests.java
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/JdbcSinkTest.java
Labels: type/enhancement
