Repository apache/pulsar, pull requests merged in 2018-03, with the labels that each got.

#1315 Remove deprecated newConnect methods
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
Labels: component/test

#1232 Schema registry (1/4)
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: type/feature

#1311 Converted main part of code to use builder APIs with typed interface
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConsumeBaseExceptionTest.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/pulsar/client/kafka/compat/PulsarClientKafkaConfig.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/pulsar/client/kafka/compat/PulsarConsumerKafkaConfig.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/pulsar/client/kafka/compat/PulsarProducerKafkaConfig.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerConfiguration.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerEventListener.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/MessageRouter.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStats.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsDisabled.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStats.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/RoundRobinPartitionMessageRouterImpl.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyForwardAuthDataTest.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/MessageToValuesMapper.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarBolt.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpout.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/SharedPulsarClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
Labels: type/task

#1316 Introduce a pulsar log4j2 appender
  pom.xml
  pulsar-log4j2-appender/pom.xml
  pulsar-log4j2-appender/src/main/java/org/apache/pulsar/log4j2/appender/PulsarAppender.java
  pulsar-log4j2-appender/src/main/java/org/apache/pulsar/log4j2/appender/PulsarManager.java
  pulsar-log4j2-appender/src/test/java/org/apache/pulsar/log4j2/appender/PulsarAppenderTest.java
  pulsar-log4j2-appender/src/test/java/org/apache/pulsar/log4j2/appender/builder/ConfigurationAssemblerTest.java
  pulsar-log4j2-appender/src/test/java/org/apache/pulsar/log4j2/appender/builder/ConfigurationBuilderTest.java
  pulsar-log4j2-appender/src/test/java/org/apache/pulsar/log4j2/appender/builder/CustomConfigurationFactory.java
  pulsar-log4j2-appender/src/test/resources/PulsarAppenderTest.xml
Labels: type/feature

#1310 Utilities for arquillian integration tests
  tests/integration-tests-utils/pom.xml
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/DockerUtils.java
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/LogToTargetDirStopAction.java
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/NoopAwaitStrategy.java
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/PulsarClusterUtils.java
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/PulsarLogsToTargetDirStopAction.java
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/ZooKeeperAwaitStrategy.java
  tests/integration-tests-utils/src/main/resources/log4j2.yml
  tests/pom.xml
Labels: component/test

#1323 Introduce pulsar-seed and pulsar-snapshot-release jenkins jobs
  .test-infra/jenkins/common_job_properties.groovy
  .test-infra/jenkins/job_pulsar_release_nightly_snapshot.groovy
  .test-infra/jenkins/job_seed.groovy
  buildtools/pom.xml
Labels: component/build

#1325 Rename pulsar function api from V1 to V2
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/Resources.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: component/functions

#1324 Move pulsar functions dependency version to root pom and remove duplicated license headers
  pom.xml
  pulsar-client/pom.xml
  pulsar-functions/api-java/pom.xml
  pulsar-functions/cli/pom.xml
  pulsar-functions/cli/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/cli/src/main/java/org/apache/pulsar/admin/cli/FunctionsTool.java
  pulsar-functions/cli/src/main/java/org/apache/pulsar/client/admin/PulsarFunctionsAdmin.java
  pulsar-functions/cli/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-functions/instance/pom.xml
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/log.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/main/python/server.py
  pulsar-functions/instance/src/main/python/util.py
  pulsar-functions/metrics/pom.xml
  pulsar-functions/proto/pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/utils/pom.xml
  pulsar-functions/worker/pom.xml
Labels: component/build

#1328 Upgrade the bookkeeper storage client dependency to the official bookkeeper version
  pom.xml
  pulsar-functions/instance/pom.xml
Labels: component/build

#1339 Added timeout to ZookeeperCacheTest tests
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
Labels: component/test

#1321 Improved API for producer/consumer stats
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerStats.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Producer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ProducerStats.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsDisabled.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsDisabled.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicsConsumerImpl.java
Labels: component/client, type/enhancement

#1341 Remove duplicated gson definition in root pom file
  pom.xml
  pulsar-functions/instance/pom.xml
Labels: component/build

#1342 Ignore log4j coming from bookkeeper-server:tests
  pom.xml
Labels: component/build, component/test

#1344 Use log4j2.xml in buildtools and specify the log4j configuration in surefire plugin
  buildtools/src/main/resources/log4j2.xml
  buildtools/src/main/resources/log4j2.yml
  pom.xml
Labels: component/test

#1330 Added pulsar-1.22.0-incubating to site configuration
  site/_config.yml
Labels: component/website

#1346 Make it possible to get namespaces owned by broker when TLS is enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: type/bug

#1345 Cleanup failed connection from background thread
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
Labels: type/bug

#1349 Base module for Arquillian integration tests
  tests/integration-tests-base/pom.xml
  tests/pom.xml
Labels: component/test

#1336 CompactedTopic should seek to position of cursor, not next position
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: type/bug

#1356 Log Topic for Functions
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/log.py
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/python-examples/logfunction.py
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
Labels: component/functions

#1357 Pulsar Functions documentation follow-up
  site/_data/sidebar.yaml
  site/_sass/_docs.scss
  site/docs/latest/functions/api.md
  site/docs/latest/functions/quickstart.md
Labels: component/documentation, component/functions

#1360 Fix race in PersistentTopicTest#testClosingReplicationProducerTwice
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/test

#1364 Added slides for Effectively-once semantics in Apache Pulsar
  site/_data/resources/presentations.yaml
Labels: component/website

#1369 Allow to configure BK digest type in broker configuration
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoaderTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FieldParser.java
Labels: type/enhancement

#1370 Relocate service files for shading `pulsar-client-admin` module
  pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-shaded/pom.xml
Labels: type/bug

#1258 Fix CID 262329
  pulsar-common/src/main/java/org/apache/pulsar/common/util/protobuf/ByteBufCodedInputStream.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/protobuf/ByteBufCodedInputStreamTest.java
Labels: type/bug

#1375 Moved Python Api to a functions module inside pulsar client python module
  pulsar-client-cpp/python/functions/__init__.py
  pulsar-client-cpp/python/functions/context.py
  pulsar-client-cpp/python/functions/function.py
  pulsar-client-cpp/python/functions/serde.py
  pulsar-client-cpp/python/pulsar.py
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/main/python/util.py
  pulsar-functions/python-examples/exclamation.py
  pulsar-functions/python-examples/logfunction.py
  pulsar-functions/python-examples/thumbnailer.py
  pulsar-functions/runtime/pom.xml
Labels: component/functions, component/python

#1366 Allow override of redirectTestOutput from CLI
  pom.xml
Labels: component/test

#1372 Add byte array to built-in SerDe types for Pulsar Functions
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/utils/DefaultSerDe.java
Labels: component/functions

#1376 Fix partitioned topic update for admin v2 api.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/ZkAdminPaths.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: type/bug

#1361 Add compactedOut flag for batched messages
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/CompactedOutBatchMessageTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: type/feature

#1385 remove function package on function delete
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
Labels: component/functions

#1389 Fix Reader.readNext() java docs
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Reader.java
Labels: component/documentation

#1386 Improve sync send logic for allowing turning batching as default produce behavior
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, type/performance

#1379 Fixed BK PrometheusProvider package name
  conf/bookkeeper.conf
Labels: component/build

#1393 Update to newer version of datasketches
  pom.xml
Labels: type/task

#1373 Functions metrics prometheus
  conf/functions_worker.yml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/utils/StatsOutputStream.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/SimpleTextOutputStreamTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/NumberFormat.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SimpleTextOutputStream.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/worker/pom.xml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/Resources.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsMetricsResource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#1396 Improved ManagedLedgerWriter to use multiple threads and configurable digest type
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
Labels: component/test, type/enhancement

#1382 Correlate Output of function with input
  pulsar-client-cpp/python/pulsar.py
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableProcessTest.java
Labels: component/functions

#1394 Add V2 compatibility for pulsar admin persistent topics.
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PersistentTopicsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/WebTargets.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/NamespaceName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
Labels: type/task

#1401 NPE in PersistentReplicator in Debug mode since messageId is not set …
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: type/bug

#1406 Fix JavaSerDeTest package name
  pulsar-functions/api-java/src/test/java/org/apache/pulsar/functions/api/utils/JavaSerDeTest.java
Labels: component/build

#1387 Build batching-awareness into round-robin message router
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/RoundRobinPartitionMessageRouterImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/RoundRobinPartitionMessageRouterImplTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/FunctionResultRouter.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/FunctionResultRouterTest.java
Labels: component/client, type/enhancement, type/performance

#1402 Added trigger Function capability
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
Labels: component/functions

#1405 Timeout task for batchMessageAndSendTask is not cancelled when close
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug

#1403 Add a page for events
  site/_includes/calendar.html
  site/_includes/navbar.html
  site/events/current-event.md
Labels: component/documentation

#1408 Allow site to be built on debian/ubuntu
  site/Gemfile
  site/Makefile
Labels: component/website

#1415 Recycle OpAddEntry when ledger-ops fails
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
Labels: type/bug

#1420 Null checks in MockedPulsarServiceBaseTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: component/test

#1391 Utility to rebatch a message
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
Labels: type/enhancement

#1414 Add pulsar python location to python path so that pdoc can succeed generating docs
  site/scripts/python-doc-gen.sh
Labels: component/website

#1422 Performance consumer end-to-end latency can be negative when running …
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
Labels: type/bug

#1413 Fix Ruby version error
  site/Gemfile
  site/README.md
Labels: component/documentation

#1407 Clarify in docs that admin is separate module
  site/docs/latest/clients/Java.md
Labels: component/documentation

#1434 Move config subscriptionInitialPosition from parameter into ConfigurationData
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/SubscriptionInitialPosition.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
Labels: type/task

#1426 Increase timeout on ReplicatorTest#testCloseReplicatorStartProducer
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: component/test

#1438 Fixed count of messages per thread in managed ledger writer
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
Labels: type/enhancement

#1437 Update user config interface for Java Pulsar Functions SDK
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/PublishFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/UserConfigFunction.java
Labels: component/functions

#1443 Fixed C++ formatting
  pulsar-client-cpp/lib/BatchAcknowledgementTracker.cc
Labels: component/c++

#1442 Revert "Recycle OpAddEntry when ledger-ops fails (#1415)"
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
Labels: type/bug

#1439 Avoid allocation of one PositionImpl object in write path
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
Labels: type/enhancement

#1347 Enforce timeout on all TestNG tests, thread dump on timeout
  buildtools/src/main/java/org/apache/pulsar/tests/AnnotationListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/PulsarTestListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadDumpUtil.java
  managed-ledger/pom.xml
  pom.xml
  pulsar-broker/pom.xml
  pulsar-discovery-service/pom.xml
Labels: component/build, component/test

#1448 [Spark_Streaming] Extend Receiver UT Coverage
  pulsar-spark/src/test/java/org/apache/pulsar/spark/SparkStreamingPulsarReceiverTest.java
Labels: component/test

#1451 Fix: NPE on http-lookup redirection
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: type/bug

#1428 Issue #1117: handle race in concurrent bundle split
  pulsar-broker/src/main/java/org/apache/pulsar/broker/cache/LocalZooKeeperCacheService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundles.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperDataCache.java
Labels: type/bug

#1445 Add version warning for latest vs. 2.0
  site/_includes/version-warning.html
  site/_layouts/docs.html
Labels: component/documentation

#1441 Update the bookkeeper configuration file
  conf/bookkeeper.conf
Labels: component/config

#1418 Handle null redirection url with error-message at broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookup.java
Labels: type/enhancement

#1410 Convert admin client properties to use v2 endpoints.
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PropertiesImpl.java
Labels: type/task

#1297 Add Configuration to set tlsClientAuth
  conf/broker.conf
  conf/discovery.conf
  conf/proxy.conf
  conf/websocket.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTlsTest.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/ServiceChannelInitializer.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServerManager.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServiceConfig.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ServiceChannelInitializer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/ProxyServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: type/enhancement

#1449 When running standalone broker, force the proxy redirection flag
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookup.java
Labels: type/enhancement

#1417 Replace cached data key from the map if present already
  pulsar-client-cpp/lib/MessageCrypto.cc
  pulsar-client-cpp/lib/MessageCrypto.h
Labels: component/c++

#1424 Improve batch message acking by removing batch message tracker
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageAcker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageAckerDisabled.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicsConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageAckerDisabledTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageAckerTest.java
Labels: component/client, type/performance

#1461 If cursor update to BK fails, fallback to meta store
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerErrorsTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
Labels: type/enhancement

#1464 Fix broker stats to work with v2 namespace format.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokerStatsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/BrokerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/BrokerStats.java
Labels: type/task

#1467 Avoid boxing of checksum into a Long
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/ChecksumTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactorTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CommandsTest.java
Labels: type/enhancement

#1453 Added Throttling mechanism to Pulsar Proxy
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
Labels: type/enhancement

#1471 Add admin v2 support for clusters, brokers, and resources quotas.
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ClustersImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ResourceQuotasImpl.java
Labels: type/task

#1472 Pulsar Proxy - Added Prometheus metrics for throttled connections and…
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
Labels: type/enhancement

#1470 Fix topic deletion for V2 topics.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/task

#1450 Added multiple position delete in ManagedLedger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorListAckTest.java
Labels: type/enhancement

#1465 Used defaults for Netty allocator used in entry cache
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java
Labels: type/enhancement

#1477 Ruby version reset to address website build errors
  build/docker/Dockerfile
  site/Gemfile
  site/Gemfile.lock
  site/README.md
Labels: component/build, component/website

#1473 use v1 admin api for anti-affinity cluster endpoint
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
Labels: type/bug

#1478 Fix race condition in skipEntries that moves readPosition and markDeletePosition incorrectly
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/bug
