Repository apache/pulsar, pull requests merged in 2018-05, with the labels that each got.

#1695 Remove "global" from returned clusters list
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: type/enhancement

#1693 Make SchemaSerializationException an unchecked exception
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/MessageBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/SchemaSerializationException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
Labels: type/enhancement

#1696 Allow functions to be triggered without specifying topic name
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
Labels: component/functions

#1688 Check if javaInstance is created in the first place before invocing close
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions

#1700 adding sink spec
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/processors/AtLeastOnceProcessor.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/processors/AtMostOnceProcessor.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/processors/MessageProcessorBase.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceTest.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: component/functions

#1701 Fix Trigger functionality for non Java Functions
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/functions

#1697 adding function worker initialized check
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: component/functions

#1352 Delete inactive subscriptions automatically
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/proto/MLDataFormats.java
  managed-ledger/src/main/proto/MLDataFormats.proto
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BookieClientStatsGenerator.java
Labels: type/enhancement

#1656 Add admin api to delete topic forcefully
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorGlobalNSTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PersistentTopics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: type/enhancement

#1706 Added missing license header in terraform.tfvars
  deployment/terraform-ansible/aws/terraform.tfvars
  pom.xml
  tests/README.md
Labels: type/task

#1639 Rest API for Ledger Offloading
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/LongRunningProcessStatus.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/OffloadProcessStatus.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/tieredstorage, type/feature

#1593 PIP-17: the part of index block for offload.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/OffloadIndexBlock.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/OffloadIndexBlockBuilder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/OffloadIndexEntry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexBlockBuilderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexBlockImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexEntryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/s3offload/OffloadIndexTest.java
Labels: component/tieredstorage, type/feature

#1687 Don't offload empty ledgers
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
Labels: component/tieredstorage, type/feature

#1705 Add release notes page in website
  site/download.md
  site/release-notes.md
Labels: component/website

#1717 Fix website sidebar
  site/Makefile
  site/_data/sidebar.yaml
Labels: component/website

#1718 Fix: handle invalid markDelete position at managed-cursor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: type/bug

#1721 Version links in release notes
  site/release-notes.md
Labels: component/website

#1720 Fix broken image
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
  site/img/failover-subscriptions.png
Labels: component/website

#1707 Fixed authentication flow via Pulsar Proxy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyClientCnx.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyForwardAuthDataTest.java
Labels: type/bug

#1669 PIP-17: provide DataBlockHeader and implementation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/DataBlockHeader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/DataBlockHeaderImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/s3offload/DataBlockHeaderTest.java
Labels: component/tieredstorage

#1725 Fixed clusters REST API to omit "global" cluster in response
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: type/enhancement

#1724 Exclude grpc dependencies in binary distribution
  all/src/assemble/bin.xml
Labels: component/build, component/functions, type/bug

#1726 Changed property to tenant in various helper messages and tests
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/test/java/org/apache/pulsar/common/naming/TopicNameTest.java
Labels: type/enhancement

#1731 Make Function port part of InstanceConfig
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
Labels: component/functions, type/cleanup

#1735 Simplify creation of functions namespace
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
Labels: component/functions

#1727 Encode zk-path for function-pkg
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: type/bug

#1736 C API wrapper based on C++ client library
  pulsar-client-cpp/.gitignore
  pulsar-client-cpp/examples/CMakeLists.txt
  pulsar-client-cpp/examples/SampleConsumerCApi.c
  pulsar-client-cpp/examples/SampleConsumerListenerCApi.c
  pulsar-client-cpp/examples/SampleProducerCApi.c
  pulsar-client-cpp/examples/SampleReaderCApi.c
  pulsar-client-cpp/include/pulsar/c/authentication.h
  pulsar-client-cpp/include/pulsar/c/client.h
  pulsar-client-cpp/include/pulsar/c/client_configuration.h
  pulsar-client-cpp/include/pulsar/c/consumer.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/message.h
  pulsar-client-cpp/include/pulsar/c/message_id.h
  pulsar-client-cpp/include/pulsar/c/message_router.h
  pulsar-client-cpp/include/pulsar/c/producer.h
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
  pulsar-client-cpp/include/pulsar/c/reader.h
  pulsar-client-cpp/include/pulsar/c/reader_configuration.h
  pulsar-client-cpp/include/pulsar/c/result.h
  pulsar-client-cpp/lib/CMakeLists.txt
  pulsar-client-cpp/lib/c/c_Authentication.cc
  pulsar-client-cpp/lib/c/c_Client.cc
  pulsar-client-cpp/lib/c/c_ClientConfiguration.cc
  pulsar-client-cpp/lib/c/c_Consumer.cc
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/lib/c/c_Message.cc
  pulsar-client-cpp/lib/c/c_MessageId.cc
  pulsar-client-cpp/lib/c/c_MessageRouter.cc
  pulsar-client-cpp/lib/c/c_Producer.cc
  pulsar-client-cpp/lib/c/c_ProducerConfiguration.cc
  pulsar-client-cpp/lib/c/c_Reader.cc
  pulsar-client-cpp/lib/c/c_ReaderConfiguration.cc
  pulsar-client-cpp/lib/c/c_Result.cc
  pulsar-client-cpp/lib/c/c_structs.h
Labels: component/c++, type/feature

#1730 Make BlockAwareSegmentInputStream extend InputStream
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/BlockAwareSegmentInputStream.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/BlockAwareSegmentInputStreamImpl.java
Labels: component/tieredstorage, type/cleanup

#1723 Skeleton code for S3 offload
  conf/broker.conf
  pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
Labels: component/tieredstorage, type/task

#1740 Add Commons Logging bridge to broker
  pom.xml
  pulsar-broker/pom.xml
Labels: type/task

#1733 allow custom sources and sink to run on connector framework
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdConnectors.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/utils/IdentityFunction.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOuputTopicProducers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/Producers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOutputTopicProducersTest.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: component/functions

#1738 PIP-17: fix index entry offset error in OffloadIndexBlock
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexBlockBuilderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexBlockImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexTest.java
Labels: component/tieredstorage, type/bug

#1729 Include Jackson modules in shaded jar as well
  pulsar-client-admin-shaded-for-functions/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-shaded/pom.xml
Labels: component/build, component/schemaregistry

#1742 Move functions to use V2 style namespaces for internal data keeping
  conf/functions_worker.yml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions

#1734 Print periodic status of instances in localrun
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
Labels: component/functions

#1745 Seperate cmd line connector interface to explicit source and sink
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
Labels: component/connect, type/enhancement

#1739 Allow padding at end of last BlockAwareSegmentInputStream
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/BlockAwareSegmentInputStreamImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/impl/BlockAwareSegmentInputStreamTest.java
Labels: component/tieredstorage, type/bug

#1457 Schema registry documentation
  conf/broker.conf
  site/_data/sidebar.yaml
  site/_includes/explanations/install-package.md
  site/docs/latest/clients/Java.md
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
  site/docs/latest/project/schema-storage.md
Labels: component/documentation

#1748 Fixed licenses and notice file
  all/licenses/LICENSE-AspectJ.txt
  all/licenses/LICENSE-JSR305.txt
  all/licenses/LICENSE-LevelDB.txt
  all/licenses/LICENSE-Lombok.txt
  all/licenses/LICENSE-Webbit.txt
  all/licenses/LICENSE-google-auth-library.txt
  all/licenses/LICENSE-jbzip2.txt
  all/licenses/LICENSE-jfastlz.txt
  all/licenses/LICENSE-libdivsufsort.txt
  all/src/assemble/LICENSE.bin.txt
  all/src/assemble/NOTICE.bin.txt
Labels: type/task

#1756 Throw exception of source/sink
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: type/enhancement

#1757 Have the ability to provide source/sink config in cmdline for sources/sinks
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
Labels: component/functions

#1755 Inject AmazonS3 into S3ManagedLedgerOffloader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
Labels: component/tieredstorage, type/task

#1753 S3Offload datablock magic word should be negative
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/DataBlockHeaderImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/impl/DataBlockHeaderTest.java
Labels: component/tieredstorage, type/enhancement

#1759 Base class for S3 testing
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3TestBase.java
Labels: component/test, type/feature

#1761 In C API add context pointer to callbacks
  pulsar-client-cpp/examples/SampleConsumerListenerCApi.c
  pulsar-client-cpp/include/pulsar/c/client.h
  pulsar-client-cpp/include/pulsar/c/consumer.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/message_id.h
  pulsar-client-cpp/include/pulsar/c/message_router.h
  pulsar-client-cpp/include/pulsar/c/producer.h
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
  pulsar-client-cpp/include/pulsar/c/reader.h
  pulsar-client-cpp/include/pulsar/c/reader_configuration.h
  pulsar-client-cpp/lib/c/c_Client.cc
  pulsar-client-cpp/lib/c/c_Consumer.cc
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/lib/c/c_MessageId.cc
  pulsar-client-cpp/lib/c/c_Producer.cc
  pulsar-client-cpp/lib/c/c_ProducerConfiguration.cc
  pulsar-client-cpp/lib/c/c_Reader.cc
  pulsar-client-cpp/lib/c/c_ReaderConfiguration.cc
  pulsar-client-cpp/lib/c/c_structs.h
Labels: component/c++

#1773 Fixed dasboard docker pom.xml version to 2.1.0-SNAPSHOT
  dashboard/pom.xml
Labels: component/build

#1774 Removed multifunction.jar from sources
  pulsar-functions/pom.xml
  pulsar-functions/utils/pom.xml
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/functioncache/FunctionCacheEntryTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/functioncache/FunctionCacheManagerImplTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/functioncache/FunctionClassLoadersTest.java
  pulsar-functions/utils/src/test/resources/multifunction.jar
Labels: component/build, component/test

#1775 adding check for auto ack flag
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions, type/enhancement

#1769 refactor source and sink classname to be pulsar source and sink when not set
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
Labels: component/functions, type/task

#1777 Functions API compatibility patch for 2.0
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/processors/MessageProcessorBase.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/PublishFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/UserConfigFunction.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
Labels: component/connect, component/functions

#1771 setting auto ack to be true for sources and sinks
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/connect, type/enhancement

#1746 PIP-17: impl offload() for S3ManagedLedgerOffloader
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/BlockAwareSegmentInputStreamImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexTest.java
Labels: component/tieredstorage

#1768 InputStream to read from S3
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3BackedInputStream.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/S3BackedInputStreamImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3BackedInputStreamTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3TestBase.java
Labels: component/tieredstorage, type/task

#1780 Move isConnected method into each interface class
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Producer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
Labels: type/enhancement

#1779 Provide a vagrant file to launch a linux vm for running integration tests
  .gitignore
  dev/README.md
  dev/Vagrantfile
Labels: component/build

#1782 Download dependencies over HTTPS instead of HTTP
  pom.xml
Labels: component/build

#1781 fixing behavior when configs are empty
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
Labels: component/functions, type/enhancement

#1789 Ability to disable test retries from commandline
  buildtools/src/main/java/org/apache/pulsar/tests/RetryAnalyzer.java
  pom.xml
Labels: component/build, component/test

#1790 ReadHandle implementation backed by S3
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/OffloadIndexEntry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexEntryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/S3BackedReadHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
Labels: component/tieredstorage

#1787 Fixes in CMakeFiles to automate build on macos
  pulsar-client-cpp/CMakeLists.txt
Labels: component/build, component/c++

#1794 Create shared library that only exports API symbols
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/include/pulsar/DeprecatedException.h
  pulsar-client-cpp/include/pulsar/TopicMetadata.h
  pulsar-client-cpp/include/pulsar/c/authentication.h
  pulsar-client-cpp/include/pulsar/c/client.h
  pulsar-client-cpp/include/pulsar/c/client_configuration.h
  pulsar-client-cpp/include/pulsar/c/consumer.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/message.h
  pulsar-client-cpp/include/pulsar/c/message_id.h
  pulsar-client-cpp/include/pulsar/c/message_router.h
  pulsar-client-cpp/include/pulsar/c/producer.h
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
  pulsar-client-cpp/include/pulsar/c/reader.h
  pulsar-client-cpp/include/pulsar/c/reader_configuration.h
  pulsar-client-cpp/include/pulsar/c/result.h
Labels: component/build, component/c++

#1784 PIP-17: impl deleteOffloaded() for S3ManagedLedgerOffloader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
Labels: component/tieredstorage

#1788 adding windowing function CLI option descriptions
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/functions

#1795 Fix C++ MurmurHash3 algorithm
  pulsar-client-cpp/lib/Murmur3_32Hash.cc
  pulsar-client-cpp/tests/HashTest.cc
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/HashTest.java
Labels: component/c++, type/bug

#1792 Modifying sink interface to be generic
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/RuntimeSink.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/DefaultRuntimeSinkTest.java
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeSink.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraSink.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SimpleSink.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/Sink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSink.java
Labels: component/functions

#1801 Log4j2.yaml configures loggers incorrectly
  conf/log4j2.yaml
Labels: component/deploy

#1802 Utilities to update configuration for integration tests
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/PulsarClusterUtils.java
Labels: component/test

#1793 Added docker files and script to build static client library and Python bindings on Linux
  pulsar-client-cpp/docker/Dockerfile
  pulsar-client-cpp/docker/build-client-lib-within-docker.sh
  pulsar-client-cpp/docker/build-client-lib.sh
  pulsar-client-cpp/docker/build-wheel-file-within-docker.sh
  pulsar-client-cpp/docker/build-wheels.sh
  pulsar-client-cpp/docker/create-images.sh
  pulsar-client-cpp/docker/push-images.sh
Labels: component/build, component/c++

#1763 Document Python dependencies
  site/_data/deps.yaml
  site/_includes/python-deps.html
  site/docs/latest/functions/api.md
  site/docs/latest/functions/quickstart.md
Labels: component/documentation

#1804 Ensure BookKeeperClientFactory is only instantiated once in PulsarService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
Labels: type/enhancement

#1719 Used shaded version of protobuf-2.4.1 internally, to coexist with components using proto3
  build/docker/protobuf.patch
  managed-ledger/pom.xml
  pom.xml
  protobuf-shaded/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageCrypto.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/protobuf/ByteBufCodedInputStream.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/protobuf/ByteBufCodedOutputStream.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/protobuf/ByteBufCodedInputStreamTest.java
  pulsar-functions/utils/pom.xml
Labels: type/enhancement

#1812 Used protobuf-3.x and auto-generation for ManagedLedger and schema registry protobuf
  managed-ledger/pom.xml
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/proto/MLDataFormats.java
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaStorageFormat.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/proto/SchemaRegistryFormat.java
  pulsar-broker/src/main/proto/SchemaRegistryFormat.proto
  pulsar-broker/src/main/proto/SchemaStorageFormat.proto
  pulsar-functions/proto/pom.xml
Labels: component/build, type/enhancement

#1814 Make the current reference sinks usable
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeSink.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSink.java
Labels: component/connect

#1818 Fixed race condition in consumer event listener
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentFailoverE2ETest.java
Labels: type/bug

#1813 adding update functionality to sources and sinks
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/connect

#1811 Improve logging when we fail to bind on server ports
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
Labels: type/enhancement

#1810 Store offloaded data object size in index
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/OffloadIndexBlock.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/OffloadIndexBlockBuilder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexBlockBuilderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexBlockImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/S3BackedReadHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexTest.java
Labels: component/tieredstorage

#1808 Used OrderedScheduler for ledger offload
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
Labels: component/tieredstorage

#1805 Expose offload deletion lag in broker configuration
  conf/broker.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/tieredstorage

#1798 S3ManagedLedgerOffloader should require region or endpoint
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
Labels: component/tieredstorage

#1809 S3 offloader doesn't allow block size < 5MB
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
Labels: component/tieredstorage

#1819 Support non persistent topics in C++ client
  pulsar-client-cpp/lib/TopicName.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/TopicNameTest.cc
Labels: type/enhancement

#1799 BlockAwareSegmentInputStreamImpl shouldn't use LedgerEntry#getLength
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/BlockAwareSegmentInputStreamImpl.java
Labels: component/tieredstorage

#1800 Docker testing init script has wrong service url
  tests/docker-images/latest-version-image/scripts/init-cluster.sh
Labels: component/test

#1830 Add Pulsar Functions API docs to site build
  site/.gitignore
  site/Makefile
  site/_includes/navbar.html
  site/javadoc/admin.html
  site/javadoc/client.html
  site/javadoc/pulsar-functions.html
  site/scripts/javadoc-gen.sh
Labels: component/documentation, component/functions

#1831 Don't set Pulsar Memory if variable is already set
  conf/pulsar_tools_env.sh
Labels: component/config

#1833 adding worker to instance health check
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/python/InstanceCommunication_pb2.py
  pulsar-functions/instance/src/main/python/InstanceCommunication_pb2_grpc.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/server.py
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/Runtime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
Labels: component/functions

#1834 Added Homebrew recipe for C++ client library
  pulsar-client-cpp/homebrew/libpulsar.rb
Labels: component/build

#1825 Change docs versions
  site/_config.yml
  site/docs/latest/getting-started/Pulsar-2.0.md
Labels: component/documentation, type/task

#1815 Resolve the flaky test ReplicatorTest.testCloseReplicatorStartProducer
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: component/test

#1837 fixing problem of functions that have an array as input or output
  pom.xml
  pulsar-functions/instance/pom.xml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/runtime-shaded/pom.xml
Labels: component/functions

#1836 Remove reference to consumers in client map when unsubscribing
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConsumerUnsubscribeTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/bug

#1816 Removed internal shading
  all/pom.xml
  all/src/assemble/bin.xml
  bin/pulsar
  managed-ledger/pom.xml
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexBlockImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
  pulsar-client-admin-shaded-for-functions/pom.xml
  pulsar-client-admin/pom.xml
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/instance/pom.xml
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  pulsar-functions/pom.xml
  pulsar-functions/runtime-all/pom.xml
  pulsar-functions/runtime-shaded/pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/utils/pom.xml
  pulsar-functions/worker/pom.xml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZookeeperClientFactoryImpl.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperServerTest.java
Labels: type/enhancement

#1840 Minor code cleanup in JavaInstanceRunnable
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions

#1841 Fix flaky test with s3 backend
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
Labels: component/test

#1842 Make the KakfaSource abstract by allowing users to implement method to extract value
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSource.java
Labels: component/connect

#1843 If left unspecified, function tenants and namespaces should have the same behavior as topics
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/functions

#1844 Update pulsar netty/grpc dependencies
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-client-tools/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/FailureDomain.java
  pulsar-functions/instance/pom.xml
  pulsar-functions/runtime-all/pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
Labels: component/build

#1846 Fix grpc version conflicts in pulsar binary distribution
  all/pom.xml
  all/src/assemble/bin.xml
  pom.xml
Labels: component/build

#1847 Corrected release name 2.0.0-incubating -> 2.0.0-rc1-incubating
  site/_config.yml
Labels: component/website

#1849 Shade jars included in java instance uber jar
  pom.xml
  pulsar-functions/runtime-all/pom.xml
Labels: component/functions

#1855 S3 offloader should throw an error on receiving an empty ledger
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
Labels: component/tieredstorage

#1857 Updated release notes for 2.0
  site/_includes/pulsar-2.html
  site/_layouts/docs.html
  site/release-notes.md
Labels: component/website

#1867 Supervisord configurations shouldn't specify stderr logfile
  tests/docker-images/latest-version-image/conf/proxy.conf
Labels: component/test, type/task

#1860 Fixes to new Java API intro docs
  site/docs/latest/clients/Java.md
Labels: component/documentation

#1466 Topic compaction documentation
  site/_data/cli/pulsar-admin.yaml
  site/_data/cli/pulsar.yaml
  site/_data/popovers.yaml
  site/_data/sidebar.yaml
  site/docs/latest/cookbooks/compaction.md
  site/docs/latest/cookbooks/message-deduplication.md
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
Labels: component/documentation

#1859 improving config validation
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutor.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowUtils.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutorTest.java
  pulsar-functions/utils/pom.xml
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ConfigValidation.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ConfigValidationAnnotations.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ConfigValidationUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/Validator.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions

#1868 Fix Prometheus metrics provider package name
  deployment/dcos/PulsarGroups.json
  deployment/kubernetes/aws/bookkeeper.yaml
  deployment/kubernetes/generic/bookie.yaml
  deployment/kubernetes/google-kubernetes-engine/bookie.yaml
  deployment/terraform-ansible/templates/bookkeeper.conf
  site/_data/config/bookkeeper.yaml
Labels: component/deploy, component/documentation

#1856 Fixed script to build all versions Python wheel files
  pulsar-client-cpp/docker/build-wheel-file-within-docker.sh
  pulsar-client-cpp/docker/build-wheels.sh
Labels: component/build, component/python

#1870 Pulsar Function localrun failed using http service url
  pulsar-functions/runtime-all/pom.xml
Labels: component/functions

#1874 fix for python config validation
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ConfigValidation.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ConfigValidationAnnotations.java
Labels: component/functions

#1877 Disable verbose on git maven plugin
  pom.xml
Labels: type/enhancement

#1865 CLI for offload
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdTopics.java
  tests/integration/s3-offload/src/test/java/org/apache/pulsar/tests/integration/TestS3Offload.java
Labels: type/feature

#1862 Fix REST APIs provided by Pulsar proxy
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/UnauthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/resources/vip_status.html
Labels: type/bug

#1876 When offloading to S3 add version information
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/S3BackedInputStreamImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/S3BackedReadHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3BackedInputStreamTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloaderTest.java
Labels: component/tieredstorage

#1869 adding CmdFunctions unit tests and clean up
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/functions

#1878 Make sure that output_bytes are of type bytes
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/python_instance.py
Labels: component/functions

#1879 If tenant/namespace are not specified, infer public/default
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/functions
