Repository apache/pulsar, pull requests merged in 2018-11, with the labels that each got.

#2899 Move WorkerInfo to commons
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Worker.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/WorkerImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctionWorker.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/WorkerInfo.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#2907 Move all validation/inferring missing args to serverside
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/pom.xml
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
  pulsar-functions/worker/pom.xml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/SinkApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/SourceApiV2ResourceTest.java
Labels: component/functions

#2913 Removed checked in examples jar and instead added mvn target to copy
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/resources/pulsar-examples.jar
Labels: component/functions

#2706 [state] Initialize bookkeeper table service metadata on initializing pulsar cluster metadata
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/StateUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/functions, type/enhancement

#2908 [config] Add state storage service url as part of internal configuration data
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/conf/InternalConfigurationData.java
Labels: component/cli, type/task

#2921 Make print statement python3 friendly
  pulsar-functions/instance/src/main/python/python_instance_main.py
Labels: component/functions, type/bug

#2919 Enable Presto Test
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
Labels: component/test, type/task

#2918 Prefer rest path over Function/Source/Sink Config values
  .gitignore
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/SinkApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/SourceApiV2ResourceTest.java
Labels: component/functions

#2922 Always cover gson generated json with quotes
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
Labels: component/functions, type/bug

#2920 Fix typo in consumer code
  site2/docs/client-libraries-go.md
Labels: component/documentation, type/bug

#2925 fix bugs in python instance metrics
  pulsar-functions/instance/src/main/python/python_instance.py
Labels: component/functions, type/bug

#2924 Added some basic checks for function/source/sink in cli as well
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/Utils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/cli, component/functions, component/io, type/enhancement

#2926 Fix process runtime with extra dependencies and re-enable python integration tests
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/python-examples/exclamation_lib.py
  tests/docker-images/latest-version-image/python-examples/exclamation_with_extra_deps.py
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
Labels: component/functions, component/python, component/test, type/bug

#2902 change kafkaConnectSource to return KeyValue type record
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/KeyValueSchemaTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceTest.java
Labels: component/io, type/task

#2909 Handle broker shutdown for already deleted load-balancer znode
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/PulsarServerException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker

#2933 Rejigger SecretsProviderConfigurator interface to make checking more generic
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/secrets/src/main/java/org/apache/pulsar/functions/secretsproviderconfigurator/KubernetesSecretsProviderConfigurator.java
  pulsar-functions/secrets/src/main/java/org/apache/pulsar/functions/secretsproviderconfigurator/SecretsProviderConfigurator.java
  pulsar-functions/secrets/src/test/java/org/apache/pulsar/functions/secretsproviderconfigurator/KubernetesSecretsProviderConfiguratorTest.java
Labels: component/functions, type/enhancement

#2883 Add healthcheck HTTP endpoint
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBrokers.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/HealthcheckTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/resources/pulsar-process.xml
Labels: component/broker, type/enhancement

#2948 Fix Get Function Cluster in Doc
  site2/website/versioned_docs/version-2.2.0/io-quickstart.md
Labels: component/documentation

#2946 Make sure that the returned object is string for conversion purposes
  pulsar-functions/python-examples/config_based_append_function.py
Labels: component/functions

#2898 Remove guava usage in pulsar-storm
  pulsar-storm/pom.xml
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarBolt.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarBoltConfiguration.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpout.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpoutConfiguration.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/SharedPulsarClient.java
Labels: type/enhancement

#2947 Check for presence of namespace/tenant before creating function
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/SinkApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/SourceApiV2ResourceTest.java
Labels: component/functions

#2944 Make Log a logger instead of Logger Adapter
  pulsar-functions/instance/src/main/python/log.py
Labels: component/functions

#2955 Remove conflicting log4j2 policies
  conf/log4j2.yaml
Labels: component/broker

#2959 Fixed race condition in schema initialization in partitioned topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/PartitionedTopicsSchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
Labels: type/bug

#2930 Expose metrics via http port in function instance
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/FunctionStats.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/function_stats.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/instance/src/test/python/test_python_instance.py
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: type/enhancement

#2956 Derive np topic worker threads based on system config
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: component/broker

#2958 Add partitioned-topic stats internal admin-api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PartitionedTopicInternalStats.java
Labels: component/cli

#2968 Websocket dead letter topic (PIP22)
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  site2/docs/client-libraries-websocket.md
Labels: type/enhancement

#2961 Added pause and resume to Java client Consumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSourceTests.java
Labels: type/feature

#2970 Ignore the current class while going over variables
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/io

#2975 add topicName to fix NPE for example config debezium-mysql-source-config.yaml
  pulsar-io/kafka-connect-adaptor/src/main/resources/debezium-mysql-source-config.yaml
Labels: component/documentation

#2973 Fix NPE caused by the race condition
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: component/broker, type/bug

#2978 reverting jackson version bump for sql
  pulsar-sql/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
Labels: component/build, component/sql

#2949 default enable cpp client producer batch
  pulsar-client-cpp/lib/ProducerConfigurationImpl.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/ReaderTest.cc
Labels: type/enhancement

#2972 Introduce `Client.getPartitionsForTopic()`
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionedProducerConsumerTest.java
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/include/pulsar/Client.h
  pulsar-client-cpp/include/pulsar/c/client.h
  pulsar-client-cpp/include/pulsar/c/string_list.h
  pulsar-client-cpp/lib/Client.cc
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ClientImpl.h
  pulsar-client-cpp/lib/c/cStringList.cc
  pulsar-client-cpp/lib/c/c_Client.cc
  pulsar-client-cpp/lib/c/c_structs.h
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/client.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-go/pulsar/c_client.go
  pulsar-client-go/pulsar/c_go_pulsar.h
  pulsar-client-go/pulsar/client.go
  pulsar-client-go/pulsar/client_test.go
  pulsar-client/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/feature

#2991 add go client link to document
  site2/docs/client-libraries-websocket.md
  site2/docs/concepts-clients.md
  site2/docs/concepts-overview.md
  site2/docs/getting-started-docker.md
  site2/docs/getting-started-standalone.md
Labels: component/documentation

#2993 Handle unknown runtime exception while reading entries
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java
Labels: component/broker, type/bug

#2852 Add connection timeout client configuration option
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ClientConfiguration.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConnectionTimeoutTest.java
Labels: component/client, type/enhancement

#2999 Infer paralellism as well
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/Utils.java
Labels: component/functions

#3004 Use std::call_once instead of pthread_once
  pulsar-client-cpp/lib/c/c_MessageId.cc
  pulsar-client-cpp/lib/checksum/crc32c_sw.cc
Labels: type/enhancement

#3011 Enforce timeout on all integration tests
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/compaction/TestCompaction.java
Labels: component/test

#2995 Use AbstractCASReferenceCounted to ensure entry.retain() is valid
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/AbstractCASReferenceCounted.java
  pom.xml
Labels: type/bug

#3008 Remove the original zip when update netty lib name
  src/rename-netty-native-libs.sh
Labels: component/build

#2986 Fix logic to validate admin calls from proxy (validateOriginalPrincipal)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
Labels: type/bug

#3016 Publish pulsar-standalone image along with other images
  docker/publish.sh
Labels: component/build, type/task

#3018 Set version for exec-maven-plugin in pom
  pom.xml
Labels: component/build, type/enhancement

#3015 Prevent race condition while calculating unack-msg offset stats
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: component/broker

#3020 Issue #2984: Add producer flush method in cpp client
  pulsar-client-cpp/include/pulsar/Producer.h
  pulsar-client-cpp/lib/BatchMessageContainer.cc
  pulsar-client-cpp/lib/BatchMessageContainer.h
  pulsar-client-cpp/lib/PartitionedProducerImpl.cc
  pulsar-client-cpp/lib/PartitionedProducerImpl.h
  pulsar-client-cpp/lib/Producer.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
  pulsar-client-cpp/lib/ProducerImplBase.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, type/feature

#3022 [proxy] Use ProxyServlet instead of AsyncProxyServlet
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
Labels: component/proxy, type/bug

#3017 [state][standalone] Fix bugs on running function with multiple instances in standalone
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions, type/bug

#2977 Fix-2876 Limit the client reconnect behavior
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscribeRate.java
Labels: component/client, type/enhancement

#2935 Ensure broker is fully boostrapped before load manager register itself
  pulsar-broker-common/src/main/java/org/apache/pulsar/common/configuration/VipStatus.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: type/bug

#2985 Update Function Semantics
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/ConsumerConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/Resources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/WindowConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SourceConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ResourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/SinkApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/SourceApiV2ResourceTest.java
Labels: component/functions

#3024 Enable SSL of LibCurl linked to C++ library
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/docker/Dockerfile
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/rpm/Dockerfile
Labels: component/build, component/c++, type/bug

#3027 Fix C++ tests after merge
  buildtools/src/main/java/org/apache/pulsar/tests/AnnotationListener.java
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/test

#2976 add debezium source documentation
  site2/docs/io-cdc.md
  site2/docs/io-connectors.md
  site2/docs/io-overview.md
Labels: component/documentation

#3021 adding windowed metrics for functions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/FunctionStats.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/FunctionStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceCache.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/python/InstanceCommunication_pb2.py
  pulsar-functions/instance/src/main/python/function_stats.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/util.py
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntimeFactory.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/RestException.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
Labels: component/functions

#3028 [state] use closeAsync to close state storage client
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions

#3026 Add bookkeeper service and other fixes
  deployment/kubernetes/google-kubernetes-engine/bookie.yaml
  deployment/kubernetes/google-kubernetes-engine/proxy.yaml
Labels: component/deploy

#3014 Add default ackTimeout(30s) for dead letter policy
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
Labels: component/client, type/enhancement

#3041 Fixed lookup of boost_python with boost-1.68
  pulsar-client-cpp/CMakeLists.txt
Labels: component/build

#3023 Moved broker aspectj to zk-utils
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/broker/zookeeper/aspectj/ClientCnxnAspect.java
  pulsar-zookeeper-utils/src/main/resources/META-INF/aop.xml
Labels: type/enhancement

#2943 Issue #2657: change function cli getstate to use REST endpoint
  distribution/server/src/assemble/LICENSE.bin.txt
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/pom.xml
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/functions, type/enhancement

#3037 Disable ZK & BK fsync calls in integration tests
  conf/zookeeper.conf
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: component/test

#3036 Use topic unload instead of broker restarts in TestS3Offload
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/offload/TestS3Offload.java
Labels: component/test

#3049 Typo in Auth TLS docs
  site2/docs/security-tls-authentication.md
Labels: component/documentation

#3035 Update libcurl version included in docker images
  pulsar-client-cpp/docker/Dockerfile
  pulsar-client-cpp/docker/build-wheels.sh
  pulsar-client-cpp/docker/create-images.sh
  pulsar-client-cpp/docker/push-images.sh
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/rpm/Dockerfile
Labels: component/build, component/c++, type/bug

#2998 support mysql binlog sync to pulsar by canal
  pulsar-io/canal/pom.xml
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalSource.java
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalSourceConfig.java
  pulsar-io/canal/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/canal/src/main/resources/canal-mysql-source-config.yaml
  pulsar-io/pom.xml
Labels: component/io, type/feature

#3029 [state] make setting and opening state table more robust
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions

#3047 Add configs for broker stats update frequency
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker

#3050 Correcting metrics and adding tests
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/FunctionStats.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/functions

#3053 Move maven-dependency-plugin in distribution/server/pom.xml
  distribution/server/pom.xml
  pom.xml
Labels: component/build, type/enhancement

#3057 Documentation for TLS protocol version and ciphers
  site2/docs/reference-configuration.md
  site2/docs/security-tls-transport.md
Labels: component/config, component/documentation, type/bug

#3063 [Pulsar-Flink] Extends Validations
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilder.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilderTest.java
Labels: component/flink, type/enhancement

#3064 Check for nullness of SchemaInfo
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/functions

#3065 [doc] Generate connector yaml files for connectors
  distribution/io/pom.xml
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalSource.java
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalSourceConfig.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraSinkConfig.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraStringSink.java
  pulsar-io/docs/pom.xml
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcAutoSchemaSink.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcSinkConfig.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSource.java
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHose.java
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHoseConfig.java
Labels: component/config, component/io, type/task

#3060 Make sure to properly count number of processed messages in python
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/FunctionStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/InstanceCommunication_pb2.py
  pulsar-functions/instance/src/main/python/function_stats.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/functions

#3066 prometheus metrics for functions served via brokers or function instances should match
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/FunctionStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/Runtime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
Labels: component/functions

#3071 [Pulsar-Flink] Add Scala Examples
  pulsar-flink/pom.xml
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchSinkExample.java
  pulsar-flink/src/test/scala/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchCsvSinkScalaExample.scala
  pulsar-flink/src/test/scala/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchJsonSinkScalaExample.scala
  pulsar-flink/src/test/scala/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchSinkScalaExample.scala
Labels: component/flink

#3072 Delete extraneous punctuation
  site2/docs/client-libraries-java.md
Labels: component/documentation

#3075 Fixed wordcount example to actually extract words from sentence
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/WordCountFunction.java
Labels: component/functions

#2733 Extra logging for offloaders
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloaderUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker, release/2.3.0-incubating, type/enhancement

#3080 Don't overwrite integration tests longs if container restarted
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/utils/DockerUtils.java
Labels: component/test

#3076 QueryState now spits out FunctionState
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionState.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/functions

#3086 Issue #2582: Schema javadoc missing from client api docs
  site/Makefile
  site/scripts/javadoc-gen.sh
Labels: component/documentation

#3067 PIP-25: C++ / Python / Go implementation for token authentication
  pulsar-client-cpp/include/pulsar/Authentication.h
  pulsar-client-cpp/include/pulsar/c/authentication.h
  pulsar-client-cpp/lib/Authentication.cc
  pulsar-client-cpp/lib/auth/AuthToken.cc
  pulsar-client-cpp/lib/auth/AuthToken.h
  pulsar-client-cpp/lib/c/c_Authentication.cc
  pulsar-client-cpp/pulsar-test-service-start.sh
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/authentication.cc
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/tests/AuthTokenTest.cc
  pulsar-client-go/pulsar/c_client.go
  pulsar-client-go/pulsar/c_go_pulsar.h
  pulsar-client-go/pulsar/client.go
  pulsar-client-go/pulsar/client_test.go
Labels: type/feature

#3091 Add pulsar-build:manylinux-cp37-cp37m to pushed docker images
  pulsar-client-cpp/docker/push-images.sh
Labels: component/build

#3084 Fixed C++ CMake dependency and enabled parallel build
  pulsar-client-cpp/docker-build.sh
  pulsar-client-cpp/examples/CMakeLists.txt
  pulsar-client-cpp/tests/CMakeLists.txt
Labels: component/build, component/c++

#3092 Fix process of calculating msgBacklog included in stats
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: component/stats

#3093 Python Client: fix `Consumer.unsubscribe`
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
Labels: component/python, type/bug

#3096 Fixed protobuf-shaded/pom.xml with correct version
  protobuf-shaded/pom.xml
Labels: component/build

#3082 WIP: option to not to use rbac in helm deployment
  deployment/kubernetes/helm/pulsar/templates/prometheus-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/prometheus-rbac.yaml
  deployment/kubernetes/helm/pulsar/values-mini.yaml
  deployment/kubernetes/helm/pulsar/values.yaml
Labels: component/deploy

#3097 Redeliver messages that can't be decrypted.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client

#3099 [website] Fix apache pulsar events calendar
  site2/website/pages/en/events.js
Labels: component/website
