Repository apache/pulsar, pull requests merged in 2018-10, with the labels that each got.

#2663 Change access to public for method getProducers().
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
Labels: component/client

#2683 [tests] disabled cassandra connector test and python function test
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/pojo/Tick.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/scripts/pre-integ-tests.sh
Labels: component/test, type/bug

#2684 [function] Fix expected health check interval
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
Labels: component/functions, type/bug

#2692 Admission checks
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: component/functions

#2613 Avoid scheduling heartbeat function if owner-worker not available
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/scheduler/IScheduler.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/scheduler/RoundRobinScheduler.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#2648 [tests] create consumers before producing for DeadLetterTopicTest
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
Labels: component/test, type/bug

#2686 [functions][metrics] Update function metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsMetricsResource.java
Labels: component/functions, component/stats, type/enhancement

#2699 Do not register each DispatchRateLimiter for policies notifications
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
Labels: type/bug

#2696 fix: parent mvn version for presto artifact
  buildtools/pom.xml
  pulsar-sql/presto-distribution/pom.xml
Labels: component/build

#2700 Fix: apache-rat validation
  conf/presto/jvm.config
  distribution/server/src/assemble/src.xml
Labels: component/build

#2702 Have the ability to specify custom labels for k8 jobs
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions, type/feature

#2710 Avoid NullPointerException in ZK server stats collection
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperServerAspect.java
Labels: type/bug

#2711 Improve Go/macOS C++ client installation documentation
  README.md
  site2/README.md
  site2/docs/client-libraries-go.md
Labels: component/documentation

#2709 Fix invalid range error when getting number of entries
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: component/broker

#2713 Added missing brokerServiceURL config keys in proxy.conf
  conf/proxy.conf
Labels: component/deploy

#2718 Allow bk-client to support old bk-protocol
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
Labels: component/broker

#2716 [tests][integration] Fix errors in integration tests
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/pojo/Tick.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/resources/pulsar-process.xml
Labels: component/test, type/bug

#2715 Removed organization affiliations from website
  site2/website/data/team.js
  site2/website/pages/en/team.js
Labels: component/website

#2191 Removed shading relocations for Circe-checksum and lz4 libraries
  distribution/server/src/assemble/LICENSE.bin.txt
  managed-ledger-shaded/pom.xml
  pom.xml
  pulsar-broker-shaded/pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-tests/src/test/java/org/apache/pulsar/client/kafka/compat/tests/KafkaApiTest.java
  pulsar-client-kafka-compat/pulsar-client-kafka/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka/src/test/java/org/apache/pulsar/client/kafka/compat/tests/KafkaProducerTest.java
  pulsar-client-schema/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-common/pom.xml
  pulsar-functions/runtime-all/pom.xml
  pulsar-functions/worker/pom.xml
  pulsar-spark/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/ProxyServer.java
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/compat/kafka/KafkaApiTest.java
Labels: component/build, type/bug

#2726 Mock out the settting up k8 client part
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
Labels: component/test

#2725 Fixed intermittent test failures with "bind error"
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AdvertisedAddressTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/v1/V1_ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsembleTest.java
Labels: component/test

#2723 [functions][stats] NPE in FunctionStatsGenerator when worker service is not ready
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
Labels: component/functions, type/bug

#2722 local function-worker use localhost broker service url
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/functions

#2724 [functions][stats] don't generate function stats at worker service if runtime is k8s
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
Labels: component/functions, component/stats, type/bug

#2721 [functions][conf] Update functions_worker yml with all the possible settings
  conf/functions_worker.yml
Labels: component/documentation, component/functions, type/task

#2728 [function][runtime] NPE at RuntimeSpawner
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
Labels: component/functions, type/bug

#2738 [functions][worker] timeout creating producer for worker
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions, type/enhancement

#2735 Collect metrics on number of logs lines printed
  conf/log4j2.yaml
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: type/enhancement

#2730 [schema] provide a flag to disable/enable schema validation on broker
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/AutoProduceBytesSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/ByteSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/DoubleSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/FloatSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/IntSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/LongSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/ShortSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticatedProducerConsumerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationNegTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithoutServiceDiscoveryTest.java
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/compat/kafka/KafkaApiTest.java
Labels: component/schemaregistry

#2742 [functions][python] support both python 2 and 3
  pulsar-functions/instance/src/main/python/python_instance.py
Labels: component/functions, component/python

#2744 fix: NPE when there are assignments for workers not in membership
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions, type/bug

#2747 All grpc calls should have timeouts
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
Labels: component/functions

#2748 Fix getstatus logic in kubernetes runtime
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
Labels: component/functions, type/bug

#2741 Avoid shading netty in managed-ledger-shaded
  managed-ledger-shaded/pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: type/enhancement

#2753 Fixed apache-rat validations
  distribution/server/src/assemble/src.xml
  examples/flink-consumer-source/README.md
  pom.xml
  tests/compose/README.md
Labels: type/task

#2750 [python] MessageId.serialize() should return bytes instead of str
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/message.cc
Labels: component/python, type/bug

#2754 [c++] Fixed virtual destructors
  pulsar-client-cpp/include/pulsar/CryptoKeyReader.h
  pulsar-client-cpp/include/pulsar/Logger.h
  pulsar-client-cpp/include/pulsar/TopicMetadata.h
  pulsar-client-cpp/lib/Hash.h
Labels: component/c++, type/enhancement

#2755 fix: function update and related tests are broken
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions, type/bug

#2761 Issue #2757: Kafka source connector should just transfer bytes
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaBytesSource.java
  pulsar-io/kafka/src/main/resources/META-INF/services/pulsar-io.yaml
Labels: component/connect, type/bug

#2760 Fix Topic Pattern functionality for Python functions
  pulsar-functions/instance/src/main/python/python_instance.py
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
Labels: type/bug

#2766 fix classname flag in python function example
  site2/docs/functions-quickstart.md
Labels: component/website, type/bug

#2769 [website] make sure 2.1.1 documentation reflects to the features in 2.1.1
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.1.0-incubating/io-quickstart.md
  site2/website/versioned_docs/version-2.1.1-incubating/adaptors-kafka.md
  site2/website/versioned_docs/version-2.1.1-incubating/cookbooks-tiered-storage.md
  site2/website/versioned_docs/version-2.1.1-incubating/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-api.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-deploying.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-guarantees.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-overview.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-quickstart.md
  site2/website/versioned_docs/version-2.1.1-incubating/io-managing.md
  site2/website/versioned_docs/version-2.1.1-incubating/io-quickstart.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.1.1-incubating/sql-deployment-configurations.md
  site2/website/versioned_docs/version-2.1.1-incubating/sql-getting-started.md
  site2/website/versioned_docs/version-2.1.1-incubating/sql-overview.md
  site2/website/versioned_sidebars/version-2.1.1-incubating-sidebars.json
Labels: component/documentation, component/website, type/bug

#2772 Added script to change the project version in 1 command
  protobuf-shaded/pom.xml
  pulsar-sql/presto-distribution/pom.xml
  src/set-project-version.sh
Labels: type/enhancement

#2780 Redirect old website to new website for security-overview page
  content/docs/latest/security/overview/index.html
Labels: component/website

#2773 Metrics Collector Agent for Functions running in Kubernetes
  distribution/server/src/assemble/bin.xml
  pulsar-functions/metrics/pom.xml
  pulsar-functions/metrics/src/main/java/org/apache/pulsar/functions/metrics/PrometheusMetricsServer.java
  pulsar-functions/metrics/src/main/java/org/apache/pulsar/functions/metrics/sink/AbstractWebSink.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions, component/stats

#2774 Make Pulsar Docker have very short ttl cache time
  docker/pulsar/Dockerfile
Labels: type/enhancement

#2784 add initialize routine to FunctionRuntimeManager
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
Labels: component/functions, type/bug

#2770 Java Client - Threads to inherit daemon status from thread creating the client
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/ExecutorProvider.java
Labels: type/enhancement

#2785 Refresh ZK cache based on insertion time rather than access
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
Labels: type/enhancement

#2788 CLI for setting schema update policy
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/SchemaUpdateStrategyTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ChaosContainer.java
Labels: component/schemaregistry, type/feature

#2745 Fix: deadlock on blocking ml operation
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: component/broker

#2794 Document TLS hostname verification option (#2403)
  site2/docs/security-tls-transport.md
Labels: component/documentation, type/enhancement

#2801 Allow user to configure proxy as reverse HTTP proxy
  buildtools/src/main/resources/log4j2.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoader.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyIsAHttpProxyTest.java
Labels: component/proxy, type/enhancement

#2806 Added log statements to debug PulsarFunctionsTest.testJavaExclamationTopicPatternFunction
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/test

#2790 [cpp] Removed required version 5.0 for CLang format
  pulsar-client-cpp/CMakeLists.txt
Labels: component/c++

#2789 Include replication when reporting topic stats to Prometheus
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
Labels: type/enhancement

#2740 Added stats for proxy operations and bytes
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: type/enhancement

#2804 Export Jetty stats to Prometheus
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-proxy/pom.xml
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-sql/presto-distribution/LICENSE
Labels: type/enhancement

#2803 In stage-release.sh, also include offloaders package
  src/stage-release.sh
Labels: type/task

#2815 Add http output buffer configuration to proxy
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyIsAHttpProxyTest.java
Labels: component/proxy, type/enhancement

#2825 Remove annoying error message.
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: type/enhancement

#2809 Support admin-api for subscription-name with wildcard char
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: component/broker

#2827 Python3 strings are not bytes
  pulsar-functions/instance/src/main/python/log.py
Labels: component/python

#2832 Allow Python functions logging to be more configurable
  conf/functions-logging/console_logging_config.ini
  conf/functions-logging/logging_config.ini
  pulsar-functions/instance/src/main/python/log.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
Labels: component/functions

#2839 Fix the document format in example/flink-consumer-source
  examples/flink-consumer-source/README.md
Labels: component/documentation

#2833 Check partitioned topics in namespace when delete the namespace #2822
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: type/bug

#2844 fix python functions context publish
  pulsar-functions/instance/src/main/python/contextimpl.py
Labels: component/functions, type/bug

#2846 Fixed a broken link
  site2/website/release-notes.md
Labels: component/website

#2838 Add "dashboard" to list of modules so that pom version gets auto updated
  dashboard/pom.xml
  pom.xml
Labels: component/build

#2849 fixing/adding sql docs to correct locations
  site2/docs/sql-deployment-configurations.md
  site2/docs/sql-getting-started.md
  site2/docs/sql-overview.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.2.0/sql-deployment-configurations.md
  site2/website/versioned_docs/version-2.2.0/sql-getting-started.md
  site2/website/versioned_docs/version-2.2.0/sql-overview.md
  site2/website/versioned_sidebars/version-2.2.0-sidebars.json
Labels: component/documentation

#2845 Make proxy advertise protocol version of client to broker
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyClientCnx.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
Labels: component/proxy, type/bug

#2836 Fix: schema init for topic-name with special char
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/RackAwareTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
Labels: component/broker

#2850 adding Python function instance unit test
  bin/pulsar
  bin/pulsar-admin
  distribution/server/src/assemble/bin.xml
  pulsar-client-cpp/run-unit-tests.sh
  pulsar-functions/instance/pom.xml
  pulsar-functions/instance/src/scripts/run_python_instance_tests.sh
  pulsar-functions/instance/src/test/python/test_python_instance.py
  pulsar-functions/runtime/pom.xml
Labels: component/functions

#2829 Fix Websocket Consume Messages in Partitioned Topics
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/MessageId.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
Labels: component/websocket, type/bug

#2856 Added ability for the kubernetes to poll a configmap to look out for changes
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions, component/io, type/enhancement

#2814 Fix memory issue in cpp ZTSClient
  pulsar-client-cpp/lib/auth/athenz/ZTSClient.cc
Labels: component/c++, type/bug

#2862 fix typo in architecture docs
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
  site2/docs/concepts-architecture-overview.md
  site2/website/versioned_docs/version-2.1.0-incubating/concepts-architecture-overview.md
Labels: component/documentation

#2861 Fixed mail address typo on contact page
  site2/website/pages/en/contact.js
Labels: component/website

#2866 Removed metrics from getstatus
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
Labels: component/functions

#2854 Fixed ZLib decompression in C++ client
  pulsar-client-cpp/lib/CompressionCodec.h
  pulsar-client-cpp/lib/CompressionCodecZLib.cc
  pulsar-client-cpp/lib/CompressionCodecZLib.h
  pulsar-client-cpp/perf/PerfProducer.cc
  pulsar-client-cpp/tests/ZLibCompressionTest.cc
Labels: component/c++, type/bug

#2791 Debezium: integrate KafkaConnectSource with MySqlConnectorTask
  distribution/io/src/assemble/io.xml
  pom.xml
  pulsar-io/debezium/pom.xml
  pulsar-io/debezium/src/main/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistory.java
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/kafka-connect-adaptor/src/main/resources/debezium-mysql-source-config.yaml
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceTest.java
Labels: component/io, type/task

#2881 Fixed python websocket client sample code
  site2/docs/client-libraries-websocket.md
Labels: component/documentation

#2878 Fix helm lint error for zookeeper-metadata.yaml
  deployment/kubernetes/helm/pulsar/templates/zookeeper-metadata.yaml
  deployment/kubernetes/helm/pulsar/values.yaml
Labels: component/deploy

#2884 Upgrade jackson version to 2.9.7
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/build

#2889 [zookeeper] remove hardcoded zookeeper session timeout
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/GlobalZooKeeperCache.java
Labels: component/broker, type/enhancement

#2885 Add KeyValueSchema to satisfy org.apache.kafka.connect.connector.ConnectRecord
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/KeyValueSchemaTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/KeyValue.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceTest.java
Labels: component/io, component/schemaregistry, type/feature

#2867 Use unique test names in PartitionedProducerConsumerTest to avoid individual tests inter-dependencies
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionedProducerConsumerTest.java
Labels: component/test

#2896 Updating libpulsar Homebrew recipe to 2.2.0
  pulsar-client-cpp/homebrew/libpulsar.rb
Labels: component/build, component/c++
