Repository apache/pulsar, pull requests merged in 2018-08, with the labels that each got.

#2274 [website] Render Pulsar REST API in ReDoc and Fix endpoint template
  pom.xml
  pulsar-broker-shaded/pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/BrokerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Brokers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Clusters.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Functions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Properties.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/ResourceQuotas.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Functions.java
  pulsar-discovery-service/pom.xml
  site2/docs/admin-api-brokers.md
  site2/docs/admin-api-clusters.md
  site2/docs/admin-api-namespaces.md
  site2/docs/admin-api-non-persistent-topics.md
  site2/docs/admin-api-overview.md
  site2/docs/admin-api-partitioned-topics.md
  site2/docs/admin-api-persistent-topics.md
  site2/docs/administration-geo.md
  site2/docs/administration-zk-bk.md
  site2/docs/cookbooks-compaction.md
  site2/docs/cookbooks-retention-expiry.md
  site2/docs/getting-started-concepts-and-architecture.md
  site2/docs/reference-rest-api.md
  site2/website/package.json
  site2/website/pages/en/admin-rest-api.js
  site2/website/sidebars.json
  site2/website/siteConfig.js
  site2/website/static/swagger/swagger.json
  src/gen-swagger.sh
Labels: component/website, type/task

#2277 [website] fix swagger file url
  site2/website/pages/en/admin-rest-api.js
  site2/website/siteConfig.js
Labels: component/website, type/bug

#2276 [website] Move `Concepts and Architecture` page into a seperate category
  site2/docs/admin-api-clusters.md
  site2/docs/administration-proxy.md
  site2/docs/administration-zk-bk.md
  site2/docs/client-libraries-go.md
  site2/docs/client-libraries-java.md
  site2/docs/client-libraries-python.md
  site2/docs/concepts-architecture-overview.md
  site2/docs/concepts-authentication.md
  site2/docs/concepts-clients.md
  site2/docs/concepts-messaging.md
  site2/docs/concepts-multi-tenancy.md
  site2/docs/concepts-overview.md
  site2/docs/concepts-replication.md
  site2/docs/concepts-schema-registry.md
  site2/docs/concepts-tiered-storage.md
  site2/docs/concepts-topic-compaction.md
  site2/docs/cookbooks-compaction.md
  site2/docs/cookbooks-deduplication.md
  site2/docs/cookbooks-message-queue.md
  site2/docs/cookbooks-non-persistent.md
  site2/docs/cookbooks-partitioned.md
  site2/docs/cookbooks-retention-expiry.md
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/deploy-kubernetes.md
  site2/docs/developing-schema.md
  site2/docs/functions-deploying.md
  site2/docs/getting-started-concepts-and-architecture.md
  site2/docs/getting-started-docker.md
  site2/docs/getting-started-pulsar.md
  site2/docs/getting-started-standalone.md
  site2/docs/io-quickstart.md
  site2/docs/reference-configuration.md
  site2/website/sidebars.json
Labels: component/documentation, component/website

#2194 Destination fix
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/v2/TopicLookup.java
  site/docs/latest/admin-api/non-persistent-topics.md
  site/docs/latest/admin-api/persistent-topics.md
Labels: component/documentation

#2220 Rework TLS docs to separate concerns
  site/_data/sidebar.yaml
  site/docs/latest/security/authorization.md
  site/docs/latest/security/openssl.cnf
  site/docs/latest/security/tls-transport.md
  site/docs/latest/security/tls.md
Labels: component/documentation, component/website, type/task

#2275 [website] improve pulsar connector documentation
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/deploy-bare-metal.md
  site2/docs/deploy-dcos.md
  site2/docs/deploy-kubernetes.md
  site2/docs/getting-started-standalone.md
  site2/docs/io-aerospike.md
  site2/docs/io-cassandra.md
  site2/docs/io-connectors.md
  site2/docs/io-develop.md
  site2/docs/io-kafka.md
  site2/docs/io-kinesis.md
  site2/docs/io-managing.md
  site2/docs/io-overview.md
  site2/docs/io-quickstart.md
  site2/docs/io-rabbitmq.md
  site2/docs/io-twitter.md
  site2/website/scripts/replace.js
  site2/website/sidebars.json
Labels: component/connect, component/website, type/task

#2288 [website] fix `developing-binary-protocol` page
  site2/docs/developing-binary-protocol.md
Labels: component/documentation, component/website, type/bug

#2291 [website] Fix website docker build
  site2/tools/docker-build-site.sh
Labels: component/website, type/bug

#2279 [build] pin protobuf-shaded version
  pom.xml
  pulsar-broker/pom.xml
  pulsar-common/pom.xml
  pulsar-functions/utils/pom.xml
  pulsar-io/core/pom.xml
Labels: component/build, type/enhancement

#2286 [website] cherry-pick "Rework TLS docs to separate concerns" to new website
  site2/docs/admin-api-clusters.md
  site2/docs/admin-api-permissions.md
  site2/docs/client-libraries-go.md
  site2/docs/client-libraries-java.md
  site2/docs/concepts-architecture-overview.md
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/deploy-bare-metal.md
  site2/docs/security-authorization.md
  site2/docs/security-overview.md
  site2/docs/security-tls-authentication.md
  site2/docs/security-tls-transport.md
  site2/docs/security-tls.md
  site2/website/sidebars.json
  site2/website/static/examples/openssl.cnf
Labels: component/documentation, component/website, type/task

#2290 [website] fix anchors in functions documentation pages and add `State` documentation
  site2/docs/functions-api.md
  site2/docs/functions-deploying.md
  site2/docs/functions-guarantees.md
  site2/docs/functions-metrics.md
  site2/docs/functions-overview.md
  site2/docs/functions-quickstart.md
  site2/docs/functions-state.md
  site2/website/sidebars.json
Labels: component/documentation, component/website

#2285 kinesis-sink: manage msg ordering for publish callback failure
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
Labels: component/connect

#2259 Fix: set subscription-type based on message ordering
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
Labels: component/functions

#2281 Issue #2165: add System property config to run real S3 and GCS test for offloader
  pulsar-broker/src/test/java/org/apache/pulsar/broker/offload/BlobStoreTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/offload/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: component/tieredstorage, type/task

#2292 [release][website] Add release notes for Release 2.1.0
  site2/website/release-notes.md
Labels: component/website, type/task

#2273 rename args in CmdFunctions to be consistent with existing CLI arg naming conventions in pulsar
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/cli, component/functions, type/enhancement

#2214 Add tls support to authenticate client to access function admin-api
  conf/functions_worker.yml
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
Labels: component/functions

#2299 Add some metrics to prometheus.
  conf/broker.conf
  docker/grafana/dashboards/topic.json
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedConsumerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedSubscriptionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/stats, type/enhancement

#2303 [website] Fix a few broken links
  site2/docs/io-overview.md
  site2/website/pages/en/index.js
  site2/website/release-notes.md
  site2/website/releases.json
  site2/website/scripts/replace.js
  site2/website/versioned_docs/version-2.1.0-incubating/io-overview.md
Labels: component/website, type/task

#2302 Fixed linking of boost and boost-python for osx build
  pulsar-client-cpp/python/pkg/osx/build.sh.template
Labels: component/build

#2219 Cpp client: add PatternMultiTopicsConsumerImpl to support regex subscribe
  pulsar-client-cpp/include/pulsar/Client.h
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/lib/BinaryProtoLookupService.cc
  pulsar-client-cpp/lib/BinaryProtoLookupService.h
  pulsar-client-cpp/lib/Client.cc
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientConnection.h
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ClientImpl.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/HTTPLookupService.cc
  pulsar-client-cpp/lib/HTTPLookupService.h
  pulsar-client-cpp/lib/LookupService.h
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/PatternMultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/PatternMultiTopicsConsumerImpl.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/BinaryLookupServiceTest.cc
Labels: component/c++, component/client, type/feature

#2305 Add Example functions
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/InstanceIdAppenderFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/IntegerAdditionFunction.java
Labels: component/examples, type/task

#2306 [website] fix css problem on languages menu
  site2/website/static/css/custom.css
Labels: component/website

#2310 [website] wrap strings with <translate> tags
  site2/website/pages/en/contact.js
  site2/website/pages/en/download.js
  site2/website/pages/en/events.js
  site2/website/pages/en/index.js
  site2/website/pages/en/resources.js
  site2/website/pages/en/team.js
  site2/website/pages/en/versions.js
Labels: component/website, type/task

#2309 [website] update clients page with feature matrix and a list of 3rdparty clients
  site2/docs/getting-started-clients.md
  site2/website/versioned_docs/version-2.1.0-incubating/getting-started-clients.md
Labels: component/documentation, component/website, type/task

#2297 fix Test: function-tls test stops server gracefully
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
Labels: component/test

#2301 Issue #1452: remove reachedEndOfTopic in addConsumer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/client, type/bug

#2265 PIP-19: Initial implementation of Pulsar SQL
  pom.xml
  pulsar-sql/pom.xml
  pulsar-sql/presto-pulsar-plugin/pom.xml
  pulsar-sql/presto-pulsar-plugin/src/main/assembly/assembly.xml
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/AvroSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/JSONSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnector.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorConfig.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorId.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorModule.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorUtils.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarHandleResolver.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarInternalColumn.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarPlugin.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordSet.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordSetProvider.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplit.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarTableHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarTableLayoutHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarTopicDescription.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarTransactionHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/SchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/resources/META-INF/services/com.facebook.presto.spi.Plugin
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarMetadata.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarSplitManager.java
Labels: component/sql, type/feature

#2318 Attempt to fix flakyness of BrokerBkEnsemblesTests.testSkipCorruptDataLedger
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
Labels: component/test

#2316 Fixed refcounting when processing entries from sql
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageParser.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
Labels: type/bug

#2319 [website] generate swagger definitions for schema API and update schema documentation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java
  site2/docs/admin-api-schemas.md
  site2/docs/concepts-schema-registry.md
  site2/website/sidebars.json
  site2/website/static/swagger/swagger.json
  site2/website/versioned_docs/version-2.1.0-incubating/admin-api-schemas.md
  site2/website/versioned_docs/version-2.1.0-incubating/concepts-schema-registry.md
  site2/website/versioned_sidebars/version-2.1.0-incubating-sidebars.json
Labels: component/cli, component/website, type/task

#2261 Avoid creating output topic on tenant namespace if output-topic not provided
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSinkDisable.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
Labels: component/functions

#2327 Issue 2272: Fix git-commit-id-plugin
  pom.xml
Labels: component/build, type/bug

#2326 [website] rename property to tenant
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  site2/docs/admin-api-partitioned-topics.md
  site2/docs/administration-geo.md
  site2/docs/concepts-architecture-overview.md
  site2/docs/cookbooks-partitioned.md
  site2/docs/deploy-kubernetes.md
  site2/docs/security-authorization.md
  site2/docs/security-encryption.md
  site2/website/versioned_docs/version-2.1.0-incubating/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.1.0-incubating/administration-geo.md
  site2/website/versioned_docs/version-2.1.0-incubating/concepts-architecture-overview.md
  site2/website/versioned_docs/version-2.1.0-incubating/cookbooks-partitioned.md
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-kubernetes.md
  site2/website/versioned_docs/version-2.1.0-incubating/security-authorization.md
  site2/website/versioned_docs/version-2.1.0-incubating/security-encryption.md
Labels: component/documentation, component/website, type/bug

#2315 Enable TLS in client if serviceUrl has pulsar+ssl:// or https://
  conf/client.conf
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/tests/AuthPluginTest.cc
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BuildersTest.java
  site/docs/latest/clients/Cpp.md
  site/docs/latest/clients/Java.md
  site/docs/latest/security/athenz.md
  site/docs/latest/security/authorization.md
  site/docs/latest/security/tls-transport.md
  site/docs/latest/security/tls.md
Labels: type/enhancement

#2308 [blog] Enable blog in website and add one for 2.1.0 release
  site2/website/blog/2018-08-06-Apache-Pulsar-2-1-0.md
  site2/website/siteConfig.js
Labels: component/website

#2332 Minor typo fixes
  site2/website/blog/2018-08-06-Apache-Pulsar-2-1-0.md
Labels: component/documentation

#2334 Minor typos
  site2/docs/client-libraries-cpp.md
Labels: component/documentation, type/bug

#2333 Add python user exception function example
  pulsar-functions/python-examples/user_exception.py
Labels: component/examples, component/functions, type/task

#2325 [website] update downlink used for quickstart
  site2/docs/functions-quickstart.md
  site2/website/scripts/replace.js
  site2/website/versioned_docs/version-2.1.0-incubating/functions-quickstart.md
Labels: component/functions, type/bug

#2336 Ignore unknown Properties from config file when parsing
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
Labels: component/functions, type/task

#2339 added FRench to website
  site2/website/languages.js
Labels: component/website, type/task

#2337 [website] fix broken links
  site2/website/blog/2018-08-06-Apache-Pulsar-2-1-0.md
Labels: component/website, type/bug

#2338 Introduce warmup period in performance producer
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: type/enhancement

#2320 Fix flaky test PersistentTopicE2ETest.testMessageRedelivery
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
Labels: component/test

#2152 GCS offload support(4): add documentations for GCS
  site/docs/latest/cookbooks/tiered-storage.md
Labels: component/documentation, component/tieredstorage, type/task

#2341 [documentation] Issue 2252: incorrect flags for bin/pulsar
  site2/docs/reference-cli-tools.md
Labels: component/documentation, type/bug

#2345 [documentation] Fix syntax error on tiered storage documentation
  site/docs/latest/cookbooks/tiered-storage.md
Labels: component/documentation, component/website, type/bug

#2296 REST and CLI to get function metrics in json for monitoring
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/WorkerStats.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/WorkerStats.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/WorkerStatsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctionWorkerStats.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/Resources.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerStats.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  site2/website/scripts/replace.js
Labels: component/functions

#2349 Re-added tracking id to new website
  site2/website/siteConfig.js
Labels: component/website

#2348 Fix NPE when splitting and unloading bundle
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: component/broker, type/bug

#2355 Remove snapshot-topic ref
  conf/functions_worker.yml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions

#2350 C++ HTTP lookup works with TLS (#2314)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/HTTPLookupService.cc
  pulsar-client-cpp/lib/HTTPLookupService.h
  pulsar-client-cpp/lib/LookupDataResult.h
  pulsar-client-cpp/tests/AuthPluginTest.cc
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
Labels: component/c++, type/bug

#2331 [conf] add zookeeper admin server settings to the configuration files
  conf/global_zookeeper.conf
  conf/zookeeper.conf
Labels: component/config, type/task

#2335 [documentation] Improve documentation on bare mental deployment
  deployment/terraform-ansible/aws/setup-disk.yaml
  deployment/terraform-ansible/deploy-pulsar.yaml
  deployment/terraform-ansible/templates/bookkeeper.conf
  site2/docs/deploy-aws.md
  site2/docs/deploy-bare-metal.md
Labels: component/documentation, type/task

#2342 Issue 1067: Problems with Partitioned Topics which name contains -partition-N
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminResourceTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
Labels: component/broker, type/bug

#2358 [documentation] Cherry-pick documentation on bare mental deployment to 2.1.0
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-bare-metal.md
Labels: component/documentation, type/bug

#2360 Fix typo
  site2/docs/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-cpp.md
Labels: component/documentation

#2359 Issue #2304: add encoding for WebTargets parts
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/WebTargets.java
Labels: type/bug

#2361 [docker] Publish pulsar-all image to docker hub
  docker/publish.sh
Labels: component/build, type/bug

#2354 add function package-url into function-get api response
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/functions

#2311 [cpp] receiver queue size config acorss partitions in multi-topics-consumer
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/src/config.cc
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/c++, component/client, type/task

#2366 Fixed linking of python wrapper to boost-python in MacOS build
  pulsar-client-cpp/python/CMakeLists.txt
  pulsar-client-cpp/python/pkg/osx/build.sh.template
Labels: component/build, component/python

#2365 Add support to restart function
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
Labels: component/functions

#2368 Fix Copy Command in Pulsar IO Getting Started
  site2/docs/io-quickstart.md
  site2/website/versioned_docs/version-2.1.0-incubating/io-quickstart.md
Labels: component/documentation

#2369 If --customSerdeInputs is specified, please update the right variable
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/cli, component/functions, type/bug

#2370 add more debug logs with function name reference
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
Labels: component/functions

#2367 [compaction] make topic compaction works with partitioned topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/compaction/TestCompaction.java
Labels: component/broker, component/client, component/compaction, type/bug

#2372 Kinesis-sink consider topic-name as partition-key if record key empty
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
Labels: component/functions

#2362 [documentation][deploy] Update deployment instructions for deploying pulsar to minikube
  deployment/kubernetes/generic/admin.yaml
  deployment/kubernetes/generic/bookie.yaml
  deployment/kubernetes/generic/broker.yaml
  deployment/kubernetes/generic/cluster-metadata.yaml
  deployment/kubernetes/generic/monitoring.yaml
  deployment/kubernetes/generic/proxy.yaml
  deployment/kubernetes/generic/zookeeper.yaml
  site2/docs/deploy-kubernetes.md
Labels: component/documentation, type/task

#2378 Include Python-3.7 compatible client lib for linux
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/docker/Dockerfile
  pulsar-client-cpp/docker/create-images.sh
  pulsar-client-cpp/python/CMakeLists.txt
  site2/docs/client-libraries-python.md
Labels: component/python

#2377 Increased default brokerShutdownTimeout to 60 seconds
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#2351 Avoid double executor on non-persistent topic send operation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
Labels: type/enhancement

#2383 Simplify argument passing in process runtimes
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/InstanceCommunication_pb2.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
Labels: component/functions, type/enhancement

#2374 [tiered storage] Pulsar standalone hangs when s3 offloader is enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  tiered-storage/jcloud/pom.xml
Labels: component/build, component/tieredstorage, type/bug

#2390 Remove connection state assertion in NonPersistentTopicTest#testMsgDropStat
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
Labels: component/test, type/bug

#2391 [tiered storage] repackage the offloader implementation from `org.apache.pulsar.broker.offload` to `org.apache.bookkeeper.mledger.offload.jcloud`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/BackedInputStream.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/BlockAwareSegmentInputStream.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/DataBlockHeader.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/OffloadIndexBlock.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/OffloadIndexBlockBuilder.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/OffloadIndexEntry.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/TieredStorageConfigurationData.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedInputStreamImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlockAwareSegmentInputStreamImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/DataBlockHeaderImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexBlockBuilderImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexBlockImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexEntryImpl.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/BlobStoreBackedInputStreamTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/BlobStoreTestBase.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlockAwareSegmentInputStreamTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/DataBlockHeaderTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexTest.java
Labels: component/tieredstorage, type/cleanup

#2392 [tiered storage] Provide LedgerOffloaderFactory for creating offloaders
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloader.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloaderFactory.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/JCloudLedgerOffloaderFactory.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/TieredStorageConfigurationData.java
Labels: component/tieredstorage, type/cleanup

#2395 [build] Fix LICENSE.bin.txt
  distribution/server/src/assemble/LICENSE.bin.txt
Labels: component/build, type/bug

#2388 [documentation] Issue 2386: release notes link of old versions broken
  site2/website/pages/en/versions.js
Labels: component/website, type/bug

#2389 Add HostName appender function example
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/HostAppenderFunction.java
Labels: component/examples, type/task

#2387 Fixed race condition during expansion of concurrent open hash maps
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongPairSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentLongHashMapTest.java
Labels: type/bug

#2382 Issue 2283: Improve error message if authorization is not enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdminException.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/broker, component/cli, type/bug

#2385 Fix some spelling typos
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
  pulsar-client-cpp/perf/PerfProducer.cc
  pulsar-client-cpp/perf/RateLimiter.h
  pulsar-client-go/pulsar/client.go
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ClientConfiguration.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/RateLimiter.java
  site2/website/static/js/pjax-api.min.js
Labels: type/enhancement

#2396 [build] Configure os extension plugin at root pom
  pom.xml
  pulsar-client-schema/pom.xml
  pulsar-functions/proto-shaded/pom.xml
  pulsar-functions/proto/pom.xml
Labels: component/build, type/bug

#2399 Fixed initialization order of acknowledgmentsGroupingTracker in ConsumerImpl
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug

#2373 Make authentication parameters configurable on the pulsar-client-kafka
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/pulsar/client/kafka/compat/PulsarClientKafkaConfig.java
  site2/docs/adaptors-kafka.md
Labels: component/client, type/enhancement

#2408 add slf4j handler to log web-server log
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
Labels: component/functions

#2413 [functions][integration tests] Ensure function subscription exists before integration tests start producing messages
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/functions, component/test, type/bug

#2418 Fix Description of Options on Pulsar Admin
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-pulsar-admin.md
Labels: component/documentation

#2423 [client] add properties to consumer for cpp & python client
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/src/config.cc
  pulsar-client-cpp/python/test_consumer.py
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client, component/python, type/task

#2419 [documentation] cherry-pick deploy-kubernetes documentation changes
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-kubernetes.md
Labels: component/documentation

#2420 [client] add properties to producer for cpp & python client
  pulsar-client-cpp/include/pulsar/ProducerConfiguration.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ProducerConfiguration.cc
  pulsar-client-cpp/lib/ProducerConfigurationImpl.h
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/src/config.cc
  pulsar-client-cpp/python/test_producer.py
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client, component/python, type/task

#2412 Allow to configure number of IO and managed ledger threads
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactoryConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FieldParser.java
Labels: type/enhancement

#2416 Fix: authorization while redirecting function admin call
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/FunctionApiResource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
Labels: component/functions

#2424 Support heartbeat function for worker
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/scheduler/RoundRobinScheduler.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#2437 Race condition function-runtime-manager read old assignments
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
Labels: component/functions, type/bug

#2414 allow predicates concerning publish time to push down to pulsar
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ReadOnlyCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarInternalColumn.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplit.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarTableLayoutHandle.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarSplitManager.java
Labels: component/sql

#2435 improve error message handling
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorUtils.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
Labels: component/sql

#2425 Standalone bookie should always advertise 'localhost' when running in docker container
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/deploy, type/bug

#2443 Added missing committers from "team" page
  site2/website/data/team.js
Labels: component/website

#2444 fix issue with protocol version not being correct
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: type/bug

#2426 Added cli commands to get function cluster related information
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Worker.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Worker.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/WorkerImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctionWorker.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/FunctionApiResource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/Resources.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerStats.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerStatsApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/WorkerApiV2ResourceConfigTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/WorkerContainer.java
Labels: component/functions, type/cleanup

#2451 Issue 2312: add python client multi-topics consumer support
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/client.cc
  pulsar-client-cpp/python/src/config.cc
Labels: component/client, type/feature

#2346 Issue #2330: change getTopicName in MultiTopicsConsumer
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedTopicMessageTracker.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageIdCompareToTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/semantics/SemanticsTest.java
Labels: component/client, type/bug

#2450 Added Reader.HasNext in Go client
  pulsar-client-go/pulsar/c_reader.go
  pulsar-client-go/pulsar/reader.go
  pulsar-client-go/pulsar/reader_test.go
Labels: component/go, type/feature

#2448 Add multi-topic and regex consumer in Go client
  pulsar-client-cpp/include/pulsar/c/client.h
  pulsar-client-cpp/lib/c/c_Client.cc
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/c_go_pulsar.h
  pulsar-client-go/pulsar/consumer.go
  pulsar-client-go/pulsar/consumer_test.go
Labels: component/go, type/feature

#2445 Remove schema validator from annotations
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfig.java
Labels: component/io, type/bug

#2455 Fixed {{pulsar.version}} into {{pulsar:version}} in few pages
  site2/docs/client-libraries-go.md
  site2/docs/deploy-bare-metal.md
  site2/docs/getting-started-standalone.md
  site2/docs/io-quickstart.md
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-go.md
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.1.0-incubating/getting-started-standalone.md
  site2/website/versioned_docs/version-2.1.0-incubating/io-quickstart.md
Labels: component/website

#2406 Fix flake in DiscoveryServiceTest (#1081)
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
Labels: component/test

#2453 Fixed cpp multi-topic consumer when topics are not partitioned
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, type/bug

#2454 Fix compilation issue on CLITest
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/test, type/bug

#2438 Fix: Function assignment can support large number of topics
  conf/functions_worker.yml
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: type/bug, type/enhancement, type/performance

#2456 Remove Aerospike Connector
  distribution/io/src/assemble/io.xml
  pom.xml
  pulsar-io/aerospike/pom.xml
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeAbstractSink.java
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeSinkConfig.java
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeStringSink.java
  pulsar-io/aerospike/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/pom.xml
  site2/docs/deploy-bare-metal.md
  site2/docs/getting-started-standalone.md
  site2/docs/io-aerospike.md
  site2/docs/io-connectors.md
  site2/docs/io-overview.md
  site2/docs/io-quickstart.md
Labels: component/connect, component/io, type/task

#2449 Support compaction options in Go client
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/c_reader.go
  pulsar-client-go/pulsar/consumer.go
  pulsar-client-go/pulsar/consumer_test.go
  pulsar-client-go/pulsar/producer_test.go
  pulsar-client-go/pulsar/reader.go
  pulsar-client-go/pulsar/reader_test.go
Labels: component/go, type/feature

#2458 Fixed few links in contact and download pages
  site2/website/core/Footer.js
  site2/website/pages/en/contact.js
  site2/website/pages/en/download.js
  site2/website/pages/en/team.js
Labels: component/website

#2460 Add backlog quota retention policy to server config.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
Labels: type/enhancement

#2380 Increase default maxConcurrentLookupRequests to 50k
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  deployment/terraform-ansible/templates/proxy.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  site2/docs/administration-proxy.md
  site2/docs/reference-configuration.md
Labels: type/enhancement

#2469 Fix pulsar sql cli bug
  bin/pulsar
Labels: component/sql

#2457 Updated documentation about changed arguments for functions, sources and sinks
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  site2/docs/deploy-bare-metal.md
  site2/docs/functions-api.md
  site2/docs/functions-deploying.md
  site2/docs/functions-guarantees.md
  site2/docs/functions-overview.md
  site2/docs/functions-quickstart.md
  site2/docs/io-managing.md
  site2/docs/io-quickstart.md
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation, component/functions, type/cleanup

#2486 Added the --custom-schema-inputs cli arg to allow custom schema input to functions
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  site2/docs/reference-pulsar-admin.md
Labels: component/functions

#2474 Revert "Fix: Function assignment can support large number of topics (#2438)"
  conf/functions_worker.yml
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: type/bug

#2459 Added Contributing page on website
  site2/website/contributing.md
  site2/website/core/Footer.js
  site2/website/pages/en/contributing.js
Labels: component/website

#2470 Clarified project roles in team page
  site2/website/pages/en/team.js
Labels: component/website

#2496 Fix: auto-ack flag always set true
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/functions

#2490 Attach Producer/Consumer property tags so its easier to identify topics being produced/consumed by functions
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/AbstractOneOuputTopicProducers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOuputTopicProducers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOutputTopicProducersTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
Labels: component/functions

#2485 Added a no args constructor
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/serde/CustomObject.java
Labels: component/functions

#2468 Fix semantics of skip output
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  site2/docs/reference-pulsar-admin.md
Labels: component/functions

#2492 add sub-name option to function cli
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  site2/docs/reference-pulsar-admin.md
Labels: component/functions

#2447 Added producer/consumer properties in Go client
  pulsar-client-cpp/include/pulsar/ProducerConfiguration.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/lib/c/c_ProducerConfiguration.cc
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/c_producer.go
  pulsar-client-go/pulsar/consumer.go
  pulsar-client-go/pulsar/producer.go
  pulsar-client-go/pulsar/producer_test.go
Labels: component/go, type/feature

#2464 Copy ByteBufPair buffers when using with SSL (#2401)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/ByteBufPair.java
Labels: type/bug

#2498 Fix: avoid continuous acking with invalid msgId for cumulative ack
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
Labels: component/client, type/bug
