Repository apache/pulsar, pull requests merged in 2018-07, with the labels that each got.

#2059 Add semantic integration tests for non-persistent topics and effectively-once producing
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarClusterTestBase.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/semantics/SemanticsTest.java
Labels: component/client, component/test, type/task

#2053 fix bug with specifying jar via config file
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/functions

#2057 Forward user-properties to sink
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
Labels: type/enhancement

#2058 Pulsar Kinesis-sink upgrade aws-sdk version
  pulsar-io/kinesis/pom.xml
Labels: component/build, component/functions

#2024 Forward encryption properties with encrypted payload to consumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerCryptoFailureAction.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/EncryptionContext.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageCrypto.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageParser.java
Labels: component/client

#2060 Migrate CLI integration test mode to use testcontainers
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
  tests/integration/cli/pom.xml
  tests/integration/cli/src/test/java/org/apache/pulsar/tests/integration/TestCLI.java
  tests/integration/cli/src/test/resources/arquillian.xml
Labels: component/test

#2052 fix bug in concerning ContextImpl
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
Labels: component/functions

#2042 Tests Python Wheel packaging in CI build
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/run-unit-tests.sh
Labels: component/build, component/python

#2062 Fix build issue in master
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
Labels: component/build

#2063 Add an integration test on pulsar functions on process mode
  tests/integration/semantics/pom.xml
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
Labels: component/functions, component/test, type/task

#2066 docs: Improve RedeliverUnacknowledgedMessages binary protocol docs
  site/docs/latest/project/BinaryProtocol.md
Labels: component/client, component/documentation

#2068 Pass encryption-context to pulsar-sink if source receive encrypted message
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerCryptoFailureAction.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Message.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageRecordImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/EncryptionContext.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-io/core/pom.xml
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/RecordContext.java
Labels: type/enhancement

#2075 Fix: destination lookup url for v2
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
Labels: type/bug

#2074 By default PulsarSource consume encrypted message
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
Labels: component/functions

#2073 fix: configure crypto-action for internal consumer independently cryptoReader
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug

#2069 shade dependencies in pulsar client and admin
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-shaded/pom.xml
Labels: component/client, type/bug

#2076 Dump container & pulsar log before container stops
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/CSContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/ChaosContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/PulsarContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/ZKContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
Labels: component/test

#2084 Fix python/CMakeLists.txt
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/build, component/python, type/bug

#2050 Move Pulsar IO as a top-category section at the sidebar
  site/_data/sidebar.yaml
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
  site/docs/latest/io/overview.md
  site/docs/latest/io/quickstart.md
Labels: component/documentation, component/website

#2082 Cleanup unused function resource
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: type/cleanup

#2083 avoid unnecessary reflection to create pulsar source instance
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions

#2041 Added ReadOnlyCursor to ManagedLedger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/AsyncCallbacks.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ReadOnlyCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorTest.java
Labels: type/enhancement

#2094 Fix Rackaware test
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/RackAwareTest.java
Labels: component/test

#2078 Enhance Pulsar cluster with container logs
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/BKContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/BrokerContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/ChaosContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/ProxyContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/PulsarContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/WorkerContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/ZKContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarClusterTestBase.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/runtime/PulsarFunctionsProcessRuntimeTest.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/runtime/PulsarFunctionsRuntimeTest.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/runtime/PulsarFunctionsThreadRuntimeTest.java
  tests/integration/smoke/pom.xml
  tests/integration/smoke/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/integration/smoke/src/test/java/org/apache/pulsar/tests/integration/TestSmoke.java
  tests/integration/smoke/src/test/resources/arquillian.xml
Labels: component/test

#2097 Move Smoke Test and Cli test to semantic package
  tests/integration/cli/pom.xml
  tests/integration/pom.xml
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/smoke/SmokeTest.java
  tests/integration/smoke/pom.xml
Labels: component/test

#2085 Fix wget argument
  site/_includes/explanations/install-package.md
Labels: component/documentation

#2099 Issue 1455: MessageID has always batch index 0 when sending messages in a batch
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/SendCallback.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/semantics/SemanticsTest.java
Labels: component/client, type/bug

#2096 Issue 1252: Enable bookie autorecovery daemon by default
  conf/bookkeeper.conf
Labels: component/config

#2079 Kinesis sink publish full json message
  pulsar-io/core/pom.xml
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/Utils.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/UtilsTest.java
Labels: component/connect, type/enhancement

#2104 Remove dependencies exclusions for org.apache.httpcomponents:httpclient
  pom.xml
Labels: component/build

#2088 Fixed path for Postgres in dashboard docker image
  dashboard/Dockerfile
  dashboard/conf/postgresql.conf
  dashboard/conf/supervisor-app.conf
Labels: component/build, component/deploy

#2095 Remove unused test annotation
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/test

#2100 Issue 2077: SubscriptionInitialPosition doesn't work with multiple-topic type subscription
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/semantics/SemanticsTest.java
Labels: component/client, type/bug

#2092 Issue 2090: Links to connector source code are broken
  site/_data/connectors.yaml
  site/_includes/connectors.html
Labels: component/documentation, component/website, type/bug

#2051 Move Security related documentation to a top-level category
  site/_data/messages.yaml
  site/_data/sidebar.yaml
  site/_includes/explanations/admin-setup.md
  site/_includes/explanations/client-url.md
  site/_includes/explanations/tenants-namespaces.md
  site/docs/latest/admin-api/clusters.md
  site/docs/latest/admin/Authz.md
  site/docs/latest/admin/Dashboard.md
  site/docs/latest/clients/Java.md
  site/docs/latest/clients/go.md
  site/docs/latest/deployment/Kubernetes.md
  site/docs/latest/deployment/cluster.md
  site/docs/latest/deployment/instance.md
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
  site/docs/latest/security/athenz.md
  site/docs/latest/security/authorization.md
  site/docs/latest/security/encryption.md
  site/docs/latest/security/extending.md
  site/docs/latest/security/overview.md
  site/docs/latest/security/tls.md
Labels: component/documentation, component/website

#2093 Disable empty methods in SequenceIdWithErrorTest
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
Labels: component/test

#2087 Make ack timeout work in asynchronous implementation of C++ consumer
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, type/bug

#2113 derive worker-host and id at runtime if not provided
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions, type/enhancement

#2117 Fix Output In Pulsar Go Client Documentation
  site/docs/latest/clients/go.md
Labels: component/documentation, component/website

#2118 Make it possible to set idle WebSocket session timeout period
  conf/broker.conf
  conf/standalone.conf
  conf/websocket.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketConsumerServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketProducerServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketReaderServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: type/enhancement

#2115 Fix Creation of ClientOptions in Go Documentation
  site/docs/latest/clients/go.md
Labels: component/documentation, component/website

#2120 shading dependencies in pulsar client
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-shaded/pom.xml
Labels: component/build

#2127 Only exit from watch-znode if we managed to communicate with zk
  docker/pulsar/scripts/watch-znode.py
Labels: component/test

#2125 Fix string in popover-term
  site/_data/popovers.yaml
Labels: component/documentation, component/website

#2109 Remove popover from security overview page
  site/docs/latest/security/overview.md
Labels: component/documentation, component/website

#2132 Fix an Argument of Wget in Pulsar Functions Getting Started
  site/docs/latest/functions/quickstart.md
Labels: component/documentation, component/website

#2134 Fix a few links in security pages
  site/docs/latest/security/authorization.md
  site/docs/latest/security/extending.md
  site/docs/latest/security/tls.md
Labels: component/documentation, component/website

#2080 Extract out common code from standalone and build Embedded Pulsar
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneBuilder.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
Labels: component/test, type/task

#2114 Submit and run locally builtin connectors
  bin/pulsar
  bin/pulsar-admin
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
Labels: type/enhancement

#2123 Add pulsar python wheelhouse to gitignore
  .gitignore
Labels: component/build

#2140 Temporarely disable SequenceIdWithErrorTest
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
Labels: component/test

#2131 Fix Link in Binary Protocol
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
Labels: component/documentation, component/website

#2143 Fix a command in Pulsar Function overview Document
  site/docs/latest/functions/overview.md
Labels: component/documentation, component/website

#2103 Issue 1433: Expose batch flushAsync() and flush() methods in Producer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/Producer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, type/feature

#2138 Fixed mem leak when receiving unrecoverable fencing errors in managed ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
Labels: type/bug

#2129 Fixed RPM/Deb package to include "apache" and "incubating" in name
  pulsar-client-cpp/pkg/deb/build-deb.sh
  pulsar-client-cpp/pkg/rpm/SPECS/pulsar-client.spec
Labels: component/build, component/c++

#2111 Release resources for ZLib inflater/deflater when not used
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecZLib.java
Labels: type/enhancement

#2128 Schedule task to update function stats separately
  conf/functions_worker.yml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/FunctionStats.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/python/InstanceCommunication_pb2.py
  pulsar-functions/instance/src/main/python/InstanceCommunication_pb2_grpc.py
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/server.py
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/Runtime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionStatsGeneratorTest.java
Labels: component/functions, type/enhancement

#2146 add list-connector rest api at workers
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
Labels: type/bug

#2139 Use container name in logs
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/DockerUtils.java
Labels: component/test, type/enhancement

#2108 add flatbuffer option to serialize kinesis-message in KinesisSink
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/api/EncryptionContext.java
  pulsar-io/kinesis/pom.xml
  pulsar-io/kinesis/src/main/fb/KinesisMessageApi.fbs
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/Utils.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/fbs/CompressionType.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/fbs/EncryptionCtx.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/fbs/EncryptionKey.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/fbs/KeyValue.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/fbs/Message.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/UtilsTest.java
Labels: component/connect, type/enhancement

#2112 Function: REST and CLI to get list of workers in cluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/proto/src/main/java/org/apache/pulsar/functions/worker/WorkerInfo.java
  pulsar-functions/worker/pom.xml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#2086 Add std=c99 to CMAKE_C_FLAGS to avoid compile error with gcc-4.8
  pulsar-client-cpp/examples/CMakeLists.txt
Labels: component/c++

#2148 Fix schema initialization
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/PartitionedTopicsSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
Labels: type/bug

#2149 Avoid closing cursor when consumers are disconnected
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
Labels: type/bug

#2116 Added optional key in pulsar IO
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageRecordImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageRecordImplTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeAbstractSink.java
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeStringSink.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraAbstractSink.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraStringSink.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/Record.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/RecordContext.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SimpleSink.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/Sink.java
  pulsar-io/core/src/test/java/org/apache/pulsar/io/core/SinkTest.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaStringSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaStringSource.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/Utils.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/UtilsTest.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSource.java
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHose.java
Labels: component/connect, type/enhancement

#2160 Add numFunctionWorkers and externalServices to cluster spec
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/CassandraContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/KafkaContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/KafkaProxyContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/FunctionRuntimeType.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarClusterSpec.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarClusterTestBase.java
  tests/integration-tests-topologies/src/main/resources/kafka-zookeeper.properties
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/runtime/PulsarFunctionsRuntimeTest.java
Labels: component/test, type/enhancement

#2159 fix: conflicting jackson transitive dependency for worker
  pulsar-functions/worker/pom.xml
Labels: component/build

#2155 bin/bookkeeper doesn't output the result to the console
  bin/bookkeeper
  conf/log4j2.yaml
Labels: component/config, type/bug

#2157 #2156 - Documentation need to be updated for Admin command to apply deduplication at namespace
  site/docs/latest/cookbooks/message-deduplication.md
Labels: component/documentation

#2163 Add pulsar-version comment for future reference
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/documentation

#2167 FunctionActioner should set the type class name for both source and sink
  pom.xml
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/CassandraContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarClusterTestBase.java
  tests/integration/semantics/pom.xml
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/functions/runtime/PulsarFunctionsRuntimeTest.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/io/CassandraSinkTester.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOSinkTest.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/io/SinkTester.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/utils/TestUtils.java
Labels: component/connect

#2168 fixing protobuf schema shading issue
  pom.xml
  pulsar-broker/pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-schema/pom.xml
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/api/SchemaSerializationException.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/BytesSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/JSONSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/ProtobufSchema.java
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/StringSchema.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/AvroSchemaTest.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/JSONSchemaTest.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/ProtobufSchemaTest.java
  pulsar-client-schema/src/test/proto/Test.proto
  pulsar-client-shaded/pom.xml
  pulsar-client/pom.xml
  pulsar-client/src/test/java/org/apache/pulsar/client/schema/DefaultSchemasTest.java
Labels: component/build, component/schemaregistry

#2130 Add function metrics with function-stats to get metrics on-demand
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/python/InstanceCommunication_pb2.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
Labels: component/functions

#2169 Add kinesis-sink user metrics to sinkContext
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
Labels: component/functions

#2172 If auth is badly configured in c++, close the connection
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/python/pulsar_test.py
Labels: component/c++

#2176 Issue 2119: TopicPatternSubscription doesn't work through proxy
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
Labels: component/proxy, type/bug

#2101 Migrate compaction and s3 offload test to testcontainers
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/S3Container.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarClusterSpec.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarClusterTestBase.java
  tests/integration/compaction/pom.xml
  tests/integration/compaction/src/test/java/org/apache/pulsar/tests/integration/TestCompaction.java
  tests/integration/compaction/src/test/resources/arquillian.xml
  tests/integration/s3-offload/pom.xml
  tests/integration/s3-offload/src/test/java/org/apache/pulsar/tests/integration/TestS3Offload.java
  tests/integration/s3-offload/src/test/resources/arquillian.xml
Labels: component/test, type/task

#2173 Removed GPL deps on gnu crypto from aerospike connector
  pulsar-io/aerospike/pom.xml
Labels: component/build

#2178 Inherit I/O streams in functions process runtime
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
Labels: component/functions, type/enhancement

#2170 Add integration test for kafka sink
  pom.xml
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/KafkaContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/containers/KafkaProxyContainer.java
  tests/integration-tests-topologies/src/main/java/org/apache/pulsar/tests/topologies/PulsarCluster.java
  tests/integration/semantics/pom.xml
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/io/CassandraSinkTester.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/io/KafkaSinkTester.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOSinkTest.java
  tests/integration/semantics/src/test/java/org/apache/pulsar/tests/integration/io/SinkTester.java
Labels: component/connect, component/test, type/task

#2175 Don't dirty the tree when building in CI
  .gitignore
Labels: component/build, type/enhancement

#2186 Issue 1288: Provide documentation for running BookKeeper auto-recovery
  deployment/terraform-ansible/templates/bookkeeper.conf
  site/docs/latest/deployment/cluster.md
Labels: component/documentation, component/website

#2181 augmenting protoschema with info for parsing
  pulsar-client-schema/src/main/java/org/apache/pulsar/client/impl/schema/ProtobufSchema.java
  pulsar-client-schema/src/test/java/org/apache/pulsar/client/schema/ProtobufSchemaTest.java
  pulsar-client-schema/src/test/proto/Test.proto
Labels: component/schemaregistry

#2177 Allow construction of c++ builtin auth plugins via factory
  pulsar-client-cpp/include/pulsar/Authentication.h
  pulsar-client-cpp/lib/Authentication.cc
  pulsar-client-cpp/lib/auth/AuthAthenz.h
  pulsar-client-cpp/lib/auth/AuthTls.cc
  pulsar-client-cpp/lib/auth/AuthTls.h
  pulsar-client-cpp/python/pulsar_test.py
Labels: component/c++, component/client, type/enhancement

#2198 Add support to configure subscription name for sink-function
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
Labels: component/functions

#2196 Improved dashboard documentation with warning on advertised address
  site/docs/latest/admin/Dashboard.md
  site/docs/latest/getting-started/docker.md
Labels: component/documentation

#2197 unshade avro in pulsar-client-schema
  pulsar-client-schema/pom.xml
Labels: type/enhancement

#2202 attach shaded artifact while deploying to maven-repo
  pulsar-functions/runtime-all/pom.xml
Labels: component/functions

#2201 function-instance lookup: retrieve function instance owner's workerId
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/proto/src/main/proto/InstanceCommunication.proto
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: component/functions

#2187 Removed the `Context.ack(byte[] messageId)` and expose `Record` instead
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Record.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/Event.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/EventImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutor.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowManager.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutorTest.java
Labels: type/enhancement

#2065 GCS offload support(2): replace `s3client` api with `jclouds` related api
  conf/broker.conf
  distribution/server/src/assemble/LICENSE.bin.txt
  jclouds-shaded/pom.xml
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/offload/impl/BlobStoreBackedInputStreamImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/offload/impl/BlobStoreBackedReadHandleImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/offload/impl/BlobStoreManagedLedgerOffloader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/offload/BlobStoreBackedInputStreamTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/offload/BlobStoreTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/offload/S3Mock.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/offload/impl/BlobStoreManagedLedgerOffloaderTest.java
  tests/integration-tests-topologies/src/main/resources/cube-definitions/single-cluster-2-bookie-1-broker-unstarted-with-s3.yaml
Labels: component/tieredstorage, type/enhancement

#2200 support subscription-type to be passed in sink-function
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
Labels: component/connect

#2205 Issue #2204: support v2 namespace in cpp client
  pulsar-client-cpp/lib/NamespaceName.cc
  pulsar-client-cpp/lib/NamespaceName.h
  pulsar-client-cpp/lib/TopicName.cc
  pulsar-client-cpp/tests/NamespaceNameTest.cc
Labels: component/c++, type/task

#2215 Add option to retrieve schema for a topic from pulsar client
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/ClientGetSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/JsonSchemaCompatibilityCheckTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/PulsarDecoder.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/SchemaInfo.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: type/enhancement

#2209 Exclude helm files from Apache Rat Check.
  pom.xml
Labels: component/build, type/bug

#2208 Fix License Issue
  distribution/server/src/assemble/LICENSE.bin.txt
Labels: component/build, type/bug

#2213 Add authorization support on function apis
  conf/functions_worker.yml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/worker/pom.xml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/FunctionApiResource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: type/enhancement

#2218 set worker port to be broker service port when running worker with broker
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/functions, type/bug

#2151 GCS offload support(3): add configs to support GCS driver
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/offload/impl/BlobStoreManagedLedgerOffloader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/offload/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: component/tieredstorage, type/feature

#2203 Make sure schema is initialized before the topic is loaded
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: type/bug

#2224 Fixed ack message tracker cleanup for single message batches
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/UnAcknowledgedMessagesTimeoutTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug

#2226 Fix implementation of equals() for MessageId
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageIdImplTest.java
Labels: component/client, type/bug

#2189 dumpContainerDirToTargetCompressed should copy files to a containerName named directory
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/utils/DockerUtils.java
Labels: component/test

#2192 Rename Netty native libs to reflect shading prefix
  pulsar-broker-shaded/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-shaded/pom.xml
  src/rename-netty-native-libs.sh
Labels: component/build, type/bug

#2212 Pull docker images before running integration tests
  tests/scripts/pre-integ-tests.sh
Labels: component/test, type/task

#2223 fix bug in FunctionRuntimeManager involving not cleaning up old invalid assignments
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
Labels: type/bug

#2229 C++ should default not allow insecure connections with TLS
  pulsar-client-cpp/lib/ClientConfigurationImpl.h
Labels: type/enhancement

#2228 More detailed documentation to config file for TLS
  conf/broker.conf
  conf/client.conf
  conf/proxy.conf
Labels: component/config, component/documentation, type/enhancement

#2225 Set empty response to complete grpc txn
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
Labels: type/bug

#2227 Fix TestS3Offload
  pulsar-broker/src/main/java/org/apache/pulsar/broker/offload/impl/BlobStoreManagedLedgerOffloader.java
Labels: component/test, component/tieredstorage, type/bug

#2230 Make doc image links work when there is a base path.
  site2/docs/administration-geo.md
  site2/docs/administration-zk-bk.md
  site2/docs/cookbooks-encryption.md
  site2/docs/cookbooks-tiered-storage.md
  site2/docs/deploy-bare-metal.md
  site2/docs/deploy-dcos.md
  site2/docs/developing-binary-protocol.md
  site2/docs/functions-overview.md
  site2/docs/getting-started-concepts-and-architecture.md
  site2/docs/io-overview.md
  site2/docs/security-encryption.md
Labels: component/documentation

#2222 Add script and README for publishing `pulsar-build` image
  build/docker/README.md
  build/docker/publish.sh
Labels: component/build, type/task

#2233 [integration tests] Return exit code as part of execution result of running a command in testcontainers
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/compaction/TestCompaction.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ChaosContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/docker/ContainerExecResult.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/runtime/PulsarFunctionsRuntimeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOSinkTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOSourceTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/smoke/SmokeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/utils/DockerUtils.java
Labels: component/test, type/task

#2231 Add search bar to new site.
  site2/website/siteConfig.js
Labels: component/website, type/task

#2232 Fix Spelling Mistake in class
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/JavaNativeExclamationFunction.java
  site/docs/latest/functions/api.md
  site2/docs/functions-api.md
Labels: component/documentation, type/bug

#2199 Cleanup unnecessary casting and creating variables
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
Labels: component/functions

#2238 [website] Expand the includes `admin-api-partitioned-topics.md`
  site2/docs/admin-api-partitioned-topics.md
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation, component/website, type/task

#2182 Issue 2110: get-retention returns retentionSizeInMB as 0 when set to -1
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  site/_data/cli/pulsar-admin.yaml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/cli, type/bug

#2239 [build][docker] Add zip and unzip to pulsar-build docker image
  build/docker/Dockerfile
Labels: component/build, type/bug

#2185 Clean up sidebar menu under `Deployment`
  site/_data/sidebar.yaml
Labels: component/documentation, component/website, type/task

#1134 Docker compose files for pulsar
  tests/compose/README.md
  tests/compose/multi/docker-compose.yml
  tests/compose/simple/docker-compose.yml
Labels: component/deploy

#2241 [website] fix sidebar
  site2/docs/adaptors-kafka.md
  site2/docs/client-libraries-websocket.md
  site2/docs/cookbooks-deduplication.md
  site2/docs/developing-codebase.md
  site2/website/sidebars.json
Labels: component/documentation, component/website, type/bug

#2242 [build] Add `yarn.lock` into gitignore file
  .gitignore
Labels: component/build, type/task

#2234 add stats entry for active consumer name and endpoint to get leader of functions cluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
Labels: component/functions

#2243 [website] add a terminology page and replace popovers with hyperlinks
  site2/docs/admin-api-brokers.md
  site2/docs/admin-api-clusters.md
  site2/docs/admin-api-namespaces.md
  site2/docs/admin-api-overview.md
  site2/docs/admin-api-tenants.md
  site2/docs/administration-dashboard.md
  site2/docs/administration-geo.md
  site2/docs/administration-zk-bk.md
  site2/docs/client-libraries-go.md
  site2/docs/client-libraries-java.md
  site2/docs/client-libraries-websocket.md
  site2/docs/cookbooks-deduplication.md
  site2/docs/cookbooks-message-queue.md
  site2/docs/cookbooks-non-persistent.md
  site2/docs/cookbooks-partitioned.md
  site2/docs/cookbooks-retention-expiry.md
  site2/docs/deploy-aws.md
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/deploy-dcos.md
  site2/docs/deploy-kubernetes.md
  site2/docs/developing-binary-protocol.md
  site2/docs/functions-api.md
  site2/docs/functions-deploying.md
  site2/docs/functions-overview.md
  site2/docs/functions-quickstart.md
  site2/docs/getting-started-concepts-and-architecture.md
  site2/docs/reference-terminology.md
  site2/docs/security-athenz.md
  site2/docs/security-authorization.md
  site2/docs/security-tls.md
  site2/website/sidebars.json
Labels: component/documentation, component/website, type/task

#2244 Fix batching time in perf producer to allow to disable batching
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: type/enhancement

#2240 remove redundant endpoint to get workers in cluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
Labels: component/functions, type/task

#2246 add function-name reference with function failure log
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
Labels: component/functions

#2245 [website] fix javadoc template
  site2/docs/admin-api-brokers.md
  site2/docs/admin-api-clusters.md
  site2/docs/admin-api-namespaces.md
  site2/docs/admin-api-overview.md
  site2/docs/administration-dashboard.md
  site2/docs/administration-geo.md
  site2/docs/client-libraries-java.md
  site2/docs/cookbooks-partitioned.md
  site2/docs/deploy-kubernetes.md
  site2/docs/functions-api.md
  site2/docs/functions-metrics.md
  site2/docs/getting-started-concepts-and-architecture.md
  site2/website/scripts/replace.js
  site2/website/siteConfig.js
Labels: component/website

#2247 [website] Add versions page
  site2/website/oldversions.json
  site2/website/pages/en/download.js
  site2/website/pages/en/release-notes.js
  site2/website/pages/en/versions.js
  site2/website/siteConfig.js
Labels: component/website, type/task

#2249 Throw exception on non-zero command exit in integ tests
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ChaosContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/docker/ContainerExecException.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/runtime/PulsarFunctionsRuntimeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOSinkTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOSourceTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/utils/DockerUtils.java
Labels: component/test, type/enhancement

#2248 [website] remove `reference-auth.md`
  site2/docs/reference-auth.md
  site2/website/sidebars.json
Labels: component/website, type/task

#2255 [website] Add contribution guide to README.md
  site2/README.md
Labels: component/website, type/task

#2257 Fix: function-cli avoid arg-type check and class-loading for file url
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: type/bug

#2268 Use HTTPs for downloads in new website
  site2/website/pages/en/download.js
  site2/website/siteConfig.js
Labels: component/website

#2270 Fix the sample code in Metrics for Pulsar Functions document
  site/docs/latest/functions/metrics.md
Labels: component/documentation

#2267 Open site links in new windows
  site2/website/core/Footer.js
  site2/website/pages/en/contact.js
  site2/website/static/js/custom.js
Labels: component/website

#2258 Derive source/sink arg-class name from function-class for file-url
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: type/bug

#2269 handle subscription-already-exist exception on partitioned-topic for create-sub admin-api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/CreateSubscriptionTest.java
Labels: type/bug

#2251 [website] Enable Translation & Localization
  .gitignore
  build/docker/Dockerfile
  site2/crowdin.yaml
  site2/tools/docker-build-site.sh
  site2/website/languages.js
  site2/website/package.json
  site2/website/pages/en/contact.js
  site2/website/pages/en/download.js
  site2/website/pages/en/index.js
  site2/website/pages/en/versions.js
  site2/website/siteConfig.js
Labels: component/website, type/task

#2263 Fixed Spelling.
  pulsar-functions/scripts/python/setup.py.template
Labels: component/documentation
