Repository apache/pulsar, pull requests merged in 2018-06, with the labels that each got.

#1881 [functions] Dont shade log4j2 in java runtime instance
  pulsar-functions/runtime-all/pom.xml
Labels: component/functions

#1884 Made the logging file names uniform accross threaded and process modes
  conf/log4j2.yaml
Labels: component/functions

#1882 Fixed event time metadata on batched messages
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Message.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/client, type/bug

#1887 Upgrade RocksDb to 5.13.1
  all/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: type/bug

#1866 Make supervisord wait a single command
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/PulsarClusterUtils.java
Labels: component/test, type/enhancement

#1883 All user supplied arguments have to be properly typed
  pulsar-functions/instance/src/main/python/contextimpl.py
Labels: component/functions

#1880 removing allowing users set subscription type
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSinkConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSourceConfig.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions

#1890 Fixed the filename of the log files in threaded mode
  conf/log4j2.yaml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions

#1892 S3BackedInputStream seeks within current buffer if possible
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/S3BackedInputStreamImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/S3BackedInputStreamTest.java
Labels: component/tieredstorage

#1885 allow users to specify message timeout for functions
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSourceConfig.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions

#1896 When fetching from kafka, specify to get the earliest of messages
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSource.java
Labels: component/functions

#1898 Simplify PushSource
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/PushSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSource.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSource.java
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHose.java
Labels: component/functions

#1897 improving source and sink validation
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ConfigValidationAnnotations.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions

#1888 Move UUID in S3 object name to start
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/S3ManagedLedgerOffloader.java
Labels: component/tieredstorage

#1889 Encrypted or compressed payloads can be compacted out if empty
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/enhancement

#1764 Pulsar Go client library
  pom.xml
  pulsar-client-cpp/include/pulsar/c/client_configuration.h
  pulsar-client-cpp/include/pulsar/c/message.h
  pulsar-client-cpp/include/pulsar/c/string_map.h
  pulsar-client-cpp/lib/ClientConfigurationImpl.h
  pulsar-client-cpp/lib/LogUtils.cc
  pulsar-client-cpp/lib/LogUtils.h
  pulsar-client-cpp/lib/SimpleLoggerImpl.cc
  pulsar-client-cpp/lib/c/cStringMap.cc
  pulsar-client-cpp/lib/c/c_Client.cc
  pulsar-client-cpp/lib/c/c_ClientConfiguration.cc
  pulsar-client-cpp/lib/c/c_Message.cc
  pulsar-client-cpp/lib/c/c_structs.h
  pulsar-client-go/examples/consumer-listener/consumer-listener.go
  pulsar-client-go/examples/consumer/consumer.go
  pulsar-client-go/examples/producer/producer.go
  pulsar-client-go/examples/reader/reader.go
  pulsar-client-go/pulsar/c_client.go
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/c_error.go
  pulsar-client-go/pulsar/c_go_pulsar.h
  pulsar-client-go/pulsar/c_message.go
  pulsar-client-go/pulsar/c_producer.go
  pulsar-client-go/pulsar/c_reader.go
  pulsar-client-go/pulsar/client.go
  pulsar-client-go/pulsar/consumer.go
  pulsar-client-go/pulsar/consumer_test.go
  pulsar-client-go/pulsar/error.go
  pulsar-client-go/pulsar/logger.go
  pulsar-client-go/pulsar/message.go
  pulsar-client-go/pulsar/pointer.go
  pulsar-client-go/pulsar/producer.go
  pulsar-client-go/pulsar/producer_test.go
  pulsar-client-go/pulsar/reader.go
  pulsar-client-go/pulsar/reader_test.go
  pulsar-client-go/pulsar/util_test.go
Labels: component/client, type/feature

#1864 Increase watch-znode.py connection timeout
  docker/pulsar/scripts/watch-znode.py
Labels: component/test

#1901 Estimate the size of a managed ledger suffix from a position
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: component/tieredstorage

#1900 Add tiered storage configuration to website reference
  site/_data/config/broker.yaml
Labels: component/documentation, component/tieredstorage

#1899 allowing users to specify function jar in yml file
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ConfigValidationAnnotations.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions

#1894 Removed link to md5 checksums in download page
  site/download.md
Labels: component/website

#1893 Include functions in pulsar-client Python package
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar/functions/__init__.py
  pulsar-client-cpp/python/pulsar/functions/context.py
  pulsar-client-cpp/python/pulsar/functions/function.py
  pulsar-client-cpp/python/pulsar/functions/serde.py
  pulsar-functions/runtime/pom.xml
Labels: component/build, type/bug

#1905 fix bug in setting the record sequence in Pulsar source and sink
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
Labels: component/functions

#1906 Fixed message routing mode in Py client
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
Labels: type/bug

#1863 Cpp client: add seek support in consumer for cpp client
  pulsar-client-cpp/include/pulsar/Consumer.h
  pulsar-client-cpp/include/pulsar/c/consumer.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/Consumer.cc
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ConsumerImplBase.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/lib/c/c_Consumer.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++

#1853 improving error messages when loading configs
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/utils/CmdUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
Labels: component/functions

#1910 Add compaction threshold policy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
Labels: type/feature

#1909 Use consistent naming for cluster envvar in integ test
  tests/docker-images/latest-version-image/scripts/init-cluster.sh
  tests/docker-images/latest-version-image/scripts/run-bookie.sh
  tests/docker-images/latest-version-image/scripts/run-broker.sh
  tests/docker-images/latest-version-image/scripts/run-proxy.sh
  tests/integration-tests-topologies/src/main/resources/cube-definitions/single-cluster-2-bookie-1-broker-unstarted-with-s3.yaml
  tests/integration-tests-topologies/src/main/resources/cube-definitions/single-cluster-3-bookie-2-broker-unstarted.yaml
  tests/integration-tests-topologies/src/main/resources/cube-definitions/single-cluster-3-bookie-2-broker.yaml
Labels: component/test, type/enhancement

#1914 Fix: GLIBC_2.14 dep issue for protoc-3.5.0-linux-x86_64
  managed-ledger/pom.xml
  pom.xml
  pulsar-broker/pom.xml
  pulsar-functions/proto/pom.xml
Labels: component/build

#1920 Added authentication support in Go client lib
  pulsar-client-cpp/homebrew/libpulsar.rb
  pulsar-client-go/pulsar/c_client.go
  pulsar-client-go/pulsar/c_go_pulsar.h
  pulsar-client-go/pulsar/client.go
Labels: component/go

#1915 Monitor thread to check if topics need compaction
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  site/_data/config/broker.yaml
Labels: type/feature

#1923 Upgrade Lombok to 1.18.0 to work with JDK 10
  all/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: type/bug, type/task

#1925 fix func pkgUrl validation
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
Labels: type/bug

#1919 Add pulsar python client osx vagrant templates
  .gitignore
  pulsar-client-cpp/python/pkg/osx/build.sh.template
  pulsar-client-cpp/python/pkg/osx/generate-all-wheel.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python2.7/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python2.7/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python2.7/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python3.6/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python3.6/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python3.6/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python2.7/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python2.7/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python2.7/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python3.6/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python3.6/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python3.6/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python2.7/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python2.7/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python2.7/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python3.6/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python3.6/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python3.6/generate-wheel-file.sh
Labels: component/build

#1903 Support pulsar source to start consumer with topic patterns
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSourceConfig.java
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
Labels: component/functions, type/enhancement

#1930 Make Python code work with Pulsar Function localrun
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/main/python/util.py
Labels: component/functions, type/bug

#1904 Introduce kinesis sink on function
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-functions/worker/pom.xml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-io/kinesis/pom.xml
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/AwsCredentialProviderPlugin.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
  pulsar-io/pom.xml
Labels: component/functions, type/enhancement

#1937 Fix doc build error on broker config
  site/_data/config/broker.yaml
Labels: component/website

#1936 Cpp client: fix flaky seek test
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client

#1934 Added a bunch of concrete sources/sinks so that they are usable without having to write code
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeAbstractSink.java
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeStringSink.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraAbstractSink.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraStringSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaStringSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaStringSource.java
Labels: component/connect

#1935 Add Client auth plugin and tls support for function to connect with broker
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/AuthenticationConfig.java
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
Labels: type/enhancement

#1939 Instructions to build site on linux without root
  site/README.md
  site/scripts/python-doc-gen.sh
Labels: component/documentation, component/tieredstorage, type/task

#1945 Fix: managedledger factory shutdown stuck when any of ledger future-result is not completed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
Labels: type/bug

#1946 Use broker advertisedAddress + tls url in function worker
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
Labels: type/enhancement

#1924 Rest API, AdminClient and CLI for compaction threshold
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  tests/integration-tests-topologies/src/main/resources/cube-definitions/single-cluster-3-bookie-2-broker.yaml
  tests/integration/compaction/src/test/java/org/apache/pulsar/tests/integration/TestCompaction.java
Labels: component/compaction, type/task

#1911 OffloadIndex should have metadata len immediately before metadata
  pulsar-broker/src/main/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexBlockImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/s3offload/impl/OffloadIndexTest.java
Labels: component/tieredstorage, type/enhancement

#1760 Pulsar Functions resource docs
  site/_data/cli/pulsar-admin.yaml
  site/docs/latest/admin-api/persistent-topics.md
  site/docs/latest/functions/deployment.md
  site/docs/latest/functions/overview.md
Labels: component/documentation, component/functions

#1940 Fix reference configuration display
  site/_sass/_docs.scss
Labels: component/documentation, component/website, type/bug

#1947 fix: jackson conflict dependency version
  pom.xml
Labels: component/build

#1858 Cpp client: add readCompacted in consumer config
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/include/pulsar/ReaderConfiguration.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/reader_configuration.h
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ReaderConfiguration.cc
  pulsar-client-cpp/lib/ReaderConfigurationImpl.h
  pulsar-client-cpp/lib/ReaderImpl.cc
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/lib/c/c_ReaderConfiguration.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/config.cc
  pulsar-client-cpp/tests/ConsumerConfigurationTest.cc
Labels: component/c++

#1917 adding avro schema
  pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-shaded/pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/proto/SchemaRegistryFormat.proto
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/AvroSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleTypedProducerConsumerTest.java
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/schemas/AvroSchemaTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/schemaregistry

#1948 Documentation for threshold based compaction
  site/_data/cli/pulsar-admin.yaml
  site/docs/latest/cookbooks/compaction.md
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
Labels: component/compaction, component/documentation, type/task

#1907 Added documentation for authn & authz plugins
  site/_data/sidebar.yaml
  site/docs/latest/reference/CustomAuth.md
Labels: component/documentation

#1951 Fixed Python sample code
  site/docs/latest/clients/Python.md
Labels: component/documentation

#1921 Simplified authentication wiht Python client lib
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/authentication.cc
  pulsar-client-cpp/python/src/utils.h
Labels: component/python, type/enhancement

#1954 adding protobuf schema check support
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/ProtobufSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaCompatibilityStrategy.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/AvroSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleTypedProducerConsumerTest.java
  pulsar-broker/src/test/proto/ProtobufSchemaTest.proto
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ProtobufSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/schemas/ProtobufSchemaTest.java
  pulsar-client/src/test/proto/Test.proto
Labels: component/schemaregistry

#1955 Workaround for ZK 3.4->3.5 upgrade
  all/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/FileTxnSnapLogWrapper.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
  pulsar-zookeeper/pom.xml
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperServerAspect.java
Labels: type/bug

#1952 Fix race in MultiTopicsConsumerImpl#redeliverUnacknowledgedMessages
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug

#1961 Remove potential deadlock in offloading
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/bug

#1960 Trigger offload when managed ledger reaches a size threshold
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerException.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
Labels: type/feature

#1958 Remove duplication in CLI validation code
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CliCommand.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: type/cleanup

#1957 Update pulsar cpp client docs
  site/docs/latest/clients/Cpp.md
Labels: component/documentation

#1959 Fixed authorization for REST API provided by WebSocket proxy
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/admin/WebSocketWebResource.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/admin/WebSocketWebResourceTest.java
Labels: type/bug

#1966 Typo compaction threshold rest api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: component/compaction

#1965 Allow ML offload immediately after ledger closed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
Labels: component/tieredstorage

#1962 Human readable sizes when triggering offload
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  tests/integration/s3-offload/src/test/java/org/apache/pulsar/tests/integration/TestS3Offload.java
Labels: component/tieredstorage

#1969 Issue #1722: Fix copy-paste error in ConsumerBuilder javadoc
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
Labels: component/documentation

#1968 Capture zookeeper journal when integration tests end
  tests/integration-tests-topologies/src/main/resources/cube-definitions/single-cluster-2-bookie-1-broker-unstarted-with-s3.yaml
  tests/integration-tests-topologies/src/main/resources/cube-definitions/single-cluster-3-bookie-2-broker-unstarted.yaml
  tests/integration-tests-topologies/src/main/resources/cube-definitions/single-cluster-3-bookie-2-broker.yaml
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/DockerUtils.java
  tests/integration-tests-utils/src/main/java/org/apache/pulsar/tests/ZKJournalToTargetDirStopAction.java
Labels: component/test

#1944 Add CLI commands for schema registry
  conf/schema_example.conf
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/LongSchemaVersion.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Schemas.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SchemasImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSchemas.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/DeleteSchemaResponse.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/EmptyVersion.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/GetSchemaResponse.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/LatestVersion.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/PostSchemaPayload.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/PostSchemaResponse.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/SchemaInfo.java
  tests/integration/cli/src/test/java/org/apache/pulsar/tests/integration/TestCLI.java
Labels: type/enhancement

#1974 Fixed shading of pulsar-client and pulsar-client-admin
  pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-common/pom.xml
  pulsar-functions/proto/pom.xml
Labels: component/build

#1975 Improved instruction for getting started with C++ client lib
  site/_data/sidebar.yaml
  site/docs/latest/clients/Cpp.md
  site/docs/latest/project/CompileCpp.md
Labels: component/documentation

#1973 Offload threshold policy for namespaces
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PersistentTopicInternalStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  tests/integration/s3-offload/src/test/java/org/apache/pulsar/tests/integration/TestS3Offload.java
Labels: type/enhancement

#1941 Tiered Storage documentation
  site/_data/cli/pulsar-admin.yaml
  site/_data/sidebar.yaml
  site/docs/latest/cookbooks/tiered-storage.md
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
  site/img/pulsar-tiered-storage.png
Labels: component/documentation, component/tieredstorage

#1976 Adding version 1.22.1 to archived_releases
  site/_config.yml
Labels: component/website

#1972 Add documentation and flexible aws-credential plugin to support aws-role
  pulsar-io/kinesis/pom.xml
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/AwsCredentialProviderPlugin.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/KinesisSinkTest.java
Labels: type/enhancement

#1982 Issue 1918: Improve message id comparison
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageIdImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageIdCompareToTest.java
Labels: component/client, type/enhancement

#1983 Add documentation for schema CLI
  site/_data/cli/pulsar-admin.yaml
Labels: component/documentation, component/schemaregistry, type/task

#1977 Enable listener to receive messages even if receiver queue size is zero
  .gitignore
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ZeroQueueSizeTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, type/bug

#1985 Added release notes for 2.0.1-incubating release
  site/_config.yml
  site/release-notes.md
Labels: component/website

#1984 Remove `--advertised-address` from docker getting-started section
  site/docs/latest/getting-started/docker.md
Labels: component/documentation, type/task

#1989 add bk dependency to fun-worker for runtime execution
  pulsar-functions/worker/pom.xml
Labels: type/bug

#1986 Fixed message popover def
  site/_data/popovers.yaml
Labels: component/documentation

#1990 Fixed libgtest path in document
  site/docs/latest/project/CompileCpp.md
Labels: component/documentation

#1992 Fixed python extension build
  pulsar-client-cpp/docker/build-wheel-file-within-docker.sh
  pulsar-client-cpp/docker/build-wheels.sh
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/setup.py
Labels: component/build

#1956 Add function-package-url support in function cli add url support to function cli
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/validation/ValidatorImpls.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: type/enhancement

#1988 Fix: avoid closing RuntimeFactory when any function stops
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: type/bug

#1998 Fix spelling typos
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, type/bug

#1922 Enable bookkeeper table service in pulsar standalone
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-client-cpp/run-unit-tests.sh
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/pom.xml
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-functions/instance/pom.xml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: component/functions

#1845 Functions schema integration
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-functions/api-java/pom.xml
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/SerDe.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/AbstractOneOuputTopicProducers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOuputTopicProducers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/producers/Producers.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOutputTopicProducersTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
Labels: component/functions, component/schemaregistry

#1999 Upgrade to RocksDB-5.13.3
  all/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: type/bug

#1861 Cpp client: add getLastMessageId and hasMessageAvailable in consmer and reader
  pulsar-client-cpp/include/pulsar/MessageId.h
  pulsar-client-cpp/include/pulsar/Reader.h
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientConnection.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/Reader.cc
  pulsar-client-cpp/lib/ReaderImpl.cc
  pulsar-client-cpp/lib/ReaderImpl.h
  pulsar-client-cpp/tests/ReaderTest.cc
Labels: component/c++

#1871 Compaction documentation follow-up
  site/docs/latest/cookbooks/compaction.md
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
Labels: component/documentation, type/task

#2002 Enable CRC32-C by default in BK client
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  site/release-notes.md
Labels: type/enhancement

#2006 Improve pulsar-client shading
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-shaded/pom.xml
  tests/integration/s3-offload/pom.xml
Labels: component/client, type/bug

#2008 Cpp client: add consumer.seek in python client
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/consumer.cc
Labels: component/client, component/python

#1997 Fix: set visibility,exclude-libs options to CMAKE_CXX_FLAGS
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/BoostHash.h
  pulsar-client-cpp/lib/CMakeLists.txt
  pulsar-client-cpp/lib/JavaStringHash.h
  pulsar-client-cpp/lib/Murmur3_32Hash.h
  pulsar-client-cpp/lib/RoundRobinMessageRouter.h
  pulsar-client-cpp/lib/SinglePartitionMessageRouter.h
  pulsar-client-cpp/lib/TopicMetadataImpl.h
  pulsar-client-cpp/lib/auth/CMakeLists.txt
  pulsar-client-cpp/lib/auth/athenz/CMakeLists.txt
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/c++

#1838 Pulsar Go client docs
  site/_data/popovers.yaml
  site/_data/sidebar.yaml
  site/docs/latest/admin/Authz.md
  site/docs/latest/clients/go.md
Labels: component/documentation

#2010 Enable C++ message listener to receive messages even if receiver queu…
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/tests/ZeroQueueSizeTest.cc
Labels: component/c++, type/bug

#2004 Issue 1943: remove serializable from builders and add loadData to load configuration from a config map
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ConsumerEventListener.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/CryptoKeyReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/MessageId.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConfigurationDataUtils.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ConfigurationDataUtilsTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/producers/MultiConsumersOneOutputTopicProducersTest.java
Labels: component/client, type/bug

#2015 Add trademark for "Apache Pulsar" on website footer
  site/_includes/footer.html
Labels: component/website

#2017 Use single instances for compression codec providers
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecProvider.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecZLib.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressorCodecTest.java
Labels: type/enhancement

#1895 Pulsar proxy configuration docs
  conf/proxy.conf
  site/_data/config/proxy.yaml
  site/docs/latest/admin/Proxy.md
  site/docs/latest/reference/Configuration.md
Labels: component/documentation

#2020 Remove pulsar-common dependency from pulsar-io-core module and cleanup pulsar-common dependency references
  pulsar-broker/pom.xml
  pulsar-client-admin/pom.xml
  pulsar-client-tools/pom.xml
  pulsar-functions/worker/pom.xml
  pulsar-io/aerospike/pom.xml
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeAbstractSink.java
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeStringSink.java
  pulsar-io/cassandra/pom.xml
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraAbstractSink.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraStringSink.java
  pulsar-io/core/pom.xml
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/KeyValue.java
  pulsar-io/kafka/pom.xml
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaStringSink.java
  pulsar-io/kinesis/pom.xml
  pulsar-io/rabbitmq/pom.xml
  pulsar-proxy/pom.xml
  pulsar-websocket/pom.xml
Labels: component/functions, type/bug

#1987 add admin-api to update function with url
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
Labels: type/enhancement

#2021 Add TLS certs to testing docker image
  tests/certificate-authority/README.md
  tests/certificate-authority/certs/ca.cert.pem
  tests/certificate-authority/client-keys/admin.cert.pem
  tests/certificate-authority/client-keys/admin.csr.pem
  tests/certificate-authority/client-keys/admin.key-pk8.pem
  tests/certificate-authority/client-keys/admin.key.pem
  tests/certificate-authority/index.txt
  tests/certificate-authority/index.txt.attr
  tests/certificate-authority/index.txt.attr.old
  tests/certificate-authority/index.txt.old
  tests/certificate-authority/newcerts/1000.pem
  tests/certificate-authority/newcerts/1001.pem
  tests/certificate-authority/openssl.cnf
  tests/certificate-authority/private/ca.key.pem
  tests/certificate-authority/serial
  tests/certificate-authority/serial.old
  tests/certificate-authority/server-keys/broker.cert.pem
  tests/certificate-authority/server-keys/broker.csr.pem
  tests/certificate-authority/server-keys/broker.key-pk8.pem
  tests/certificate-authority/server-keys/broker.key.pem
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/ssl/admin.cert.pem
  tests/docker-images/latest-version-image/ssl/admin.key-pk8.pem
  tests/docker-images/latest-version-image/ssl/broker.cert.pem
  tests/docker-images/latest-version-image/ssl/broker.key-pk8.pem
  tests/docker-images/latest-version-image/ssl/ca.cert.pem
Labels: component/test, type/task

#2011 Cpp client: python client wrapper for reader hasMessageAvaliable
  pulsar-client-cpp/include/pulsar/Reader.h
  pulsar-client-cpp/include/pulsar/c/reader.h
  pulsar-client-cpp/lib/c/c_Reader.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/reader.cc
Labels: component/client, component/python, type/feature

#2005 Added REST/CLI tools to manage bookies rack placement config
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Bookies.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/RackAwareTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Bookies.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BookiesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBookies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/BookieInfo.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/BookiesRackConfiguration.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMapping.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMappingTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
Labels: type/bug, type/enhancement

#2022 Remove jboss-reflect dependency
  pom.xml
  pulsar-functions/instance/pom.xml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/runtime-shaded/pom.xml
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Reflections.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/ReflectionsTest.java
Labels: component/functions, type/task

#2023 Update LICENSE & NOTICE for newly introduced or version-upgraded dependencies
  all/licenses/LICENSE-Hamcrest.txt
  all/src/assemble/LICENSE.bin.txt
  all/src/assemble/NOTICE.bin.txt
Labels: type/task

#2026 Fixup misleading text in compaction cookbook
  site/docs/latest/cookbooks/compaction.md
Labels: component/documentation

#2019 Added message parser to decode raw headers and payload without a Consumer instance
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageParserTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageParser.java
Labels: type/enhancement

#1993 Helm charts for deployment on GKE
  deployment/kubernetes/helm/README.md
  deployment/kubernetes/helm/pulsar/.helmignore
  deployment/kubernetes/helm/pulsar/Chart.yaml
  deployment/kubernetes/helm/pulsar/templates/_helpers.tpl
  deployment/kubernetes/helm/pulsar/templates/autorecovery-configmap.yaml
  deployment/kubernetes/helm/pulsar/templates/autorecovery-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/bastion-configmap.yaml
  deployment/kubernetes/helm/pulsar/templates/bastion-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/bookkeeper-configmap.yaml
  deployment/kubernetes/helm/pulsar/templates/bookkeeper-pdb.yaml
  deployment/kubernetes/helm/pulsar/templates/bookkeeper-service.yaml
  deployment/kubernetes/helm/pulsar/templates/bookkeeper-statefulset.yaml
  deployment/kubernetes/helm/pulsar/templates/bookkeeper-storageclass.yaml
  deployment/kubernetes/helm/pulsar/templates/broker-configmap.yaml
  deployment/kubernetes/helm/pulsar/templates/broker-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/broker-pdb.yaml
  deployment/kubernetes/helm/pulsar/templates/broker-service.yaml
  deployment/kubernetes/helm/pulsar/templates/dashboard-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/dashboard-service.yaml
  deployment/kubernetes/helm/pulsar/templates/grafana-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/grafana-service.yaml
  deployment/kubernetes/helm/pulsar/templates/namespace.yaml
  deployment/kubernetes/helm/pulsar/templates/prometheus-configmap.yaml
  deployment/kubernetes/helm/pulsar/templates/prometheus-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/prometheus-pvc.yaml
  deployment/kubernetes/helm/pulsar/templates/prometheus-rbac.yaml
  deployment/kubernetes/helm/pulsar/templates/prometheus-service.yaml
  deployment/kubernetes/helm/pulsar/templates/prometheus-storageclass.yaml
  deployment/kubernetes/helm/pulsar/templates/proxy-configmap.yaml
  deployment/kubernetes/helm/pulsar/templates/proxy-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/proxy-pdb.yaml
  deployment/kubernetes/helm/pulsar/templates/proxy-service.yaml
  deployment/kubernetes/helm/pulsar/templates/zookeeper-configmap.yaml
  deployment/kubernetes/helm/pulsar/templates/zookeeper-metadata.yaml
  deployment/kubernetes/helm/pulsar/templates/zookeeper-pdb.yaml
  deployment/kubernetes/helm/pulsar/templates/zookeeper-service.yaml
  deployment/kubernetes/helm/pulsar/templates/zookeeper-statefulset.yaml
  deployment/kubernetes/helm/pulsar/templates/zookeeper-storageclass.yaml
  deployment/kubernetes/helm/pulsar/values.yaml
Labels: component/deploy

#2029 Fixed C99 variable initialization in cgo header
  pulsar-client-go/pulsar/c_go_pulsar.h
Labels: component/build

#2030 Change MessageProcessor Interface to be public
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageParser.java
Labels: type/bug

#2031 Added integer types casting to avoid compile errors with gcc-4.8
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/c_message.go
Labels: component/go

#2035 Exclude a few files from apache-rat:check
  pom.xml
Labels: component/build, type/task

#2039 Move AuthenticationFilter to pulsar-broker-common
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/AuthenticationFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
Labels: type/enhancement

#2040 Fix license in binary distribution
  all/licenses/LICENSE-JLine.txt
  all/licenses/LICENSE-xz.txt
  all/src/assemble/LICENSE.bin.txt
Labels: component/build

#2044 Add depedency on grpcio and protobuf for Python lib
  pulsar-client-cpp/python/setup.py
Labels: component/build, component/python

#2038 Inject AuthenticationService into ProxyService
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticatedProducerConsumerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyForwardAuthDataTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyRolesEnforcementTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationNegTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithoutServiceDiscoveryTest.java
Labels: component/proxy, component/test, type/task

#2028 Original principal authorization for admin API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/resources/authentication/tls-http/admin.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/admin.key-pk8.pem
  pulsar-broker/src/test/resources/authentication/tls-http/broker.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/broker.key-pk8.pem
  pulsar-broker/src/test/resources/authentication/tls-http/ca.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/proxy.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/proxy.key-pk8.pem
  pulsar-broker/src/test/resources/authentication/tls-http/superproxy.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/superproxy.key-pk8.pem
  tests/certificate-authority/client-keys/proxy.cert.pem
  tests/certificate-authority/client-keys/proxy.csr.pem
  tests/certificate-authority/client-keys/proxy.key-pk8.pem
  tests/certificate-authority/client-keys/proxy.key.pem
  tests/certificate-authority/client-keys/superproxy.cert.pem
  tests/certificate-authority/client-keys/superproxy.csr.pem
  tests/certificate-authority/client-keys/superproxy.key-pk8.pem
  tests/certificate-authority/client-keys/superproxy.key.pem
  tests/certificate-authority/index.txt
  tests/certificate-authority/index.txt.old
  tests/certificate-authority/newcerts/1002.pem
  tests/certificate-authority/newcerts/1003.pem
  tests/certificate-authority/newcerts/1004.pem
  tests/certificate-authority/serial
  tests/certificate-authority/serial.old
Labels: component/proxy, type/bug

#2046 Enable authentication and authorization for some admin APIs
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: type/bug

#2047 Fixed resetting of producer sequence id counter after receiving SendError before any message was successfully published
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/RackAwareTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug

#2049 Issue 1416: Docs about garbage collection are inaccurate/lacking
  site/docs/latest/admin/GeoReplication.md
Labels: component/documentation, component/website, type/bug
