Repository apache/pulsar, pull requests merged in 2019-04, with the labels that each got.

#3957 [client] Make dependency from client side auth plugins to pulsar-client-original optional
  pulsar-client-auth-athenz/pom.xml
  pulsar-client-auth-sasl/pom.xml
Labels: component/client

#3937 [pulsar-io] Some minor improvement of RabbitMQ IO Source
  pulsar-io/rabbitmq/pom.xml
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQAbstractConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSource.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSourceConfig.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/RabbitMQBrokerManager.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/source/RabbitMQSourceConfigTest.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/source/RabbitMQSourceTest.java
  pulsar-io/rabbitmq/src/test/resources/qpid.json
  pulsar-io/rabbitmq/src/test/resources/sourceConfig.yaml
  site2/docs/io-rabbitmq.md
Labels: component/io, type/enhancement

#3941 [Issue 3837][pulsar-client-tools]Delete schema when deleting a topic
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/cli, type/feature

#3885 [Issue 3884] [pulsar-io] Add a Pulsar IO connector for Solr sink
  pulsar-io/pom.xml
  pulsar-io/solr/pom.xml
  pulsar-io/solr/src/main/java/org/apache/pulsar/io/solr/SolrAbstractSink.java
  pulsar-io/solr/src/main/java/org/apache/pulsar/io/solr/SolrGenericRecordSink.java
  pulsar-io/solr/src/main/java/org/apache/pulsar/io/solr/SolrSinkConfig.java
  pulsar-io/solr/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/solr/src/test/java/org/apache/pulsar/io/solr/SolrGenericRecordSinkTest.java
  pulsar-io/solr/src/test/java/org/apache/pulsar/io/solr/SolrServerUtil.java
  pulsar-io/solr/src/test/java/org/apache/pulsar/io/solr/SolrSinkConfigTest.java
  pulsar-io/solr/src/test/resources/sinkConfig.yaml
  pulsar-io/solr/src/test/resources/solr.xml
  site2/docs/io-connectors.md
  site2/docs/io-solr.md
Labels: component/io

#3927 Added information about generate key location for jwt.
  site2/docs/security-token-admin.md
  site2/website/versioned_docs/version-2.2.1/security-token-admin.md
Labels: component/documentation

#3952 Refactor and consolidate Utils classes
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/Utils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/ComponentStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/UtilsTest.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ComponentType.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionDetailsUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Reflections.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/StateUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ValidatorUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functioncache/package-info.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/package-info.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionCommonTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinkImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourceImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/request/ServiceRequestManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions

#3793 Update connector download URL
  site2/docs/deploy-bare-metal.md
  site2/docs/getting-started-standalone.md
  site2/website/scripts/replace.js
  site2/website/versioned_docs/version-2.3.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.0/getting-started-standalone.md
Labels: component/website

#3959 [Doc] Refine language issues in administration-load-distribution.md
  site2/docs/administration-load-distribution.md
Labels: component/documentation, type/enhancement

#3955 [Flink] Allow to customize PulsarProducer
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
Labels: component/flink, component/io, type/enhancement

#3853 [Issue 3851] [pulsar-broker] Support to start broker use the port initialized in cluster metadata
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/deploy-bare-metal.md
Labels: component/documentation

#3960 Fixed reader reading from a partition
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, type/bug

#3949 [issue 3939] [pulsar-flink]: Allow client authentication from pulsar-flink package
  examples/flink/src/main/java/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchAvroSinkExample.java
  examples/flink/src/main/java/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchCsvSinkExample.java
  examples/flink/src/main/java/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchJsonSinkExample.java
  examples/flink/src/main/java/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchSinkExample.java
  examples/flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/example/PulsarConsumerSourceWordCount.java
  examples/flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/example/PulsarConsumerSourceWordCountToAvroTableSink.java
  examples/flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/example/PulsarConsumerSourceWordCountToJsonTableSink.java
  examples/flink/src/main/scala/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchAvroSinkScalaExample.scala
  examples/flink/src/main/scala/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchCsvSinkScalaExample.scala
  examples/flink/src/main/scala/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchJsonSinkScalaExample.scala
  examples/flink/src/main/scala/org/apache/flink/batch/connectors/pulsar/example/FlinkPulsarBatchSinkScalaExample.scala
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/BasePulsarOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarAvroOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarCsvOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarJsonOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarAvroTableSink.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarJsonTableSink.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilder.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarTableSink.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarAvroOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarCsvOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarJsonOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarAvroTableSinkTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarJsonTableSinkTest.java
Labels: component/flink, component/security, type/enhancement

#3848 [Issue-2122] [pulsar-client] Adding configuration for backoff strategy
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/Backoff.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BackoffBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpout.java
Labels: component/client, type/enhancement

#3965 [Issue 3963] [pulsar-io] Fix the path of redis-io yaml
  pulsar-io/redis/src/main/resources/META-INF/services/pulsar-io.yaml
Labels: component/io, type/bug

#3943 Remove deprecated PersistentTopics in favor of Topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorGlobalNSTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PersistentTopics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
Labels: component/cli, type/cleanup

#3979 Fix logic of checking variables inside KubernetesRuntime
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
Labels: component/functions

#3869 Fixed issue with Authorization header missing after client gets redirected
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/SameThreadOrderedSafeExecutor.java
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnectorProvider.java
  pulsar-client-admin/src/main/resources/org/asynchttpclient/config/ahc-default.properties
  pulsar-client-admin/src/main/resources/org/asynchttpclient/config/ahc.properties
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/token/PulsarTokenAuthenticationBaseSuite.java
Labels: type/bug

#3969 Cleanup temporary files created by functions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinkBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourceBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Functions.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/LocalRunner.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ValidatorUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinkImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourceImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions

#4000 Fix integration tests by pinning the version of python package
  docker/pulsar-standalone/Dockerfile
Labels: component/build, component/test, type/bug

#3961 [pulsar-broker] add producer/consumer id in error-logging
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/broker

#3995 Improve error handling for triggering function when there is a schema mismatch
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: component/functions

#3980 fix: bug when function auth is not enabled
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
Labels: component/functions, type/bug

#3994 fix bug when updating function running in effectively-once
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/functions, type/bug

#3990 improving getting version and git SHA
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/resources/pulsar-broker-version.properties
  pulsar-client/pom.xml
  pulsar-client/src/main/java-templates/org/apache/pulsar/PulsarVersion.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java-templates/org/apache/pulsar/PulsarVersion.java
  pulsar-common/src/test/java/org/apache/pulsar/AddMissingPatchVersionTest.java
Labels: component/build, type/enhancement

#3996 [Kubernetes] Added ingress resource to dashboard
  deployment/kubernetes/helm/pulsar/templates/dashboard-ingress.yaml
  deployment/kubernetes/helm/pulsar/values-mini.yaml
  deployment/kubernetes/helm/pulsar/values.yaml
Labels: component/deploy, type/enhancement

#3977 Provide a mechanism to disable uploading distribution packages
  distribution/pom.xml
Labels: component/build

#4003 [broker] Fix deadlock during GC of non-persistent topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
Labels: component/broker, type/bug

#4006 Fixed concurrent modification exception on function worker stop
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: type/bug

#3999 Don't pass any auth parameters when authentication is disabled
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
Labels: component/functions

#3984 Fixed issue in backoff builder configuration
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/Backoff.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug

#3988 [issue #3975] Bugfix NPE on non durable consumer
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
Labels: component/broker, type/bug

#3854 [issue #3767] support go function for pulsar
  pulsar-function-go/README.md
  pulsar-function-go/conf/conf.go
  pulsar-function-go/conf/conf.yaml
  pulsar-function-go/examples/contextFunc.go
  pulsar-function-go/examples/hello.go
  pulsar-function-go/examples/inputFunc.go
  pulsar-function-go/examples/outputFunc.go
  pulsar-function-go/examples/test/consumer.go
  pulsar-function-go/examples/test/producer.go
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
  pulsar-function-go/pb/Function.pb.go
  pulsar-function-go/pb/InstanceCommunication.pb.go
  pulsar-function-go/pb/Request.pb.go
  pulsar-function-go/pb/doc.go
  pulsar-function-go/pb/generate.sh
  pulsar-function-go/pf/context.go
  pulsar-function-go/pf/context_test.go
  pulsar-function-go/pf/function.go
  pulsar-function-go/pf/function_test.go
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/instanceConf.go
  pulsar-function-go/pf/instanceConf_test.go
  pulsar-function-go/pf/util.go
  pulsar-function-go/pf/util_test.go
  pulsar-functions/proto/src/main/proto/Function.proto
Labels: component/functions, component/go

#3747 Closing FunctionAssignmentTailer should handle ConsumerAlreadyClosedException
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
Labels: component/functions, type/bug

#3945 [#3944][dashboard]Dashboard authentication support for JWT token
  dashboard/Dockerfile
  dashboard/conf/supervisor-app.conf
  dashboard/django/collector.py
  dashboard/django/dashboard/settings.py
  dashboard/django/stats/views.py
  docker/pulsar-standalone/Dockerfile
  site2/docs/administration-dashboard.md
Labels: component/dashboard, component/security, type/feature

#4013 Add bookkeeper client version constraint
  pulsar-client-cpp/python/setup.py
Labels: component/build, component/python

#4007 [pulsar-io] Specify the RabbitMQSink type as Bytes by default
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSink.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/sink/RabbitMQSinkTest.java
Labels: component/io, type/enhancement

#3958 [Doc] Update "load distribution" as "load balance"
  site2/docs/administration-load-balance.md
  site2/website/sidebars.json
Labels: component/documentation, component/website, type/enhancement

#4014 Fix querystate key not found and add tests for function state
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionStateTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: component/functions, type/bug

#4015 Allow to configure TypedMessageBuilder through a Map conf object
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleTypedProducerConsumerTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/TypeCheckUtil.java
Labels: type/enhancement

#4019 [Issue 3987][pulsar-broker]Handle config is null when create tenant
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
Labels: type/enhancement

#4017 [pulsar-io] Add a Pulsar IO connector for InfluxDB sink
  pulsar-io/influxdb/pom.xml
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBAbstractSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBBuilder.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBBuilderImpl.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBGenericRecordSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBSinkConfig.java
  pulsar-io/influxdb/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/InfluxDBGenericRecordSinkTest.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/InfluxDBSinkConfigTest.java
  pulsar-io/influxdb/src/test/resources/sinkConfig.yaml
  pulsar-io/pom.xml
  site2/docs/io-connectors.md
  site2/docs/io-influxdb.md
Labels: component/io

#4026 [Doc] Update site2/docs/concepts-overview.md file
  site2/docs/concepts-overview.md
Labels: component/documentation

#4027 Fix Python functions state which is completely broken
  pulsar-functions/instance/src/main/python/state_context.py
Labels: type/bug

#4024 Fix the swagger files generated by removing troublesome class
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinkBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourceBase.java
  site2/.gitignore
  site2/tools/python-doc-gen.sh
  site2/website/static/swagger/swagger.json
Labels: component/documentation, component/functions, component/io

#4023 [python client] Handle subrecords in JsonSchema encoding
  pulsar-client-cpp/python/pulsar/schema/schema.py
Labels: component/python, component/schemaregistry

#4030 fix errors in sql doc
  site2/docs/sql-getting-started.md
  site2/website/versioned_docs/version-2.2.0/sql-getting-started.md
Labels: component/documentation

#4038 Add labels to function statefulsets and services
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
Labels: component/functions

#4005 Set key for message when using function publish
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-client-cpp/python/pulsar/functions/context.py
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/python/test_python_instance.py
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/PublishFunctionWithMessageConf.java
  pulsar-functions/python-examples/publish_function_with_message_conf.py
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
Labels: component/functions

#4033 Fix exit when qureystate and specify watch
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: type/enhancement

#4032 [pulsar-client-tools] Provide the description of functions command for better usage
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/cli, type/enhancement

#4040 Website docs for 2.3.1
  site2/website/releases.json
  site2/website/versioned_docs/version-2.3.1/adaptors-kafka.md
  site2/website/versioned_docs/version-2.3.1/admin-api-non-persistent-topics.md
  site2/website/versioned_docs/version-2.3.1/administration-dashboard.md
  site2/website/versioned_docs/version-2.3.1/administration-load-balance.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.3.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.3.1/concepts-overview.md
  site2/website/versioned_docs/version-2.3.1/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.3.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.1/functions-overview.md
  site2/website/versioned_docs/version-2.3.1/getting-started-standalone.md
  site2/website/versioned_docs/version-2.3.1/io-connectors.md
  site2/website/versioned_docs/version-2.3.1/io-develop.md
  site2/website/versioned_docs/version-2.3.1/io-elasticsearch.md
  site2/website/versioned_docs/version-2.3.1/io-file.md
  site2/website/versioned_docs/version-2.3.1/io-hdfs.md
  site2/website/versioned_docs/version-2.3.1/io-influxdb.md
  site2/website/versioned_docs/version-2.3.1/io-mongo.md
  site2/website/versioned_docs/version-2.3.1/io-rabbitmq.md
  site2/website/versioned_docs/version-2.3.1/io-solr.md
  site2/website/versioned_docs/version-2.3.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.3.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.1/reference-terminology.md
  site2/website/versioned_docs/version-2.3.1/security-token-admin.md
  site2/website/versioned_docs/version-2.3.1/sql-getting-started.md
  site2/website/versioned_sidebars/version-2.3.1-sidebars.json
  site2/website/versions.json
Labels: component/website

#4039 Improved MacOS Python build
  .gitignore
  pulsar-client-cpp/python/pkg/osx/build.sh.template
  pulsar-client-cpp/python/pkg/osx/generate-all-wheel.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python2.7/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python2.7/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python2.7/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python3.6/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python3.6/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.11-python3.6/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python2.7/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python2.7/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python3.6/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python3.6/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.12-python3.6/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.12/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python2.7/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python2.7/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python3.6/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python3.6/build.sh.template
  pulsar-client-cpp/python/pkg/osx/osx-10.13-python3.6/generate-wheel-file.sh
  pulsar-client-cpp/python/pkg/osx/osx-10.13/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/osx-10.14/Vagrantfile
  pulsar-client-cpp/python/pkg/osx/vagrant-build.sh
Labels: component/build, component/python

#4037 shading everything in jcloud
  jclouds-shaded/pom.xml
  tiered-storage/pom.xml
Labels: component/tieredstorage

#4035 Added release notes for 2.3.1
  site2/website/release-notes.md
Labels: component/documentation

#4029 For functions metrics, avoid having HELP
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/ComponentStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/PrometheusTextFormat.java
Labels: type/bug

#4016 [Issue 3989][Doc] Update Geo Replication docs
  site2/docs/administration-geo.md
Labels: component/documentation

#4045 Add tiered storage support for Pulsar SQL
  conf/presto/catalog/pulsar.properties
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloader.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloaderUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarClassLoader.java
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/AvroSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/JSONSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorConfig.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorMetricsTracker.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorUtils.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/SchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarMetadata.java
Labels: component/sql

#4048 [Issue 4047] Catch up docs for functions/sink/source in Admin CLI
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation

#4008 [go function]support log topic for go function
  pulsar-function-go/conf/conf.yaml
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
  pulsar-function-go/pf/context.go
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/logAppender.go
Labels: component/functions, component/go, type/feature

#4056 [client] Upgrade athenz libraries
  pom.xml
  pulsar-client-auth-athenz/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenz.java
  pulsar-client-auth-athenz/src/test/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenzTest.java
Labels: component/client

#4052 ack records in datagenerator print sink
  pulsar-io/data-generator/src/main/java/org/apache/pulsar/io/datagenerator/DataGeneratorPrintSink.java
Labels: component/io

#4064 [client] Set actual topic name to partitioned consumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/client

#4067 Fix connectors nested configs
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
Labels: component/io, type/bug

#4061 Fix update cli source sink
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
Labels: component/functions, type/bug

#4065 Fixed regex for Pulsar version correction
  pulsar-common/src/main/java-templates/org/apache/pulsar/PulsarVersion.java
  pulsar-common/src/test/java/org/apache/pulsar/AddMissingPatchVersionTest.java
Labels: type/bug

#4058 improve data-generator source performance
  pulsar-io/data-generator/src/main/java/org/apache/pulsar/io/datagenerator/DataGeneratorSource.java
Labels: component/io

#4069 Fix: Exception when switch cluster from auth enabled to auth disabled
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: component/functions, type/bug

#4068 [pulsar-function] fix worker-stats broken admin-api
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/Resources.java
Labels: component/functions

#4092 allow users to update output topics for functions and sources
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions

#4082 Optimizing performance for Pulsar function archive download
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdminException.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ComponentResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SinkImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SourceImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnectorProvider.java
Labels: component/functions

#4091 Fix: set receive queue size for sinks
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
Labels: component/io, type/bug

#4081 For functions metrics in prometheus also remove TYPE
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/PrometheusTextFormat.java
Labels: type/bug

#4083 [pulsar-proxy]Add the LookupProxyHandler handle getSchema request and test
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
Labels: component/proxy, component/schemaregistry, type/feature

#4020 Make generate_protobuf_docker.sh usable on windows
  pulsar-common/generate_protobuf_docker.sh
Labels: component/build, type/enhancement

#4088 [pulsar-function] support bookie authentication from function-worker
  conf/functions_worker.yml
  deployment/terraform-ansible/templates/functions_worker.yml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
Labels: component/functions

#4087 deprecate and relocate connector related endpoints in functions REST API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Worker.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/RestUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinkImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourceImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3Resource.java
Labels: component/functions

#4059 Ensure Pulsar HTTP proxy carries over Authorization header after 307 redirects
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/token/PulsarTokenAuthenticationBaseSuite.java
Labels: type/bug

#3962 Feature / Interceptor for negative ack redelivery
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/InterceptorsTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerInterceptor.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerInterceptors.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
Labels: component/client, type/feature

#4084 [c++][pulsar-client-cpp] Protect against double joining the worker thread in ExecutorService::close()
  pulsar-client-cpp/lib/ExecutorService.cc
Labels: type/bug

#3904 [go schema] support go schema for pulsar-client-go
  pulsar-client-cpp/include/pulsar/Schema.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/lib/c/c_ProducerConfiguration.cc
  pulsar-client-go/go.mod
  pulsar-client-go/go.sum
  pulsar-client-go/pulsar/c_client.go
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/c_message.go
  pulsar-client-go/pulsar/c_producer.go
  pulsar-client-go/pulsar/c_reader.go
  pulsar-client-go/pulsar/client.go
  pulsar-client-go/pulsar/consumer.go
  pulsar-client-go/pulsar/consumer_test.go
  pulsar-client-go/pulsar/message.go
  pulsar-client-go/pulsar/pb/build.sh
  pulsar-client-go/pulsar/pb/hello.pb.go
  pulsar-client-go/pulsar/pb/hello.proto
  pulsar-client-go/pulsar/primitiveSerDe.go
  pulsar-client-go/pulsar/primitiveSerDe_test.go
  pulsar-client-go/pulsar/producer.go
  pulsar-client-go/pulsar/producer_test.go
  pulsar-client-go/pulsar/reader.go
  pulsar-client-go/pulsar/reader_test.go
  pulsar-client-go/pulsar/schema.go
  pulsar-client-go/pulsar/schemaDef_test.go
  pulsar-client-go/pulsar/schema_test.go
  pulsar-client-go/pulsar/testhelps.go
Labels: component/client, component/go, component/schemaregistry, type/feature

#4104 Reduce memory used in ClientCnx for pending lookups
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: type/enhancement

#4105 Only set pulsar envs if not already set in the environment.
  bin/pulsar
  conf/pulsar_env.sh
Labels: type/enhancement

#4031 Feature - support seek() on Reader
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NonPersistentAcknowledgmentGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
Labels: component/client, type/feature

#4102 Reduce number of hashmap sections for ledger handles cache
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/enhancement

#4111 [pulsar-broker] schedule one add/read timeout task per ml/topic
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/broker

#4107 [Issue 4106] [pulsar-testclient] Improve usage hints for pulsar-perf subcommands
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/BrokerMonitor.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationController.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
Labels: component/cli, type/enhancement

#4122 Improve tests for ReaderImpl and ManagedLedgerImpl
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
Labels: component/test

#4103 Function use negative acknowledge
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/FunctionStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SinkStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SourceStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/python/function_stats.py
  pulsar-functions/instance/src/main/python/python_instance.py
  tests/docker-images/java-test-functions/pom.xml
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/functions/ExceptionFunction.java
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/pom.xml
  tests/docker-images/latest-version-image/python-examples/exception_function.py
  tests/docker-images/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
Labels: component/functions, type/enhancement

#4126 [docs] Clarify initial subscription positioning
  site2/docs/concepts-clients.md
Labels: component/documentation

#4116 Update command-line tools doc to catch up the work
  site2/docs/reference-cli-tools.md
Labels: component/documentation, component/io

#4108 [pulsar-clients]Save name, type, properties for KeyValueSchema
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
Labels: component/schemaregistry, type/bug

#4046 [pulsar-io] [doc] Add docs for Redis sink
  site2/docs/io-connectors.md
  site2/docs/io-redis.md
Labels: component/documentation

#4097 Issue #3653: Kerberos authentication for web resource support
  conf/broker.conf
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/PulsarSaslServer.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslAuthenticationDataSource.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslAuthenticationState.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslRoleToken.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslRoleTokenSigner.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/ProxySaslAuthenticationTest.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/SaslAuthenticateTest.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/SaslServerTokenSignerTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationState.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/AuthenticationFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ComponentResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SinkImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SourceImpl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Authentication.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/AuthenticationDataProvider.java
  pulsar-client-auth-sasl/pom.xml
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationSasl.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/SaslAuthenticationDataProvider.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-common/src/main/java/org/apache/pulsar/common/sasl/SaslConstants.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/admin/WebSocketWebResource.java
Labels: component/broker, component/security, type/feature

#4120 PIP-34 Add flag to enable or disable Key_Shared subscription.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  site2/docs/concepts-messaging.md
Labels: component/broker

#4135 Less verbose error message for lookup failure
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
Labels: type/enhancement

#4121 [Doc] Update the site2/docs/getting-started-docker.md file
  site2/docs/getting-started-docker.md
Labels: component/documentation, type/enhancement

#4115 [pulsar-io] Add sensitive annotations for Solr/RabbitMQ connector
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQAbstractConfig.java
  pulsar-io/solr/src/main/java/org/apache/pulsar/io/solr/SolrSinkConfig.java
Labels: component/io, type/enhancement

#4113 Update Scala maven plugin to compile on java 11
  examples/flink/pom.xml
Labels: component/build

#4130 [Doc] Update the site2/README.md file
  site2/README.md
Labels: component/documentation, type/enhancement

#4114 [Doc] Update the site2/docs/getting-started-standalone.md file
  site2/docs/getting-started-standalone.md
Labels: component/documentation, type/task

#4129 [pulsar-flink] Add subscription initial position
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilder.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilderTest.java
Labels: component/flink

#4132 [Doc] Update site2/website/pages/en/versions.js file
  site2/website/pages/en/versions.js
Labels: component/documentation

#4136 Removing # TYPE comment from topic metrics in Prometheus
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
Labels: type/bug

#4138 [pulsar-broker]Fix: client-producer can't reconnect due to failed producer-future on cnx cache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/broker, type/bug

#4146 [pulsar-broker] minor fix for removing atomic-updater at managed-ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: component/broker

#4145 [pulsar-broker] clean up producer/consumer result from connection-cache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/broker

#4144 Fixed error deleted a named non-durable cursor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
Labels: type/bug

#4133 [website] Add instructions on how to download translated docs
  site2/README.md
Labels: component/documentation

#4147 Added missing unittests for primitive schema types
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/BooleanSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/DateSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/DoubleSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/FloatSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/IntSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/LongSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/ShortSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/TimeSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/TimestampSchemaTest.java
Labels: component/schemaregistry

#4160 [Issue#4159][pulsar-testclient] Added ['-p','--max-outstanding-across-partitions'] parameter to the producer performance benchmark
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  site2/docs/reference-cli-tools.md
Labels: component/client, type/enhancement

#4149 Update bookkeeper ver to 4.9.1
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build, component/storage

#4157 [Issue#2734][pulsar-brokers]Add namespace level enforcement on schema validation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaValidationEnforced.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
Labels: component/schemaregistry

#4154 [Websockets] Add support for eventtime on producer message
  pulsar-common/src/main/java/org/apache/pulsar/common/util/DateFormatter.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/data/ProducerMessage.java
Labels: component/client, component/websocket

#4117 [pulsar-clients]Store key part of a KeyValue schema into pulsar message keys
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/KeyValueEncodingType.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TypedMessageBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
Labels: component/schemaregistry, type/enhancement

#4172 WorkerService should inherit authentication configs from broker when running as part of it
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/functions

#4150 Added backlog and offloaded size in Prometheus stats
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
Labels: type/enhancement

#4050 [python][schemaregistry] Handle subrecords in complex types
  pulsar-client-cpp/python/pulsar/schema/definition.py
Labels: type/enhancement
