Repository apache/pulsar, pull requests merged in 2019-10, with the labels that each got.

#5288 [pulsar-broker] Close previous dispatcher when subscription type changes
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/broker, type/bug

#5297 Don't attempt to append on read-only cursor ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/bug

#5292 [Doc] Add *Solr sink connector guide*
  site2/docs/io-connectors.md
  site2/docs/io-solr-sink.md
  site2/docs/io-solr.md
Labels: component/documentation, component/io

#5289 [Doc] Add *MongoDB sink connector guide*
  site2/docs/io-connectors.md
  site2/docs/io-mongo-sink.md
  site2/docs/io-mongo.md
Labels: component/documentation, component/io

#5254 Expose bookkeeperDiskWeightBasedPlacementEnabled in broker.conf
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoaderTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BookKeeperClientFactoryImplTest.java
Labels: component/broker, component/config

#5302 [pulsar-proxy] add debug log + fix thread-factory name
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
Labels: component/proxy

#5298 [pulsar-broker] Fix: invalidate cache on zk-cache timeout
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperDataCache.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
Labels: type/enhancement

#5306 [pulsar-broker] support update partition for global topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: component/broker

#5308 Revert default topic type to non-partitioned
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: type/bug

#4780 Clarify how retention interacts with readers
  site2/docs/cookbooks-retention-expiry.md
Labels: component/documentation

#5291 [Doc] Add *Redis sink connector guide*
  site2/docs/io-connectors.md
  site2/docs/io-redis-sink.md
  site2/docs/io-redis.md
Labels: component/documentation

#5303 Fix Cmake files for windows compilation
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/include/pulsar/Schema.h
Labels: component/build

#5271 Improve error handling logic for effectively once
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationFailureTest.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: type/bug

#5299 [docs] Fix typo in prometheus metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  site2/docs/reference-metrics.md
  site2/website/versioned_docs/version-2.4.1/reference-metrics.md
Labels: component/documentation

#5323 Update deploy-kubernetes.md
  site2/docs/deploy-kubernetes.md
Labels: component/documentation

#5316 Add a source connector for MongoDB
  pulsar-io/mongo/pom.xml
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoConfig.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSink.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSource.java
  pulsar-io/mongo/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/mongo/src/test/java/org/apache/pulsar/io/mongodb/MongoConfigTest.java
  pulsar-io/mongo/src/test/java/org/apache/pulsar/io/mongodb/MongoSourceTest.java
Labels: component/io

#5276 Fixed race condition while triggering message redelivery after an ack-timeout event
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
Labels: type/bug

#5313 [pulsar-cli] fix ns-isolation-policy api output
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CliCommand.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctionWorker.java
Labels: component/cli

#5314 [pulsar-broker] fix ns-isolation api to fetch policy for specific broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/BrokerNamespaceIsolationData.java
Labels: component/broker

#5205 [doc] Fix broken links to the info about schemas and Schema Registry
  site2/docs/client-libraries-java.md
  site2/docs/concepts-messaging.md
  site2/docs/concepts-overview.md
  site2/docs/sql-overview.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.1/concepts-messaging.md
Labels: component/website

#5319 Collect broker publish latency in prometheus
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/DataSketchesSummaryLogger.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/Summary.java
Labels: type/enhancement

#5305 [functions] Add log level in a property for log topic
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/LogAppender.java
Labels: type/enhancement

#5301 Fix resource usage percent display
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/OverloadShedder.java
Labels: type/enhancement

#5329 Fix ConsumerRedeliveryTest by ensure clean state on each run
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerRedeliveryTest.java
Labels: component/test, flaky-tests

#5322 Fix bk write failure part 2
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerErrorsTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationFailureTest.java
Labels: type/bug

#5321 [pulsar-broker] Disable stickyRead by default
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: component/broker

#5337 Fix instability in Pulsar Function window integration test
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/suites/PulsarTestSuite.java
Labels: component/test

#5295 [Doc]to fix syntax err in the sample code: close producer async
  site2/docs/client-libraries-java.md
Labels: component/documentation

#5343 Avoid exiting on OOM in unit tests
  pom.xml
Labels: component/test, flaky-tests

#5340 [pulsar-broker] If cursor is not durable, close dispatcher when all consumers are removed from subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/broker

#5330 Added basic metadata store API and initial ZK implementation
  pom.xml
  pulsar-metadata/pom.xml
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/GetResult.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStoreConfig.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStoreException.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStoreFactory.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/Stat.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/zookeeper/ZKMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
Labels: type/enhancement

#5336 [Issue 5324][go client] Use Buffered channels to avoid blocking on callback
  pulsar-client-go/pulsar/c_client.go
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/c_producer.go
  pulsar-client-go/pulsar/c_reader.go
Labels: component/go

#5226 [Doc] Add *HDFS2 sink connector guide*
  site2/docs/io-connectors.md
  site2/docs/io-hdfs.md
  site2/docs/io-hdfs2-sink.md
Labels: component/documentation

#5338 [Docs] Add putstate, set-replicator-dispatch-rate and get-replicator-dispatch-rate cli docs for pulsar admin
  site2/docs/reference-pulsar-admin.md
Labels: component/admin, component/documentation

#5335 Build python 37 artifacts and use them for the docker image
  docker/pulsar/Dockerfile
  docker/pulsar/pom.xml
  docker/pulsar/scripts/install-pulsar-client-37.sh
Labels: component/build

#5315 [pulsar-client-cpp] Fix bad_weak_ptr error when closing producer
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
Labels: component/c++, type/bug

#5211 [Doc] Add *Kinesis source connector guide*
  site2/docs/io-kinesis-source.md
Labels: component/connect, component/documentation

#5339 Not allow use acknowledgeCumulative on Key_shared subscription.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-client-cpp/include/pulsar/Result.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/Result.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
Labels: component/client

#5290 [Doc] Add *RabbitMQ sink connector guide*
  site2/docs/io-rabbitmq-sink.md
Labels: component/documentation

#5233 Update full-width typo in schema-understand.md
  site2/docs/schema-understand.md
Labels: component/documentation

#5375 [pulsar-admin]make skip all messages async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/client

#5381 [Issue 5380][deployment]Fixing pod anti-affinity rules in Kubernetes files including Helm chart
  deployment/kubernetes/aws/zookeeper.yaml
  deployment/kubernetes/generic/k8s-1-9-and-above/zookeeper.yaml
  deployment/kubernetes/generic/original/zookeeper.yaml
  deployment/kubernetes/google-kubernetes-engine/bookie.yaml
  deployment/kubernetes/google-kubernetes-engine/zookeeper.yaml
  deployment/kubernetes/helm/pulsar/templates/autorecovery-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/bookkeeper-statefulset.yaml
  deployment/kubernetes/helm/pulsar/templates/broker-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/proxy-deployment.yaml
  deployment/kubernetes/helm/pulsar/templates/zookeeper-statefulset.yaml
Labels: component/deploy

#5432 Revert "[Issue 4956]Add default loader for latest pyyaml"
  docker/pulsar/scripts/gen-yml-from-env.py
Labels: component/test

#5371 fix potential deadlock that can occur in addConsumer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperDataCache.java
Labels: type/bug

#5413 [pulsar-client-cpp] Fix Dockerfile
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/rpm/Dockerfile
Labels: component/build

#5442 [pulsar-client] Avoid leak on publish failure on batch message
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client

#5445 Fixed StringSchema static initialization
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StringSchema.java
Labels: type/bug

#5408 [pulsar-broker] Fix bug that namespace policies does not take effect due to NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker, type/bug

#5424 Replace foreach with System.arraycopy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/NamespaceStats.java
Labels: type/cleanup

#5446 [pulsar-client-cpp]Change state_ to closed when resultOk is returned
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
Labels: component/c++, type/bug

#5374 [Issue 5362][website]Update logo path for Pulsar users
  site2/website/data/users.js
Labels: component/website

#5391 [pulsar-broker] Fix: race condition : Failed to read-more entries on dispatcher
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: component/broker

#5416 Update version of dockerfile-maven plugin
  pom.xml
Labels: component/test

#5404 Make Function Authentication Provider pluggable
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/FunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/NoOpFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
Labels: component/functions

#5448 Give compacted ledger some time to update in python test (#2321)
  pulsar-client-cpp/python/pulsar_test.py
Labels: component/compaction, component/python, component/test, flaky-tests

#5389 [Docs] Add delete-dynamic-config command for brokers
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation

#5440 [pulsar-perf] Add batching max message into perf-producer
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: component/test

#5405 [Docs] Add functions-worker commands for pulsar admin CLI
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation

#5435 Add support for partitioned topic consumer seek by time.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/client

#5406 [Doc] Add *authenticateMetricsEndpoint* option in administration-prox…
  site2/docs/administration-proxy.md
Labels: component/documentation

#5411 Add test for links to other markdown docs.
  site2/README.md
  site2/website/__tests__/doc-links.test.js
  site2/website/__tests__/docs.test.js
  site2/website/__tests__/index.test.js
  site2/website/jest-puppeteer.config.js
Labels: component/test, component/website

#5385 Standalone should use crc32c by default as well
  conf/standalone.conf
Labels: type/enhancement

#5347 [Docs]Fix website io connector link 404
  site2/docs/io-aerospike.md
  site2/docs/io-cassandra.md
  site2/docs/io-connectors.md
  site2/docs/io-elasticsearch.md
  site2/docs/io-file-source.md
  site2/docs/io-file.md
  site2/docs/io-hdfs.md
  site2/docs/io-influxdb.md
  site2/docs/io-jdbc.md
  site2/docs/io-kafka.md
  site2/docs/io-kinesis.md
  site2/docs/io-mongo.md
  site2/docs/io-netty-source.md
  site2/docs/io-netty.md
  site2/docs/io-rabbitmq-source.md
  site2/docs/io-rabbitmq.md
  site2/docs/io-redis.md
  site2/docs/io-solr.md
  site2/docs/io-twitter.md
Labels: component/documentation

#5361 [proxy] Fix proxy to be able to re-send request body
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/proxy/TestProxy.java
Labels: type/bug

#5075 [pulsar-client] support set read-position based on timestamp
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ReaderConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/client

#5320 Expose metrics of Caffeine caches
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/stats/CacheMetricsCollector.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/GlobalZooKeeperCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalZooKeeperCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMapping.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMappingTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
Labels: type/enhancement

#5460 Handle tearDown exception for test stability
  managed-ledger/src/test/java/org/apache/bookkeeper/test/MockedBookKeeperTestCase.java
Labels: component/test

#5443 [pulsar-client] Fix message corruption on OOM for batch messages
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client

#5453 [Cpp] Fixed negative ack tracker constructor sequence
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/NegativeAcksTracker.cc
  pulsar-client-cpp/lib/NegativeAcksTracker.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: type/bug

#5293 [ISSUE #4675][docs] Add *Delayed Message Delivery*
  site2/docs/assets/message_delay.png
  site2/docs/concepts-messaging.md
Labels: component/documentation

#3986 [pulsar-broker] Introduce publish rate-limiting on topic
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PublishRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessagePublishThrottlingTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PublishRate.java
Labels: component/broker

#3613 Use individual netty-* artifacts instead of netty-all
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/server/src/assemble/bin.xml
  pom.xml
  pulsar-broker-shaded/pom.xml
  pulsar-broker/pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-client/pom.xml
  pulsar-common/pom.xml
  pulsar-functions/localrun/pom.xml
  pulsar-functions/utils/pom.xml
  pulsar-functions/worker-shaded/pom.xml
  pulsar-io/kinesis/pom.xml
  pulsar-io/netty/pom.xml
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
  pulsar-spark/pom.xml
  tiered-storage/file-system/pom.xml
Labels: component/build

#5332 [docs] Fix broken link to k8s YAML definitions
  site2/docs/deploy-kubernetes.md
Labels: component/documentation

#5468 [website] Update resources.js
  site2/website/data/resources.js
Labels: component/website

#5473 put protocol handler start after loadmanagement service
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: type/task

#5472 Make some common use method of ManagedLedger public
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: component/broker, type/enhancement

#5469 added deletion of state for Functions
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/StateContext.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/StateContextImpl.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/state/StateContextImplTest.java
Labels: component/functions

#5467 [website] Update PMC and committer info in team.js
  site2/website/data/team.js
Labels: component/website

#5478 [Website]Copy api directory to content
  site2/tools/build-site.sh
Labels: component/website

#5398 [functions] Distribute the CA for KubernetesSecretsTokenAuthProvider
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions, component/security

#5357 [functions][Issue:5350]Fix pulsar can't load the customized SerDe
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
Labels: component/functions

#5479 fix bug:external protocols not set to local broker data
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: component/broker

#5444 [pulsar-client] print unknown exception stacktrace
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client

#5441 [pulsar-perf] record message failure and avoid exiting from process on publish failure
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: component/test

#5483 [Issue 5365] Add is_read_compacted to create_reader() in python API
  pulsar-client-cpp/python/pulsar/__init__.py
Labels: type/feature

#5382 Update client-libraries-go.md
  site2/docs/client-libraries-go.md
Labels: component/documentation

#5317 Allow to specify delivery delay in C++ client
  pulsar-client-cpp/include/pulsar/MessageBuilder.h
  pulsar-client-cpp/include/pulsar/c/message.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/HandlerBase.cc
  pulsar-client-cpp/lib/HandlerBase.h
  pulsar-client-cpp/lib/MessageBuilder.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/TimeUtils.cc
  pulsar-client-cpp/lib/TimeUtils.h
  pulsar-client-cpp/lib/c/c_Message.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: type/feature

#3555 Allow to automatically assign TCP ports when starting a broker
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/NoopLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/ProxyServer.java
Labels: type/enhancement

#5457 [transaction-coordinator] Ownership change listeners
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceBundleOwnershipListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceOwnershipListenerTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
Labels: component/txn/coordinator

#5359 Set default ensemble size to 2 in service conf, to match broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
Labels: component/config

#5485 [Docs]Fix document of canal and debezium not found.
  site2/docs/io-cdc-canal.md
  site2/docs/io-cdc-debezium.md
  site2/docs/io-connectors.md
  site2/website/versioned_docs/version-2.3.0/io-cdc.md
Labels: component/documentation, component/website

#5466 move general schema hash to common module
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaHash.java
Labels: type/cleanup

#5492 [docs] Update some links on Pulsar website
  site2/docs/concepts-overview.md
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/functions-overview.md
  site2/docs/getting-started-clients.md
  site2/docs/getting-started-standalone.md
Labels: component/website

#5490 [docs] Fix link issues in getting-started-standalone.md
  site2/website/versioned_docs/version-2.4.1/getting-started-standalone.md
Labels: component/website

#5487 [Issue 5484] Python API: fix reader_listener option
  pulsar-client-cpp/python/src/config.cc
Labels: component/python

#5420 [Issue 5415][docker build]Updating docker build for pulsar-standalone to use main dashboard sou…
  dashboard/django/collector.py
  docker/build.sh
  docker/pulsar-standalone/Dockerfile
  docker/pulsar-standalone/conf/nginx-app.conf
  docker/pulsar-standalone/conf/postgresql.conf
  docker/pulsar-standalone/conf/supervisor-app.conf
  docker/pulsar-standalone/conf/uwsgi.ini
  docker/pulsar-standalone/conf/uwsgi_params
  docker/pulsar-standalone/django/collector.py
  docker/pulsar-standalone/django/collector.sh
  docker/pulsar-standalone/django/dashboard/__init__.py
  docker/pulsar-standalone/django/dashboard/settings.py
  docker/pulsar-standalone/django/dashboard/urls.py
  docker/pulsar-standalone/django/dashboard/wsgi.py
  docker/pulsar-standalone/django/manage.py
  docker/pulsar-standalone/django/stats/__init__.py
  docker/pulsar-standalone/django/stats/admin.py
  docker/pulsar-standalone/django/stats/apps.py
  docker/pulsar-standalone/django/stats/migrations/0001_initial.py
  docker/pulsar-standalone/django/stats/migrations/__init__.py
  docker/pulsar-standalone/django/stats/models.py
  docker/pulsar-standalone/django/stats/templates/stats/base.html
  docker/pulsar-standalone/django/stats/templates/stats/broker.html
  docker/pulsar-standalone/django/stats/templates/stats/brokers.html
  docker/pulsar-standalone/django/stats/templates/stats/clusters.html
  docker/pulsar-standalone/django/stats/templates/stats/home.html
  docker/pulsar-standalone/django/stats/templates/stats/namespace.html
  docker/pulsar-standalone/django/stats/templates/stats/property.html
  docker/pulsar-standalone/django/stats/templates/stats/topic.html
  docker/pulsar-standalone/django/stats/templates/stats/topics.html
  docker/pulsar-standalone/django/stats/templatetags/__init__.py
  docker/pulsar-standalone/django/stats/templatetags/stats_extras.py
  docker/pulsar-standalone/django/stats/templatetags/table.py
  docker/pulsar-standalone/django/stats/tests.py
  docker/pulsar-standalone/django/stats/urls.py
  docker/pulsar-standalone/django/stats/views.py
Labels: component/dashboard

#5410 Fix broker function token authentication link
  site2/docs/functions-worker.md
Labels: component/documentation

#5409 Fix broken io connector links.
  site2/docs/io-connectors.md
  site2/docs/reference-connector-admin.md
Labels: component/documentation

#5419 [Issue 5392][documentation] Updating Docker command to work on Windows properly
  site2/docs/getting-started-docker.md
Labels: component/documentation, type/cleanup

#5482 [Issue 5309][docs] Clarify wording around retention policies
  site2/docs/cookbooks-retention-expiry.md
Labels: component/documentation

#5498 Efficiency improvements for delay delivery tracker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/InMemoryDeliveryTrackerTest.java
Labels: type/enhancement

#5500 Return after triggering callback with empty result
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/bug

#5462 [pulsar-broker] fix broken custom auth-provider that uses authenticationData
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/broker

#5356 [TIEREDSTORAGE] Only seek when reading unexpected entry
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedInputStreamImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/DataBlockHeaderImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexEntryImpl.java
Labels: component/tieredstorage, type/bug

#5499 Fixed dispatcher skipping delivery of a batch during concurrent replays
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
Labels: type/bug

#5378 Trim messages which less than mark delete position for message redelivery
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageRedeliveryTest.java
Labels: component/broker

#5496 [Doc]Fix document link error
  site2/docs/reference-connector-admin.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.4.0/io-quickstart.md
Labels: component/documentation, component/website

#5458 [cpp-build] Do not install libsnappy at each build
  pulsar-client-cpp/docker-build.sh
  pulsar-client-cpp/docker-lib-check.sh
  pulsar-client-cpp/docker-tests.sh
Labels: component/build

#5511 [Doc]Add md suffix for fix cdc link
  site2/website/versioned_docs/version-2.3.0/io-cdc.md
  site2/website/versioned_docs/version-2.4.0/io-quickstart.md
Labels: component/documentation

#5232 Upgrade dependencies for security fixes
  distribution/server/src/assemble/LICENSE.bin.txt
  jclouds-shaded/pom.xml
  pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraAbstractSink.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
  pulsar-sql/presto-pulsar-plugin/pom.xml
  tiered-storage/file-system/pom.xml
Labels: component/security

#5488 Python API: Add test case for create_reader(is_read_compacted)
  pulsar-client-cpp/python/pulsar_test.py
Labels: component/python

#5524 Doc: add missing functions from Python context object
  site2/docs/functions-api.md
  site2/docs/functions-develop.md
Labels: component/documentation, component/python

#5512 [Issue 5475][docs] Update message deduplication
  site2/docs/cookbooks-deduplication.md
Labels: component/documentation, component/website

#5423 [Test] Migrate deprecated Matchers to ArgumentMatchers
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/PersistentTransactionBufferTest.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/test/java/org/apache/kafka/clients/producer/PulsarKafkaProducerTest.java
Labels: component/test, type/cleanup

#5526 Python API: add get_input_topics()
  pulsar-client-cpp/python/pulsar/functions/context.py
  pulsar-functions/instance/src/main/python/contextimpl.py
  site2/docs/functions-api.md
  site2/docs/functions-develop.md
Labels: component/functions, component/python
