Repository apache/pulsar, pull requests merged in 2019-03, with the labels that each got.

#3688 When the loadmanager leader is not available, fall through regular least loaded selection
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LeaderElectionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: type/bug

#3723 Use python 3.5 runtime and pulsar client
  docker/pulsar/Dockerfile
  docker/pulsar/pom.xml
  docker/pulsar/scripts/install-pulsar-client-35.sh
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorGlobalNSTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/v1/V1_ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
Labels: component/build, component/python

#3729 fix pulsar_message_set_replication_clusters
  pulsar-client-cpp/include/pulsar/c/message.h
  pulsar-client-cpp/lib/c/c_Message.cc
  pulsar-client-go/pulsar/c_message.go
Labels: type/bug

#3706 Fail the source record if the write fails
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
Labels: component/functions

#3661 [logging] make root log level configurable
  bin/pulsar
  conf/log4j2.yaml
Labels: component/config, type/bug

#3691 fix Jenkins pulsar-website-build error 571
  site2/website/versioned_docs/version-2.3.0/io-cdc-canal.md
  site2/website/versioned_docs/version-2.3.0/io-cdc-debezium.md
  site2/website/versioned_docs/version-2.3.0/io-cdc.md
Labels: component/build, component/documentation, component/website, type/bug

#3625 [Issue #3436][pulsar-broker] Creating REST Endpoint for non-partitioned topic creation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  site2/docs/admin-api-partitioned-topics.md
  site2/docs/reference-pulsar-admin.md
Labels: component/broker, type/enhancement

#3597 [Issue 3275][pulsar-io]Support source and sink of flume
  pulsar-io/flume/pom.xml
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/FlumeConfig.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/FlumeConnector.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/AbstractConfigurationProvider.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/AbstractZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/Application.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/ConfigurationProvider.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/EnvVarResolverProperties.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/MaterializedConfiguration.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/PollingPropertiesFileConfigurationProvider.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/PollingZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/PropertiesFileConfigurationProvider.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/SimpleMaterializedConfiguration.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/StaticZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/sink/AbstractSink.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/sink/SourceOfFlume.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/sink/StringSink.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/source/AbstractSinkOfFlume.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/source/AbstractSource.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/source/SinkOfFlume.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/source/StringSource.java
  pulsar-io/flume/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/flume/src/main/resources/flume/flume-io-sink.yaml
  pulsar-io/flume/src/main/resources/flume/flume-io-source.yaml
  pulsar-io/flume/src/main/resources/flume/sink.conf
  pulsar-io/flume/src/main/resources/flume/source.conf
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/AbstractFlumeTests.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestAbstractConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestAbstractZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestApplication.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestEnvVarResolverProperties.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestPollingPropertiesFileConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestPollingZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestPropertiesFileConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestStaticZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/sink/StringSinkTests.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/source/StringSourceTests.java
  pulsar-io/flume/src/test/resources/flume-conf-with-envvars.properties
  pulsar-io/flume/src/test/resources/flume-conf.properties
  pulsar-io/flume/src/test/resources/flume-conf.properties.2786
  pulsar-io/flume/src/test/resources/flume/sink.conf
  pulsar-io/flume/src/test/resources/flume/source.conf
  pulsar-io/flume/src/test/resources/log4j.properties
  pulsar-io/pom.xml
Labels: component/io

#3711 Update README.md with IDE setup for lombok
  README.md
Labels: component/documentation, type/task

#3697 add cli client consumer for standalone
  site2/website/versioned_docs/version-2.3.0/getting-started-standalone.md
Labels: component/documentation

#3744 Exposing getSchemaVersion in the client by making it public.
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Message.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
Labels: component/client, type/feature

#2953 Avoid debug noise by consumer ack-tracker
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
Labels: component/client

#3698 Adjust the serving threads to have a minimum of threads
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: component/broker

#3704 On publish failures, log error and count them as sys exceptions
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
Labels: component/functions

#3751 fix function termination cleanup
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionInstanceId.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: component/functions

#2954 Broker considers fail-over consumer priority-level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
Labels: component/broker

#3757 [docs] Fixed typo remove-backlog-quotas to remove-backlog-quota in docs
  site2/docs/cookbooks-retention-expiry.md
  site2/website/versioned_docs/version-2.3.0/cookbooks-retention-expiry.md
Labels: component/documentation, component/website, type/enhancement

#3756 Multi version generic schema provider
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/MultiVersionGenericSchemaProvider.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/MultiVersionGenericSchemaProviderTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/BytesSchemaVersion.java
Labels: component/schemaregistry

#3749 On shutdown, kill the function instance thread after interrupt attempt
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ThreadRuntime.java
Labels: type/bug

#3761 Updated consumer example to use negative acks
  site2/docs/client-libraries-go.md
  site2/docs/client-libraries-java.md
  site2/docs/client-libraries-python.md
  site2/docs/reference-terminology.md
Labels: component/documentation

#3722 Retry creation of assignment topic a few times before giving up
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Actions.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/ActionsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
Labels: component/functions

#3776 Use at least 8 threads in Jetty thread pool
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: type/bug

#3739 [Issue #3728] Add several instructions for IO Connectors
  site2/docs/io-connectors.md
  site2/docs/io-elasticsearch.md
  site2/docs/io-file.md
  site2/docs/io-hdfs.md
  site2/docs/io-mongo.md
Labels: component/documentation, component/io, type/task

#3746 [java client] Bugfix prevent dup consumers for same topic subscription
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/bug

#3770 Allow users to update everything in inputspecs except for isregexpattern
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
Labels: component/functions

#3717 Expose Secrets in Source/SinkContext
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SinkContext.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SourceContext.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/sink/KafkaAbstractSinkTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: component/io

#3760 Fix intermittent test: BrokerServiceLookupTest.testModularLoadManager…
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
Labels: component/test

#3703 Added support for "negative acks" in Java client
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/NegativeAcksTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSourceTests.java
Labels: type/feature

#3764 Fixed Reader.HasNext() in Go client
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/Reader.cc
  pulsar-client-go/pulsar/reader_test.go
Labels: component/c++, component/go, type/bug

#3690 [schema] Introduce GenericRecordBuilder and the avro implementation
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/GenericRecordBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/GenericSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/AvroRecordBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaBuilderTest.java
Labels: component/schemaregistry, type/feature

#3771 fix: function config cleanupSubscription update bug
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
Labels: component/functions, type/bug

#3759 Fixes for Go client unit test
  pulsar-client-go/pulsar/c_message.go
  pulsar-client-go/pulsar/client_test.go
  pulsar-client-go/pulsar/consumer_test.go
  pulsar-client-go/pulsar/producer_test.go
  pulsar-client-go/pulsar/reader_test.go
Labels: component/go, component/test

#3721 Report direct memory used in Proxy to prometheus
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
Labels: type/enhancement

#3426 Handle replication-cluster list change for peer-cluster when zk-watch…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PeerReplicatorTest.java
Labels: component/broker

#3787 Fixed increasing consumer permits after ack dedup operation
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConsumerDedupPermitsUpdate.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug

#3789 [docs] Update concepts-messaging.md
  site2/docs/concepts-messaging.md
Labels: component/documentation

#3612 Set the dedup cursor as "inactive" after recovery
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/CompactorSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
Labels: type/bug

#3782 Make Python consumers acks async
  pulsar-client-cpp/python/src/consumer.cc
Labels: component/python, type/enhancement

#3732 [pulsar-broker] Optimize message replay for large backlog consumer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerRedeliveryTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongPairSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentSortedLongPairSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/LongPairSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentSortedLongPairSetTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/GrowablePriorityLongPairQueueTest.java
Labels: component/broker

#3696 fix elasticsearch in pom Consistent with other IOs
  pom.xml
  pulsar-io/elastic-search/pom.xml
  tests/integration/pom.xml
Labels: component/build, component/io, type/enhancement

#3754 NullPointerException at using BytesSchema.of()
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/BytesSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
Labels: component/schemaregistry

#3753 Add support for Kafka's ProducerConfig.CONNECTIONS_MAX_IDLE_MS_CONFIG (#1090)
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/test/java/org/apache/kafka/clients/producer/PulsarKafkaProducerTest.java
  site2/docs/adaptors-kafka.md
Labels: type/enhancement

#3737 [python client] set protobuf version to be larger than 3.6.0
  pulsar-client-cpp/python/setup.py
Labels: component/client, component/python, type/enhancement

#3792 [pulsar-webscoket] avoid creating temp list of metrics on every-metrics generator
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/stats/ProxyStats.java
Labels: component/websocket

#3796 Fix broken reference
  site2/docs/client-libraries-java.md
Labels: component/documentation, component/website, type/bug

#3794 Fix codebase url
  site2/docs/getting-started-standalone.md
  site2/website/versioned_docs/version-2.3.0/getting-started-standalone.md
Labels: component/website, type/bug

#3790 Pulsar standalone does not read zk port form conf/standalone.conf
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
Labels: component/broker, type/enhancement

#3798 Add `SkipCopyPythonClients` for building pulsar docker image
  docker/pulsar/pom.xml
Labels: component/build, component/python, type/enhancement

#3781 Issue #3780 Fixed admin-api-non-persistent-topics documentation
  site2/docs/admin-api-non-persistent-topics.md
Labels: component/documentation

#3797 Support Kafka's ProducerConfig.REQUEST_TIMEOUT_MS_CONFIG.
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/test/java/org/apache/kafka/clients/producer/PulsarKafkaProducerTest.java
  site2/docs/adaptors-kafka.md
Labels: component/client, component/kafka, type/enhancement

#3795 Feature - implement reference count for ConsumerImpl
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  tests/pulsar-storm-test/src/test/java/org/apache/pulsar/storm/PulsarSpoutTest.java
Labels: component/client, type/bug

#3700 [pulsar-io] Add a Pulsar IO connector for Redis sink
  pulsar-io/pom.xml
  pulsar-io/redis/pom.xml
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/RedisAbstractConfig.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/RedisSession.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/sink/RedisSink.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/sink/RedisSinkConfig.java
  pulsar-io/redis/src/main/resources/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/redis/src/test/java/org/apache/pulsar/io/redis/EmbeddedRedisUtils.java
  pulsar-io/redis/src/test/java/org/apache/pulsar/io/redis/sink/RedisSinkConfigTest.java
  pulsar-io/redis/src/test/java/org/apache/pulsar/io/redis/sink/RedisSinkTest.java
  pulsar-io/redis/src/test/resources/sinkConfig.yaml
Labels: component/io, type/feature

#3808 Issue #3803: Make ManagedLedger read batch size configurable
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: component/config, component/storage, type/enhancement

#3677 PIP-30: interface and mutual change authentication
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataSource.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationState.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/OneStageAuthenticationState.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MutualAuthenticationTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Authentication.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/AuthenticationDataProvider.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/api/AuthData.java
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/PulsarDecoder.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/broker, component/client, component/security, type/feature

#3812 [pom] Update mvn plugins
  pom.xml
Labels: component/build, type/task

#3814 Fix some minor typos
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/documentation

#3750 Negative acks in C++ client
  pulsar-client-cpp/include/pulsar/Consumer.h
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/include/pulsar/MessageId.h
  pulsar-client-cpp/include/pulsar/c/consumer.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/Consumer.cc
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ConsumerImplBase.h
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/NegativeAcksTracker.cc
  pulsar-client-cpp/lib/NegativeAcksTracker.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/lib/c/c_Consumer.cc
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, type/feature

#3766 Support passing schema definition for JSON and AVRO schemas
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/JSONSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ProtobufSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StructSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
Labels: component/schemaregistry, type/cleanup, type/feature

#3718 In Java allow messages that compress to <5mb to be sent with batching enabled
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug

#3817 Negative acks implementation for Go client
  pulsar-client-go/pulsar/c_consumer.go
  pulsar-client-go/pulsar/consumer.go
  pulsar-client-go/pulsar/consumer_test.go
Labels: component/go, type/feature

#3826 [Issue #3810][pulsar-broker] Implement configurable token auth claim
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#3801 fix message_id_serialize to empty slice
  pulsar-client-cpp/lib/c/c_MessageId.cc
  pulsar-client-go/pulsar/consumer_test.go
Labels: component/go, type/bug

#3815 Maintain the cursor properties on cursor.delete()
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorPropertiesTest.java
Labels: type/enhancement

#3816 Negative acks implementation for Python client
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/config.cc
  pulsar-client-cpp/python/src/consumer.cc
Labels: type/feature

#3824 version not match in protobuf-shaded/pom.xml
  protobuf-shaded/pom.xml
Labels: component/build

#3748 [cpp client] Bugfix prevent dup consumer for same topic subscription
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client, type/bug

#3693 Fix topic name logic for partitioned topics
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/scripts/run_python_instance_tests.sh
  pulsar-functions/instance/src/test/python/test_python_instance.py
Labels: component/functions

#3834 Use correct number of messages in batch for publish rate stats during replication
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug

#3827 Expand add env functionality to add variables if not present
  docker/pulsar/scripts/apply-config-from-env.py
Labels: component/test

#3858 Use `PULSAR_PREFIX_` for appending new keys
  docker/pulsar/scripts/apply-config-from-env.py
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/scripts/pre-integ-tests.sh
Labels: component/test, type/bug

#3849 [stats] Expose namespace topics count when exposing topic level metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
Labels: component/broker, component/stats, type/enhancement

#3847 Fix set-project-version.sh
  src/set-project-version.sh
Labels: component/build, type/bug

#3845 Issue #3807: Fix s3 support for s3 api
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: component/tieredstorage, type/bug

#3836 Issue #3211: Fix NPE when creating schema after deleting a schema
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/SchemaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/Schemas.java
Labels: component/schemaregistry, type/bug

#3821 kerberos: authentication between client and broker
  conf/broker.conf
  pom.xml
  pulsar-broker-auth-sasl/pom.xml
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/PulsarSaslServer.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslAuthenticationDataSource.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslAuthenticationState.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/MiniKdc.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/SaslAuthenticateTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataSource.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/AuthenticationDataProvider.java
  pulsar-client-auth-sasl/pom.xml
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationSasl.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/PulsarSaslClient.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/SaslAuthenticationDataProvider.java
  pulsar-common/src/main/java/org/apache/pulsar/common/sasl/JAASCredentialsContainer.java
  pulsar-common/src/main/java/org/apache/pulsar/common/sasl/KerberosName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/sasl/SaslConstants.java
  pulsar-common/src/main/java/org/apache/pulsar/common/sasl/TGTRefreshThread.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/admin/WebSocketWebResource.java
Labels: component/security, type/feature

#3859 copy logs from presto server container on teardown in integration tests
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/PrestoWorkerContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
Labels: component/sql, component/test

#3752 revise the schema default type not null
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/ClientGetSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/JsonSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleTypedProducerConsumerTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/SchemaDefinition.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/SchemaDefinitionBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/JSONSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaDefinitionBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaDefinitionImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StructSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/JSONSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaBuilderTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaTestUtils.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/MultiVersionGenericSchemaProviderTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/tutorial/SampleAsyncProducerWithSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/tutorial/SampleConsumerWithSchema.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-io/hbase/src/test/java/org/apache/pulsar/io/hbase/sink/HbaseGenericRecordSinkTest.java
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/JdbcSinkTest.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/JdbcSinkTester.java
Labels: component/client, component/schemaregistry, type/enhancement

#3714 [Issue #3712][python-client] exposing InitialPosition management in the ConsumerConfiguration.
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/config.cc
  pulsar-client-cpp/python/src/enums.cc
Labels: component/python, type/feature

#3840 [issue 3838] [schema] : Allow incompatible schemas to co-exist on a topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AlwaysSchemaValidator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaBasedCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaCompatibilityStrategy.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SchemaAutoUpdateCompatibilityStrategy.java
  site2/docs/reference-pulsar-admin.md
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/SchemaUpdateStrategyTest.java
Labels: type/enhancement

#3852 [Issue-3850]Fix the loop of wrapper consumer poll
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java
Labels: type/bug

#3835 [pulsar-client-tools] Add support for websocket produce/consume command
  pulsar-client-tools/pom.xml
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
Labels: component/websocket

#3829 [Issue 3806] Fix NPE while call PartitionedProducerImpl.getStats()
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PartitionedProducerImplTest.java
Labels: component/client, type/bug

#3735 Implementing authentication for Pulsar Functions
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinkBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourceBase.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/ClearTextFunctionTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/FunctionAuthData.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/FunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/FunctionAuthUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/NoOpFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/Runtime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/ClearTextFunctionTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactoryTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/FunctionApiResource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions, component/security

#3633 [pulsar-broker] Fix deadlock: add zk-operation timeout for blocking call on zk-cache
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/cache/ResourceQuotaCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/ZookeeperCacheLoader.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/BrokerDiscoveryProvider.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/util/ZookeeperCacheLoader.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/GlobalZooKeeperCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalZooKeeperCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMapping.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperDataCache.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMappingTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
Labels: component/broker

#3842 [issue 3839] [doc] Document default of schema-autoupdate-strategy : FULL
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.0/reference-pulsar-admin.md
Labels: component/documentation

#3830 Fix read batching message by pulsar reader
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, type/bug

#3531 fix some LGTM alerts
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LeaderBroker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/AbstractMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundles.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageIdImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/AuthPolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/AutoFailoverPolicyData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/BrokerNamespaceIsolationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/BundlesData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/FailureDomain.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/LocalPolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/NamespaceIsolationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PersistencePolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ResourceQuota.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/impl/MinAvailablePolicy.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/impl/NamespaceIsolationPolicyImpl.java
Labels: type/bug, type/enhancement

#3843 Add a wrapper around Kafka's ProducerInterceptor to support Kafka's ProducerConfig.INTERCEPTOR_CLASSES_CONFIG. #1090
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/pulsar/client/kafka/compat/KafkaProducerInterceptorWrapper.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/test/java/org/apache/kafka/clients/producer/PulsarKafkaProducerTest.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/test/java/org/apache/pulsar/client/kafka/compat/KafkaProducerInterceptorWrapperTest.java
  site2/docs/adaptors-kafka.md
Labels: component/kafka, type/feature

#3857 Create ManagedCursor with initial properties
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorPropertiesTest.java
Labels: type/enhancement

#3841 Update README.md
  README.md
Labels: component/documentation

#3888 Namespace service should not use static variable maps
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: component/test, type/enhancement

#3891 fix: NPE when stats manager not initialized
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
Labels: component/functions, type/bug

#3879 fix: ack timeout in pulsar cpp client when subscribing to regex topic
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: type/bug

#3880 Encode client version into Java source file instead of pulsar-client-version.properties
  pulsar-client/pom.xml
  pulsar-client/src/main/java-templates/org/apache/pulsar/PulsarVersion.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/resources/pulsar-client-version.properties
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyClientCnx.java
Labels: type/enhancement

#3893 Fix typos in helm chart values file
  deployment/kubernetes/helm/pulsar/values.yaml
Labels: component/deploy

#3864 Fixed reading from file with newlines
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationToken.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/auth/AuthenticationTokenTest.java
Labels: type/bug

#3894 [flink] Allow to specify a custom Pulsar producer
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
Labels: component/flink, type/enhancement

#3889 Use minimal number of threads in BK instance used for tests
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: component/test, type/enhancement

#3892 Refactored ReplicatorTest to be more easily debuggable
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/v1/V1_ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/v1/V1_ReplicatorTestBase.java
Labels: component/test, type/enhancement

#3872 Add ability to specify runtime flags in functions/sources/sinks
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SourceConfig.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
Labels: component/functions, component/io

#3866 Added sensitive annotations
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalSourceConfig.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/annotations/FieldDoc.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcSinkConfig.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/RedisAbstractConfig.java
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHoseConfig.java
Labels: component/io

#3898 [pulsar-broker] Add support of default ttl for namespace
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  site2/docs/reference-configuration.md
Labels: component/broker

#3899 [Issue 3896] [pulsar-io] Fix NPE in ElasticSearchSink
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
Labels: type/bug

#3900 Logical type use
  pom.xml
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
Labels: component/schemaregistry

#3870 [schema] Batch message should propagate the schema version from single message
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
Labels: component/schemaregistry, type/bug

#3863 [cpp client] implement reference count for close()
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ConsumerImplBase.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client, type/bug

#3910 [issue #3895] Bugfix for non partitioned topic create
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/client, type/bug

#3914 [Doc]Refine topic name structure
  site2/docs/admin-api-non-persistent-topics.md
Labels: component/documentation, type/bug

#3917 [pulsar-broker] fix ClassCastException at ZkIsolatedBookieEnsemblePlacementPolicy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
Labels: component/broker

#3920 Fix: unloading namespace logging
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: component/broker, type/bug

#3907 Misc Function fixes
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
Labels: component/functions, component/io

#3856 [pulsar-client] add Date/Time/Timestamp schema
  .gitignore
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/DateSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/FieldSchemaBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/TimeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/TimestampSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/PrimitiveSchemaTest.java
  pulsar-client/src/test/resources/avro/NasaMission.avsc
Labels: component/client, component/schemaregistry, type/feature

#3874 [ISSUE 3763] - Implementing Function authorization
  conf/functions_worker.yml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinkBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourceBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/AuthAction.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinkImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourceImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions, component/security

#3909 Using Auto Consume consumer on a topic that doesn't have a schema doesn't work
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/test

#3929 [3928][tiered-storage] Include java-xmlbuilder in tiered-storage-jcloud NAR
  tiered-storage/jcloud/pom.xml
Labels: type/bug

#3912 [tiered-storage] fix jcloud-shaded version to build in IDEA
  tiered-storage/jcloud/pom.xml
  tiered-storage/pom.xml
Labels: component/build, type/enhancement

#3918 [pulsar-broker] Fix: Deserialization failing for ZkIsolatedBookieEnsemblePlacementPolicy
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
Labels: component/broker

#3922 [Issue 3908] [pulsar-client-tool] Fix source/sink creation to use JSON config values
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
Labels: component/io, type/bug

#3911 Support Kafka's ConsumerConfig.INTERCEPTOR_CLASSES_CONFIG in PulsarKafkaConsumer.
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java
  site2/docs/adaptors-kafka.md
Labels: component/client, component/kafka, type/enhancement

#3921 clean-up unnecessary public from interface
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
Labels: component/cli

#3932 Cleanup logic in JavaInstanceRunnable close method
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions

#3865 Classloader choice for validating Source/Sink
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/io

#3868 [Issue 3867] Provide the description of sink/source command for better usage
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/io, type/enhancement

#3930 [Issue 3926][functions] Add delete counter in python functions state_context
  pulsar-client-cpp/python/pulsar/functions/context.py
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/state_context.py
Labels: component/functions, component/python, type/feature

#3940 [schema] store schema type correctly in schema registry
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/proto/SchemaRegistryFormat.proto
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/SchemaData.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
Labels: component/schemaregistry, type/bug

#3913 Fixed manual offloading when the last ledger is empty
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/bug

#3938 Upgrade third party libraries with security vulnerabilities
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-sql/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/security

#3934 fix submit function via url
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Utils.java
Labels: component/functions

#3923 Fix comments of schema compatibility strategy.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaCompatibilityStrategy.java
Labels: component/documentation, component/schemaregistry, type/bug

#3942 Remove the exception which will never be thrown
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
Labels: component/cli, type/cleanup

#3919 [pulsar-broker] zk-isolation placement policy should make sure isolation group bookies must not be excluded
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
Labels: component/broker

#3890 By default use `journalFormatVersionToWrite=5` for Bookie journal
  conf/bookkeeper.conf
Labels: type/bug
