Repository apache/pulsar, pull requests merged in 2019-11, with the labels that each got.

#5502 Fix list non-persistent topics shows the persistent topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/admin, type/bug

#5527 fix: Functions unnecessarily restart during FunctionRuntimeManager init phase
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
Labels: component/functions, type/bug

#5043 [zookeeper] bump zookeeper to version 3.5.6
  managed-ledger/src/test/java/org/apache/bookkeeper/test/PortManager.java
  pom.xml
  pulsar-io/flume/pom.xml
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestAbstractZooKeeperConfigurationProvider.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
  pulsar-sql/presto-distribution/LICENSE
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/SerializeUtilsAspect.java
  pulsar-zookeeper-utils/src/main/resources/META-INF/aop.xml
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperServerTest.java
Labels: type/task

#5515 [Transaction Coordinator] Bootstrap pulsar system namespace and create TC assign topic.
  bin/pulsar
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarTransactionCoordinatorMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionCoordinatorAssignTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/NamespaceName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
Labels: component/broker

#5463 Function runtime pluggable
  conf/functions_worker.yml
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Reflections.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/ReflectionsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#5545 fix repeated initialization of connectorsManager
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
Labels: component/functions, type/bug

#5532 Add subscribe position param for consumer of sink
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSourceConfig.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
Labels: component/functions

#5550 add missing placeholder for log, delete redundant 'return' clause
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: type/cleanup

#5529 [Doc] Add work flow of checking broken links
  site2/README.md
Labels: component/documentation

#5556 Document that reader is implemented as a consumer
  site2/docs/concepts-clients.md
Labels: component/documentation

#5547 cpp/python: increase number of digits in temporary subscription name for readers
  pulsar-client-cpp/lib/ClientImpl.cc
Labels: component/c++

#5551 Fix docs about reset cursor
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation

#5494 [Issue 5425][docs-website] Add coding guide for Apache Pulsar contributing guide
  site2/website/coding-guide.md
Labels: component/website

#5536 [Issue 5518][docs] Update docs mainly for Python API
  site2/docs/functions-api.md
  site2/docs/functions-debug.md
  site2/docs/functions-deploying.md
  site2/docs/functions-develop.md
  site2/docs/functions-metrics.md
  site2/docs/functions-overview.md
  site2/docs/functions-state.md
Labels: component/documentation

#5544 Fix Test Assertion retry
  pom.xml
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/utils/DockerUtils.java
Labels: component/test

#5504 [Transaction coordinator]Add transaction metadata store service
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-transaction/coordinator/pom.xml
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionCoordinatorID.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/exceptions/CoordinatorException.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProviderTest.java
Labels: component/broker, component/txn, component/txn/coordinator

#5563 [broker]Add handle exception KeeperException.BadVersionException
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
Labels: component/broker

#5422 [broker] Fix outdated document of method
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/AbstractMetrics.java
Labels: type/cleanup

#5421 [Broker] Fix log message bug
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryService.java
Labels: type/enhancement

#5569 [Schema] [Pulsar Functions] Fix schema def build error with protobuf schema
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
Labels: component/functions, component/schemaregistry

#5148 Validate topic name before creating partition/non partition topic via admin cli.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  site2/docs/admin-api-non-partitioned-topics.md
  site2/docs/admin-api-partitioned-topics.md
Labels: component/cli

#5372 Use StandardCharsets.UTF_8 for converting String to bytes
  examples/spark/src/main/java/org/apache/spark/streaming/receiver/example/ProducerSparkReceiverData.java
  examples/spark/src/main/java/org/apache/spark/streaming/receiver/example/SparkStreamingPulsarReceiverExample.java
  pulsar-broker/src/main/java/org/apache/pulsar/utils/CmdUtility.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/SimpleTextOutputStreamTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/StatsOutputStreamTest.java
  pulsar-client-kafka-compat/pulsar-client-kafka_0_8/src/test/java/org/apache/pulsar/client/kafka/test/KafkaProducerSimpleConsumerTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/utils/IOUtilsTest.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisRecord.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSink.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSource.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZookeeperClientFactoryImpl.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/DeserializersTest.java
Labels: type/cleanup

#5573 [Issue 5561] Update Debezium version to 0.10.0.Final
  pom.xml
  pulsar-io/debezium/core/src/main/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistory.java
  pulsar-io/debezium/core/src/test/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistoryTest.java
Labels: component/io

#5542 [Issue 5541] cpp and python API: consumer and reader seek
  pulsar-client-cpp/include/pulsar/Consumer.h
  pulsar-client-cpp/include/pulsar/Reader.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/Consumer.cc
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ConsumerImplBase.h
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/lib/Reader.cc
  pulsar-client-cpp/lib/ReaderImpl.cc
  pulsar-client-cpp/lib/ReaderImpl.h
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/consumer.cc
  pulsar-client-cpp/python/src/reader.cc
Labels: component/c++, component/python

#5577 Fix schema static initialization sequence
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/BooleanSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ByteBufSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ByteBufferSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ByteSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/BytesSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/DateSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/DoubleSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/FloatSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/IntSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LongSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ShortSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/TimeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/TimestampSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/PrimitiveSchemaTest.java
Labels: component/schemaregistry, java

#5578 Fix license file in the distribution package
  distribution/server/src/assemble/LICENSE.bin.txt
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build

#5591 KafkaSourceRecord - Initialize key property with Optional.empty()
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSource.java
Labels: component/io, type/enhancement

#5596 [Issue 5575] fix typo in BrokersBase file
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
Labels: component/broker

#5594 [Issue 5553] [website] Add coding-guide page
  site2/website/contributing.md
  site2/website/core/Footer.js
  site2/website/pages/en/coding-guide.js
Labels: component/website

#5327 typo: traffic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
Labels: component/documentation

#5595 [Docs] Fix the go client docs missing in website
  site2/docs/client-libraries-go.md
Labels: component/documentation, component/go

#5587 [Issue 5585][pulsar-client] Fix producer Semaphore release error
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/broker, type/bug

#5593 [Docs] Add admin api docs of Pulsar Functions
  node_modules/.yarn-integrity
  site2/docs/admin-api-functions.md
  site2/website/sidebars.json
Labels: component/documentation, component/functions

#5621 Data is not deleted after expiration due to connected readers
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainer.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/PersistentTransactionBuffer.java
Labels: component/client, type/bug

#5625 [Issue 5618] [docs]Correct python example
  site2/docs/functions-develop.md
  site2/website/versioned_docs/version-2.4.1/functions-develop.md
Labels: component/functions

#5636 [tests] remove redundant check in PulsarFunctionE2ESecurityTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
Labels: component/functions, component/test

#5622 Expose include head message for durable consumers
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/enhancement

#5629 [pulsar-io] hbase sink avoid flushing hbase table
  pulsar-io/hbase/src/main/java/org/apache/pulsar/io/hbase/sink/HbaseAbstractSink.java
Labels: component/connect, type/enhancement

#5429 fix: java doc on MessageListener - acknowledgement part
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/MessageListener.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/MessageListener.java
Labels: component/documentation

#5491 [Issue 5476]Fix message deduplicate issue while using external sequence id with batch produce
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/client

#5617 update Maven version to 3.3.9+ in README.md
  README.md
  pom.xml
Labels: component/build, component/documentation

#5605 fix prometheusMetrics export contains " bug
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
Labels: component/stats

#5643 Fix: don't set interrupt flag again after catching interrupt exception in Pulsar Client
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
Labels: type/bug

#5640 Improve PartitionedTopicsSchemaTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/PartitionedTopicsSchemaTest.java
Labels: component/test

#5649 [Doc] Correct Python versions
  pulsar-client-cpp/python/pulsar/__init__.py
Labels: component/python, component/website

#5641 Cherry-pick functions admin api docs to 2.4.1
  site2/website/versioned_docs/version-2.4.1/admin-api-functions.md
  site2/website/versioned_sidebars/version-2.4.1-sidebars.json
Labels: component/website

#5400 [functions] Allow functions to pass runtime specific options
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SourceConfig.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/ClearTextFunctionTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/FunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeCustomizer.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/BasicKubernetesManifestCustomizer.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesManifestCustomizer.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/ClearTextFunctionTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
  site2/docs/functions-cli.md
  site2/docs/functions-runtime.md
Labels: component/functions

#5045 [client] Introduce `batchingMaxBytes` setting in pulsar producer
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AbstractBatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageKeyBasedContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerBuilderImplTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: component/client, type/enhancement

#5665 fix: modfiy tentant to tenant
  site2/docs/deploy-bare-metal-multi-cluster.md
Labels: component/documentation, type/bug

#5571 Add epoch for connection handler to handle create producer timeout.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessagePublishThrottlingTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/client

#5679 [Issue 5346]bin/pulsar standalone --zookeeper-port 2183 does not work with version 2.4.1
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
Labels: component/broker, type/bug

#5023 `hasMessageAvailable` should return false when Reader read from latest messages
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client

#5615 Fix hangs when type invalid args at command-line
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBase.java
Labels: component/admin

#5675 fix bkenv has no effect bug when start bookie using bin/pulsar-daemon
  bin/pulsar
  bin/pulsar-daemon
  bin/pulsar-perf
  conf/pulsar_env.sh
  src/pulsar-io-gen
Labels: component/broker, type/bug

#5689 [Issue 5688][dashboard] Fix postgres version in dockerfile
  dashboard/Dockerfile
Labels: component/dashboard, type/bug

#5691 [Issues 5681] fix example code of java client
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-java.md
Labels: component/documentation, component/website

#5670 [Doc] Re-organize built-in connector guide
  site2/docs/io-cdc.md
  site2/docs/io-connectors.md
  site2/docs/io-kafka-sink.md
  site2/docs/io-kinesis-sink.md
  site2/docs/io-kinesis-source.md
Labels: component/website

#5639 Fix ProxyLookupThrottlingTest
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
Labels: component/proxy, component/test

#5697 fix: example of Python client Syntax error
  site2/docs/security-token-client.md
Labels: component/documentation, component/python

#5648 [docs] Update sql getting started
  site2/docs/sql-getting-started.md
Labels: component/documentation, component/sql

#5647 [docs] Update content of Pulsar SQL overview
  site2/docs/sql-overview.md
Labels: component/documentation, component/sql

#5342 Use simple GC settings when running integration tests
  tests/docker-images/latest-version-image/conf/bookie.conf
  tests/docker-images/latest-version-image/conf/broker.conf
  tests/docker-images/latest-version-image/conf/functions_worker.conf
  tests/docker-images/latest-version-image/conf/global-zk.conf
  tests/docker-images/latest-version-image/conf/local-zk.conf
  tests/docker-images/latest-version-image/conf/presto_worker.conf
  tests/docker-images/latest-version-image/conf/proxy.conf
Labels: component/test

#5700 [Doc]Update document for developer and old version
  site2/docs/admin-api-schemas.md
  site2/docs/concepts-schema-registry.md
  site2/docs/deploy-bare-metal.md
  site2/docs/functions-api.md
  site2/docs/functions-debugging.md
  site2/docs/functions-deploying.md
  site2/docs/functions-guarantees.md
  site2/docs/functions-metrics.md
  site2/docs/functions-quickstart.md
  site2/docs/functions-state.md
  site2/docs/io-aerospike.md
  site2/docs/io-cassandra.md
  site2/docs/io-cdc-canal.md
  site2/docs/io-elasticsearch.md
  site2/docs/io-file.md
  site2/docs/io-hbase.md
  site2/docs/io-hdfs.md
  site2/docs/io-influxdb.md
  site2/docs/io-jdbc.md
  site2/docs/io-kafka.md
  site2/docs/io-kinesis.md
  site2/docs/io-mongo.md
  site2/docs/io-netty.md
  site2/docs/io-rabbitmq.md
  site2/docs/io-redis.md
  site2/docs/io-solr.md
  site2/docs/io-tcp.md
  site2/docs/io-twitter.md
  site2/docs/reference-connector-admin.md
  site2/website/versioned_docs/version-2.3.2/admin-api-schemas.md
  site2/website/versioned_docs/version-2.4.1/develop-bare-metal.md
Labels: component/documentation

#5705 [pulsar-io] improve hbase sink performance
  pulsar-io/hbase/src/main/java/org/apache/pulsar/io/hbase/sink/HbaseGenericRecordSink.java
Labels: component/io

#5674 Parametrize grpc and metrics ports so that they can be configured
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: component/functions, type/enhancement

#5671 [Doc] Add HBase sink connector guide
  site2/docs/io-hbase-sink.md
Labels: component/documentation, component/io

#5603 [Issue 5597][pulsar-client-java] retry when getPartitionedTopicMetadata failed
  pulsar-broker/src/test/java/org/apache/pulsar/stats/client/PulsarBrokerStatsClientTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: component/client, type/enhancement

#5701 [issues 5698]Handle replicator producer as generated name producer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/broker

#5706 [client]Fix consumer of python queue size is zero
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/consumer.cc
Labels: component/c++, component/python, type/bug

#5651 [docs] Update Pulsar SQL configuration and deployment
  site2/docs/sql-deployment-configurations.md
Labels: component/documentation, component/sql

#5659 Fix prometheus access control not enough in kubernetes
  deployment/kubernetes/aws/monitoring.yaml
  deployment/kubernetes/generic/k8s-1-9-and-above/monitoring.yaml
  deployment/kubernetes/generic/original/monitoring.yaml
  deployment/kubernetes/google-kubernetes-engine/monitoring.yaml
Labels: component/stats, type/bug

#5721 Expose lastExpireTimestamp for subscription stats.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
Labels: component/admin

#5677 [Issue 5676][C++ client] Expose redelivery count
  pulsar-client-cpp/include/pulsar/Message.h
  pulsar-client-cpp/include/pulsar/c/message.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/Message.cc
  pulsar-client-cpp/lib/MessageImpl.cc
  pulsar-client-cpp/lib/MessageImpl.h
  pulsar-client-cpp/lib/c/c_Message.cc
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/test-conf/standalone.conf
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client

#5707 [Issue 5684] [docs] Add unit for storageSize
  site2/docs/reference-pulsar-admin.md
Labels: component/admin, component/documentation

#5715 [Issues 5692]Add document for mongodb connector
  site2/docs/io-cdc-debezium.md
Labels: component/documentation, component/io

#5743 fix setTxnidMostBits bug
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
Labels: component/client, component/txn, type/bug

#5710 Add publish rate limit for each broker to avoid OOM
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PublishRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessagePublishThrottlingTest.java
Labels: component/broker, type/enhancement

#5731 fix potential deadlock in pulsar client close
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/bug

#5722 [Issue 5287][docs] Add documentation on how to configure multiple broker services
  site2/docs/sql-deployment-configurations.md
Labels: component/documentation, component/sql

#5470 Adding Spark example to Write Pojo classes to Stream
  examples/spark/src/main/java/org/apache/spark/streaming/receiver/example/ProducerSparkWithPojo.java
  examples/spark/src/main/java/org/apache/spark/streaming/receiver/example/SensorReading.java
Labels: component/examples

#5754 Init broker publish limiter at broker start time
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicPublishThrottlingInitTest.java
Labels: component/broker, type/task

#5549 Fix documentation: how to start server for cpp tests
  pulsar-client-cpp/README.md
Labels: component/c++, component/documentation

#5750 [Issue 4752][docs] Add language tabs and description for Go
  site2/docs/functions-develop.md
Labels: component/documentation, component/functions

#5737 [Issue 5729]Picture and text are not match
  site2/docs/concepts-messaging.md
  site2/website/versioned_docs/version-2.1.0-incubating/concepts-messaging.md
  site2/website/versioned_docs/version-2.3.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.3.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.3.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.4.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.4.1/concepts-messaging.md
Labels: component/documentation, type/bug

#5718 [Issue 5712][broker] Auth provider superuser
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: type/enhancement

#5001 [Pulsar-sql]Using pulsar SQL query messages will appear `NoSuchLedger` when zk root directory changed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryChangeLedgerPathTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/ZooKeeperUtil.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
Labels: component/sql

#5756 Bump athenz libraries to 1.8.38
  pom.xml
Labels: dependencies, java

#5632 [Issue 5614] Deprecate brokerServicePurgeInactiveFrequencyInSeconds
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/test-conf/standalone.conf
  pulsar-client-cpp/tests/authentication.conf
  pulsar-client-cpp/tests/standalone.conf
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
Labels: component/documentation

#5376 [Issue 3009][docs] Add presto sql REST APIs doc
  site2/docs/sql-rest-api.md
  site2/website/sidebars.json
Labels: component/documentation, component/sql

#5719 Remove cursor while remove non-durable subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
Labels: component/broker, type/bug

#5748 Fix NPE and release already released ByteBuf in batch message container
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageKeyBasedContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client

#5766 [tests] ManagedLedgerFactoryChangeLedgerPathTest is flaky
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryChangeLedgerPathTest.java
Labels: component/test

#5741 [website]Add content of pulsar-manager in website(include release notes, download link)
  site2/docs/administration-pulsar-manager.md
  site2/website/pages/en/download.js
  site2/website/pages/en/pulsar-manager-release-notes.js
  site2/website/pulsar-manager-release-notes.md
  site2/website/pulsar-manager-release.json
  site2/website/sidebars.json
Labels: component/website

#5773 Fixes #5772: Bump Lombok version to allow building with a JDK>=12
  pom.xml
Labels: component/build, type/task

#5774 [website]Fix pulsar-manager download link
  site2/website/pages/en/download.js
Labels: component/website
