Repository apache/pulsar, pull requests merged in 2019-02, with the labels that each got.

#3477 Fixed the behavior of Function start/stop
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinkBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourceBase.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Sink.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Source.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SinkImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SourceImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
Labels: component/functions

#3496 allow users to set the image pull policy for kubernetes runtime
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions

#3484 Replaced boost::bind with std::bind
  pulsar-client-cpp/examples/SampleAsyncProducer.cc
  pulsar-client-cpp/examples/SampleProducer.cc
  pulsar-client-cpp/lib/BatchMessageContainer.cc
  pulsar-client-cpp/lib/BatchMessageContainer.h
  pulsar-client-cpp/lib/BinaryProtoLookupService.cc
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ExecutorService.cc
  pulsar-client-cpp/lib/ExecutorService.h
  pulsar-client-cpp/lib/HTTPLookupService.h
  pulsar-client-cpp/lib/HandlerBase.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedProducerImpl.cc
  pulsar-client-cpp/lib/PatternMultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.cc
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.h
  pulsar-client-cpp/lib/UnAckedMessageTrackerInterface.h
  pulsar-client-cpp/lib/Utils.h
  pulsar-client-cpp/lib/auth/AuthAthenz.cc
  pulsar-client-cpp/lib/auth/AuthToken.cc
  pulsar-client-cpp/lib/c/c_Authentication.cc
  pulsar-client-cpp/lib/c/c_Client.cc
  pulsar-client-cpp/lib/c/c_Consumer.cc
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/lib/c/c_Producer.cc
  pulsar-client-cpp/lib/c/c_Reader.cc
  pulsar-client-cpp/lib/c/c_ReaderConfiguration.cc
  pulsar-client-cpp/lib/c/c_structs.h
  pulsar-client-cpp/lib/stats/ConsumerStatsImpl.cc
  pulsar-client-cpp/lib/stats/ConsumerStatsImpl.h
  pulsar-client-cpp/lib/stats/ProducerStatsImpl.cc
  pulsar-client-cpp/lib/stats/ProducerStatsImpl.h
  pulsar-client-cpp/perf/PerfConsumer.cc
  pulsar-client-cpp/perf/PerfProducer.cc
  pulsar-client-cpp/python/src/producer.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/ConsumerStatsTest.cc
  pulsar-client-cpp/tests/ZeroQueueSizeTest.cc
Labels: component/c++

#3503 CPP Client - Adding LOG4CXX_USE_DYNAMIC_LIBS to CMake.
  pulsar-client-cpp/CMakeLists.txt
Labels: component/c++

#3424 Re-enable running Python tests in CI PR validation
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/run-unit-tests.sh
Labels: component/build

#3499 Fix document section reference
  site2/docs/administration-zk-bk.md
Labels: component/documentation

#3492 Use try-resource to auto close opened resource
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
Labels: type/enhancement

#3466 Add BC Testing for prior client versions
  tests/bc_2_0_0/pom.xml
  tests/bc_2_0_0/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
  tests/bc_2_0_0/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/bc_2_0_0/src/test/resources/pulsar.xml
  tests/bc_2_0_1/pom.xml
  tests/bc_2_0_1/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
  tests/bc_2_0_1/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/bc_2_0_1/src/test/resources/pulsar.xml
  tests/pom.xml
Labels: component/client, component/test

#3507 Replaced boost::array with std::array
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/SharedBuffer.h
  pulsar-client-cpp/lib/stats/ProducerStatsImpl.cc
  pulsar-client-cpp/lib/stats/ProducerStatsImpl.h
Labels: component/c++

#3508 allow function state storage url to configurable in standalone deployment
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/functions

#3442 Clean up duplicate section in doc
  site2/docs/admin-api-namespaces.md
Labels: component/documentation, type/task

#3445 Add document for unloading namespace API
  site2/docs/admin-api-namespaces.md
Labels: component/documentation, type/enhancement

#3465 [pulsar-broker][Debug log] include ledgerId for dispatched message
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
Labels: component/broker

#3456 Remove the judgment of the localrun mode (#3447)
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
Labels: component/cli, type/bug

#3512 Replaces boost::regex with std::regex
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/NamedEntity.cc
  pulsar-client-cpp/lib/NamedEntity.h
  pulsar-client-cpp/lib/Url.cc
  pulsar-client-cpp/lib/auth/athenz/ZTSClient.cc
  pulsar-client-cpp/tests/ZTSClientTest.cc
Labels: component/c++, component/client, type/enhancement

#3516 [#3515][Broker] Make PulsarStandalone.start() public to be called in Embedded mode
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/test, type/enhancement

#3498 [docs] Update link to Presto website
  site2/docs/sql-overview.md
Labels: component/website

#3479 [pulsar-broker] Avoid creating unnecessary dispatch-rate-limit objects
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
Labels: component/broker

#3483 [pulsar-broker] Fix TLS : loading PKCS8Key key file for replication in pulsar-broker
  pulsar-client/pom.xml
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
Labels: component/broker, component/client

#3432 [Issue 3431] Support Kafka-IO to pass extra configs
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSinkConfig.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSourceConfig.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
  pulsar-io/kafka/src/test/resources/kafkaSourceConfig.yaml
  site2/docs/io-kafka.md
Labels: component/io, type/enhancement

#3534 Revert "Replaces boost::regex with std::regex (#3512)"
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/NamedEntity.cc
  pulsar-client-cpp/lib/NamedEntity.h
  pulsar-client-cpp/lib/Url.cc
  pulsar-client-cpp/lib/auth/athenz/ZTSClient.cc
  pulsar-client-cpp/tests/ZTSClientTest.cc
Labels: type/bug

#3530 Fix command name in ns-isolation-policy help
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaceIsolationPolicy.java
Labels: type/bug

#3521 Use testDupConsumersOnSharedModeNotThrowsExcOnUnsubscribe to avoid interference with other tests running in parallel
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/test

#3523 fix: RuntimeInfo doesn't get set when transferring ownership of function from another worker to this worker
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
Labels: component/functions, type/bug

#3527 Removed usages of boost::filesystem
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/perf/PerfConsumer.cc
  pulsar-client-cpp/perf/PerfProducer.cc
Labels: component/c++, type/enhancement

#3520 Minor cleanup of Functions code to boost code uniformity
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: component/functions

#3513 Issue 3230: auto update topic partitions extend for consumer and producer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionsChangedListener.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
Labels: component/client

#3540 Use synchronized when accessing consumers identity map
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/bug

#3488 Build static lib with bundled dependencies
  pulsar-client-cpp/.gitignore
  pulsar-client-cpp/build-support/merge_archives.sh
  pulsar-client-cpp/docker/build-wheel-file-within-docker.sh
  pulsar-client-cpp/lib/CMakeLists.txt
  pulsar-client-cpp/pkg/deb/build-deb.sh
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/c++, type/enhancement

#3532 fix: Exception thrown in get list connectors
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: component/functions, type/bug

#3462 Added suppport for Kafka partitioner and explicit setting of partition on record
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/pulsar/client/kafka/compat/KafkaMessageRouter.java
  site2/docs/adaptors-kafka.md
  tests/pulsar-kafka-compat-client-test/src/test/java/org/apache/pulsar/tests/integration/compat/kafka/KafkaApiTest.java
Labels: component/client

#3472 [pulsar-client] Modify CmdProduce to avoid closing resource manually
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
Labels: component/client, type/enhancement

#3547 fix a couple race conditions in function worker
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: component/functions, type/bug

#3062 [bookie] enable bookie http server
  conf/bookkeeper.conf
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
Labels: component/config, type/enhancement

#3544 In functions log topic appender, don't set producer name
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/LogAppender.java
Labels: component/functions, type/bug

#3546 Only require linking with Boost program_options for CLI tools
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/perf/CMakeLists.txt
Labels: type/enhancement

#3526 In Python schema, allow to declare required fields
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/schema_test.py
Labels: component/python, component/schemaregistry

#3517 Improved SimpleProducerConsumerTest to avoid receive timeout
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/test

#3545 Fixed BrokerClientIntegrationTest.testUnsupportedBatchMessageConsumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
Labels: component/test

#3557 Added integration test for Python and Java schema compatibility
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/python-examples/consumer_schema.py
  tests/docker-images/latest-version-image/python-examples/producer_schema.py
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/python/PythonSchemaTest.java
Labels: component/python, component/test

#3556 [pulsar-broker] cursor: safe guard to avoid cursor-znode after cursor is closed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: component/broker

#3536 Add minimum amount of resources to run setting for functions
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions

#3528 Replace JsonCPP lib with boost::property_tree
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/HTTPLookupService.cc
  pulsar-client-cpp/lib/HTTPLookupService.h
  pulsar-client-cpp/lib/auth/AuthAthenz.cc
  pulsar-client-cpp/lib/auth/athenz/ZTSClient.cc
Labels: component/c++, type/enhancement

#3559 Remove two unused shaded modules
  pulsar-functions/pom.xml
  pulsar-functions/proto-shaded/pom.xml
  pulsar-functions/runtime-shaded/pom.xml
Labels: component/build, type/cleanup

#3553 [pulsar-broker][replicator] add remote cluster name in producer name
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
Labels: component/broker

#2906 [bookkeeper] bump bookkeeper version to 4.9.0
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/server/src/assemble/NOTICE.bin.txt
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  managed-ledger/src/test/java/org/apache/bookkeeper/client/PulsarMockLedgerHandle.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixReadTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/SameThreadOrderedSafeExecutor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
  pulsar-functions/instance/pom.xml
  pulsar-functions/runtime-all/pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
  src/check-binary-license
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexBlockImpl.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexTest.java
Labels: component/functions

#3549 In PulsarKafkaProducer use flush() from pulsar API
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java
Labels: type/enhancement

#3563 Link to protobuf-lite library in C++ client
  pulsar-client-cpp/CMakeLists.txt
Labels: component/c++, type/enhancement

#2714 [functions][state] Python state support
  pulsar-client-cpp/python/pulsar/functions/context.py
  pulsar-client-cpp/python/setup.py
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/main/python/state_context.py
  pulsar-functions/instance/src/test/python/test_python_instance.py
  pulsar-functions/python-examples/wordcount_function.py
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/ProcessRuntimeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarStandaloneTestBase.java
Labels: component/functions, component/python, type/feature

#3564 [pulsar-io] Add a unit test for KafkaAbstractSink
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/sink/KafkaAbstractSinkTest.java
  pulsar-io/kafka/src/test/resources/kafkaSinkConfig.yaml
Labels: component/io, component/test, type/task

#3511 Added docs for using schema in Python client lib
  site2/docs/client-libraries-python.md
Labels: component/documentation

#3573 Auto-configure managed ledger cache size based on JVM available mem
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoaderTest.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#3569 Add configuration to enabled BK sticky reads
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#3574 [pulsar-broker]Fix: Topic loaded by multiple brokers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker, type/bug

#3567 [cpp-client] add SubscriptionInitialPosition option in ConsumerConfiguration #3494
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/include/pulsar/InitialPosition.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/tests/ConsumerConfigurationTest.cc
Labels: type/feature

#3579 [Issue 3578][pulsar-client-tools] Support CLI pulsar-admin subcommands for concise description
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBase.java
Labels: type/enhancement

#3582 Fixed C++ client hostname verification
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ConnectionPool.cc
Labels: type/bug

#3561 Add a Pulsar IO MongoDB
  pulsar-io/mongo/pom.xml
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoConfig.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSink.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/package-info.java
  pulsar-io/mongo/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/mongo/src/test/java/org/apache/pulsar/io/mongodb/MongoConfigTest.java
  pulsar-io/mongo/src/test/java/org/apache/pulsar/io/mongodb/MongoSinkTest.java
  pulsar-io/mongo/src/test/java/org/apache/pulsar/io/mongodb/TestHelper.java
  pulsar-io/mongo/src/test/resources/mongoSinkConfig.yaml
  pulsar-io/pom.xml
Labels: component/io, type/feature

#3587 Fix broken links in spark adaptor mds (#3586)
  site/docs/latest/adaptors/PulsarSpark.md
  site/ja/adaptors/PulsarSpark.md
  site2/docs/adaptors-spark.md
  site2/website/versioned_docs/version-2.1.0-incubating/adaptors-spark.md
  site2/website/versioned_docs/version-2.2.0/adaptors-spark.md
Labels: component/documentation

#3525 [Issue 3458: Tag Pulsar ledgers in order to distinguish from other leggers in the same Bookkeeper cluster
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/LedgerMetadataUtils.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  site2/docs/cookbooks-bookkeepermetadata.md
  site2/website/sidebars.json
Labels: type/enhancement

#3589 [pulsar-client-tools] Add resource close in CmdBrokerStats and some minor fixes
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBrokerStats.java
  site2/docs/reference-pulsar-admin.md
Labels: type/enhancement

#3584 [pulsar-broker] provide option to disable redelivery-tracker to reduce in memory positionImpl footprint and gc improvement
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  site2/docs/reference-configuration.md
Labels: component/broker

#3571 If no clusters are specified, the namespace should by default use current cluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: type/enhancement

#3592 Improved Javadocs on Java client API
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/AuthenticationFactory.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/CompressionType.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerCryptoFailureAction.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerEventListener.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerInterceptor.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/CryptoKeyReader.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/DeadLetterPolicy.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/EncryptionKeyInfo.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/HashingScheme.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Message.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/MessageId.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/MessageRouter.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Producer.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerCryptoFailureAction.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderListener.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/RegexSubscriptionMode.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ServiceUrlProvider.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/SubscriptionInitialPosition.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/SubscriptionType.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java
Labels: component/documentation

#3593 Fixed race condition in C++ test testTlsDetectPulsarSslWithHostNameValidation
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: component/c++

#3595 Fixed getting message properties map in Python client
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/message.cc
Labels: type/bug

#3591 Fixed deadlock by triggering asyncCreateFullPathOptimistic() callback…
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImplZookeeper.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/MetaStoreImplZookeeperTest.java
Labels: type/bug

#3596 Add several missing subcommands in Pulsar Admin CLI md
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation

#3601 Distribute Pulsar IO connectors individually
  distribution/io/pom.xml
  distribution/io/src/assemble/io.xml
  docker/pulsar-all/Dockerfile
  docker/pulsar-all/pom.xml
  src/stage-release.sh
Labels: component/build

#3599 Fixed CMake lookup of boost Python for Py 3.4, 3.5 and 3.6
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/build, component/python

#3598 Fixed RAT check to exclude Avro generated files
  pom.xml
  pulsar-io/mongo/src/main/resources/META-INF/services/pulsar-io.yaml
Labels: type/task

#3603 fix: add retry and wait for kubernetes creation/deletion
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/RuntimeUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
Labels: component/functions

#3610 CPP Client - changing min cmake to 3.4 and adding flag for ccache
  pulsar-client-cpp/CMakeLists.txt
Labels: component/c++

#3450 Adding configuration to disable auto-topic creation
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/broker, type/feature

#3616 adding memory padding to memory limits set in Kubernetes
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions

#3617 minor fix bug in kubenetes runtime
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
Labels: component/functions, type/bug

#3608 Added ability to specify consumer queue size for function input topics
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/ConsumerConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
Labels: component/functions

#3609 Define the maven phase for generating protobuf code
  managed-ledger/pom.xml
  pulsar-broker/pom.xml
  pulsar-client/pom.xml
  pulsar-functions/proto/pom.xml
Labels: component/build

#3568 Refresh Certs every X minutes
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationDataTls.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationTls.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/ClientSslContextRefresher.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FileModifiedTimeUpdater.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/ServerSslContextRefresher.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/FileModifiedTimeUpdaterTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/ServiceChannelInitializer.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServiceConfig.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ServiceChannelInitializer.java
Labels: component/broker

#3618 Fixed C++ batch acks tracker to evict message from sendList array
  pulsar-client-cpp/lib/BatchAcknowledgementTracker.cc
Labels: component/c++, type/bug

#3606 [Issue 3590] [broker] Support to get broker server runtime configuration
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBrokers.java
  site2/docs/reference-pulsar-admin.md
Labels: type/feature

#3619 Use default queue size in function producer
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/python_instance.py
Labels: type/enhancement

#3620 Minor improvement of CmdNamespaces and add the missing subcommands in Pulsar Admin CLI md
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation, type/enhancement

#3615 Refactored handling of zero-queue consumer into separate subclass
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
Labels: type/task

#3626 Link wrapper with python libs on MacOS
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/python

#3607 Remove duplicated `pushd` in stage-release.sh
  src/stage-release.sh
Labels: type/task

#3629 set functions config to me uniform
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
Labels: component/functions

#3628 Support graceful shutdown Kubernetes
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeTest.java
Labels: component/functions

#3627 Pulsar Startup Script fixes to provide custom conf files for bookie s…
  bin/pulsar
  conf/bkenv.sh
Labels: component/config, type/bug

#3632 [docs] Clarify apt install instructions
  site2/docs/client-libraries-cpp.md
Labels: component/documentation

#3634 Website for 2.3.0
  site2/website/releases.json
  site2/website/versioned_docs/version-2.3.0/adaptors-kafka.md
  site2/website/versioned_docs/version-2.3.0/adaptors-storm.md
  site2/website/versioned_docs/version-2.3.0/admin-api-namespaces.md
  site2/website/versioned_docs/version-2.3.0/administration-proxy.md
  site2/website/versioned_docs/version-2.3.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.3.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.3.0/concepts-overview.md
  site2/website/versioned_docs/version-2.3.0/cookbooks-bookkeepermetadata.md
  site2/website/versioned_docs/version-2.3.0/cookbooks-retention-expiry.md
  site2/website/versioned_docs/version-2.3.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.0/deploy-monitoring.md
  site2/website/versioned_docs/version-2.3.0/functions-deploying.md
  site2/website/versioned_docs/version-2.3.0/functions-quickstart.md
  site2/website/versioned_docs/version-2.3.0/getting-started-standalone.md
  site2/website/versioned_docs/version-2.3.0/io-connectors.md
  site2/website/versioned_docs/version-2.3.0/io-hbase.md
  site2/website/versioned_docs/version-2.3.0/io-kafka.md
  site2/website/versioned_docs/version-2.3.0/io-netty.md
  site2/website/versioned_docs/version-2.3.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.3.0/reference-configuration.md
  site2/website/versioned_docs/version-2.3.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.0/reference-terminology.md
  site2/website/versioned_docs/version-2.3.0/security-authorization.md
  site2/website/versioned_docs/version-2.3.0/sql-overview.md
  site2/website/versioned_sidebars/version-2.3.0-sidebars.json
  site2/website/versions.json
Labels: component/website

#3639 Fixed the building of javadoc/doxygen/pydoc on site2 build
  pulsar-client-cpp/Doxyfile
  site2/tools/docker-build-site.sh
  site2/tools/doxygen-doc-gen.sh
  site2/tools/generate-api-docs.sh
  site2/tools/javadoc-gen.sh
  site2/tools/publish-website.sh
  site2/tools/python-doc-gen.sh
Labels: component/documentation

#3635 Added link to get individual connectors on download page
  site2/docs/io-quickstart.md
  site2/website/data/connectors.js
  site2/website/pages/en/download.js
Labels: component/documentation, component/website

#3641 Added note on how to install `libpulsar` with brew on MacOS
  site2/docs/client-libraries-cpp.md
Labels: component/documentation

#3642 Fixed typo on the site build command line args
  site2/tools/docker-build-site.sh
Labels: component/build

#3637 2.3.0 release notes
  site2/website/release-notes.md
Labels: component/website

#3644 Added short blog post for 2.3.0 release
  site2/website/blog/2019-02-20-Apache-Pulsar-2-3-0.md
Labels: component/website

#3646 Expose Get/SetSubscriptionDispatchRate subcommands in CmdNamespaces
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  site2/docs/reference-pulsar-admin.md
Labels: component/cli

#3648 Moved release notes link at top of download page
  site2/website/pages/en/download.js
Labels: component/website

#3636 propagate default resource values in Pulsar Functions
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/Resources.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
Labels: component/functions

#3649 Apply docs fix in #3641 also to 2.3 site
  site2/website/versioned_docs/version-2.3.0/client-libraries-cpp.md
Labels: component/documentation

#3659 [go] Fixed conversion of unix timestamp to golang time
  pulsar-client-go/pulsar/c_message.go
  pulsar-client-go/pulsar/consumer_test.go
Labels: component/go, type/bug

#3656 [distribution] remove pulsar-io-debezium nar package
  distribution/io/src/assemble/io.xml
  pulsar-io/debezium/pom.xml
  site2/website/data/connectors.js
Labels: component/build, component/documentation, component/io, type/bug

#3666 [schema] use UTF_8 for storing schema information
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/JSONSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ProtobufSchema.java
Labels: component/schemaregistry, type/enhancement

#3657 Update collector.py
  docker/pulsar-standalone/django/collector.py
Labels: component/dashboard

#3605 improvement doc of `--auth-params` in `pulsar-client` cli
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  site2/docs/reference-cli-tools.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-cli-tools.md
Labels: component/documentation

#3662 PIP-29: One package for both pulsar client and pulsar admin
  pom.xml
  pulsar-client-all/pom.xml
Labels: component/client, type/feature

#3410 [Issue 3409] Support '--help' option of Pulsar command-line tools
  bin/bookkeeper
  bin/pulsar
  bin/pulsar-daemon
  bin/pulsar-perf
Labels: component/cli, type/bug

#3669 fix context publish signature
  pulsar-client-cpp/python/pulsar/functions/context.py
Labels: component/functions

#3645 [pulsar-broker] auto refresh new tls certs for jetty webserver
  conf/broker.conf
  conf/discovery.conf
  conf/functions_worker.yml
  conf/proxy.conf
  conf/websocket.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/DefaultSslContextBuilder.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/NettySslContextBuilder.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/ServerSslContextRefresher.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SslContextAutoRefreshBuilder.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/ServiceChannelInitializer.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServerManager.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServiceConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ServiceChannelInitializer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/ProxyServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: component/broker

#3647 When linking statically a the Python wrapper on Macos, also include libicu
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/build, component/python

#3585 [pulsar-broker] redelivery tracker use open hashmap
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/InMemoryRedeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/RedeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/RedeliveryTrackerDisabled.java
Labels: component/broker, type/enhancement

#3676 Increase receive timeout to 2000 in BasicEndToEndTest.testSyncFlushBatchMessages
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/test

#3673 In C++ allow messages that compress to <5mb to be sent with batching enabled
  pulsar-client-cpp/lib/BatchMessageContainer.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: type/enhancement

#3668 report sys errors when failed to produce successfully
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/ComponentStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/FunctionStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SinkStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SourceStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  pulsar-functions/instance/src/test/python/test_python_instance.py
Labels: component/functions

#3674 Fix license exclude for local license check
  pom.xml
Labels: component/build

#3675 Replace Junit with testng
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/InterceptorsTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarAvroOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarCsvOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarJsonOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/serialization/AvroSerializationSchemaTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/serialization/CsvSerializationSchemaTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/serialization/JsonSerializationSchemaTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarAvroTableSinkTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSourceTests.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarJsonTableSinkTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilderTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/state/StateContextImplTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/RuntimeUtilsTest.java
  pulsar-io/debezium/src/test/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistoryTest.java
  pulsar-io/netty/pom.xml
  pulsar-io/netty/src/test/java/org/apache/pulsar/io/netty/NettySourceConfigTest.java
  pulsar-io/netty/src/test/java/org/apache/pulsar/io/netty/http/NettyHttpChannelInitializerTest.java
  pulsar-io/netty/src/test/java/org/apache/pulsar/io/netty/server/NettyChannelInitializerTest.java
  pulsar-io/netty/src/test/java/org/apache/pulsar/io/netty/server/NettyServerTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/CassandraSinkTester.java
Labels: component/test, type/cleanup, type/enhancement

#3638 Fix: package windowing code with function instance
  pulsar-functions/instance/pom.xml
Labels: type/bug

#3684 fix: non-batched messages cause sql query to fail
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/MessageParser.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
Labels: component/sql, type/bug

#3685 Added a flush method for python producer
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/src/producer.cc
  pulsar-client-cpp/python/test_producer.py
Labels: component/python

#3682 [schema] Introduce schema builder to build schema.
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/FieldSchemaBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/RecordSchemaBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/SchemaBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/FieldSchemaBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/RecordSchemaBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaUtils.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaBuilderTest.java
Labels: component/schemaregistry

#3687 [pulsar-broker] fix: npe while acking message
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
Labels: component/broker, type/bug

#3348 Remove broker mode to handle persistent/non-persistent topics separately
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LoadManagerReport.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LoadReport.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
  site/_data/config/broker.yaml
  site/_includes/explanations/ja/non-persistent-topics.md
  site/docs/latest/cookbooks/non-persistent-messaging.md
  site/docs/latest/getting-started/ConceptsAndArchitecture.md
  site2/docs/concepts-messaging.md
  site2/docs/cookbooks-non-persistent.md
  site2/docs/reference-configuration.md
Labels: component/broker

#3665 [schema] clean up the implementations of schema bc check
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaBasedCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/JsonSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/ProtobufSchemaCompatibilityCheck.java
Labels: component/schemaregistry

#3709 [pulsar-admin-cli] add tls-trust-cert-path option to cli input
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
Labels: component/cli

#3683 [schema] Introduce `GenericSchema` interface
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/GenericSchema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/PrimitiveSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImplTest.java
  pulsar-io/hbase/src/test/java/org/apache/pulsar/io/hbase/sink/HbaseGenericRecordSinkTest.java
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/JdbcSinkTest.java
Labels: component/schemaregistry
