Repository apache/pulsar, pull requests merged in 2019-05, with the labels that each got.

#4186 fix function authorization bug involving a tenant with no admin
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
Labels: component/functions

#4148 Update and cleanup test dependencies
  dev/README.md
  pom.xml
Labels: component/test

#4190 Avoid potentially blocking method during topic ownership check
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
Labels: type/bug

#4189 function worker should inherit super users from brokers
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/functions

#4066 Allow to configure the managed ledger cache eviction frequency
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactoryConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCache.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheManager.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheManagerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/util/RangeCacheTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerRedeliveryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#4187 Set supportSchemaVersioning to true by default in GenericAvroSchema
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SupportVersioningAvroSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroSchemaTest.java
Labels: component/schemaregistry, type/feature

#4181 AlwaysCompatible doesn't use AlwaysSchemaValidator in 2.3.1
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaCompatibilityCheck.java
Labels: component/schemaregistry, type/bug

#4197 Avoid payload copy when inserting into managed ledger cache
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactoryConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheManager.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#4093 [issue#4042] improve java functions API
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-functions/api-java/pom.xml
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/PublishFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/TypedMessageBuilderPublish.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/UserPublishFunction.java
  pulsar-functions/python-examples/typed_message_builder_publish.py
  pulsar-functions/windowing/src/main/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutor.java
  pulsar-functions/windowing/src/test/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutorTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
Labels: component/functions, type/feature

#4203 Check for existance of schemaInfo before accessing it
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
Labels: component/schemaregistry

#4208 [issue 4206] fix doc client-libraries-cp download url error
  site2/docs/client-libraries-cpp.md
  site2/website/scripts/replace.js
  site2/website/versioned_docs/version-2.3.1/client-libraries-cpp.md
Labels: component/website

#4174 [go function] support localrun and cluster mode for go function
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-function-go/conf/conf.go
  pulsar-function-go/examples/test/consumer.go
  pulsar-function-go/examples/test/producer.go
  pulsar-function-go/pf/instance.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/go/GoInstanceConfig.java
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/secrets/src/main/java/org/apache/pulsar/functions/secretsproviderconfigurator/DefaultSecretsProviderConfigurator.java
  pulsar-functions/secrets/src/main/java/org/apache/pulsar/functions/secretsproviderconfigurator/KubernetesSecretsProviderConfigurator.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
Labels: component/functions, component/go, type/feature

#4219 Fix segfault in c++ producer
  pulsar-client-cpp/lib/ProducerImpl.cc
Labels: component/c++, type/bug

#4218 C++ connection should fail fast if the TLS handshake fails
  pulsar-client-cpp/lib/ClientConnection.cc
Labels: component/c++, type/bug

#4216 Use certifi cert collection for TLS in python client
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/setup.py
Labels: component/python, component/security, type/enhancement

#4204 Update ingress port from server to 80
  deployment/kubernetes/helm/pulsar/values.yaml
Labels: component/deploy

#4212 fix cannot use size (type _Ctype_int) as type _Ctype_ulong
  pulsar-client-go/pulsar/c_message.go
  pulsar-client-go/pulsar/client_test.go
  pulsar-client-go/pulsar/consumer_test.go
  pulsar-client-go/pulsar/producer_test.go
  pulsar-client-go/pulsar/reader_test.go
Labels: type/bug

#4205 [Doc] Update site2/docs/getting-started-clients.md file
  site2/docs/getting-started-clients.md
Labels: component/documentation

#4161 [transaction][coordinator] add the interfaces for transaction metadata store and an in-memory implementation
  pom.xml
  pulsar-transaction/common/pom.xml
  pulsar-transaction/common/src/main/java/org/apache/pulsar/transaction/impl/common/TxnID.java
  pulsar-transaction/common/src/main/java/org/apache/pulsar/transaction/impl/common/TxnStatus.java
  pulsar-transaction/common/src/main/java/org/apache/pulsar/transaction/impl/common/package-info.java
  pulsar-transaction/common/src/test/java/org/apache/pulsar/transaction/impl/common/TxnStatusTest.java
  pulsar-transaction/coordinator/pom.xml
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionCoordinatorID.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TxnMeta.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/exceptions/CoordinatorException.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/exceptions/InvalidTxnStatusException.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/exceptions/TransactionNotFoundException.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/exceptions/package-info.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/TxnMetaImpl.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/package-info.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/package-info.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProviderTest.java
  pulsar-transaction/pom.xml
Labels: component/txn/coordinator, type/feature

#4220 Edit *Run Pulsar Locally* for clarity
  site2/docs/getting-started-standalone.md
Labels: component/documentation

#4226 Update command-line tools doc for v2.3.1
  site2/website/versioned_docs/version-2.3.1/reference-cli-tools.md
Labels: type/enhancement

#4224 [pulsar-function] fix broken backward compatibility with v1-namespace while registering function
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: component/functions

#3915 [PIP28][PROXY] Pulsar Proxy Gateway Improvement
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ParserProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyParserTest.java
Labels: component/proxy, type/enhancement, type/feature

#4238 [pulsar-storm] provide auto-unsubscribe option in pulsar-spout
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpout.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpoutConfiguration.java
Labels: component/io

#4235 Allow configurble Request timeout for pulsar cli
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdminBuilder.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnectorProvider.java
Labels: component/cli

#4232 [issue 3954] [flink] Use (client/consumer/producer) pojo to pass config to pulsar client
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/BasePulsarOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarAvroOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarCsvOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarJsonOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarOutputFormat.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarAvroTableSink.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarJsonTableSink.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilder.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarTableSink.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarAvroOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarCsvOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarJsonOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarOutputFormatTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarAvroTableSinkTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarJsonTableSinkTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilderTest.java
Labels: type/enhancement

#4242 [Doc] Fix top page title
  site2/website/siteConfig.js
Labels: component/documentation

#4018 Support multi-host for pulsar-admin
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarServiceNameResolver.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/AdminMultiHostTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/BrokerContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/resources/pulsar-cli.xml
Labels: component/cli, type/enhancement

#4217 Add flag to allow TLS hostname validation to be disabled in python
  pulsar-client-cpp/lib/HTTPLookupService.cc
  pulsar-client-cpp/lib/HTTPLookupService.h
  pulsar-client-cpp/python/pulsar/__init__.py
Labels: component/python, type/enhancement

#4227 [Doc] Add site2/website/versioned_docs/version-2.3.1/getting-started-docker.md
  site2/website/versioned_docs/version-2.3.1/getting-started-docker.md
Labels: component/documentation

#4245 [pulsar-testclient] Support performance tool to print aggregated throughput
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: component/cli

#4124 [pulsar-admin-tool] support json auth-param for tls-authentication
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationTls.java
Labels: component/cli

#4272 With multi-host HTTP client, stop after trying all the addresses
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarServiceNameResolver.java
Labels: type/bug

#4250 Added an explicit field in the function details for componenttype
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/ComponentStatsManager.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/InstanceUtilsTest.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/KubernetesRuntime.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ComponentTypeUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinkImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourceImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions

#4268 Specify the path of the *website* folder for clarity
  site2/README.md
Labels: component/website, type/enhancement

#4239 [pulsar-storm] allow option to configure queue size of pulsar-spout-consumer
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpout.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpoutConfiguration.java
Labels: component/io

#4257 Added pulsar-client-api to shaded jar
  pulsar-client-all/pom.xml
Labels: component/build

#4255 [deploy] Provide a flag to choose the container factory to use to run functions
  docker/pulsar/scripts/gen-yml-from-env.py
Labels: component/deploy

#4222 Add helper method to for IO connectors to use function secrets
  pulsar-io/common/pom.xml
  pulsar-io/common/src/main/java/org/apache/pulsar/io/common/IOConfigUtils.java
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
  pulsar-io/pom.xml
  pulsar-io/twitter/pom.xml
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHose.java
Labels: component/io

#4246 Edit *Getting started* for clarity
  site2/docs/getting-started-clients.md
  site2/docs/getting-started-docker.md
  site2/docs/getting-started-standalone.md
Labels: component/documentation

#4280 [pulsar-storm] add more metrics to troubleshoot spout throughput
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpout.java
Labels: component/io

#4278 fix bug with source local run
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/LocalRunner.java
Labels: component/io, type/bug

#4270 Validate admin operation on topic with authoritative parameter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: type/bug

#4247 [WIP] PIP-36: Support set message size in broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MaxMessageSizeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageParserTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/PulsarDecoder.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/MessageParser.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/ServerConnection.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/ServiceChannelInitializer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ParserProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ServiceChannelInitializer.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorConfig.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
Labels: type/enhancement

#4254 add anonymousUserRole to proxy config
  conf/proxy.conf
Labels: component/deploy

#4252 [Issue 4251][Schemas] add schema parsing verification before update
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaBasedCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
Labels: type/enhancement

#4282 Fixed flaky test testActiveSubscriptionWithCache
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
Labels: component/test

#4289 Fix the current broken publish method
  pulsar-client-cpp/python/pulsar/functions/context.py
  pulsar-functions/instance/src/main/python/contextimpl.py
Labels: component/functions

#4288 Upgrade to BookKeeper 4.9.2
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-client-cpp/python/setup.py
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build

#4287 Fix website build with required Python dependency
  site2/tools/python-doc-gen.sh
Labels: component/website

#4291 add getting secrets utils method for sinks
  pulsar-io/common/src/main/java/org/apache/pulsar/io/common/IOConfigUtils.java
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
Labels: component/io

#4281 Don't create new instances of user classes during validation
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ValidatorUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions, component/io

#3476 [Issue 3475][pulsar-client] Add cluster checking before operating tenants with it
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationNegTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithoutServiceDiscoveryTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/SuperUserAuthedAdminProxyHandlerTest.java
Labels: component/cli, type/enhancement

#4292 typo in word validation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
Labels: component/broker, type/enhancement

#4295 [issue 4274][pulsar-io]Add double quotation marks for metrics with remote_cluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
Labels: type/bug

#4293 Misc fixes for state querying via pulsar admin
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionState.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: component/functions

#4297 By default, auto configure the size of Bookie read/write cache
  conf/bookkeeper.conf
  conf/standalone.conf
  site2/docs/reference-configuration.md
Labels: type/enhancement

#4301 State Conformity between Java and Python
  pulsar-functions/instance/src/main/python/python_instance.py
Labels: component/functions

#3881 [pulsar-broker] add valid-readPosition check before setting readPosition at cursor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: component/broker

#3818 [pulsar-common] add open Concurrent LongPair RangeSet
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentBitSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenLongPairRangeSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/LongPairRangeSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentOpenLongPairRangeSetTest.java
Labels: component/broker

#4284 [Issue 4283][flink] construct auth when building pulsar source
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilder.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilderTest.java
Labels: component/flink, type/enhancement

#4229 [Doc] Documentation about deploying and configuring pulsar functions-worker
  site2/docs/assets/functions-worker-corun-proxy.png
  site2/docs/assets/functions-worker-corun.png
  site2/docs/assets/functions-worker-separated-proxy.png
  site2/docs/assets/functions-worker-separated.png
  site2/docs/deploy-bare-metal.md
  site2/docs/functions-worker.md
  site2/website/sidebars.json
Labels: component/documentation, component/functions

#4207 [schema] Fix joda dependency issue.
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-sql/presto-distribution/LICENSE
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/SchemaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/Schemas.java
Labels: component/build

#4173 [pulsar-broker]Fix: race condition while deleting global topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker

#4261 [pulsar-broker] add support of secondary bookie-isolation-group
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#4305 Add operation to message of BkException
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageTest.java
Labels: type/enhancement

#4298 [pulsar-broker] fix msg-drop metrics for non-persistent topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
Labels: component/broker

#4184 Use multi-stage build for Docker images
  docker/pulsar-all/Dockerfile
  docker/pulsar-standalone/Dockerfile
  docker/pulsar/Dockerfile
  tests/docker-images/latest-version-image/Dockerfile
Labels: type/enhancement

#4241 [pulsar-function] fix backward compatibility with 2.2 auth not working
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Functions.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
Labels: component/functions

#4300 Feature / interceptor for ack timeout
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/InterceptorsTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerInterceptor.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerInterceptors.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java
Labels: type/enhancement

#4211 [issue#4155][pulsar-clients]Support key value schema versioning
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SupportVersioningKeyValueSchemaTest.java
Labels: component/schemaregistry, type/feature

#4309 Fixed record latency before recycling in broker-side producer handler
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/bug

#4273 Add rate limit support for Replicator between clusters
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Replicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/ConfigHelper.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  site2/docs/admin-api-namespaces.md
Labels: component/broker, type/feature

#4308 Print cli args error for standalone
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
Labels: type/enhancement

#4310 Fixed functions default value of processing guarantees
  site2/docs/functions-guarantees.md
Labels: component/documentation, component/functions

#4214 [schema] Support compatibility check over all existing schemas.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaBasedCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/DefaultSchemaRegistryService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaCompatibilityStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/BaseAvroSchemaCompatibilityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SchemaAutoUpdateCompatibilityStrategy.java
Labels: component/schemaregistry, type/feature

#4299 Replicated subscriptions - Configuration and client changes
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/CompactorSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionConfigTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
Labels: type/feature

#4090 [pulsar-function] Fix NPE and log error when java-instance jar path not set
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionStateTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functioncache/FunctionCacheEntry.java
Labels: component/functions

#4236 [pulsar-storm] support reader for pulsar-spout
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpout.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpoutConfiguration.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpoutConsumer.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/SharedPulsarClient.java
  pulsar-storm/src/test/java/org/apache/pulsar/storm/PulsarSpoutTest.java
Labels: component/client

#4258 [pulsar-io] hbase sink use BooleanSchema encode Boolean data
  pulsar-io/hbase/src/main/java/org/apache/pulsar/io/hbase/HbaseAbstractConfig.java
  pulsar-io/hbase/src/main/java/org/apache/pulsar/io/hbase/sink/HbaseGenericRecordSink.java
  pulsar-io/hbase/src/main/java/org/apache/pulsar/io/hbase/sink/HbaseSinkConfig.java
Labels: component/io, type/bug

#4315 [doc] Update acknowledgement and dead letter topic documentation.
  site2/docs/concepts-messaging.md
Labels: component/documentation

#4312 [ISSUE #4101] Fix Javadoc for ClientBuilder.keepAliveInterval
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
Labels: component/client, component/documentation

#4303 [pulsar-io] Remove unused annotation
  pulsar-io/file/src/main/java/org/apache/pulsar/io/file/utils/GZipFiles.java
  pulsar-io/file/src/main/java/org/apache/pulsar/io/file/utils/ZipFiles.java
Labels: type/enhancement

#4316 add kerberos into server distribution
  distribution/server/pom.xml
Labels: component/security

#3819 [pulsar-broker] Cache unack-messageId into openRangeSet
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/PositionImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/PositionImplRecyclable.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorConcurrencyTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageRedeliveryTest.java
Labels: component/broker

#4296 [issue 4074][pulsar-io]debezium document udpate
  site2/docs/io-cdc-debezium.md
Labels: component/documentation

#4192 [pulsar-broker]Support key value schema compatibility checker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/KeyValueSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/KeyValueSchemaCompatibilityCheckTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/DebeziumMySqlSourceTester.java
Labels: component/schemaregistry, type/feature

#4327 [schema] Schema version is 8 bytes long
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/LongSchemaVersion.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageTest.java
Labels: component/schemaregistry, type/bug

#4263 [docs] Documentation on configuring functions runtime
  site2/docs/functions-runtime.md
  site2/website/sidebars.json
Labels: component/documentation, component/functions

#4336 Replace CreateTypedProducer() with CreateProducerWithSchema()
  pulsar-client-go/pulsar/schema_test.go
Labels: component/client, component/go, type/feature

#4325 [schema] AutoConsume should use the schema associated with messages as both writer and reader schema
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaInfo.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/JSONSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ProtobufSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaUtils.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StructSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/SchemaUpdateStrategyTest.java
Labels: component/schemaregistry

#4329 Moved entries filtering from consumer to dispatcher
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryBatchSizes.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SendMessageInfo.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
Labels: type/enhancement

#4343 [docs] Mention GCS when going over Tiered Storage in docs
  site2/docs/concepts-tiered-storage.md
Labels: component/documentation

#4314 `rereplicationEntryBatchSize` should be smaller than `maxPendingReadR…
  conf/bookkeeper.conf
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
Labels: component/config, component/storage

#4340 Replicated subscriptions - Markers protobuf
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-common/generate_protobuf.sh
  pulsar-common/generate_protobuf_docker.sh
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Markers.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarMarkers.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/MessageParser.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-common/src/main/proto/PulsarMarkers.proto
  pulsar-common/src/test/java/org/apache/pulsar/common/api/MarkersTest.java
Labels: component/sql, type/feature

#4341 add get message method in Record interface
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Record.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
Labels: component/functions

#4332 merge windowing code back into function instance
  pulsar-functions/instance/pom.xml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/DefaultEvictionContext.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/Event.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/EventImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/EvictionContext.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/EvictionPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/TimestampExtractor.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/TriggerHandler.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/TriggerPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WaterMarkEvent.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WaterMarkEventGenerator.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/Window.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutor.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowLifecycleListener.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/evictors/CountEvictionPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/evictors/TimeEvictionPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/evictors/WatermarkCountEvictionPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/evictors/WatermarkTimeEvictionPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/triggers/CountTriggerPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/triggers/TimeTriggerPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/triggers/WatermarkCountTriggerPolicy.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/triggers/WatermarkTimeTriggerPolicy.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/windowing/WaterMarkEventGeneratorTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutorTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/windowing/WindowManagerTest.java
  pulsar-functions/pom.xml
  pulsar-functions/windowing/pom.xml
Labels: component/functions

#4342 Bugfix - release and recycle on discarded messages
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug

#4351 [pulsar-broker] When calling Logger's method, set the appropriate parameters.(#4350)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadManager.java
Labels: type/enhancement

#4318 Fixed the display of schema information
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSchemas.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/schemaregistry

#4356 shade additional dependencies in java-instance.jar
  pulsar-functions/runtime-all/pom.xml
Labels: component/functions

#4364 Expose state to sources and sinks
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SinkContext.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SourceContext.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/sink/KafkaAbstractSinkTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: component/io

#4262 Delete schema when deleting inactive topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NonPersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
Labels: component/schemaregistry

#4349 fix cluster_url which may be set as a list
  dashboard/django/collector.py
Labels: component/dashboard

#4338 [Doc] Add *Connect Pulsar to MySQL*
  site2/docs/functions-api.md
  site2/docs/functions-quickstart.md
  site2/docs/io-quickstart.md
  site2/docs/sql-getting-started.md
  site2/website/sidebars.json
Labels: component/io

#4371 [clean up] Remove redundant SuppressWarnings
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
Labels: type/cleanup

#4322 [pulsar-io-elastic-search] Change default document type
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
Labels: component/io

#4306 [pulsar-proxy] Clean up deprecated Zookeeper client
  pulsar-proxy/src/main/java/org/apache/bookkeeper/zookeeper/BkZooKeeperClient.java
  pulsar-proxy/src/main/java/org/apache/bookkeeper/zookeeper/BkZooWorker.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/util/BkReadOnlyZookeeperClientFactoryImpl.java
Labels: type/enhancement

#4387 [Integration tests]Fix integration test
  docker/pulsar/Dockerfile
Labels: component/build

#4372 Fix bug of Key_Shared Ordering
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, type/bug

#4366 [cpp client]support key shared for cpp client
  pulsar-client-cpp/include/pulsar/ConsumerType.h
  pulsar-client-cpp/include/pulsar/Message.h
  pulsar-client-cpp/include/pulsar/MessageBuilder.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/message.h
  pulsar-client-cpp/lib/BrokerConsumerStatsImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/Message.cc
  pulsar-client-cpp/lib/MessageBuilder.cc
  pulsar-client-cpp/lib/MessageImpl.cc
  pulsar-client-cpp/lib/MessageImpl.h
  pulsar-client-cpp/lib/c/c_Message.cc
  pulsar-client-cpp/tests/ConsumerConfigurationTest.cc
Labels: component/c++, component/client

#4375 Use at least 8 threads in Jetty thread pool in pulsar proxy
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
Labels: component/proxy, type/bug

#4378 resolve a null pointer ex
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
Labels: component/client

#4319 Added support for Snappy compression for Python/Go
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/src/enums.cc
  pulsar-client-go/pulsar/producer.go
  pulsar-client-go/pulsar/producer_test.go
  site2/docs/client-libraries-go.md
Labels: component/client, component/go, component/python, type/feature

#4369 Avoid to create map object for Flume source
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/sink/AbstractSink.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/sink/SourceOfFlume.java
Labels: component/io, type/enhancement

#4388 update sinks and sources documentation
  site/docs/latest/io/quickstart.md
  site2/docs/io-cdc-canal.md
  site2/docs/io-cdc-debezium.md
  site2/docs/io-managing.md
  site2/docs/io-quickstart.md
  site2/docs/reference-pulsar-admin.md
  site2/docs/sql-getting-started.md
Labels: component/documentation, component/io

#4269 Remove query parameter authoritative for partitions API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: type/enhancement

#4354 Replicated subscriptions - Create snapshots
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Replicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsController.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsSnapshotBuilder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsSnapshotBuilderTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
Labels: type/feature

#4362 Fix C++ consumer unsubscribe when regex doesn't match
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: type/bug

#4196 Configure static PulsarByteBufAllocator to handle OOM errors
  conf/pulsar_env.sh
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawMessageImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageCrypto.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/allocator/PulsarByteBufAllocator.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecLZ4.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecZLib.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecZstd.java
  pulsar-common/src/main/java/org/apache/pulsar/common/stats/JvmMetrics.java
  pulsar-common/src/test/java/org/apache/pulsar/common/api/ByteBufPairTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CommandsTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressorCodecTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/stats/JvmMetrics.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedInputStreamImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlockAwareSegmentInputStreamImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/DataBlockHeaderImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexBlockImpl.java
Labels: type/enhancement

#4402 [Hot fix][pulsar-client-admin] InterruptedException shouldn't be swallowed by Pulsar-client-admin silently
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NonPersistentTopicsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: type/enhancement

#4320 Disable backlog quota check by default.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/config, component/documentation

#4393 [issue 4389][pulsar-client-cpp]Fix rpm package failed
  pulsar-client-cpp/pkg/rpm/SPECS/pulsar-client.spec
Labels: component/build

#4256 Use same activation dependency in pulsar-client-admin and pulsar-client
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-client-admin/pom.xml
  pulsar-discovery-service/pom.xml
  pulsar-proxy/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: type/enhancement

#4062 Delayed message delivery implementation
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTrackerLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedSubscriptionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/InMemoryDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/TripleLongPriorityQueue.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/TripleLongPriorityQueueTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: type/feature

#4373 Add missed serialization schema argument for PulsarOutputFormat
  pulsar-flink/src/main/java/org/apache/flink/batch/connectors/pulsar/PulsarOutputFormat.java
  pulsar-flink/src/test/java/org/apache/flink/batch/connectors/pulsar/PulsarOutputFormatTest.java
Labels: component/flink

#4392 [Doc] Adjust the structure of *Get Started*
  site2/docs/getting-started-standalone.md
Labels: component/documentation

#4398 fix dependency issue with pulsar-io-common
  pulsar-io/common/pom.xml
  pulsar-io/common/src/main/java/org/apache/pulsar/io/common/IOConfigUtils.java
Labels: component/io, type/bug

#4399 Initialize TLS context only when attempting connection
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/ObjectCache.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientInitializationTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/util/ObjectCacheTest.java
Labels: type/bug

#4385 Update pulsar kerberos document
  site2/docs/security-kerberos.md
Labels: component/documentation, component/security

#4401 fix localrun and add tests
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ChaosContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/suites/PulsarTestSuite.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/utils/DockerUtils.java
Labels: component/functions, component/io, type/bug

#4410 [pulsar-admin] fix NPE on admin creation
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
Labels: type/bug

#4414 Cancel timeout tasks when the connection fails to get established
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: type/bug

#4404 Removed joda-time test dependency from pulsar-client
  pulsar-client/pom.xml
Labels: component/build

#4412 [pulsar-broker] add topic-name in log on topic unloading failure
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker

#4407 Fix remove pending acks in Key_Shared subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StreamingStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: type/bug

#4406 FIX Key_Shared dispatch ordering of message redelivery.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: type/bug

#4348 Support max message size for cpp and go client
  pulsar-client-cpp/lib/BatchMessageContainer.cc
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientConnection.h
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-go/go.mod
  pulsar-client-go/go.sum
Labels: type/enhancement

#4426 Don't request redelivery of dead letter messages
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug

#4415 Use a static instance of hostname verifier in ClientCnx
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: type/enhancement

#4411 [pulsar-broker] Fix deadlock on skip messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/broker

#4428 Increase timeout for replicator tests setup
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PeerReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorGlobalNSTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTlsTest.java
Labels: component/test

#4429 Upgrade version of maven-surefire-plugin
  pom.xml
Labels: component/test, type/task
