Repository apache/pulsar, pull requests merged in 2020-12, with the labels that each got.

#8735 Fix reader always has message available
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: release/2.7.1

#8592 Make broker module gradually conform the checkstyle
  buildtools/src/main/resources/pulsar/checkstyle-pulsar-broker.xml
  buildtools/src/main/resources/pulsar/suppressions.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataTeardown.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarTransactionCoordinatorMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/ZookeeperSessionExpiredHandlers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/api/RawReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleSplitAlgorithm.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundles.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/RangeEquallyDivideBundleSplitAlgorithm.java
  pulsar-broker/src/main/java/org/apache/pulsar/utils/auth/tokens/TokensCliUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: type/cleanup

#8723 [Transaction] Fix transaction log replay not handle right.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionCoordinatorClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/TransactionCoordinatorClientException.java
  pulsar-client-cpp/include/pulsar/Result.h
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/Result.cc
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionLogImpl.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProviderTest.java
Labels: component/txn, component/txn/coordinator, release/2.7.1

#8758 [docs] Fix incorrect command
  site2/docs/deploy-docker.md
Labels: component/deploy, component/documentation, type/enhancement

#8756 [docs] Update dbStorage_writeCacheMaxSizeMb configuration
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.2.0/reference-configuration.md
  site2/website/versioned_docs/version-2.2.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.0/reference-configuration.md
  site2/website/versioned_docs/version-2.3.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.2/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
  site2/website/versioned_docs/version-2.4.2/reference-configuration.md
  site2/website/versioned_docs/version-2.5.0/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
Labels: component/broker, component/documentation

#8773 [website] Fix the Pulsar website build issue
  site2/website/data/connectors.js
Labels: component/website

#8762 [docs] Update Websocket content
  site2/docs/client-libraries-websocket.md
  site2/docs/getting-started-clients.md
  site2/website/sidebars.json
Labels: component/client, component/documentation

#8745 exclude ahc.properties for license check
  pom.xml
Labels: component/build

#8791 Fix the test HealthCheckTest.testBookKeeperDown
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/HealthCheckTest.java
Labels: component/build, component/test

#8771 [C++] Fixed flaky test: AuthPluginTest.testTlsDetectHttpsWithHostNameValidation
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: component/c++, component/test, flaky-tests

#8776 Fix panic on discard message for Go Functions
  pulsar-function-go/golangci.yml
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/topicName.go
  pulsar-function-go/pf/topicName_test.go
Labels: component/functions, component/go

#8761 Support key based batch builder for Go Functions
  pulsar-function-go/examples/go.mod
  pulsar-function-go/examples/go.sum
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
  pulsar-function-go/golangci.yml
  pulsar-function-go/pb/Function.pb.go
  pulsar-function-go/pb/InstanceCommunication.pb.go
  pulsar-function-go/pb/Request.pb.go
  pulsar-function-go/pb/doc.go
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/mockMessage_test.go
Labels: component/functions, component/go

#8789 [Doc]--Update doc for multiple advertised listeners
  site2/docs/concepts-multiple-advertised-listeners.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
Labels: release/2.6.1, release/2.6.2, release/2.6.3

#8784 Enable spotbugs check in module package management service
  pom.xml
  pulsar-package-management/core/pom.xml
  pulsar-package-management/core/src/main/java/org/apache/pulsar/packages/management/core/common/PackageName.java
  pulsar-package-management/core/src/main/resources/findbugsExclude.xml
  pulsar-package-management/pom.xml
Labels: component/build

#8395 [C++] Implement batch aware producer router
  pulsar-client-cpp/lib/PartitionedProducerImpl.cc
  pulsar-client-cpp/lib/RoundRobinMessageRouter.cc
  pulsar-client-cpp/lib/RoundRobinMessageRouter.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/CustomRoutingPolicy.h
  pulsar-client-cpp/tests/PartitionsUpdateTest.cc
  pulsar-client-cpp/tests/RoundRobinMessageRouterTest.cc
Labels: component/c++, release/2.7.1, type/enhancement

#8792 Fix OverloadShedderTest fails on machines with non English locale
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
Labels: component/test, flaky-tests

#8779 Fix the problem that batchMessageId is converted to messageIdImpl
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
Labels: release/2.7.1

#8709 8704-improve env config handling
  docker/pulsar/scripts/apply-config-from-env.py
Labels: release/2.6.3, release/2.7.1

#8819 [CI] Fix maven install failure caused by spotbugs check
  pulsar-package-management/bookkeeper-storage/src/main/java/org/apache/pulsar/packages/management/storage/bookkeeper/DLOutputStream.java
Labels: component/build

#8747 [Doc]--update message TTL for namespace contents
  site2/docs/admin-api-namespaces.md
  site2/docs/cookbooks-retention-expiry.md
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.2/admin-api-namespaces.md
  site2/website/versioned_docs/version-2.6.2/cookbooks-retention-expiry.md
  site2/website/versioned_docs/version-2.6.2/reference-pulsar-admin.md
Labels: component/documentation

#8788 [WebSocket] Add spotbugs plugin for websocket module
  pulsar-websocket/pom.xml
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketConsumerServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketProducerServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketReaderServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/stats/ProxyStats.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/stats/StatsBuckets.java
  pulsar-websocket/src/main/resources/findbugsExclude.xml
Labels: component/build, type/cleanup

#8780 Fix single-quotes added to user-conf
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/RuntimeUtilsTest.java
Labels: component/functions, component/go, release/2.6.3, release/2.7.1

#8806 fix force delete namespace did not delete all topics of the namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: component/admin, release/2.7.1, type/bug

#8766 Clean up: Remove all unused imports
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerOfflineBacklog.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/SaslAuthenticationDataProvider.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/Backoff.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ProtobufNativeSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSourceConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/PublishFunction.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionsApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionsApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SinksApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SourcesApiV3Resource.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/ProxyAdditionalServletWithClassLoader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/admin/WebSocketWebResource.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/ProxyServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/stats/JvmMetrics.java
Labels: type/enhancement

#8828 fix exception cast error
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
Labels: release/2.6.3, release/2.7.1, type/bug

#8829 Fix bit set recycle repeat in client ack message
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: release/2.7.1, type/bug

#8822 Update version for cron-utils and spring-context
  pom.xml
  pulsar-io/batch-discovery-triggerers/pom.xml
Labels: component/security

#8808 [Pulsar Functions] Support URL fetching for Go && Python functions
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/functions, component/go, component/python

#8820 [Issue 8783][pulsar-broker] Execute removing non-persistent subscription of topic from different thread to avoid deadlock when removing inactive subscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
Labels: component/broker, release/2.6.3, release/2.7.1

#8801 Add setter for the reader subscription name
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ReaderConfigurationData.java
Labels: component/client, doc-required

#8800 [SpotBugs]Enable spotbugs for pulsar-zookeeper
  pulsar-zookeeper/pom.xml
  pulsar-zookeeper/src/main/resources/findbugsExclude.xml
Labels: component/build, type/cleanup

#8821 make module `pulsar-broker` gradually conform checkstyle
  buildtools/src/main/resources/pulsar/suppressions.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Bookies.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Functions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java
Labels: component/build, type/cleanup

#8837 add pulsar-perf new feature: one subscription has more than one consu…
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
Labels: release/2.7.1, type/enhancement

#8842 [SpotBugs][pulsar-io]Enable spotbugs for pulsar-io-aws and pulsar-io-aerospike
  pulsar-io/aerospike/pom.xml
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeAbstractSink.java
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeStringSink.java
  pulsar-io/aerospike/src/main/resources/findbugsExclude.xml
  pulsar-io/aws/pom.xml
  pulsar-io/aws/src/main/resources/findbugsExclude.xml
Labels: component/build, component/io, type/enhancement

#8824 [Issue 8338][Function Worker] Splitting the authentication logic of function worker and client
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
Labels: component/functions, doc-required, type/enhancement

#8816 Implement the packages management administration opeartions.
  pulsar-client-admin/pom.xml
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Packages.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PackagesImpl.java
  src/check-binary-license
Labels: doc-required

#8725 Issue 8677: Cannot get lastMessageId for an empty topic due to message retention
  .gitignore
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumedLedgersTrimTest.java
Labels: component/admin, release/2.6.3, release/2.7.1

#8848 [CheckStyle]Make codestyle of module `pulsar-broker` gradually conform CheckStyle
  buildtools/src/main/resources/pulsar/suppressions.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokerStatsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourcesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
Labels: component/build

#8841 add provided jclouds dependency
  tiered-storage/jcloud/pom.xml
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
Labels: component/build, type/enhancement

#8852 [docs] Apply changes to 270 release
  site2/website/versioned_docs/version-2.7.0/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.7.0/getting-started-clients.md
  site2/website/versioned_sidebars/version-2.7.0-sidebars.json
Labels: component/documentation, component/website

#8823 [Issue 8787][C++] Add reader internal subscription name setter.
  pulsar-client-cpp/include/pulsar/ReaderConfiguration.h
  pulsar-client-cpp/lib/ReaderConfiguration.cc
  pulsar-client-cpp/lib/ReaderConfigurationImpl.h
  pulsar-client-cpp/lib/ReaderImpl.cc
  pulsar-client-cpp/tests/ReaderTest.cc
Labels: component/c++, component/client, type/feature

#8863 [SpotBugs][pulsar-io]Enable spotbugs for pulsar-io-netty
  pulsar-io/netty/pom.xml
  pulsar-io/netty/src/main/java/org/apache/pulsar/io/netty/http/NettyHttpServerHandler.java
  pulsar-io/netty/src/main/resources/findbugsExclude.xml
Labels: component/build, component/io, type/enhancement

#8862 [CheckStyle] make module `pulsar-broker` gradually conform CheckStyle
  buildtools/src/main/resources/pulsar/suppressions.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/cache/LocalZooKeeperCacheService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorMetadata.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptors.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LeaderElectionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadCalculator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadReportUpdaterTask.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadResourceQuotaUpdaterTask.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadSheddingTask.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/ModularLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/NoopLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/BrokerVersionFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/GenericBrokerHostUsageImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LeastLongTermMessageRate.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/OverloadShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/PulsarLoadReportImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/PulsarResourceDescription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleResourceAllocationPolicies.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleResourceUnit.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/WRRPlacementStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/v1/TopicLookup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/v2/TopicLookup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/LookupOptions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceBundleOwnershipListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnedBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/ServiceUnitZkUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlerMetadata.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlerUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlers.java
Labels: type/cleanup

#8860 [website] Resolve a blank page of schema
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.1.0-incubating/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.3.0/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.3.1/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.3.2/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.0/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.1/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.2/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.5.0/concepts-schema-registry.md
  site2/website/versioned_sidebars/version-2.5.0-sidebars.json
  site2/website/versioned_sidebars/version-2.5.1-sidebars.json
  site2/website/versioned_sidebars/version-2.5.2-sidebars.json
  site2/website/versioned_sidebars/version-2.6.0-sidebars.json
  site2/website/versioned_sidebars/version-2.6.1-sidebars.json
  site2/website/versioned_sidebars/version-2.6.2-sidebars.json
  site2/website/versioned_sidebars/version-2.7.0-sidebars.json
Labels: component/documentation, component/schemaregistry, component/website

#8856 Unify CI script for unit test grouping
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
  build/retry.sh
  build/run_unit_group.sh
Labels: component/build

#8861 Add package management bookkeeper storage jar into the distribution package
  distribution/server/pom.xml
  pulsar-package-management/bookkeeper-storage/pom.xml
Labels: component/package

#8845 Update Swagger to 1.6.2 and Maven Swagger Plugin to 3.1.7
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build

#8760 [Doc]--Update docs for how to delete data from namespace + reorg the admin API namespace doc
  site2/docs/admin-api-namespaces.md
  site2/docs/cookbooks-retention-expiry.md
Labels: component/documentation

#8883 Issue 8882: GenericJsonReader converts the null value to string "null"
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecordTest.java
Labels: release/2.6.3, release/2.7.1, type/bug

#8885 [CI] Always build latest images for integration tests
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-standalone.yaml
Labels: component/build

#8889 [SpotBugs][pulsar-io]Enable spotbugs for batch-discovery-triggerers and batch-data-generator
  pulsar-io/batch-data-generator/pom.xml
  pulsar-io/batch-data-generator/src/main/java/org/apache/pulsar/io/batchdatagenerator/BatchDataGeneratorPushSource.java
  pulsar-io/batch-data-generator/src/main/java/org/apache/pulsar/io/batchdatagenerator/BatchDataGeneratorSource.java
  pulsar-io/batch-data-generator/src/main/resources/findbugsExclude.xml
  pulsar-io/batch-discovery-triggerers/pom.xml
  pulsar-io/batch-discovery-triggerers/src/main/resources/findbugsExclude.xml
Labels: component/build, component/io, type/enhancement

#8898 [Website]Update route jump for restapi endpoint
  site2/website/siteConfig.js
Labels: component/build, component/website, type/enhancement

#8854 Pulsar IO: Make Source topic Schema information available to downstream Sinks
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
Labels: component/io, release/2.6.3, release/2.7.1, type/enhancement

#8903 [SpotBugs][pulsar-io]Enable spotbugs for pulsar-io `core, common, docs`
  pulsar-io/common/pom.xml
  pulsar-io/common/src/main/resources/findbugsExclude.xml
  pulsar-io/core/pom.xml
  pulsar-io/core/src/main/resources/findbugsExclude.xml
  pulsar-io/docs/pom.xml
  pulsar-io/docs/src/main/java/org/apache/pulsar/io/docs/ConnectorDocGenerator.java
  pulsar-io/docs/src/main/resources/findbugsExclude.xml
Labels: type/cleanup

#8892 [developer docs] Improve instructions to setup Pulsar development in IntelliJ
  README.md
Labels: component/documentation

#8886 Add cmd flag of retain key ordering
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  site2/docs/reference-pulsar-admin.md
Labels: component/functions, doc-required, type/feature

#8877 [broker] Copy list of subscriptions when checking for message expiration to avoid deadlocks
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker

#8896 Add package management REST API show in doc
  pulsar-broker/pom.xml
  site2/website/pages/en/packages-rest-api.js
  site2/website/siteConfig.js
  site2/website/static/js/custom.js
  site2/website/static/js/getSwaggerByVersion.js
Labels: component/build, component/documentation, component/package

#8746 Issue #8533: Change method `getWebServiceUrl` into async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: component/admin, component/broker, release/2.7.1

#8908 Fix performance issue caused by invalid logging configuration
  bin/pulsar
Labels: release/2.7.1, type/bug

#8871 Export Prometheus metric for messageTTL
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedSubscriptionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
Labels: component/stats

#8870 [docs] Configure authParams as JSON
  site2/docs/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.0/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.1/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.2/security-tls-keystore.md
Labels: component/documentation

#8910 fix authParams showing in log with secret string(*****)
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/Secret.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/SecretsSerializer.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ConfigurationDataUtilsTest.java
Labels: component/security, type/enhancement

#8934 [Doc]--Update docs for how to delete data from namespace for releases 2.7.0--2.6.0
  site2/website/versioned_docs/version-2.6.0/cookbooks-retention-expiry.md
  site2/website/versioned_docs/version-2.6.1/cookbooks-retention-expiry.md
  site2/website/versioned_docs/version-2.6.2/cookbooks-retention-expiry.md
  site2/website/versioned_docs/version-2.7.0/cookbooks-retention-expiry.md
Labels: component/documentation

#8924 Support configure max subscriptions per topic on the namespace level policy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PolicyName.java
Labels: doc-required, release/2.7.1

#8618 [PIP 70][Issue 8617] Introduce lightweight broker entry metadata
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSenderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageFinder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/intercept/AppendBrokerTimestampMetadataInterceptor.java
  pulsar-common/src/main/java/org/apache/pulsar/common/intercept/BrokerEntryMetadataInterceptor.java
  pulsar-common/src/main/java/org/apache/pulsar/common/intercept/BrokerEntryMetadataUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-common/src/test/java/org/apache/pulsar/common/protocol/CommandUtilsTests.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
  tests/bc_2_6_0/pom.xml
  tests/bc_2_6_0/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
  tests/bc_2_6_0/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/bc_2_6_0/src/test/resources/backwards-client.xml
  tests/pom.xml
Labels: PIP

#8921 Disable maven's http connection pooling to mitigate "connection reset…
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-pulsar-website-build.yaml
  .github/workflows/ci-pulsarbot.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/build

#8918 [build] Use absolute path to locate license and checkstyle plugin config
  .github/workflows/ci-license.yaml
  pom.xml
  pulsar-client-api/pom.xml
  pulsar-common/pom.xml
  pulsar-package-management/pom.xml
  pulsar-sql/pom.xml
  pulsar-transaction/coordinator/pom.xml
  pulsar-transaction/pom.xml
Labels: component/build

#8937 [ISSUE 8909]Fix Giggso logo link error
  site2/docs/tiered-storage-gcs.md
  site2/website/data/users.js
Labels: component/documentation, component/website, type/bug

#8939 [ISSUE 8832] Avro custom schema not working in consumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
Labels: release/2.6.3, release/2.7.1

#8936 Expose non-contiguous deleted messages ranges stats.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicStats.java
Labels: release/2.6.3, release/2.7.1

#8941 Fix NSQ source META-INF file name and sourceConfigClass
  pulsar-io/nsq/src/main/resources/META-INF/services/pulsar-io.yaml
Labels: component/io, release/2.7.1

#8907 [Issue #8874]Fix the package upload failed issue
  conf/broker.conf
  conf/standalone.conf
  pulsar-package-management/core/src/main/java/org/apache/pulsar/packages/management/core/impl/PackagesManagementImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/PackagesCliTest.java
Labels: component/package

#8944 [logging] Enable Log4j2 Garbage Free Logging to reduce GC pressure
  bin/pulsar
Labels: type/enhancement

#8947 Fix subscription dispatch rate does not work after the topic unload without dispatch rate limit.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: component/topic-policy, release/2.7.1, type/bug

#8945 Support deliverAt and deliverAfter attribute for Websocket producer.
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/ProducerHandlerTest.java
Labels: component/websocket, type/feature

#8850 [Java shade client] Add encryption integration test
  pulsar-client-all/pom.xml
  tests/pulsar-client-all-shade-test/pom.xml
  tests/pulsar-client-all-shade-test/src/test/java/org/apache/pulsar/tests/integration/SimpleProducerConsumerTest.java
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/client.crt
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/client.csr
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/client.key
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/private-key.client-ecdsa.pem
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/private-key.client-mismatch-rsa.pem
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/private-key.client-rsa.pem
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/public-key.client-ecdsa.pem
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/public-key.client-mismatch-rsa.pem
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/public-key.client-rsa.pem
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/server.crt
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/server.csr
  tests/pulsar-client-all-shade-test/src/test/resources/certificate/server.key
  tests/pulsar-client-all-shade-test/src/test/resources/pulsar.xml
Labels: component/test

#8912 [docs] Fix typo in broker.conf and standalone.conf
  conf/broker.conf
  conf/standalone.conf
Labels: component/config, type/enhancement

#8928 [pulsar-broker] capture stats with precise backlog
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker, release/2.6.3, release/2.7.1

#8932 Intercept beforeSendMessage calls
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptors.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
Labels: component/broker, release/2.6.3, release/2.7.1

#8905 [C++] Add consumer's configs for reader
  pulsar-client-cpp/include/pulsar/ReaderConfiguration.h
  pulsar-client-cpp/lib/ReaderConfiguration.cc
  pulsar-client-cpp/lib/ReaderConfigurationImpl.h
  pulsar-client-cpp/lib/ReaderImpl.cc
  pulsar-client-cpp/lib/ReaderImpl.h
  pulsar-client-cpp/tests/ReaderConfigurationTest.cc
Labels: component/c++, component/client, release/2.6.3, release/2.7.1

#8952 add properties default value for SchemaInfoBuilder
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaInfo.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaInfoTest.java
Labels: component/schemaregistry, release/2.7.1

#8951 consumer support update stats with specified stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: component/stats, release/2.7.1

#8948 Support configure max subscriptions per topic on the topic level policy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy, type/feature

#8942 support limit max topics per namespace
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: component/broker, doc-required, namespace-policy-required

#8931 Add more information in send timeout exception
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, java, release/2.6.3, release/2.7.1

#8965 PIP-74: Pulsar client memory limit in producer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MemoryLimitTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerConsumerBase.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/SizeUnit.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MemoryLimitController.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MemoryLimitControllerTest.java
Labels: type/enhancement

#8969 Fix NPE in PersistentStickyKeyDispatcherMultipleConsumers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: release/2.6.3, release/2.7.1

#8959 Fix the metadata setup compatibility issue
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
Labels: component/deploy, doc-required

#8970 Fix flaky test AdminApiTest2.testMaxSubPerTopicApi
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: component/test, flaky-tests

#8968 [pulsar-broker] clean up topic that failed to unload from the cache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnedBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: component/broker

#8979 [pulsar-client] Handle NPE while receiving ack for closed producer
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: component/client

#8966 Update maven artifact version
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/security, release/2.7.1

#8958 [docs] Fix workaround for functions worker errors
  site2/docs/functions-worker.md
Labels: component/documentation, component/functions

#9006 Adding timeout to open table call for function state
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/BKStateStoreProviderImpl.java
Labels: component/functions

#9002 Fix Workaround in versioned docs since 2.4.0
  site2/website/versioned_docs/version-2.4.0/functions-worker.md
  site2/website/versioned_docs/version-2.4.1/functions-worker.md
  site2/website/versioned_docs/version-2.4.2/functions-worker.md
  site2/website/versioned_docs/version-2.5.0/functions-worker.md
  site2/website/versioned_docs/version-2.6.0/functions-worker.md
  site2/website/versioned_docs/version-2.6.1/functions-worker.md
  site2/website/versioned_docs/version-2.6.2/functions-worker.md
  site2/website/versioned_docs/version-2.7.0/functions-worker.md
Labels: component/documentation

#9000 [pulsar-perf] Enable pulsar-perf to load WebSocket service URL from conf file
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/test/java/org/apache/pulsar/proxy/socket/client/PerformanceClientTest.java
  pulsar-testclient/src/test/resources/websocket_client1.conf
  pulsar-testclient/src/test/resources/websocket_client2.conf
  pulsar-testclient/src/test/resources/websocket_client3.conf
Labels: component/cli, type/enhancement

#9005 Allow stats operations not to be blocked in functions
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: component/functions

#8998 Improve error handling when broker doesn't trust client certificates
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataCommand.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTls.java
Labels: component/broker, component/security, release/2.6.3, release/2.7.1, type/enhancement

#8976 Make namespaces isolation policy updates take effect on time
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/ModularLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerWrapper.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
Labels: doc-required, release/2.7.1

#9025 [website]Fixed generate sidebar and full documentation
  site2/website/docusaurus-version.js
  site2/website/package.json
Labels: component/build, component/documentation, type/bug

#9017 [Broker] add if-branch for SubscriptionBusyException
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
Labels: component/websocket, release/2.6.3, release/2.7.1, type/enhancement

#8995 remove duplicated broker prometheus metrics type
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/stats, release/2.6.3, release/2.7.1

#8990 Issue 8974: Peeking at compressed messages throws an exception (Readonly buffers not supported by Airlift)
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/AirliftUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecLZ4.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecSnappy.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecZstd.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressorCodecTest.java
Labels: release/2.6.3, release/2.7.1, type/bug

#9021 Add raw prometheus metrics provider.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusRawMetricsProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: release/2.6.3, release/2.7.1

#9024 [Transaction] Fix transaction messages order error and deduplication error
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
Labels: release/2.7.1

#9018 [website] Add azure offloader to website
  site2/website/sidebars.json
  site2/website/versioned_sidebars/version-2.7.0-sidebars.json
Labels: component/documentation, component/tieredstorage, component/website, release/2.7.1

#8804 [pulsar-broker] validate namespace isolation policy regex before updating
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/NamespaceIsolationData.java
Labels: component/broker

#9030 Fix DelayedDelivery at the broker level has a default value
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiDelayedDelivery.java
Labels: release/2.7.1

#9014 Fix Issue #8999
  site2/tools/python-doc-gen.sh
Labels: component/website

#9023 Remove set_python_version.sh and references
  docker/pulsar/Dockerfile
  docker/pulsar/scripts/set_python_version.sh
  tests/docker-images/latest-version-image/scripts/run-bookie.sh
  tests/docker-images/latest-version-image/scripts/run-broker.sh
  tests/docker-images/latest-version-image/scripts/run-functions-worker.sh
  tests/docker-images/latest-version-image/scripts/run-global-zk.sh
  tests/docker-images/latest-version-image/scripts/run-local-zk.sh
  tests/docker-images/latest-version-image/scripts/run-presto-worker.sh
  tests/docker-images/latest-version-image/scripts/run-proxy.sh
  tests/docker-images/latest-version-image/scripts/run-standalone.sh
Labels: component/build, component/python

#8831 [pulsar-broker] Perform auto cert refresh for Pulsar-admin
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdminBuilder.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnectorProvider.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/AuthenticationDataProvider.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationDataTls.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FileModifiedTimeUpdater.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/KeyManagerProxy.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/TrustManagerProxy.java
Labels: component/broker

#9010 Add retry for the sql test
  .github/workflows/ci-integration-sql.yaml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
Labels: release/2.7.1

#9037 [C++] Correct API subscribe*'s argument name
  pulsar-client-cpp/include/pulsar/Client.h
  pulsar-client-cpp/lib/Client.cc
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ClientImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
Labels: component/c++, type/bug

#9001 [Build]Add provided dependency to make IDE eaiser to analyse code
  tiered-storage/jcloud/pom.xml
Labels: component/build

#9009 [pulsar-managed-ledger-admin] Fix deleting multiple ledgers
  bin/pulsar-managed-ledger-admin
Labels: release/2.7.1

#9041 [pulsar-client-api] Fix Unavailable Hash Range Condition
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/KeySharedPolicy.java
Labels: component/client, java, release/2.6.3, release/2.7.1

#8957 [PIP-60] Add TLS SNI support for cpp and python clients
  pulsar-client-cpp/lib/ClientConnection.cc
Labels: component/c++, component/client, doc-required

#8919 [ISSUE 8477][docs] Duplicate info of using C++ in Pulsar
  site2/docs/client-libraries-cpp.md
  site2/docs/developing-cpp.md
  site2/website/sidebars.json
Labels: component/client, component/documentation

#9052 Add release blog for 2.7.0
  site2/website/blog/2020-12-24-Apache-Pulsar-2-7-0.md
Labels: component/website

#9033 Add spotbug checks for pulsar-client-api module
  pulsar-client-api/pom.xml
  pulsar-client-api/src/main/resources/findbugsExclude.xml
Labels: component/build

#9031 [websocket] WebSocket proxy should return status code depending on type of PulsarClientException
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/AbstractWebSocketHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java
Labels: component/websocket, type/enhancement

#9049 add updateRates method for kop to collect publish rate
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
Labels: component/broker

#9059 [website] Update team info
  site2/website/data/team.js
Labels: component/website

#9054 [ISSUE] DOCS-8994 fix the links of examples
  site2/docs/adaptors-spark.md
  site2/docs/adaptors-storm.md
  site2/website/versioned_docs/version-2.6.0/adaptors-spark.md
  site2/website/versioned_docs/version-2.6.0/adaptors-storm.md
  site2/website/versioned_docs/version-2.6.1/adaptors-spark.md
  site2/website/versioned_docs/version-2.6.1/adaptors-storm.md
  site2/website/versioned_docs/version-2.6.2/adaptors-spark.md
  site2/website/versioned_docs/version-2.6.2/adaptors-storm.md
  site2/website/versioned_docs/version-2.7.0/adaptors-spark.md
  site2/website/versioned_docs/version-2.7.0/adaptors-storm.md
Labels: component/documentation, component/spark, component/storm

#9062 [ISSUE] DOCS-8994 fix the links of examples
  site2/website/versioned_docs/version-2.6.3/adaptors-spark.md
  site2/website/versioned_docs/version-2.6.3/adaptors-storm.md
  site2/website/versioned_docs/version-2.7.1/adaptors-spark.md
  site2/website/versioned_docs/version-2.7.1/adaptors-storm.md
Labels: component/documentation, component/spark, component/storm, release/2.6.3, release/2.7.1

#9055 Return correct authz and auth errors from proxy to client
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
Labels: component/proxy, release/2.7.1, type/bug

#9067 support peek broker entry metadta
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/test/java/org/apache/pulsar/common/protocol/CommandUtilsTests.java
Labels: component/broker

#9050 [DOCS] Refine reader interface for Pulsar client
  site2/docs/concepts-clients.md
  site2/website/versioned_docs/version-2.7.0/concepts-clients.md
Labels: component/client, component/documentation, release/2.7.1

#9069 Remove external CIs
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-pulsar-website-build.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: release/2.7.1

#9053 [DOCS] Refine the description of jwt
  site2/docs/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.5.0/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.6.0/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.6.1/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.6.2/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.7.0/administration-pulsar-manager.md
Labels: component/admin, component/documentation

#9063 [connector]fix debezium-connector error log
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
Labels: component/io, release/2.6.3, release/2.7.1

#9068 Fix Proxy Config bindAddress does not working for servicePort
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
Labels: component/proxy, release/2.6.3, release/2.7.1

#9029 Getting the stats of a non-persistent topic that has been cleaned causes it to re-appear
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NonPersistentTopicE2ETest.java
Labels: release/2.7.1, type/bug

#8985 [Issue 8887][tiered-storage-jcloud] support tiered-storage provider by aliyun OSS
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPolicies.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/provider/JCloudBlobStoreProvider.java
Labels: component/tieredstorage, doc-required, type/feature

#8988 Support create and update source with package name
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions, component/package

#9071 [docs] Add manage packages docs
  site2/docs/admin-api-packages.md
  site2/website/sidebars.json
Labels: component/admin, component/documentation

#9070 [docs]add parameter for helm init cluster
  site2/docs/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.1/getting-started-helm.md
Labels: component/documentation, component/helm

#9079 [Doc] Add docs for ProtobufNative Schema
  site2/docs/schema-understand.md
Labels: component/documentation

#9093 [docs] Fix sidebar issues
  site2/website/sidebars.json
  site2/website/versioned_sidebars/version-2.5.1-sidebars.json
  site2/website/versioned_sidebars/version-2.5.2-sidebars.json
  site2/website/versioned_sidebars/version-2.6.0-sidebars.json
  site2/website/versioned_sidebars/version-2.6.1-sidebars.json
  site2/website/versioned_sidebars/version-2.6.2-sidebars.json
  site2/website/versioned_sidebars/version-2.6.3-sidebars.json
  site2/website/versioned_sidebars/version-2.7.0-sidebars.json
  site2/website/versioned_sidebars/version-2.7.1-sidebars.json
Labels: component/admin, component/documentation, component/website

#8961 Fixes the recovery not respect to the isolation group settings
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/LedgerMetadataUtils.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/EnsemblePlacementPolicyConfig.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
Labels: release/2.6.3, release/2.7.1

#8987 Support create and update sink with package name
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
Labels: component/functions, component/io, component/package

#8606 [C++] fix cpp client do AcknowledgeCumulative not clean up previous message
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.cc
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client, release/2.7.1

#9074 [feature][cpp-client]Expose cpp end to end encryption interface
  pulsar-client-cpp/include/pulsar/CryptoKeyReader.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
  pulsar-client-cpp/lib/CryptoKeyReader.cc
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/lib/c/c_ProducerConfiguration.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client, component/security, type/enhancement
