Repository apache/pulsar, pull requests merged in 2020-08, with the labels that each got.

#7715 Fixed race condition on deleting topic with active readers
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/bug

#7705 [pulsar-client] Remove UUID generation on sending message
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client

#7724 Close the previous reader of the health check topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
Labels: release/2.6.1, type/bug

#7702 Fix the nondurable consumer can not specify the initial position
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/NonDurableConsumerMessagingTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/TopicMessagingBase.java
Labels: type/feature

#7725 Change some WebApplicationException log level to debug
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: release/2.6.1

#7716 Fix various issues with batch source
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/batch/BatchSourceExecutor.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/batch/BatchSourceExecutorTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
  pulsar-io/batch-data-generator/pom.xml
  pulsar-io/batch/pom.xml
  pulsar-io/batch/src/test/java/org/apache/pulsar/io/batch/BatchSourceExecutorTest.java
  pulsar-io/pom.xml
Labels: component/functions

#7748 Improve stability for the test `TopicBacklogQuotaTest`
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicBacklogQuotaTest.java
Labels: component/test

#7733 Perform producer compression from IO threads
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/enhancement

#7731 Replay delayed messages in order.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
Labels: component/broker, release/2.6.1

#7741 [Issue 5520][Function Doc] Add window function context docs for repo
  site2/docs/window-functions-context.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.3.0/window-functions-context.md
  site2/website/versioned_docs/version-2.3.1/window-functions-context.md
  site2/website/versioned_docs/version-2.3.2/window-functions-context.md
  site2/website/versioned_docs/version-2.4.0/window-functions-context.md
  site2/website/versioned_docs/version-2.4.1/window-functions-context.md
  site2/website/versioned_docs/version-2.4.2/window-functions-context.md
  site2/website/versioned_docs/version-2.5.0/window-functions-context.md
  site2/website/versioned_docs/version-2.5.1/window-functions-context.md
  site2/website/versioned_docs/version-2.5.2/window-functions-context.md
  site2/website/versioned_docs/version-2.6.0/window-functions-context.md
  site2/website/versioned_sidebars/version-2.3.0-sidebars.json
  site2/website/versioned_sidebars/version-2.3.1-sidebars.json
  site2/website/versioned_sidebars/version-2.3.2-sidebars.json
  site2/website/versioned_sidebars/version-2.4.0-sidebars.json
  site2/website/versioned_sidebars/version-2.4.1-sidebars.json
  site2/website/versioned_sidebars/version-2.4.2-sidebars.json
  site2/website/versioned_sidebars/version-2.5.0-sidebars.json
  site2/website/versioned_sidebars/version-2.5.1-sidebars.json
  site2/website/versioned_sidebars/version-2.5.2-sidebars.json
  site2/website/versioned_sidebars/version-2.6.0-sidebars.json
Labels: component/documentation, component/functions, release/2.4.3, release/2.5.1, release/2.5.2, release/2.5.3, release/2.6.1, release/2.6.2

#7729 Avoid ConcurrentModificationException of LocalBrokerData.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
Labels: type/bug

#7671 Update Pulsar related events
  site2/website/pages/en/events.js
Labels: component/website

#7708 [Issue] Fix get schemaName by partitioned topic name
  pulsar-broker/src/test/java/org/apache/pulsar/schema/PartitionedTopicSchemaTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
Labels: component/schemaregistry, release/2.6.1, type/bug

#7746 Fix functions-worker typos
  site2/docs/functions-worker.md
Labels: component/documentation, component/functions, release/2.6.1, release/2.6.2

#7727 Add examples of window functions for repo
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/ContextWindowFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/LoggingWindowFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/PublishWindowFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/UserConfigWindowFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/UserExceptionWindowFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/UserMetricWindowFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/WordCountWindowFunction.java
Labels: component/functions

#7712 [Issue 7711][pulsar-broker] Use original role instead of proxy role to check permissions
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
Labels: component/security, release/2.6.1, type/bug

#7737 [Issue 7736][broker]Fix broker lookup return wrong url when specify advertised listener
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: release/2.6.1, type/bug

#7761 Add license header for readme file of oauth2
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/README.md
Labels: release/2.6.1

#7738 Support set message TTL on topic level.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicBacklogQuotaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicMessageTTLTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy, doc-required, type/feature

#7766 [pulsar-proxy] Handle NPE while updating proxy stats
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
Labels: component/proxy, release/2.6.2

#7735 [broker] Fix bug where producer for geo-replication is not closed when topic is unloaded
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/broker, release/2.6.2, type/bug

#7690 [proxy] Fix deadlock in pulsar proxy
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/ZookeeperCacheLoader.java
  pulsar-proxy/pom.xml
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/util/ZookeeperCacheLoader.java
Labels: component/proxy, release/2.6.2, type/bug

#7699 [Doc] Add a note about sink-type and source-type value of the built-in connector.
  site2/docs/io-cli.md
  site2/docs/io-quickstart.md
Labels: component/documentation

#7744 [broker] Make resetting cursor in REST API asynchronous
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/broker, release/2.6.2, type/bug

#7691 [Issue #7556][pulsar-client] Ensure parallel invocations of MultiTopicsConsumerImpl::subscribeAsync with same topic name do not produce an error.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
Labels: release/2.6.2, type/enhancement

#7668 update aws deployment for 2.6.0
  deployment/terraform-ansible/aws/setup-disk.yaml
  deployment/terraform-ansible/deploy-pulsar.yaml
  deployment/terraform-ansible/templates/bookkeeper.conf
  deployment/terraform-ansible/templates/broker.conf
  deployment/terraform-ansible/templates/client.conf
  deployment/terraform-ansible/templates/proxy.conf
  deployment/terraform-ansible/templates/zoo.cfg
  site2/docs/deploy-aws.md
Labels: component/deploy, component/documentation, doc-required

#7777 Ensure deleting a partitioned-topic on a non existing namespace returns 404
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: type/bug

#7778 Remove empty test class ConsumerPreciseDispatcherFlowControl
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerPreciseDispatcherFlowControl.java
Labels: component/test

#7791 [CPP client]Fix the issuer_url parsing failure in oauth2
  pulsar-client-cpp/lib/auth/AuthOauth2.cc
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: component/c++, release/2.6.1

#7769 [Issue 5401][docs] Add deploy-docker doc
  site2/docs/deploy-docker.md
  site2/website/sidebars.json
Labels: component/deploy, component/documentation

#7782 make pulsar executor pool size configurable
  bouncy-castle/bcfips-include-test/src/test/java/org/apache/pulsar/client/TlsProducerConsumerBase.java
  bouncy-castle/bcfips-nar-test/src/test/java/org/apache/pulsar/client/TlsProducerConsumerBase.java
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/AdminApiKeyStoreTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsProducerConsumerTestWithAuth.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsProducerConsumerTestWithoutAuth.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticatedProducerConsumerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationNegTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithoutServiceDiscoveryTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/SuperUserAuthedAdminProxyHandlerTest.java
Labels: release/2.6.2

#7764 Allow the option to make producers thread local
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/ProducerConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
Labels: component/functions

#7789 Set default root log level to debug
  conf/log4j2.yaml
Labels: release/2.6.1

#7790 Update resources
  site2/website/data/resources.js
Labels: component/website

#7765 make orderedExecutor threads number configurable
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/config, type/enhancement

#7767 [Issue 5157][docs] Update source and sink --processing-guarantees description
  site2/docs/io-cli.md
Labels: component/documentation, component/io

#7794 make zk cache executor thread pool size configurable
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker, component/config, release/2.6.2

#7795 [Pulsar-client-cli] fix some params on consumer broken by #4400 (regex, initialSouscriptionPosition)
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
Labels: release/2.6.2, type/bug

#7793 cpp: fix reference leak when reader create
  pulsar-client-cpp/lib/ReaderImpl.cc
  pulsar-client-cpp/lib/ReaderImpl.h
  pulsar-client-cpp/lib/Utils.h
  pulsar-client-cpp/tests/ReaderTest.cc
  pulsar-client-cpp/tests/ReaderTest.h
Labels: component/c++, component/client, release/2.6.1

#7771 [pulsar-io-hdfs2] Add config to create subdirectory from current time
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsAbstractSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsSinkConfig.java
  pulsar-io/hdfs2/src/test/java/org/apache/pulsar/io/hdfs2/sink/HdfsSinkConfigTests.java
  pulsar-io/hdfs2/src/test/resources/sinkConfig.yaml
  site2/docs/io-hdfs2-sink.md
Labels: component/connect

#7784 support topic level delayed delivery policy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: type/feature

#7788 allowTopicOperationAsync should check the original role is super user (#1355)
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/AuthenticationFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
Labels: component/broker, component/security, release/2.6.1

#7802 Support set MaxUnackMessagesPerSubscription on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMaxUnackedMessages.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/MaxUnackedMessagesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy

#7780 Fix admin-api-partitioned-topics page grammatical errors
  site2/docs/admin-api-partitioned-topics.md
Labels: component/documentation, type/bug

#7779 Fix admin-api-namespaces page grammatical errors
  site2/docs/admin-api-namespaces.md
Labels: component/documentation, type/bug

#7801 Fix security vulnerabilities of Pulsar
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-io/canal/pom.xml
  pulsar-io/solr/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar/pom.xml
Labels: component/security

#7807 Implement toString() method for TopicMessageIdImpl class
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageIdTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageIdImpl.java
Labels: component/client, release/2.6.2

#7808 Update contact page and resources page
  site2/website/data/resources.js
  site2/website/pages/en/contact.js
Labels: component/website

#7739 Add 2.6.1 release notes to repo
  site2/website/release-notes.md
Labels: component/documentation

#7820 Improve the performance of toString for MessageId Implementations
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
Labels: component/broker

#7823 [pulsar-client] Avoid subscribing the same topic again
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
Labels: component/client, release/2.6.2

#7818 Support MaxUnackedMessagesOnConsumer on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/MaxUnackedMessagesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy

#7688 Support acknowledging a list of messages
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerAckListTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NonPersistentAcknowledgmentGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSourceTests.java
Labels: type/feature

#7817 [ISSUE 7757] Support Persistence Policies on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#7813 Add oauth2 client wrapper for python
  pulsar-client-cpp/include/pulsar/Authentication.h
  pulsar-client-cpp/include/pulsar/c/authentication.h
  pulsar-client-cpp/lib/c/c_Authentication.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/src/authentication.cc
Labels: component/client, component/python

#7786 Redirect Get message by id request when broker not serve for the topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/broker, release/2.6.2

#7832 Update 2.6.1 docs
  site2/website/releases.json
  site2/website/versioned_docs/version-2.6.1/admin-api-namespaces.md
  site2/website/versioned_docs/version-2.6.1/admin-api-schemas.md
  site2/website/versioned_docs/version-2.6.1/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.1/concepts-clients.md
  site2/website/versioned_docs/version-2.6.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.1/concepts-proxy-sni-routing.md
  site2/website/versioned_docs/version-2.6.1/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.6.1/cookbooks-deduplication.md
  site2/website/versioned_docs/version-2.6.1/cookbooks-encryption.md
  site2/website/versioned_docs/version-2.6.1/cookbooks-tiered-storage.md
  site2/website/versioned_docs/version-2.6.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.1/deploy-dcos.md
  site2/website/versioned_docs/version-2.6.1/functions-cli.md
  site2/website/versioned_docs/version-2.6.1/functions-debug.md
  site2/website/versioned_docs/version-2.6.1/functions-deploy.md
  site2/website/versioned_docs/version-2.6.1/functions-develop.md
  site2/website/versioned_docs/version-2.6.1/functions-metrics.md
  site2/website/versioned_docs/version-2.6.1/functions-runtime.md
  site2/website/versioned_docs/version-2.6.1/functions-worker.md
  site2/website/versioned_docs/version-2.6.1/getting-started-concepts-and-architecture.md
  site2/website/versioned_docs/version-2.6.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.1/helm-install.md
  site2/website/versioned_docs/version-2.6.1/io-cdc-canal.md
  site2/website/versioned_docs/version-2.6.1/io-cli.md
  site2/website/versioned_docs/version-2.6.1/io-hdfs2-sink.md
  site2/website/versioned_docs/version-2.6.1/io-quickstart.md
  site2/website/versioned_docs/version-2.6.1/io-twitter.md
  site2/website/versioned_docs/version-2.6.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.1/schema-get-started.md
  site2/website/versioned_docs/version-2.6.1/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.6.1/security-oauth2.md
  site2/website/versioned_docs/version-2.6.1/security-overview.md
  site2/website/versioned_docs/version-2.6.1/sql-deployment-configurations.md
  site2/website/versioned_docs/version-2.6.1/window-functions-context.md
  site2/website/versioned_sidebars/version-2.6.1-sidebars.json
  site2/website/versions.json
Labels: component/documentation, release/2.6.1

#7828 Fix pending batchIndexAcks bitSet batchSize in PersistentAcknowledgmentsGroupingTracker
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BatchMessageIndexAckTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
Labels: release/2.6.2

#7821 Support deduplication on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/MaxUnackedMessagesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/TopicDuplicationTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: component/topic-policy, doc-required

#7857 [build] Add python-dev to pulsar docker image
  docker/pulsar/Dockerfile
Labels: component/build

#7867 Update swagger files for release 2.6.1
  site2/website/static/swagger/2.6.1/swagger.json
  site2/website/static/swagger/2.6.1/swaggerfunctions.json
  site2/website/static/swagger/2.6.1/swaggersink.json
  site2/website/static/swagger/2.6.1/swaggersource.json
Labels: component/documentation, release/2.6.1

#7756 Add release 2.6.1 blog for website
  site2/website/blog/2020-08-17-Apache-Pulsar-2-6-1.md
Labels: component/documentation

#7882 [blog] Add 300 contributor blog
  site2/website/blog/2020-08-24-Pulsar-300-contributors.md
Labels: component/website

#7885 [blog] Update star number
  site2/website/blog/2020-08-24-Pulsar-300-contributors.md
Labels: component/website

#7865 Add ability for BatchPushSource to notify errors asynchronously
  pulsar-io/batch-data-generator/src/main/java/org/apache/pulsar/io/batchdatagenerator/BatchDataGeneratorPushSource.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/BatchPushSource.java
  pulsar-io/core/src/test/java/org/apache/pulsar/io/core/BatchPushSourceTest.java
Labels: component/functions

#7798 [Issue 7787][pulsar-client-cpp] Throw std::exception types
  pulsar-client-cpp/lib/CompressionCodecSnappy.cc
  pulsar-client-cpp/lib/CompressionCodecZstd.cc
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/MessageBuilder.cc
  pulsar-client-cpp/lib/MessageId.cc
  pulsar-client-cpp/lib/ProducerConfiguration.cc
  pulsar-client-cpp/lib/auth/AuthOauth2.cc
  pulsar-client-cpp/lib/auth/AuthToken.cc
  pulsar-client-cpp/tests/BatchMessageTest.cc
Labels: component/c++, release/2.6.2

#7902 Update release 2.6.1 blog
  site2/website/blog/2020-08-17-Apache-Pulsar-2-6-1.md
  site2/website/release-notes.md
Labels: component/documentation

#7898 [Pulsar SQL] Fix Pulsar SQL CI test
  .github/workflows/ci-integration-sql.yaml
  conf/presto/config.properties
  conf/presto/jvm.config
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdminBuilder.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar-plugin/src/assembly/assembly.xml
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorConfig.java
Labels: component/sql

#7861 [Issue 7554][broker] Split message ranges by ledger ID and store them in individualDeletedMessages
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorIndividualDeletedMessagesTest.java
Labels: component/broker, release/2.6.2, type/bug

#7841 [broker] Fix deadlock when adding consumer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/broker, release/2.6.2, type/bug

#7890 convertFromConfig should support an overloading of cluster Name
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
Labels: component/functions

#7897 Add hostname to consumer/producer properties in Pulsar Functions
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceUtils.java
Labels: component/functions

#7863 support message dispatch rate on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPolicyListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy, doc-required

#7922 [website] Update siteConfig.js
  site2/website/siteConfig.js
Labels: component/website

#7918 [Doc]--support set/get/remove message deduplication policy at topic level
  site2/docs/concepts-messaging.md
  site2/docs/cookbooks-deduplication.md
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation

#7874 add java8 date and time type to pulsar's primitive schemas
  .github/workflows/ci-integration-schema.yaml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/validator/SchemaDataValidator.java
  pulsar-broker/src/main/proto/SchemaRegistryFormat.proto
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/validator/SchemaDataValidatorTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/InstantSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LocalDateSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LocalDateTimeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LocalTimeSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/InstantSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/LocalDateSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/LocalDateTimeSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/LocalTimeSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/PrimitiveSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/common/schema/KeyValueTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/SchemaTest.java
Labels: component/schemaregistry

#7924 Update AWS deployment
  site2/docs/reference-configuration.md
Labels: component/documentation

#7921 [website] Update index.js
  site2/website/pages/en/index.js
Labels: component/website

#7930 Allow specifying state storage url for Source/Sink localrun
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/functions

#7929 Rewind ByteBuffers Read/Written to Function's state store
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/StateContextImpl.java
Labels: component/functions

#7881 add compaction threshold for topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy, type/feature

#7937 [Issue 7878][broker]Fix NPE when acknowledge messages at the broker side
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
Labels: release/2.6.2
