Repository apache/pulsar, pull requests merged in 2020-09, with the labels that each got.

#7906 Don't fail the health check request when trying to delete the previous subscription.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
Labels: release/2.6.2

#7943 Fix log level error and typos
  pulsar-client/src/main/java/org/apache/pulsar/client/util/TypeCheckUtil.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceServlet.java
Labels: release/2.6.2

#7954 Fix the time of 2.6.1 release
  site2/website/blog/2020-08-21-Apache-Pulsar-2-6-1.md
Labels: component/documentation

#7886 [blog] Add Pulsar Summit Asia 2020 CFP blog
  site2/website/blog/2020-08-25-pulsar-summit-asia-2020-cfp.md
Labels: component/website

#7958 [blog] Add image and update file name
  site2/website/blog/2020-09-01-pulsar-summit-asia-2020-cfp.md
  site2/website/static/img/pulsar-summit-asia-2020.png
Labels: component/website

#7934 [Issue 7933][pulsar-broker-common] Add some logging to improve Authentication debugging and Fix typos in code "occured" -> "occurred"
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyRolesEnforcementTest.java
Labels: release/2.6.2, triage/week-36

#7946 Add python oauth2 document
  site2/docs/security-oauth2.md
Labels: release/2.6.2

#7917 [Issue 7864][docs]Update document for how to pick active consumer for failover subscription.
  site2/docs/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.2/concepts-messaging.md
Labels: component/documentation, release/2.4.3, release/2.5.1, release/2.5.2, release/2.5.3, release/2.6.1, release/2.6.2

#7553 [pulsar-broker] Stop to dispatch when skip message temporally since Key_Shared consumer stuck on delivery
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: component/broker, release/2.6.2, type/bug

#7940 Fix PR #7818 #7802 does not support admin cli
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#7914 [ISSUE 7758] Support set Max Producer on topic level.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy, doc-required

#7905 fix pulsar metrics providing wrong information
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/metrics, release/2.6.2, type/bug

#7966 [docs] Update Node client document
  site2/docs/client-libraries-node.md
Labels: component/client, component/documentation

#7969 [Admin cli]Fixed website admin cli link error
  site2/website/static/js/getCliByVersion.js
Labels: component/admin, component/cli, component/website

#7938 Update the pulsar admin cli java doc to support set/get/remove deduplication on topic level
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#7965 Various fixes for Batch Source
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/batch/BatchSourceExecutor.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/batch/BatchSourceExecutorTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-io/batch-discovery-triggerers/src/main/java/org/apache/pulsar/io/batchdiscovery/CronTriggerer.java
Labels: component/functions, type/bug

#7883 Support topicl level offload
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy, doc-required, type/feature

#7856 [Transaction] Handle Acknowledge In The Transaction
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/TransactionCoordinatorClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NonPersistentAcknowledgmentGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionCoordinatorClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionSubscription.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TxnMeta.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/TxnMetaImpl.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProviderTest.java
Labels: component/txn, type/feature

#7904 Add docs of package Pulsar Functions
  site2/docs/functions-package.md
  site2/website/sidebars.json
Labels: component/documentation, component/functions

#7986 Support topic-level inactiveTopicPolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy, doc-required

#7984 Implement better error handling during close() of a batch source
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/batch/BatchSourceExecutor.java
Labels: component/functions, type/bug

#7985 Improve batch source intermediate topic cleanup
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
Labels: component/functions, type/bug

#7977 Add bookkeeperClientMinNumRacksPerWriteQuorum, bookkeeperClientEnforceMinNumRacksPerWriteQuorum conf options
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/PulsarBrokerStarterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BookKeeperClientFactoryImplTest.java
  pulsar-broker/src/test/resources/configurations/pulsar_broker_test.conf
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/test-conf/standalone.conf
  pulsar-client-cpp/tests/authentication.conf
  pulsar-client-cpp/tests/standalone.conf
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
Labels: component/bookkeeper, component/config

#7968 [Issue 7759] Support set Max Consumer on topic level.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy, doc-required

#7956 [Doc] Remove stateful function note from the Deploy a cluster on bare metal document
  site2/docs/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.1.1-incubating/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.2.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.2.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.2/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.4.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.4.1/develop-bare-metal.md
  site2/website/versioned_docs/version-2.4.2/develop-bare-metal.md
  site2/website/versioned_docs/version-2.5.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.5.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.5.2/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.2/deploy-bare-metal.md
Labels: component/documentation

#7994 [Security] Upgrade the snakeyaml verion to 1.26
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/BasicKubernetesManifestCustomizer.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesManifestCustomizer.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeTest.java
  pulsar-functions/secrets/pom.xml
  pulsar-functions/secrets/src/main/java/org/apache/pulsar/functions/secretsproviderconfigurator/DefaultSecretsProviderConfigurator.java
  pulsar-functions/secrets/src/main/java/org/apache/pulsar/functions/secretsproviderconfigurator/KubernetesSecretsProviderConfigurator.java
  pulsar-functions/secrets/src/main/java/org/apache/pulsar/functions/secretsproviderconfigurator/SecretsProviderConfigurator.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/ElasticSearchSinkTester.java
Labels: component/functions, component/security

#7926 fix publish buffer of one ServerCnx caculated multi-times when check broker's publish buffer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: release/2.6.2

#7976 [DOCS] Small improvements and clarifications around AuthN / AuthZ
  site2/docs/security-authorization.md
  site2/docs/security-extending.md
Labels: component/documentation

#7975 double check from zookeeper if availableBrokers is empty for discovery service
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/ZookeeperCacheLoader.java
Labels: component/broker

#7997 Exclude vertx from bookkeeper-http package
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: component/security

#8004 Fix dispatchRate is overwritten
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
Labels: component/admin, component/config

#7972 [Doc] Fix wrong argument name
  pulsar-client-cpp/python/pulsar/__init__.py
Labels: component/python

#7992 Add Neutron & Supernova
  site2/docs/getting-started-clients.md
Labels: component/documentation

#7989 pulsar-perf support setting message key
  pulsar-testclient/pom.xml
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceProducerTest.java
Labels: component/client

#7983 Issue-7982: Removed blocking call
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: release/2.6.2

#7901 [Bookkeeper] make bookkeeper throttle Configurable
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
Labels: component/bookkeeper, component/config

#7858 Add config to lazily recover cursors when recovering a managed ledger.
  conf/broker.conf
  deployment/terraform-ansible/templates/broker.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#7932 [cpp-client] Fix for not respecting custom LoggerFactory client config
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/LogUtils.cc
  pulsar-client-cpp/lib/LogUtils.h
  pulsar-client-cpp/tests/CustomLoggerTest.cc
Labels: component/c++, component/config

#8005 [docs] Update Functions package content
  site2/docs/functions-package.md
Labels: component/documentation, component/functions

#8014 Rollback protobuf version to 3.5.1
  pom.xml
Labels: component/build, type/bug

#7635 "[Issue #7634][build] - changed root pom to use jackson bom
  pom.xml
Labels: component/build

#8017 Fix broken trigger link
  site2/docs/cookbooks-compaction.md
Labels: component/documentation, component/website

#8015 [website] Update the project description on home page
  site2/website/siteConfig.js
Labels: component/website

#8006 The token endpoint should get from the well-known configuration
  pulsar-client-cpp/lib/auth/AuthOauth2.cc
  pulsar-client-cpp/lib/auth/AuthOauth2.h
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: component/security

#7973 Update the issuer url in the doc
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/README.md
  site2/docs/client-libraries-go.md
  site2/docs/security-oauth2.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.1/security-oauth2.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.2/security-oauth2.md
Labels: component/documentation, component/website

#8019 Fix the null exception when starting the proxy service
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/ClientCredentialsFlow.java
  pulsar-proxy/pom.xml
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTestWithAuth.java
Labels: component/security, release/2.6.2

#7891 Allow ability to specify sub position in functions
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
Labels: component/functions, doc-required, type/feature

#7773 [Issue 7517][pulsar-broker] Reestablish namespace bundle ownership from false negative releasing and false positive acquiring
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnedBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicOwnerTest.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperServerTest.java
Labels: component/broker, release/2.6.2

#8024 Fix IndexOutOfBoundsException in the KeyShared subscription when dispatching messages to consumers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: release/2.6.2, type/bug

#8035 Upgrade jetty-util version to 9.4.31
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#8028 Fix protobuf version to 3.11.4
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/instance/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntime.java
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#8003 support max consumers per subscription on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy, doc-required

#8041 Use tlsEnableHostnameVerification for ClientBuilder in PulsarClientTool
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
Labels: type/bug

#7980 Fix the wrong issuer url concatenate
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenOauth2AuthenticatedProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/DefaultMetadataResolver.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/auth/oauth2/AuthenticationOAuth2Test.java
Labels: component/security, release/2.6.2

#7987 Add logging of stack trace to help debugging AuthN problems
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: type/enhancement

#8032 Fix the failed CI issue
  examples/flink/pom.xml
  examples/spark/pom.xml
Labels: component/build

#7852 [Doc]--Update Pulsar Admin CLI doc to support to set/get/remove persistence polices, message TTL, and backlog quota on topic level
  site2/docs/concepts-multi-tenancy.md
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation

#8031 Allow to configure basic rate limiting for HTTP requests
  conf/broker.conf
  conf/proxy.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/RateLimitingFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
Labels: component/admin, type/feature

#8053 [Docs] Cleanup broker documentation
  site2/docs/admin-api-namespaces.md
  site2/docs/concepts-architecture-overview.md
  site2/docs/concepts-authentication.md
Labels: component/documentation

#8073 Update the jwt authentication doc
  site2/docs/security-jwt.md
  site2/website/versioned_docs/version-2.6.0/security-jwt.md
  site2/website/versioned_docs/version-2.6.1/security-jwt.md
  site2/website/versioned_docs/version-2.6.2/security-jwt.md
Labels: component/documentation

#8058 Cancel retry if the error is authenticate failed
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/token/PulsarTokenAuthenticationBaseSuite.java
Labels: component/client, component/security

#7806 [Issue 5399][docs] Update KubernetesSecretsTokenAuthProvider docs
  site2/docs/functions-runtime.md
Labels: component/documentation, component/functions

#8071 [Test] transaction flaky test
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
Labels: component/txn

#8065 Change bookkeeper main method class
  bin/bookkeeper
  bin/pulsar
Labels: component/cli

#8064 Set dryrun of KubernetesRuntime is null
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
Labels: component/functions, component/k8s

#8088 Reduce log level to warning for authorization failures
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/enhancement

#7442 [pulsar-client] support input-stream for trustStore cert
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/AuthenticationDataProvider.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationDataTls.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationTls.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/NettyClientSslContextRefresher.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
Labels: component/client

#8086 [cpp] Add Snappy library to Docker images for building C++ packages
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/rpm/Dockerfile
Labels: component/c++, release/2.6.2, type/bug

#7991 support subscribe rate on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy

#8062 [pulsar-client] Fix: avoid resolving address for sni-host + thread-safe connection creation
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProxyProtocolTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
Labels: component/client, release/2.6.2

#7993 [Issue 7959] Added support to force deleting namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: component/admin

#8090 make pulsar-perf ioThread number configurable
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
Labels: release/2.6.2

#8087 support subscription dispatch rate on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy, type/feature

#8066 [broker] Add replicated check to checkInactiveSubscriptions.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/broker, release/2.6.2, type/enhancement

#8051 Replace map with set
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: component/broker, component/client

#8106 [Website] Replace Streamlio logo with Splunk
  site2/website/data/users.js
  site2/website/static/css/custom.css
Labels: component/website

#8097 Enable worker JVM metrics to be reported via Prometheus
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerStatsManager.java
Labels: component/functions

#8108 [website] Add user logos
  site2/website/data/users.js
Labels: component/website

#8045 Add an REST endpoint to trigger backlogQuotaCheck
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBrokers.java
Labels: component/admin, type/feature

#8085 [Pulsar Manager]Add release notes for puslar manager 0.2.0
  site2/docs/administration-pulsar-manager.md
  site2/website/pages/en/download.js
  site2/website/pulsar-manager-release-notes.md
  site2/website/pulsar-manager-release.json
  site2/website/versioned_docs/version-2.5.0/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.6.0/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.6.1/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.6.2/administration-pulsar-manager.md
Labels: component/documentation

#8112 [website] Use the CN website for Appen
  site2/website/data/users.js
Labels: component/website

#8113 [WIP][website] Add logo for Newland
  site2/website/data/users.js
Labels: component/website

#8098 Add ability to specify EnvironmentBasedSecretsProvider in LocalRunner
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/secrets/src/main/java/org/apache/pulsar/functions/secretsproviderconfigurator/NameAndConfigBasedSecretsProviderConfigurator.java
Labels: component/functions, component/io

#7910 [pulsar-broker] add configuration to set number of channels per bookie
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  site2/docs/reference-configuration.md
Labels: component/bookkeeper, component/broker

#8118 Fix pulsar functions threaded integration tests
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: component/functions

#8114 Fix failed CI tests related to ConcurrentModificationException.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClientBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TopicPoliciesSystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: release/2.6.2

#8101 [Issue 8093]Fix client lookup hangs when broker restarts
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LeaderElectionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LeaderElectionServiceTest.java
Labels: release/2.5.3, release/2.6.2, type/bug

#8059 Modify bookies set bookie rack document
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Bookies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBookies.java
  site2/website/static/swagger/2.3.0/swagger.json
  site2/website/static/swagger/2.3.1/swagger.json
  site2/website/static/swagger/2.3.2/swagger.json
  site2/website/static/swagger/2.4.0/swagger.json
  site2/website/static/swagger/2.4.1/swagger.json
  site2/website/static/swagger/2.4.2/swagger.json
  site2/website/static/swagger/2.5.0/swagger.json
  site2/website/static/swagger/2.5.1/swagger.json
  site2/website/static/swagger/2.5.2/swagger.json
  site2/website/static/swagger/2.6.0/swagger.json
  site2/website/static/swagger/2.6.1/swagger.json
Labels: component/documentation, type/enhancement

#8111 [Fix] Should not cache the owner that does not belong to current server
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipCacheForCurrentServerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
Labels: release/2.6.2

#8072 Websocket interface decode URL encoding
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/AbstractWebSocketHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/AbstractWebSocketHandlerTest.java
Labels: component/websocket, release/2.6.2

#8068 [Issue 5005] WebSocket API: support unsubscribing from a topic
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/SimpleConsumerSocket.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
Labels: component/proxy, component/websocket

#8104 removed unavailable parameter from the Java doc
  site2/docs/io-develop.md
  site2/website/versioned_docs/version-2.1.0-incubating/io-develop.md
  site2/website/versioned_docs/version-2.3.1/io-develop.md
  site2/website/versioned_docs/version-2.4.1/io-develop.md
  site2/website/versioned_docs/version-2.4.2/io-develop.md
  site2/website/versioned_docs/version-2.5.0/io-develop.md
  site2/website/versioned_docs/version-2.5.1/io-develop.md
  site2/website/versioned_docs/version-2.5.2/io-develop.md
  site2/website/versioned_docs/version-2.6.0/io-develop.md
  site2/website/versioned_docs/version-2.6.1/io-develop.md
  site2/website/versioned_docs/version-2.6.2/io-develop.md
Labels: component/documentation, component/io

#8119 Standardize kubernetes client version
  pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/secrets/pom.xml
Labels: component/build

#8127 Added ability to specify secrets class in localrunner builder
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
Labels: component/functions

#8099 Replace com.ning.asynchttpclient with org.asynchttpclient
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/sql

#8141 [C++] Fix the unstable unit tests failure
  pulsar-client-cpp/tests/BatchMessageTest.cc
Labels: component/c++, component/test, component/website, flaky-tests

#8129 Intercept messages to consumers and add intercept exception
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptors.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSender.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSenderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PreInterceptFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/RequestWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/ResponseHandlerFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/MockBrokerInterceptor.java
  pulsar-common/src/main/java/org/apache/pulsar/common/intercept/InterceptException.java
  pulsar-common/src/main/java/org/apache/pulsar/common/intercept/package-info.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarDecoder.java
Labels: release/2.6.2

#8156 Skip intercepting multipart requests
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PreInterceptFilter.java
Labels: release/2.6.2

#8081 [pulsar-broker] Add get-last-message-id admin for v1 api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
Labels: component/admin

#8082 [pulsar-admin-tool] add cli command to get last message Id
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
Labels: component/admin

#8110 remove sensitive client configuration info from log
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
Labels: component/config, release/2.6.2, type/enhancement

#8054 [Doc] Fix JavaDoc issues.
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/BundleSplitterTask.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnedBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/ServiceUnitZkUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ClientConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ConsumerConfiguration.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/Utils.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpoutConfiguration.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/PulsarSpoutConsumer.java
  pulsar-storm/src/main/java/org/apache/pulsar/storm/SharedPulsarClient.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperClientFactory.java
  site2/docs/security-extending.md
Labels: component/documentation

#8160 [Issue 8138][pulsar-client] Fix ConsumerImpl memory leaks
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: release/2.6.2

#8167 [pulsar-admin] Support delete schema ledgers when delete topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/DefaultSchemaRegistryService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/validator/SchemaRegistryServiceWithSchemaDataValidator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
Labels: component/admin, doc-required
