Repository apache/pulsar, pull requests merged in 2020-04, with the labels that each got.

#6630 Issue #6619: WebSocket Topic URL Parser is Incorrect
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/AbstractWebSocketHandler.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/AbstractWebSocketHandlerTest.java
Labels: component/websocket

#6651 [website]: Fix powered-by -- ottoo, streamnative, navar
  site2/website/data/users.js
Labels: component/website

#6660 [hotfix] Add clean disk step in workflow
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-unit-broker.yml
Labels: component/build, component/test, flaky-tests

#6665 Fix an error in the Helm chart
  deployment/kubernetes/helm/pulsar/templates/broker-configmap.yaml
Labels: component/helm

#6666 [Issue 6663][helm] Lint the Helm chart in the CI
  .github/workflows/ci-deployment-helm.yaml
Labels: component/helm

#6647 Improve Key_Shared subscription message dispatching performance.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
Labels: component/broker, release/2.5.1

#6622 ISSUE-6612 FIX: parse long field in GenricJsonRecord (#6612)
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecordTest.java
Labels: component/schemaregistry, type/bug

#6601 ISSUE-6514 Add support for influxdb2 in pulsar-influxdb-sink(#6514)
  pulsar-io/influxdb/pom.xml
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/BatchSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBAbstractSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBGenericRecordSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v1/InfluxDBAbstractSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v1/InfluxDBBuilder.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v1/InfluxDBBuilderImpl.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v1/InfluxDBGenericRecordSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v1/InfluxDBSinkConfig.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v2/InfluxDBClientBuilder.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v2/InfluxDBClientBuilderImpl.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSinkConfig.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/InfluxDBGenericRecordSinkTest.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v1/InfluxDBGenericRecordSinkTest.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v1/InfluxDBSinkConfigTest.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSinkConfigTest.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSinkTest.java
  pulsar-io/influxdb/src/test/resources/sinkConfig-v1.yaml
  pulsar-io/influxdb/src/test/resources/sinkConfig-v2.yaml
  site2/docs/io-influxdb-sink.md
Labels: component/io, type/enhancement

#6411 [functions] Allow custom resources for k8s
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/BasicKubernetesManifestCustomizer.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  site2/docs/functions-runtime.md
Labels: component/functions

#6181 Changes to improve readability
  site2/docs/deploy-bare-metal.md
Labels: component/documentation

#6671 Remove PULSAR_PREFIX for k8s yaml and helm values file
  deployment/kubernetes/generic/k8s-1-9-and-above/bookie.yaml
  deployment/kubernetes/generic/k8s-1-9-and-above/broker.yaml
  deployment/kubernetes/generic/k8s-1-9-and-above/proxy.yaml
  deployment/kubernetes/generic/original/bookie.yaml
  deployment/kubernetes/generic/original/broker.yaml
  deployment/kubernetes/generic/original/proxy.yaml
  deployment/kubernetes/google-kubernetes-engine/bookie.yaml
  deployment/kubernetes/google-kubernetes-engine/broker.yaml
  deployment/kubernetes/google-kubernetes-engine/proxy.yaml
  deployment/kubernetes/helm/pulsar/templates/broker-deployment.yaml
  deployment/kubernetes/helm/pulsar/values-mini.yaml
  deployment/kubernetes/helm/pulsar/values.yaml
Labels: component/helm

#6682 [hotfix] Fix flaky test in InfluxDBSinkTest
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSinkTest.java
Labels: component/test

#6664 added missing "of" to concepts-overview.md
  site2/docs/concepts-overview.md
Labels: component/documentation, component/website

#6686 [docs] Update README.md To Represent JDK 11 in Build Pulsar Doc
  README.md
Labels: component/documentation, release/2.5.1

#6688 [docs] Update README.md To Represent JDK 11 in Build Pulsar Doc
  README.md
Labels: component/documentation

#6667 [minor] avoid function call to get globalzk
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker

#6689 Remove deprecated -XX:+AggressiveOpts
  conf/bkenv.sh
  conf/pulsar_env.sh
  deployment/kubernetes/aws/bookkeeper.yaml
  deployment/kubernetes/aws/broker.yaml
  deployment/kubernetes/aws/zookeeper.yaml
  deployment/kubernetes/helm/pulsar/values-mini.yaml
  deployment/kubernetes/helm/pulsar/values.yaml
  deployment/terraform-ansible/templates/pulsar_env.sh
Labels: component/build, type/task

#6674 [pulsar-broker] check replicator periodically to avoid issue due to zk missing watch
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker

#6676 Retention policy should be respected when there is no traffic
  conf/broker.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumedLedgersTrimTest.java
Labels: component/admin

#6650 Fix send get raw schema request
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: component/client, release/2.5.2, type/bug

#6685 Not allow sub auto create by admin when disable topic auto create
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionCreationTest.java
Labels: component/admin

#6691 [Issue 6690] More accurately load the private key from PEM file
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
Labels: component/security, type/enhancement

#6683 [broker]Handle BadVersionException thrown by updateSchemaLocator()
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
Labels: component/broker, type/bug

#6657 Update the status of pulsar-flink connector
  pulsar-flink/README.md
  pulsar-flink/pom.xml
Labels: type/task

#6703 Fix cherry-pick error
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
Labels: release/2.5.2, type/bug

#6707 [Docs] Fix anchors in the cookbooks compaction documentation
  site2/docs/cookbooks-compaction.md
Labels: component/documentation

#6704 Add Joda time logical type conversion.
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-unit-broker.yml
  .github/workflows/ci-unit.yaml
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/SchemaDefinition.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/SchemaDefinitionBuilder.java
  pulsar-client-messagecrypto-bc/pom.xml
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaDefinitionBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaDefinitionImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/reader/AvroReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/writer/AvroWriter.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/ProtobufSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaInfoTest.java
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/JodaTimeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/SchemaTest.java
  tests/integration/src/test/resources/pulsar-schema.xml
Labels: component/schemaregistry, release/2.5.1

#6700 Improve backlogSize stats in the topic.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: release/2.5.2, type/enhancement

#6699 Add consumer distribution test for Failover subscription when update partitions
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/test

#6722 Update README.md about the repositories managed by Pulsar PMC
  README.md
Labels: component/documentation

#6726 Skip helm chart testing if the changes are docs-only changes
  .github/workflows/pulsar.yml
  .github/workflows/pulsar_bk_tls.yml
  .github/workflows/pulsar_broker_tls.yml
  .github/workflows/pulsar_function.yml
  .github/workflows/pulsar_image.yml
  .github/workflows/pulsar_jwt_asymmetric.yml
  .github/workflows/pulsar_jwt_symmetric.yml
  .github/workflows/pulsar_tls.yml
  .github/workflows/pulsar_zk_tls.yml
  .github/workflows/pulsar_zkbk_tls.yml
Labels: component/build

#6708 Issue 6702: add isSuperUser in AuthorizationProvider interface
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: component/security

#6668 [pulsar-broker] support configurable zk-cache expiry time
  conf/broker.conf
  conf/discovery.conf
  conf/proxy.conf
  conf/standalone.conf
  conf/websocket.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServiceConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/BrokerDiscoveryProvider.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/GlobalZooKeeperCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
Labels: component/broker

#6725 Update Helm Chart Documentation
  .ci/chart_test.sh
  .ci/helm.sh
  .github/workflows/pulsar.yml
  .github/workflows/pulsar_bk_tls.yml
  .github/workflows/pulsar_broker_tls.yml
  .github/workflows/pulsar_function.yml
  .github/workflows/pulsar_image.yml
  .github/workflows/pulsar_jwt_asymmetric.yml
  .github/workflows/pulsar_jwt_symmetric.yml
  .github/workflows/pulsar_tls.yml
  .github/workflows/pulsar_zk_tls.yml
  .github/workflows/pulsar_zkbk_tls.yml
  deployment/kubernetes/helm/README.md
  site2/docs/deploy-kubernetes.md
  site2/docs/getting-started-helm.md
  site2/docs/helm-deploy.md
  site2/docs/helm-install.md
  site2/docs/helm-overview.md
  site2/docs/helm-prepare.md
  site2/docs/helm-tools.md
  site2/docs/helm-upgrade.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.5.0/deploy-kubernetes.md
  site2/website/versioned_docs/version-2.5.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.5.0/helm-deploy.md
  site2/website/versioned_docs/version-2.5.0/helm-install.md
  site2/website/versioned_docs/version-2.5.0/helm-overview.md
  site2/website/versioned_docs/version-2.5.0/helm-prepare.md
  site2/website/versioned_docs/version-2.5.0/helm-tools.md
  site2/website/versioned_docs/version-2.5.0/helm-upgrade.md
  site2/website/versioned_sidebars/version-2.5.0-sidebars.json
Labels: component/documentation

#6728 [pulsar-broker] Fix Deadlock by Consumer and Reader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker, release/2.5.2, type/bug

#6727 Enable zookeeper.4lw.commands.whitelist in BookKeeperClusterTestCase.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
Labels: component/test

#6715 fix_admin_getIndividualMsgsFromBatch_bug
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTopicApiTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: component/admin, release/2.5.2

#6637 [pulsar-broker] Implement AutoSubscriptionCreation by namespace override
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoSubscriptionCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/AutoSubscriptionCreationOverride.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  site2/docs/reference-pulsar-admin.md
Labels: component/admin, component/broker, doc-required

#6695 [issue 6694][AVRO ENCODE] Reset cursor if message encode fails.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/writer/AvroWriter.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
Labels: component/schemaregistry, release/2.5.2, type/bug

#6602 separate function worker and broker client TLS configuration
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
Labels: component/functions

#6713 Fixed double delete on a namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: release/2.5.2, type/bug

#6738 Mention pulsar-io.yaml file is required in NAR file
  site2/docs/io-develop.md
  site2/website/versioned_docs/version-2.5.0/io-develop.md
Labels: component/documentation, component/website

#6735 Issue 6342: Korean documentation is not built to the website
  site2/website/languages.js
Labels: component/website

#6737 [pulsar-client] Add deliver_at and deliver_after to python client
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/message.cc
Labels: component/python, type/feature

#6741 [python client]Support generate pulsar-client for python3.8
  pulsar-client-cpp/docker/Dockerfile
  pulsar-client-cpp/docker/build-wheels.sh
  pulsar-client-cpp/docker/create-images.sh
  pulsar-client-cpp/docker/push-images.sh
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/client, component/python, release/2.5.1

#6740 [pulsar-broker] avoid backpressure by skipping dispatching if consumer channel is not writable
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: component/broker, release/2.5.2

#6716 [Issue #6711]: add audience verify in AuthenticationProviderToken
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
  site2/docs/reference-configuration.md
Labels: component/security, doc-required

#6745 fix_msgMetadata_not_recycle
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
Labels: release/2.5.2

#6756 [CI] Fix typo in the value for pulsar_manager in values-bk-tls
  .ci/clusters/values-bk-tls.yaml
Labels: component/build

#6755 [Docs] Fix the default values for auto-ack in the function CLI docs
  site2/docs/functions-cli.md
Labels: component/documentation

#6746 [build] Bump netty version to 4.1.48.Final
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build, component/security, release/2.5.2

#6753 [Go Function]Update Go client version to 0.1.0
  pulsar-function-go/examples/go.mod
  pulsar-function-go/examples/go.sum
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
Labels: component/functions

#6773 [website]Add 2.5.1 swagger json file
  site2/website/static/swagger/2.5.1/swagger.json
  site2/website/static/swagger/2.5.1/swaggerfunctions.json
  site2/website/static/swagger/2.5.1/swaggersink.json
  site2/website/static/swagger/2.5.1/swaggersource.json
Labels: component/documentation, component/website

#6786 Fix flakiness in PulsarFunctionE2ESecurityTest
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: component/functions

#5985 [Issue 5935] Support multi pulsar clusters to use the same bk cluster
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BookKeeperClientFactoryImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/conf/InternalConfigurationData.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  site2/docs/reference-configuration.md
Labels: component/cli

#6781 change testcase `org.apache.pulsar.broker.service.ServerCnxTest`, resolve NPE
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: component/test

#6760 [pulsar-client] Add support to load tls certs/key dynamically from inputstream
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationDataTls.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationTls.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
Labels: component/client, component/security

#6778 Ensure that all dangling consumers are cleaned up during failures
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
Labels: component/functions, release/2.5.2

#6779 Fix localrunner netty dependency issue and add default log4j2 config file
  pulsar-functions/localrun-shaded/pom.xml
  pulsar-functions/localrun/src/main/resources/log4j2.xml
Labels: component/functions, release/2.5.2, type/bug

#6772 Add ThresholdShedder Strategy for loadbalancer and expose loadbalance metric to prometheus
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/ModularLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/OverloadShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedder.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
  site2/docs/reference-metrics.md
Labels: component/broker, type/enhancement

#6717 Avoid prefetch too much data when offloading data to HDFS
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPolicies.java
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloader.java
Labels: component/tieredstorage, release/2.5.2

#6331 [Issue 2912][pulsar-admin] add get-message-by-id cmd into pulsar-admin
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CliCommand.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  site2/docs/admin-api-persistent-topics.md
  site2/docs/reference-pulsar-admin.md
Labels: component/admin, doc-required

#6516 [pulsar-proxy] Add CLI support to get pulsar-proxy stats
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/ProxyStats.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ProxyStatsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdProxyStats.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
Labels: component/proxy, doc-required

#6769 change nondurable cursor to active
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: component/broker, release/2.5.2, type/enhancement

#6784 Add topic compaction test for the empty message.
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
Labels: component/test

#6792 [Test] Removed double retain in mocked ledger handle
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockLedgerHandle.java
Labels: component/test

#6766 Fix check backlogged cursors without consumer
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactoryConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/broker, release/2.5.2, type/enhancement

#6788 [broker] register loadbalance znode should attempt to wait until session expired
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkUtils.java
Labels: component/broker, release/2.5.2, type/enhancement

#6774 Update apache pulsar 2.5.1 release notes
  site2/website/release-notes.md
Labels: component/website, release/2.5.1

#6780 [2.5.1 release]Update website
  site2/website/releases.json
  site2/website/versioned_docs/version-2.5.1/adaptors-kafka.md
  site2/website/versioned_docs/version-2.5.1/admin-api-non-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.1/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.1/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-node.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.1/concepts-overview.md
  site2/website/versioned_docs/version-2.5.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.5.1/cookbooks-partitioned.md
  site2/website/versioned_docs/version-2.5.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.5.1/deploy-monitoring.md
  site2/website/versioned_docs/version-2.5.1/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.5.1/functions-cli.md
  site2/website/versioned_docs/version-2.5.1/functions-debug.md
  site2/website/versioned_docs/version-2.5.1/functions-develop.md
  site2/website/versioned_docs/version-2.5.1/functions-overview.md
  site2/website/versioned_docs/version-2.5.1/functions-runtime.md
  site2/website/versioned_docs/version-2.5.1/getting-started-clients.md
  site2/website/versioned_docs/version-2.5.1/io-connectors.md
  site2/website/versioned_docs/version-2.5.1/io-debezium-source.md
  site2/website/versioned_docs/version-2.5.1/io-debug.md
  site2/website/versioned_docs/version-2.5.1/io-develop.md
  site2/website/versioned_docs/version-2.5.1/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.5.1/io-hbase-sink.md
  site2/website/versioned_docs/version-2.5.1/io-influxdb-sink.md
  site2/website/versioned_docs/version-2.5.1/io-kafka-source.md
  site2/website/versioned_docs/version-2.5.1/io-quickstart.md
  site2/website/versioned_docs/version-2.5.1/io-rabbitmq-source.md
  site2/website/versioned_docs/version-2.5.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-metrics.md
  site2/website/versioned_docs/version-2.5.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.1/schema-get-started.md
  site2/website/versioned_docs/version-2.5.1/schema-understand.md
  site2/website/versioned_docs/version-2.5.1/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.5.1/security-jwt.md
  site2/website/versioned_docs/version-2.5.1/security-tls-authentication.md
  site2/website/versioned_docs/version-2.5.1/security-tls-transport.md
  site2/website/versioned_sidebars/version-2.5.1-sidebars.json
  site2/website/versions.json
Labels: component/website, release/2.5.1

#6802 [website]Fixed website publish failed
  site2/tools/build-site.sh
Labels: component/website, type/bug

#6803 [hotfix]Website publish failed for ko language
  site2/tools/build-site.sh
Labels: component/website, type/bug

#6805 Add apache pulsar 2.5.1 blog
  site2/website/blog/2020-04-23-Apache-Pulsar-2-5-1.md
Labels: component/documentation, component/website

#6795 Fix some empty message related problems in the compacted topic.
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: release/2.5.2, type/bug

#6705 expose managedLedgerCache, managedLedger, loadBalance metrics to prometheus
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  site2/docs/reference-metrics.md
Labels: component/stats

#6783 Make messageReceiveTimeoutMs in the PulsarConsumerSource configurable
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarSourceBuilder.java
Labels: release/2.5.2, type/enhancement

#6812 [C++] Fix message id is always the default value in send callback
  pulsar-client-cpp/lib/BatchMessageContainer.cc
  pulsar-client-cpp/lib/BatchMessageContainer.h
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/BatchMessageTest.cc
Labels: component/c++, release/2.5.2, type/bug

#6817 [website]Adjust version order
  site2/website/versions.json
Labels: component/website

#6826 File connector should have type `source` in download page
  site2/website/data/connectors.js
Labels: component/website

#6808 [PY] Fix serialization of enums with json/avro schemas
  pulsar-client-cpp/python/pulsar/schema/__init__.py
  pulsar-client-cpp/python/pulsar/schema/schema.py
  pulsar-client-cpp/python/schema_test.py
Labels: component/python, release/2.5.2, type/bug

#6770 [Grafana] Add tags to all grafana dashboards
  docker/grafana/dashboards/bookkeeper.json
  docker/grafana/dashboards/jvm.json
  docker/grafana/dashboards/namespace.json
  docker/grafana/dashboards/topic.json
  docker/grafana/dashboards/zookeeper.json
Labels: component/dashboard

#6763 [docs] Fix encryption examples
  site2/docs/security-encryption.md
Labels: component/documentation

#6816 update topicName document to avoid confusion
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
  site2/docs/getting-started-pulsar.md
Labels: release/2.5.2, triage/week-18, type/enhancement

#6800 [broker] Expose BookKeeper GetBookieInfo settings
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  site2/docs/reference-configuration.md
Labels: component/config, type/enhancement

#6794 [Issue 6793][broker] Add config of maxNumPartitionsPerPartitionedTopic
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
  site2/docs/reference-configuration.md
Labels: type/feature

#6846 Avoid creating partitioned topic for partition name
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
Labels: release/2.5.2, type/bug

#6775 Add null check for offload policy.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: release/2.5.2, type/bug

#6764 fix Get schema by version can get the deleted schema info #6754
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
Labels: component/schemaregistry, release/2.5.2, type/bug
