Repository apache/pulsar, pull requests merged in 2020-05, with the labels that each got.

#6851 [broker] Enable users to set subscription expiration time for each namespace
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
Labels: component/admin, component/broker, type/enhancement

#6848 [JDBC Sink] JDBC sink does not handle null in schema
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcAutoSchemaSink.java
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/JdbcSinkTest.java
Labels: component/connect, release/2.5.2

#6875 Fix typo in getting-started-helm.md
  site2/docs/getting-started-helm.md
Labels: component/documentation, release/2.5.2

#6881 [Broker] Handle all exceptions from `topic.addProducer`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/broker, release/2.5.2, type/bug

#6857 [Dashboard]Fixed dashboard start failed
  dashboard/Dockerfile
  dashboard/init-postgres.sh
Labels: component/build, component/dashboard, release/2.5.2, type/bug

#6890 [Docs] Document cli commands for publish rate feature
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.1/reference-pulsar-admin.md
Labels: component/documentation

#6904 [Document]Fixed client api error link
  site2/website/scripts/replace.js
Labels: component/website, type/bug

#6888 [functions] Fix validation of function's update
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
Labels: component/functions, release/2.5.2, type/enhancement

#6861 [docs]path fix for changing directory
  site2/docs/helm-deploy.md
Labels: component/documentation

#6859 [docs] Update concepts-messaging.md
  site2/docs/concepts-messaging.md
Labels: component/documentation

#6750 [broker] Increase timeout for loading topics
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: release/2.5.2

#6908 Add a note for bookkeeper explicit LAC
  site2/docs/sql-deployment-configurations.md
Labels: component/documentation, component/sql, release/2.5.2

#6684 Support function with format: Function<I, CompletableFuture<O>>
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceTest.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/AsyncContextFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/JavaNativeAsyncExclamationFunction.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
Labels: component/functions, doc-required, release/2.5.2

#6919 add bigo into poweredby page
  site2/website/data/users.js
Labels: component/documentation, release/2.5.2

#6918 Expose pulsar_out_bytes_total and pulsar_out_messages_total for namespace/subscription/consumer.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedConsumerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedSubscriptionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicStats.java
  site2/docs/reference-metrics.md
Labels: component/metrics, release/2.5.2

#6910 [functions] Fix typos in exceptions related to functions
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
Labels: component/functions

#6870 use originalAuthMethod on originalAuthChecker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/security, release/2.5.2

#6767 [function] Function endpoint admin/v3/functions/{tenant}/{namespace} always returns 404
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionsApiV3Resource.java
Labels: component/admin, release/2.5.2

#6915 Suggest adjust bookkeekper.conf default FlushEntryLogBytes to 256MB to improve bookie io throughput
  conf/bookkeeper.conf
Labels: component/config

#6732 [C++] Auto update topic partitions
  pulsar-client-cpp/include/pulsar/ClientConfiguration.h
  pulsar-client-cpp/lib/ClientConfiguration.cc
  pulsar-client-cpp/lib/ClientConfigurationImpl.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/lib/PartitionedProducerImpl.cc
  pulsar-client-cpp/lib/PartitionedProducerImpl.h
  pulsar-client-cpp/tests/HttpHelper.cc
  pulsar-client-cpp/tests/HttpHelper.h
  pulsar-client-cpp/tests/PartitionsUpdateTest.cc
Labels: component/c++

#6862 fix consumer stuck when batchReceivePolicy maxNumMessages > maxReceiverQueueSize
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerBatchReceiveTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/BatchReceivePolicy.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: release/2.5.2, type/bug

#6925 Pulsar SQL Support Avro Schema `ByteBuffer` Type
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
Labels: component/sql, release/2.5.2

#6879 Close producer when the topic does not exists.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicDoesNotExistsTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: release/2.5.2, type/bug

#6933 Make Nar Extraction Directory configurable
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloaderUtils.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlerUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/protocol/ProtocolHandlerUtilsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarClassLoader.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SearchBcNarUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functioncache/FunctionCacheEntry.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functioncache/FunctionCacheManager.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functioncache/FunctionCacheManagerImpl.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/ConnectorsManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorConfig.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
Labels: component/functions, component/io

#6776 [Docs] Fix the Create subscribtion swagger of PersistentTopic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
Labels: component/documentation, release/2.5.2

#6938 [C++] Fix message id error if messages were sent to a partitioned topic
  pulsar-client-cpp/lib/PartitionedProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, release/2.5.2, type/bug

#6922 add keystore tls config doc
  conf/client.conf
  site2/docs/security-tls-keystore.md
  site2/website/sidebars.json
Labels: component/documentation, component/security, release/2.5.2

#6943 Fix docs of gcs offload
  site2/docs/cookbooks-tiered-storage.md
Labels: component/documentation

#6105 [pulsar-function-go] Add statistics and Prometheus to Go Function instances for production readiness
  pulsar-function-go/examples/go.sum
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
  pulsar-function-go/pf/context.go
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/stats.go
  pulsar-function-go/pf/stats_test.go
Labels: component/documentation, component/functions, component/go, doc-required

#6940 Fix pulsar admin thread number explode bug
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnectorProvider.java
Labels: component/admin, release/2.5.2

#6659 [ISSUE 6563][Broker] Invalidate managed ledgers zookeeper cache instead of reloading on watcher triggered
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/cache/LocalZooKeeperCacheService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperChildrenCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperManagedLedgerCache.java
Labels: component/broker, release/2.5.2

#6810 [C++] Subscription InitialPosition is not correctly set on regex consumers
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, release/2.5.2, type/bug

#6920 [Issue 6887][pulsar-broker] ttlDurationDefaultInSeconds not applying
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: component/admin, release/2.5.2

#6877 fix brokerPublisherThrottlingTickTimeMillis in broker.conf
  conf/broker.conf
  conf/standalone.conf
Labels: release/2.5.2, type/bug

#6863 [Issue #6841]fix autoSkipConf
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: release/2.5.2, type/bug

#6893 fix topicPublishRateLimiter not effective after restart broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
Labels: release/2.5.2, type/bug

#6941 Added ability for sources to publish messages on their own
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SourceContext.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: component/io

#6949 [docs] Fix helm timeout argument
  site2/docs/helm-deploy.md
Labels: component/documentation, component/website

#6944 Fix Go Functions metrics
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/stats.go
  pulsar-function-go/pf/stats_test.go
Labels: component/functions

#6956 Remove unneeded dependency
  pulsar-functions/localrun/pom.xml
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
Labels: component/functions

#6974 Fix 2.4.0 missing docs of cgo client
  site2/website/versioned_docs/version-2.4.0/client-libraries-go.md
Labels: component/documentation

#6966 [broker] Fix bug that causes delivery of messages to stop on Shared subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: component/broker, release/2.5.3, type/bug

#6972 Add Annotations for config validation checking
  pulsar-common/src/main/java/org/apache/pulsar/common/validator/ConfigValidation.java
  pulsar-common/src/main/java/org/apache/pulsar/common/validator/ConfigValidationAnnotations.java
  pulsar-common/src/main/java/org/apache/pulsar/common/validator/ConfigValidationUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/validator/Validator.java
  pulsar-common/src/main/java/org/apache/pulsar/common/validator/ValidatorImpls.java
  pulsar-common/src/main/java/org/apache/pulsar/common/validator/package-info.java
  pulsar-common/src/test/java/org/apache/pulsar/common/validator/ConfigValidationTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/validator/ValidatorImplsTest.java
Labels: component/io

#6954 Added ability to build consumers in functions and sources
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SourceContext.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: component/functions, component/io

#6978 resolve an issue in the developing-load-manager doc
  site2/website/versioned_docs/version-2.2.0/developing-load-manager.md
Labels: component/website, type/bug

#6970 Add a pulsar perf document and performance section
  site2/docs/assets/perf-produce.png
  site2/docs/performance-pulsar-perf.md
  site2/website/sidebars.json
Labels: component/website

#6963 [scripts] Variables not properly set in prepare and cleanup scripts
  deployment/kubernetes/helm/scripts/pulsar/cleanup_helm_release.sh
  deployment/kubernetes/helm/scripts/pulsar/prepare_helm_release.sh
Labels: component/helm

#6946 Polish helm related docs
  site2/docs/deploy-kubernetes.md
  site2/docs/getting-started-helm.md
  site2/docs/helm-deploy.md
  site2/docs/helm-install.md
  site2/docs/helm-overview.md
  site2/docs/helm-prepare.md
  site2/docs/helm-tools.md
  site2/docs/helm-upgrade.md
Labels: component/documentation, component/website

#6937 Issue-6931 LocalRunner
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
Labels: component/functions

#6849 [broker] Fixed IllegalArgumentException issue in Key_Shared
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: component/broker, type/bug

#6942 [pulsar-proxy] add advertised address option for proxy
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
Labels: component/proxy, type/feature

#6952 rm unused keystore files
  pulsar-broker/src/test/resources/authentication/keystoretls/brokerKeyStorePW.txt
  pulsar-broker/src/test/resources/authentication/keystoretls/brokerTrustStorePW.txt
  pulsar-broker/src/test/resources/authentication/keystoretls/clientKeyStorePW.txt
  pulsar-broker/src/test/resources/authentication/keystoretls/clientTrustStorePW.txt
  pulsar-common/src/test/resources/broker.keystore.jks
  pulsar-common/src/test/resources/broker.truststore.jks
  pulsar-common/src/test/resources/brokerKeyStorePW.txt
  pulsar-common/src/test/resources/brokerTrustStorePW.txt
  pulsar-common/src/test/resources/ca-cert
  pulsar-common/src/test/resources/ca-cert.srl
  pulsar-common/src/test/resources/ca-key
  pulsar-common/src/test/resources/cert-file
  pulsar-common/src/test/resources/cert-signed
  pulsar-common/src/test/resources/client.keystore.jks
  pulsar-common/src/test/resources/client.truststore.jks
  pulsar-common/src/test/resources/clientKeyStorePW.txt
  pulsar-common/src/test/resources/clientTrustStorePW.txt
  pulsar-common/src/test/resources/old/broker.keystore.jks
  pulsar-common/src/test/resources/old/broker.truststore.jks
  pulsar-common/src/test/resources/old/brokerKeyStorePW.txt
  pulsar-common/src/test/resources/old/brokerTrustStorePW.txt
  pulsar-common/src/test/resources/old/client.keystore.jks
  pulsar-common/src/test/resources/old/client.truststore.jks
  pulsar-common/src/test/resources/old/clientKeyStorePW.txt
  pulsar-common/src/test/resources/old/clientTrustStorePW.txt
  pulsar-proxy/src/test/resources/authentication/keystoretls/brokerKeyStorePW.txt
  pulsar-proxy/src/test/resources/authentication/keystoretls/brokerTrustStorePW.txt
  pulsar-proxy/src/test/resources/authentication/keystoretls/clientKeyStorePW.txt
  pulsar-proxy/src/test/resources/authentication/keystoretls/clientTrustStorePW.txt
Labels: type/cleanup

#6428 [Issue 5720][authorization provider] Add granularity
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataCommand.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataSource.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceWebTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/NamespaceOperation.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PolicyName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PolicyOperation.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TenantOperation.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicOperation.java
Labels: component/security

#6976 Update the link for reload in sink and source sections of Use section for PR https://github.com/apache/pulsar/issues/6108
  site2/docs/io-use.md
  site2/website/versioned_docs/version-2.4.2/io-use.md
  site2/website/versioned_docs/version-2.5.0/io-use.md
Labels: component/documentation, component/website, type/bug

#6917 Make ZkBookieRackAffinityMapping work as expected
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMapping.java
Labels: component/storage, type/bug

#6782 [pulsar-storm] Fix: Authentication is failing with storm adapter
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationDisabled.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationToken.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/CachedPulsarClientTest.java
Labels: component/client, component/storm

#6379 [Issue 4803][client] return null if the message value/data is not set by producer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NullValueTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSourceTests.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-storm/src/test/java/org/apache/pulsar/storm/PulsarSpoutTest.java
Labels: component/client, component/schemaregistry

#4847 Pulsar sql avro support schema version
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StructSchema.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/RawMessage.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/RawMessageImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/LongSchemaVersion.java
  pulsar-common/src/main/java/org/apache/pulsar/common/schema/package-info.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/AvroSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/JSONSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/KeyValueSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarPrimitiveSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSchemaHandlers.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSqlSchemaInfoProvider.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/SchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestAvroSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarKeyValueSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarPrimitiveSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
Labels: component/sql

#5890 [Pulsar IO] Allow routing key per message to RabbitMQ sink connector
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQAbstractConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSink.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSinkConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSourceConfig.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/sink/RabbitMQSinkConfigTest.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/sink/RabbitMQSinkTest.java
  pulsar-io/rabbitmq/src/test/resources/sinkConfig.yaml
Labels: component/io, type/enhancement

#6987 [doc] [website] fix syntax error
  site2/website/sidebars.json
Labels: component/website

#6758 change test case code org.apache.pulsar.io.PulsarFunctionE2ETest#testFunctionAutomaticSubCleanup
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
Labels: component/test

#6951 [pulsar-broker] Fix response when set offload policies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: component/admin

#6926 [C++] Release the unused spots of pending message queue
  pulsar-client-cpp/lib/BatchMessageContainer.cc
  pulsar-client-cpp/lib/BatchMessageContainer.h
  pulsar-client-cpp/lib/BlockingQueue.h
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/BatchMessageTest.cc
  pulsar-client-cpp/tests/PulsarFriend.h
Labels: component/c++, component/client, type/bug

#6997 [website] [release] add blog for 2.5.2 release
  site2/website/blog/2020-05-19-Apache-Pulsar-2-5-2.md
Labels: component/website

#7011 Fix break changes in namespace offload policy and RabbitMQ sink.
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQAbstractConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSink.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSinkConfig.java
Labels: component/broker

#6983 Added ability to add annotations to Connector Configs
  pulsar-common/src/main/java/org/apache/pulsar/common/io/ConnectorDefinition.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-io/aerospike/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/canal/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/cassandra/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/elastic-search/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/file/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/flume/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/hbase/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/hdfs2/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/hdfs3/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/influxdb/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/jdbc/sqlite/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/kafka/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/kinesis/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/mongo/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/netty/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/rabbitmq/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/redis/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/solr/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/twitter/src/main/resources/META-INF/services/pulsar-io.yaml
Labels: component/io

#7009 Fix swagger annotations for builtin sources/sinks rest api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourcesBase.java
Labels: component/documentation, component/io

#7010 Fix null pointer when getting function instance metrics.
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
Labels: component/functions

#6993 Secrets provider should be initialized for each new function
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
Labels: component/functions

#7015 Add pulsar proxy metrics
  site2/docs/reference-metrics.md
Labels: component/documentation

#7016 Add the pulsar functions metrics
  site2/docs/reference-metrics.md
Labels: component/documentation

#7031 Add pulsar SQL woker metrics to repo
  conf/presto/catalog/pulsar.properties
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorMetricsTracker.java
  site2/docs/reference-metrics.md
Labels: component/documentation

#7020 Make the json node field in GenericRecord public
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
Labels: component/schemaregistry

#7035 [docs] Update admin-api-brokers.md
  site2/docs/admin-api-brokers.md
Labels: component/documentation, component/website

#7037 [docs] Specify namespace when launching pulsar-manager
  site2/docs/getting-started-helm.md
Labels: component/website

#7040 [docs] minor formatting fix
  site2/docs/reference-pulsar-admin.md
Labels: component/website

#6827 [Issue 6822][C++] Fix segmentation fault if handleSendTimeout() is called after closeAsync()
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
Labels: component/c++, component/client, type/bug

#7045 Add msg and bytes counter stats to broker-stats/topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker

#6856 fix add partition failed when bundle unloaded
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/broker, type/bug

#6990 Update the doc for deleting inactive topic when subscriptions caught up
  site2/docs/reference-configuration.md
Labels: component/documentation

#7051 Add advertisedAddress and subscriptionExpirationTimeMinutes conf for broker and proxy
  site2/docs/administration-proxy.md
  site2/docs/reference-configuration.md
Labels: component/documentation

#7054 Add properties for managed-ledger.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/AsyncCallbacks.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerInfo.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  managed-ledger/src/main/proto/MLDataFormats.proto
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/broker

#7034 [C++] Fix Result can't be serialized to string inside the library
  pulsar-client-cpp/include/pulsar/Result.h
  pulsar-client-cpp/lib/Result.cc
Labels: component/c++, component/client

#7052 Remove function files stored in BK when function is de-registered
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: component/functions

#7038 [website][issue7002]fixes RESTAPIs and Cli button not working.
  site2/website/static/js/custom.js
Labels: component/website

#7057 Fix the flaky function test.
  .github/workflows/ci-unit-broker.yml
  .github/workflows/ci-unit-flaky.yaml
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
Labels: component/functions, component/test, flaky-tests

#7064 Added test for updating partitioned topic without subscriptions
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/IncrementPartitionsTest.java
Labels: component/test

#7080 Change autoTopicCreateOverride/autoSubscriptionOverride log level to debug.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker

#7082 Reset msg backlog and backlog size
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
Labels: release/2.5.3

#7066 Don't run Runtime#halt in tests
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/MessagingServiceShutdownHook.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/NoOpShutdownService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AdvertisedAddressTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MaxMessageSizeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicOwnerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/PersistentTransactionBufferTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionMetaStoreTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationFailureTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
Labels: component/test

#7071 C++ tests should use sensible timeouts for receive
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/ConsumerTest.cc
Labels: component/c++, component/test

#6911 Split KafkaConnectSource into an abstract and impl
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/AbstractKafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSource.java
Labels: component/connect, type/enhancement

#7070 [C++] PIP-55: Refresh Authentication Credentials
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientConnection.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
Labels: component/c++, type/feature

#7075 Fix flaky ReplicatorTest.testUpdateGlobalTopicPartition
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: component/test, flaky-tests

#7072 Clear backlog quota before test in ReplicatorTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: component/test

#7073 Fix race in MessageDispatchThrottlingTest
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
Labels: component/test, flaky-tests

#7068 [C++] ClientImpl::handleClose shouldn't use statics
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ClientImpl.h
Labels: component/c++, release/2.5.3, type/bug

#7092 [flaky test] add current time into topic name for ReplicatorTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: component/test

#7067 Brokers must advertize on localhost to avoid problems creating client
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
Labels: component/test

#7063 Remove double @Test annotations
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheManagerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/util/RangeCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BookiesApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/DistributedIdGeneratorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MessageIdSerialization.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NonPersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PartitionKeyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicTerminationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/ChecksumTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BatchMessageIdImplSerializationTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-client/src/test/java/org/apache/pulsar/common/schema/KeyValueTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/lookup/data/LookupDataTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/naming/NamespaceNameTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/naming/TopicNameTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/ClusterDataTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/NamespaceOwnershipStatusTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/PoliciesDataTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/impl/NamespaceIsolationPoliciesTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/impl/NamespaceIsolationPolicyImplTest.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarMetadata.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarSplitManager.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/DeserializersTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsembleTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/LocalZooKeeperConnectionServiceTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZooKeeperSessionWatcherTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperBkClientFactoryImplTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperClientFactoryImplTest.java
Labels: component/test

#7065 Remove the bundle load data info before performing the split
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: release/2.5.3, type/bug

#7060 Allow managed cursor to specify max read batch in bytes
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: type/enhancement

#6719 fix consumer fetch message number maps to read entry number bug and expose avgMessagesPerEntry metric
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StreamingStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerPreciseDispatcherFlowControl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
Labels: component/broker, type/enhancement

#7062 Regex consumer shared queue should be set to configured value
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
Labels: type/bug

#7069 Allow BasicEndToEndTest to run multiple times locally
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/test

#7098 [Python] Enforce type of values set on record field
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/schema_test.py
Labels: component/python, type/enhancement

#7097 Cap the dispatcher batch size in bytes to fixed max
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: type/enhancement

#7086 add postgresql to supervisord for pulsar-standalone image
  docker/pulsar-standalone/Dockerfile
Labels: type/enhancement

#7087 update asynchttpclient verison
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-admin/src/main/resources/org/asynchttpclient/config/ahc-default.properties
  pulsar-client-tools-test/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/resources/ahc.properties
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build

#7100 In HTTP authentication, throw exception from provider if there is one.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationService.java
Labels: type/enhancement

#7103 Moved ClassLoading and Reflections Helper functions to common
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/ClassLoaderUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/Reflections.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/ReflectionsTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutor.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/FunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeCustomizer.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ValidatorUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/io

#7094 fix Pulsar supporting DLQ for sources/sinks #7032
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/SinkForTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSourceConfig.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
Labels: component/io, type/feature

#7077 Fixed increasing number of partitions with attached readers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/IncrementPartitionsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
Labels: release/2.5.3, type/bug

#7018 [Doc] Update for acknowledgment at batch index level
  site2/docs/concepts-messaging.md
  site2/docs/reference-configuration.md
Labels: component/documentation

#7099 Fix flake in C++ negative acknowledgement tests
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ConsumerImplBase.h
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/NegativeAcksTracker.cc
  pulsar-client-cpp/lib/NegativeAcksTracker.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/PulsarFriend.h
Labels: component/c++, component/test

#7096 [client] Limit the number of times lookup requests are redirected
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BinaryProtoLookupServiceTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ConfigurationDataUtilsTest.java
Labels: component/client, type/enhancement

#7102 Avoid race while mocking compactor
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: component/test, flaky-tests

#7101 Add scripts to build Alpine APK packages and Python wheels
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/docker/alpine/Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile-alpine-3.8
  pulsar-client-cpp/docker/alpine/build-alpine-image.sh
  pulsar-client-cpp/docker/alpine/build-wheel-file-within-docker.sh
  pulsar-client-cpp/docker/alpine/build-wheel.sh
  pulsar-client-cpp/lib/CMakeLists.txt
  pulsar-client-cpp/pkg/apk/.gitignore
  pulsar-client-cpp/pkg/apk/APKBUILD
  pulsar-client-cpp/pkg/apk/build-apk.sh
  pulsar-client-cpp/pkg/apk/docker-build-apk.sh
Labels: component/c++, component/python, type/enhancement

#7085 add feature: enable maxSizePerLedger settings in configuration
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: type/enhancement

#6996 [pulsar-client] Fix incorrect partitioned producer stats
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImpl.java
Labels: component/client
