Repository apache/pulsar, pull requests merged in 2020-07, with the labels that each got.

#7403 Avoid NPEs at ledger creation when DNS failures happen
  .gitignore
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
Labels: release/2.5.3, release/2.6.1, type/bug

#7377 Functions metadata compaction
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataTopicTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
Labels: component/functions

#7386 [Doc] Remove --subscription-type from functions localrun, create and delete commands
  site2/website/versioned_docs/version-2.2.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.1/reference-pulsar-admin.md
Labels: component/documentation

#7410 Update Kingsoft cloud logo
  site2/website/data/users.js
Labels: component/website

#7417 [Doc]--Added schema versioning to support multi version messages produce and consume
  site2/website/versioned_docs/version-2.4.0/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.1/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.2/concepts-schema-registry.md
Labels: component/documentation

#7411 [Doc] --Add a note about --state-storage-service-url in localrun command of Function
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.2/reference-pulsar-admin.md
Labels: release/2.6.1

#7369 Add tenant name check in list namespaces function.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: release/2.6.1

#7300 [pulsar-perf] Supports `tlsAllowInsecureConnection` in pulsar-perf produce/consume/read.
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  site2/docs/reference-cli-tools.md
Labels: component/cli, type/feature

#7388 Implement rebalance mechanism in Pulsar Functions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Worker.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/scheduler/IScheduler.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/scheduler/RoundRobinScheduler.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/scheduler/RoundRobinSchedulerTest.java
Labels: component/functions

#7396 [Doc]--Introduce GenericRecordBuilder and the Avro implementation
  site2/website/versioned_docs/version-2.4.0/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.1/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.2/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.5.0/concepts-schema-registry.md
Labels: component/documentation

#7422 [pulsar-cli] fix update-cluster cli updates proxy-url
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ClusterData.java
Labels: component/admin, component/cli, release/2.6.1

#7420 [client authentication] add authentication client with oauth2 support
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenAuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenOauth2AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/resources/authentication/token/credentials_file.json
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/AuthenticationDataOAuth2.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/AuthenticationFactoryOAuth2.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/AuthenticationOAuth2.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/ClientCredentialsFlow.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/Flow.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/FlowBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/KeyFile.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/Readme.md
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/package-info.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/ClientCredentialsExchangeRequest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/ClientCredentialsExchanger.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/DefaultMetadataResolver.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/Metadata.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/MetadataResolver.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenError.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenExchangeException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenResult.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/package-info.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/auth/oauth2/AuthenticationOAuth2Test.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/auth/oauth2/MockClock.java
Labels: component/security, doc-required

#7193 function to read compacted topics
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/ConsumerConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
Labels: component/functions

#7427 [website] Update helm documentation to use the published helm chart
  site2/docs/getting-started-helm.md
  site2/docs/helm-deploy.md
  site2/docs/helm-overview.md
  site2/docs/helm-upgrade.md
  site2/website/versioned_docs/version-2.6.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.0/helm-deploy.md
  site2/website/versioned_docs/version-2.6.0/helm-overview.md
  site2/website/versioned_docs/version-2.6.0/helm-upgrade.md
Labels: component/documentation, component/website

#7428 [Doc]--Add labels to function statefulsets and services
  site2/docs/functions-runtime.md
  site2/website/versioned_docs/version-2.4.0/functions-runtime.md
  site2/website/versioned_docs/version-2.4.1/functions-runtime.md
  site2/website/versioned_docs/version-2.4.2/functions-runtime.md
  site2/website/versioned_docs/version-2.5.0/functions-runtime.md
  site2/website/versioned_docs/version-2.5.1/functions-runtime.md
  site2/website/versioned_docs/version-2.5.2/functions-runtime.md
Labels: component/documentation, component/functions, release/2.6.1

#7429 [docs]Update content on message deduplication
  site2/docs/concepts-clients.md
  site2/docs/concepts-messaging.md
  site2/docs/cookbooks-deduplication.md
Labels: component/documentation

#7434 Support initial namespace of the cluster without startup the broker
  bin/pulsar
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarInitialNamespaceSetup.java
Labels: type/feature

#7439 [pulsar-client-cpp] Add MessageId to send Message
  pulsar-client-cpp/include/pulsar/Message.h
  pulsar-client-cpp/lib/Message.cc
  pulsar-client-cpp/lib/Producer.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client, type/feature

#7322 [Issue 7267] Fixing go instance config port
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
Labels: component/functions, component/go, release/2.6.1, type/bug

#7447 fix #6834: add pulsar-client-messagecrypto-bc into pulsar-client dependency to avoid method not found
  pulsar-client-shaded/pom.xml
Labels: component/build, component/security, release/2.5.3, release/2.6.1

#7435 [Issue 7402] Shaded jclouds to avoid gson conflict
  jclouds-shaded/pom.xml
  pom.xml
  tiered-storage/jcloud/pom.xml
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
  tiered-storage/pom.xml
Labels: component/tieredstorage

#7408 [Issue 7407] Support for tombstones (null value in messages) does not work
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorderImpl.java
Labels: release/2.6.1

#7456 Update Kingsoft logo
  site2/website/data/users.js
Labels: component/website

#7341 Add more detail information of retry errors
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
Labels: release/2.6.1

#7444 [broker] Consumer is registered on dispatcher even if hash range conflicts on Key_Shared subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: component/broker, release/2.6.1, type/bug

#7409 Fix batch ackset recycled multiple times.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BatchMessageIndexAckTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: release/2.6.1, type/bug

#7459 fix update partitions error for non-persistent topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminResourceTest.java
Labels: release/2.6.1, type/bug

#7431 [Doc]--Set partition key for message when using function publish
  site2/website/versioned_docs/version-2.4.0/functions-api.md
Labels: component/documentation

#7454 [doc] fix doc after remove bc-shaded
  site2/docs/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.5.1/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.5.2/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.6.0/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.6.1/security-bouncy-castle.md
Labels: component/documentation

#7449 Allow function rebalance to be run periodically
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
Labels: component/functions

#7421 [pulsar-doc] Add document for Pulasr SNI routing with ATS
  site2/docs/assets/pulsar-sni-client.png
  site2/docs/assets/pulsar-sni-geo.png
  site2/docs/concepts-proxy-sni-routing.md
Labels: component/documentation, release/2.6.1

#7466 Differentiate authorization between source/sink/function operations
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/AuthAction.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  site2/website/release-notes.md
Labels: component/functions, component/io

#7465 [Issue 5736] Add test checks in branches
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-unit-adaptors.yml
  .github/workflows/ci-unit-broker-broker.yml
  .github/workflows/ci-unit-broker-client.yml
  .github/workflows/ci-unit-broker-flaky.yml
  .github/workflows/ci-unit-broker-long-time.yml
  .github/workflows/ci-unit-broker-others.yml
  .github/workflows/ci-unit-broker-publish-throttle.yml
  .github/workflows/ci-unit-broker-sasl.yml
  .github/workflows/ci-unit-broker-transaction.yml
  .github/workflows/ci-unit-broker.yml
  .github/workflows/ci-unit-flaky.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/build

#7389 [Issue 7347] Avoid the NPE occurs in method `ManagedLedgerImpl.isOffloadedNeedsDelete`
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadLedgerDeleteTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
Labels: release/2.6.1

#7474 Log scheduler stats for Pulsar Functions
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/scheduler/RoundRobinScheduler.java
Labels: component/functions

#7467 Cpp oauth2 auth client
  pulsar-client-cpp/include/pulsar/Authentication.h
  pulsar-client-cpp/include/pulsar/ClientConfiguration.h
  pulsar-client-cpp/lib/Authentication.cc
  pulsar-client-cpp/lib/ClientConfiguration.cc
  pulsar-client-cpp/lib/auth/AuthAthenz.cc
  pulsar-client-cpp/lib/auth/AuthOauth2.cc
  pulsar-client-cpp/lib/auth/AuthOauth2.h
  pulsar-client-cpp/lib/auth/AuthTls.cc
  pulsar-client-cpp/lib/auth/AuthToken.cc
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: component/security

#7462 [Doc]--add authentication client with oauth2 support
  site2/docs/client-libraries-java.md
  site2/docs/security-oauth.md
  site2/website/sidebars.json
Labels: component/documentation, component/security

#7483 Fix ArrayIndexOutOfBoundsException when dispatch messages to consumer.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryBatchIndexesAcks.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: component/broker, release/2.6.1

#7487 [C++] Add unit tests for key shared consumer
  pulsar-client-cpp/tests/KeySharedConsumerTest.cc
  pulsar-client-cpp/tests/LogHelper.h
Labels: component/test

#7494 Fixed flaky test and resource leak in JavaInstanceTest
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceTest.java
Labels: component/test, flaky-tests

#7475 Use CGroup CPU usage when present
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LinuxBrokerHostUsageImpl.java
Labels: release/2.6.1, type/bug

#7501 [pulsar-test] shutdown pulsar-client to cleanup forcefully
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: component/test

#7495 Get last entry is trying to read entry -1
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: release/2.6.1, type/bug

#7507 The test should wait until the worker leader is ready, otherwise the request to create function will fail
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
Labels: component/test

#7510 Fix: Exception being ignored in PulsarAdmin
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SinksImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SourcesImpl.java
Labels: component/functions, type/bug

#7508 Fixed deadlock between create function and leader initialization
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
Labels: type/bug

#7514 Fixes #7512 handle exception occurred when the geo-replication policy is updated.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: release/2.6.1, type/bug

#7503 [Issue 7502] Fixed some compilation issues when enabling -Wall.
  pulsar-client-cpp/include/pulsar/Authentication.h
  pulsar-client-cpp/lib/ClientImpl.cc
Labels: component/c++

#7471 Add sidebar for "Pulasr SNI routing with ATS" content
  site2/docs/concepts-proxy-sni-routing.md
  site2/website/sidebars.json
Labels: component/documentation, release/2.6.1

#7493 Add BatchPushSource interface
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/BatchPushSource.java
Labels: component/io

#7520 Rejigger contract between LeaderService and rest of components
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/LeaderService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/functions

#7511 Avoid pulsar-client-api dependency on txn-common
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionCursor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionEntry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionMeta.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/exceptions/UnexpectedTxnStatusException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBufferReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/PersistentTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionEntryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionMetaImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/InMemTransactionBufferReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/PersistentTransactionBufferTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionEntryImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionCoordinatorClientTest.java
  pulsar-client-api/pom.xml
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/TransactionCoordinatorClient.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/TxnID.java
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionCoordinatorClientImpl.java
  pulsar-io/jdbc/core/pom.xml
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TxnMeta.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/exceptions/CoordinatorException.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/TxnMetaImpl.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProviderTest.java
Labels: component/build

#7513 Fix typo in replicationPolicyCheckDurationSeconds config var
  conf/broker.conf
  conf/standalone.conf
  site2/docs/reference-configuration.md
Labels: component/config, release/2.6.1

#7525 When a function worker becomes the leader, start producer to assignment topic first before stopping the assignment tailer
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/LeaderService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
Labels: component/functions, type/bug

#7519 Update Jackson to 2.11.1 and ensure all dependencies are pinned
  distribution/server/src/assemble/LICENSE.bin.txt
  examples/spark/pom.xml
  pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FieldParser.java
  pulsar-sql/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/build, component/security

#7524 Fix topic getting recreated immediately after deletion
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/LookupOptions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceOwnershipListenerTests.java
Labels: type/bug

#7473 [pulsar-broker] Cleanup already deleted namespace topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/broker

#7527 Use Github actions cache for Maven deps
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-unit-adaptors.yml
  .github/workflows/ci-unit-broker-broker.yml
  .github/workflows/ci-unit-broker-client.yml
  .github/workflows/ci-unit-broker-flaky.yml
  .github/workflows/ci-unit-broker-long-time.yml
  .github/workflows/ci-unit-broker-others.yml
  .github/workflows/ci-unit-broker-publish-throttle.yml
  .github/workflows/ci-unit-broker-sasl.yml
  .github/workflows/ci-unit-broker-transaction.yml
  .github/workflows/ci-unit-broker.yml
  .github/workflows/ci-unit-flaky.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/build

#7468 [Doc]--Add async state manipulation methods in Java functions
  site2/docs/functions-develop.md
  site2/website/versioned_docs/version-2.4.0/functions-api.md
  site2/website/versioned_docs/version-2.4.0/functions-state.md
  site2/website/versioned_docs/version-2.4.1/functions-develop.md
  site2/website/versioned_docs/version-2.4.2/functions-develop.md
  site2/website/versioned_docs/version-2.5.0/functions-develop.md
  site2/website/versioned_docs/version-2.5.1/functions-develop.md
  site2/website/versioned_docs/version-2.5.2/functions-develop.md
  site2/website/versioned_docs/version-2.6.0/functions-develop.md
Labels: component/documentation, component/functions

#7528 Fix: function BC issue introduced in 2.6
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionWorkerStarter.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
Labels: component/functions, release/2.6.1, type/bug

#7532 Metadata compact config
  conf/functions_worker.yml
Labels: component/functions

#7537 Fix Broken AdminApiTest2
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: component/test

#7529 Add test group tags for functions and state integration tests
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
Labels: component/test

#7541 Add limited module set profile to the pom files
  README.md
  distribution/pom.xml
  pom.xml
  pulsar-io/pom.xml
Labels: component/build

#7416 Decompression payload if needed in KeyShared subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageKeyBasedContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: release/2.6.1, type/bug

#7522 Ensure the create subscription can be completed when the operation timeout happens
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/client, release/2.6.1, type/bug

#7550 Allow to filter packages and groups in tests more easily
  README.md
  pom.xml
Labels: component/test

#7540 [PROTOBUF] Fix protobuf generation on handling repeated long number …
  pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/protobuf/ByteBufCodedInputStream.java
  pulsar-common/src/test/java/org/apache/pulsar/common/api/proto/TestApi.java
  pulsar-common/src/test/java/org/apache/pulsar/common/protocol/RepeatedLongNonPackedTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/protocol/RepeatedLongPackedTest.java
  pulsar-common/src/test/proto/TestApi.proto
Labels: component/build, release/2.6.1, type/bug

#7506 [Broker] Timeout opening managed ledger operation …
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
Labels: component/bookkeeper, component/broker, component/storage, release/2.5.3, release/2.6.1

#7562 Fixed flaky test AdminApiTest2.testBacklogNoDelayed
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: component/test, flaky-tests

#7430 Handle NotAllowed Exception at the client side.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client-cpp/include/pulsar/Result.h
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/Result.cc
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: release/2.6.1

#7515 Update Jersey to 2.31
  distribution/server/licenses/LICENSE-EPL-2.0.txt
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build

#7558 [Issue 7557][pulsar-zookeeper-utils] Replace the use of Paths.get(...).getParent() for a zookeeper path in…
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkUtils.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkUtilsParentPathTest.java
Labels: type/bug

#7575 fix website build for format error in sidebars.json
  site2/website/sidebars.json
Labels: component/documentation, component/website

#6752 Support different docker images in Kubernetes runtime of Pulsar Functions
  conf/functions_worker.yml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  site2/docs/functions-runtime.md
Labels: component/functions

#7570 Add maven profile to skip broker unit tests
  pulsar-broker/pom.xml
Labels: component/build

#7581 [docs] Remove deprecated ReaderConfiguration from docs about java library
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-java.md
Labels: component/documentation

#7582 #683 - Replace internal proprietary sun.reflect.ReflectionFactory API with Objenesis API
  pom.xml
  testmocks/pom.xml
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
Labels: component/test

#7573 Allow null consume in BatchPushSource
  pulsar-io/batch/src/test/java/org/apache/pulsar/io/batch/BatchSourceExecutorTest.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/BatchPushSource.java
Labels: component/io

#7578 Improve security setting of Pulsar Functions
  site2/docs/functions-worker.md
Labels: component/documentation, component/functions, release/2.6.1

#7560 [Issue #5922] fix - remove buildtools dependency in flink pom as its already inherited
  examples/flink/pom.xml
Labels: component/build

#7597 Fix conflicts in #6153
  site2/website/versioned_docs/version-2.1.0-incubating/concepts-architecture-overview.md
Labels: release/2.4.3, release/2.5.1, release/2.5.2, release/2.5.3

#7596 ISSUE-7497: fix the command for starting bookies in the foreground
  site2/docs/deploy-bare-metal.md
Labels: component/documentation, release/2.6.1

#7608 [Issue #7583][build] - Changed pom to be consistent with version property placeholders
  pom.xml
Labels: component/build

#7630 [Issue #7628][build] - changed root pom to use jetty bom
  pom.xml
Labels: component/build, type/enhancement

#7633 [Issue #7631][build] - Changed root pom to use netty bom
  pom.xml
Labels: component/build, type/enhancement

#7638 Revert "#7678 - changed root pom to use jetty bom (#7630)"
  pom.xml
Labels: component/build

#7627 [doc] add cpp client document for oauth2 authentication
  site2/docs/client-libraries-java.md
  site2/docs/security-oauth2.md
  site2/website/sidebars.json
Labels: component/documentation, component/website

#7651 Restore maven cache to github workflows
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
Labels: component/build

#7591 Further reduce core-modules profile list
  pom.xml
  pulsar-functions/pom.xml
Labels: component/build

#7595 Remove trailing semicolons in python files
  pulsar-functions/instance/src/main/python/function_stats.py
  pulsar-functions/instance/src/main/python/log.py
Labels: component/python

#7632 Do not hide the exception in KeyStoreTlsProducerConsumerTestWithAuth
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsProducerConsumerTestWithAuth.java
Labels: component/test

#7588 [C++] Fix multitopic consumer segfault on connect error
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, release/2.6.1, type/bug

#7611 Reduce in the leader init time in Pulsar Functions
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataTopicTailer.java
Labels: component/functions

#7613 Exclude commons-configuration dep from bookkeeper-allocator-common
  pulsar-common/pom.xml
Labels: component/build

#7610 Functions deadletter topic is not the same as enableRetry
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
Labels: component/functions

#7601 Add readiness api for the worker leader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerApiV2Resource.java
Labels: component/functions

#7641 Export Function worker internal stats via Prometheus
  pulsar-functions/worker/pom.xml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsStatsGenerator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerStatsManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#7647 Allow ability to specify retain key ordering in functions
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
Labels: component/functions

#7609 Improve InvalidTopicName Error message
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: component/broker

#7615 Make OAuth2 auth plugin to use AsyncHttpClient
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/AuthenticationOAuth2.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/ClientCredentialsFlow.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/Flow.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/ClientCredentialsExchanger.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenClient.java
Labels: component/client

#7659 fix: batch source able to be submitted
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
Labels: component/functions, type/bug

#7539 [Issue 7489] Remove timestamp from metrics
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  pulsar-function-go/pf/stats.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/ComponentStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/FunctionStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SinkStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SourceStatsManager.java
  pulsar-functions/instance/src/main/python/function_stats.py
Labels: component/functions, component/stats, release/2.6.1, type/bug

#7593 fix validation never return false
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: release/2.6.1

#7587 Use Consume/Produce/Lookup interfaces for specific operations in allowTopicOperation
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: component/security, release/2.6.1

#7670 [Issue 7669][pulsar-client] fix producer stats recorder time unit error
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImpl.java
Labels: component/stats, release/2.6.1, type/enhancement

#7654 Fix batch index filter issue in Consumer.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BatchMessageIndexAckTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: release/2.6.1, type/bug

#7664 Avoid dependency on Apache HTTP client for TLS hostname verifier
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker-shaded/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/AdminApiKeyStoreTlsAuthTest.java
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded_0_8/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-shaded_0_9/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/tls/DomainType.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/tls/InetAddressUtils.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/tls/NoopHostnameVerifier.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/tls/PublicSuffixList.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/tls/PublicSuffixMatcher.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/tls/SubjectName.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/tls/TlsHostnameVerifier.java
  pulsar-functions/localrun-shaded/pom.xml
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-sql/presto-pulsar/pom.xml
Labels: type/bug

#7589 Don't try to subscribe to the topic if the consumer is closed.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: release/2.6.1

#7661 fix batchReceiveAsync not completed exceptionally when closing Consumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: release/2.6.1

#7621 Support to set listener name for client cli
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  site2/docs/reference-cli-tools.md
Labels: release/2.6.1, type/enhancement

#7620 [Issue 7618] Fix NPE when using advertisedListeners
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/validator/MultipleListenerValidator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: release/2.6.1

#7643 [docs] Fix wrong required properties for HDFS2 sink
  site2/docs/io-hdfs2-sink.md
Labels: component/documentation, release/2.6.1

#7648 [doc] Add pulsar-client-go oauth2 authentication document
  site2/docs/client-libraries-go.md
  site2/docs/security-oauth2.md
Labels: component/documentation, release/2.6.1

#7316 [Issue 7315][docker-compose]
  docker-compose/standalone-dashboard/docker-compose.yml
Labels: component/deploy, release/2.6.1

#7572 [CPP] Fix segment crashes that caused by race condition of timer in cpp client
  pulsar-client-cpp/lib/ClientConnection.cc
Labels: component/c++, component/client, release/2.6.1

#7606 [oauth2 cpp] add support to read credentials from file
  pulsar-broker/src/test/resources/authentication/token/cpp_credentials_file.json
  pulsar-client-cpp/lib/auth/AuthOauth2.cc
  pulsar-client-cpp/lib/auth/AuthOauth2.h
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: component/c++, component/client, component/security, release/2.6.1

#7677 Allow topic compaction to be disabled in Pulsar Functions
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
Labels: component/functions

#7681 Added ability to specify runtime for localrunner
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/functions

#7687 Fix #7437，shutdown AsyncHttpConnector.delayer
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
Labels: release/2.6.1, type/bug

#7666 [docs] Add double dash to kubectl exec commands
  site2/docs/getting-started-helm.md
  site2/website/versioned_docs/version-2.5.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.1/getting-started-helm.md
Labels: component/documentation

#7689 Use available cores for io thread processing
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
Labels: component/functions

#7685 Add additional metrics for Pulsar Function Worker
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerStatsManager.java
Labels: component/functions

#7656 Fix deduplication cursor does not delete after disabling message deduplication
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerException.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: release/2.6.1, type/bug

#7667 [docs] Use `minikube service` to expose ports
  site2/docs/getting-started-helm.md
Labels: component/documentation, release/2.5.1, release/2.5.2, release/2.5.3, release/2.6.1, release/2.6.2

#7694 [Issue #7693][AuthorizationService] add missing AuthenticationDataSource to canConsumeAsync method call
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
Labels: release/2.6.1

#7703 Call open before discover.
  pulsar-io/batch/src/main/java/org/apache/pulsar/io/batch/BatchSourceExecutor.java
Labels: component/functions

#7646 [Issue 2689] Support set backlog quota on topic level.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicBacklogQuotaDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicBacklogQuotaTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/topic-policy, doc-required
