Repository apache/pulsar, pull requests merged in 2020-10, with the labels that each got.

#8158 Allow disabling forwarding source message properties
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: component/functions, release/2.6.2

#8147 [broker] Fix error code returned to client when service unit is not ready
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: component/broker, release/2.6.2, type/bug

#8144 [pulsar-broker] Support Disable Replicated Subscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionConfigTest.java
Labels: component/broker, release/2.6.2

#8137 Add ChannelFutures utility class to pulsar-common.
  pulsar-common/src/main/java/org/apache/pulsar/common/util/netty/ChannelFutures.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/netty/ChannelFuturesTest.java
Labels: type/enhancement

#7999 check null point before setting auto read
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: release/2.6.2

#8172 fix possible NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
Labels: component/schemaregistry, release/2.6.2, type/bug

#8153 [python] Made the script for building Docker images for Python work
  pulsar-client-cpp/docker/Dockerfile
  pulsar-client-cpp/docker/build-wheels.sh
  pulsar-client-cpp/docker/create-images.sh
  pulsar-client-cpp/docker/push-images.sh
  pulsar-client-cpp/python/pulsar/__init__.py
Labels: component/build, component/python, release/2.6.2, type/bug

#8177 Improve refactored client connection code (previous PR #8117).
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
Labels: release/2.6.2, type/cleanup

#8182 fix peek messages failed with subscriptionName not exist
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/admin, release/2.6.2

#8180 [pulsar-admin] allow to get ledger metadata along with topic stats-internal
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BatchMessageIndexAckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/transaction/EndToEndTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/stats/client/PulsarBrokerStatsClientTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-kafka-compat/pulsar-client-kafka_0_8/src/main/java/org/apache/kafka/clients/simple/consumer/PulsarKafkaSimpleConsumer.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PersistentTopicInternalStats.java
Labels: component/broker, component/cli

#8178 [ISSUE 8159]Add a new state for namespace-level TTL
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicMessageTTLTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/PoliciesDataTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/DeserializersTest.java
Labels: release/2.6.2

#8165 [client] Fix issue where paused consumer receives new message when reconnecting
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ZeroQueueSizeTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
Labels: component/client, release/2.6.2, type/bug

#8200 Fixed latest doc version sidebar
  site2/website/versioned_sidebars/version-2.6.1-sidebars.json
  site2/website/versioned_sidebars/version-2.6.2-sidebars.json
Labels: component/documentation, type/bug

#8197 fix pulsar service close exception
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: release/2.6.2

#8166 [ISSUE #5759] Clean inactive non-persistent subscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonDurableSubscriptionTest.java
Labels: release/2.6.2

#8201 check null to avoid NPE for internalSetTopicPolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/topic-policy

#8191 add epoch for C++ client HandleBase to handle create producer timeout
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/HandlerBase.cc
  pulsar-client-cpp/lib/HandlerBase.h
  pulsar-client-cpp/lib/Producer.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
  pulsar-client-cpp/tests/ProducerTest.cc
Labels: component/c++, component/client, release/2.6.2

#8188 Issue 8187 pulsar-dashboard django migration fix
  dashboard/django/stats/migrations/0003_updates.py
Labels: component/dashboard, release/2.6.2, type/bug

#8186 [go] Fix argument type of pulsarProducerSendCallbackProxy
  pulsar-client-go/pulsar/c_go_pulsar.h
  pulsar-client-go/pulsar/c_producer.go
Labels: component/go, release/2.6.2, type/bug

#8140 fix json deserialize byte to string bug
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/Schemas.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonSchema.java
Labels: component/schemaregistry, release/2.6.2

#8132 [component/functions|component/go] Propagate user-config parameter into instances of Golang pulsar functions
  pulsar-function-go/conf/conf.go
  pulsar-function-go/conf/conf.yaml
  pulsar-function-go/go.sum
  pulsar-function-go/pf/context.go
  pulsar-function-go/pf/context_test.go
  pulsar-function-go/pf/instanceConf.go
  pulsar-function-go/pf/instanceConf_test.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/go/GoInstanceConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/RuntimeUtilsTest.java
Labels: component/functions, component/go, type/feature

#8210 expose ensemblePlacementPolicy in bookkeeper.conf
  conf/bookkeeper.conf
  conf/broker.conf
  conf/standalone.conf
Labels: component/config

#8211 [docs] [component/functions] [component/go] Add usage examples for user config in Go SDK
  site2/docs/functions-develop.md
Labels: component/documentation, component/functions, component/go

#8157 Enable intercept filters only when interceptors are configured
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/ResponseHandlerFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorTest.java
Labels: release/2.6.2

#8198 Remove duplicate updates
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: release/2.6.2

#8122 add python schema field default value
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/schema_test.py
Labels: component/python, component/schemaregistry, release/2.6.2

#8207 Remove unnecessary locks
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: release/2.6.2

#8143 [ISSUE 6408] Fix NumberFormatException
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
Labels: release/2.6.2

#8195 Add log level configuration in pulsar-client
  bin/pulsar-client
Labels: release/2.6.2

#8232 [C++] Fix some pending requests may never complete when broker's down
  pulsar-client-cpp/lib/ClientConnection.cc
Labels: component/c++, component/client, release/2.6.2

#8241 Upgrade go client version to 0.2.0 for Go Functions
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
Labels: component/functions

#8213 [Issue 7050][python] Limit enum34 installation via environment markers
  pulsar-client-cpp/python/setup.py
Labels: component/python, release/2.6.2

#8234 Modify the occasion of triggering listeners
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
Labels: component/topic-policy, release/2.6.2

#8235 Support limit topic publish rate at the broker level
  conf/broker.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: release/2.6.2

#8208 Use ThreadPoolExecutor instead of EventLoop
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: release/2.6.2

#8255 [website] Update CFP dates for Pulsar Summit Asia 2020
  site2/website/blog/2020-09-01-pulsar-summit-asia-2020-cfp.md
Labels: component/website

#8253 Fix minor mistakes in rate limiter unit test
  pulsar-common/src/test/java/org/apache/pulsar/common/util/RateLimiterTest.java
Labels: component/test

#8273 Fix stuck lookup operations when the broker is starting up
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: release/2.6.2, type/bug

#8274 Add read position when joining in the consumer stats.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
Labels: release/2.6.2

#8261 Support limits the max tenants of the Pulsar cluster
  conf/broker.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TenantTest.java
Labels: component/admin, component/cli, doc-required

#8267 Support limits the max namespaces per tenant
  conf/broker.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: doc-required

#8284 Fix Broker enters an infinite loop in ManagedLedgerImpl.asyncReadEntries
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: release/2.6.2, type/bug

#8278 [docs] Add how to SerDe for Java function
  site2/docs/functions-develop.md
Labels: component/documentation, component/functions

#8283 [C++] Client is allocating buffer bigger than needed
  pulsar-client-cpp/lib/Commands.cc
Labels: release/2.6.2, type/bug

#8217 Zookeeper in standalone mode is not deleting old snapshots
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: type/bug

#8272 Added metrics for topic lookups operations
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/ObserverGauge.java
Labels: type/enhancement

#8288 Organize and enhance the examples directory in go functions
  pulsar-function-go/examples/consumer/consumer.go
  pulsar-function-go/examples/go.mod
  pulsar-function-go/examples/go.sum
  pulsar-function-go/examples/producer/producer.go
Labels: component/functions

#8299 [Issue 8293][managed-ledger] Fix race condition in updating readPosition in ManagedCursorImpl
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: release/2.6.2, type/bug

#8292 Fix message TTL on Key_Shared subscription and Fix ordering issue when replay messages.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: release/2.6.2, type/bug

#8302 [pulsar-broker] fix: use correct configuration for zk-cache expire time
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
Labels: component/broker

#8296 [Issue 8294][docs]Some errors on the official website document of Pulsar Java client #8294
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-java.md
Labels: component/client, component/documentation, release/2.5.1, release/2.5.2, release/2.6.1, release/2.6.2

#8303 Added REST handler for broker ready probe
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
Labels: type/enhancement

#8228 Close ZK connections at end of metadata setup
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
Labels: component/deploy, release/2.6.2

#8289 Support limit max subscriptions per topic
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: component/broker, doc-required

#8286 #7994 Missed dryRun on maintenance of secrets.
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
Labels: component/functions, component/k8s, release/2.6.2

#8269 [Issue 8130] Refine BookKeeper metadata service uri when init metadata
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
  site2/docs/deploy-bare-metal.md
  site2/docs/reference-cli-tools.md
Labels: component/bookkeeper, component/cli, component/deploy

#8290 [component/functions|component/go] Add access to the current message from the function context
  pulsar-function-go/examples/contextFunc/contextFunc.go
  pulsar-function-go/go.sum
  pulsar-function-go/pf/context.go
  pulsar-function-go/pf/context_test.go
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/instance_test.go
  pulsar-function-go/pf/mockMessage_test.go
  site2/docs/functions-develop.md
Labels: component/documentation, component/functions, component/go, doc-required

#8319 Upgrade hdfs2 version to 2.8.5
  pulsar-io/hdfs2/pom.xml
Labels: component/io, component/security, release/2.6.2

#8285 [Issue 8260] Support reset cursor to a batch index of the batching message
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageAcker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: release/2.6.2

#8330 Fix branch-2.6 build issue
  .github/workflows/ci-pulsar-build.yml
  pom.xml
Labels: component/build, release/2.6.2

#8306 Support exclude the message when reset cursor by message ID
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ResetCursorData.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/backwardscompatibility/ClientTest2_2.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/backwardscompatibility/ClientTest2_3.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/backwardscompatibility/ClientTest2_4.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/backwardscompatibility/ClientTest2_5.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/PersistentTopicMessagingTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/TopicMessagingBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/ClientTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarStandaloneTestBase.java
  tests/integration/src/test/resources/pulsar-backwards-compatibility.xml
Labels: release/2.6.2

#8314 [pulsar-broker-admin] Support replication dispatch-rate limiting for v1-namespace api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
Labels: component/admin, component/broker

#8334 [C++] Fixed segfault in unit test due to unitialized member variables
  pulsar-client-cpp/lib/stats/ConsumerStatsImpl.cc
Labels: type/bug

#8329 Support reset cursor to a batch index for Pulsar Admin.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ResetCursorData.java
Labels: release/2.6.2

#8331 [C++] Client back-pressure is done on batches rather than number of messages
  pulsar-client-cpp/include/pulsar/Message.h
  pulsar-client-cpp/lib/OpSendMsg.h
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/tests/BatchMessageTest.cc
  pulsar-client-cpp/tests/KeyBasedBatchingTest.cc
Labels: release/2.6.2, type/bug

#8316 Increasing timeout for pulsar client io threads to shutdown
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
Labels: component/client, release/2.6.2

#8116 [website] Update the Event page
  site2/website/pages/en/events.js
Labels: component/website

#8313 [pulsar-broker-admin] Fix: split bundle overwrites local-policies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceCreateBundlesTest.java
Labels: component/admin, component/broker

#8350 Update docs for Java Functions develop
  site2/docs/functions-develop.md
  site2/website/versioned_docs/version-2.4.1/functions-develop.md
  site2/website/versioned_docs/version-2.4.2/functions-develop.md
  site2/website/versioned_docs/version-2.5.0/functions-develop.md
  site2/website/versioned_docs/version-2.5.1/functions-develop.md
  site2/website/versioned_docs/version-2.5.2/functions-develop.md
  site2/website/versioned_docs/version-2.6.0/functions-develop.md
  site2/website/versioned_docs/version-2.6.1/functions-develop.md
  site2/website/versioned_docs/version-2.6.2/functions-develop.md
Labels: component/documentation, component/functions, doc-required, release/2.6.2

#8351 PLSR-1240 upgrade GRPC to 1.31 to avoid deadlock
  pom.xml
Labels: type/bug

#8349 [pulsar-broker] configure namespace anti-affinity in local policies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/LocalPolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
Labels: component/broker

#7453 Remove bouncy castle shaded module to avoid bring error of verifySingleJar
  bouncy-castle/bc-shaded/pom.xml
  bouncy-castle/bc/pom.xml
  bouncy-castle/bcfips-include-test/pom.xml
  bouncy-castle/bcfips-include-test/src/test/java/org/apache/pulsar/client/TlsProducerConsumerTest.java
  bouncy-castle/bcfips-nar-test/pom.xml
  bouncy-castle/bcfips-nar-test/src/test/java/org/apache/pulsar/client/TlsProducerConsumerBase.java
  bouncy-castle/bcfips-nar-test/src/test/java/org/apache/pulsar/client/TlsProducerConsumerTest.java
  bouncy-castle/bcfips-nar-test/src/test/resources/authentication/tls/broker-cert.pem
  bouncy-castle/bcfips-nar-test/src/test/resources/authentication/tls/broker-key.pem
  bouncy-castle/bcfips-nar-test/src/test/resources/authentication/tls/cacert.pem
  bouncy-castle/bcfips-nar-test/src/test/resources/authentication/tls/client-cert.pem
  bouncy-castle/bcfips-nar-test/src/test/resources/authentication/tls/client-key.pem
  bouncy-castle/bcfips/pom.xml
  bouncy-castle/pom.xml
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pulsar-broker-shaded/pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client-all/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-tests/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-tests_0_8/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka-tests_0_9/pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka_0_8/pom.xml
  pulsar-client-messagecrypto-bc/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-client-tools-test/pom.xml
  pulsar-client/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/BcNarDefinition.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SearchBcNarUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
  pulsar-discovery-service/pom.xml
  pulsar-functions/worker/pom.xml
  pulsar-io/debezium/core/pom.xml
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar-plugin/pom.xml
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-testclient/pom.xml
  pulsar-websocket/pom.xml
  site2/docs/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.5.1/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.5.2/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.6.0/security-bouncy-castle.md
  site2/website/versioned_docs/version-2.6.1/security-bouncy-castle.md
  tests/integration/pom.xml
  tests/pulsar-kafka-compat-client-test/pom.xml
  tests/pulsar-storm-test/pom.xml
Labels: component/security

#8067 Add proxy plugin interface to support user defined additional servlet
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorUtils.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/ProxyAdditionalServlet.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/ProxyAdditionalServletDefinition.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/ProxyAdditionalServletDefinitions.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/ProxyAdditionalServletMetadata.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/ProxyAdditionalServletUtils.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/ProxyAdditionalServletWithClassLoader.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/ProxyAdditionalServlets.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/plugin/servlet/package-info.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAdditionalServletTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/plugin/MockProxyAdditionalServlet.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/plugin/ProxyAdditionalServletUtilsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/plugin/ProxyAdditionalServletWithClassLoaderTest.java
Labels: release/2.6.2, type/feature

#8328 Upgrade solr version to 8.6.3
  pulsar-io/solr/pom.xml
Labels: component/security, release/2.6.2

#8341 [C++] Fix message id error when subscribing a single partition
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ReaderImpl.cc
  pulsar-client-cpp/lib/TopicName.cc
  pulsar-client-cpp/lib/TopicName.h
  pulsar-client-cpp/tests/ConsumerTest.cc
  pulsar-client-cpp/tests/ReaderTest.cc
  pulsar-client-cpp/tests/TopicNameTest.cc
  pulsar-common/src/test/java/org/apache/pulsar/common/naming/TopicNameTest.java
Labels: component/c++, component/client, release/2.6.2

#8356 [Issue 8345][Documentation] Improve retention policy documentation
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/RetentionPolicies.java
  site2/docs/cookbooks-retention-expiry.md
  site2/docs/reference-terminology.md
Labels: component/admin, component/documentation

#8326 [Issue 8300][Java client] Support cancelling message & batch futures returned from Reader & Consumer
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/CompletableFutureCancellationHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientTestFixtures.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/CompletableFutureCancellationHandlerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ReaderImplTest.java
Labels: release/2.6.2, type/feature

#8369 [website] Add new committers
  site2/website/data/team.js
Labels: component/website

#7605 Support partitioned topic lookup
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/v2/TopicLookup.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicOwnerTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Lookup.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/LookupImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CliCommand.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/client, doc-required

#8370 Do not use "star import" for org.apache.pulsar.functions.api.Record in order to be able to build Pulsar on JDK14+
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutor.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/PublishWindowFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/UserExceptionWindowFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/window/WordCountWindowFunction.java
Labels: component/build

#8381 [Java Client] Disable batch receive timer for Readers
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
Labels: type/enhancement

#8379 Issue 8473: testManagedLedgerBookieClientStats fails very often on CI
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/test

#8327 [Go Functions] Add newOuputMessage interface for Go Function
  pulsar-function-go/examples/go.sum
  pulsar-function-go/examples/publishFunc/publishFunc.go
  pulsar-function-go/pf/context.go
  pulsar-function-go/pf/context_test.go
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/mockMessage_test.go
  site2/docs/functions-develop.md
Labels: component/functions, component/go, doc-required

#8244 Delete associated ledgers before deleting cluster metadata
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataTeardown.java
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/ClusterMetadataTearDownTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/resources/pulsar-cli.xml
Labels: component/cli

#8371 Improve protobuf and grpc dependency management
  managed-ledger/pom.xml
  pom.xml
  pulsar-broker/pom.xml
  pulsar-client-api/pom.xml
  pulsar-client/pom.xml
  pulsar-functions/proto/pom.xml
  pulsar-transaction/common/pom.xml
  tiered-storage/file-system/pom.xml
Labels: component/build

#8384 Upgrade Testcontainers to 1.14.3
  pom.xml
Labels: component/test, type/enhancement

#8287 Fix: add an error message
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
Labels: component/test, type/enhancement

#8315 [pulsar-broker-log] Add info log when broker doesn't find enough bookies in primary isolation group
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
Labels: component/broker

#8385 Add nettyMaxFrameSizeBytes setting to standalone.conf
  conf/bookkeeper.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/bookkeeper.conf
  site2/docs/reference-configuration.md
Labels: component/config

#8394 [Build] Do a git shallow clone with fetch-depth of 25 in checkout
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-pulsarbot.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/build, type/enhancement

#8246 [Client] java client support UnAvroBased Schema
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/GenericSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractStructSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StructSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/AbstractGenericSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/AvroRecordBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaTest.java
Labels: component/schemaregistry

#8393 [Build] Use Cancel workflow action to cancel outdated PR build jobs
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-pulsar-website-build.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/test

#8392 Try to fix flaky test in the InactiveTopicDeleteTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/TopicDuplicationTest.java
Labels: component/test, flaky-tests

#8173 [Issue 8154] [Python client] Expose schema version (of writerSchema) in Message
  pulsar-client-cpp/include/pulsar/Message.h
  pulsar-client-cpp/include/pulsar/c/message.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/Message.cc
  pulsar-client-cpp/lib/MessageImpl.cc
  pulsar-client-cpp/lib/MessageImpl.h
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/schema_test.py
  pulsar-client-cpp/python/src/message.cc
Labels: release/2.6.2

#8310 [Offload] Make the field name in `OffloadPolicies` match with config file
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPolicies.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/OffloadPoliciesTest.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnectorConfig.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/BrokerContainer.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/JCloudLedgerOffloaderFactory.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
Labels: release/2.6.2

#8389 Fix typo in PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: release/2.6.2

#8399 Fix typo in Installation section
  site2/docs/client-libraries-node.md
Labels: component/documentation

#8368 [Issue 8364][docs] Update decommission content in different releases
  site2/docs/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.1/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.2/administration-zk-bk.md
Labels: component/bookkeeper, component/documentation, release/2.6.1, release/2.6.2

#8398 [docs] Sync K8S Helm content from 2.6.0 docs into 2.6.1 and 2.6.2
  site2/website/versioned_docs/version-2.6.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.2/getting-started-helm.md
Labels: component/documentation, component/k8s, release/2.6.1, release/2.6.2

#8355 [Issue 8354][pulsar-io] Upgrade spring framework version to patch CVE-2020-5421
  pulsar-io/batch-discovery-triggerers/pom.xml
Labels: component/security

#8325 [Issue 8311][pulsar-client-go] Fix memory leak in cgo golang client
  pulsar-client-go/pulsar/c_go_pulsar.h
  pulsar-client-go/pulsar/c_producer.go
Labels: component/go, release/2.6.2, type/bug

#8360 Allow building Apache Pulsar on JDK15+ - upgrade Maven Assembly Plugin
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-client-kafka-compat/pulsar-client-kafka/pom.xml
  pulsar-common/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
  src/check-binary-license
  tests/pulsar-kafka-compat-client-test/src/test/java/org/apache/pulsar/tests/integration/compat/kafka/PulsarKafkaProducerThreadSafeTest.java
Labels: component/build

#8353 [pulsar-broker] Fix: Tenant-admin should able to lookup topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
Labels: component/broker

#7844 [Issue 7742][functions] Allow kubernetes runtime to customize function instance class path
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntime.java
Labels: component/functions, release/2.6.2

#8404 [docs] Update helm deploy content
  site2/website/versioned_docs/version-2.6.1/helm-deploy.md
  site2/website/versioned_docs/version-2.6.2/helm-deploy.md
Labels: component/documentation, component/k8s, release/2.6.1, release/2.6.2

#7249 [pulsar-cli] Fix properties name
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
Labels: component/cli

#7963 [pulsar-proxy] Fix memory leak with debug log-level
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ParserProxyHandler.java
Labels: component/proxy

#8406 [broker] Fix deadlock that occurred during topic ownership check
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: component/broker, type/bug

#8055 [pulsar-broker] add broker config to enforce producer to publish encrypted message
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: component/broker

#7250 [pulsar-broker] Keep max-concurrent http web-request configurable
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
Labels: component/broker

#8405 Invalidate zk-cache for bookie-rackaware znode which also fixes intermittent test failure
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Bookies.java
Labels: component/admin, component/broker

#8401 [Websocket]Update produce request and acknowledge for WebSocket.
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/data/ProducerAck.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/data/ProducerAcks.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/data/ProducerMessage.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/data/ProducerMessages.java
Labels: component/websocket

#8387 fix pause does not work for new created consumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug

#8270 Upgrade Apache BookKeeper Client to 4.11.1
  distribution/io/pom.xml
  distribution/offloaders/pom.xml
  distribution/server/licenses/LICENSE-bouncycastle.txt
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/RackAwareTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-functions/runtime-all/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
  pulsar-sql/presto-pulsar-plugin/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
  src/check-binary-license
Labels: component/bookkeeper

#8304 [pulsar-broker] Refresh ZooKeeper-data cache in background to avoid d…
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
Labels: component/broker, release/2.6.2

#8410 Log principals when it changes during auth refresh.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/enhancement

#8409 [pulsar-broker] configure maxMsgReplDelayInSeconds for each repl-cluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/ReplicationMetrics.java
Labels: component/admin, component/broker

#8396 Handle hash collision in KeyShared subscription mode
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
Labels: component/broker, type/bug

#8227 [Client]Fix AutoUpdatePartitionsInterval setting problem
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
Labels: component/client, release/2.6.2
