Repository apache/pulsar, pull requests merged in 2020-06, with the labels that each got.

#6791 Use consistent hashing in KeyShared distribution
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentKeySharedSubscriptionTest.java
Labels: component/broker, type/bug

#7119 [pulsar-broker] Extend OpenAPI for namespaces with body params
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: component/documentation

#7109 MockZooKeeper#failNow is unreliable
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerErrorsTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/MetaStoreImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ZooKeeperSessionExpireRecoveryTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZooKeeperSessionWatcherTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
Labels: component/test, flaky-tests, type/enhancement

#7126 [client] Change the default value of maxLookupRedirects of Java client
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
Labels: component/client

#7130 MockZooKeeper shouldn't 'execute' while holding lock
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
Labels: component/test

#7074 Allow to grant permissions when the authorization is disabled
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: type/enhancement

#4955 [PIP-39] Introduce system topic and topic policies service
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClientBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TopicPoliciesSystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceOwnershipListenerTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPoliciesServiceDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/ActionType.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/EventType.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/EventsTopicNames.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/PulsarEvent.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/TopicPoliciesEvent.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/package-info.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: component/broker, type/feature

#7131 Allow to delete topics that are failing to recover
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerInfo.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/RackAwareTest.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
Labels: type/enhancement

#7125 [pulsar-broker] Extend REST API for resource quotas with swagger annotations
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/ResourceQuotas.java
Labels: component/broker, component/documentation

#6980 Update the function CLI description
  site2/docs/functions-cli.md
  site2/website/versioned_docs/version-2.4.1/functions-cli.md
  site2/website/versioned_docs/version-2.4.2/functions-cli.md
  site2/website/versioned_docs/version-2.5.0/functions-cli.md
  site2/website/versioned_docs/version-2.5.1/functions-cli.md
Labels: component/documentation

#7133 Fix NPE on opening non-durable cursors on an empty managed ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/PositionImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker, release/2.5.3, type/bug

#4400 PIP 37: [pulsar-client] support large message size
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SendMessageInfo.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/NonPersistentPublisherStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PublisherStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: component/client

#7118 fix NullPointerException with SubscriptionMode.NonDurable
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonDurableSubscriptionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client

#7129 fix typos and remove unused import
  conf/bookkeeper.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
Labels: type/cleanup

#7090 Extend PulsarIO to support Batch Sources. This pr implements PIP-65
  pulsar-common/src/main/java/org/apache/pulsar/common/io/BatchSourceConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SourceConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-io/batch-data-generator/pom.xml
  pulsar-io/batch-data-generator/src/main/java/org/apache/pulsar/io/batchdatagenerator/BatchDataGeneratorPrintSink.java
  pulsar-io/batch-data-generator/src/main/java/org/apache/pulsar/io/batchdatagenerator/BatchDataGeneratorSource.java
  pulsar-io/batch-data-generator/src/main/java/org/apache/pulsar/io/batchdatagenerator/Person.java
  pulsar-io/batch-data-generator/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/batch-data-generator/src/test/java/org/apache/pulsar/io/batchdatagenerator/BatchDataGeneratorExec.java
  pulsar-io/batch-discovery-triggerers/pom.xml
  pulsar-io/batch-discovery-triggerers/src/main/java/org/apache/pulsar/io/batchdiscovery/CronTriggerer.java
  pulsar-io/batch/pom.xml
  pulsar-io/batch/src/main/java/org/apache/pulsar/io/batch/BatchSourceExecutor.java
  pulsar-io/batch/src/test/java/org/apache/pulsar/io/batch/BatchSourceExecutorTest.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/BatchSource.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/BatchSourceTriggerer.java
  pulsar-io/pom.xml
Labels: component/io

#7132 [C++] logging factory should be stored as static shared_ptr
  pulsar-client-cpp/include/pulsar/ClientConfiguration.h
  pulsar-client-cpp/include/pulsar/Logger.h
  pulsar-client-cpp/lib/ClientConfiguration.cc
  pulsar-client-cpp/lib/ClientConfigurationImpl.h
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/LogUtils.cc
  pulsar-client-cpp/lib/LogUtils.h
  pulsar-client-cpp/lib/SimpleLoggerImpl.cc
  pulsar-client-cpp/lib/SimpleLoggerImpl.h
  pulsar-client-cpp/lib/c/c_ClientConfiguration.cc
Labels: type/bug

#7120 Close producer without state check while the topic does not exists.
  .github/workflows/ci-unit-broker-others.yml
  .github/workflows/ci-unit-broker.yml
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicDoesNotExistsTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, release/2.5.3, type/bug

#7141 Only close active consumer for Failover subscription when seek().
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PrecisTopicPublishRateThrottleTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-io/batch/src/main/java/org/apache/pulsar/io/batch/BatchSourceExecutor.java
Labels: type/enhancement

#6903 PIP-61: Advertise multiple addresses
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/validator/MultipleListenerValidator.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/validator/MultipleListenerValidatorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/LookupResult.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceEphemeralData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PulsarMultiListenersWithInternalListenerNameTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PulsarMultiListenersWithoutInternalListenerNameTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client-messagecrypto-bc/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/AdvertisedListener.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: type/feature

#6023 [pulsar-client-go]Add DeliverAfter option for go client
  pulsar-client-go/pulsar/c_message.go
  pulsar-client-go/pulsar/message.go
  pulsar-client-go/pulsar/producer_test.go
Labels: component/client, component/go, doc-required

#7156 Add ZK configurations
  site2/docs/reference-configuration.md
Labels: component/documentation

#7124 Ensure the timer tasks in the producer and consumer are cleanup after closed
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerCleanupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerCleanupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicDoesNotExistsTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, type/bug

#7061 Don't assume that we are running in docker for py instance tests
  pulsar-client-cpp/run-unit-tests.sh
Labels: component/c++, component/test

#7079 fix typos in java doc
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PublishRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
Labels: component/documentation

#7146 Separate out FunctionMetadata related helper functions
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionMetaDataUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionMetaDataUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
Labels: component/functions

#7154 Expose new entries check delay in the broker.conf
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/config

#6947 [Pulsar SQL] Fix pulsar sql use multi zk address failed
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
Labels: component/sql, type/bug

#6566 [PIP-60] [Proxy-Server] Support SNI routing to support various proxy-server in pulsar
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProxyProtocolTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProxyProtocol.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ClusterData.java
Labels: component/client, doc-required

#7155 [Issue 7049][WebSocket] Make WebSocketService.MaxTextFrameSize configurable
  conf/broker.conf
  conf/standalone.conf
  conf/websocket.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketConsumerServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketProducerServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketReaderServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: component/websocket

#7117 [Issue 6981][docs] Fix bash scripts in the security-tls-transport docs
  site2/docs/security-tls-transport.md
  site2/website/versioned_docs/version-2.1.0-incubating/security-tls-transport.md
  site2/website/versioned_docs/version-2.2.0/security-tls-transport.md
  site2/website/versioned_docs/version-2.2.1/security-tls-transport.md
  site2/website/versioned_docs/version-2.4.1/security-tls-transport.md
  site2/website/versioned_docs/version-2.4.2/security-tls-transport.md
  site2/website/versioned_docs/version-2.5.0/security-tls-transport.md
  site2/website/versioned_docs/version-2.5.1/security-tls-transport.md
  site2/website/versioned_docs/version-2.5.2/security-tls-transport.md
Labels: component/documentation, component/website

#7116 fix support set nettyMaxFrameSizeBytes on bookeeper config
  conf/bookkeeper.conf
Labels: component/storage

#7093 Add control of single topic gc in inactive state.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker

#5716 [Issues 5709]remove the namespace checking
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
Labels: component/client

#5390 Use pure-java Air-Compressor instead of JNI based libraries
  distribution/server/licenses/LICENSE-zstd-jni.txt
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/server/src/assemble/NOTICE.bin.txt
  pom.xml
  pulsar-common/pom.xml
  pulsar-common/src/main/java/io/airlift/compress/zstd/ZStdRawCompressor.java
  pulsar-common/src/main/java/io/airlift/compress/zstd/ZStdRawDecompressor.java
  pulsar-common/src/main/java/io/airlift/compress/zstd/package-info.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecLZ4.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecSnappy.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecZstd.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressionCodecLZ4JNI.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressionCodecSnappyJNI.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressionCodecZstdJNI.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressorCodecBackwardCompatTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressorCodecTest.java
  pulsar-sql/presto-distribution/LICENSE
Labels: type/enhancement

#6126 support for termination of partitioned topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/admin, component/cli, type/feature

#6998 Add multi-hosts example for bookkeeperMetadataServiceUri
  conf/broker.conf
  site2/docs/reference-configuration.md
Labels: component/documentation

#7014 [C++] Expose zstd and Snappy compression to C API
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
Labels: component/c++, component/client

#6992 [Issue 6921][pulsar-broker-common] Replaced "Paths.get(...).getParent…
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationCacheService.java
Labels: component/broker

#6895 [#6003][pulsar-functions] Possibility to add builtin Functions
  conf/functions_worker.yml
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionDefinition.java
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarClassLoader.java
  pulsar-functions/localrun-shaded/pom.xml
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functions/FunctionUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functions/Functions.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
Labels: component/functions, type/feature

#7105 Fixed KeyShared consumers getting stuck on delivery
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: type/enhancement

#7174 [Doc]--set netty max frame size on BookKeeper
  site2/docs/reference-configuration.md
Labels: component/documentation

#7021 fix Duplicated messages are sent to dead letter topic #6960
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, release/2.5.3, type/bug

#7106 Fixed ordering issue in KeyShared dispatcher when adding consumer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: type/bug

#7165 Attach names for all producers/readers in worker service
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#7107 Fixed KeyShared routing when messages are sent in batches of 1
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: type/bug

#7175 [doc] Clarify the impact of batch message in key_shared subscription
  site2/docs/client-libraries-java.md
Labels: component/documentation

#7172 [Doc]--Update for support consumer priority level in failover mode
  site2/website/versioned_docs/version-2.4.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.4.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.4.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.2/concepts-messaging.md
Labels: component/documentation

#6351 [website] add select for api versions
  site2/website/scripts/split-swagger-by-version.js
  site2/website/static/css/code-blocks-buttons.css
  site2/website/static/js/custom.js
  site2/website/static/js/getSwaggerByVersion.js
Labels: component/website, type/enhancement

#6347 Refactor zookeeper session timeout handling into an interface
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/ZookeeperSessionExpiredHandlers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/ZookeeperCacheLoader.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalZooKeeperConnectionService.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperSessionWatcher.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZookeeperSessionExpiredHandler.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/LocalZooKeeperConnectionServiceTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZooKeeperSessionWatcherTest.java
Labels: type/enhancement

#6534 [Issue 6000][pulsar-client] C++ client ACK grouping feature.
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/lib/AckGroupingTracker.cc
  pulsar-client-cpp/lib/AckGroupingTracker.h
  pulsar-client-cpp/lib/AckGroupingTrackerDisabled.cc
  pulsar-client-cpp/lib/AckGroupingTrackerDisabled.h
  pulsar-client-cpp/lib/AckGroupingTrackerEnabled.cc
  pulsar-client-cpp/lib/AckGroupingTrackerEnabled.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/TopicName.cc
  pulsar-client-cpp/lib/TopicName.h
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/CMakeLists.txt
  pulsar-client-cpp/tests/PulsarFriend.h
Labels: component/c++, component/client

#7180 FunctionAssignmentTailer should use its own thread
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
Labels: component/functions

#7186 [website]Fixed missinged file
  site2/tools/build-site.sh
Labels: component/build, component/website

#7108 Message replays on Key shared subscription are breaking ordering
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentSortedLongPairSet.java
Labels: type/bug

#7176 Add logger Function example for Go Function
  pulsar-function-go/examples/logFunc/logFunc.go
  site2/docs/functions-develop.md
Labels: component/documentation, component/functions

#7188 Allow to configure KeyShared consumer with relaxed ordering
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/KeySharedPolicy.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: type/enhancement

#6801 [functions] Don't auth functions worker metrics endpoint
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsMetricsResource.java
Labels: component/functions, component/security

#7192 [hotfix]Fixed website rest api select version error
  site2/website/static/js/custom.js
  site2/website/static/js/getSwaggerByVersion.js
Labels: component/website, type/bug

#6814 Expose managed ledger bookie client metric to prometheus
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactoryConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/DataSketchesOpStatsLogger.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/PrometheusMetricsProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/PrometheusStatsLogger.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/PrometheusTextFormatUtil.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/SimpleGauge.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MockedBookKeeperClientFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  site2/docs/reference-metrics.md
Labels: component/metrics, doc-required, triage/week-18

#7111 Trigger rollover when meeting maxLedgerRolloverTimeMinutes
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/CurrentLedgerRolloverIfFullTest.java
Labels: component/broker

#7164 fix get partitioned metadata throws NullPointerException
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker

#7177 [pulsar-client] Use internalReceive with timeout to avoid blocking
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/client, release/2.5.3, type/bug

#7167 [pulsar-broker] Fix getBrokerServiceUrlTls blank check for TopicLookupBase
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
Labels: component/broker, release/2.5.3, type/bug

#7187 Add ability for function services to notify errors
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/ErrorNotifier.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataTopicTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionWorkerStarter.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
Labels: component/functions

#7179 fix kafka_0_9 Consumer partition topic throw error
  pulsar-client-kafka-compat/pulsar-client-kafka_0_9/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java
Labels: component/kafka, release/2.5.3

#7199 refact duplicated code
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PublishRateLimiter.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStore.java
Labels: type/enhancement

#6787 Using Readers still causes backlog quota to be observed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainer.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  site2/docs/concepts-clients.md
Labels: component/broker, type/bug

#7181 add topic type validation before update topic partitions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminResourceTest.java
Labels: type/bug

#7203 [Issue 7202] Upgrade commons-lang3 version to 3.6
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build

#7200 [broker] Prevent redirection of lookup requests from looping
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/LookupResult.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: component/broker

#7143 Intercept all Pulsar command and REST API requests.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorDefinition.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorDefinitions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorMetadata.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptors.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/EventListenerFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorUtilsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/MockBrokerInterceptor.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarDecoder.java
Labels: component/broker

#6868 [issue #6765] Expose definition flags to function
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaDefinitionBuilderImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/ConsumerConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSinkConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/pojo/AvroTestObject.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
Labels: type/feature

#7219 Add Kingsoft Cloud to the Powered By page
  site2/website/data/users.js
Labels: component/website

#7220 Support multi versions of Go for testing go functions
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
Labels: component/functions, component/go

#7206 [Issue 7168][C++] Fix pattern consumer's deadlock for topics auto discovery
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client

#7218 [Issue-5924] [Doc]--Update geo-replication doc.
  site2/docs/administration-geo.md
Labels: component/documentation, component/website

#7225 Fix apache rat check
  pom.xml
  pulsar-flink/README.md
Labels: component/build

#7211 Have metadata tailer use its own thread for processing
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataTopicTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataTopicTailerTest.java
Labels: component/functions

#7201 During Function update, cleanup should only happen for temp files that were generated
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeSpawner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
Labels: component/functions

#7221 catch throwable when start pulsar
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
Labels: type/enhancement

#7216 [C++] Wait for all seek operations completed
  pulsar-client-cpp/lib/MultiResultCallback.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
Labels: component/c++, component/client

#7196 [Issue 7033] Remove redundant ledger dir creation when necessary
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
Labels: type/enhancement

#7191 [Issue 6282][Issue 2793][Doc]--add schema example to Cgo and CPP clients docs.
  site2/docs/schema-get-started.md
  site2/website/versioned_docs/version-2.3.0/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.3.1/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.3.2/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.0/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.1/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.4.2/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.5.0/concepts-schema-registry.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.5.1/schema-get-started.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.5.2/schema-get-started.md
Labels: component/c++, component/client, component/documentation, component/schemaregistry

#6865 limiting batch size to the minimum of the maxNumberOfMessages and maxSizeOfMessages
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerBatchReceiveTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessagesImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: release/2.6.1, type/bug

#7231 Fix hash range conflict issue in Key_Shared with sticky hash range
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: release/2.6.1, type/bug

#6524 [Issue 6319][Pulsar client] connection leak fix
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionPoolTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
Labels: component/client, type/bug

#7234 get lookup permission error
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
Labels: release/2.6.1

#7239 [Doc]--Update doc for precise topic publish rate limiting on Broker
  site2/docs/reference-configuration.md
Labels: component/documentation

#7226 Ensure that admin operations are gated by super user check
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
Labels: component/broker

#7247 Check for null arguments in Namespaces Rest API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest2.java
Labels: component/broker

#7240 Add tests and documentation for subscribing to non-persistent with topic pattern
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NonPersistentTopicE2ETest.java
  site2/docs/client-libraries-java.md
Labels: component/documentation, component/test

#7194 Upgrade Presto version to 332
  bin/pulsar
  conf/presto/log.properties
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/JSONSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnector.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorModule.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarHandleResolver.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarInternalColumn.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarPlugin.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordSet.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordSetProvider.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSchemaHandlers.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplit.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarTableHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarTableLayoutHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarTransactionHandle.java
  pulsar-sql/presto-pulsar/src/main/resources/META-INF/services/io.prestosql.spi.Plugin
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestAvroSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarKeyValueSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarMetadata.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarPrimitiveSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarSplitManager.java
  site2/docs/sql-deployment-configurations.md
  site2/website/versioned_docs/version-2.2.0/sql-deployment-configurations.md
  site2/website/versioned_docs/version-2.2.0/sql-overview.md
  site2/website/versioned_docs/version-2.5.0/sql-deployment-configurations.md
  tests/integration/pom.xml
Labels: component/sql

#7259 [Doc]--Pulsar proxy gateway
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
  site2/website/versioned_docs/version-2.4.2/reference-configuration.md
  site2/website/versioned_docs/version-2.5.0/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.2/reference-configuration.md
Labels: component/documentation

#7264 Avoid introduce null read position for the managed cursor.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker, release/2.5.3, release/2.6.1

#7252 [pulsar-websocket] Fails to start in a separate deployment
  pulsar-websocket/pom.xml
Labels: component/websocket

#7236 Fixed readers backlog stats after data is skipped
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
Labels: release/2.6.1, type/bug

#7230 [Doc] [BookKeeper] Rearrange and remove redundent sections, add decommissioning procedure.
  site2/docs/administration-zk-bk.md
Labels: component/documentation, component/website

#7276 Add 2.6.0 Release note.
  site2/website/release-notes.md
Labels: component/documentation

#7283 [doc] Add doc for Pulsar SQL support in tiered storage
  site2/docs/cookbooks-tiered-storage.md
  site2/website/versioned_docs/version-2.4.0/cookbooks-tiered-storage.md
  site2/website/versioned_docs/version-2.5.0/cookbooks-tiered-storage.md
Labels: component/documentation, component/tieredstorage

#7288 Update swagger file for 2.6.0.
  site2/website/static/swagger/2.6.0/swagger.json
  site2/website/static/swagger/2.6.0/swaggerfunctions.json
  site2/website/static/swagger/2.6.0/swaggersink.json
  site2/website/static/swagger/2.6.0/swaggersource.json
Labels: component/documentation

#7290 Update release time for 2.6.0 release node.
  site2/website/release-notes.md
Labels: component/documentation

#7289 Update the site for 2.6.0
  site2/website/releases.json
  site2/website/versioned_docs/version-2.6.0/admin-api-brokers.md
  site2/website/versioned_docs/version-2.6.0/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.6.0/administration-proxy.md
  site2/website/versioned_docs/version-2.6.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.0/concepts-architecture-overview.md
  site2/website/versioned_docs/version-2.6.0/concepts-clients.md
  site2/website/versioned_docs/version-2.6.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.0/cookbooks-tiered-storage.md
  site2/website/versioned_docs/version-2.6.0/deploy-kubernetes.md
  site2/website/versioned_docs/version-2.6.0/developing-load-manager.md
  site2/website/versioned_docs/version-2.6.0/functions-cli.md
  site2/website/versioned_docs/version-2.6.0/functions-develop.md
  site2/website/versioned_docs/version-2.6.0/getting-started-clients.md
  site2/website/versioned_docs/version-2.6.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.0/getting-started-pulsar.md
  site2/website/versioned_docs/version-2.6.0/helm-deploy.md
  site2/website/versioned_docs/version-2.6.0/helm-install.md
  site2/website/versioned_docs/version-2.6.0/helm-overview.md
  site2/website/versioned_docs/version-2.6.0/helm-prepare.md
  site2/website/versioned_docs/version-2.6.0/helm-tools.md
  site2/website/versioned_docs/version-2.6.0/helm-upgrade.md
  site2/website/versioned_docs/version-2.6.0/io-connectors.md
  site2/website/versioned_docs/version-2.6.0/io-debezium-source.md
  site2/website/versioned_docs/version-2.6.0/io-dynamodb-source.md
  site2/website/versioned_docs/version-2.6.0/io-jdbc-sink.md
  site2/website/versioned_docs/version-2.6.0/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.6.0/io-kinesis-source.md
  site2/website/versioned_docs/version-2.6.0/io-quickstart.md
  site2/website/versioned_docs/version-2.6.0/io-use.md
  site2/website/versioned_docs/version-2.6.0/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-metrics.md
  site2/website/versioned_docs/version-2.6.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.0/security-encryption.md
  site2/website/versioned_docs/version-2.6.0/security-jwt.md
  site2/website/versioned_docs/version-2.6.0/security-tls-authentication.md
  site2/website/versioned_docs/version-2.6.0/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.0/security-tls-transport.md
  site2/website/versioned_docs/version-2.6.0/security-token-admin.md
  site2/website/versioned_docs/version-2.6.0/sql-deployment-configurations.md
  site2/website/versioned_sidebars/version-2.6.0-sidebars.json
  site2/website/versions.json
Labels: component/website

#7282 [C++] Fix partition index error in close callback
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
Labels: release/2.6.1, type/bug

#7253 [pulsar-websocket] remove getters and setters from websocket config
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/ProxyServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: component/websocket

#7272 Issue 7271 LocalRunner
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
Labels: type/bug

#7248 [pulsar-server] minor: fix typo in service-config
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageIdTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/RoundRobinPartitionMessageRouterImplTest.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/RedisAbstractConfig.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexTest.java
Labels: component/broker, component/config

#7294 Fix 2.6.0 release website
  site2/website/releases.json
  site2/website/versions.json
Labels: component/website

#7298 Move 2.6.0 to the first line of he versions.json
  site2/website/versions.json
Labels: component/website

#7303 Add 2.6.0 release blog.
  site2/website/blog/2020-06-18-Apache-Pulsar-2-6-0.md
Labels: component/website

#7305 [Doc]--Update the topic section in messaging doc
  site2/docs/concepts-messaging.md
  site2/website/versioned_docs/version-2.3.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.3.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.3.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.4.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.4.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.4.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.5.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.0/concepts-messaging.md
Labels: component/documentation

#7281 Fix permission operation check on setRetention admin operation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: release/2.6.1, type/bug

#7237 Fix leader/scheduler assignment processing lag problem
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataTopicTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/LeaderService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/MembershipManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinatorTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/LeaderServiceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#7311 [client] Fix issue where HTTP header used in Athenz authentication can not be renamed
  pulsar-client-auth-athenz/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenz.java
  pulsar-client-auth-athenz/src/test/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenzTest.java
Labels: component/client, type/bug

#7297 [Issue 2404][doc]Add proxy auth data forwarding and refine pulsar proxy content
  site2/docs/administration-proxy.md
  site2/docs/reference-configuration.md
Labels: component/documentation, component/proxy

#7330 [website]Website update
  site2/website/core/Footer.js
  site2/website/static/js/custom.js
  site2/website/static/js/getSwaggerByVersion.js
Labels: component/website

#7319 Fix producer stucks on creating ledger timeout
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/storage, release/2.5.3, release/2.6.1

#7331 [doc] Refine link and heading issues in Pulsar metrics
  site2/docs/reference-metrics.md
Labels: component/documentation, component/metrics

#7337 Set source spec's negativeacktimeout as well as timeout
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
Labels: component/functions

#7338 Various fixes and optimizations for processing assignments in function worker
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/LeaderService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/LeaderServiceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#7340 [Docs]Add document for avoid no write permission
  site2/docs/administration-pulsar-manager.md
Labels: component/documentation

#7334 [PIP 37][Doc] Add chunking section for PIP-37 support large message size
  site2/docs/assets/chunking-01.png
  site2/docs/assets/chunking-02.png
  site2/docs/concepts-messaging.md
Labels: component/documentation

#7241 Fix the regression in isSupperUser
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
Labels: component/security, release/2.6.1

#7339 [Issue 7032][Doc] Update connector admin CLI for suporting DLQ for sink/source.
  site2/docs/io-cli.md
  site2/docs/io-use.md
  site2/website/versioned_docs/version-2.5.0/io-use.md
  site2/website/versioned_docs/version-2.6.0/io-use.md
Labels: component/documentation, release/2.6.1

#7351 Fix race condition in which exitFuture in FunctionAssignmentTailer never gets completed even though the tailer thread has exited
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionAssignmentTailer.java
Labels: component/functions, type/bug

#7358 Use consistent command in CI disk clean task
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-unit-broker-broker.yml
  .github/workflows/ci-unit-broker-client.yml
  .github/workflows/ci-unit-broker-flaky.yml
  .github/workflows/ci-unit-broker-long-time.yml
  .github/workflows/ci-unit-broker-others.yml
  .github/workflows/ci-unit-broker-publish-throttle.yml
  .github/workflows/ci-unit-broker-transaction.yml
  .github/workflows/ci-unit-broker.yml
  .github/workflows/ci-unit.yaml
Labels: component/build, component/test

#7350 Add an endpoint to check whether function worker service is initialized
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/Resources.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerReadinessResource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerApiV2Resource.java
Labels: component/functions

#7363 [Issue 7313] Update information about the JDBC connectors for the download page
  site2/website/data/connectors.js
Labels: component/website

#7362 Change "policies not found" log event to warning level.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: type/enhancement

#7360 Use fully qualified hostname as default to advertise worker.
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: release/2.6.1, type/bug

#7370 Fixed io use docs metadata
  site2/website/versioned_docs/version-2.6.0/io-use.md
Labels: component/website

#7255 Re-work Function MetaDataManager to make all metadata writes only by the leader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionMetaDataUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionMetaDataUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataTopicTailer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/LeaderService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/request/RequestResult.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/request/ServiceRequestInfo.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/request/ServiceRequestManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/request/ServiceRequestUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionsApiV3Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataTopicTailerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/request/ServiceRequestManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions

#7356 Fixed logic for forceful topic deletion
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/bug

#7359 Schema check logging is too verbose
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaBasedCompatibilityCheck.java
Labels: type/enhancement

#7365 Update documentation on prepare_helm_release.sh
  site2/docs/getting-started-helm.md
  site2/docs/helm-deploy.md
  site2/website/versioned_docs/version-2.6.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.0/helm-deploy.md
Labels: component/documentation

#7355 Handling error in creation of non-durable cursor
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: release/2.6.1, type/bug

#7373 [C++] Reduce log level for ack-grouping tracker
  pulsar-client-cpp/lib/AckGroupingTrackerEnabled.cc
Labels: component/c++, release/2.6.1, type/enhancement

#7364 Converted the namespace bundle unload into async operation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnedBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
Labels: type/bug

#7374 [hotfix]Fixed io-use docs metadata error
  site2/website/versioned_docs/version-2.6.0/io-use.md
Labels: component/documentation, type/bug

#7361 Use hostname for bookie rackawareness mapping
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMapping.java
Labels: release/2.6.1, type/bug

#7353 [Docs]Fixed puslar manager document image
  site2/docs/administration-pulsar-manager.md
Labels: component/documentation, type/bug

#7302 [PIP-55][Doc]--Update security overview
  site2/docs/security-overview.md
Labels: component/documentation, component/security, release/2.6.1

#7357 Fix bug related to managedLedger properties
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/AsyncCallbacks.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: type/bug

#7371 [C++] Show bytes throughput for performance tests
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/examples/SampleConsumer.cc
  pulsar-client-cpp/perf/PerfConsumer.cc
  pulsar-client-cpp/perf/PerfProducer.cc
  pulsar-client-cpp/perf/RateLimiter.h
Labels: component/c++

#7380 [Doc]--Restore clusterDispatchRate policy for compatibility
  site2/docs/admin-api-namespaces.md
Labels: component/documentation, release/2.6.1

#7235 Update Jetty to 9.4.29
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/PulsarAdminException.java
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, release/2.6.1

#7387 After a bundle split, perform the unload in background
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: type/enhancement

#7401 Fix producer stuck issue due to NPE thrown when creating a new ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: component/broker, release/2.5.3, release/2.6.1, type/bug
