Repository apache/pulsar, pull requests merged in 2020-03, with the labels that each got.

#6436 [Flink-Connector]Get PulsarClient from cache should always return an open instance
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/CachedPulsarClient.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/CachedPulsarClientTest.java
Labels: component/flink, release/2.5.1, type/bug

#6434 Documentation page next/previous buttons result in 404 in functions section
  site2/website/sidebars.json
Labels: component/documentation, type/bug

#6457 [Broker] Create namespace failed when TLS is enabled in PulsarStandalone
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/security, release/2.5.1, type/bug

#6455 Documentation page next/previous buttons result in 404 in functions section (Part II)
  site2/website/versioned_sidebars/version-2.5.0-sidebars.json
Labels: component/website

#6391 [Issue 6168] Fix Unacked Message Tracker by Using Time Partition on C++
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ConsumerImplBase.h
  pulsar-client-cpp/lib/LogUtils.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.cc
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.h
Labels: component/c++, component/client, release/2.5.1

#6362 [ClientAPI]Fix hasMessageAvailable()
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/RawMessageImpl.java
Labels: release/2.5.1, type/bug

#6454 Pulsar Java client: Use System.nanoTime() instead of System.currentTimeMillis() to measure elapsed time
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, release/2.5.1, type/enhancement

#6444 Fixed the max backoff configuration for lookups
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
Labels: release/2.5.1, type/bug

#6469 upgrade scala-maven-plugin to 4.1.0
  examples/flink/pom.xml
  examples/spark/pom.xml
Labels: component/build

#6474 [pulsar-proxy] fix logging for published messages
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ParserProxyHandler.java
Labels: component/proxy, release/2.5.1

#6456 [Issue 6394] Add configuration to disable auto creation of subscriptions
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  site2/docs/reference-configuration.md
Labels: component/admin, type/feature

#6435 Make tests more stable by using JSONAssert equals
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/JSONSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaInfoTest.java
Labels: component/test, type/enhancement

#6480 [Issue 6461][C++]Avoid calling redeliverMessages() when message list is empty
  pulsar-client-cpp/lib/NegativeAcksTracker.cc
Labels: component/c++, release/2.5.1, type/bug

#6488 [pulsar-client] fix deadlock on send failure
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, release/2.5.1, type/bug

#6487 Enhance Authorization by adding TenantAdmin interface
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/BrokerDiscoveryProvider.java
Labels: component/admin

#6356 Independent schema is set for each consumer generated by topic
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/JsonSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/Schemas.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaCompatibilityCheckTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/pulsar/client/kafka/compat/PulsarKafkaSchema.java
  pulsar-client-kafka-compat/pulsar-client-kafka_0_9/src/main/java/org/apache/pulsar/client/kafka/compat/PulsarKafkaSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoProduceBytesSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaInfo.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/SerDeSchema.java
Labels: component/client, component/schemaregistry, release/2.5.1

#6485 Fix memory leak when running topic compaction.
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
Labels: release/2.5.1, type/bug

#6478 Fix create partitioned topic with a substring of an existing topic name.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
Labels: release/2.5.1

#6494 Bump jcloud version to 2.2.0 and remove jcloud-shade module
  jclouds-shaded/pom.xml
  pom.xml
  tiered-storage/jcloud/pom.xml
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/BlobStoreBackedInputStreamTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: component/build

#6472 Refactor tests in pulsar client tools test
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/utils/IOUtilsTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
Labels: component/test, type/cleanup

#6495 [docs]: fix wrong metric name in `Topic metrics`
  site2/docs/reference-metrics.md
Labels: component/documentation, type/bug

#6490 [pulsar-client] remove duplicate cnx method
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerCreationTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client

#6486 [proxy] Fix proxy routing to functions worker
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/FunctionWorkerRoutingTest.java
Labels: component/proxy, release/2.5.1, type/bug

#6483 Fix some async method problems at PersistentTopicsBase.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: release/2.5.1

#6504 Use more granular permissions for topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: type/enhancement

#6500 [Minor]Remove unused property from pom
  tiered-storage/pom.xml
Labels: type/cleanup

#6460 pulsar-proxy: fix correct name for proxy thread executor name
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/util/ZookeeperCacheLoader.java
Labels: component/proxy, release/2.5.1

#6442 Add subscribe initial position for consumer cli
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  site2/docs/reference-cli-tools.md
Labels: component/cli, type/feature

#6509 [Cleanup] Log format does not match arguments
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
Labels: component/storage, release/2.5.1, type/cleanup

#6499 Start namespace service and schema registry service before start broker.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
Labels: release/2.5.1

#6498 [pulsar-client-cpp] Fix Redelivery of Messages on UnackedMessageTracker When Ack Messages .
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.cc
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.h
Labels: component/c++, component/client, release/2.5.1, type/bug

#6476 [pulsar-proxy] fixing data-type of logging-level
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyParserTest.java
Labels: component/proxy

#5604 [pulsar-broker] recover zk-badversion while updating cursor metadata
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/PersistentTransactionBufferTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
Labels: component/broker

#5742 [pulsar-broker] add support to configure max pending publish request per connection
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/broker

#6473 [pulsar-proxy] add rest-api to get connection and topic stats
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryMBeanImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-common/src/main/java/org/apache/pulsar/common/stats/Rate.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ParserProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/stats/ConnectionStats.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/stats/ProxyStats.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/stats/RestException.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/stats/TopicStats.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyIsAHttpProxyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyStatsTest.java
Labels: component/proxy

#6545 [blog] The Apache Pulsar 2020 User Survey Report
  site2/website/blog/2020-03-17-announcing-the-apache-pulsar-2020-user-survey-report.md
  site2/website/static/img/pulsar-adoption.png
Labels: component/website

#6548 [Issue 6538][Integration test]Add clean disk in yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
Labels: component/test, type/bug, type/enhancement

#6532 [Issue 5902] Support to get managed ledger info of a partitioned topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/PartitionedManagedLedgerInfo.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: component/admin, doc-required

#6489 [broker] Timeout API calls in BrokerService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker, release/2.5.1, type/enhancement

#6407 [Java client] MultiTopics discovery is broken due to discovery task scheduled twice instead of pendingBatchRecei…
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
Labels: component/client, java, release/2.5.1, type/bug

#6122 [pulsar-admin] allow tenant admin to manage subscription permission
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
Labels: component/admin, doc-required, release/2.5.1

#6549 [PulsarAdmin] BrokerStats to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/BrokerStats.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokerStatsImpl.java
Labels: component/admin, component/stats, type/enhancement

#6547 Handle multi-hosts in PulsarAdmin for both sync and async requests.
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
Labels: component/admin, component/broker

#6458 Improve cpp-client-lib: provide another `libpulsarwithdeps.a` in dep/rpm
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/CMakeLists.txt
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/deb/build-deb.sh
  pulsar-client-cpp/pkg/rpm/Dockerfile
  pulsar-client-cpp/pkg/rpm/SPECS/pulsar-client.spec
  site2/docs/client-libraries-cpp.md
Labels: component/build, component/c++, doc-required, release/2.5.1

#6551 Add more logging during refresh credentials path
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/enhancement

#6203 [functions] Default functionAuthProvider when running in k8s
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/worker/WorkerApiV2ResourceConfigTest.java
  pulsar-functions/src/test/resources/test_worker_auth_override_config.yml
  pulsar-functions/src/test/resources/test_worker_config.yml
  pulsar-functions/src/test/resources/test_worker_k8s_auth_override_config.yml
  pulsar-functions/src/test/resources/test_worker_k8s_config.yml
  pulsar-functions/src/test/resources/test_worker_k8s_legacy_config.yml
  pulsar-functions/worker/pom.xml
Labels: component/functions, release/2.5.1

#6233 [authentication] Validate tokens for binary connections
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
Labels: component/security, release/2.5.1, type/bug

#6546 [broker] Fix maxPendingPublishedRequestsPerConnection value in conf files
  conf/broker.conf
  conf/standalone.conf
Labels: component/broker, component/config, type/bug

#6550 Disable channel auto read when publish rate or publish buffer exceeded
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: release/2.5.1, type/enhancement

#6558 Stop increase unacked messages for the consumer with Exclusive/Failover subscription mode.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: release/2.5.1, type/bug

#6557 [docs]Add auto split json swagger file
  site2/.gitignore
  site2/tools/build-site.sh
  site2/website/scripts/split-swagger-by-version.js
Labels: component/documentation, component/website, type/enhancement

#6515 [pulsar-proxy] update proxy logging dynamically
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ParserProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/stats/ProxyStats.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyStatsTest.java
Labels: component/proxy

#6508 [Issue 6507][deployment]fix k8s config and env py
  deployment/kubernetes/generic/k8s-1-9-and-above/bookie.yaml
  deployment/kubernetes/generic/original/bookie.yaml
  deployment/kubernetes/generic/original/broker.yaml
  deployment/kubernetes/generic/original/monitoring.yaml
  deployment/kubernetes/generic/original/proxy.yaml
  deployment/kubernetes/generic/original/zookeeper.yaml
  docker/pulsar/scripts/apply-config-from-env.py
Labels: component/helm

#6537 [Issue 5903] Support `compact` all partitions of a partitioned topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: component/broker, component/compaction

#6562 [Issue 6561] [pulsar-client] Fix NPE while call getLastMessageId
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageAcker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageAckerDisabled.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageIdImplTest.java
Labels: release/2.5.1, type/bug

#6560 Fix: topic with one partition cannot be updated
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/IncrementPartitionsTest.java
Labels: release/2.5.1, type/bug

#6390 fix duplicate key to send propertys
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageImplTest.java
Labels: component/client, release/2.5.1, type/bug

#6568 [PulsarAdmin] Clusters to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Clusters.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ClustersImpl.java
Labels: component/admin

#6567 Make SchemaStorage accessible in Offloader
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloaderFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaStorageFactory.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/MessageParser.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/RawMessageIdImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaStorage.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/StoredSchema.java
Labels: component/schemaregistry, component/storage

#6569 [PulsarAdmin] Lookup to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Lookup.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/LookupImpl.java
Labels: component/admin

#6570 [PulsarAdmin] Worker to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Worker.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/WorkerImpl.java
Labels: component/admin

#6573 [PulsarAdmin] Tenants to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Tenants.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TenantsImpl.java
Labels: component/admin

#6572 [PulsarAdmin] ResourceQuotas to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/ResourceQuotas.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ResourceQuotasImpl.java
Labels: component/admin

#6577 Do not retry on authorization failure
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientErrorsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/bug

#6581 resume some servercnx method to public
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: release/2.5.1

#6582 [PulsarAdmin] Sinks to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Sinks.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SinksImpl.java
Labels: component/admin, type/enhancement

#6583 [PulsarAdmin] Sources to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Sources.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SourcesImpl.java
Labels: component/admin

#6585 [PulsarAdmin] Schemas to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Schemas.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SchemasImpl.java
Labels: component/admin

#6590 [PulsarAdmin] Namespaces to async
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
Labels: component/admin

#6584 Do not retry unretriable errors
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: component/client, type/enhancement

#6595 ProducerBusy and ConsumerBusy exceptions are unretriable ones
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
Labels: type/enhancement

#6383 [Issue 6043] Support force deleting subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  site2/docs/reference-pulsar-admin.md
Labels: component/admin

#6600 [minor]Fix style in pulsar-client-admin
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
Labels: component/admin

#6604 Fix function related test issue.
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
Labels: component/test

#6608 [blog]update pic in this blog
  site2/website/blog/2020-03-17-announcing-the-apache-pulsar-2020-user-survey-report.md
  site2/website/static/img/pulsar-user-ban.jpg
Labels: component/website

#6586 [docker]Docker standalone build error
  docker/pulsar-standalone/Dockerfile
Labels: component/build, type/bug

#6579 [docker] Do not apply env values to pulsar_env.sh and bkenv.sh implicitly
  docker/pulsar/scripts/apply-config-from-env.py
Labels: component/build

#6471 [Issue #5395][broker] Implement AutoTopicCreation by namespace override
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/AutoTopicCreationOverride.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicType.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/AutoTopicCreationOverrideTest.java
Labels: component/broker, doc-required, type/feature

#6348 [Issue 6170][functions] add custom property option to functions
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/runtime-all/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceMain.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntime.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
Labels: component/functions, doc-required

#6591 [API Document]Fixes api document for internal topic info.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
Labels: component/admin

#6611 [minor]Reduce redundancy
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerOfflineBacklog.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/PulsarSaslServer.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataCommand.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationCacheService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/GenericBrokerHostUsageImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LinuxBrokerHostUsageImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/Summary.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Range.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageCrypto.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/sasl/KerberosName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FieldParser.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/ConfigBasedAppendFunction.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/sink/SourceOfFlume.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/seq/HdfsSequentialTextSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/seq/HdfsTextSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/text/HdfsStringSink.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/sink/seq/HdfsSequentialTextSink.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/sink/seq/HdfsTextSink.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/sink/text/HdfsStringSink.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/zookeeper/ZKMetadataStore.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/BrokerMonitor.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
Labels: type/cleanup

#5955 ISSUE-5934: Support read/write properties from/to Message in flink pulsar consumer/producer
  examples/flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/example/PulsarConsumerSourceWordCount.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarAvroTableSink.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarTableSink.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/partitioner/PulsarPropertiesExtractor.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarAvroTableSinkTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarJsonTableSinkTest.java
Labels: component/flink, type/feature

#6606 Fix non-atomic volatile update
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarServiceNameResolver.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongPairSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/GrowablePriorityLongPairQueue.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/evictors/WatermarkCountEvictionPolicy.java
Labels: type/cleanup

#6616 [PulsarAdmin]Async autoTopicCreation
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
Labels: component/admin, type/enhancement

#6623 [Github Action]Clean disk for integration tests
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
Labels: component/build, component/test

#6618 Number of placeholder doesn't match number of arguments in logging
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerOfflineBacklog.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorImpl.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokerStatsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LeaderElectionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadReportUpdaterTask.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/PulsarLoadReportImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleResourceAllocationPolicies.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationSasl.java
  pulsar-client-kafka-compat/pulsar-client-kafka_0_8/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/reader/AvroReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/reader/JsonReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/reader/ProtobufReader.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaInfoTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/stats/JvmDefaultGCMetricsLogger.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHose.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: type/cleanup

#6626 [Broker]Signal main thread after close
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: type/bug

#6621 [Issue 6433][Pulsar-client]Fix message id compare between MessageId and BatchMessageId
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageIdCompareToTest.java
Labels: component/client

#6422 [Issue 6283][tiered-storage] Offload policies per namespace
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadLedgerDeleteTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPolicies.java
  site2/docs/reference-pulsar-admin.md
Labels: component/tieredstorage, doc-required, type/feature

#6631 Cleanup managed-ledger module
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloaderFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheManager.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainer.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerOfflineBacklog.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/PositionImplRecyclable.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloadUtils.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
Labels: type/cleanup

#6638 Improve the message TTL test to ensure messages do not expired early.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
Labels: component/test

#6607 [pulsar-broker-common] Improve AuthTokenUtils to support a valid key file path
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/utils/AuthTokenUtils.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
Labels: component/cli

#6634 [pulsar-broker] add flag to skip broker shutdown on transient OOM
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  site2/docs/reference-configuration.md
Labels: component/broker, doc-required

#6447 Suggest use sha-512 in SaslRoleTokenSigner for security concern
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslRoleTokenSigner.java
Labels: component/security

#6641 [hotfix]Python function protobuf missing field and broker test failed
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-thread.yaml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/build, component/test, type/bug
