Repository apache/pulsar, pull requests merged in 2020-01, with the labels that each got.

#5970 [Integration test]Add diskUsageThreshold to prevent bookie exit.
  tests/bc_2_0_0/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/bc_2_0_1/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: component/build, component/test, type/bug

#5968 Vagrantfile update for build dependency
  dev/Vagrantfile
Labels: component/build

#5913 Fixes #5814: add SentConnectFrame state check when running `handleError`
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
Labels: component/client, type/bug

#5930 [Issue 5454][pulsar-client-cpp]Fix cpp client schema version
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/tests/SchemaTest.cc
Labels: component/c++, type/bug

#5872 [broker] Allow for namespace default of offload threshold
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  site2/docs/reference-configuration.md
Labels: component/tieredstorage, type/feature

#5911 Remove duplicated lombok annotations in the pulsar-io modules
  pulsar-io/aerospike/src/main/java/org/apache/pulsar/io/aerospike/AerospikeSinkConfig.java
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalSourceConfig.java
  pulsar-io/cassandra/src/main/java/org/apache/pulsar/io/cassandra/CassandraSinkConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
  pulsar-io/file/src/main/java/org/apache/pulsar/io/file/FileSourceConfig.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/FlumeConfig.java
  pulsar-io/hbase/src/main/java/org/apache/pulsar/io/hbase/HbaseAbstractConfig.java
  pulsar-io/hbase/src/main/java/org/apache/pulsar/io/hbase/sink/HbaseAbstractSink.java
  pulsar-io/hbase/src/main/java/org/apache/pulsar/io/hbase/sink/HbaseSinkConfig.java
  pulsar-io/hbase/src/test/java/org/apache/pulsar/io/hbase/sink/HbaseGenericRecordSinkTest.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/AbstractHdfsConfig.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsSinkConfig.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/AbstractHdfsConfig.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/sink/HdfsSinkConfig.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBSinkConfig.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/InfluxDBGenericRecordSinkTest.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcSinkConfig.java
  pulsar-io/jdbc/src/main/java/org/apache/pulsar/io/jdbc/JdbcUtils.java
  pulsar-io/jdbc/src/test/java/org/apache/pulsar/io/jdbc/JdbcSinkTest.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSinkConfig.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSourceConfig.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoConfig.java
  pulsar-io/netty/src/main/java/org/apache/pulsar/io/netty/NettySourceConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQAbstractConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSinkConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSourceConfig.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/RedisAbstractConfig.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/sink/RedisSinkConfig.java
  pulsar-io/solr/src/main/java/org/apache/pulsar/io/solr/SolrSinkConfig.java
  pulsar-io/solr/src/test/java/org/apache/pulsar/io/solr/SolrGenericRecordSinkTest.java
  pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHoseConfig.java
Labels: type/cleanup

#5957 [Issue:5818]Set the startup order of broker and bookie
  deployment/kubernetes/helm/pulsar/templates/broker-deployment.yaml
  deployment/kubernetes/helm/pulsar/values.yaml
Labels: component/k8s, type/enhancement

#5971 [proxy] Proxy doesn't use the right ca certicate to connect to brokers
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
Labels: component/proxy, type/bug

#5973 [Issue 4075][Debezium]Update document of debezium for add queue.size
  site2/docs/io-cdc-debezium.md
  site2/docs/io-debezium-source.md
  site2/website/versioned_docs/version-2.3.0/io-cdc-debezium.md
  site2/website/versioned_docs/version-2.4.0/io-cdc-debezium.md
  site2/website/versioned_docs/version-2.4.1/io-cdc-debezium.md
  site2/website/versioned_docs/version-2.4.2/io-cdc-debezium.md
Labels: component/documentation, component/io

#5900 [pulsar-flink]Cache Pulsar client to make it shared among tasks in a process
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/CachedPulsarClient.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/FlinkPulsarProducer.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSource.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/CachedPulsarClientTest.java
  pulsar-flink/src/test/java/org/apache/flink/streaming/connectors/pulsar/PulsarConsumerSourceTests.java
Labels: component/flink

#5844 [Reopen][Issue 5597] Retry when getPartitionedTopicMetadata failed
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PeerReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarMultiHostClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/stats/client/PulsarBrokerStatsClientTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConnectionTimeoutTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
Labels: component/client, type/bug

#5856 Make standalone to advertise "localhost" to avoid failure when hostname is not resolvable
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
Labels: type/bug

#5977 [Github Action] Clean up space before running backwards compatibility test
  .github/workflows/ci-integration-backwards-compatibility.yaml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarTestBase.java
Labels: component/build, component/test

#5982 [Github Action] Fix flaky test
  .github/workflows/ci-unit-flaky.yaml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaValidationEnforced.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MessageIdSerialization.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/ProxyServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: component/test, flaky-tests

#5599 [pulsar-broker] close managed-ledgers before giving up bundle ownership to avoid bad zk-version
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnedBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: component/broker

#5929 Fix negative un-ack messages in consumer stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: component/broker, component/stats, type/bug

#5938 Upgrade Avro to 1.9.1
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaBasedCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/JsonSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/validator/StructSchemaDataValidator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/BaseAvroSchemaCompatibilityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageParserTest.java
  pulsar-client-go/pulsar/schemaDef_test.go
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StructSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/JSONSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/ProtobufSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaBuilderTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaInfoTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaTestUtils.java
  pulsar-flink/pom.xml
  pulsar-proxy/pom.xml
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ParserProxyHandler.java
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorUtils.java
  site2/docs/io-quickstart.md
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/SchemaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/Schemas.java
Labels: component/build, java

#5943 [pulsar-broker] Prevent creation of regular topic with the same name as existing partitioned topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: component/broker

#5914 Add backlogSize in topicStats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/stats

#5940 [Docs]Auto generate pages for pulsar-admin
  .gitignore
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdGenerateDocument.java
  site2/tools/generate-api-docs.sh
  site2/tools/pulsar-admin-doc-gen.sh
  site2/website/brodocs/actions.js
  site2/website/brodocs/brodoc.js
  site2/website/brodocs/favicon.ico
  site2/website/brodocs/manifest.json
  site2/website/brodocs/markedDecorations.js
  site2/website/brodocs/scroll.js
  site2/website/brodocs/stylesheet.css
  site2/website/brodocs/tabvisibility.js
  site2/website/package.json
Labels: component/admin, component/documentation, component/website

#6006 Fix unit test issue in BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: component/test, type/bug

#6015 [website]Fixed website build error
  site2/tools/pulsar-admin-doc-gen.sh
Labels: component/build, component/website

#6008 Fix PulsarFunctionE2E test
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
Labels: component/broker, component/test

#5960 Add option to support message key and message properties
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
Labels: component/cli

#5572 Fix create consumer on partitioned topic while disable topic auto creation.
  managed-ledger/src/test/java/org/apache/zookeeper/MockZooKeeper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/ZkAdminPaths.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  site2/docs/admin-api-partitioned-topics.md
  site2/docs/reference-pulsar-admin.md
Labels: type/bug

#6016 [docs] Add docs for support TTL config in broker.conf
  site2/docs/reference-configuration.md
Labels: component/broker, component/documentation

#5928 [java-client] Add support for key hash range reading.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/KeySharedPolicy.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ReaderConfigurationData.java
  site2/docs/client-libraries-java.md
Labels: component/client, java, type/feature

#5942 Avoid using same OpAddEntry between different ledger handles
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/broker

#5988 [pulsar-broker] Clean up closed producer to avoid publish-time for producer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: component/broker

#5993 Remove duplicated lombok annotations in the pulsar-commmon module
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/FunctionState.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/Resources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/WindowConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SourceConfig.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaData.java
Labels: type/cleanup

#6005 Pulsar dashboard is deprecated
  site2/docs/administration-dashboard.md
Labels: component/admin, component/documentation

#6020 [Docs]Fixed pulsar admin client did not install before build website
  site2/tools/pulsar-admin-doc-gen.sh
Labels: component/build, component/documentation, component/website

#6009 [helm] Fix typos and sync values-mini with values
  deployment/kubernetes/helm/pulsar/values-mini.yaml
Labels: component/deploy, type/enhancement

#5972 [Issue 5941][Pulsar IO]Upgrade debezium from v0.10.0-Final to v1.0.0-Final
  pom.xml
  pulsar-io/debezium/core/src/main/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistory.java
  pulsar-io/debezium/core/src/test/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistoryTest.java
Labels: component/io, type/task

#6017 [docs] Add support for websocket produce/consume command
  site2/docs/reference-cli-tools.md
Labels: component/cli, component/documentation, component/websocket

#5897 [Issue 5887]Fix old version download link error
  site2/website/scripts/replace.js
Labels: component/documentation, component/website, type/bug

#6033 [Issue 5920][pulsar-io] Adds integration test for RabbitMQ.
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/RabbitMQContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/RabbitMQSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/RabbitMQSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/SinkTester.java
Labels: component/io, component/test

#6011 [Issue 5775][Doc] Description of broker-tool added
  site2/docs/reference-cli-tools.md
Labels: component/broker, component/cli

#6032 [docs] Apply correct language identifiers to the code blocks in the documentation about Pulsar functions
  site2/docs/functions-debug.md
Labels: component/documentation, type/enhancement

#5836 [build] Skip javadoc task for pulsar-client-kafka-compact modules
  pulsar-client-kafka-compat/pom.xml
Labels: component/build

#6068 Fix maven broken link
  pom.xml
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionCommonTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  site2/docs/io-kafka-source.md
Labels: component/test

#6026 [website]Hot fixed website generate document order error
  site2/tools/build-site.sh
  site2/tools/generate-api-docs.sh
Labels: component/build, component/website

#6076 Fix zero queue consumer message redelivery
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ZeroQueueSizeTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
Labels: component/client, type/bug

#6081 [Hotfix]Fixed website build error
  site2/tools/build-site.sh
Labels: component/build, component/website, type/bug

#6083 [website]Crowdin parse document error
  site2/tools/build-site.sh
Labels: component/documentation, component/website, type/bug

#5837 [release] add release notes for 2.5.0 release
  site2/website/release-notes.md
Labels: component/documentation, component/website

#6067 [Issue 6057][docs] Add description and usage on TypedMessageBuilder
  site2/docs/concepts-messaging.md
Labels: component/documentation

#6077 Support delete inactive topic when subscriptions caught up
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/ServiceConfigurationTest.java
  pulsar-broker/src/test/resources/configurations/pulsar_broker_test.conf
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/InactiveTopicDeleteMode.java
Labels: component/broker, doc-required

#6092 Promote 2.5.0 as the latest release
  site2/website/releases.json
Labels: component/website

#6098 [Github actions]Fix integration test disk space is full
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-thread.yaml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/build, component/test, flaky-tests

#6101 [Functions] The argument and description for dead letter topic is wrong
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: component/functions, type/bug

#6097 [docs] Remove Dashboard from sidebar
  site2/docs/administration-pulsar-manager.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.5.0/administration-pulsar-manager.md
  site2/website/versioned_sidebars/version-2.5.0-sidebars.json
Labels: component/admin, component/documentation, component/website

#6063 Remove duplicated lombok annotations in functions instance
  pulsar-functions/api-java/src/test/java/org/apache/pulsar/functions/api/utils/JavaSerDeTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/AuthenticationConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaExecutionResult.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/pojo/Tick.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeInfo.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/request/ServiceRequestInfo.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/executor/MockExecutorController.java
Labels: type/enhancement

#6089 [docs] Apply correct language identifiers to the code blocks in the documentation about Schemas
  site2/docs/schema-understand.md
Labels: component/documentation

#5915 Allow to enable/disable delayed delivery for messages on namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiDelayedDelivery.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/DelayedDeliveryPolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  site2/docs/reference-pulsar-admin.md
Labels: type/feature

#6088 [Fix doc issue 6058] Add consumer descriptions
  site2/docs/concepts-messaging.md
  site2/docs/developing-binary-protocol.md
  site2/docs/io-connectors.md
  site2/docs/io-hbase-sink.md
  site2/website/sidebars.json
Labels: component/documentation

#6118 [Issue 6114][Doc 2.5.0] Fix missing Swagger files for the version 2.5.0
  site2/website/static/swagger/2.5.0/swagger.json
  site2/website/static/swagger/2.5.0/swaggerfunctions.json
  site2/website/static/swagger/2.5.0/swaggersink.json
  site2/website/static/swagger/2.5.0/swaggersource.json
Labels: component/website

#6095 [Issue 6094][doc] fix Incorrect picture in pulsar function-overview
  site2/docs/assets/pulsar-functions-word-count.png
Labels: component/documentation

#6050 [Issue 3681][docs] Update client-libraries in Get Started chapter
  pulsar-client-cpp/python/pulsar/__init__.py
  site2/docs/client-libraries-cpp.md
  site2/docs/client-libraries-go.md
  site2/docs/client-libraries-python.md
  site2/docs/getting-started-clients.md
Labels: component/client, component/documentation

#6060 [Issue 5505] fix NPE
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicStats.java
Labels: component/broker, release/2.5.1, type/bug

#6113 Support for python native logging from python wrapper
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/src/config.cc
Labels: component/python

#6080 [Issue 5996][docs] Update broken links in 2.4.1 and 2.4.2 releases
  site2/website/versioned_docs/version-2.4.1/functions-overview.md
  site2/website/versioned_docs/version-2.4.2/functions-overview.md
Labels: component/documentation

#6065 [Issue 6056][docs] Add example on how to choose partition when using a key
  site2/docs/cookbooks-partitioned.md
Labels: component/documentation

#6064 [minor] make acker in BatchMessageIdImpl transient
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
Labels: component/client, release/2.4.3, release/2.5.1

#5989 [docs] Improve documentation about batching
  site2/docs/concepts-messaging.md
Labels: component/documentation

#5998 [Issue 5983][docs] promote assign the advertisedAddress when startup …
  site2/website/versioned_docs/version-2.4.2/getting-started-standalone.md
Labels: component/documentation

#6028 [Issue 5690][pulsar-io] Make type name of Elasticsearch sink connector configurable.
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfigTests.java
  pulsar-io/elastic-search/src/test/resources/sinkConfig.yaml
  site2/docs/io-elasticsearch-sink.md
Labels: component/io

#6130 [broker] Remove duplicated lombok annotations in tests
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NonPersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/JsonSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/KeyValueSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/Schemas.java
Labels: component/test, type/cleanup

#6129 [CPP] Compile fixes for ARM cpus
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/checksum/crc32c_sse42.cc
  pulsar-client-cpp/perf/PerfProducer.cc
  pulsar-client-cpp/perf/RateLimiter.h
Labels: component/build, component/c++

#6106 Fix available permits may be greater than 1 even though queue size is 0.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
Labels: component/client, release/2.5.1, type/bug

#5956 [docs] Enable zh-TW website translation
  site2/website/languages.js
Labels: component/documentation, component/website

#6103 Fix typo in Reader documentation.
  site2/docs/client-libraries-node.md
Labels: component/documentation

#6037 [pulsar-client-tools] Support CLI pulsar tokens for concise description
  pulsar-broker/src/main/java/org/apache/pulsar/utils/auth/tokens/TokensCliUtils.java
Labels: component/cli, component/documentation

#5926 [pulsar-broker] Fix some comment typos
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnedBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/JsonSchemaCompatibilityCheck.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientErrorsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerRedeliveryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
Labels: component/broker, type/enhancement

#5883 Check for the presence of presto libraries only when sql commands are used
  bin/pulsar
Labels: component/sql

#6102 [Websocket] Websocket doesn't set the correct cluster data
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
Labels: component/websocket, release/2.5.1, type/bug

#6133 Simplify templating in log messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/CachedPulsarClient.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/node/AbstractConfigurationProvider.java
Labels: type/cleanup

#6136 [docs] move enhancement for topic deletion for regex consumers in release notes to the correct version
  site2/website/release-notes.md
Labels: component/website

#6138 [docs][functions] Remove redundancy
  site2/docs/functions-overview.md
Labels: component/documentation

#6082 [Issue 5326] make bookie ranges stored in path/to/bkdata/ranges
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: component/storage, type/enhancement

#6142 [doc] Invalid code tab markdown for TW translation
  site2/tools/build-site.sh
Labels: component/website

#6145 [docs] Correct language idenitifiers in IO quickstart documentation
  site2/docs/io-quickstart.md
Labels: component/documentation, component/website

#6144 [Issue 3289][docs 2.5.0] Append / to metrics url to fix documentation
  site2/website/versioned_docs/version-2.5.0/deploy-monitoring.md
Labels: component/documentation, type/bug

#6124 [Issue 4756] Add timeout to search for web service URLs to avoid web threads getting stuck
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: component/broker, release/2.5.1
