Repository apache/pulsar, pull requests merged in 2021-06, with the labels that each got.

#10759 Fix the error name of options for broker conf
  conf/broker.conf
  deployment/terraform-ansible/templates/broker.conf
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website/versioned_docs/version-2.7.2/reference-configuration.md
  site2/website/versioned_docs/version-2.7.3/reference-configuration.md
Labels: type/bug

#10764 [Broker] Replace use of Prometheus client CollectorRegistry.getSampleValue
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerOperabilityMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/DimensionStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/DimensionStatsTest.java
Labels: type/performance

#10768 Unlock the write lock of the UnAckedMessageTracker before call redeliverUnacknowledgedMessages
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java
Labels: component/client, release/blocker, type/bug

#10710 [issue 10693] use unify configuration from remote cluster for geo-replicator
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdClusters.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ClusterData.java
Labels: component/replication, component/security

#10723 Add explicit test case for NonDurable Subscriptions and Broker restart
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonDurableSubscriptionTest.java
Labels: component/test

#10773 [ML] Release OpAddEntry.data when entry is copied and discarded
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: release/2.7.3, type/bug

#10769 [Kinesis] Fix kinesis sink connector does not ack messages
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
Labels: component/io, type/bug

#9970 [Schema] Fix autoConsumeSchema deadLetter problem.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
Labels: type/bug

#10777 [Doc] Modify transaction doc.
  site2/docs/transaction-api.md
Labels: component/documentation

#10771 Fix `isLocalRun` check in `PulsarAdminTool`
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
Labels: component/functions, component/tools

#10783 Add release notes and doc set for 2.6.4 release
  site2/website/release-notes.md
  site2/website/releases.json
  site2/website/versioned_docs/version-2.6.4/admin-api-brokers.md
  site2/website/versioned_docs/version-2.6.4/admin-api-namespaces.md
  site2/website/versioned_docs/version-2.6.4/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.6.4/administration-geo.md
  site2/website/versioned_docs/version-2.6.4/administration-proxy.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.4/concepts-architecture-overview.md
  site2/website/versioned_docs/version-2.6.4/concepts-clients.md
  site2/website/versioned_docs/version-2.6.4/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.4/concepts-proxy-sni-routing.md
  site2/website/versioned_docs/version-2.6.4/cookbooks-deduplication.md
  site2/website/versioned_docs/version-2.6.4/cookbooks-tiered-storage.md
  site2/website/versioned_docs/version-2.6.4/deploy-aws.md
  site2/website/versioned_docs/version-2.6.4/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.4/deploy-kubernetes.md
  site2/website/versioned_docs/version-2.6.4/developing-load-manager.md
  site2/website/versioned_docs/version-2.6.4/functions-cli.md
  site2/website/versioned_docs/version-2.6.4/functions-develop.md
  site2/website/versioned_docs/version-2.6.4/functions-worker.md
  site2/website/versioned_docs/version-2.6.4/getting-started-clients.md
  site2/website/versioned_docs/version-2.6.4/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.4/getting-started-pulsar.md
  site2/website/versioned_docs/version-2.6.4/helm-deploy.md
  site2/website/versioned_docs/version-2.6.4/helm-install.md
  site2/website/versioned_docs/version-2.6.4/helm-overview.md
  site2/website/versioned_docs/version-2.6.4/helm-prepare.md
  site2/website/versioned_docs/version-2.6.4/helm-tools.md
  site2/website/versioned_docs/version-2.6.4/helm-upgrade.md
  site2/website/versioned_docs/version-2.6.4/io-connectors.md
  site2/website/versioned_docs/version-2.6.4/io-debezium-source.md
  site2/website/versioned_docs/version-2.6.4/io-dynamodb-source.md
  site2/website/versioned_docs/version-2.6.4/io-hdfs2-sink.md
  site2/website/versioned_docs/version-2.6.4/io-jdbc-sink.md
  site2/website/versioned_docs/version-2.6.4/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.6.4/io-kinesis-source.md
  site2/website/versioned_docs/version-2.6.4/io-quickstart.md
  site2/website/versioned_docs/version-2.6.4/io-use.md
  site2/website/versioned_docs/version-2.6.4/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.6.4/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.4/reference-configuration.md
  site2/website/versioned_docs/version-2.6.4/reference-metrics.md
  site2/website/versioned_docs/version-2.6.4/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.4/security-encryption.md
  site2/website/versioned_docs/version-2.6.4/security-jwt.md
  site2/website/versioned_docs/version-2.6.4/security-oauth2.md
  site2/website/versioned_docs/version-2.6.4/security-overview.md
  site2/website/versioned_docs/version-2.6.4/security-tls-authentication.md
  site2/website/versioned_docs/version-2.6.4/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.4/security-tls-transport.md
  site2/website/versioned_docs/version-2.6.4/security-token-admin.md
  site2/website/versioned_docs/version-2.6.4/sql-deployment-configurations.md
  site2/website/versioned_docs/version-2.6.4/tiered-storage-azure.md
  site2/website/versioned_sidebars/version-2.6.4-sidebars.json
  site2/website/versions.json
Labels: component/website

#10785 Avoid warning logs on topic policies not present
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
Labels: type/enhancement

#9927 Add ability to use Kafka's sinks as pulsar sinks
  pulsar-io/kafka-connect-adaptor-nar/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaConnectSinkConfig.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaSinkContext.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaSinkTaskContext.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/MockGenericObjectWrapper.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/SchemaedFileStreamSinkConnector.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/SchemaedFileStreamSinkTask.java
Labels: component/io

#10797 fix transaction pending ack generate managedLedgerStats fail exception.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TransactionAggregator.java
Labels: component/metrics

#10807 Fix NoClassDefFoundError when running pulsar cli tools in dev directory
  bin/bookkeeper
  bin/function-localrunner
  bin/pulsar
  bin/pulsar-admin-common.sh
  bin/pulsar-client
  bin/pulsar-perf
  site2/tools/docker-build-site.sh
Labels: type/bug

#10803 use zookeeper prometheus metric provider to export zookeeper metrics
  conf/zookeeper.conf
  distribution/server/src/assemble/LICENSE.bin.txt
  docker/grafana/dashboards/zookeeper.json
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/ConfigurationStoreStarter.java
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperStarter.java
  site2/docs/reference-metrics.md
Labels: component/metrics

#10814 [Build] Fix main profile activation by default
  pom.xml
Labels: component/build, type/bug

#10804 [Build] Support building site without CROWDIN_DOCUSAURUS_API_KEY
  site2/tools/build-site.sh
Labels: component/website

#10811 [Schema] Fix AutoConsumeSchema decode null schema version data
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TypedMessageBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchemaTest.java
Labels: release/2.7.3

#10824 Fix consumer stuck issue due to reuse entry wrapper.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/DispatchAccordingPermitsTests.java
Labels: release/blocker

#10830 [Conf] Fix typo; switch ledged to ledger
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/test-conf/standalone.conf
  pulsar-client-cpp/tests/authentication.conf
  pulsar-client-cpp/tests/standalone.conf
Labels: component/documentation

#10823 remove pulsar-zookeeper module and call zookeeper quorumPeerMain to start zookeeper
  bin/pulsar
  distribution/server/pom.xml
  pom.xml
  pulsar-zookeeper/pom.xml
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/ConfigurationStoreStarter.java
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperStarter.java
  pulsar-zookeeper/src/main/resources/findbugsExclude.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/HealthCheckTest.java
Labels: component/metrics

#10831 [Broker] Fix possible data race in getFirstAvailableConsumerPermits
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: release/2.7.3, release/2.8.1, type/bug

#10838 Fix set project version for the presto distribution
  src/set-project-version.sh
Labels: release/blocker

#10836 Fix improper modifier used in pulsar-io related module code
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalAbstractSource.java
  pulsar-io/flume/src/main/java/org/apache/pulsar/io/flume/source/AbstractSource.java
  pulsar-io/netty/src/main/java/org/apache/pulsar/io/netty/http/NettyHttpServerHandler.java
  pulsar-io/netty/src/main/java/org/apache/pulsar/io/netty/tcp/NettyTCPServerHandler.java
  pulsar-io/netty/src/main/java/org/apache/pulsar/io/netty/udp/NettyUDPServerHandler.java
  pulsar-io/nsq/src/main/java/org/apache/pulsar/io/nsq/NSQSource.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSource.java
Labels: type/cleanup

#10827 ReflectionUtils use Class.forName in order to properly discover classes in Functions Runtime while using "DefaultImplementation"
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/ReflectionUtils.java
Labels: release/blocker

#10841 Fix javadoc issue in MockitoCleanupListener.java when deploy maven packages
  buildtools/src/main/java/org/apache/pulsar/tests/MockitoCleanupListener.java
Labels: release/blocker

#10842 Move settings.xml back for the Pulsar release.
  src/settings.xml
Labels: release/blocker

#10844 Replace batchIndexAcknowledgeEnable to acknowledgmentAtBatchIndexLevelEnabled
  site2/docs/concepts-messaging.md
  site2/website/blog/2020-06-18-Apache-Pulsar-2-6-0.md
  site2/website/versioned_docs/version-2.6.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.3/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.4/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.3/concepts-messaging.md
Labels: component/documentation

#10843 Revert "Enable pulsar function to send message to external pulsar clu…
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/functions/AuthenticationConfig.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Record.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/AuthenticationConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/FunctionResultRouter.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/ComponentStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSinkConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/RecordWithEncryptionContext.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/PublishExternalFunction.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/ClearTextFunctionTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/FunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/ClearTextFunctionTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactoryTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/CryptoUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ProducerConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/Connector.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/BatchSource.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/ConnectorContext.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/Sink.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SinkContext.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/Source.java
Labels: type/cleanup

#10849 Restore netty-tc-native version to 2.0.38.Final
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#10805 [DOC] Fix pulsar function python example code error
  site2/docs/functions-overview.md
  site2/website/versioned_docs/version-2.1.0-incubating/functions-overview.md
  site2/website/versioned_docs/version-2.1.1-incubating/functions-overview.md
  site2/website/versioned_docs/version-2.2.0/functions-overview.md
  site2/website/versioned_docs/version-2.2.1/functions-overview.md
  site2/website/versioned_docs/version-2.3.1/functions-overview.md
  site2/website/versioned_docs/version-2.4.0/functions-overview.md
  site2/website/versioned_docs/version-2.4.1/functions-overview.md
  site2/website/versioned_docs/version-2.4.2/functions-overview.md
  site2/website/versioned_docs/version-2.5.0/functions-overview.md
  site2/website/versioned_docs/version-2.5.1/functions-overview.md
  site2/website/versioned_docs/version-2.5.2/functions-overview.md
  site2/website/versioned_docs/version-2.6.0/functions-overview.md
  site2/website/versioned_docs/version-2.6.1/functions-overview.md
  site2/website/versioned_docs/version-2.6.2/functions-overview.md
  site2/website/versioned_docs/version-2.6.3/functions-overview.md
  site2/website/versioned_docs/version-2.6.4/functions-overview.md
  site2/website/versioned_docs/version-2.7.0/functions-overview.md
  site2/website/versioned_docs/version-2.7.1/functions-overview.md
  site2/website/versioned_docs/version-2.7.2/functions-overview.md
  site2/website/versioned_docs/version-2.7.3/functions-overview.md
Labels: component/documentation, component/python, type/enhancement

#10858 Fix the incorrect class name of LOCAL_TIME
  site2/website/versioned_docs/version-2.7.0/schema-understand.md
  site2/website/versioned_docs/version-2.7.1/schema-understand.md
  site2/website/versioned_docs/version-2.7.2/schema-understand.md
  site2/website/versioned_docs/version-2.7.3/schema-understand.md
Labels: component/documentation

#10855 [Build] Run OWASP Dependency Check as a scheduled build once per day
  .github/workflows/ci-owasp-dependency-check.yaml
  pom.xml
  src/owasp-dependency-check-false-positives.xml
  src/owasp-dependency-check-suppressions.xml
Labels: component/build, component/security

#10852 [Security] Upgrade Zookeeper to 3.6.3
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, dependencies

#10822 Load credentials from secrets for Kinesis connectors
  pulsar-io/kinesis/pom.xml
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/BaseKinesisConfig.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSource.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSourceConfig.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/KinesisSinkConfigTests.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/KinesisSourceConfigTests.java
Labels: component/connect, component/security, release/2.8.1, type/enhancement

#10859 [Refactor] refactor some method to java8.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Bookies.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: type/cleanup

#10877 Make MetadataCacheTest reliable.
  pulsar-metadata/pom.xml
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: component/test, flaky-tests

#10876 [Broker] Always let system topic TRANSACTION_BUFFER_SNAPSHOT be auto created
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/EventsTopicNames.java
Labels: type/bug

#10883 #10882 use ObjectMapper to parse Sink/Source configs
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
Labels: component/config, component/functions

#10886 Introduce metrics servlet timeout setting
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
Labels: component/metrics

#10888 Make KeyValueSchema an interface visible in the public Schema API
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/KeyValueTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NullValueTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/KeyValueSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/KeyValueSchema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoProduceBytesSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SupportVersioningKeyValueSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestGenericObjectSink.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOTestRunner.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
Labels: component/schemaregistry, release/blocker

#10885 Provide a flag to disable managed ledger metrics
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
Labels: component/metrics

#10410 Kafka connect sink adaptor to support non-primitive schemas
  pom.xml
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/PulsarSchemaToKafkaSchema.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/PulsarSchemaToKafkaSchemaTest.java
Labels: component/kafka

#10884 Remove the duplicated entry `advertisedAddress`
  site2/docs/reference-configuration.md
Labels: component/documentation

#10907 Upgrade Jetty to 9.4.42.v20210604
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/proxy, release/2.7.3, type/bug

#10921 Fix the unit tests for the websocket and run tests under websocket group
  build/run_unit_group.sh
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/SimpleConsumerSocket.java
Labels: component/test, release/2.8.1

#10920 [broker] Fix issue where Key_Shared consumers could get stuck
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: component/broker, component/key-shared, release/2.8.1, type/bug

#10863 [Fixed] #throwable exception not thrown.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: component/broker, type/bug

#10913 fix: quotation marks in schema-get-started docs used in Chinese style
  site2/docs/schema-get-started.md
  site2/website/versioned_docs/version-2.4.1/schema-get-started.md
  site2/website/versioned_docs/version-2.4.2/schema-get-started.md
  site2/website/versioned_docs/version-2.5.0/schema-get-started.md
  site2/website/versioned_docs/version-2.5.1/schema-get-started.md
  site2/website/versioned_docs/version-2.5.2/schema-get-started.md
  site2/website/versioned_docs/version-2.6.0/schema-get-started.md
  site2/website/versioned_docs/version-2.6.1/schema-get-started.md
  site2/website/versioned_docs/version-2.6.2/schema-get-started.md
  site2/website/versioned_docs/version-2.6.3/schema-get-started.md
  site2/website/versioned_docs/version-2.6.4/schema-get-started.md
  site2/website/versioned_docs/version-2.7.0/schema-get-started.md
  site2/website/versioned_docs/version-2.7.1/schema-get-started.md
  site2/website/versioned_docs/version-2.7.2/schema-get-started.md
  site2/website/versioned_docs/version-2.7.3/schema-get-started.md
Labels: component/documentation

#10924 Fix peek message failure when broker entry metadata is enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerEntryMetadataE2ETest.java
Labels: release/2.8.1

#10874 Add release note for 2.8.0
  site2/website/release-notes.md
Labels: component/documentation

#10927 Generate swagger files for 2.8.0
  site2/website/static/swagger/2.8.0/swagger.json
  site2/website/static/swagger/2.8.0/swaggerfunctions.json
  site2/website/static/swagger/2.8.0/swaggerpackages.json
  site2/website/static/swagger/2.8.0/swaggersink.json
  site2/website/static/swagger/2.8.0/swaggersource.json
Labels: component/documentation

#10897 [docs] Fix a bad link in functions overview
  site2/docs/functions-overview.md
  site2/website/versioned_docs/version-2.4.1/functions-overview.md
  site2/website/versioned_docs/version-2.4.2/functions-overview.md
  site2/website/versioned_docs/version-2.5.0/functions-overview.md
  site2/website/versioned_docs/version-2.5.1/functions-overview.md
  site2/website/versioned_docs/version-2.5.2/functions-overview.md
  site2/website/versioned_docs/version-2.6.0/functions-overview.md
  site2/website/versioned_docs/version-2.6.1/functions-overview.md
  site2/website/versioned_docs/version-2.6.2/functions-overview.md
  site2/website/versioned_docs/version-2.6.3/functions-overview.md
  site2/website/versioned_docs/version-2.6.4/functions-overview.md
  site2/website/versioned_docs/version-2.7.0/functions-overview.md
  site2/website/versioned_docs/version-2.7.1/functions-overview.md
  site2/website/versioned_docs/version-2.7.2/functions-overview.md
  site2/website/versioned_docs/version-2.7.3/functions-overview.md
Labels: component/documentation

#10901 fix Pulsar Doc, Transactions Example code
  site2/docs/transaction-api.md
  site2/website/versioned_docs/version-2.7.0/transaction-api.md
  site2/website/versioned_docs/version-2.7.1/transaction-api.md
  site2/website/versioned_docs/version-2.7.2/transaction-api.md
  site2/website/versioned_docs/version-2.7.3/transaction-api.md
Labels: component/documentation

#10931 Fixes # throwable exception not thrown.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
Labels: type/cleanup

#10936 Fixes typo about initialize-cluster-metadata command in functions worker
  conf/functions_worker.yml
  site2/docs/functions-worker.md
  site2/website/versioned_docs/version-2.7.1/functions-worker.md
  site2/website/versioned_docs/version-2.7.2/functions-worker.md
  site2/website/versioned_docs/version-2.7.3/functions-worker.md
  site2/website/versioned_docs/version-2.8.0/functions-overview.md
  site2/website/versioned_docs/version-2.8.0/functions-worker.md
Labels: component/documentation

#10910 When the Replicator is enabled, no managedLedger is created when updating the number of partitions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: release/2.7.3, release/2.8.1

#10941 Fix compaction not working for system topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: release/2.7.3, release/2.8.1

#10948 [Transactions] Prevent NPE in case of closeAsync() without a successful execution of startAsync()
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionCoordinatorClientImpl.java
Labels: component/transactions, release/2.8.1

#10942 Typo fix
  site2/docs/administration-proxy.md
Labels: component/documentation

#10955 Make Metadata ZKSessionTest less Flaky
  pulsar-metadata/pom.xml
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/ZKSessionTest.java
Labels: component/test, flaky-tests, release/2.8.1

#10964 [Blog] Apache Pulsar 2.8.0
  site2/website/blog/2021-06-12-Apache-Pulsar-2-8-0.md
  site2/website/static/img/280-1.png
  site2/website/static/img/280-2.png
Labels: component/documentation

#10956 [C++] Fix Windows build issues about static library
  .github/workflows/ci-cpp-build-windows.yaml
  pulsar-client-cpp/lib/CMakeLists.txt
Labels: component/build, component/c++, release/2.8.1

#10869 [Security] Exclude and remove freebuilder dependency
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
Labels: component/security

#10879 [Refactor] Refactor some method to java8
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: type/cleanup

#10887 [Build] Fix functions main profile activation by default
  pulsar-functions/pom.xml
Labels: component/build

#10866 [Security] Upgrade k8s client-java to 12.0.1
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: component/security

#10847 [pulsar-broker] Handle multiple topic creation for same topic-name in broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
Labels: component/broker, release/2.7.3, release/2.8.1, type/bug

#10806 fix non-persistent topic get partitioned metadata error on discovery
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/BaseDiscoveryTestSetup.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
Labels: component/client, release/2.7.3, release/2.8.1

#10957 Fix NonRecoverableLedgerException when get last message ID by Reader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
Labels: release/2.7.3, release/2.8.1

#10867 [Security] Upgrade bouncycastle version to 1.69
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#10865 [Security] Upgrade caffeine to 2.9.1
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#10968 fix parseMessageMetadata error cause by not skip broker entry metadata
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerEntryMetadataE2ETest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: type/bug

#10977 [Broker] Fix direct memory leak in getLastMessageId
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: release/2.7.3, release/2.8.1, type/bug

#10987 Feat # Add some test for NamespaceBundleSplitAlgorithmTest
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/NamespaceBundleSplitAlgorithmTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/RangeEquallyDivideBundleSplitAlgorithmTest.java
Labels: component/test

#10970 [Broker] Remove redundant method for CompletableFuture timeout handling
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
Labels: type/cleanup

#10983 fix NoClassDefFoundError - io.airlift.compress.lz4.UnsafeUtil
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: release/2.8.1

#10911 [Docs] Clarify ledger rollover criteria: address size and min time
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/test-conf/standalone.conf
  pulsar-client-cpp/tests/authentication.conf
  pulsar-client-cpp/tests/standalone.conf
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.2.0/reference-configuration.md
  site2/website/versioned_docs/version-2.2.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.0/reference-configuration.md
  site2/website/versioned_docs/version-2.3.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.2/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
  site2/website/versioned_docs/version-2.4.2/reference-configuration.md
  site2/website/versioned_docs/version-2.5.0/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.3/reference-configuration.md
  site2/website/versioned_docs/version-2.6.4/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website/versioned_docs/version-2.7.2/reference-configuration.md
  site2/website/versioned_docs/version-2.7.3/reference-configuration.md
  site2/website/versioned_docs/version-2.8.0/reference-configuration.md
Labels: component/documentation

#10953 [Docs]remove wrong step when run selected test packages.
  README.md
Labels: component/documentation

#10889 [Security] Upgrade vertx to 3.9.8 to address CVE-2019-17640
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  src/owasp-dependency-check-suppressions.xml
Labels: component/security

#10864 [Security] Upgrade commons-codec to 1.15
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#10976 Change the nar package name for pulsar-io-kafka-connect-adaptor
  distribution/io/src/assemble/io.xml
  pulsar-io/kafka-connect-adaptor-nar/pom.xml
Labels: release/2.8.1

#10988 Fix wrong configuration name
  site2/docs/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.0/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.1/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.2/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.3/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.8.0/tiered-storage-filesystem.md
Labels: component/documentation, release/2.8.1

#10992 [Issue 10990] Fix the default value of httpServerPort in reference conf
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website/versioned_docs/version-2.7.2/reference-configuration.md
  site2/website/versioned_docs/version-2.7.3/reference-configuration.md
  site2/website/versioned_docs/version-2.8.0/reference-configuration.md
Labels: component/documentation

#10939 [Issue 10938] [pulsar-functions] Include common-io in java function instance
  pulsar-functions/instance/pom.xml
Labels: component/functions

#10963 [Broker] Fix create partitioned topic in replicated namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: release/2.7.3, release/2.8.1

#10966 [Broker] Fix the backlog issue with --precise-backlog=true
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: release/2.7.3, release/2.8.1

#10961 Fix incorrect port of advertisedListener
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfigurationUtils.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/validator/MultipleListenerValidatorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/PulsarServiceTest.java
Labels: release/2.8.1, type/bug

#11005 Do not expose meaningless stats for consumer.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/ConsumerStatsImpl.java
Labels: release/2.8.1

#11009 Fix flaky test testEnableAndDisableTopicDelayedDelivery
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
Labels: release/2.7.3, release/2.8.1

#10997 [Issue 10996] release multiTopicsConsumerImpl when unsubscribe
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug

#11016 [Tests] Fix the flaky test in the ManagedLedgerTest
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/test, flaky-tests, release/2.8.1

#11003 Fix potential data lost on the system topic when topic compaction have not triggered yet
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
Labels: component/topic-policy, release/2.7.3, release/2.8.1

#11020 [Tests] Convert Junit tests to TestNG
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/NamespaceBundleSplitAlgorithmTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/RangeEquallyDivideBundleSplitAlgorithmTest.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdNamespaceIsolationPolicy.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionInstanceIdTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/GenerateDocumentionTest.java
Labels: type/cleanup

#10850 maxTopicsPerNamespace check should exclude system topic.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/SystemTopicClientTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/EventsTopicNames.java
Labels: component/admin

#10657 [PIP-82] [pulsar-broker] Add resource-group configuration listener.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigInfo.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupNamespaceConfigListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTopicTransportManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTransportManager.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigListenerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupUsageAggregationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTransportManagerTest.java
Labels: type/feature

#10944 [Proxy] Limit replay buffer size in AdminProxyHandler
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AdminProxyHandlerTest.java
Labels: component/proxy

#11011 [Doc] Add explanations for inactive topics
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.2.0/reference-configuration.md
  site2/website/versioned_docs/version-2.2.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.0/reference-configuration.md
  site2/website/versioned_docs/version-2.3.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.2/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
  site2/website/versioned_docs/version-2.4.2/reference-configuration.md
  site2/website/versioned_docs/version-2.5.0/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.3/reference-configuration.md
  site2/website/versioned_docs/version-2.6.4/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website/versioned_docs/version-2.7.2/reference-configuration.md
  site2/website/versioned_docs/version-2.7.3/reference-configuration.md
  site2/website/versioned_docs/version-2.8.0/reference-configuration.md
Labels: component/documentation, release/2.8.1

#10995 [issue 10989 ] Java Client: KeyValueSchema with AutoConsume component - make it work if the topic schema is still not set
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaImpl.java
Labels: component/schemaregistry, java

#11028 fix flaky test in AdminApiOffloadTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
Labels: component/test, flaky-tests

#10631 [Functions] reorganize the context hierarchy for functions
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/Producer.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/BaseContext.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SinkContext.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SourceContext.java
Labels: component/functions

#11048 [Tests] Fix flaky test ResourceGroupConfigListenerTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigListenerTest.java
Labels: flaky-tests

#11034 [Python] Fixed import when AvroSchema is not being used
  pulsar-client-cpp/python/pulsar/schema/__init__.py
  pulsar-client-cpp/python/pulsar/schema/schema.py
  pulsar-client-cpp/python/pulsar/schema/schema_avro.py
Labels: component/python, release/2.8.1, type/bug

#11030 Update the instructions for building individual modules in README
  README.md
Labels: component/documentation, release/2.8.1

#11027 Use testng instead of junit
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/SystemTopicClientTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchemaTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BacklogQuotaCompatibilityTest.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/WebSocketHttpServletRequestWrapperTest.java
Labels: component/test

#11042 Made the PulsarClusterMetadataTeardown deletes idempotent
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataTeardown.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/ClusterMetadataTearDownTest.java
Labels: release/2.8.1, type/bug

#11082 [C++] Fix Windows 32 bits compile and runtime failures
  .github/workflows/ci-cpp-build-windows.yaml
  pulsar-client-cpp/README.md
  pulsar-client-cpp/lib/CMakeLists.txt
  pulsar-client-cpp/lib/checksum/crc32c_sse42.cc
Labels: component/c++, release/2.8.1

#11060 [docs] Capitalize sidebar headers
  site2/website/sidebars.json
  site2/website/versioned_sidebars/version-2.1.0-incubating-sidebars.json
  site2/website/versioned_sidebars/version-2.1.1-incubating-sidebars.json
  site2/website/versioned_sidebars/version-2.2.0-sidebars.json
  site2/website/versioned_sidebars/version-2.2.1-sidebars.json
  site2/website/versioned_sidebars/version-2.3.0-sidebars.json
  site2/website/versioned_sidebars/version-2.3.1-sidebars.json
  site2/website/versioned_sidebars/version-2.3.2-sidebars.json
  site2/website/versioned_sidebars/version-2.4.0-sidebars.json
  site2/website/versioned_sidebars/version-2.4.1-sidebars.json
  site2/website/versioned_sidebars/version-2.4.2-sidebars.json
  site2/website/versioned_sidebars/version-2.5.0-sidebars.json
  site2/website/versioned_sidebars/version-2.5.1-sidebars.json
  site2/website/versioned_sidebars/version-2.5.2-sidebars.json
  site2/website/versioned_sidebars/version-2.6.0-sidebars.json
  site2/website/versioned_sidebars/version-2.6.1-sidebars.json
  site2/website/versioned_sidebars/version-2.6.2-sidebars.json
  site2/website/versioned_sidebars/version-2.6.3-sidebars.json
  site2/website/versioned_sidebars/version-2.6.4-sidebars.json
  site2/website/versioned_sidebars/version-2.7.0-sidebars.json
  site2/website/versioned_sidebars/version-2.7.1-sidebars.json
  site2/website/versioned_sidebars/version-2.7.2-sidebars.json
  site2/website/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website/versioned_sidebars/version-2.8.0-sidebars.json
  site2/website/versioned_sidebars/version-2.8.1-sidebars.json
Labels: component/documentation

#11065 fix: markdown indentation in getting-started-helm
  site2/docs/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.4/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.1/getting-started-helm.md
Labels: component/documentation

#11076 [Issue 11075][Python] Use the subscription name defined in function details
  pulsar-functions/instance/src/main/python/python_instance.py
Labels: component/functions, component/python, release/2.8.1, type/bug

#11073 [ Issues 10786 ] Fixed flaky test testTransactionMetaStoreAssignAndFailover (#10786)
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionMetaStoreAssignmentTest.java
Labels: flaky-tests

#11047 [Broker] Fixed the incorrectly used logger.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MockBrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: component/broker

#10978 [docs] use official postgres docker image for debezium
  site2/docs/io-debezium-source.md
Labels: component/documentation

#11051 Add authoritative flag for topic policy to avoid redirect loop
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
Labels: release/2.7.3, release/2.8.1, type/bug

#11089 fix flaky test testDuplicateConcurrentSubscribeCommand
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: flaky-tests

#11092 Print message metadata when getting message by id
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/tools

#11029 [C++][Python] Add connection timeout configuration
  pulsar-client-cpp/include/pulsar/ClientConfiguration.h
  pulsar-client-cpp/lib/ClientConfiguration.cc
  pulsar-client-cpp/lib/ClientConfigurationImpl.h
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientConnection.h
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ExecutorService.h
  pulsar-client-cpp/lib/PeriodicTask.cc
  pulsar-client-cpp/lib/PeriodicTask.h
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/config.cc
  pulsar-client-cpp/tests/ClientTest.cc
  pulsar-client-cpp/tests/PeriodicTaskTest.cc
Labels: component/c++, component/python

#11063 [docs] Capitalize cli menu item
  site2/website/static/js/custom.js
Labels: component/documentation

#11088 [C++] Fix Setting KeySharedMeta in SubscribeCommand
  pulsar-client-cpp/include/pulsar/KeySharedPolicy.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/KeySharedPolicy.cc
  pulsar-client-cpp/lib/KeySharedPolicyImpl.h
  pulsar-client-cpp/tests/KeySharedPolicyTest.cc
Labels: component/c++, release/2.8.1

#11021 fix retention policy in topic policy not work
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: component/topic-policy, release/2.8.1, type/bug

#10792 [Issue 10781][pulsar-functions] fix build failure because of spotbugs
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/BKStateStoreImpl.java
Labels: component/functions

#10790 [broker] Add REST API to enable or disable replicated subscriptions
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicOperation.java
Labels: component/broker, release/2.7.3, release/2.8.1, type/enhancement

#11095 Added missing configuration entries
  conf/standalone.conf
Labels: release/2.8.1

#11052 [Broker] Fix async response filter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/ResponseHandlerFilter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AsyncResponseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
Labels: component/admin, release/2.8.1

#11097 Fix race condition of the SystemTopicBasedTopicPoliciesService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: component/topic-policy, release/2.7.3, release/2.8.1, type/bug

#11129 [C++] Fix boost download link in Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile-alpine-3.8
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/rpm/Dockerfile
Labels: component/c++, release/2.8.1

#11114 fix flaky test testBrokerRanking
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
Labels: flaky-tests, release/2.8.1

#11132 fix subscription permission not working in reset cursor
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
Labels: release/2.8.1

#11125 Fix Flaky-test: [TopicFromMessageTest].[testMultiTopicConsumerBatchShortName
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicFromMessageTest.java
Labels: release/2.8.1

#11024 [PIP-82] [pulsar-broker] Resource group metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMesgs.java
Labels: component/broker

#11134 [Tests] Change test group to broker for ReplicatorTest and fix the test
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: release/2.7.3, release/2.8.1

#11136 fix replay topic policy message not work
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: component/topic-policy, release/2.7.3, release/2.8.1

#11131 [Branch-2.7] Add authoritative flag for topic policy to avoid redirect loop
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
Labels: release/2.7.3

#10982 [docs] Add MessageListener example in addition to endless while loop
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-java.md
Labels: component/documentation

#11118 [ Tests ] Fixed Wrong TimeUnit
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TransactionMetricsTest.java
Labels: component/test

#11151 fix: pulsar admin/client cli docs jump incorrect
  site2/website/static/js/getCliByVersion.js
Labels: component/website, type/bug

#11140 [Branch-2.7] Fix create partitioned topic in replicated namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: cherry-picked/branch-2.7, release/2.7.3

#11137 [docs] backport debezium source docu
  site2/website/versioned_docs/version-2.7.0/io-debezium-source.md
  site2/website/versioned_docs/version-2.7.1/io-debezium-source.md
  site2/website/versioned_docs/version-2.7.2/io-debezium-source.md
  site2/website/versioned_docs/version-2.7.3/io-debezium-source.md
  site2/website/versioned_docs/version-2.8.0/io-debezium-source.md
  site2/website/versioned_docs/version-2.8.1/io-debezium-source.md
Labels: component/documentation, component/io

#11152 [C++] Fix missed header for some compilers
  pulsar-client-cpp/lib/KeySharedPolicy.cc
Labels: component/build, component/c++, release/2.8.1

#11138 [Broker/Bookie] Set -Dio.netty.tryReflectionSetAccessible=true for pulsar processes
  bin/bookkeeper
  bin/function-localrunner
  bin/pulsar
  pom.xml
Labels: release/2.8.1, type/bug

#11167 [ Functions ] Fixed some incorrect usage methods.
  pulsar-config-validation/src/main/java/org/apache/pulsar/config/validation/ValidatorImpls.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: type/cleanup
