Repository apache/pulsar, pull requests merged in 2021-03, with the labels that each got.

#9751 [Issue 9725][Transaction] - Fix deleteTransactionMarker memory leak
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
Labels: component/txn

#9752 [Issue 9725][Transaction] - Fix deleteTransactionMarker memory leak (target branch-2.7)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
Labels: component/txn, release/2.7.1

#9750 Keep the command style consistent
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: release/2.7.1

#9339 Support get topic applied policy for DeduplicationStatus
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/TopicDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/broker, component/topic-policy

#9732 Fix marking individual deletes as dirty
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: release/2.6.4, release/2.7.1, type/bug

#9737 [Issue 9700][Admin API] Validate /offload param
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: release/2.7.1, type/bug

#9236 [Transaction] TC end transaction retry.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/timeout/TransactionTimeoutTrackerFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/timeout/TransactionTimeoutTrackerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionBuilderImpl.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
Labels: component/txn/coordinator

#9744 [Broker] Don't add broker-address header if response has already been committed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/ResponseHandlerFilter.java
Labels: release/2.7.1, type/bug

#9758 Fix cannot consume using older subscriptions if max subscription limi…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: release/2.7.1

#9722 [Pulsar Transaction] Handle TC low water mark on pending ack handle.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferClientImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckHandle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleDisabled.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionLowWaterMarkTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionCoordinatorClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/TransactionBufferClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionBufferHandler.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/txn

#9761 [Java Client] Fix NPE in ClientCnx
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: flaky-tests, release/2.7.1, type/bug

#9763 [Broker] Fix NPEs and thread safety issue in PersistentReplicator
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: release/2.7.2, type/bug

#9759 [Doc] Add descriptions for HAProxy
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.6.3/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
Labels: component/documentation

#9770 [Build] Refactor integration test commands to run_integration_group.sh script
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-shade-test.yaml
  build/run_integration_group.sh
Labels: component/build, component/test

#9769 pulsar-perf: Dump JVM information
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerfClientUtils.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
Labels: release/2.7.1

#9766 [Tests] Use DiagnosticCommand JMX MBean to do the threaddump
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadDumpUtil.java
  buildtools/src/test/java/org/apache/pulsar/tests/ThreadDumpUtilTest.java
Labels: component/test

#9238 [Transaction] Fix transaction log append sync problem.
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/TxnMetaImpl.java
Labels: component/txn

#9767 Fix topic ownership is not checked
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: component/topic-policy, release/2.7.1, type/bug

#9716 [Issue 8340] [pulsar-testclient] Fix to support to specify topics and subscriptions
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  site2/docs/reference-cli-tools.md
Labels: release/2.7.1, type/performance

#9738 [broker] change getWorkerService method to throw UnsupportedOperationException
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/PulsarServiceTest.java
Labels: component/functions

#9780 [build] Enable detailed Java compiler warnings
  pom.xml
Labels: component/build

#9677 [pulsar-broker] Added support to force deleting tenant
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Tenants.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TenantsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTenants.java
  site2/docs/reference-pulsar-admin.md
Labels: component/admin, doc-required

#9747 [Doc] Add doc on how to configure max subscriptions per topic at the namespace level
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.1/reference-pulsar-admin.md
Labels: component/documentation, namespace-policy-required, release/2.7.1

#9787 Ensure read-lock is not continuously held on a section while iterating over concurrent maps
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongPairSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashSet.java
Labels: type/enhancement

#9694 Support get topic applied policy for MaxUnackedMessagePerConsumers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMaxUnackedMessages.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/MaxUnackedMessagesTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy, doc-required

#9801 [docs] Add content for managed cursor ack stats
  site2/docs/deploy-monitoring.md
  site2/website/versioned_docs/version-2.7.1/deploy-monitoring.md
Labels: component/documentation, component/metrics, release/2.7.1

#9798 Fixed hasMessageAvailable() with empty topic (branch 2.7)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/proto/PulsarApi.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: release/2.7.1

#9740 fix flaky-test: AuthorizationTest.simple
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/AuthPolicies.java
Labels: flaky-tests, release/2.7.2

#9800 [Doc] Add metrics for token and authentication
  site2/docs/reference-metrics.md
  site2/website/versioned_docs/version-2.7.1/reference-metrics.md
Labels: component/documentation

#9808 Split pulsar-io-kafka-connect-adaptor into a jar and nar modules
  distribution/io/src/assemble/io.xml
  pulsar-io/kafka-connect-adaptor-nar/pom.xml
  pulsar-io/kafka-connect-adaptor-nar/src/main/resources/services/pulsar-io.yaml
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-io/pom.xml
Labels: component/build

#9807 Reduce size of integration tests image by including only selected con…
  tests/docker-images/latest-version-image/Dockerfile
Labels: component/build, component/test

#9781 Fix topic ownership is not checked when get topic policy (target branch-2.7)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: release/2.7.1

#9748 [Doc] Add doc on how to configure max subscriptions per topic at the topic level
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.1/reference-pulsar-admin.md
Labels: component/documentation, component/topic-policy, release/2.7.1

#9810 [doc] Add max message size configuration in doc
  site2/docs/concepts-messaging.md
Labels: component/documentation

#9813 [docs] Remove pulsar-admin from reference section
  site2/docs/admin-api-overview.md
  site2/website/sidebars.json
Labels: component/documentation, component/website

#9782 Add NPE check for PulsarService#getAdminClient
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker, release/2.7.2, type/bug

#9811 Remove Deb package from pulsar docker image
  docker/pulsar/Dockerfile
  docker/pulsar/pom.xml
  tests/docker-images/latest-version-image/Dockerfile
Labels: component/build

#9816 Remove gtest file from cpp library
  pom.xml
  pulsar-client-cpp/include/gtest/gtest_prod.h
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/lib/TestUtil.h
  pulsar-client-cpp/lib/UnAckedMessageTrackerEnabled.h
Labels: component/build, release/2.7.1

#9795 [Doc] Add descriptions for set-offload-policies
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/documentation, release/2.7.1

#9530 [DOCS] - Update the topic-level policies
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.1/reference-pulsar-admin.md
Labels: component/documentation, component/topic-policy, release/2.7.1

#9673 [Testing] Improve LocalRunner to support .nar files that aren't on the classpath
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/PackagesApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/FileServer.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PackagesImpl.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/worker/pom.xml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/test

#9823 [Tests] Cleanup test state after a failure, before retrying or proceeding to next methods
  build/run_unit_group.sh
  buildtools/src/main/java/org/apache/pulsar/tests/TestRetrySupport.java
  buildtools/src/test/java/org/apache/pulsar/tests/TestRetrySupportBeforeMethodRetryTest.java
  buildtools/src/test/java/org/apache/pulsar/tests/TestRetrySupportRetryTest.java
  buildtools/src/test/java/org/apache/pulsar/tests/TestRetrySupportSuccessTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PeerReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorGlobalNSTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTlsTest.java
Labels: component/test

#9788 [pulsar-broker] add pending read subscription metrics to stats-internal
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/stats/client/PulsarBrokerStatsClientTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PersistentTopicInternalStats.java
Labels: component/broker

#9828 Support get applied BlacklogQuota
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#9827 Support get applied SubscriptionDispatchRate
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#9814 [Issue 9804] Allow to enable or disable the cursor metrics
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: release/2.7.2

#9695 [ISSUE-9168] DOCS: Update the batch delay default value
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ProducerConfiguration.java
Labels: component/documentation

#9779 [Doc] Add descriptions for bookieID
  conf/bookkeeper.conf
  conf/standalone.conf
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
Labels: component/documentation

#9833 Support get applied ReplicatorDispatchRate
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#9749 [C++] Ensure we compile with -pthread flag
  pulsar-client-cpp/CMakeLists.txt
Labels: component/build, component/c++

#9817 Reduced size of integration tests image
  tests/docker-images/latest-version-image/Dockerfile
Labels: component/build, component/test

#9835 [broker] Continue graceful shutdown even if web service closing fails
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker, release/2.7.2, type/enhancement

#9836 [Testing] Fix Maven Surefire default exclude
  build/run_unit_group.sh
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolWsTest.java
Labels: component/test

#9786 [Issue 9173] [Non Persistent Topics] Auto-create partitions even when the auto-creation is disabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
Labels: release/2.7.2, type/bug

#9676 PIP-74: Implemented memory limit in C++ producer
  pulsar-client-cpp/include/pulsar/ClientConfiguration.h
  pulsar-client-cpp/include/pulsar/Result.h
  pulsar-client-cpp/lib/BatchMessageContainer.cc
  pulsar-client-cpp/lib/BatchMessageContainerBase.cc
  pulsar-client-cpp/lib/ClientConfiguration.cc
  pulsar-client-cpp/lib/ClientConfigurationImpl.h
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ClientImpl.h
  pulsar-client-cpp/lib/MemoryLimitController.cc
  pulsar-client-cpp/lib/MemoryLimitController.h
  pulsar-client-cpp/lib/MessageAndCallbackBatch.cc
  pulsar-client-cpp/lib/MessageAndCallbackBatch.h
  pulsar-client-cpp/lib/OpSendMsg.h
  pulsar-client-cpp/lib/ProducerConfiguration.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
  pulsar-client-cpp/lib/Result.cc
  pulsar-client-cpp/lib/Semaphore.cc
  pulsar-client-cpp/lib/Semaphore.h
  pulsar-client-cpp/perf/PerfProducer.cc
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
  pulsar-client-cpp/tests/BatchMessageTest.cc
  pulsar-client-cpp/tests/MemoryLimitControllerTest.cc
  pulsar-client-cpp/tests/MemoryLimitTest.cc
  pulsar-client-cpp/tests/PulsarFriend.h
  pulsar-client-cpp/tests/SemaphoreTest.cc
Labels: type/enhancement

#9660 [issue 9585][Consumer]delete disconnected consumers to allow auto-discovery
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: release/2.7.2

#9776 [Pulsar Transaction]Transaction client transaction state check
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionLowWaterMarkTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
Labels: component/txn

#8576 Issue 8558: Upgrade Kubernetes client and remove sundr-codegen (allow Pulsar to run on JDK14+)
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/secrets/pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/functions

#9846 Allow DockerImage to be built from source tarball
  pulsar-client-cpp/docker/build-wheels.sh
  pulsar-client-cpp/pkg/deb/build-deb.sh
  pulsar-client-cpp/pkg/deb/docker-build-deb.sh
  pulsar-client-cpp/pkg/rpm/build-rpm.sh
  pulsar-client-cpp/pkg/rpm/docker-build-rpm.sh
Labels: component/build

#9843 Fix Documentation Typo for Offloading to AWS S3
  site2/docs/tiered-storage-aws.md
  site2/website/versioned_docs/version-2.7.0/tiered-storage-aws.md
  site2/website/versioned_docs/version-2.7.1/tiered-storage-aws.md
Labels: component/documentation, component/tieredstorage

#9831 Support get applied PersistencePolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: component/topic-policy

#9832 Support get applied clusterSubscribeRate
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#9819 [Issue 9790] Support disabled the tenants/namespaces force deletion in the broker.conf
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  site2/docs/reference-configuration.md
Labels: component/documentation, type/feature

#9789 [pulsar-broker] Allow broker to discover and unblock stuck subscription
  conf/broker.conf
  deployment/terraform-ansible/templates/broker.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/PositionImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
  site2/docs/reference-configuration.md
Labels: component/broker

#9614 [schema] expose the native record for struct schema
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/GenericRecord.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroRecord.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericProtobufNativeRecord.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroRecordTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecordTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericProtobufNativeReaderTest.java
Labels: component/schemaregistry

#9858 [Tests] Migrate Junit tests and annotations to TestNG
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/MaxUnackedMessagesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/CurrentLedgerRolloverIfFullTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMarkerDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/TopicDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenOauth2AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConsumerAckResponseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessagePublishThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicPublishThrottlingInitTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/stats/client/PulsarBrokerStatsClientTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdPackages.java
  pulsar-common/src/test/java/org/apache/pulsar/common/api/raw/RawMessageImplTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/config/TestWorkerConfig.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/WorkerUtilsTest.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestAbstractConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestAbstractZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestApplication.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestEnvVarResolverProperties.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestPollingPropertiesFileConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestPollingZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestPropertiesFileConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestStaticZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/sink/StringSinkTests.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/source/StringSourceTests.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/InfluxDBGenericRecordSinkTest.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSinkConfigTest.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSinkTest.java
  pulsar-package-management/bookkeeper-storage/src/test/java/org/apache/pulsar/packages/management/storage/bookkeeper/BookKeeperPackagesStorageTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyStatsTest.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/AbstractWebSocketHandlerTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/NonDurableConsumerMessagingTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarTestBase.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BufferedOffloadStreamTest.java
Labels: component/test

#9864 [Flaky test] Fix flaky test PulsarFunctionsTest.testExclamationFunction
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/test, flaky-tests

#9871 [Tests] Pass stdout and stderr in error message when it's asserted to be empty
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/FunctionsCLITest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/PackagesCliTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/docker/ContainerExecResult.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
Labels: component/test

#9870 [Flaky test] Fix flakiness in PulsarStateTest
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
Labels: component/test, flaky-tests

#9799 [ISSUE 9757][pulsar-admin] add cmd to get service url of the leader broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBrokers.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/BrokerInfo.java
  site2/docs/admin-api-brokers.md
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation, doc-required, release/2.7.2, type/enhancement

#9866 [Flaky test] Reduce flakiness in MultiTopicsReaderTest by configuring infinite retention
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MultiTopicsReaderTest.java
Labels: component/test, flaky-tests

#9849 Fix ensure single-topic consumer can be closed
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
Labels: component/client, release/2.7.2, type/bug

#9853 Fix schema not added when subscribe an empty topic without schema
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
Labels: component/schemaregistry, release/2.7.2, type/bug

#9875 Exclude inner classes in surefire
  pom.xml
Labels: component/test

#9824 Support get applied dispatchRate
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#9879 User seperate ports for rabbitmq source sink integration tests
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/RabbitMQBrokerManager.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/sink/RabbitMQSinkConfigTest.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/sink/RabbitMQSinkTest.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/source/RabbitMQSourceConfigTest.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/source/RabbitMQSourceTest.java
  pulsar-io/rabbitmq/src/test/resources/sinkConfig.yaml
Labels: flaky-tests

#9890 [Build] RPM build script use wrong path for root dir
  pulsar-client-cpp/pkg/rpm/build-rpm.sh
Labels: component/build

#9862 [Docs] Message Queue example in Go
  site2/docs/cookbooks-message-queue.md
  site2/website/versioned_docs/version-2.7.0/cookbooks-message-queue.md
Labels: component/documentation

#9797 [Issue 9602] Add schema type validation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaTypeCompatibilityCheckTest.java
Labels: component/schemaregistry, release/2.7.2, type/bug

#9855 Fix batch size not set when deserializing from byte array
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageIdImplTest.java
Labels: component/client, release/2.7.2, type/bug

#9785 Pulsar Client: allow to print GenericRecord contents
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  site2/docs/reference-cli-tools.md
Labels: component/cli, component/documentation, type/feature

#9883 [Build] Patch maven's wagon-http library to fix issues in artifact downloads
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-pulsar-website-build.yaml
  .github/workflows/ci-pulsarbot.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
  build/replace_maven-wagon-http-version.sh
Labels: component/build

#9882 [Build] Improve maven module build order
  build/run_integration_group.sh
  distribution/offloaders/pom.xml
  distribution/pom.xml
  distribution/server/pom.xml
  distribution/server/src/assemble/bin.xml
  docker/pom.xml
  docker/pulsar-all/pom.xml
  docker/pulsar/pom.xml
  pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-io/docs/pom.xml
  src/check-binary-license
  tests/bc_2_0_0/pom.xml
  tests/bc_2_0_1/pom.xml
  tests/bc_2_6_0/pom.xml
  tests/docker-images/java-test-image/pom.xml
  tests/docker-images/pom.xml
  tests/pom.xml
Labels: component/build

#9887 Remove inner class exclusion from run_unit_group selection
  build/run_unit_group.sh
Labels: component/build

#9891 [Build] Skip python 3.9 wheel build
  pulsar-client-cpp/docker/build-client-lib.sh
  pulsar-client-cpp/docker/build-wheels.sh
Labels: component/build

#9841 [Pulsar SQL]support protobuf_native decoder
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarDispatchingRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/protobufnative/PulsarProtobufNativeColumnDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/protobufnative/PulsarProtobufNativeRowDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/protobufnative/PulsarProtobufNativeRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/protobufnative/package-info.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/protobufnative/ProtobufNativeDecoderTestUtil.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/protobufnative/TestMsg.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/protobufnative/TestMsg.proto
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/protobufnative/TestProtobufNativeDecoder.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/StockMsg.proto
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/StockProtoMessage.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
Labels: component/sql, type/feature

#9874 [docs] Add description for max topics per namespace
  site2/docs/reference-configuration.md
Labels: component/documentation

#9897 Add docs for packages command
  site2/tools/pulsar-admin-doc-gen.sh
Labels: component/documentation

#9880 [Workflow] Add guidelines for "how to modify c++ client api doc"
  site2/README.md
Labels: component/documentation

#9349 issue#9345 -- bug fix for RuntimeUtils.getCmd not setting pending-async-requests
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/worker/WorkerApiV2ResourceConfigTest.java
  pulsar-functions/src/test/resources/test_worker_config.yml
Labels: component/functions, release/2.7.2

#9671 [Functions] Abstract repetitive code and add unit tests. #9502
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
Labels: component/functions

#9893 More fixes about running tests on JDK11
  pom.xml
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
  tiered-storage/file-system/pom.xml
  tiered-storage/jcloud/pom.xml
Labels: component/test

#9628 [Pulsar SQL] Add max split entry queue size bytes limitation
  conf/presto/catalog/pulsar.properties
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorConfig.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/util/CacheSizeAllocator.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/util/NoStrictCacheSizeAllocator.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/util/NullCacheSizeAllocator.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/util/package-info.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestCacheSizeAllocator.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestNoStrictCacheSizeAllocator.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnectorConfig.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
Labels: component/sql

#9886 [WebSocket Client] Make the browser client support the token authentication
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/AbstractWebSocketHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketHttpServletRequestWrapper.java
  site2/docs/client-libraries-websocket.md
Labels: component/security, component/websocket

#9590 Support writing general records to Pulsar sink
  .github/workflows/ci-integration-function.yaml
  build/run_integration_group.sh
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/GenericRecordSource.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/GenericRecordSourceTest.java
  tests/integration/src/test/resources/pulsar-function.xml
  tests/integration/src/test/resources/pulsar.xml
Labels: component/functions, component/io

#9876 [Metrics] Add the broker connection metrics.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerOperabilityMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/stats/Rate.java
  site2/docs/reference-metrics.md
Labels: release/2.7.2

#9905 Try to ease the wait time for some of test case for StreamingEntryReader to reduce flakiness.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReaderTests.java
Labels: component/test

#9826 Fix message not dispatch for key_shared sub type in non-persistent su…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: release/2.7.2

#9907 [fix #9851] Add forwardSourceMessageProperty to SourceConfig
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SourceConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestPropertySource.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarSourcePropertyTest.java
  tests/integration/src/test/resources/pulsar-function.xml
Labels: doc-required, release/2.7.2, release/note-required

#9908 Cleanup code issues in test srcs
  buildtools/src/main/java/org/apache/pulsar/tests/AnnotationListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/RetryAnalyzer.java
  buildtools/src/main/java/org/apache/pulsar/tests/TestRetrySupport.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/MockedBookKeeperTestCase.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdPackages.java
  pulsar-client/src/test/java/org/apache/pulsar/client/api/AuthenticationTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/api/ConsumerIdTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxRequestTimeoutQueueTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarServiceNameResolverTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/UnAckedMessageTrackerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/DefaultCryptoKeyReaderConfigurationDataTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/DoubleSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/FloatSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/ProtobufNativeSchemaUtilsTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/tutorial/ContinuousAsyncProducer.java
  pulsar-client/src/test/java/org/apache/pulsar/client/tutorial/ContinuousProducer.java
  pulsar-client/src/test/java/org/apache/pulsar/client/tutorial/SampleAsyncProducer.java
  pulsar-client/src/test/java/org/apache/pulsar/client/tutorial/SampleConsumerListener.java
  pulsar-client/src/test/java/org/apache/pulsar/client/tutorial/SampleCryptoProducer.java
  pulsar-client/src/test/java/org/apache/pulsar/client/tutorial/SampleProducer.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ClusterData.java
  pulsar-common/src/test/java/org/apache/pulsar/common/api/raw/RawMessageImplTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/BacklogQuotaTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/OffloadPoliciesTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/PoliciesDataTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/ReplicatorStatsTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/ResourceQuotaTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/RateLimiterTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMapTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/FieldParserTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/GrowableArrayBlockingQueueTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/TripleLongPriorityQueueTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/netty/ChannelFuturesTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/WorkerUtilsTest.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestPollingZooKeeperConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestPropertiesFileConfigurationProvider.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/sink/StringSinkTests.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/source/StringSourceTests.java
  pulsar-io/flume/src/test/resources/flume-conf-with-envvars.properties
  pulsar-package-management/bookkeeper-storage/src/test/java/org/apache/pulsar/packages/management/storage/bookkeeper/BookKeeperPackagesStorageTest.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/AbstractWebSocketHandlerTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BufferedOffloadStreamTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/DataBlockHeaderTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/DataBlockHeaderV2Test.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/MockManagedLedger.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/provider/TieredStorageConfigurationTests.java
Labels: component/test

#9894 [BUG]fix zkBookieRackAffinityMapping bug to support for bookkeeper dnsResolver
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMapping.java
Labels: component/storage, release/2.7.2

#9912 [docs] Added link to official dotnet client
  site2/docs/concepts-clients.md
  site2/website/versioned_docs/version-2.6.0/concepts-clients.md
  site2/website/versioned_docs/version-2.6.1/concepts-clients.md
  site2/website/versioned_docs/version-2.6.2/concepts-clients.md
  site2/website/versioned_docs/version-2.6.3/concepts-clients.md
  site2/website/versioned_docs/version-2.7.0/concepts-clients.md
  site2/website/versioned_docs/version-2.7.1/concepts-clients.md
Labels: component/website

#9911 [Doc] Use pluggable function runtime setting in the doc
  site2/docs/functions-runtime.md
  site2/website/versioned_docs/version-2.5.0/functions-runtime.md
  site2/website/versioned_docs/version-2.5.1/functions-runtime.md
  site2/website/versioned_docs/version-2.5.2/functions-runtime.md
  site2/website/versioned_docs/version-2.6.0/functions-runtime.md
  site2/website/versioned_docs/version-2.6.1/functions-runtime.md
  site2/website/versioned_docs/version-2.6.2/functions-runtime.md
  site2/website/versioned_docs/version-2.6.3/functions-runtime.md
  site2/website/versioned_docs/version-2.7.0/functions-runtime.md
  site2/website/versioned_docs/version-2.7.1/functions-runtime.md
Labels: component/documentation, component/functions

#9931 [Website] Add 2.7.1 swagger files
  site2/website/static/swagger/2.7.1/swagger.json
  site2/website/static/swagger/2.7.1/swaggerfunctions.json
  site2/website/static/swagger/2.7.1/swaggersink.json
  site2/website/static/swagger/2.7.1/swaggersource.json
Labels: component/website

#9930 [Website] Increase the memory limit for the build
  site2/tools/build-site.sh
Labels: component/website

#9933 [Documentation] Fix ThresholdShedder Typo
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  site2/docs/reference-configuration.md
  site2/website/blog/2020-06-18-Apache-Pulsar-2-6-0.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
Labels: component/documentation

#9941 [Documentation] Fix reference configuration table formatting
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.3/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
Labels: component/documentation

#9949 [Website] Update release.json in website
  site2/website/releases.json
Labels: component/website

#9938 [Doc] Add guides for producer access mode
  site2/docs/concepts-messaging.md
Labels: component/documentation

#9937 [Doc] Add guides for TLS SNI support (C++ and Python clients)
  site2/docs/concepts-proxy-sni-routing.md
Labels: component/documentation

#9934 [CI] Fix Transaction flaky test.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionLowWaterMarkTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
Labels: flaky-tests

#9951 [Doc] Support DLQ in key_shared subscription mode
  site2/docs/concepts-messaging.md
Labels: component/documentation, component/key-shared

#9954 [Doc]--Add metrics for producer throttling
  site2/docs/reference-metrics.md
Labels: component/documentation, component/metrics

#9945 Revert "[fix #9851] Add forwardSourceMessageProperty to SourceConfig …
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/io/SourceConfig.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestPropertySource.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarSourcePropertyTest.java
  tests/integration/src/test/resources/pulsar-function.xml
Labels: component/functions, release/2.7.2

#9965 Harden RawReaderTest with Awaitility
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
Labels: component/test

#9898 Upgrade to Apache Avro 1.10.2
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroReader.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/ProtobufSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaBuilderTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaInfoTest.java
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/avro/TestAvroDecoder.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/json/TestJsonDecoder.java
Labels: component/build, component/schemaregistry

#9967 [pulsar-discovery] Replace MetadataStore with ZooKeeper in discoveryservice
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/LoadManagerReportResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceWebTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/ServerConnection.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceServlet.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/MetadataStoreCacheLoader.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/ZookeeperCacheLoader.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/BaseDiscoveryTestSetup.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/BaseZKStarterTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceWebTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/MetadataStoreCacheLoaderTest.java
Labels: component/discovery

#9943 [Issue-9926][Pulsar Functions] Pass through record properties from Pulsar Sources
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestPropertySource.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarSourcePropertyTest.java
  tests/integration/src/test/resources/pulsar-function.xml
Labels: component/io, release/2.7.2, type/bug

#9983 Add apache.httpcomponents.httpclient to dependencyManagement
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#9963 [Build] Run PR builds for merge commit
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-pulsarbot.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/build

#9976 [Performance] Optimize NamespaceBundle.toString() which is on the hot path
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundle.java
Labels: type/enhancement

#9957 [Performance] Omit call to log.debug in hot code path ManagedLedgerImpl.doCacheEviction
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java
Labels: type/enhancement

#9834 Add pulsar 2.7.1 release note
  site2/website/release-notes.md
Labels: component/documentation, release/2.7.1

#9998 [Website] Add 2.7.1 in versions.json
  site2/website/versions.json
Labels: component/website

#9972 [docs] Fix package REST API command issues
  site2/docs/admin-api-packages.md
Labels: component/package, component/website

#9900 Make readModifyUpdate in MetadataCacheImpl thread-safe
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: release/2.7.2, type/bug

#9985 Fix NPE caused by null value of SchemaInfo's properties
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaUtils.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaInfoTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: type/bug

#9996 Remove useless wrapper
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
Labels: type/enhancement

#9989 Support set compaction threshold in broker-level
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
Labels: doc-required, release/note-required

#9981 Fix error OutOfMemoryError while using KeyValue<GenericRecord, GenericRecord>
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/KeyValueTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
Labels: component/schemaregistry, release/2.7.2

#10005 Update powered by page
  site2/website/data/users.js
Labels: component/website

#9961 [Build] Python-client build script use wrong path for root dir
  pulsar-client-cpp/docker/build-wheels.sh
Labels: component/build

#9973 [pulsar-proxy] Remove zk direct dependency from Proxy
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/MetadataStoreCacheLoader.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceServlet.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/BaseDiscoveryTestSetup.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/BaseZKStarterTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceWebTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/MetadataStoreCacheLoaderTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/BrokerDiscoveryProvider.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/util/ZookeeperCacheLoader.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAdditionalServletTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticatedProducerConsumerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyEnableHAProxyProtocolTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyIsAHttpProxyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyKeyStoreTlsTestWithAuth.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyKeyStoreTlsTestWithoutAuth.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyParserTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyStatsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTestWithAuth.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/SuperUserAuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/UnauthedAdminProxyHandlerTest.java
Labels: component/proxy

#10007 [Build] Fix shading for ahc-default.properties file
  pulsar-broker-shaded/pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-admin/src/main/resources/org/asynchttpclient/config/ahc-default.properties
  pulsar-client-admin/src/main/resources/org/asynchttpclient/config/ahc.properties
  pulsar-client-all/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-client/src/main/resources/ahc.properties
  pulsar-functions/localrun-shaded/pom.xml
Labels: component/build, type/enhancement

#10006 [C++] Fix segfault when get topic name from received message id
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/tests/ConsumerTest.cc
Labels: release/2.7.2

#9991 Fix the useless retry when the maximum number of subscriptions is reached
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: release/2.7.2, type/bug

#9857 [Documentation][Geo Replication] Document clusters create step in geo replication
  site2/docs/administration-geo.md
Labels: component/documentation

#9884 [Issue 9867][scripts] Fixes issue
  docker/pulsar/scripts/gen-yml-from-env.py
Labels: type/enhancement

#10009 Test Cleanup
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: component/test

#9975 [api][pulsar-client]Add get version command for pulsar rest api, pulsar-admin, pulsar-client
  bin/pulsar
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarVersionStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBrokers.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/PulsarVersionTest.java
  tests/integration/src/test/resources/pulsar-cli.xml
Labels: component/admin, component/broker, component/client, component/rest, doc-required

#10000 Upgrade Lombok version
  pom.xml
Labels: component/build

#9913 [docs] Fix installation instructions in c# documentation
  site2/docs/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-dotnet.md
Labels: component/documentation

#9910 [Pulsar-sql]Using pulsar SQL query messages will appear `NoSuchLedger…
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryChangeLedgerPathTest.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
Labels: component/sql, release/2.7.2

#9980 [Pulsar SQL] Make the Pulsar SQL support query the uppercase topic
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestPulsarSQLBase.java
Labels: release/2.7.2

#9979 [Issue-9946][Pulsar Functions]Fix: Deleting a Pulsar Function with a name that includes a colon character crashes the pulsar broker
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionInstanceId.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionInstanceIdTest.java
Labels: component/functions, type/bug

#9974 [Transaction] Transaction buffer clear abort transactions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
Labels: component/txn

#10017 [pulsar-client] Process partitioned-topic messages on different listener-threads
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageTest.java
Labels: component/client

#10001 [CI] Improve Maven repository caching in Pulsar CI / GitHub Actions
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-pulsar-website-build.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/build

#10002 [kafka] Implement KeyValue support for KafkaBytesSource
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/AvroSchemaCache.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/ByteBufferSchemaWrapper.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaBytesSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaStringSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/ByteBufferSchemaWrapperTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/KafkaBytesSourceTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: component/connect

#10031 [C++] Support configure debug level logs simply
  pulsar-client-cpp/include/pulsar/SimpleLoggerFactory.h
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/LogUtils.cc
  pulsar-client-cpp/lib/SimpleLoggerFactory.cc
  pulsar-client-cpp/tests/CustomLoggerTest.cc
Labels: component/c++
