Repository apache/pulsar, pull requests merged in 2021-09, with the labels that each got.

#11856 [Schema] Schema compatibility strategy in broker level.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaTypeCompatibilityCheckTest.java
Labels: doc-required

#11853 [pulsar-functions-go] sync to the latest function proto
  pulsar-function-go/pb/Function.pb.go
  pulsar-function-go/pb/InstanceCommunication.pb.go
  pulsar-function-go/pb/Request.pb.go
  pulsar-function-go/pb/doc.go
Labels: component/functions, component/go, no-need-doc, release/2.8.2

#11875 Upgrade Netty to 4.1.67.Final
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: dependencies

#11778 [Tests] Fix BaseMetadataStoreTest retries
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BacklogQuotaCompatibilityTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BaseMetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/CounterTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/LeaderElectionTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/LockManagerTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreExtendedTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: flaky-tests

#11885 Fixed ResourceLockTest.revalidateLockOnDifferentSession()
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/LockManagerTest.java
Labels: flaky-tests, no-need-doc

#11886 Fixed ZKSessionTest.testReacquireLocksAfterSessionLost
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/ResourceLockImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/ZKSessionTest.java
Labels: type/bug, no-need-doc, release/2.8.2

#11863 [Broker] Refine topic level backlog quota policies warning log
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
Labels: component/broker, component/topic-policy, no-need-doc, release/2.7.4, release/2.8.2

#11809 [pulsar-client-tools] fix packages tool parameter desc
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPackages.java
Labels: no-need-doc, release/2.8.2

#11879 [Test] Fix managed cursor metrics test
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedCursorMetricsTest.java
Labels: component/test

#11887 [Python] Ensure producer is keeping the client object alive
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
Labels: type/bug, no-need-doc, release/2.8.2

#11868 [function] enable protobuf-native schema support for function
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/TopicSchemaTest.java
Labels: component/functions, no-need-doc, release/2.8.2

#11802 [Client] Reduce redundant FLOW requests for non-durable multi-topics consumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonDurableSubscriptionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, component/client, no-need-doc, release/2.8.2

#11777 [Authorization] AuthorizationService should use provider's canLookupAsync method
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
Labels: component/broker, component/proxy, component/security, doc-required

#11826 fix seek at batchIndex level receive duplicated messages
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, component/client, release/2.7.4, release/2.8.2

#11784 Remove the uncorrect VisableTesting annotation in pulsar-client
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/Backoff.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageAcker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: release/2.8.2

#11900 Fix the Pulsar Proxy flaky test (Collector already registered that provides name: jvm_memory_direct_bytes_used)
  build/run_unit_group.sh
Labels: flaky-tests, release/2.8.1, no-need-doc

#11882 [Python] Fix deadlock caused by ExecutorService::close
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ExecutorService.cc
Labels: type/bug, component/c++, component/python, no-need-doc, release/2.8.2

#11888 [website][upgrade]feat: docs migration about Pulsar Schema (versions: next/2.8.0/2.7.3)
  site2/website-next/docs/schema-evolution-compatibility.md
  site2/website-next/docs/schema-get-started.md
  site2/website-next/docs/schema-manage.md
  site2/website-next/docs/schema-understand.md
  site2/website-next/scripts/migration.js
  site2/website-next/sidebars.js
  site2/website-next/sidebars.json
  site2/website-next/versioned_docs/version-2.7.3/schema-evolution-compatibility.md
  site2/website-next/versioned_docs/version-2.7.3/schema-get-started.md
  site2/website-next/versioned_docs/version-2.7.3/schema-manage.md
  site2/website-next/versioned_docs/version-2.7.3/schema-understand.md
  site2/website-next/versioned_docs/version-2.8.0/schema-evolution-compatibility.md
  site2/website-next/versioned_docs/version-2.8.0/schema-get-started.md
  site2/website-next/versioned_docs/version-2.8.0/schema-manage.md
  site2/website-next/versioned_docs/version-2.8.0/schema-understand.md
  site2/website-next/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website-next/versioned_sidebars/version-2.8.0-sidebars.json
Labels: doc, component/website

#11908 [website][upgrade] add tabs supported
  site2/website-next/docs/schema-evolution-compatibility.md
  site2/website-next/docs/schema-get-started.md
  site2/website-next/docs/schema-manage.md
  site2/website-next/docs/schema-understand.md
  site2/website-next/docusaurus.config.js
  site2/website-next/scripts/fix-tab.js
  site2/website-next/scripts/migration.js
  site2/website-next/versioned_docs/version-2.7.3/schema-evolution-compatibility.md
  site2/website-next/versioned_docs/version-2.7.3/schema-get-started.md
  site2/website-next/versioned_docs/version-2.7.3/schema-manage.md
  site2/website-next/versioned_docs/version-2.7.3/schema-understand.md
  site2/website-next/versioned_docs/version-2.8.0/schema-evolution-compatibility.md
  site2/website-next/versioned_docs/version-2.8.0/schema-get-started.md
  site2/website-next/versioned_docs/version-2.8.0/schema-manage.md
  site2/website-next/versioned_docs/version-2.8.0/schema-understand.md
Labels: doc, component/website

#11896 [docs] Update compaction metrics in 282
  site2/docs/reference-metrics.md
  site2/website/versioned_docs/version-2.8.2/reference-metrics.md
Labels: doc

#11867 Added MetadataStore deleteRecursive operation
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/FaultInjectionMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: type/enhancement, no-need-doc

#11912 Forbid to read other topic's data in managedLedger layer
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/security, release/blocker, release/2.8.1, no-need-doc

#11921 Fixed merge conflict on MetadataStoreTest
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: component/build, no-need-doc

#11919 [C++] Move all C symbols into C++ pulsar namespace
  pulsar-client-cpp/lib/CMakeLists.txt
  pulsar-client-cpp/lib/checksum/crc32c_sse42.cc
  pulsar-client-cpp/lib/checksum/crc32c_sse42.h
  pulsar-client-cpp/lib/checksum/crc32c_sw.cc
  pulsar-client-cpp/lib/checksum/crc32c_sw.h
  pulsar-client-cpp/lib/checksum/gf2.hpp
  pulsar-client-cpp/lib/lz4/lz4.c
  pulsar-client-cpp/lib/lz4/lz4.cc
  pulsar-client-cpp/lib/lz4/lz4.h
Labels: type/enhancement, component/c++, no-need-doc, release/2.8.2

#11929 [website][upgrade] inject link plugin implement
  site2/website-next/docs/schema-manage.md
  site2/website-next/docusaurus.config.js
  site2/website-next/package.json
  site2/website-next/plugins/remark-linkify-regex.js
  site2/website-next/scripts/migration.js
  site2/website-next/versioned_docs/version-2.7.3/schema-manage.md
  site2/website-next/versioned_docs/version-2.7.3/schema-understand.md
  site2/website-next/versioned_docs/version-2.8.0/schema-manage.md
  site2/website-next/versioned_docs/version-2.8.0/schema-understand.md
Labels: doc, component/website

#11897 [Branch-2.7][Broker] Fix using partitioned topic name to get topic policies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: type/bug, component/topic-policy, no-need-doc, release/2.7.4

#11925 Use ZK "container" types for intermediate z-nodes
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
Labels: type/enhancement, no-need-doc

#11907 [doc] update terminate topic docs, since terminate is not support for non-p…
  site2/docs/reference-pulsar-admin.md
  site2/website/static/swagger/2.3.0/swagger.json
  site2/website/static/swagger/2.3.1/swagger.json
  site2/website/static/swagger/2.3.2/swagger.json
  site2/website/static/swagger/2.4.0/swagger.json
  site2/website/static/swagger/2.4.1/swagger.json
  site2/website/static/swagger/2.4.2/swagger.json
  site2/website/static/swagger/2.5.0/swagger.json
  site2/website/static/swagger/2.5.1/swagger.json
  site2/website/static/swagger/2.5.2/swagger.json
  site2/website/static/swagger/2.6.0/swagger.json
  site2/website/static/swagger/2.6.1/swagger.json
  site2/website/static/swagger/2.6.2/swagger.json
  site2/website/static/swagger/2.7.0/swagger.json
  site2/website/static/swagger/2.7.1/swagger.json
  site2/website/static/swagger/2.7.2/swagger.json
  site2/website/static/swagger/2.7.3/swagger.json
  site2/website/static/swagger/2.8.0/swagger.json
  site2/website/versioned_docs/version-2.1.0-incubating/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.2.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.2.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.3/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.4/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.3/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.8.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.8.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.8.2/reference-pulsar-admin.md
Labels: doc

#11906 Forget to update memory usage on producer close
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerMemoryLimitTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, component/client, no-need-doc

#11903 [Broker] Add verification when terminating non-persistent topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminResourceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: type/bug

#11797 [testclient] Fix IndexOutOfBoundsException when --subscriptions size is less than --num-subscriptions in consumption
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
Labels: component/tools

#11934 [Transaction] add method to clear up transaction buffer snapshot
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TransactionBufferSystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferDisable.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
Labels: component/txn, no-need-doc, release/2.8.2

#11828 [testclient] hide option -s and substitute -ss(0) for it
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  site2/docs/reference-cli-tools.md
Labels: doc, component/test, component/client, release/2.8.2

#11942 [Build] Fix docker image install python3.7-dev problem
  docker/pulsar/Dockerfile
Labels: component/build, no-need-doc

#11946 Add new committers to the team page
  site2/website/data/team.js
Labels: component/website

#11939 [Issue 11936] forget to call SendCallback on producer close
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerCloseTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, release/2.8.2

#11918 [PIP-82] [pulsar-broker] Misc fixes:
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceQuotaCalculatorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMesgsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupUsageAggregationTest.java
Labels: component/broker

#11938 [website][upgrade]feat: pulsar functions docs migratin for version next/2.8.0/2.7.3
  site2/website-next/docs/functions-api.md
  site2/website-next/docs/functions-cli.md
  site2/website-next/docs/functions-debug.md
  site2/website-next/docs/functions-debugging.md
  site2/website-next/docs/functions-deploy.md
  site2/website-next/docs/functions-deploying.md
  site2/website-next/docs/functions-develop.md
  site2/website-next/docs/functions-guarantees.md
  site2/website-next/docs/functions-metrics.md
  site2/website-next/docs/functions-overview.md
  site2/website-next/docs/functions-package.md
  site2/website-next/docs/functions-quickstart.md
  site2/website-next/docs/functions-runtime.md
  site2/website-next/docs/functions-state.md
  site2/website-next/docs/functions-worker.md
  site2/website-next/docs/window-functions-context.md
  site2/website-next/docusaurus.config.js
  site2/website-next/scripts/fix-tab.js
  site2/website-next/scripts/migration.js
  site2/website-next/scripts/migration.sh
  site2/website-next/sidebars.json
  site2/website-next/versioned_docs/version-2.7.3/functions-cli.md
  site2/website-next/versioned_docs/version-2.7.3/functions-debug.md
  site2/website-next/versioned_docs/version-2.7.3/functions-deploy.md
  site2/website-next/versioned_docs/version-2.7.3/functions-develop.md
  site2/website-next/versioned_docs/version-2.7.3/functions-metrics.md
  site2/website-next/versioned_docs/version-2.7.3/functions-overview.md
  site2/website-next/versioned_docs/version-2.7.3/functions-package.md
  site2/website-next/versioned_docs/version-2.7.3/functions-runtime.md
  site2/website-next/versioned_docs/version-2.7.3/functions-worker.md
  site2/website-next/versioned_docs/version-2.7.3/window-functions-context.md
  site2/website-next/versioned_docs/version-2.8.0/functions-cli.md
  site2/website-next/versioned_docs/version-2.8.0/functions-debug.md
  site2/website-next/versioned_docs/version-2.8.0/functions-deploy.md
  site2/website-next/versioned_docs/version-2.8.0/functions-develop.md
  site2/website-next/versioned_docs/version-2.8.0/functions-metrics.md
  site2/website-next/versioned_docs/version-2.8.0/functions-overview.md
  site2/website-next/versioned_docs/version-2.8.0/functions-package.md
  site2/website-next/versioned_docs/version-2.8.0/functions-runtime.md
  site2/website-next/versioned_docs/version-2.8.0/functions-worker.md
  site2/website-next/versioned_docs/version-2.8.0/window-functions-context.md
  site2/website-next/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website-next/versioned_sidebars/version-2.8.0-sidebars.json
Labels: doc, component/website

#11943 [Branch-2.7][Build] Fix docker image install python3.7-dev problem
  docker/pulsar/Dockerfile
Labels: component/build, no-need-doc, release/2.7.4

#11958 [C++] Fixed attempting to connect to multiple IP addresses
  pulsar-client-cpp/lib/ClientConnection.cc
Labels: type/bug, component/c++, no-need-doc

#11954 [C++] Handle error when shutting down client after forks
  pulsar-client-cpp/lib/ExecutorService.cc
Labels: type/enhancement, component/c++, no-need-doc, release/2.8.2

#11961 Add issue template for PIP
  .github/ISSUE_TEMPLATE/pip.md
Labels: doc

#11944 [Issue #11799][logging] PIP-89: Timed log events
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/slf4j/Slf4jEvent.java
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/slf4j/Slf4jStructuredEventLog.java
  structured-event-log/src/test/java/org/apache/pulsar/structuredeventlog/slf4j/StructuredEventLogTest.java
Labels: no-need-doc

#11963 [Issue #11799][logging] PIP-89: Enum based logging
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/EventGroup.java
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/slf4j/Slf4jEvent.java
  structured-event-log/src/test/java/org/apache/pulsar/structuredeventlog/slf4j/StructuredEventLogTest.java
Labels: no-need-doc

#11937 Avoid to infinitely split bundle
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/BundleSplitterTask.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/BundleSplitterTaskTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
Labels: type/enhancement, release/2.8.2

#11931 [pulsar-client]Add a optional params scope for pulsar oauth2 client
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/AuthenticationFactoryOAuth2.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/ClientCredentialsFlow.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/ClientCredentialsExchangeRequest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenClient.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenClientTest.java
Labels: type/enhancement, doc-required, release/2.8.2

#11969 Print position info when can't find next valid position.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/enhancement, no-need-doc, release/2.7.4, release/2.8.2

#11935 Update the default log pattern
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadDumpUtil.java
  buildtools/src/main/resources/log4j2.xml
  conf/functions_log4j2.xml
  conf/log4j2.yaml
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-client-cpp/include/pulsar/ConsoleLoggerFactory.h
  pulsar-client-cpp/include/pulsar/FileLoggerFactory.h
  pulsar-client-cpp/lib/Log4cxxLogger.cc
  pulsar-discovery-service/pom.xml
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/DiscoveryServiceStarter.java
  pulsar-functions/localrun/src/main/resources/log4j2.xml
  pulsar-functions/runtime-all/src/main/resources/java_instance_log4j2.xml
  pulsar-functions/runtime-all/src/main/resources/kubernetes_instance_log4j2.xml
  pulsar-io/canal/pom.xml
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalStringSource.java
  pulsar-proxy/pom.xml
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  site2/docs/functions-develop.md
  site2/website/versioned_docs/version-2.7.2/functions-develop.md
  site2/website/versioned_docs/version-2.7.3/functions-develop.md
  site2/website/versioned_docs/version-2.8.0/functions-develop.md
  site2/website/versioned_docs/version-2.8.1/functions-develop.md
  site2/website/versioned_docs/version-2.8.2/functions-develop.md
  tiered-storage/jcloud/src/test/resources/log4j2-test.yml
Labels: type/enhancement, release/note-required, no-need-doc

#11975 Remove unused variable and unneccessary box in NamespaceBundleFactory
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
Labels: type/enhancement, release/2.8.2

#11989 [doc]Update contact.js with link to stack overflow
  site2/website/pages/en/contact.js
Labels: doc, component/website

#11995 [Standalone] Fix the assignment of a custom stream-storage-port number
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: type/bug

#12012 Remove deprecated netty allocator tiny size
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/AllocatorStatsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/ManagedLedgerCacheMetrics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/BookieClientsStatsGeneratorTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/stats/AllocatorStats.java
  site2/docs/reference-metrics.md
Labels: type/enhancement

#11982 Fix cherry-pick issue on branch-2.8
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonDurableSubscriptionTest.java
Labels: no-need-doc

#11994 [Broker] Cleanup: remove unnecessary boxing
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
Labels: type/cleanup

#12011 [doc]Update PMC list
  site2/website/data/team.js
Labels: component/website

#10918 [Build] Fix java-test-functions dependencies and packaging
  tests/docker-images/java-test-functions/pom.xml
Labels: type/bug

#12017 [Branch-2.7][Build] Use ubuntu 20.04 as docker image base
  .github/workflows/ci-docker-build.yaml
  docker/pulsar-standalone/Dockerfile
  docker/pulsar/Dockerfile
  docker/pulsar/pom.xml
  docker/pulsar/scripts/install-pulsar-client.sh
  pulsar-function-go/go.mod
  pulsar-function-go/pf/instance.go
Labels: no-need-doc

#11957 [PIP-82] [pulsar-broker] Add missing permission check, fail update on non-existent ResourceGroup
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ResourceGroupsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ResourceGroupsImpl.java
Labels: no-need-doc

#11981 [website][upgrade]feat: docs migration about Pulsar SQL
  site2/website-next/docs/sql-deployment-configurations.md
  site2/website-next/docs/sql-getting-started.md
  site2/website-next/docs/sql-overview.md
  site2/website-next/docs/sql-rest-api.md
  site2/website-next/sidebars.json
  site2/website-next/versioned_docs/version-2.7.3/sql-deployment-configurations.md
  site2/website-next/versioned_docs/version-2.7.3/sql-getting-started.md
  site2/website-next/versioned_docs/version-2.7.3/sql-overview.md
  site2/website-next/versioned_docs/version-2.7.3/sql-rest-api.md
  site2/website-next/versioned_docs/version-2.8.0/sql-deployment-configurations.md
  site2/website-next/versioned_docs/version-2.8.0/sql-getting-started.md
  site2/website-next/versioned_docs/version-2.8.0/sql-overview.md
  site2/website-next/versioned_docs/version-2.8.0/sql-rest-api.md
  site2/website-next/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website-next/versioned_sidebars/version-2.8.0-sidebars.json
Labels: doc, component/website

#12016 [testclient] Add new option --num-messages for consumer and reader
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  site2/docs/reference-cli-tools.md
Labels: doc, component/tools

#12031 [Build] Disable PulsarDebeziumOracleSourceTest until the problem is resolved
  .github/workflows/ci-integration-pulsar-io-ora.yaml
Labels: flaky-tests

#12014 Fix log placeholders not correct
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/netty/EventLoopUtil.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarOffsetBackingStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/ResourceLockImpl.java
Labels: type/enhancement, no-need-doc

#11831 [pulsar-functions] Pass `SubscriptionPosition` from `FunctionDetails` to `FunctionConfig` / `SinkConfig`
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
Labels: type/bug, component/functions, no-need-doc, release/2.8.2

#11997 [website][upgrade]feat: docs migration - Tiered Storage
  site2/website-next/docs/tiered-storage-aliyun.md
  site2/website-next/docs/tiered-storage-aws.md
  site2/website-next/docs/tiered-storage-azure.md
  site2/website-next/docs/tiered-storage-filesystem.md
  site2/website-next/docs/tiered-storage-gcs.md
  site2/website-next/docs/tiered-storage-overview.md
  site2/website-next/sidebars.json
  site2/website-next/versioned_docs/version-2.7.3/tiered-storage-aws.md
  site2/website-next/versioned_docs/version-2.7.3/tiered-storage-azure.md
  site2/website-next/versioned_docs/version-2.7.3/tiered-storage-filesystem.md
  site2/website-next/versioned_docs/version-2.7.3/tiered-storage-gcs.md
  site2/website-next/versioned_docs/version-2.7.3/tiered-storage-overview.md
  site2/website-next/versioned_docs/version-2.8.0/tiered-storage-aliyun.md
  site2/website-next/versioned_docs/version-2.8.0/tiered-storage-aws.md
  site2/website-next/versioned_docs/version-2.8.0/tiered-storage-azure.md
  site2/website-next/versioned_docs/version-2.8.0/tiered-storage-filesystem.md
  site2/website-next/versioned_docs/version-2.8.0/tiered-storage-gcs.md
  site2/website-next/versioned_docs/version-2.8.0/tiered-storage-overview.md
  site2/website-next/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website-next/versioned_sidebars/version-2.8.0-sidebars.json
Labels: doc, component/website

#12058 Force Python CI to use earlier version of Protobuf which supports Python2
  pulsar-client-cpp/run-unit-tests.sh
Labels: component/test, component/build, component/python, no-need-doc

#12044 [Client] Fix endless receiveAsync loop in MultiTopicsConsumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MultiTopicsConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug, component/client, no-need-doc, release/2.8.2

#12057 Fixed ProxyConnection to check for existence of auth_data field
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: type/bug, no-need-doc, release/2.8.2

#12060 Fix malformed format string
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: type/enhancement, no-need-doc

#12064 [PIP-45] Remove ConfigurationCacheService from AuthorizationProvider
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/MultiRolesTokenAuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockAuthorizationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
Labels: type/enhancement, release/note-required

#12067 [Broker] Optimize authz checks in ServerCnx when authz is not enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/enhancement, no-need-doc

#12035 Fix wrong key-hash selector used for new consumers after all the previous consumers disconnected
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: no-need-doc, release/2.7.4, release/2.8.2

#12073 [Issue 11984] Fix zookeeper prometheus metrics doc
  site2/docs/reference-metrics.md
Labels: doc

#12063 [pulsar-broker] Improve JwtParser build
  pulsar-broker/src/main/java/org/apache/pulsar/utils/auth/tokens/TokensCliUtils.java
Labels: type/enhancement, no-need-doc

#12061 Use equals to compare string in CmdGenerateDocs
  pulsar-common/src/main/java/org/apache/pulsar/common/util/CmdGenerateDocs.java
Labels: type/enhancement, no-need-doc

#12001 Add pulsar 2.8.1 release note
  site2/website/release-notes.md
Labels: doc, release/2.8.1

#12083 Add motivation section to PIP template
  .github/ISSUE_TEMPLATE/pip.md
Labels: doc

#12018 Avoid adding duplicated BrokerEntryMetadata
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/bug, component/broker, no-need-doc, release/2.8.2

#12092 Remove python3 from vcpkg.json
  pulsar-client-cpp/vcpkg.json
Labels: type/bug, component/c++, component/build, no-need-doc, release/2.8.2

#12000 [cli] Fix issue where pulsar-client command cannot consume v2 topics through WebSocket
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/client/cli/TestCmdConsume.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/client/cli/TestCmdProduce.java
Labels: type/bug, component/cli, no-need-doc

#11985 [testclient] Printing aggregated data when client exit
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
Labels: component/tools, no-need-doc

#11970 [standalone] remove noisy log on pulsar standalone startup
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: no-need-doc

#12078 [PIP-45] Removed ConfigurationCacheService
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationCacheService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationMetadataCacheService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BookieResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/ClusterResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/LocalPoliciesResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TenantResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TopicResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarInitialNamespaceSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarTransactionCoordinatorMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/cache/LocalZooKeeperCacheService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleResourceAllocationPolicies.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/ServiceUnitUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockAuthorizationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/cache/BundlesQuotasTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/lookup/http/HttpTopicLookupv2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerConfigurationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/NamespaceBundleTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/NamespaceBundlesTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/WorkerServiceWithClassLoader.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalZooKeeperCache.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
Labels: type/enhancement, no-need-doc

#12090 [pulsar-perf] Make it possible to disable poolMessages
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
Labels: type/bug, release/2.8.2

#12093 feat(conf): add journalWriteData config to bk conf
  conf/bookkeeper.conf
Labels: no-need-doc

#12076 [C++] Support setting priority for the consumer
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/tests/ConsumerConfigurationTest.cc
Labels: component/c++, no-need-doc

#12100 PIP-45: Removed access to ZK client from PulsarService
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationCacheService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/MessagingServiceShutdownHook.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaStorageFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
Labels: type/enhancement

#12068 [Broker Auth SASL] Remove unnecessary authenticate method definition
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
Labels: type/enhancement, no-need-doc

#12101 ManagedLedger should not attempt deferrable metadata operation while disconnected
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerErrorsTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryShutdownTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/MockedBookKeeperTestCase.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataTeardown.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/ManagedLedgerStorage.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/FaultInjectionMetadataStore.java
  pulsar-package-management/bookkeeper-storage/src/test/java/org/apache/pulsar/packages/management/storage/bookkeeper/bookkeeper/test/BookKeeperClusterTestCase.java
  pulsar-package-management/bookkeeper-storage/src/test/java/org/apache/pulsar/packages/management/storage/bookkeeper/bookkeeper/test/MockedBookKeeperTestCase.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/test/MockedBookKeeperTestCase.java
Labels: type/enhancement

#12111 Fixed NPE in ProxyConnection with no auth data
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: type/bug, release/2.8.2

#11884 [Client] Fix ConcurrentModificationException in sendAsync
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarTestClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/OpSendMsgQueueTest.java
Labels: component/client, release/blocker, no-need-doc, release/2.8.2

#12116 [WebSite]Increase website build memory
  site2/tools/build-site.sh
Labels: component/website

#12107 [pulsar-broker] Broker auto refresh bk-client certs to avoid cnx failure after cert refresh
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  site2/docs/reference-configuration.md
Labels: component/broker

#12106 [pulsar-client] Fix NPE in pulsar bolt while publishing messages
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
Labels: component/client

#11967 [Broker] Fix getTopic may hang
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipCacheForCurrentServerTest.java
Labels: type/bug, component/broker, no-need-doc

#11977 Add document label check robot
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-documentbot.yml
Labels: doc

#12114 [Docs] Update instructions about Gradle Nar plugin
  site2/docs/io-develop.md
  site2/website-next/docs/io-develop.md
  site2/website-next/versioned_docs/version-2.7.3/io-develop.md
  site2/website-next/versioned_docs/version-2.8.0/io-develop.md
  site2/website/versioned_docs/version-2.5.0/io-develop.md
  site2/website/versioned_docs/version-2.5.1/io-develop.md
  site2/website/versioned_docs/version-2.5.2/io-develop.md
  site2/website/versioned_docs/version-2.6.0/io-develop.md
  site2/website/versioned_docs/version-2.6.1/io-develop.md
  site2/website/versioned_docs/version-2.6.2/io-develop.md
  site2/website/versioned_docs/version-2.6.3/io-develop.md
  site2/website/versioned_docs/version-2.6.4/io-develop.md
  site2/website/versioned_docs/version-2.7.0/io-develop.md
  site2/website/versioned_docs/version-2.7.1/io-develop.md
  site2/website/versioned_docs/version-2.7.2/io-develop.md
  site2/website/versioned_docs/version-2.7.3/io-develop.md
  site2/website/versioned_docs/version-2.8.0/io-develop.md
  site2/website/versioned_docs/version-2.8.1/io-develop.md
  site2/website/versioned_docs/version-2.8.2/io-develop.md
Labels: type/enhancement, doc

#12124 [Issue 12055] Doc use wrong databases name
  site2/docs/io-quickstart.md
Labels: doc

#11905 Fixed KCA Sink handling of Json and Avro; support for kafka connectors that overload task.preCommit() directly
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/KafkaConnectData.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/SchemaedFileStreamSinkTask.java
Labels: no-need-doc

#12134 Revert "Add document label check robot for Pull requests (#11977)"
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-documentbot.yml
Labels: no-need-doc

#12103 Fixed used after recycle issue in OpAddEntry
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
Labels: type/bug, no-need-doc

#12121 [pulsar-broker] support remove-ttl api for V1 namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicMessageTTLTest.java
Labels: doc, component/broker

#12085 [website][upgrade] feat: docs migration - transactions
  site2/website-next/docs/tiered-storage-aliyun.md
  site2/website-next/docs/tiered-storage-aws.md
  site2/website-next/docs/tiered-storage-azure.md
  site2/website-next/docs/tiered-storage-filesystem.md
  site2/website-next/docs/tiered-storage-gcs.md
  site2/website-next/docs/tiered-storage-overview.md
  site2/website-next/docs/txn-how.md
  site2/website-next/docs/txn-monitor.md
  site2/website-next/docs/txn-use.md
  site2/website-next/docs/txn-what.md
  site2/website-next/docs/txn-why.md
  site2/website-next/sidebars.json
  site2/website-next/versioned_docs/version-2.7.3/transactions-api.md
  site2/website-next/versioned_docs/version-2.7.3/transactions-guarantee.md
  site2/website-next/versioned_docs/version-2.7.3/transactions.md
  site2/website-next/versioned_docs/version-2.8.0/txn-how.md
  site2/website-next/versioned_docs/version-2.8.0/txn-monitor.md
  site2/website-next/versioned_docs/version-2.8.0/txn-use.md
  site2/website-next/versioned_docs/version-2.8.0/txn-what.md
  site2/website-next/versioned_docs/version-2.8.0/txn-why.md
  site2/website-next/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website-next/versioned_sidebars/version-2.8.0-sidebars.json
Labels: doc, component/website

#11973 [testclient] Improve parameter checking in pulsar-perf
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PositiveNumberParameterValidator.java
  site2/docs/reference-cli-tools.md
Labels: doc

#12143 [unit test] use correct line separator instead of \n
  pulsar-common/src/test/java/org/apache/pulsar/common/util/CmdGenerateDocsTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/FutureUtilTest.java
Labels: component/test, no-need-doc, release/2.8.2

#11917 [Branch-2.6]Forbid to read other topic's data in managedLedger layer
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/security, release/2.6.4

#11913 [Branch-2.7]Forbid to read other topic's data in managedLedger layer
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/security, release/2.7.4

#12135 Fix typo for BrokerService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: no-need-doc

#12122 [pulsar-server] support v1 api to create non-partition topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: doc

#12102 Added JLine 2.x for ZK CLI tool
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: type/enhancement, no-need-doc

#12147 [testclient] Remove unused variable and import
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdGenerateDocumentation.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerfClientUtils.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
Labels: type/enhancement, no-need-doc

#12120 Avoid trying to refresh MetadataCaches when we're disconnected from ZK
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/extended/SessionEvent.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
Labels: type/enhancement, no-need-doc

#12163 PIP-45: Removed LocalZooKeeperConnectionService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalZooKeeperConnectionService.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/LocalZooKeeperConnectionServiceTest.java
Labels: type/enhancement

#12119 [Discovery Service] Remove module and all its references
  bin/pulsar
  bin/pulsar-daemon
  conf/discovery.conf
  distribution/server/pom.xml
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceWebTest.java
  pulsar-discovery-service/pom.xml
  pulsar-discovery-service/readme.md
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/ServerConnection.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/ServiceChannelInitializer.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/DiscoveryServiceStarter.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServerManager.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServiceConfig.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/util/CmdGenerateDocumentation.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceServlet.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/BaseDiscoveryTestSetup.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/CmdTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/server/DiscoveryServiceStarterTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/server/DiscoveryServiceWebTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/BaseZKStarterTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceWebTest.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/web/MetadataStoreCacheLoaderTest.java
  pulsar-discovery-service/src/test/resources/certificate/client.crt
  pulsar-discovery-service/src/test/resources/certificate/client.key
  pulsar-discovery-service/src/test/resources/certificate/server.crt
  pulsar-discovery-service/src/test/resources/certificate/server.key
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/reference-cli-tools.md
Labels: doc, release/note-required

#11990 [pulsar-functions-go] support set subscription position
  pulsar-function-go/conf/conf.go
  pulsar-function-go/conf/conf.yaml
  pulsar-function-go/pf/instanceConf.go
  pulsar-function-go/pf/instanceConf_test.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/go/GoInstanceConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
Labels: component/functions, component/go, doc-required, release/2.8.2

#12099 [Docs]Update docs for Client libraries Java
  site2/docs/client-libraries-java.md
Labels: doc

#12144 [website][upgrade]feat: docs migration - Kubernetes (Helm) (versions: next/2.8.0/2.73)
  site2/website-next/docs/helm-deploy.md
  site2/website-next/docs/helm-install.md
  site2/website-next/docs/helm-overview.md
  site2/website-next/docs/helm-prepare.md
  site2/website-next/docs/helm-tools.md
  site2/website-next/docs/helm-upgrade.md
  site2/website-next/sidebars.json
  site2/website-next/versioned_docs/version-2.7.3/helm-deploy.md
  site2/website-next/versioned_docs/version-2.7.3/helm-install.md
  site2/website-next/versioned_docs/version-2.7.3/helm-overview.md
  site2/website-next/versioned_docs/version-2.7.3/helm-prepare.md
  site2/website-next/versioned_docs/version-2.7.3/helm-tools.md
  site2/website-next/versioned_docs/version-2.7.3/helm-upgrade.md
  site2/website-next/versioned_docs/version-2.7.3/transactions.md
  site2/website-next/versioned_docs/version-2.8.0/helm-deploy.md
  site2/website-next/versioned_docs/version-2.8.0/helm-install.md
  site2/website-next/versioned_docs/version-2.8.0/helm-overview.md
  site2/website-next/versioned_docs/version-2.8.0/helm-prepare.md
  site2/website-next/versioned_docs/version-2.8.0/helm-tools.md
  site2/website-next/versioned_docs/version-2.8.0/helm-upgrade.md
  site2/website-next/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website-next/versioned_sidebars/version-2.8.0-sidebars.json
Labels: doc, component/website

#12153 [Blog] Add 2.8.1 announcement blog
  site2/website/blog/2021-09-23-Apache-Pulsar-2-8-1.md
Labels: doc, release/2.8.1

#12161 Return the last position of the compacted data while the original data been deleted
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
Labels: no-need-doc, release/2.8.2

#12167 Fix several typos in load balancing code
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedder.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
Labels: type/cleanup

#12109 [Cherry-pick] Fix subscribeRateLimiter cannot be disabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: no-need-doc

#12110 [Cherry-pick] Use get instead of join to avoid getting stuck
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
Labels: no-need-doc

#12108 [pulsar-client] Make it possible to disable poolMessages
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
Labels: component/cli, no-need-doc, release/2.8.2

#12148 Fix deadLetterPolicy is not working with key shared subscription under partitioned topic
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug, no-need-doc, release/2.8.2

#12118 [Issue 1240][C++] Support setting ConsumerEventListener in pulsar cpp client
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/include/pulsar/ConsumerEventListener.h
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientConnection.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/tests/ConsumerConfigurationTest.cc
  pulsar-client-cpp/tests/ConsumerTest.cc
Labels: type/enhancement, no-need-doc

#12175 [Python Schema] Support setting namespace for python schema
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/schema_test.py
  site2/docs/client-libraries-python.md
Labels: component/python, doc-required, release/2.8.2

#12150 PIP-45: Only run ZKSessionWatcher when MetadataStoreExtended is required
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStoreFactory.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/extended/MetadataStoreExtended.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/MetadataStoreFactoryImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
Labels: type/enhancement, no-need-doc

#12184 PIP-45: Handle session events and invalidations from single thread
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/CoordinationServiceImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/ResourceLockImpl.java
Labels: type/enhancement, no-need-doc

#12183 PIP-45: If they're connecting to same service, share local & config MetadataStores
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: type/enhancement, no-need-doc

#12080 Remove the deprecated api usage in hdfs
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/AbstractHdfsConnector.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/seq/HdfsSequentialTextSink.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/AbstractHdfsConnector.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/sink/seq/HdfsSequentialTextSink.java
Labels: component/connect, no-need-doc, release/2.7.4, release/2.8.2

#12192 BookkeeperClientFactory should pass in the ZK instance
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
Labels: type/enhancement, no-need-doc

#12194 Ensure the ownership cache lock expiring triggers an unload
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
Labels: type/enhancement, no-need-doc

#12152 [Doc] Add doc for tokenSettingPrefix
  site2/docs/reference-configuration.md
Labels: doc

#12198 Revert "[Doc] Add doc for tokenSettingPrefix"
  site2/docs/reference-configuration.md
Labels: doc

#11980 [website] Update cli-tools document
  site2/docs/performance-pulsar-perf.md
  site2/docs/reference-cli-tools.md
  site2/website/versioned_docs/version-2.3.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.3.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.3.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.4.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.5.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.5.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.5.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.0/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.6.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.1/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.6.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.2/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.6.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.3/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.6.3/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.4/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.6.4/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.0/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.7.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.1/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.7.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.2/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.7.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.3/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.7.3/reference-cli-tools.md
  site2/website/versioned_docs/version-2.8.0/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.8.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.8.1/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.8.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.8.2/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.8.2/reference-cli-tools.md
Labels: doc

#12168 fix logger number not correct in tests
  bouncy-castle/bcfips-include-test/src/test/java/org/apache/pulsar/client/TlsProducerConsumerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientTests.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: no-need-doc, release/2.8.2

#12193 Fixed counter base path getting deleted
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/CoordinationServiceImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/CounterTest.java
Labels: type/bug, no-need-doc

#12164 [website][upgrade]feat: docs migration - Deployment(versions: next/2.8.0/2.7.3)
  site2/website-next/docs/deploy-aws.md
  site2/website-next/docs/deploy-bare-metal-multi-cluster.md
  site2/website-next/docs/deploy-bare-metal.md
  site2/website-next/docs/deploy-dcos.md
  site2/website-next/docs/deploy-docker.md
  site2/website-next/docs/deploy-kubernetes.md
  site2/website-next/docs/deploy-monitoring.md
  site2/website-next/sidebars.json
  site2/website-next/versioned_docs/version-2.7.3/deploy-aws.md
  site2/website-next/versioned_docs/version-2.7.3/deploy-bare-metal-multi-cluster.md
  site2/website-next/versioned_docs/version-2.7.3/deploy-bare-metal.md
  site2/website-next/versioned_docs/version-2.7.3/deploy-dcos.md
  site2/website-next/versioned_docs/version-2.7.3/deploy-docker.md
  site2/website-next/versioned_docs/version-2.7.3/deploy-kubernetes.md
  site2/website-next/versioned_docs/version-2.7.3/deploy-monitoring.md
  site2/website-next/versioned_docs/version-2.8.0/deploy-aws.md
  site2/website-next/versioned_docs/version-2.8.0/deploy-bare-metal-multi-cluster.md
  site2/website-next/versioned_docs/version-2.8.0/deploy-bare-metal.md
  site2/website-next/versioned_docs/version-2.8.0/deploy-dcos.md
  site2/website-next/versioned_docs/version-2.8.0/deploy-docker.md
  site2/website-next/versioned_docs/version-2.8.0/deploy-kubernetes.md
  site2/website-next/versioned_docs/version-2.8.0/deploy-monitoring.md
  site2/website-next/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website-next/versioned_sidebars/version-2.8.0-sidebars.json
Labels: doc, component/website

#12179 Fix some typos in documentation and code comments
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/test-conf/standalone.conf
  pulsar-client-cpp/tests/authentication.conf
  pulsar-client-cpp/tests/standalone.conf
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.2.0/reference-configuration.md
  site2/website/versioned_docs/version-2.2.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.0/reference-configuration.md
  site2/website/versioned_docs/version-2.3.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.2/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
  site2/website/versioned_docs/version-2.4.2/reference-configuration.md
  site2/website/versioned_docs/version-2.5.0/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.3/reference-configuration.md
  site2/website/versioned_docs/version-2.6.4/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website/versioned_docs/version-2.7.2/reference-configuration.md
  site2/website/versioned_docs/version-2.7.3/reference-configuration.md
  site2/website/versioned_docs/version-2.8.0/reference-configuration.md
  site2/website/versioned_docs/version-2.8.1/reference-configuration.md
  site2/website/versioned_docs/version-2.8.2/reference-configuration.md
Labels: doc

#12084 [testclient] Add total messages when periodic printing throughput
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
Labels: component/cli, no-need-doc, release/2.8.2

#12204 [website][upgrade]feat: docs migration - Administration
  site2/website-next/docs/administration-dashboard.md
  site2/website-next/docs/administration-geo.md
  site2/website-next/docs/administration-isolation.md
  site2/website-next/docs/administration-load-balance.md
  site2/website-next/docs/administration-proxy.md
  site2/website-next/docs/administration-pulsar-manager.md
  site2/website-next/docs/administration-stats.md
  site2/website-next/docs/administration-upgrade.md
  site2/website-next/docs/administration-zk-bk.md
  site2/website-next/sidebars.json
  site2/website-next/versioned_docs/version-2.7.3/administration-dashboard.md
  site2/website-next/versioned_docs/version-2.7.3/administration-geo.md
  site2/website-next/versioned_docs/version-2.7.3/administration-isolation.md
  site2/website-next/versioned_docs/version-2.7.3/administration-load-balance.md
  site2/website-next/versioned_docs/version-2.7.3/administration-proxy.md
  site2/website-next/versioned_docs/version-2.7.3/administration-pulsar-manager.md
  site2/website-next/versioned_docs/version-2.7.3/administration-stats.md
  site2/website-next/versioned_docs/version-2.7.3/administration-upgrade.md
  site2/website-next/versioned_docs/version-2.7.3/administration-zk-bk.md
  site2/website-next/versioned_docs/version-2.8.0/administration-dashboard.md
  site2/website-next/versioned_docs/version-2.8.0/administration-geo.md
  site2/website-next/versioned_docs/version-2.8.0/administration-isolation.md
  site2/website-next/versioned_docs/version-2.8.0/administration-load-balance.md
  site2/website-next/versioned_docs/version-2.8.0/administration-proxy.md
  site2/website-next/versioned_docs/version-2.8.0/administration-pulsar-manager.md
  site2/website-next/versioned_docs/version-2.8.0/administration-stats.md
  site2/website-next/versioned_docs/version-2.8.0/administration-upgrade.md
  site2/website-next/versioned_docs/version-2.8.0/administration-zk-bk.md
  site2/website-next/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website-next/versioned_sidebars/version-2.8.0-sidebars.json
Labels: doc, component/website

#10853 [Issue #9488][add admin api getBacklogSize]
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicOperation.java
  site2/docs/admin-api-topics.md
Labels: doc, component/admin

#12212 Fix returned wrong hash ranges for the consumer with same consumer name
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelectorTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Range.java
Labels: type/bug, component/key-shared, no-need-doc, release/2.8.2

#12217 Disable stats recorder for built-in PulsarClient
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker, no-need-doc, release/2.8.2

#12180 [Docs][LoadBalancing] Add/Improve Javadocs for LoadSheddingStrategy impls
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/OverloadShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedder.java
Labels: doc

#12213 Documentation for Oracle Debezium connector
  site2/docs/io-connectors.md
  site2/docs/io-debezium-source.md
Labels: doc

#12227 [docs]Fix pr-10853 wrong doc
  site2/docs/admin-api-topics.md
Labels: doc

#12220 [Docs]Update docs for Client libraries C++
  site2/docs/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-cpp.md
Labels: doc

#12232 [Python] Do not sort schema fields by default
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/schema_test.py
Labels: type/bug, release/2.8.2

#12237 Fix typo of the returned last message ID when the last message ID is from compacted ledger
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
Labels: type/bug, no-need-doc, release/2.8.2

#12218 [security] Upgrade netty to 4.1.68.Final
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, no-need-doc, release/2.7.4, release/2.8.2
