Repository apache/pulsar, pull requests merged in 2021-11, with the labels that each got.

#12524 [website][upgrade]feat: docs migration for 2.7.1 / get started
  site2/website-next/docusaurus.config.js
  site2/website-next/versioned_docs/version-2.7.1/getting-started-docker.md
  site2/website-next/versioned_docs/version-2.7.1/getting-started-helm.md
  site2/website-next/versioned_docs/version-2.7.1/getting-started-standalone.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
  site2/website-next/versions.json
Labels: doc, component/website

#12525 [website][upgrade]feat: docs migration for 2.7.1 / concepts
  site2/website-next/versioned_docs/version-2.7.1/concepts-architecture-overview.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-authentication.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-clients.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-messaging.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-multi-tenancy.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-multiple-advertised-listeners.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-overview.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-proxy-sni-routing.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-replication.md
  site2/website-next/versioned_docs/version-2.7.1/concepts-topic-compaction.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12513 feat(website): add debezium-mongodb source
  site2/website-next/data/connectors.js
  site2/website/data/connectors.js
Labels: component/website, no-need-doc

#12561 [website][upgrade]feat: website upgrade / docs migration - 2.7.1/schema
  site2/website-next/versioned_docs/version-2.7.1/schema-evolution-compatibility.md
  site2/website-next/versioned_docs/version-2.7.1/schema-get-started.md
  site2/website-next/versioned_docs/version-2.7.1/schema-manage.md
  site2/website-next/versioned_docs/version-2.7.1/schema-understand.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc, component/website

#12562 [website][upgrade]feat: website upgrade / docs migration - 2.7.1 / functions
  site2/website-next/versioned_docs/version-2.7.1/functions-cli.md
  site2/website-next/versioned_docs/version-2.7.1/functions-debug.md
  site2/website-next/versioned_docs/version-2.7.1/functions-deploy.md
  site2/website-next/versioned_docs/version-2.7.1/functions-develop.md
  site2/website-next/versioned_docs/version-2.7.1/functions-overview.md
  site2/website-next/versioned_docs/version-2.7.1/functions-package.md
  site2/website-next/versioned_docs/version-2.7.1/functions-runtime.md
  site2/website-next/versioned_docs/version-2.7.1/functions-worker.md
  site2/website-next/versioned_docs/version-2.7.1/window-functions-context.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc, component/website

#12527 The count of topics on the bundle is less than 2，skip split
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/BundleSplitterTask.java
Labels: type/bug, component/broker, no-need-doc, release/2.8.2, release/2.9.1

#12436 [pulsar-admin] Modify exception of set-properties for namespace
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: type/enhancement, no-need-doc, release/2.8.2, release/2.9.1

#12545 Wrong put the SSL_TRUSTSTORE_LOCATION_CONFIG to SSL_TRUSTSTORE_PASSWOR…
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSink.java
Labels: no-need-doc

#12531 Optimize resourcegroup test, make test separately and readable
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTopicTransportManager.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMsgsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupUsageAggregationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceQuotaCalculatorImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTransportManagerTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ResourceGroup.java
Labels: no-need-doc

#12560 [Transaction]Optimize the tests extends from TransactionTestBase
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionClientReconnectTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionLowWaterMarkTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionStablePositionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionMetaStoreAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
Labels: component/test, no-need-doc

#12565 [broker] Cancel scheduled tasks when deleting ManagedLedgerImpl
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: type/bug, component/broker, no-need-doc

#12570 [ML] Add OpAddEntry to pendingAddEntries after the state check
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/bug, component/broker, no-need-doc

#12532 [DOCS] Update the description
  site2/docs/transaction-api.md
  site2/website/versioned_docs/version-2.8.0/transaction-api.md
  site2/website/versioned_docs/version-2.8.1/transaction-api.md
  site2/website/versioned_docs/version-2.8.2/transaction-api.md
Labels: doc

#12522 Fix the reader skips compacted data which original ledger been removed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/CompactorSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
Labels: type/bug, no-need-doc, release/2.8.2, release/2.9.1

#12576 [website][upgrade]feat: docs migration - 2.7.1 / io
  site2/website-next/versioned_docs/version-2.7.1/io-cdc.md
  site2/website-next/versioned_docs/version-2.7.1/io-cli.md
  site2/website-next/versioned_docs/version-2.7.1/io-connectors.md
  site2/website-next/versioned_docs/version-2.7.1/io-debug.md
  site2/website-next/versioned_docs/version-2.7.1/io-develop.md
  site2/website-next/versioned_docs/version-2.7.1/io-overview.md
  site2/website-next/versioned_docs/version-2.7.1/io-quickstart.md
  site2/website-next/versioned_docs/version-2.7.1/io-use.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12526 [CAPI] Support setting priority for consumers
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
Labels: component/c++, no-need-doc, release/2.8.2, release/2.9.1

#12544 Fix typo for LoadManagerShared#filterAntiAffinityGroupOwnedBrokers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
Labels: no-need-doc

#12589 Allow WebSocketHttpServletRequestWrapperTest run on windows
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/LookupProtocolTest.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/WebSocketHttpServletRequestWrapperTest.java
Labels: component/test, no-need-doc

#12584 Fix producer not closed in PersistentTopicsTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/test, no-need-doc

#12577 [website][upgrade]feat: docs migration - 2.7.1 / sql
  site2/website-next/versioned_docs/version-2.7.1/sql-deployment-configurations.md
  site2/website-next/versioned_docs/version-2.7.1/sql-getting-started.md
  site2/website-next/versioned_docs/version-2.7.1/sql-overview.md
  site2/website-next/versioned_docs/version-2.7.1/sql-rest-api.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12578 [website][upgrade]feat: docs migration - 2.7.1 / tiered-storage
  site2/website-next/versioned_docs/version-2.7.1/tiered-storage-aws.md
  site2/website-next/versioned_docs/version-2.7.1/tiered-storage-azure.md
  site2/website-next/versioned_docs/version-2.7.1/tiered-storage-filesystem.md
  site2/website-next/versioned_docs/version-2.7.1/tiered-storage-gcs.md
  site2/website-next/versioned_docs/version-2.7.1/tiered-storage-overview.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12593 [Python] Provide __str__ operator for BytesSchema
  pulsar-client-cpp/python/pulsar/schema/schema.py
Labels: component/build, component/python, component/website, no-need-doc, release/2.8.3

#12594 Reduced severity of log "refreshing key manager" in KeyManagerProxy
  pulsar-common/src/main/java/org/apache/pulsar/common/util/KeyManagerProxy.java
Labels: type/enhancement, no-need-doc, release/2.8.3

#12579 [website][upgrade]feat: docs migration - 2.7.1 / transaction
  site2/website-next/versioned_docs/version-2.7.1/concepts-transactions.md
  site2/website-next/versioned_docs/version-2.7.1/transaction-api.md
  site2/website-next/versioned_docs/version-2.7.1/transaction-guarantee.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12386 [Transaction]Fix maxReadPosition with normal publish
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: no-need-doc, component/transactions, release/2.9.1

#12580 [website][upgrade]feat: docs migration - 2.7.1 / helm
  site2/website-next/versioned_docs/version-2.7.1/helm-deploy.md
  site2/website-next/versioned_docs/version-2.7.1/helm-install.md
  site2/website-next/versioned_docs/version-2.7.1/helm-overview.md
  site2/website-next/versioned_docs/version-2.7.1/helm-prepare.md
  site2/website-next/versioned_docs/version-2.7.1/helm-tools.md
  site2/website-next/versioned_docs/version-2.7.1/helm-upgrade.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12586 [C++] Fix request timeout for GetLastMessageId doesn't work
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/Future.h
  pulsar-client-cpp/tests/PromiseTest.cc
Labels: type/bug, component/c++, no-need-doc, release/2.8.2, release/2.9.1

#12605 Remove unused zookeeper factory in function worker
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
Labels: no-need-doc

#12607 [Test] Cleanup ProxyPublishConsumeTest
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
Labels: no-need-doc, release/2.8.2, release/2.9.1

#12598 Allow to configure schema compatibility policy for system topics
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicServiceTest.java
Labels: type/bug, no-need-doc, release/2.8.2, release/2.9.0

#12566 Add negative ack redelivery backoff.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/NegativeAcksTest.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ConsumerConfiguration.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/NegativeAckRedeliveryBackoff.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAckRedeliveryExponentialBackoff.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/api/NegativeAckRedeliveryBackoffTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
Labels: doc-required

#12585 Fix additional servlets nar might extract to null directory
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/plugin/servlet/AdditionalServlets.java
Labels: no-need-doc, release/2.8.2, release/2.9.1

#12582 Fix log typo in NamespaceService#checkHeartbeatNamespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12567 doc optimization for issue #12488
  site2/website-next/versioned_docs/version-2.7.3/deploy-bare-metal.md
Labels: doc

#12542 [docs] Fix doc for pulsar-admin bookies cmd
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBookies.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12499 Fix collection get bug in ResourceGroupService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMsgsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupServiceTest.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12358 [Transaction] Merge transactionBuffer exception into a class
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionMeta.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/exceptions/EndOfTransactionException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/exceptions/NoTxnsCommittedAtLedgerException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/exceptions/TransactionBufferProviderException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/exceptions/TransactionNotSealedException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/exceptions/UnsupportedTxnActionException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/exceptions/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBufferReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/exception/TransactionException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/exception/buffer/TransactionBufferException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/exception/buffer/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/exception/coordinator/TransactionCoordinatorException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/exception/coordinator/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/exception/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/exception/pendingack/TransactionPendingAckException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/exception/pendingack/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStoreProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/InMemTransactionBufferReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferTest.java
Labels: no-need-doc, release/2.9.1

#12136 Support for setting geo-replication clusters on topic level
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: doc, release/2.8.2, release/2.9.1

#12588 Fix invalid firstSentAt in log message when timeout first time
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, no-need-doc, release/2.9.1, release/2.8.3

#12308 [ISSUE-12291][Client] 'StartMessageId' and 'RollbackDuration' not working in MultiTopicsReader for non-partitioned topics
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MultiTopicsReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/client, no-need-doc, release/2.8.2, release/2.9.1

#12620 Add additional error handling in auto partition update task MultiTopicsConsumerImpl
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
Labels: component/client, no-need-doc, release/2.9.1, release/2.8.3

#12602 [Compaction] Do not move the non-durable cursor position when trimming ledgers while topic with compaction
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
Labels: type/bug, no-need-doc, release/2.8.2, release/2.9.1

#12600 [#12423] allow `GetTopicsOfNamespace` op with `consume` permission
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/MultiRolesTokenAuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockAuthorizationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplAuthTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/admin/GetTopicsOfNamespaceWithAuthTest.java
Labels: component/broker, no-need-doc, release/2.9.1, release/2.8.3

#12613 [Doc] Update Pulsar SQL document.
  site2/docs/sql-deployment-configurations.md
  site2/website-next/docs/sql-deployment-configurations.md
Labels: doc

#12619 Fix String should use equals but not ==.
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12132 [Broker] Fix prefix setting in JWT authn and avoid multi calls for the getProperty
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
Labels: release/2.8.2

#12412 [pulsar-admin] Check validity of --actions for topic and namespace
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CliCommand.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: doc

#12609 [website][upgrade]feat: docs migration - 2.7.1 / administration
  site2/website-next/versioned_docs/version-2.7.1/administration-geo.md
  site2/website-next/versioned_docs/version-2.7.1/administration-isolation.md
  site2/website-next/versioned_docs/version-2.7.1/administration-load-balance.md
  site2/website-next/versioned_docs/version-2.7.1/administration-proxy.md
  site2/website-next/versioned_docs/version-2.7.1/administration-pulsar-manager.md
  site2/website-next/versioned_docs/version-2.7.1/administration-stats.md
  site2/website-next/versioned_docs/version-2.7.1/administration-upgrade.md
  site2/website-next/versioned_docs/version-2.7.1/administration-zk-bk.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12621 Remove corrupt visible testing annotation in function workers
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/dlog/DLInputStream.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/WorkerServiceWithClassLoader.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12569 [pulsar-perf] Write histogram files for consume command
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  site2/docs/performance-pulsar-perf.md
Labels: type/enhancement, component/cli, no-need-doc, release/2.9.1, release/2.8.3

#12622 Support retry when creating reader of Topic Policies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
Labels: type/enhancement, no-need-doc, release/2.9.1, release/2.8.3

#12512 [pulsar-admin] Check backlog quota policy for namespace
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: no-need-doc

#12615 fix 12614, waitingForPingResponse needs to be modified with volatile for concurrent sence
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarHandler.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12550 Clean up the metadata of the non-persistent partitioned topics.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NonPersistentTopicE2ETest.java
Labels: type/bug, no-need-doc, release/2.7.4, release/2.8.2, release/2.9.1

#12634 Add missing cmds on pulsar-admin document page.
  site2/tools/pulsar-admin-doc-gen.sh
Labels: component/website, no-need-doc

#12638 Update io-debezium-source.md
  site2/docs/io-debezium-source.md
Labels: doc-info-missing

#12643 [Functions] Prevent NPE while stopping a non started Pulsar LogAppender
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/LogAppender.java
Labels: type/bug, no-need-doc

#12606 [ML] Avoid passing OpAddEntry across a thread boundary in asyncAddEntry
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/broker, no-need-doc

#12644 Upgrade debezium to 1.7.1
  pom.xml
Labels: no-need-doc, release/2.9.1

#12640 [test] Add @Test annotation to test methods
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/protocol/ProtocolHandlerWithClassLoaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedCursorMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdClusters.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientSslTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/extensions/ProxyExtensionWithClassLoaderTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/offload/TestBaseOffload.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarTestBase.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BufferedOffloadStreamTest.java
Labels: component/test, no-need-doc

#12581 PulsarAdmin: Fix last exit code storage
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestRunMain.java
Labels: no-need-doc, release/2.8.2

#12541 [pulsar-broker] Add git branch information for PulsarVersion
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-common/src/main/java-templates/org/apache/pulsar/PulsarVersion.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12590 Fix call sync method in an async callback when enabling geo replicator.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorRemoveClusterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/GeoReplicationTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarGeoCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarGeoClusterTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarTestBase.java
  tests/integration/src/test/resources/pulsar-messaging.xml
Labels: type/bug, release/blocker, no-need-doc, release/2.9.0

#12649 Close Zk database on unit tests
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
Labels: no-need-doc, release/2.9.1

#12647 [Broker] Optimize exception information for schemas
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: type/enhancement, no-need-doc, release/2.9.1, release/2.8.3

#12504 k8s runtime: force deletion to avoid hung function worker during connector restart
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  site2/docs/functions-runtime.md
Labels: doc, release/2.9.1, release/2.8.3

#12650 Fix false positive ownership check in OwnershipCache#checkOwnership
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
Labels: release/2.8.3

#12652 [Java Client] Remove invalid call to Thread.currentThread().interrupt();
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, component/client, no-need-doc, release/2.7.4, release/2.9.1, release/2.8.3

#12648 Remove replicator global test from the quarantine group
  build/run_unit_group.sh
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorGlobalNSTest.java
Labels: no-need-doc

#12646 Allow to configure different implementations for Pulsar functions state store
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionMetadataStoreTest.java
  pulsar-functions/instance/pom.xml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/BKStateStoreProviderImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/PulsarMetadataStateStoreImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/PulsarMetadataStateStoreProviderImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/StateStoreProvider.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/state/PulsarMetadataStateStoreImplTest.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
Labels: type/enhancement, no-need-doc

#12642 [Python Schema] Python schema support custom Avro configurations for Enum type
  pulsar-client-cpp/python/examples/company.avsc
  pulsar-client-cpp/python/pulsar/schema/__init__.py
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/schema_test.py
Labels: component/python, no-need-doc, release/2.8.2, release/2.9.1

#12655 [broker] remove useless method "PersistentTopic#getPersistentTopic"
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: no-need-doc, release/2.9.1

#12659 Fix StringIndexOutOfBoundsException in NamespaceResources#pathIsFromNamespace
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/resources/NamespaceResourcesTest.java
Labels: type/bug, no-need-doc, release/2.9.1

#12656 [Authorization] Support GET_METADATA topic op after enable auth
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/admin/GetMetadataOfTopicWithAuthTest.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12657 [Modernizer] Apply Modernizer plugin for pulsar broker common module and fix violation.
  pom.xml
  pulsar-broker-common/pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TenantResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/validator/MultipleListenerValidator.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoader.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoaderTest.java
  pulsar-proxy/pom.xml
Labels: no-need-doc

#12610 [website][upgrade]feat: docs migration - 2.7.1 / security
  site2/website-next/versioned_docs/version-2.7.1/security-athenz.md
  site2/website-next/versioned_docs/version-2.7.1/security-authorization.md
  site2/website-next/versioned_docs/version-2.7.1/security-bouncy-castle.md
  site2/website-next/versioned_docs/version-2.7.1/security-encryption.md
  site2/website-next/versioned_docs/version-2.7.1/security-extending.md
  site2/website-next/versioned_docs/version-2.7.1/security-jwt.md
  site2/website-next/versioned_docs/version-2.7.1/security-kerberos.md
  site2/website-next/versioned_docs/version-2.7.1/security-oauth2.md
  site2/website-next/versioned_docs/version-2.7.1/security-overview.md
  site2/website-next/versioned_docs/version-2.7.1/security-tls-authentication.md
  site2/website-next/versioned_docs/version-2.7.1/security-tls-keystore.md
  site2/website-next/versioned_docs/version-2.7.1/security-tls-transport.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12611 [website][upgrade]feat: docs migration - 2.7.1 / performance
  site2/website-next/versioned_docs/version-2.7.1/performance-pulsar-perf.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12612 [website][upgrade]feat: docs migration - 2.7.1 / client
  site2/website-next/versioned_docs/version-2.7.1/client-libraries-cpp.md
  site2/website-next/versioned_docs/version-2.7.1/client-libraries-dotnet.md
  site2/website-next/versioned_docs/version-2.7.1/client-libraries-go.md
  site2/website-next/versioned_docs/version-2.7.1/client-libraries-java.md
  site2/website-next/versioned_docs/version-2.7.1/client-libraries-node.md
  site2/website-next/versioned_docs/version-2.7.1/client-libraries-python.md
  site2/website-next/versioned_docs/version-2.7.1/client-libraries-websocket.md
  site2/website-next/versioned_docs/version-2.7.1/getting-started-clients.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12636 [Transaction]Stop TB recovering with exception
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: no-need-doc, release/2.9.1

#12658 [broker] Avoid unnecessary recalculation of maxSubscriptionsPerTopic in AbstractTopic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PolicyHierarchyValue.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/PolicyHierarchyValueTest.java
Labels: type/enhancement, no-need-doc, release/2.9.1, release/2.8.3

#12322 [pulsar-admin] Add corresponding get command for namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoSubscriptionCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: doc, release/2.9.1

#12662 [Doc] Add doc for tokenSettingPrefix
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.8.2/reference-configuration.md
Labels: doc

#12641 [cli] Enable CLI to publish non-batched messages
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  site2/docs/reference-cli-tools.md
Labels: type/enhancement, doc, component/cli, release/2.9.1, release/2.8.3

#12392 [pulsar-admin] Add remove-subscription-types-enabled command for namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: doc

#12592 [website][upgrade]feat: docs migration - version-2.7.2 Tiered Storage
  site2/website-next/versioned_docs/version-2.7.2/tiered-storage-aws.md
  site2/website-next/versioned_docs/version-2.7.2/tiered-storage-azure.md
  site2/website-next/versioned_docs/version-2.7.2/tiered-storage-filesystem.md
  site2/website-next/versioned_docs/version-2.7.2/tiered-storage-gcs.md
  site2/website-next/versioned_docs/version-2.7.2/tiered-storage-overview.md
  site2/website-next/versioned_sidebars/version-2.7.2-sidebars.json
Labels: doc

#12633 [Doc] Add explanations for setting geo-replication at topic level
  site2/docs/administration-geo.md
  site2/website/versioned_docs/version-2.7.2/tiered-storage-aws.md
  site2/website/versioned_docs/version-2.7.2/tiered-storage-gcs.md
Labels: doc

#12660 Add docs for nack backoff policy
  site2/docs/client-libraries-java.md
  site2/docs/concepts-messaging.md
Labels: doc

#12591 [website][upgrade]feat: docs migration - version-2.7.2 Pulsar SQL
  site2/website-next/versioned_docs/version-2.7.2/sql-deployment-configurations.md
  site2/website-next/versioned_docs/version-2.7.2/sql-getting-started.md
  site2/website-next/versioned_docs/version-2.7.2/sql-overview.md
  site2/website-next/versioned_docs/version-2.7.2/sql-rest-api.md
  site2/website-next/versioned_sidebars/version-2.7.2-sidebars.json
Labels: doc

#12676 [website][upgrade]feat: docs migration - 2.7.1 / Admin API
  site2/website-next/versioned_docs/version-2.7.1/admin-api-brokers.md
  site2/website-next/versioned_docs/version-2.7.1/admin-api-clusters.md
  site2/website-next/versioned_docs/version-2.7.1/admin-api-functions.md
  site2/website-next/versioned_docs/version-2.7.1/admin-api-namespaces.md
  site2/website-next/versioned_docs/version-2.7.1/admin-api-overview.md
  site2/website-next/versioned_docs/version-2.7.1/admin-api-permissions.md
  site2/website-next/versioned_docs/version-2.7.1/admin-api-tenants.md
  site2/website-next/versioned_docs/version-2.7.1/admin-api-topics.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12675 [tools] fix TestRunMain test
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestRunMain.java
Labels: component/test, doc-info-missing

#12665 Issue 12645: Pulsar Functions: detect .nar files and prevent spammy logs on functions boot [branch-2.7]
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/FileUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: type/bug, component/functions, no-need-doc, release/2.7.4

#12624 Functions: add -Dio.netty.tryReflectionSetAccessible=true to Java functions
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeTest.java
Labels: component/functions, no-need-doc, release/2.9.1

#12667 Pulsar Functions: detect .nar files and prevent spammy logs on functions boot
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/FileUtils.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
Labels: no-need-doc, release/2.9.1

#12689 [Transaction] Fix close pulsarClient then close transaction client connection
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionClientConnectTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HandlerState.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
Labels: no-need-doc, release/2.9.1

#12669 Fix the typo of BookKeeper, missing k/K
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  site2/docs/administration-zk-bk.md
  site2/docs/reference-cli-tools.md
  site2/website-next/docs/administration-zk-bk.md
  site2/website-next/docs/reference-cli-tools.md
  site2/website-next/versioned_docs/version-2.7.1/administration-zk-bk.md
  site2/website-next/versioned_docs/version-2.7.3/administration-zk-bk.md
  site2/website-next/versioned_docs/version-2.7.3/reference-cli-tools.md
  site2/website-next/versioned_docs/version-2.8.0/administration-zk-bk.md
  site2/website-next/versioned_docs/version-2.8.0/reference-cli-tools.md
  site2/website/release-notes.md
  site2/website/versioned_docs/version-2.1.0-incubating/administration-zk-bk.md
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-cli-tools.md
  site2/website/versioned_docs/version-2.2.0/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.3.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.3.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.3.1/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.3.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.3.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.4.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.4.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.5.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.5.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.5.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.5.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.1/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.2/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.3/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.3/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.4/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.4/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.7.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.1/administration-zk-bk.md
  site2/website/versioned_docs/version-2.7.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.2/administration-zk-bk.md
  site2/website/versioned_docs/version-2.7.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.3/administration-zk-bk.md
  site2/website/versioned_docs/version-2.7.3/reference-cli-tools.md
  site2/website/versioned_docs/version-2.8.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.8.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.8.1/administration-zk-bk.md
  site2/website/versioned_docs/version-2.8.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.8.2/administration-zk-bk.md
  site2/website/versioned_docs/version-2.8.2/reference-cli-tools.md
Labels: doc, release/2.9.1

#12673 Pulsar Client: restore SchemaInfo.builder() API
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaValidationEnforced.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/JsonSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaCompatibilityCheckTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SchemasImpl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/PulsarClientImplementationBinding.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaInfo.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImplementationBindingImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SchemaInfoTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaData.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/KafkaSchemaWrappedSchema.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/AvroSchemaCache.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplit.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarMetadata.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/primitive/TestPrimitiveDecoder.java
Labels: no-need-doc

#12688 [website] Update team page to add new committer
  site2/website/data/team.js
Labels: doc

#12674 [pulsar-client] add pending-queue size metrics to producer stats
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerStats.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsDisabled.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImpl.java
Labels: component/client, doc-info-missing

#12703 Fix flaky test: PersistentTopicsTest::testPeekWithSubscriptionNameNotExist
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/test, doc-info-missing

#12666 [Config] Add readWorkerThreadsThrottlingEnabled to conf/bookkeeper.conf
  conf/bookkeeper.conf
Labels: component/bookkeeper, no-need-doc, release/2.9.1, release/2.8.3

#12677 [website][upgrade]feat: docs migration - 2.7.1 / Adapters
  site2/website-next/versioned_docs/version-2.7.1/adaptors-kafka.md
  site2/website-next/versioned_docs/version-2.7.1/adaptors-spark.md
  site2/website-next/versioned_docs/version-2.7.1/adaptors-storm.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12678 [website][upgrade]feat: docs migration - 2.7.1 / Cookbooks
  site2/website-next/versioned_docs/version-2.7.1/cookbooks-bookkeepermetadata.md
  site2/website-next/versioned_docs/version-2.7.1/cookbooks-compaction.md
  site2/website-next/versioned_docs/version-2.7.1/cookbooks-deduplication.md
  site2/website-next/versioned_docs/version-2.7.1/cookbooks-encryption.md
  site2/website-next/versioned_docs/version-2.7.1/cookbooks-message-queue.md
  site2/website-next/versioned_docs/version-2.7.1/cookbooks-non-persistent.md
  site2/website-next/versioned_docs/version-2.7.1/cookbooks-retention-expiry.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12701 [website][upgrade]feat: docs migration - version-2.7.2 Transactions
  site2/website-next/versioned_docs/version-2.7.2/transaction-api.md
  site2/website-next/versioned_docs/version-2.7.2/transaction-guarantee.md
  site2/website-next/versioned_sidebars/version-2.7.2-sidebars.json
Labels: doc

#12704 [pulsar-client] Fix pending queue-size stats for batch messages
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, release/2.9.1, doc-info-missing

#12698 Fix lost compaction data due to compaction properties missed during reset-cursor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
Labels: no-need-doc, release/2.8.2, release/2.9.1

#12709 [pulsar-admin] Print topic internal info as formatted json
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: type/enhancement, no-need-doc, release/2.9.1, release/2.8.3

#12685 [Issue 12672][test] Reduce unnecessary message send in testPeekWithSubscriptionNameNotExist
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: no-need-doc, release/2.9.1

#12715 Remove unused code in PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: no-need-doc

#12489 [Issue #12485][Python Client] cannot use any values that evaluates to False
  pulsar-client-cpp/python/pulsar/schema/definition.py
Labels: type/bug, component/python, no-need-doc, release/2.9.1

#12366 expose broker bundles metrics to prometheus
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: component/broker, doc-required

#12368 [#12279 ] missed check exit code of stop before calling start
  bin/pulsar-daemon
Labels: component/cli, no-need-doc

#12104 [PIP 97] Update Authentication Interfaces to Include Async Authentication Methods
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataSource.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationState.java
Labels: doc, component/security

#12696 Some depdency in integration tests scope should be test
  tests/integration/pom.xml
Labels: no-need-doc, release/2.9.1

#12378 [pulsar-broker] Provide option to split bundle based on load
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/ModularLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: component/broker

#12713 Remove unnecessary powermock annotation
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReaderTests.java
Labels: no-need-doc, release/2.9.1

#12680 [website][upgrade]feat: docs migration - 2.7.1 / Reference
  site2/website-next/versioned_docs/version-2.7.1/reference-cli-tools.md
  site2/website-next/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website-next/versioned_docs/version-2.7.1/reference-metrics.md
  site2/website-next/versioned_docs/version-2.7.1/reference-terminology.md
  site2/website-next/versioned_sidebars/version-2.7.1-sidebars.json
Labels: doc

#12732 Pulsar Admin: reduce code duplication - part 1
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BookiesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokerStatsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/LookupImpl.java
Labels: no-need-doc

#12714 [Managed Ledger] Fix the incorrect total size when BrokerEntryMetadata is enabled
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerEntryMetadataE2ETest.java
Labels: type/bug, component/broker, no-need-doc, release/2.9.1, release/2.8.3

#12687 [Broker] Apply PolicyHierarchyValue to inactiveTopicPolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/HierarchyTopicPolicies.java
Labels: no-need-doc

#12745 [Doc] add explanations for subscription mode
  site2/docs/admin-api-topics.md
  site2/docs/concepts-messaging.md
Labels: doc

#12746 [Doc] add explanations for schema compatibility strategy
  site2/docs/schema-evolution-compatibility.md
  site2/docs/schema-manage.md
Labels: doc

#12743 [pulsar-broker] Handle lookup redirect for V1-topics with different cluster
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/ClusterResources.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: component/broker, release/2.9.1, doc-info-missing, release/2.8.3

#12725 Remove catching `NamingException`.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
Labels: no-need-doc, release/2.9.1

#12724 [pulsar-broker] Add stop replicator producer logic when start replicator cluster failed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: release/2.9.1, release/2.8.3

#12461 Flaky Tests: AdminApiSchemaTest#testSchemaInfoApi
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: no-need-doc

#12748 Pulsar Admin: reduce code duplication - part 2
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ClustersImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
Labels: no-need-doc

#12766 Revert "BookkeeperClientFactory should pass in the ZK instance" (#12764)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
Labels: release/2.9.1

#12765 Revert "BookkeeperClientFactory should pass in the ZK instance" (#12764)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
Labels: release/2.9.1, doc-info-missing

#12742 [Authorization] Support UNSUBSCRIBE namespace op after enable auth
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/admin/GetMetadataOfTopicWithAuthTest.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12760 Upgrade to BookKeeper 4.14.3
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  testmocks/src/main/java/org/apache/bookkeeper/client/BookKeeperTestClient.java
Labels: type/enhancement, no-need-doc

#12663 Optimize isValidPath check in MetadataStore
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStoreException.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStoreTest.java
Labels: doc, release/2.9.1

#12758 [Transaction] Fix topicTransactionBuffer handle null snapshot
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
Labels: component/transactions, doc-info-missing, cherry-picked/branch-2.9

#12767 clean os even when statusFuture complete exceptionally
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
Labels: type/bug, no-need-doc

#12721 Even if always compatible is set, Consumers cannot be created
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaCompatibilityCheckTest.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12775 [Issue 12774] Fix flaky test in ReplicatorTest#testtDoNotReplicateSystemTopic
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: component/test, no-need-doc

#10485 Update command descriptions from old 'property/cluster/namespace' format to current 'tenant/namespace' format
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNonPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdResourceQuotas.java
Labels: type/enhancement, component/tools

#12749 [Transaction] Fix transaction system topic create in loop.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/EventsTopicNames.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
Labels: doc-required, component/transactions, release/2.9.1, release/2.8.3

#12780 [ServerCnx] Close connection after receiving unexpected SendCommand
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: doc-required

#12535 [pulsar-admin] Add --all option to get all version schema of topic
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools-test/src/test/resources/test_schema_create.json
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSchemas.java
Labels: type/enhancement, no-need-doc, release/2.9.1

#12771 Modify authz tests of GET_TOPICS and PACKAGES op
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/admin/GetTopicsOfNamespaceWithAuthTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/admin/PackagesOpsWithAuthTest.java
  tests/integration/src/test/resources/pulsar-auth.xml
Labels: no-need-doc

#12729 [Issue 12723] Fix race condition in PersistentTopic#addReplicationCluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMap.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMapTest.java
Labels: no-need-doc, release/2.9.1, release/2.8.3

#12717 remove redundant placeholders
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/TopicsBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: no-need-doc, release/2.9.1

#12719 remove unnecessary string operation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/cache/BundlesQuotas.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSchemas.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-common/src/main/java/org/apache/pulsar/common/net/ServiceURI.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/DefaultMessageFormatter.java
Labels: no-need-doc, release/2.9.1

#12761 [website][upgrade]feat: docs migration - version-2.7.2 Security
  site2/website-next/versioned_docs/version-2.7.2/security-athenz.md
  site2/website-next/versioned_docs/version-2.7.2/security-authorization.md
  site2/website-next/versioned_docs/version-2.7.2/security-bouncy-castle.md
  site2/website-next/versioned_docs/version-2.7.2/security-encryption.md
  site2/website-next/versioned_docs/version-2.7.2/security-extending.md
  site2/website-next/versioned_docs/version-2.7.2/security-jwt.md
  site2/website-next/versioned_docs/version-2.7.2/security-kerberos.md
  site2/website-next/versioned_docs/version-2.7.2/security-oauth2.md
  site2/website-next/versioned_docs/version-2.7.2/security-overview.md
  site2/website-next/versioned_docs/version-2.7.2/security-tls-authentication.md
  site2/website-next/versioned_docs/version-2.7.2/security-tls-keystore.md
  site2/website-next/versioned_docs/version-2.7.2/security-tls-transport.md
  site2/website-next/versioned_docs/version-2.7.2/security-token-admin.md
  site2/website-next/versioned_sidebars/version-2.7.2-sidebars.json
Labels: doc

#12739 [website][upgrade]feat: docs migration - 2.7.0 / get started / concepts / schema
  site2/website-next/docusaurus.config.js
  site2/website-next/versioned_docs/version-2.7.0/concepts-architecture-overview.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-authentication.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-clients.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-messaging.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-multi-tenancy.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-multiple-advertised-listeners.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-overview.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-proxy-sni-routing.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-replication.md
  site2/website-next/versioned_docs/version-2.7.0/concepts-topic-compaction.md
  site2/website-next/versioned_docs/version-2.7.0/getting-started-docker.md
  site2/website-next/versioned_docs/version-2.7.0/getting-started-helm.md
  site2/website-next/versioned_docs/version-2.7.0/getting-started-standalone.md
  site2/website-next/versioned_docs/version-2.7.0/schema-evolution-compatibility.md
  site2/website-next/versioned_docs/version-2.7.0/schema-get-started.md
  site2/website-next/versioned_docs/version-2.7.0/schema-manage.md
  site2/website-next/versioned_docs/version-2.7.0/schema-understand.md
  site2/website-next/versioned_sidebars/version-2.7.0-sidebars.json
  site2/website-next/versions.json
Labels: doc

#12762 [website][upgrade]feat: docs migration - version-2.7.2 Performance
  site2/website-next/versioned_docs/version-2.7.2/performance-pulsar-perf.md
  site2/website-next/versioned_sidebars/version-2.7.2-sidebars.json
Labels: doc

#12740 [website][upgrade]feat: docs migration - 2.7.0 / functions / io / sql
  site2/website-next/versioned_docs/version-2.7.0/functions-cli.md
  site2/website-next/versioned_docs/version-2.7.0/functions-debug.md
  site2/website-next/versioned_docs/version-2.7.0/functions-deploy.md
  site2/website-next/versioned_docs/version-2.7.0/functions-develop.md
  site2/website-next/versioned_docs/version-2.7.0/functions-overview.md
  site2/website-next/versioned_docs/version-2.7.0/functions-package.md
  site2/website-next/versioned_docs/version-2.7.0/functions-runtime.md
  site2/website-next/versioned_docs/version-2.7.0/functions-worker.md
  site2/website-next/versioned_docs/version-2.7.0/io-cdc.md
  site2/website-next/versioned_docs/version-2.7.0/io-cli.md
  site2/website-next/versioned_docs/version-2.7.0/io-connectors.md
  site2/website-next/versioned_docs/version-2.7.0/io-debug.md
  site2/website-next/versioned_docs/version-2.7.0/io-develop.md
  site2/website-next/versioned_docs/version-2.7.0/io-overview.md
  site2/website-next/versioned_docs/version-2.7.0/io-quickstart.md
  site2/website-next/versioned_docs/version-2.7.0/io-use.md
  site2/website-next/versioned_docs/version-2.7.0/sql-deployment-configurations.md
  site2/website-next/versioned_docs/version-2.7.0/sql-getting-started.md
  site2/website-next/versioned_docs/version-2.7.0/sql-overview.md
  site2/website-next/versioned_docs/version-2.7.0/sql-rest-api.md
  site2/website-next/versioned_docs/version-2.7.0/window-functions-context.md
  site2/website-next/versioned_sidebars/version-2.7.0-sidebars.json
Labels: doc

#12763 [website][upgrade]feat: docs migration - version-2.7.2 Client Libraries
  site2/website-next/versioned_docs/version-2.7.2/client-libraries-cgo.md
  site2/website-next/versioned_docs/version-2.7.2/client-libraries-cpp.md
  site2/website-next/versioned_docs/version-2.7.2/client-libraries-dotnet.md
  site2/website-next/versioned_docs/version-2.7.2/client-libraries-go.md
  site2/website-next/versioned_docs/version-2.7.2/client-libraries-java.md
  site2/website-next/versioned_docs/version-2.7.2/client-libraries-node.md
  site2/website-next/versioned_docs/version-2.7.2/client-libraries-python.md
  site2/website-next/versioned_docs/version-2.7.2/client-libraries-websocket.md
  site2/website-next/versioned_docs/version-2.7.2/getting-started-clients.md
  site2/website-next/versioned_sidebars/version-2.7.2-sidebars.json
Labels: doc

#12702 [website][upgrade]feat: docs migration - version-2.7.2 Kubernetes (Helm)
  site2/website-next/versioned_docs/version-2.7.2/helm-deploy.md
  site2/website-next/versioned_docs/version-2.7.2/helm-install.md
  site2/website-next/versioned_docs/version-2.7.2/helm-overview.md
  site2/website-next/versioned_docs/version-2.7.2/helm-prepare.md
  site2/website-next/versioned_docs/version-2.7.2/helm-tools.md
  site2/website-next/versioned_docs/version-2.7.2/helm-upgrade.md
  site2/website-next/versioned_sidebars/version-2.7.2-sidebars.json
Labels: doc

#12735 [website][upgrade]feat: docs migration - 2.7.0 / helm / tiered / txn
  site2/website-next/versioned_docs/version-2.7.0/concepts-transactions.md
  site2/website-next/versioned_docs/version-2.7.0/helm-deploy.md
  site2/website-next/versioned_docs/version-2.7.0/helm-install.md
  site2/website-next/versioned_docs/version-2.7.0/helm-overview.md
  site2/website-next/versioned_docs/version-2.7.0/helm-prepare.md
  site2/website-next/versioned_docs/version-2.7.0/helm-tools.md
  site2/website-next/versioned_docs/version-2.7.0/helm-upgrade.md
  site2/website-next/versioned_docs/version-2.7.0/tiered-storage-aws.md
  site2/website-next/versioned_docs/version-2.7.0/tiered-storage-azure.md
  site2/website-next/versioned_docs/version-2.7.0/tiered-storage-filesystem.md
  site2/website-next/versioned_docs/version-2.7.0/tiered-storage-gcs.md
  site2/website-next/versioned_docs/version-2.7.0/tiered-storage-overview.md
  site2/website-next/versioned_docs/version-2.7.0/transaction-api.md
  site2/website-next/versioned_docs/version-2.7.0/transaction-guarantee.md
  site2/website-next/versioned_sidebars/version-2.7.0-sidebars.json
Labels: doc
