Repository apache/pulsar, pull requests merged in 2021-04, with the labels that each got.

#10099 [docs] Fix broken link in deploy-monitoring.md
  site2/website/versioned_docs/version-2.7.1/deploy-monitoring.md
Labels: component/deploy, component/documentation

#10084 Document Kafka Source Schema management
  site2/docs/io-kafka-source.md
Labels: component/documentation, component/io, component/kafka

#9261 remove consumer unnecessary locks
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/client, java

#10060 [Issue 10058]:apply-config-from-env.py to commented default values
  docker/pulsar/scripts/apply-config-from-env.py
Labels: component/deploy, release/2.7.2

#10095 [Broker] Fix NonDurableCursorImpl initialPosition by startCursorPosition greater than lastConfirmedEntry problem.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
Labels: release/2.7.2

#10110 [Doc] Add workflow for "checking dead links" and update instructions for "generating license headers"
  site2/README.md
  site2/docs/concepts-messaging.md
  site2/docs/functions-develop.md
  site2/docs/sql-rest-api.md
  site2/website/contributing.md
  site2/website/versioned_docs/version-2.4.1/functions-develop.md
  site2/website/versioned_docs/version-2.4.2/functions-develop.md
  site2/website/versioned_docs/version-2.5.0/functions-develop.md
  site2/website/versioned_docs/version-2.5.0/sql-rest-api.md
  site2/website/versioned_docs/version-2.5.1/functions-develop.md
  site2/website/versioned_docs/version-2.5.2/functions-develop.md
  site2/website/versioned_docs/version-2.6.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.0/functions-develop.md
  site2/website/versioned_docs/version-2.6.0/sql-rest-api.md
  site2/website/versioned_docs/version-2.6.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.1/functions-develop.md
  site2/website/versioned_docs/version-2.6.1/sql-rest-api.md
  site2/website/versioned_docs/version-2.6.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.2/functions-develop.md
  site2/website/versioned_docs/version-2.6.2/sql-rest-api.md
  site2/website/versioned_docs/version-2.6.3/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.3/functions-develop.md
  site2/website/versioned_docs/version-2.6.3/sql-rest-api.md
  site2/website/versioned_docs/version-2.7.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.0/functions-develop.md
  site2/website/versioned_docs/version-2.7.0/sql-rest-api.md
  site2/website/versioned_docs/version-2.7.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.1/functions-develop.md
  site2/website/versioned_docs/version-2.7.1/sql-rest-api.md
Labels: component/documentation

#10088 Avoid spammy logs in case of BK problems
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/Exceptions.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/ExceptionsTest.java
Labels: release/2.7.2

#10089 Fix AutoConsumeSchema KeyValue encoding
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
Labels: release/2.7.2

#9878 [Tiered Storage] Prevent Class Loader Leak; Restore Offloader Directory Override
  build/run_unit_group.sh
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloaderUtils.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloadersCache.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/offload/OffloadersCacheTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
Labels: component/tieredstorage, release/2.7.2

#10103 [Doc] Add descriptions for C++ Client API doc (ClientConfiguration.h + ConsumerConfiguration.h + ReaderConfiguration.h)
  pulsar-client-cpp/include/pulsar/ClientConfiguration.h
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/include/pulsar/ReaderConfiguration.h
Labels: component/documentation

#10119 [CI] Upload container logs and surefire reports from failed integration tests
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
Labels: component/build

#10111 Remove outdated Travis CI & Jenkins configuration
  .test-infra/jenkins/common_job_properties.groovy
  .test-infra/jenkins/job_pulsar_precommit_cpp.groovy
  .test-infra/jenkins/job_pulsar_precommit_integrationtests.groovy
  .test-infra/jenkins/job_pulsar_precommit_java8.groovy
  .test-infra/jenkins/job_pulsar_release_nightly_snapshot.groovy
  .test-infra/jenkins/job_seed.groovy
  .travis.yml
  .travis/settings.xml
  pom.xml
  pulsar-client-cpp/travis-build.sh
Labels: component/build

#10125 [Issue 9724] [pulsar broker]
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarBatchSourceE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSourceE2ETest.java
Labels: component/test

#10091 Fix: seemingly equal ClientConfigurationData's objects end up not being equal
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ConfigurationDataUtilsTest.java
Labels: release/2.7.2

#10139 [ISSUE 10138] fix npe when new transaction
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
Labels: component/txn

#10145 [C++] Allow to configure memory limit from C API
  pulsar-client-cpp/examples/SampleProducerCApi.c
  pulsar-client-cpp/include/pulsar/c/client_configuration.h
  pulsar-client-cpp/lib/c/c_ClientConfiguration.cc
Labels: type/feature

#10156 Exposing prometheus metrics for Pulsar function local run mode
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTestUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarBatchSourceE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSourceE2ETest.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
Labels: component/functions

#10133 [Doc] Add monitoring guidelines for function and connector
  site2/docs/deploy-monitoring.md
  site2/docs/functions-develop.md
  site2/docs/io-develop.md
  site2/docs/reference-metrics.md
Labels: component/documentation

#10057 Implement GenericObject - Allow GenericRecord to wrap any Java Object
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/GenericObject.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/GenericRecord.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/GenericObjectWrapper.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroRecord.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericProtobufNativeRecord.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroRecordTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecordTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericProtobufNativeReaderTest.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/primitive/PulsarPrimitiveRowDecoderFactory.java
Labels: component/schemaregistry

#10121 Support set namespace and topic policy for non-persistent dispatcher
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: release/2.7.2

#10096 fix 8115 Some partitions get stuck after adding additional consumers to the KEY_SHARED subscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: release/2.7.2

#10146 [Transaction] Fix transaction log recover fail problem.
  pulsar-transaction/coordinator/pom.xml
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionLogImpl.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
Labels: component/txn, component/txn/coordinator

#10131 [Transaction] Fix end transaction retry problem.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
Labels: component/txn, component/txn/coordinator

#10141 [C++] Add /opt/homebrew/ as a possible path for OpenSSL on Mac
  pulsar-client-cpp/CMakeLists.txt
Labels: component/build, component/c++

#10008 [PIP-82] [pulsar-broker] Add a task to publish resource usage to a topic
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceUsagePublisher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTransportManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/package-info.java
  pulsar-broker/src/main/proto/ResourceUsage.proto
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTransportManagerTest.java
Labels: type/feature

#10078 [Messaging] Fix delay message block
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/DelayMessagingTest.java
  tests/integration/src/test/resources/pulsar-messaging.xml
Labels: release/2.7.2, type/bug

#10118 Attempt to fix flaky test SimpleProducerConsumerTestStreamingDispatcherTest.testRedeliveryFailOverConsumer
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/SimpleProducerConsumerTestStreamingDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/test, flaky-tests

#10107 GenericObject - support KeyValue in Message#getValue()
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
Labels: component/schemaregistry

#10142 [C++] Fixed race condition in MemoryLimitController
  pulsar-client-cpp/lib/MemoryLimitController.cc
Labels: type/bug

#10144 [C++] Fixed releasing semaphore and memory quota after send timeout
  pulsar-client-cpp/lib/ProducerImpl.cc
Labels: type/bug

#10098 Fix IllegalStateException in PersistentReplicator
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
Labels: release/2.7.2, type/bug

#10177 Upgrade Jetty libraries to 9.4.39.v20210325
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#10034 Pulsar IO: Allow to develop Sinks that support Schema but without setting it at build time (Sink<GenericObject>)
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestGenericObjectSink.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarGenericObjectSinkTest.java
  tests/integration/src/test/resources/pulsar-function.xml
Labels: component/io, component/schemaregistry, type/feature

#10185 Expose local run config metrics-port-start to CLI
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: component/functions

#10186 GenericObject: handle KeyValue with SEPARATED encoding and add more tests
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
Labels: component/schemaregistry

#9696 [docs] Add documents for Aliyun OSS offload
  site2/docs/tiered-storage-aliyun.md
  site2/website/sidebars.json
Labels: component/documentation, component/tieredstorage

#10193 [Tests] Fix Prometheus metrics parsing for "+Inf" in PrometheusMetricsTest and Pulsar Function tests
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTestUtils.java
  pulsar-broker/src/test/resources/prometheus_metrics_sample.txt
Labels: component/test

#10028 [Issue 10010][Client] fixed memory leak
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
Labels: component/client, release/2.7.2

#10195 [Tests] Add TestNG listeners for resource cleanup, thread leak detection and "fail fast"
  buildtools/pom.xml
  buildtools/src/main/java/org/apache/pulsar/tests/AnnotationListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/BetweenTestClassesListenerAdapter.java
  buildtools/src/main/java/org/apache/pulsar/tests/FailFastNotifier.java
  buildtools/src/main/java/org/apache/pulsar/tests/FastThreadLocalCleanupListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/FastThreadLocalStateCleaner.java
  buildtools/src/main/java/org/apache/pulsar/tests/MockitoCleanupListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/MockitoThreadLocalStateCleaner.java
  buildtools/src/main/java/org/apache/pulsar/tests/PulsarTestListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/RetryAnalyzer.java
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLocalStateCleaner.java
  buildtools/src/test/java/org/apache/pulsar/tests/FastThreadLocalStateCleanerTest.java
  buildtools/src/test/java/org/apache/pulsar/tests/RetryAnalyzerTest.java
  buildtools/src/test/java/org/apache/pulsar/tests/ThreadLocalStateCleanerTest.java
  pom.xml
  pulsar-io/flume/pom.xml
  pulsar-io/netty/pom.xml
Labels: component/test

#10194 [Build] Fix warning about parent.relativePath in buildtools/pom.xml
  buildtools/pom.xml
Labels: component/test

#10192 [Tests] Unregister JettyStatisticsCollector to fix memory leak in Broker shutdown
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
Labels: component/test

#10228 [doc]Fix incorrect metrics name
  site2/website/versioned_docs/version-2.7.1/reference-metrics.md
Labels: component/documentation

#10203 [Issue 10202][pulsar-broker] Update the authentication data when an authentication refresh happens
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/token/PulsarTokenAuthenticationBaseSuite.java
Labels: type/bug

#10213 [Doc] Add descriptions for C++ Client API docs
  pulsar-client-cpp/include/pulsar/Authentication.h
  pulsar-client-cpp/include/pulsar/Client.h
  pulsar-client-cpp/include/pulsar/Consumer.h
  pulsar-client-cpp/include/pulsar/CryptoKeyReader.h
  pulsar-client-cpp/include/pulsar/EncryptionKeyInfo.h
  pulsar-client-cpp/include/pulsar/KeySharedPolicy.h
  pulsar-client-cpp/include/pulsar/Logger.h
  pulsar-client-cpp/include/pulsar/Message.h
  pulsar-client-cpp/include/pulsar/MessageBuilder.h
  pulsar-client-cpp/include/pulsar/MessageId.h
  pulsar-client-cpp/include/pulsar/MessageRoutingPolicy.h
  pulsar-client-cpp/include/pulsar/Reader.h
  pulsar-client-cpp/include/pulsar/TopicMetadata.h
Labels: component/c++, component/documentation

#10239 [CI] Tune GitHub Runner VM options to increase working RAM and improve performance
  .github/actions/tune-runner-vm/action.yml
Labels: component/test

#10196 [Broker] Close namespace clients when PulsarService is closed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: type/bug

#10223 [Issue 10046] Update chuckedMessageRate to chunkedMessageRate without breaking public api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  site2/docs/admin-api-topics.md
  site2/docs/concepts-messaging.md
Labels: type/enhancement

#10033 Support start from separate MessageId for each topic/ partition
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/ConsumerV1Impl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: component/admin

#10147 [Security] Upgrade junit version to 4.13.1 to resolve CVE-2020-15250 and fix test dependency leak
  buildtools/pom.xml
  distribution/server/licenses/LICENSE-Hamcrest.txt
  distribution/server/src/assemble/LICENSE.bin.txt
  managed-ledger/pom.xml
  pom.xml
  pulsar-package-management/bookkeeper-storage/pom.xml
Labels: component/security, component/test

#10238 [Transaction] Standalone support transaction.
  conf/standalone.conf
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
Labels: component/txn, component/txn/coordinator

#10225 Fix entry cache size update logic so it won't go negative.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheManagerTest.java
Labels: type/bug

#10178 [ISSUE 10176] fix npe in CmdTopics
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: type/bug

#10187 [WebSocket Client] WebSocket url token param value optimization
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketHttpServletRequestWrapper.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/WebSocketHttpServletRequestWrapperTest.java
  pulsar-websocket/src/test/resources/my-public.key
  pulsar-websocket/src/test/resources/websocket.conf
Labels: release/2.7.2, type/feature

#10204 [PIP-82] [pulsar-broker] Resource group service, usage-data gathering…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigInfo.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceQuotaCalculator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceQuotaCalculatorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupUsageAggregationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceQuotaCalculatorImplTest.java
Labels: component/broker, type/feature

#10209 [Tests] Fix TCP port conflicts in tests
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LeaderElectionServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PulsarMultiListenersWithInternalListenerNameTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PulsarMultiListenersWithoutInternalListenerNameTest.java
Labels: component/test, flaky-tests

#10207 Fix test retries for shade and backwards compat tests
  tests/bc_2_0_0/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/bc_2_0_1/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/bc_2_6_0/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/pulsar-client-admin-shade-test/src/test/java/org/apache/pulsar/tests/integration/SimpleProducerConsumerTest.java
  tests/pulsar-client-admin-shade-test/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/pulsar-client-all-shade-test/src/test/java/org/apache/pulsar/tests/integration/SimpleProducerConsumerTest.java
  tests/pulsar-client-all-shade-test/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/pulsar-client-shade-test/src/test/java/org/apache/pulsar/tests/integration/SimpleProducerConsumerTest.java
  tests/pulsar-client-shade-test/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
Labels: component/test

#10245 [docs] Fix mismatch in retention size examples.
  site2/docs/admin-api-namespaces.md
Labels: component/documentation

#10199 Shutdown Broker gracefully, but forcefully after brokerShutdownTimeoutMs
  pulsar-broker/src/main/java/org/apache/pulsar/broker/MessagingServiceShutdownHook.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/GracefulExecutorServicesShutdown.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/GracefulExecutorServicesTerminationHandler.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/PulsarServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LeaderElectionServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AdvertisedAddressTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/GracefulExecutorServicesShutdownTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MaxMessageSizeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicOwnerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionMetaStoreTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationFailureTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ServiceUrlProviderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/CompletableFutureCancellationHandler.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/netty/EventLoopUtil.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/netty/NettyFutureUtil.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/CompletableFutureCancellationHandlerTest.java
Labels: component/test

#10247 [Broker] Fix replicated subscriptions related LightProto issues
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsSnapshotBuilder.java
Labels: type/bug

#10220 [C++] Fix use-after-free undefined behavior due to object lifetime problem
  pulsar-client-cpp/lib/HandlerBase.cc
  pulsar-client-cpp/lib/HandlerBase.h
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
Labels: component/c++, release/2.7.2, type/bug

#10201 [PIP-82] [pulsar-broker] incorporate review feedback
  pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTransportManager.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTransportManagerTest.java
Labels: component/broker

#10211 Sink<GenericObject> unwrap internal AutoConsumeSchema and allow to handle topics with KeyValue schema
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestGenericObjectSink.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarGenericObjectSinkTest.java
Labels: component/schemaregistry

#10149 Upgrade jclouds to 2.3.0 to fix security vulnerabilities
  distribution/server/src/assemble/LICENSE.bin.txt
  jclouds-shaded/pom.xml
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security

#10215 [Client|Proxy] Create copy of response messages before passing to other thread via CompletableFuture
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: type/bug

#10251 [Tests] Hide FailFastSkipExceptions and mark the test as skipped
  buildtools/src/main/java/org/apache/pulsar/tests/FailFastNotifier.java
Labels: component/test

#10252 Fix log format and swallow exception
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceUsageTransportManager.java
Labels: type/enhancement

#10179 [Transaction] Tc recover handle transaction in committing and aborting status .
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/recover/TransactionRecoverTrackerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/recover/package-info.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/recover/TransactionRecoverTrackerTest.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionRecoverTracker.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProviderTest.java
Labels: component/txn, component/txn/coordinator

#10226 [Issue 10221] Fix authorization error while using proxy and `Prefix` subscription authentication mode
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithJwtAuthorizationTest.java
Labels: release/2.7.2

#10217 Adding more permits debug statements to better diagnose permit issues
  docker/build.sh
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSenderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: type/enhancement

#10248 Java Client: MessageImpl - ensure that AutoConsumeSchema downloaded the schema before decoding the payload
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestGenericObjectSink.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarGenericObjectSinkTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/suites/PulsarStandaloneTestSuite.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarStandaloneTestBase.java
Labels: component/schemaregistry

#10253 [Documentation] Fix typo: maxPendingChuckedMessage should be maxPendingChunkedMessage
  site2/docs/concepts-messaging.md
Labels: component/documentation

#10160 [ISSUE 10153]fix time unit ns -> ms
  pulsar-function-go/pf/stats.go
Labels: component/functions, release/2.7.2, type/bug

#10120 [doc] Support generate document automatically for pulsar-perf
  bin/pulsar-perf
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/BrokerMonitor.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdGenerateDocumentation.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationController.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/GenerateDocumentionTest.java
Labels: component/client, component/documentation, component/website

#10265 [Python schema] Support python avro schema set default value.
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/pulsar/schema/schema.py
  pulsar-client-cpp/python/schema_test.py
Labels: component/python, release/2.7.2

#10052 Add a JSON RecordBuilder to the GenericJsonSchema
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/FieldSchemaBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/JsonRecordBuilderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/JSONSchemaTest.java
Labels: component/schemaregistry

#10276 [GitHub Actions] Fix logic that was incorrectly skipping tests
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/build

#10273 Improve localrun performance by using JVM options more suited for it
  bin/function-localrunner
Labels: component/functions

#10275 [Broker] Suppress printing of "skip Processing" lines in startup scripts
  docker/pulsar/scripts/apply-config-from-env-with-prefix.py
  docker/pulsar/scripts/apply-config-from-env.py
Labels: component/broker, release/2.7.2

#10260 Upgrade k8s java-client to fix dependency resolution
  .github/workflows/ci-maven-cache-update.yaml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/secrets/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/build

#10277 Issue #10271: AutoConsumeSchema: handle schema NONE as BYTES
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
Labels: component/schemaregistry

#10272 [Cursor] add return statement to exit asyncMarkDelete early on failure
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: component/storage, release/2.7.2, type/bug

#10287 [Security] Upgrade commons-io to address CVE-2021-29425
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, release/2.7.2

#10286 [Security] Use dependency management to enforce vertx version
  distribution/server/pom.xml
  pom.xml
Labels: component/security, release/2.7.2

#10278 [Java Client] Fix concurrency issue in client's producer epoch handling
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: release/2.7.2, type/bug

#10184 PIP 83 : Pulsar client: Message consumption with pooled buffer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Message.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessagesImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ByteBufferSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/BytesSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LocalDateTimeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StringSchema.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
Labels: component/client

#10162 [Transaction] Fix transactionMetadata store recover timeout problem.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/timeout/TransactionTimeoutTrackerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/TransactionBufferClientException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionLogImpl.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
Labels: component/txn, component/txn/coordinator

#10093 [Broker] Add time based backlog quota
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/BacklogQuota.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BacklogQuotaCompatibilityTest.java
Labels: component/broker

#10288 [Security] Add configuration for running OWASP Dependency Check for all modules
  build/pulsar_ci_tool.sh
  jclouds-shaded/pom.xml
  kafka-connect-avro-converter-shaded/pom.xml
  pom.xml
  pulsar-broker-shaded/pom.xml
  pulsar-client-1x-base/pulsar-client-2x-shaded/pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-functions/localrun-shaded/pom.xml
  pulsar-sql/presto-distribution/pom.xml
  pulsar-sql/presto-pulsar/pom.xml
  tests/docker-images/java-test-functions/pom.xml
Labels: component/security

#10013 Add underReplicate state in the topic internal stats
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/cache/LocalZooKeeperCacheService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/stats/client/PulsarBrokerStatsClientTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PersistentTopicInternalStats.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperChildrenCache.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/admin/AdminTest.java
  tests/integration/src/test/resources/pulsar-messaging.xml
Labels: component/admin, release/2.7.2

#10305 [Issue 8214][pulsar-client] Added pausing of new topic consumers to MultiTopicsConsumerImpl.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: release/2.7.2, type/bug

#10304 [Broker] Fix logging in shutdown and improve it
  bin/pulsar
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/MessagingServiceShutdownHook.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/GracefulExecutorServicesTerminationHandler.java
Labels: type/enhancement

#10246 Add support for deduplication testing
  pulsar-testclient/pom.xml
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/DefaultMessageFormatter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/IMessageFormatter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceProducerTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/TestDefaultMessageFormatter.java
Labels: component/tools, type/enhancement

#10025 Removed null check in MessageImpl.getMessageId() to match documented behavior.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug

#10313 [Tests] Fix flaky test TransactionMetadataStoreServiceTest.transactionTimeoutRecoverTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
Labels: flaky-tests

#9440 [Issue 9438][pulsar-client] Fix inconsistent equals and hashCode for MessageIds
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageIdImpl.java
  pulsar-client/src/main/resources/findbugsExclude.xml
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageIdImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageIdCompareToTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicMessageIdImplTest.java
Labels: component/client, java, release/2.7.2

#10307 Fix C++ client cannot be built with Boost <=1.53
  .github/workflows/ci-cpp-build-centos7.yaml
  pulsar-client-cpp/docker-build-centos7.sh
  pulsar-client-cpp/docker/centos-7/Dockerfile
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/Murmur3_32Hash.cc
  pulsar-client-cpp/lib/checksum/crc32c_sse42.cc
Labels: component/build, component/c++, release/2.7.2

#10292 Pause the replicated subscriptions snapshots when there is no real traffic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsController.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
Labels: type/enhancement

#10206 [Transaction] Fix Transaction buffer client time out.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
Labels: component/txn

#10297 Support advertisedListeners for standalone
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/StandaloneTest.java
  pulsar-broker/src/test/resources/configurations/pulsar_broker_test_standalone.conf
Labels: release/2.7.2, type/bug

#9276 performanceReader add aggregate stats
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
Labels: component/test

#10182 Issue 10181: Transactions: broker side NullPointerException in case of enableTransactionCoordinator=false
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/txn, component/txn/coordinator

#10323 [Transaction] Fix transaction client timeout.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionBuilderImpl.java
Labels: component/txn

#10322 [Transaction] Fix transaction buffer op fail handle.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
Labels: component/txn

#10314 Add Vivy to the "Powered by" Page
  site2/website/data/users.js
Labels: component/website

#10301 Pulsar Client Tools: handle every data type with 'pulsar-client consume'
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
Labels: component/cli

#10321 [Test] Upgrade Testcontainers version to 1.15.3 and use bom
  pom.xml
Labels: component/test

#10327 [Transaction] Fix transaction client reconnect.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionClientReconnectTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
Labels: component/txn

#10318 Fixed bug in permits log message
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: type/bug

#10267 Add documentation about Sink<GenericObject> and Source<byte[]>
  site2/docs/io-develop.md
Labels: component/documentation

#10334 [Transaction] Fix MLTransactionLog open manageLedger name problem.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedLedgerMetricsTest.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionLogImpl.java
Labels: component/txn, component/txn/coordinator

#10257 Fix transaction buffer lookup
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferClientImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarTestClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: component/txn

#10188 [broker] Limit the number of producers/consumers that can connect per topic for each IP address
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransportCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/broker, type/enhancement

#10317 [Doc] Add guides for end-to-end encryption in Node.js client
  site2/docs/client-libraries-node.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-node.md
Labels: component/client, component/documentation, release/2.7.2

#10224 [Transaction] Fix transaction log recover sequenceId problem.
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionLogReplayCallback.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionLogImpl.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionLogInterceptor.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/proto/PulsarTransactionMetadata.proto
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
Labels: component/txn, component/txn/coordinator

#10190 Fix usage of seekAsync in MessageImpl.hasMessageAvailable and flaky-test
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MultiTopicsReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RetryUtilTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/RetryUtil.java
Labels: type/bug

#10342 [Tests] Fix AvroSchemaTest on JDK11
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/JodaTimeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/SchemaTest.java
Labels: component/test

#10346 [Tests] Fix ProxyWithAuthorizationTest on JDK11
  bouncy-castle/bcfips-include-test/src/test/resources/authentication/tls/broker-cert.pem
  bouncy-castle/bcfips-include-test/src/test/resources/authentication/tls/cacert.pem
  bouncy-castle/bcfips-include-test/src/test/resources/authentication/tls/client-cert.pem
  build/regenerate_certs_for_tests.sh
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/broker-cacert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/broker-cert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/client-cacert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/client-cert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/proxy-cacert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/proxy-cert.pem
  pulsar-proxy/src/test/resources/authentication/tls/cacert.pem
  pulsar-proxy/src/test/resources/authentication/tls/client-cert.pem
  pulsar-proxy/src/test/resources/authentication/tls/server-cert.pem
Labels: component/build, component/test

#10365 Fix flaky ManagedLedgerFactory shutdown
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: flaky-tests

#9877 Support get persistent topics or non-persistent topics for pulsar admin client
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/admin, type/enhancement

#10362 [Transaction] Fix flaky txnMessageAckTest.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
Labels: component/txn

#10349 [C++] Add isConnected() method
  pulsar-client-cpp/include/pulsar/Consumer.h
  pulsar-client-cpp/include/pulsar/Producer.h
  pulsar-client-cpp/include/pulsar/Reader.h
  pulsar-client-cpp/lib/Consumer.cc
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
  pulsar-client-cpp/lib/ConsumerImplBase.h
  pulsar-client-cpp/lib/HandlerBase.h
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/lib/PartitionedProducerImpl.cc
  pulsar-client-cpp/lib/PartitionedProducerImpl.h
  pulsar-client-cpp/lib/Producer.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
  pulsar-client-cpp/lib/ProducerImplBase.h
  pulsar-client-cpp/lib/Reader.cc
  pulsar-client-cpp/lib/ReaderImpl.cc
  pulsar-client-cpp/lib/ReaderImpl.h
  pulsar-client-cpp/tests/ConsumerTest.cc
  pulsar-client-cpp/tests/ProducerTest.cc
  pulsar-client-cpp/tests/ReaderTest.cc
Labels: type/enhancement

#10353 In test logs, logger name is being printed twice
  buildtools/src/main/resources/log4j2.xml
Labels: component/test

#10343 [Build] Specify release in maven-compiler-plugin configuration on JDK11
  pom.xml
Labels: component/build

#10345 [Tests] Fix KeyStoreTlsTest on JDK11
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/KeyStoreSSLContext.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/SSLContextValidatorEngine.java
Labels: component/test, jdk11support

#10344 [Tests] Remove ".atMost" definitions for Awaitility in most cases
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiDelayedDelivery.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMaxUnackedMessages.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/IncrementPartitionsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/MaxUnackedMessagesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicMessageTTLTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/EnableProxyProtocolTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentQueueE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/TopicDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReaderTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionClientReconnectTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionLowWaterMarkTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionStablePositionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestPulsarSQLBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/proxy/TestProxyWithWebSocket.java
Labels: component/test, flaky-tests

#10367 Fix schema type check issue when use always compatible strategy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaTypeCompatibilityCheckTest.java
Labels: release/2.7.2, type/bug

#10363 Fix C++ client cannot be built on Windows
  pulsar-client-cpp/lib/CMakeLists.txt
  pulsar-client-cpp/lib/ReaderImpl.h
Labels: component/build, component/c++

#10368 Don't return non-persistent topic when list tables by Pulsar SQL
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
Labels: component/sql

#10350 Fix flaky test testOffloadV2
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
Labels: flaky-tests

#10359 fix docker standalone image error
  docker/pulsar-standalone/Dockerfile
Labels: component/build, release/2.7.2

#10375 [Broker] Support array type claims in JWT
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
Labels: type/enhancement

#10325 [Doc] Update client-libraries-java.md
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-java.md
Labels: component/documentation

#10336 [Tests] Recreate keystores used in TLS tests with RSA key algorithm & SHA256 to support JDK 11 & TLS 1.3
  build/generate_keystores_for_tests.sh
  pulsar-broker/src/test/resources/authentication/keystoretls/broker.keystore.jks
  pulsar-broker/src/test/resources/authentication/keystoretls/broker.truststore.jks
  pulsar-broker/src/test/resources/authentication/keystoretls/client.keystore.jks
  pulsar-broker/src/test/resources/authentication/keystoretls/client.truststore.jks
  pulsar-proxy/src/test/resources/authentication/keystoretls/broker.keystore.jks
  pulsar-proxy/src/test/resources/authentication/keystoretls/broker.truststore.jks
  pulsar-proxy/src/test/resources/authentication/keystoretls/client.keystore.jks
  pulsar-proxy/src/test/resources/authentication/keystoretls/client.truststore.jks
  site2/docs/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.0/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.1/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.2/security-tls-keystore.md
  site2/website/versioned_docs/version-2.6.3/security-tls-keystore.md
  site2/website/versioned_docs/version-2.7.0/security-tls-keystore.md
  site2/website/versioned_docs/version-2.7.1/security-tls-keystore.md
  site2/website/versioned_docs/version-2.7.2/security-tls-keystore.md
Labels: component/test, jdk11support

#10387 Add CI to verify C++ client could be built on Windows
  .github/workflows/ci-cpp-build-windows.yaml
  pulsar-client-cpp/.gitignore
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/README.md
  pulsar-client-cpp/lib/ConnectionPool.cc
  pulsar-client-cpp/lib/JavaStringHash.cc
  pulsar-client-cpp/lib/JavaStringHash.h
  pulsar-client-cpp/lib/TopicName.cc
  pulsar-client-cpp/lib/auth/AuthOauth2.h
  pulsar-client-cpp/vcpkg.json
Labels: component/build, component/c++, component/windows

#10351 Resource locks should automatically revalidate after a metadata session is re-established
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/Stat.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/ResourceLockImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKSessionWatcher.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/LockManagerTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/ZKSessionTest.java
Labels: type/enhancement

#10386 Fix primitive schema upload for ALWAYS_COMPATIBLE strategy.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaTypeCompatibilityCheckTest.java
Labels: component/schemaregistry

#10015 Support set property on a namespace.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/admin

#10366 [Transaction] Fix transaction timeout tracker expired problem.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/timeout/TransactionTimeoutTrackerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
Labels: component/txn

#9598 Make `LocalPolicies` immutable to avoid concurrent modify inconsistent.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/cache/LocalZooKeeperCacheService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/LocalPolicies.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/LocalPolicesTest.java
Labels: release/2.7.2, type/bug

#10383 Fix schema ledger deletion when deleting topic with delete schema.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: component/schemaregistry, release/2.7.2, type/bug

#10381 [Issue 10170] Optimize locks in AuthenticationAthenz
  pulsar-client-auth-athenz/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenz.java
Labels: type/cleanup

#10340 [Build] Fix core-modules profile on JDK11
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  README.md
  build/build_java_test_image.sh
  docker/build.sh
  pom.xml
  tests/README.md
  tests/compose/README.md
Labels: jdk11support

#10404 [Broker] Prevent carrying state of PositionImplRecyclable when recycled
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/PositionImplRecyclable.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/PositionImplRecyclableTest.java
Labels: type/enhancement

#10400 [Broker] Fix issue in reusing EntryBatchIndexesAcks instances
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryBatchIndexesAcks.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/EntryBatchIndexesAcksTest.java
Labels: release/2.7.2, type/bug

#10166 Add debug logging when consumer fails to send permits to Broker
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/stats

#10397 [Bookie] Fallback to PULSAR_EXTRA_OPTS if BOOKIE_EXTRA_OPTS isn't defined
  conf/bkenv.sh
Labels: release/2.7.2

#10376 [Build] Fix skipping tests when there are only documentation changes and run centos7 & windows cpp build only when there are cpp changes
  .github/changes-filter.yaml
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp-build-centos7.yaml
  .github/workflows/ci-cpp-build-windows.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/build

#10347 Fix ConcurrentModificationException when attempting to update local broker data
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
Labels: type/bug

#10371 [Documentation] Document the configuration of Project JDK and Maven JDK in IntelliJ
  README.md
  site2/website/contributing.md
Labels: component/documentation

#10413 [Broker] Make Persistent*DispatcherMultipleConsumers.readMoreEntries synchronized
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
Labels: release/2.7.2, type/bug
