Repository apache/pulsar, pull requests merged in 2021-02, with the labels that each got.

#9384 [docs] Update performance tuning reference
  site2/docs/performance-pulsar-perf.md
Labels: type/performance

#9379 [client] Add default implementation of CryptoKeyReader
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/DefaultCryptoKeyReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/DefaultCryptoKeyReaderBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/DefaultCryptoKeyReaderConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/DefaultCryptoKeyReaderTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/DefaultCryptoKeyReaderConfigurationDataTest.java
  pulsar-client/src/test/resources/crypto_ecdsa_private.key
  pulsar-client/src/test/resources/crypto_ecdsa_public.key
  pulsar-client/src/test/resources/crypto_rsa_private.key
  pulsar-client/src/test/resources/crypto_rsa_public.key
Labels: component/client, type/enhancement

#9108 [docs]Add topic-level policy config
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.1/reference-pulsar-admin.md
Labels: component/documentation, component/topic-policy, release/2.7.1

#9375 Fix flaky test TopicReaderTest.testMultiReaderIsAbleToSeekWithTimeOnMiddleOfTopic
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
Labels: flaky-tests

#9372 [pulsar-client-cpp] Fix broken replication msg to specific cluster
  pulsar-client-cpp/lib/Commands.cc
Labels: component/c++, release/2.7.1

#9385 [doc] Add reference to full set of pulsar connector
  site2/docs/io-connectors.md
Labels: component/documentation, component/io

#9232 Allow to configure BookKeeper Opportunistic Striping Feature (and all BK client features using bookkeeper_ prefix)
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BookKeeperClientFactoryImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OpportunisticStripingTest.java
Labels: type/feature

#9296 Support get topic applied policy for MaxConsumers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/admin, component/rest

#9391 [Doc]--Update release time for Pulsar 2.6.3
  site2/website/release-notes.md
Labels: component/website

#9386 [docs] fix metrics type error
  site2/docs/reference-metrics.md
  site2/website/versioned_docs/version-2.4.0/reference-metrics.md
  site2/website/versioned_docs/version-2.4.1/reference-metrics.md
  site2/website/versioned_docs/version-2.4.2/reference-metrics.md
  site2/website/versioned_docs/version-2.5.0/reference-metrics.md
  site2/website/versioned_docs/version-2.5.1/reference-metrics.md
  site2/website/versioned_docs/version-2.5.2/reference-metrics.md
  site2/website/versioned_docs/version-2.6.0/reference-metrics.md
  site2/website/versioned_docs/version-2.6.1/reference-metrics.md
  site2/website/versioned_docs/version-2.6.2/reference-metrics.md
  site2/website/versioned_docs/version-2.6.3/reference-metrics.md
  site2/website/versioned_docs/version-2.7.0/reference-metrics.md
  site2/website/versioned_docs/version-2.7.1/reference-metrics.md
Labels: component/documentation

#9390 [docs] Update spark and Kafka info
  site2/docs/adaptors-kafka.md
  site2/docs/adaptors-spark.md
Labels: component/documentation, component/kafka, component/spark

#9366 [Doc] Add notes for S3 offloading configuration
  site2/docs/tiered-storage-aws.md
  site2/website/versioned_docs/version-2.7.0/tiered-storage-aws.md
  site2/website/versioned_docs/version-2.7.1/tiered-storage-aws.md
Labels: component/documentation

#9392 [docs] add Key_shared subscription type
  site2/docs/client-libraries-java.md
  site2/docs/client-libraries-node.md
  site2/docs/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-node.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-node.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-node.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-node.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-node.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-node.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-node.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-node.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-node.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-websocket.md
Labels: component/documentation

#9382 Fix setting backlogQuota will always succeed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: component/cli, release/2.7.1

#8422 [PIP-71][SQL]Pulsar SQL migrate SchemaHandle to presto decoder
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/AvroSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/JSONSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/KeyValueSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnHandle.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorModule.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarDispatchingRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarFieldValueProviders.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarInternalColumn.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarPrimitiveSchemaHandler.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordSet.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordSetProvider.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRowDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSchemaHandlers.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSqlSchemaInfoProvider.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/avro/PulsarAvroColumnDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/avro/PulsarAvroRowDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/avro/PulsarAvroRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/avro/package-info.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/json/PulsarJsonFieldDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/json/PulsarJsonRowDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/json/PulsarJsonRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/json/package-info.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/primitive/PulsarPrimitiveRowDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/primitive/PulsarPrimitiveRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/primitive/package-info.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestAvroSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnectorConfig.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarKeyValueSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarMetadata.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarPrimitiveSchemaHandler.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/AbstractDecoderTester.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/DecoderTestMessage.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/DecoderTestUtil.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/avro/AvroDecoderTestUtil.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/avro/TestAvroDecoder.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/json/JsonDecoderTestUtil.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/json/TestJsonDecoder.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/primitive/PrimitiveDecoderTestUtil.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/primitive/TestPrimitiveDecoder.java
Labels: component/sql

#9387 [tiered-storage] Allow AWS credentials to be refreshed
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/provider/JCloudBlobStoreProvider.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/provider/TieredStorageConfigurationTests.java
Labels: component/tieredstorage, release/2.6.4, release/2.7.1

#9403 Drop formatter.xml
  src/formatter.xml
Labels: component/build

#9334 add ack timeout for RetryTopicTest#testRetryTopicWithMultiTopic
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/RetryTopicTest.java
Labels: flaky-tests

#9163 Avoid enable DLQ on Key_Shared subscription.
  pulsar-broker/src/main/java/org/apache/pulsar/client/api/RawReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ReaderImplTest.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/AbstractWebSocketHandlerTest.java
Labels: component/client, doc-required

#9056 Add streaming dispatcher.
  build/run_unit_group.sh
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/WaitingEntryCallBack.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/PendingReadEntryRequest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/package-info.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentFailoverE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherFailoverConsumerStreamingDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentFailoverStreamingDispatcherE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherBlockConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicStreamingDispatcherE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicStreamingDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/SimpleProducerConsumerTestStreamingDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReaderTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DispatcherBlockConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
  site2/docs/reference-configuration.md
Labels: component/broker, component/storage, doc-required

#9412 [pulsar-broker] Handle bad-version in metadata-store if broker updates zk-metadata from zk-client
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
Labels: component/broker

#9394 [go-functions] fix metrics server handler error
  pulsar-function-go/pf/stats.go
  pulsar-function-go/pf/stats_test.go
Labels: component/functions, component/stats, release/2.7.1

#9321 [pulsar-broker]Add alerts for expired/expiring soon tokens
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/broker, doc-required, release/2.7.1

#9400 [java producer] op.cmd may be null, cause NPE
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: java, type/enhancement

#9383 [Java Client] Batch version of acknowledgeAsync will return a completed future before individual messages complete
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerBatchReceiveTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
Labels: component/client

#9434 fix broken links
  site2/docs/deploy-monitoring.md
  site2/website/versioned_docs/version-2.7.0/deploy-monitoring.md
  site2/website/versioned_docs/version-2.7.0/tiered-storage-gcs.md
Labels: component/documentation, component/website, release/2.7.1

#9395 [docs] Add default TTL value
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  site2/docs/reference-configuration.md
  site2/docs/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.2.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.2.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.3.2/reference-configuration.md
  site2/website/versioned_docs/version-2.3.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.4.2/reference-configuration.md
  site2/website/versioned_docs/version-2.4.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.0/reference-configuration.md
  site2/website/versioned_docs/version-2.5.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.5.2/reference-configuration.md
  site2/website/versioned_docs/version-2.5.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.6.3/reference-configuration.md
  site2/website/versioned_docs/version-2.6.3/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-pulsar-admin.md
Labels: component/config, component/documentation

#9378 Skip clear delayed messages while dispatch does not init
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
Labels: release/2.7.1, type/bug

#9319 fix narExtractionDirectory not set
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarClassLoader.java
Labels: component/functions, release/2.7.1

#9322 [Replicated] Add the test for topic replicated and create producer.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: component/test

#9396 Compression must be applied during deferred schema preparation and enableBatching is enabled
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: component/client, release/2.6.4, release/2.7.1

#9439 [Issue 9418][docs] Add how to define Pulsar resources names when using K8S runtime
  site2/docs/admin-api-overview.md
Labels: component/admin, component/documentation

#9417 [Docs] Optimize helm deploy description about the first deployment (#9416)
  site2/docs/helm-deploy.md
  site2/website/versioned_docs/version-2.5.0/helm-deploy.md
  site2/website/versioned_docs/version-2.6.0/helm-deploy.md
  site2/website/versioned_docs/version-2.6.1/helm-deploy.md
  site2/website/versioned_docs/version-2.6.2/helm-deploy.md
  site2/website/versioned_docs/version-2.6.3/helm-deploy.md
  site2/website/versioned_docs/version-2.7.0/helm-deploy.md
  site2/website/versioned_docs/version-2.7.1/helm-deploy.md
Labels: component/documentation

#9472 [Pulsar SQL] Fix injection factory cast error (fix master broken)
  pulsar-sql/presto-distribution/pom.xml
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSqlSchemaInfoProvider.java
Labels: component/sql

#9274 PIP-45: Implement distributed id generator using coordination service
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/DistributedIdGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/DistributedIdGeneratorTest.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
Labels: type/enhancement

#9460 Fixed NPE and cache invalidation in leader election
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataCache.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
Labels: type/bug

#9476 Contribution logoupdate
  site2/website/contributing.md
Labels: component/website

#9446 Fix the partition number not equals expected error
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: release/2.6.4, release/2.7.1, type/bug

#9264 Fix BookkeeperSchemaStorage NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
Labels: release/2.7.1, type/bug

#9320 Allow memory limit to be set for the pulsar client used in the ThreadRuntime in Pulsar Functions
  conf/functions_worker.yml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactoryTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
Labels: component/functions

#9413 Optimize built-in source/sink startup by eliminating redundant NAR unpacking and checksum calculation
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarClassLoader.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/ClassLoaderUtils.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/Connector.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/ConnectorsManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: component/functions, component/io

#9422 [Doc] Add descriptions for namespace isolation policy, configuration store, and metadata store
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaceIsolationPolicy.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  site2/docs/concepts-architecture-overview.md
Labels: component/documentation

#9489 [docs] The bookkeeper minimum configuration don't need ledgerManagerType property
  site2/docs/administration-zk-bk.md
  site2/website/versioned_docs/version-2.1.0-incubating/administration-zk-bk.md
  site2/website/versioned_docs/version-2.3.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.4.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.5.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.1/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.2/administration-zk-bk.md
  site2/website/versioned_docs/version-2.6.3/administration-zk-bk.md
  site2/website/versioned_docs/version-2.7.0/administration-zk-bk.md
  site2/website/versioned_docs/version-2.7.1/administration-zk-bk.md
Labels: component/documentation

#9486 Do not use a static map of listeners in TopicPoliciesService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
Labels: release/2.7.1, type/bug

#9420 Fix flaky test ConsumedLedgersTrimTest.testConsumedLedgersTrimNoSubscriptions
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumedLedgersTrimTest.java
Labels: flaky-tests

#9445 [pulsar-functions] enhance kubernetes manifest customizer with default options
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/BasicKubernetesManifestCustomizer.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/BasicKubernetesManifestCustomizerTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: component/functions

#9397 [ML] Make ManagedLedger storage configurable
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/ManagedLedgerStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/package-info.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
Labels: component/storage

#9435 Fix flaky-test: V1_ProducerConsumerTest.testConcurrentConsumerReceive…
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
Labels: flaky-tests

#9260 [Functions] Can't create functions with m-TLS
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/WorkerInfo.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/LeaderService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
Labels: component/functions, release/2.7.1, type/bug

#9468 Fix exception when get optional field for PB message
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: component/broker, type/bug

#9494 Add DataStax.com logo
  site2/website/data/users.js
Labels: component/website

#9348 Make admin operations on Statestore non blocking
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: component/admin, java

#9273 PIP-45: Added session events to metadata store
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/extended/MetadataStoreExtended.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/extended/SessionEvent.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKSessionWatcher.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreExtendedTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/ZKSessionTest.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
Labels: type/enhancement

#9473 [pulsar-broker] MockZK: Handle zk-children watch notification
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/MetaStoreImplTest.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
Labels: component/test

#9498 [C++] Remove Boost::System runtime dependency
  pulsar-client-cpp/CMakeLists.txt
Labels: component/c++, type/enhancement

#9443 Try to fix flaky LeaderElection test.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
Labels: flaky-tests

#9504 Fix the batch index ack persistent issue.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: release/2.6.4, release/2.7.1, type/bug

#9212 [pulsar-broker] Fix: handle topic loading failure due to broken schema ledger
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/DefaultSchemaRegistryService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/exceptions/SchemaException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/validator/SchemaRegistryServiceWithSchemaDataValidator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/ClientGetSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaStorage.java
Labels: component/broker, release/2.7.1

#9362 Support get topic applied policy for Retention
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#9505 Support get topic applied policy for offloader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy

#9503 Fixes canceling of duplicate workflow runs
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cancel-duplicate-workflows.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function-state.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-pulsar-website-build.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: component/test

#9510 More friendly error hint when use type in wrong formated namespace
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/NamespaceName.java
Labels: type/cleanup

#9469 Avoid duplicate extra opts
  bin/pulsar
Labels: type/cleanup

#9302 Add subscription backlog size info for topicstats.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DispatcherBlockConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
Labels: component/stats, release/2.7.1

#9342 Fix create partition of an exist topic doesn't throw RestException
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoSubscriptionCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionCreationTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/rest

#9497 [Issue 9496] fix logic in ManagedLedgerWriter when config threadNum >= ledgerNum
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
Labels: component/tools, release/2.7.1

#9520 [C++] Remove namespace check for MultiTopicsConsumerImpl
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/PatternMultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/PatternMultiTopicsConsumerImpl.h
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: release/2.7.1

#9521 [Issue9507][testclient] add --batch-index-ack for the pulsar-perf
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  site2/docs/performance-pulsar-perf.md
Labels: component/client

#9351 [pulsar-broker] namespace resources use metadata-store api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BaseResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespaceResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PulsarResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: component/broker

#9523 Ignore When Replicated Subscription is Disabled by Broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionConfigTest.java
Labels: component/broker

#9500 Optimize built-in source/sink startup Part 2
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/ConnectorsManager.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactoryTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
Labels: component/functions, component/io

#9529 [Issue9364] Fix the metric data of msgDelayed for partitioned topics is not aggregated
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
Labels: release/2.7.1, type/bug

#9516 [Doc] Add descriptions for function runtime and context
  site2/docs/functions-develop.md
  site2/docs/functions-runtime.md
  site2/website/versioned_docs/version-2.7.1/functions-develop.md
  site2/website/versioned_docs/version-2.7.1/functions-runtime.md
Labels: component/documentation

#9524 [Doc] Update pulsar-client cli doc with newer options.
  site2/docs/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.1/reference-cli-tools.md
Labels: component/cli, component/documentation, release/2.7.1

#9444 makes subscription start from MessageId.latest defaultly
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/admin, release/2.7.1, type/bug

#9377 [fix #9315] Add downloadDirectory support to function k8s runtime
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PackagesImpl.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: component/functions, release/2.7.1

#9172 Disallow parsing of token with none signature in authenticateToken
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
Labels: component/security, release/2.7.1, type/bug

#9528 [DOCS] Fix the batch delay default value in versioned docs
  site2/docs/client-libraries-cgo.md
  site2/docs/client-libraries-go.md
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-go.md
  site2/website/versioned_docs/version-2.2.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.2.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-go.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-cgo.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-go.md
Labels: component/documentation

#9499 [pulsar-function] fix possible deadlock on broker-function service startup
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/broker, component/functions

#9539 CI Builds for WebSite and MacOs write too much log (missing -B option)
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-pulsar-website-build.yaml
Labels: component/build

#9546 [hotfix] fix problem caused by concurrent merge
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
Labels: component/build

#9532 [Broker] Async read entries with max size bytes
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ReadOnlyCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: component/storage, release/2.7.1, type/enhancement

#9538 Fix reading metrics will always get stuck in some cases
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
Labels: component/functions, release/2.7.1, type/bug

#9519 [Functions] Call the corresponding restart according to the componenttype. #9502
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
Labels: component/functions, release/2.7.1

#9533 [C++] Removed usages of boost::regex
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/NamedEntity.cc
  pulsar-client-cpp/lib/NamedEntity.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/Url.cc
  pulsar-client-cpp/lib/auth/AuthAthenz.cc
  pulsar-client-cpp/lib/auth/athenz/ZTSClient.cc
  pulsar-client-cpp/python/CMakeLists.txt
  pulsar-client-cpp/tests/ConsumerConfigurationTest.cc
  pulsar-client-cpp/tests/ZTSClientTest.cc
Labels: component/c++, type/enhancement

#9393 Fix testBrokerSelectionForAntiAffinityGroup by increasing OverloadedThreshold
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/GenericBrokerHostUsageImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LinuxBrokerHostUsageImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
Labels: flaky-tests

#9552 Async the DLQ process
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java
Labels: release/2.7.1, type/bug

#9544 [C++] Add detail logs for schema related messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-client-cpp/lib/ClientConnection.cc
Labels: type/enhancement

#9542 [Issue 9495][c++ client] add 'encrypted' option in commands.newproducer()
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/pulsar-test-service-start.sh
  pulsar-client-cpp/tests/BasicEndToEndTest.cc
Labels: component/c++, component/client, release/2.7.1

#9559 [C++] Account for different variables names on different CMake versions
  pulsar-client-cpp/CMakeLists.txt
Labels: component/c++

#9554 Fix a couple of bugs in exclusive producer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ExclusiveProducerTest.java
Labels: component/broker, type/bug

#9548 [Python] Fix nested Map or Array in schema doesn't work
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/schema_test.py
Labels: component/python, component/schemaregistry

#9389 Initial python 3.9 client wheel build support
  pulsar-client-cpp/docker/build-client-lib-within-docker.sh
  pulsar-client-cpp/docker/build-client-lib.sh
  pulsar-client-cpp/docker/build-wheels.sh
  pulsar-client-cpp/docker/create-images.sh
  pulsar-client-cpp/docker/push-images.sh
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/python, doc-required, triage/week-5

#9570 [C++] Allow to disable static or dynamic lib at build time
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/lib/CMakeLists.txt
Labels: component/c++

#9574 Add missing python 3.9 paths in CmakeLists.txt
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/python/CMakeLists.txt
Labels: component/build, component/c++, component/python

#9577 [Issue 9576] Fix flaky test BrokerServiceLookupTest.testModularLoadManagerSplitBundle
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
Labels: component/test, flaky-tests

#9575 [Issue 9451] Fix flaky test SimpleProducerConsumerTest.testConcurrentConsumerReceiveWhileReconnect
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/test, flaky-tests

#9568 [Functions] Close InputStreams properly
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/MiniKdc.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PackagesImpl.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImplV2.java
Labels: component/package

#9551 Avoid introducing bookkeeper-common into the pulsar-common
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/LedgerMetadataUtils.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/EnsemblePlacementPolicyConfig.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/EnsemblePlacementPolicyConfigTest.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicy.java
Labels: release/2.7.1

#9581 [Broker] Fix failing test LoadReportNetworkLimit
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LinuxBrokerHostUsageImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadReportNetworkLimit.java
Labels: component/test, flaky-tests

#9580 Allow to build Pulsar with JDK11 and -Dmaven.compiler.release=8
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/MangedLedgerInterceptorImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiMessageIdImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/stats/JvmDefaultGCMetricsLogger.java
  pulsar-common/src/test/java/org/apache/pulsar/common/stats/JvmDefaultGCMetricsLoggerTest.java
Labels: component/build

#9442 [fix #9432] Fix NPEs in test cleanup methods
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthenticationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeWithoutZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/v1/V1_ProxyAuthenticationTest.java
Labels: flaky-tests

#9419 [client] Cleanup consumer on multitopic subscribe failure
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientTestFixtures.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
Labels: component/client, release/2.7.1, type/bug

#9565 [Broker] Fix race condition in BrokerService topic cache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: component/broker, release/2.7.1, type/enhancement

#9569 match BookKeeper's grpcio requirement
  pulsar-client-cpp/python/setup.py
Labels: component/python

#9536 [Build] build with unix lineEnding in Windows
  distribution/server/src/assemble/bin.xml
Labels: component/build, type/enhancement

#9563 [Issue 9549] Add friendly comment for topic compactor tool.
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
Labels: type/enhancement

#9336 [Build] Disable looking up snapshot versions in public repositories
  pom.xml
Labels: component/build

#9561 [Admin CLI] Inform user when expire message request is not executed.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
Labels: component/admin, release/2.7.1

#9482 [Issue 9480][pulsar-io] add option for auto.offset.reset to kafka source
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSourceConfig.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
  pulsar-io/kafka/src/test/resources/kafkaSourceConfig.yaml
  site2/docs/adaptors-kafka.md
  site2/docs/io-kafka-source.md
Labels: release/2.7.1, type/enhancement

#9537 Fix get-message-by-id throwing NPE when message is null
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/admin, release/2.7.1, type/bug

#9325 Only auth _errors_ should log at error level
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderList.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/AuthenticationFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthLogsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockAuthentication.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockAuthenticationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockAuthorizationProvider.java
Labels: type/bug

#8913 [Pulsar C++ Client] make pool connections configurable in perf tools
  pulsar-client-cpp/perf/PerfConsumer.cc
  pulsar-client-cpp/perf/PerfProducer.cc
Labels: component/c++, component/cli, type/enhancement

#9584 [pulsar-functions] Add maximum allowed amount of resources setting for functions
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/worker/WorkerApiV2ResourceConfigTest.java
  pulsar-functions/runtime/src/test/resources/test_worker_k8s_resource_config.yml
Labels: component/functions, type/feature

#9331 Update year to 2021
  NOTICE
  distribution/server/src/assemble/NOTICE.bin.txt
Labels: component/documentation, release/2.6.4, release/2.7.1

#8796 [Issue 8751] Update Dockerfile for Pulsar and Dashboard to Create and Use pulsar User (nonroot user)
  docker/pulsar-all/Dockerfile
  docker/pulsar-standalone/Dockerfile
  docker/pulsar/Dockerfile
  site2/docs/getting-started-docker.md
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/conf/bookie.conf
  tests/docker-images/latest-version-image/conf/broker.conf
  tests/docker-images/latest-version-image/conf/functions_worker.conf
  tests/docker-images/latest-version-image/conf/global-zk.conf
  tests/docker-images/latest-version-image/conf/local-zk.conf
  tests/docker-images/latest-version-image/conf/presto_worker.conf
  tests/docker-images/latest-version-image/conf/proxy.conf
Labels: component/build

#9556 [Issue 9360][pulsar-functions] kubernetes runtime functions create rfc1123 compliant labels
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: component/functions, doc-required, release/2.7.1, type/enhancement

#9587 [broker] Fix NPE that occurs in PersistentStickyKeyDispatcherMultipleConsumers when debug log is enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: component/broker, type/bug

#9541 Add producer metrics for Prometheus
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedProducerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/metrics, type/feature

#9607 Fix expired tls certs for cpp tests
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/resources/authentication/tls/broker-cert.pem
  pulsar-broker/src/test/resources/authentication/tls/broker-key.pem
  pulsar-broker/src/test/resources/authentication/tls/cacert.pem
  pulsar-broker/src/test/resources/authentication/tls/client-cert.pem
  pulsar-broker/src/test/resources/authentication/tls/client-key.pem
  pulsar-broker/src/test/resources/authentication/tls/hn-verification/broker-cert.pem
  pulsar-broker/src/test/resources/authentication/tls/hn-verification/broker-key.pem
  pulsar-broker/src/test/resources/authentication/tls/hn-verification/cacert.pem
  pulsar-client-cpp/test-conf/standalone-ssl.conf
Labels: component/build

#9601 [client] Add BouncyCastleProvider as security provider to prevent NPE
  pulsar-client-messagecrypto-bc/src/main/java/org/apache/pulsar/client/impl/crypto/MessageCryptoBc.java
Labels: component/client, release/2.7.1, type/bug

#9275 Enable Function Workers to use exclusive producer to write to internal topics
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/LeaderService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/SchedulerManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/LeaderServiceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/WorkerUtilsTest.java
Labels: component/functions

#9600 Fixed wait-for-exclusive producer triggering of operation timeout
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ExclusiveProducerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: type/bug

#9284 [Pulsar Admin] Expose schema ledger in `topic stats-internal`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BatchMessageIndexAckTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PersistentTopicInternalStats.java
  site2/docs/admin-api-topics.md
Labels: component/stats, release/2.7.1

#9485 [pulsar-broker] topic resources use metadata-store api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BaseResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClusterResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/DynamicConfigurationResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespaceResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PulsarResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/JSONMetadataSerdeSimpleType.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: component/broker

#9615 [cli] pulsar-client-tools supports end-to-end encryption
  pulsar-client-tools-test/pom.xml
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-client-tools/pom.xml
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
Labels: component/cli, type/feature

#9401 [Broker] Support enable subscription types.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: doc-required

#9623 [Issue 9622] Fix setting Bookie dbStorage_*CacheMaxSizeMb in pulsar-test-latest-version docker image
  tests/docker-images/latest-version-image/conf/bookie.conf
  tests/docker-images/latest-version-image/scripts/run-bookie.sh
Labels: component/test, flaky-tests

#9624 Add -parameters flag in javac
  pom.xml
Labels: component/build

#9621 [Bookie] Fallback to PULSAR_GC if BOOKIE_GC is not defined
  conf/bkenv.sh
Labels: component/deploy

#9608 Fix writing/encoding of GenericJsonRecord
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonWriter.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/JSONSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecordTest.java
Labels: type/bug

#9627 [Build] Reduce pulsar-test-latest-version docker image size
  tests/docker-images/latest-version-image/Dockerfile
Labels: component/test

#9586 [pulsar-broker] Authorization service uses metadata-store api
  pulsar-broker-common/pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationCacheService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationMetadataCacheService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/ClusterResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/DynamicConfigurationResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/LocalPoliciesResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TenantResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PulsarResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthenticationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyConfigurationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeWithoutZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/v1/V1_ProxyAuthenticationTest.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/BaseDiscoveryTestSetup.java
  pulsar-discovery-service/src/test/java/org/apache/pulsar/discovery/service/DiscoveryServiceTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/BrokerDiscoveryProvider.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAdditionalServletTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticatedProducerConsumerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyEnableHAProxyProtocolTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyIsAHttpProxyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyKeyStoreTlsTestWithAuth.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyKeyStoreTlsTestWithoutAuth.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyParserTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyStatsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTestWithAuth.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/SuperUserAuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/UnauthedAdminProxyHandlerTest.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
Labels: component/broker

#9648 [pulsar-broker] Remove global-zk reference from Pulsar-service
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionCreationTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/WorkerServiceWithClassLoader.java
Labels: component/broker

#9637 [Build] Remove pom.xml for pulsar-functions-worker-shaded which no longer is used
  pulsar-functions/worker-shaded/pom.xml
Labels: component/build

#9652 Fixed hasMessageAvailable() with empty topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/client, java, release/2.7.1, type/bug

#9329 Able to handling messages with multiple listener threads in order for the Key_Shared subscription.
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/ExecutorProvider.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientTestFixtures.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ReaderImplTest.java
Labels: release/2.7.1, type/enhancement

#9610 [pulsar-functions] move metricsPort to InstanceConfig
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/RuntimeUtilsTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
Labels: component/functions

#9619 [branch-2.7] Add downloadDirectory support to function k8s runtime
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: release/2.7.1

#9609 Add Java 11 to Pulsar Build image and upgrade dependencies
  build/docker/Dockerfile
Labels: component/build

#9629 Configure Pulsar IO connector yaml file generator for all connectors
  pulsar-io/docs/pom.xml
Labels: component/connect

#9618 [Issue 9535] Add metrics for the cursor ack state
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursorMXBean.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorMXBeanImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/ManagedCursorMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedCursorMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
Labels: component/metrics, doc-required, release/2.7.1

#9617 Added note about DER encoding requirement for all pub/priv key files …
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  deployment/terraform-ansible/templates/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  site2/docs/functions-runtime.md
  site2/docs/functions-worker.md
  site2/docs/reference-configuration.md
  site2/docs/security-jwt.md
  site2/docs/security-token-admin.md
Labels: component/documentation, component/security

#9655 Add original info when publishing message to dead letter topic
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, release/2.7.1, type/enhancement

#9625 [Testing] Add slim java-test-image which can run most integration tests
  build/build_java_test_image.sh
  pom.xml
  tests/bc_2_0_0/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
  tests/bc_2_0_1/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
  tests/bc_2_6_0/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
  tests/docker-images/java-test-image/Dockerfile
  tests/docker-images/java-test-image/pom.xml
  tests/docker-images/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/PulsarContainer.java
  tests/pulsar-client-admin-shade-test/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
  tests/pulsar-client-all-shade-test/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
  tests/pulsar-client-shade-test/src/test/java/org/apache/pulsar/tests/integration/PulsarContainer.java
Labels: component/test

#9388 [Pulsar sql] Support keyValue Schema add integration test.
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestPulsarSQLBase.java
Labels: component/schemaregistry, component/sql, release/2.7.1

#9381 Expose ReachedEndOfTopic in Reader/Consumer API
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/SimpleConsumerSocket.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ReaderHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/data/EndOfTopicResponse.java
  site2/docs/client-libraries-websocket.md
Labels: component/client, java, type/feature

#9667 [Compression] Fix ByteBuffer allocate error in the AirliftUtils
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/AirliftUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecLZ4.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecSnappy.java
  pulsar-common/src/main/java/org/apache/pulsar/common/compression/CompressionCodecZstd.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressorCodecTest.java
Labels: component/broker, release/2.7.1

#9657 Fix MaxUnackedMessagesPerConsumer cannot be changed dynamically and cannot be disabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMaxUnackedMessages.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
Labels: component/topic-policy

#9669 [BUILD] Master branch build failed by spotbugs error
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
Labels: component/build, release/2.7.1
