Repository apache/pulsar, pull requests merged in 2021-05, with the labels that each got.

#10441 [pulsar-io] Using ObjectMapper instead of Gson to parse Source/SInk configuration
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
Labels: type/enhancement

#7406 Improved in max-pending-bytes mechanism for broker
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransportCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MessagePublishBufferThrottleTest.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockLedgerHandle.java
Labels: type/enhancement

#10469 Fix Apache RAT configuration for branch-2.7
  pom.xml
Labels: release/2.7.2

#10471 Upgrade athenz version and remove yahoo.bintray.com repository
  pom.xml
  pulsar-client-auth-athenz/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenz.java
  site2/docs/security-athenz.md
  site2/website/versioned_docs/version-2.1.0-incubating/security-athenz.md
  site2/website/versioned_docs/version-2.4.1/security-athenz.md
  site2/website/versioned_docs/version-2.4.2/security-athenz.md
  site2/website/versioned_docs/version-2.6.0/security-athenz.md
  site2/website/versioned_docs/version-2.6.1/security-athenz.md
  site2/website/versioned_docs/version-2.6.2/security-athenz.md
Labels: release/2.7.2

#10470 fixed NPE in pulsar client
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/bug

#10467 Fix publish callback's entry data is null during ledger rollover
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: type/bug

#10454 Fix CPU 100% when deleting namespace (#10337)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: type/bug

#10423 [schema] simplify code
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractStructSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
Labels: type/cleanup

#10461 [broker] Adding logging to JavaInstanceRunnable to help debug issues like #10460
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: type/enhancement

#10364 Fixes function api can not use authdata to check superuser
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourcesBase.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionsApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SinksApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SourcesApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/api/Component.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/api/Functions.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
Labels: component/functions, component/security, release/2.7.3

#10414 Fix hasMessageAvailable return true but can't read message
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, release/2.7.3, type/bug

#10450 Improve error handling during localrun start
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
Labels: component/functions

#10457 PIP-45: Revalidate leader election after session is recovered
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicOwnerTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/LeaderElectionTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/ZKSessionTest.java
Labels: type/enhancement

#10474 MetadataCache: readModifyUpdate should return the new value in the future
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataCache.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: type/enhancement

#10430 [pulsar-broker] Handle NPE in unblock stuck subscrption task when dis…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
Labels: component/broker, release/2.7.3

#10482 [CLIENT] fixed NPE in GenericJsonRecord
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/GenericRecord.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/JSONSchemaTest.java
Labels: component/client

#10466 Fix the possible memory leak of TopicPolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
Labels: component/topic-policy

#10352 Make Consumer thread safe and lock-free
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientTestFixtures.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ReaderImplTest.java
Labels: component/client

#10319 Support listenerName for HttpLookupService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/v1/TopicLookup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/v2/TopicLookup.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/lookup/http/HttpTopicLookupv2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PulsarMultiListenersWithInternalListenerNameTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
Labels: component/admin, component/rest

#8950 [Issue 8894][Offloader] Fix AWS credentials usages
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixReadTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPolicies.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/OffloadPoliciesTest.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarSplitManager.java
  site2/docs/reference-pulsar-admin.md
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/provider/JCloudBlobStoreProvider.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/provider/TieredStorageConfiguration.java
Labels: component/tieredstorage

#10490 Update docs for Go client
  site2/docs/client-libraries-go.md
Labels: component/documentation, doc-required

#10506 [C++] Avoid sending flow requests with zero permits
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/tests/ZeroQueueSizeTest.cc
Labels: component/c++, release/2.7.3

#10500 Fix potential bug getting stats and remove unnecessary error log
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/broker, type/bug

#10493 Add instructions to configure code style and checkstyle for IDEA
  README.md
  src/idea-code-style.xml
Labels: component/documentation

#10507 [Java Client] Avoid sending flow requests with zero permits
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ZeroQueueSizeTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug

#10492 [Java client] Fix behaviour of Schema.AUTO_CONSUME() with KeyValueSchema and multi versions
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
Labels: component/schemaregistry, java

#10489 Add onFilter for Interceptor
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/ProcessHandlerFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/InterceptFilterOutTest.java
Labels: type/enhancement

#10446 [Issue 10445][pulsar-io] Exposed SubscriptionType in the SinkContext
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/ConnectorContext.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SinkContext.java
Labels: component/functions

#10502 [fix #10235] fix deadlock on Monitoring thread blocked by `LeaderService.isLeader()`
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerStatsManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinatorTest.java
Labels: release/2.7.3

#10504 [#10503] allow user to set custom configs to plugin worker service
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
Labels: component/functions

#10508 Move out the key_shared related tests from the quarantine group.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: component/test

#7523 [Issue 5720][authz] - add topics authz granularity
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataHttp.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PolicyName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicOperation.java
Labels: component/security

#10512 [Branch-2.7] Fix deadlock on Monitoring thread blocked by LeaderService.isLeader()
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerStatsManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinatorTest.java
Labels: release/2.7.3

#10312 Fix the inconsistency of AdvertisedAddress
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfigurationUtils.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/validator/MultipleListenerValidatorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/PulsarServiceTest.java
Labels: component/broker

#6799 optional auth method name header in http authentication
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthenticationServiceTest.java
Labels: component/security, type/feature

#10538 [fix #9640] remove `pulsar-client-admin-api` dependency : `pulsar-package-core`
  pulsar-client-admin-api/pom.xml
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/packages/management/core/common/PackageMetadata.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/packages/management/core/common/package-info.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/packages/management/core/exceptions/PackagesManagementException.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/packages/management/core/exceptions/package-info.java
  pulsar-package-management/core/pom.xml
Labels: component/build

#9650 Allow to disable producer max queue size
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerQueueSizeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChecksumTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MemoryLimitController.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
Labels: type/enhancement

#10541 Enable Conscrypt for Jetty in the Broker and in the Proxy
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/AdminApiKeyStoreTlsAuthTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-common/src/main/java/org/apache/pulsar/common/tls/DomainType.java
  pulsar-common/src/main/java/org/apache/pulsar/common/tls/InetAddressUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/tls/NoopHostnameVerifier.java
  pulsar-common/src/main/java/org/apache/pulsar/common/tls/PublicSuffixList.java
  pulsar-common/src/main/java/org/apache/pulsar/common/tls/PublicSuffixMatcher.java
  pulsar-common/src/main/java/org/apache/pulsar/common/tls/SubjectName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/tls/TlsHostnameVerifier.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/KeyStoreSSLContext.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/SslContextFactoryWithAutoRefresh.java
  pulsar-discovery-service/pom.xml
  pulsar-functions/worker/pom.xml
  pulsar-proxy/pom.xml
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  tiered-storage/file-system/pom.xml
Labels: type/enhancement

#10542 Fixed accessing potentially empty Optional field
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: type/bug

#10539 Update Swagger files for 2.7.2 release
  site2/website/static/swagger/2.7.2/swagger.json
  site2/website/static/swagger/2.7.2/swaggerfunctions.json
  site2/website/static/swagger/2.7.2/swaggersink.json
  site2/website/static/swagger/2.7.2/swaggersource.json
Labels: release/2.7.2

#10326 support truncate topic
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/MockManagedLedger.java
Labels: component/admin

#10476 PIP-85 Add Schema Information to Message in Java Client API
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/InterceptorsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Message.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/SchemaReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractStructSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericAvroReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericProtobufNativeReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/reader/AbstractMultiVersionReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/reader/AvroReader.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
Labels: component/schemaregistry

#10527 cleaned some code in GenericJsonRecord
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonRecord.java
Labels: type/cleanup

#10554 Fix maven-surefire-plugin duplicate warn.
  pulsar-functions/worker/pom.xml
Labels: component/build

#10556 Fix flaky test SimpleProducerConsumerTest.testActiveAndInActiveConsumerEntryCacheBehavior
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/test, flaky-tests

#10409 Add docker compose
  docker-compose/kitchen-sink/.gitignore
  docker-compose/kitchen-sink/README.MD
  docker-compose/kitchen-sink/docker-compose.yml
  docker-compose/kitchen-sink/scripts/init-cluster.sh
  tests/docker-images/latest-version-image/scripts/run-websocket.sh
Labels: component/documentation

#10559 [Pulsar SQL] Fix Presto startup on JDK11
  conf/presto/jvm.config
Labels: component/sql, jdk11support

#10545 Migrated BookkeeperSchemaStorage to use MetadataStore
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
Labels: type/enhancement

#10548 Made OpAddEntry.toString() more robust to nulls to prevent NPEs
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: release/2.7.3, type/bug

#8881 [Transaction] Transaction pending ack persistent
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorConcurrencyTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckHandle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckReplyCallBack.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckStore.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/TransactionPendingAckStoreProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/exceptions/TransactionPendingAckStoreProviderException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/exceptions/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/InMemoryPendingAckStore.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/InMemoryPendingAckStoreProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckReplyCallBack.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStore.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStoreProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleDisabled.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleState.java
  pulsar-broker/src/main/proto/TransactionPendingAck.proto
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMarkerDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/transaction/TransactionTest.java
Labels: component/txn

#10568 Add package admin command to admin page
  site2/website/brodocs/manifest.json
Labels: component/website

#10565 [Tests] Fix test retries for Pulsar Functions integration tests
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/java/PulsarFunctionsJavaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/PulsarDebeziumSourcesTest.java
Labels: component/test, jdk11support

#10530 [Issue 10522] support mock zookeeper with different session
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeperSession.java
Labels: component/test

#10567 [Tests] Limit Pulsar Functions Java runtime to 128MB of RAM in int tests
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
Labels: component/test

#10572 [Tests] Reduce flakiness of BacklogQuotaManagerTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
Labels: component/test, flaky-tests

#10553 Expose topic-level averageMsgSize to metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/metrics

#10533 Removed AspectJ based metrics for ZooKeeper
  bin/pulsar
  distribution/server/licenses/LICENSE-AspectJ.txt
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/server/src/assemble/bin.xml
  pom.xml
  pulsar-broker-shaded/pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ZooKeeperClientAspectJTest.java
  pulsar-functions/localrun-shaded/pom.xml
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/broker/zookeeper/aspectj/ClientCnxnAspect.java
  pulsar-zookeeper-utils/src/main/resources/META-INF/aop.xml
  pulsar-zookeeper/pom.xml
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/FinalRequestProcessorAspect.java
  pulsar-zookeeper/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperServerAspect.java
  pulsar-zookeeper/src/main/resources/META-INF/aop.xml
Labels: type/enhancement

#10566 [Tests] Add workaround for failing PulsarFunctionsJavaProcessTest on JDK11
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/test, jdk11support

#10580 Switch to use JDK11 for CI and Docker images
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-pulsar-website-build.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  .github/workflows/ci-unit-broker-broker-gp2.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
  README.md
  distribution/server/src/assemble/LICENSE.bin.txt
  docker/pulsar-standalone/Dockerfile
  docker/pulsar/Dockerfile
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
  pulsar-sql/presto-distribution/src/assembly/assembly.xml
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/deploy-bare-metal.md
  site2/docs/getting-started-standalone.md
  tests/docker-images/java-test-image/Dockerfile
Labels: jdk11support

#10576 [Doc] Fix two link error in pulsar io-overview
  site2/docs/io-overview.md
Labels: component/documentation

#10550 Apache Pulsar 2.7.2 release notes
  site2/website/release-notes.md
Labels: component/documentation

#10557 Use Message.getReaderSchema() in Pulsar IO Sinks when possible
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractStructSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestGenericObjectSink.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarGenericObjectSinkTest.java
Labels: component/io, component/schemaregistry

#10585 Show 2.7.2 release on WebSite
  site2/website/releases.json
  site2/website/versions.json
Labels: component/documentation

#10369 Added more unit tests to the JavaInstanceTest class
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceTest.java
Labels: component/functions, component/test

#10592 Fix flaky test GracefulExecutorServicesShutdownTest.shouldTerminateWhenFutureIsCancelled
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/GracefulExecutorServicesShutdownTest.java
Labels: flaky-tests

#10590 [CI] Run pulsar-broker tests that don't belong to any TestNG group
  build/run_unit_group.sh
  buildtools/src/main/java/org/apache/pulsar/tests/AnnotationListener.java
Labels: component/test

#10531 K8s Function Name Length Check Allows Invalid StatefulSet
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
Labels: component/functions, release/2.7.3

#10529 Fix partitioned system topic check bug
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicServiceTest.java
Labels: release/2.7.3, type/bug

#10528 Make failPendingMessages called from within the ProducerImpl object mutex
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: release/2.7.3

#10401 [CLI] Add support for setting time based limit on backlog quota with CLI.
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  site2/docs/admin-api-namespaces.md
  site2/docs/cookbooks-retention-expiry.md
Labels: component/admin, component/cli

#10348 Reader support seek from separate messageId/time
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MultiTopicsReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
Labels: component/documentation

#7600 [Issue 3127][python-client] Replace Exceptions with PulsarExceptions
  pulsar-client-cpp/python/CMakeLists.txt
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar/exceptions.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/enums.cc
  pulsar-client-cpp/python/src/exceptions.cc
  pulsar-client-cpp/python/src/pulsar.cc
Labels: component/c++, component/client, component/python, type/enhancement

#10549 [Issue 10546] fix sink/source exception stats
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SinkStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SourceStatsManager.java
Labels: component/io, component/metrics

#10599 [Tests] Fix flaky test GracefulExecutorServicesShutdownTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/GracefulExecutorServicesShutdownTest.java
Labels: flaky-tests

#10598 [Broker/Proxy] Update default TLS protocols to TLSv1.3,TLSv1.2
  bouncy-castle/bcfips-include-test/src/test/java/org/apache/pulsar/client/TlsProducerConsumerBase.java
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  deployment/terraform-ansible/templates/proxy.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/AdminApiKeyStoreTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsProducerConsumerTestWithAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsProducerConsumerTestWithoutAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/PulsarAdminBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/KeyStoreSSLContext.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/SSLContextValidatorEngine.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/ServiceConfig.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
  site2/docs/reference-configuration.md
  site2/docs/security-tls-keystore.md
  site2/docs/security-tls-transport.md
Labels: type/enhancement

#10607 Fix the persistent in topics file
  site2/website/versioned_docs/version-2.1.0-incubating/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.1.0-incubating/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.2.1/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.3.0/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.4.1/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.4.2/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.0/admin-api-non-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.0/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.0/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.5.1/admin-api-non-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.1/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.1/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.5.2/admin-api-non-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.2/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.5.2/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.6.0/admin-api-non-partitioned-topics.md
  site2/website/versioned_docs/version-2.6.0/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.6.0/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.6.1/admin-api-non-partitioned-topics.md
  site2/website/versioned_docs/version-2.6.1/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.6.1/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.6.2/admin-api-non-partitioned-topics.md
  site2/website/versioned_docs/version-2.6.2/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.6.2/admin-api-persistent-topics.md
  site2/website/versioned_docs/version-2.6.3/admin-api-non-partitioned-topics.md
  site2/website/versioned_docs/version-2.6.3/admin-api-partitioned-topics.md
  site2/website/versioned_docs/version-2.6.3/admin-api-persistent-topics.md
Labels: component/admin, component/website

#7266 [pulsar-broker] Dispatch batch messages according consumer permits
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/Entry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
Labels: component/broker

#10540 Apache Pulsar 2.7.2 blog page
  site2/website/blog/2021-05-13-Apache-Pulsar-2-7-2.md
Labels: component/documentation, component/website

#10573 [Schema] Add schemaType field in SchemaHash
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/InterceptorsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaHash.java
Labels: component/schemaregistry

#10563 [fix #9640] remove `pulsar-client-admin-api` dependency : `pulsar-client-original`
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-client-admin-api/pom.xml
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/OffloadProcessStatus.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/utils/DefaultImplementation.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/JacksonConfigurator.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/OffloadProcessStatusImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-functions/runtime-all/pom.xml
  pulsar-io/kafka/pom.xml
  tests/docker-images/java-test-functions/pom.xml
Labels: component/client, java

#10609 [Java][Schema] AUTO_CONSUME/GenericObject: add more test cases about KeyValue and NULL values
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
Labels: component/test

#10594 Fixed missed ZK caching when fetching list of namespaces for a tenant
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
Labels: release/2.7.3, type/bug

#10619 Converted bundle split into an HTTP async operation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: type/bug

#10498 SinkContext: ability to seek/pause/resume consumer for a topic
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/MultiConsumerPulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/SingleConsumerPulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
  pulsar-io/core/src/main/java/org/apache/pulsar/io/core/SinkContext.java
Labels: component/io

#10618 [Functions] Process async results in the same Java runnable thread
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceTest.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
Labels: component/functions, release/2.7.3

#10617 [docs] Issue #10389 - Documenting function log level customization
  site2/docs/functions-develop.md
  site2/website/versioned_docs/version-2.7.2/functions-develop.md
Labels: component/documentation

#10614 Fixed issues in pulsar-client shading configuration
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client-all/pom.xml
  pulsar-client-api/pom.xml
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/MessageCrypto.java
  pulsar-client-messagecrypto-bc/src/main/java/org/apache/pulsar/client/impl/crypto/MessageCryptoBc.java
  pulsar-client-shaded/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-sql/presto-distribution/LICENSE
  pulsar-transaction/common/pom.xml
  pulsar-transaction/coordinator/generate_protobuf.sh
  pulsar-transaction/coordinator/generate_protobuf_docker.sh
  tests/pulsar-client-admin-shade-test/src/test/java/org/apache/pulsar/tests/integration/SimpleProducerConsumerTest.java
  tests/pulsar-client-all-shade-test/src/test/java/org/apache/pulsar/tests/integration/SimpleProducerConsumerTest.java
  tests/pulsar-client-shade-test/src/test/java/org/apache/pulsar/tests/integration/SimpleProducerConsumerTest.java
Labels: component/build

#9663 Fix Pulsar SQL query compression data
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageParserTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/MessageParser.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/ReferenceCountedMessageMetadata.java
  pulsar-common/src/test/java/org/apache/pulsar/common/api/raw/RawMessageImplTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestBasicPresto.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestPrestoQueryTieredStorage.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestPulsarSQLBase.java
Labels: blocker, component/sql, type/bug

#10357 [Issue 10242] add authentication data for remote cluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ClusterData.java
Labels: component/security

#10626 [Java][Schema] Enabled disabled tests about AutoConsume and KeyValue and add test case about null keys
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: component/schemaregistry, component/test

#8048 [Issue 7903][proxy]Enable AutoTopicCreationType partitioned through proxy
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
Labels: component/proxy, release/2.7.3, type/bug

#10641 Fix distribution build errors due to permission denied
  pulsar-client-cpp/pkg/deb/build-deb.sh
  pulsar-client-cpp/pkg/rpm/SPECS/pulsar-client.spec
Labels: component/build, component/c++, release/blocker

#10638 Add metrics for non-contiguous deleted messages range
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/ManagedCursorMetrics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedCursorMetricsTest.java
Labels: doc-required, release/2.7.3

#10646 [Doc] Fix awsEndpoint format in Kinesis connector doc.
  site2/docs/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.5.0/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.6.0/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.6.1/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.6.2/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.6.3/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.7.0/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.7.1/io-kinesis-sink.md
  site2/website/versioned_docs/version-2.7.2/io-kinesis-sink.md
Labels: component/documentation

#10639 [Transaction] Transaction admin api get transaction coordinator status.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TransactionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/PulsarAdmin.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Transactions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTransactions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TransactionCoordinatorStatus.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
Labels: component/txn, component/txn/coordinator, doc-required

#10628 Pulsar Admin: return a better error message
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/PulsarAdminException.java
Labels: component/admin

#7713 implement python logger wrapper
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/config.cc
Labels: component/c++, component/client, component/python, type/enhancement

#2603 Share EventLoopGroup between Broker and BK client
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/ManagedLedgerStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MockedBookKeeperClientFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReaderTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactorTest.java
Labels: type/enhancement

#10658 Force printing of system.out.printf message
  site2/docs/client-libraries-java.md
Labels: component/documentation

#10659 Ensure all the ReadHandle gets properly closed on cache invalidation
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheManager.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixReadTest.java
Labels: release/2.7.3, type/bug

#10656 Fix ConcurrentOpenLongPairRangeSet remove all ranges
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenLongPairRangeSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentOpenLongPairRangeSetTest.java
Labels: release/2.7.3, type/bug

#10651 [Transasction] Transaction metrics doc.
  site2/docs/reference-metrics.md
Labels: component/documentation

#10660 When managedLedgerNewEntriesCheckDelayInMillis=0, avoid the context switch
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/enhancement

#9706 [Transaction] Transaction coordinator metrics.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedTransactionCoordinatorStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TransactionCoordinatorAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/recover/TransactionRecoverTrackerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMetadataStoreServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TransactionMetricsTest.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TxnMeta.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/TransactionMetadataStoreStats.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/TxnMetaImpl.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStoreProviderTest.java
Labels: doc-required

#10649 Allow to configure the number of BK client worker threads
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  site2/docs/reference-configuration.md
Labels: type/enhancement

#7907 Allow disabling HTTP TRACE/TRACK verbs
  conf/broker.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/DisableDebugHttpMethodFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
Labels: component/broker

#10664 [Performance] Use single instance of parser
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
Labels: component/broker, release/2.7.3

#10564 [Transaction] Fix transaction end op retry problem.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
Labels: component/txn

#8249 Nack support in WS
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/SimpleConsumerMessageHandler.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/SimpleConsumerSocket.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  site2/docs/client-libraries-websocket.md
Labels: component/websocket, type/feature

#10164 [Issue 10161] Fix missing LoggerFactoryPtr type.
  pulsar-client-cpp/lib/Log4CxxLogger.h
  pulsar-client-cpp/lib/Log4cxxLogger.cc
Labels: component/build, component/c++, release/2.7.3

#9736 [functions] Add resource granularities settings for functions
  conf/functions_worker.yml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/worker/WorkerApiV2ResourceConfigTest.java
  pulsar-functions/runtime/src/test/resources/test_worker_k8s_resource_config.yml
Labels: component/functions

#10612 Setup initial namespaces with MetadataStore
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarInitialNamespaceSetup.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
Labels: type/enhancement

#10574 [Issue 905][api][pulsar-client] add serializable token class
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationDataTls.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationToken.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/auth/AuthenticationTokenTest.java
  site2/docs/adaptors-spark.md
Labels: type/enhancement

#10668 Fix website build failure caused by python doc generate script
  site2/tools/docker-build-site.sh
  site2/tools/python-doc-gen.sh
Labels: component/build

#10640 Branch 2.7: TopicPoliciesTest.testMaxSubscriptionsFailFast fails
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: release/2.7.3

#10605 [Doc] Add descriptions for broker
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/deploy-bare-metal.md
  site2/docs/getting-started-standalone.md
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.1.0-incubating/getting-started-standalone.md
  site2/website/versioned_docs/version-2.1.1-incubating/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.1.1-incubating/getting-started-standalone.md
  site2/website/versioned_docs/version-2.2.0/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.2.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.2.0/getting-started-standalone.md
  site2/website/versioned_docs/version-2.2.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.2.1/getting-started-standalone.md
  site2/website/versioned_docs/version-2.3.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.0/getting-started-standalone.md
  site2/website/versioned_docs/version-2.3.1/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.3.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.1/getting-started-standalone.md
  site2/website/versioned_docs/version-2.3.2/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.3.2/getting-started-standalone.md
  site2/website/versioned_docs/version-2.4.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.4.0/getting-started-standalone.md
  site2/website/versioned_docs/version-2.4.1/develop-bare-metal.md
  site2/website/versioned_docs/version-2.4.1/getting-started-standalone.md
  site2/website/versioned_docs/version-2.4.2/develop-bare-metal.md
  site2/website/versioned_docs/version-2.4.2/getting-started-standalone.md
  site2/website/versioned_docs/version-2.5.0/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.5.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.5.0/getting-started-standalone.md
  site2/website/versioned_docs/version-2.5.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.5.2/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.0/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.6.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.0/getting-started-standalone.md
  site2/website/versioned_docs/version-2.6.1/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.6.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.1/getting-started-standalone.md
  site2/website/versioned_docs/version-2.6.2/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.6.2/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.2/getting-started-standalone.md
  site2/website/versioned_docs/version-2.6.3/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.6.3/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.6.3/getting-started-standalone.md
  site2/website/versioned_docs/version-2.7.0/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.7.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.7.0/getting-started-standalone.md
  site2/website/versioned_docs/version-2.7.1/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.7.1/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.7.1/getting-started-standalone.md
  site2/website/versioned_docs/version-2.7.2/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.7.2/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.7.2/getting-started-standalone.md
Labels: component/documentation

#8549 Issue 6478: Fix the misleading setting in presto configuration
  conf/presto/catalog/pulsar.properties
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorConfig.java
  site2/docs/sql-deployment-configurations.md
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: component/documentation, component/sql

#10678 feat: update website docker image(upgrade node version)
  site2/tools/docker-build-site.sh
Labels: component/website, type/bug

#10243 [Issue 9204][Python/C++]Expose replicateSubscriptionState setting for python/c++ consumer
  pulsar-client-cpp/include/pulsar/ConsumerConfiguration.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/Commands.h
  pulsar-client-cpp/lib/ConsumerConfiguration.cc
  pulsar-client-cpp/lib/ConsumerConfigurationImpl.h
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/config.cc
Labels: release/2.7.3, type/enhancement

#10679 [Hotfix][Docs]Fixed document missing original
  site2/website/versioned_docs/version-2.7.2/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.7.2/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.7.2/getting-started-standalone.md
Labels: component/documentation, component/website, type/bug

#10677 [broker] Setup transaction metadata with metadata store
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarTransactionCoordinatorMetadataSetup.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
Labels: component/txn/coordinator

#10661 Allow to configure busy-wait in broker and client
  conf/bookkeeper.conf
  conf/broker.conf
  pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BusyWaitServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MockBrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionPoolTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarTestClient.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxRequestTimeoutQueueTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PartitionedProducerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/netty/EventLoopUtil.java
  pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/DiscoveryService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyParserTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: type/enhancement

#10511 [Bug] - Fixed Broken Links at Licensing & K8S Cluster Setup on AWS
  site2/website/coding-guide.md
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-kubernetes.md
Labels: component/website

#10681 Added org.apache.bookkeeper:cpu-affinity to shaded profile
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-shaded/pom.xml
Labels: component/build

#10680 In LockManager use concurrent hash map to handle locks notifiications
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
Labels: type/bug

#10674 Revert "Creating a topic does not wait for creating cursor of replicators"
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: release/2.7.3

#10647 PIP-45: Initialize ManagedLedgerFactory with MetadataStore
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorMXBeanImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheManagerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorPropertiesTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerErrorsTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryChangeLedgerPathTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/MetaStoreImplTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/offload/OffloadUtilsTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/MockedBookKeeperTestCase.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataTeardown.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/ManagedLedgerStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MockedBookKeeperClientFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/MangedLedgerInterceptorImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/FaultInjectionMetadataStore.java
  pulsar-package-management/bookkeeper-storage/src/test/java/org/apache/pulsar/packages/management/storage/bookkeeper/bookkeeper/test/BookKeeperClusterTestCase.java
  pulsar-package-management/bookkeeper-storage/src/test/java/org/apache/pulsar/packages/management/storage/bookkeeper/bookkeeper/test/MockedBookKeeperTestCase.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorCache.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/test/MockedBookKeeperTestCase.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/ClusterMetadataTearDownTest.java
  tiered-storage/file-system/src/test/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloaderTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderBase.java
Labels: type/feature

#8611 [Issue 8599] Fix DispatchRateLimiter does not take effect
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/RateLimiter.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/RateLimiterTest.java
Labels: component/broker

#10604 [Schema] Support consume multiple schema types messages by AutoConsumeSchema
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoProduceBytesSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/MultiVersionSchemaInfoProvider.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/AbstractGenericSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
Labels: component/schemaregistry

#10663 [Doc] add metrics for the total non contiguous deleted messages range
  site2/docs/deploy-monitoring.md
  site2/website/versioned_docs/version-2.7.2/deploy-monitoring.md
Labels: component/documentation

#10648 [Transaction] Transaction admin api transaction in pendingack stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TransactionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckHandle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleDisabled.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Transactions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTransactions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TransactionInPendingAckStats.java
Labels: component/documentation

#10691 Avoid making copies of internal maps when iterating
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/enhancement

#10532 PIP-45: Migrate NamespaceService to use MetadataStore
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/ServiceUnitUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/ServiceUnitZkUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundles.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/cache/ResourceQuotaCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicOwnerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/NamespaceBundleTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/NamespaceBundlesTest.java
Labels: type/enhancement

#10689 [Transaction] Fix transaction ack one topic with multi sub.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
Labels: component/client, component/txn, type/bug

#10667 Fix issues in advanceNonDurableCursors
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: component/broker, type/bug

#10706 Async the method onManagedLedgerLastLedgerInitialize for ManagedLedgerInterceptor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerException.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/intercept/ManagedLedgerInterceptor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImpl.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionLogInterceptor.java
Labels: release/blocker, type/bug

#10695 [Doc] Add descriptions for managed cursor acknowledgment state
  site2/docs/reference-metrics.md
Labels: component/documentation

#10650 [Transactionn] Transaction admin api getTransactionBufferStatus and getPendingAckStatus
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TransactionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TransactionCoordinatorAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferDisable.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckHandle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleDisabled.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Transactions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTransactions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TransactionBufferStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TransactionCoordinatorStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TransactionPendingAckStats.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
Labels: component/documentation

#10700 AutoConsumeSchema: use decode(payload, schemaversion)
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
Labels: component/schemaregistry

#10714 [Doc] Add descriptions for managed cursor acknowledgment state (2.7.3)
  site2/website/versioned_docs/version-2.7.3/reference-metrics.md
Labels: component/documentation, release/2.7.3

#10713 Fix inconsistent behavior in LongPairRangeSet
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/LongPairRangeSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/DefaultRangeSetTest.java
Labels: type/enhancement

#10696 [broker] Fix issue where StackOverflowError occurs when trying to redeliver a large number of already acked messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
Labels: component/broker, release/2.7.3, type/bug

#10709 MINOR: Add error message to setMaxPendingMessagesAcrossPartitions
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerBuilderImplTest.java
Labels: component/client, release/2.7.3, type/enhancement

#10701 [Transaction] Transaction admin api get slow transaction metadata.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TransactionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Transactions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTransactions.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/InMemTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
Labels: component/documentation

#10722 Fix repeated iterator generation
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/LongPairRangeSet.java
Labels: type/enhancement

#10341 [BUG] Catch topic policy not hit exception in handleSubscribe
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: release/blocker, type/bug

#10726 [C++] Reduce redeliverMessages when message listener is enabled
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/ConsumerImpl.h
Labels: component/c++

#10739 [ML] Cancel scheduled tasks as the first step in closing
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/bug

#10716 Support using AutoProduceBytesSchema as the function output schema
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/MergeTopicFunction.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/pojo/Users.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/java/PulsarFunctionsJavaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
Labels: component/functions

#10708 On multi-topic consumer, we shouldn't keep checking the partitioned metadata
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/partition/PartitionedTopicMetadata.java
Labels: release/2.7.3, type/bug
