Repository apache/pulsar, pull requests merged in 2021-07, with the labels that each got.

#11128 [ Tests ] Add new test for MaxRequestSizeFilter
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/MaxRequestSizeFilterTest.java
Labels: component/test

#11133 [ Tests ] Add new test for ProcessHandlerFilter
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/ProcessHandlerFilterTest.java
Labels: component/test

#11173 fix: python client docs missing pular pkg import code
  site2/docs/client-libraries-python.md
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-python.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-python.md
  site2/website/versioned_docs/version-2.2.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-python.md
  site2/website/versioned_docs/version-2.8.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-python.md
Labels: component/documentation

#11160 [feat][website] add local debugging tools shell for website
  site2/tools/debug-site.sh
Labels: component/build, component/website

#11169 [website][pulsar-perf] Support auto generate html page for pulsar perf cli tool
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdGenerateDocumentation.java
  site2/tools/build-site.sh
  site2/tools/pulsar-perf-doc-gen.sh
  site2/website/brodocs/pulsar-perf-manifest.json
  site2/website/brodocs/stylesheet.css
  site2/website/pages/en/pulsar-perf-cli.js
  site2/website/static/js/custom.js
  site2/website/static/js/getCliByVersion.js
Labels: component/documentation, component/tools, component/website

#11085 Support socks5 proxy
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ClientWithSocks5ProxyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/socks5/Socks5Server.java
  pulsar-broker/src/test/java/org/apache/pulsar/socks5/auth/DefaultPasswordAuthImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/socks5/auth/PasswordAuth.java
  pulsar-broker/src/test/java/org/apache/pulsar/socks5/config/Socks5Config.java
  pulsar-broker/src/test/java/org/apache/pulsar/socks5/handler/CommandRequestHandler.java
  pulsar-broker/src/test/java/org/apache/pulsar/socks5/handler/IdleHandler.java
  pulsar-broker/src/test/java/org/apache/pulsar/socks5/handler/InitialRequestHandler.java
  pulsar-broker/src/test/java/org/apache/pulsar/socks5/handler/PasswordAuthRequestHandler.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ConfigurationDataUtilsTest.java
  pulsar-sql/presto-distribution/LICENSE
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-java.md
Labels: component/documentation

#11168 [Branch-2.7] On multi-topic consumer, we shouldn't keep checking the partitioned metadata
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/TopicDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/partition/PartitionedTopicMetadata.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
Labels: no-need-doc, release/2.7.3

#11189 [Doc] fix pulsar admin website format
  site2/docs/reference-pulsar-admin.md
Labels: component/documentation

#11187 Fix some typos of the PersistentTopics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
Labels: release/2.8.1

#11181 [test] Minor refactor for ZookeeperServerTest.
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperServerTest.java
Labels: component/test

#11183 Fix the dead lock when using hasMessageAvailableAsync and readNextAsync
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: no-need-doc, release/2.7.3, release/2.8.1, type/bug

#11179 [C++] fix regex namespace to avoid core dump
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/PatternMultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/PatternMultiTopicsConsumerImpl.h
Labels: component/c++, type/bug

#11175 fix compaction entry read exception
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
Labels: release/2.7.3, release/2.8.1

#11194 Fixed possible deadlock in the initialization of MLTransactionLog
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedLedgerMetricsTest.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionLog.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionLogImpl.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
Labels: no-need-doc, release/2.8.1, type/bug

#11166 Add a call ACK / unack example to avoid confusing the retrial mechani…
  site2/docs/concepts-messaging.md
Labels: doc

#11116 [Ledger] Fix ledger rollover scheduled task
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/CurrentLedgerRolloverIfFullTest.java
Labels: component/broker, no-need-doc, release/2.8.1

#11199 Fixed using CommandSubscribe.getConsumerName() without checking
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: release/2.8.1, type/bug

#11056 PIP-85: [pulsar-io] pass pulsar client via context to connector
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/BaseContext.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
  pulsar-io/debezium/core/src/main/java/org/apache/pulsar/io/debezium/DebeziumSource.java
  pulsar-io/debezium/mongodb/src/main/resources/debezium-mongodb-source-config.yaml
  pulsar-io/debezium/mysql/src/main/resources/debezium-mysql-source-config.yaml
  pulsar-io/debezium/postgres/src/main/resources/debezium-postgres-source-config.yaml
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/AbstractKafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaConnectSinkConfig.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaSinkTaskContext.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaWorkerConfig.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarOffsetBackingStore.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/PulsarOffsetBackingStoreTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/sink/KafkaAbstractSinkTest.java
Labels: component/functions

#11214 fix: python client docs consumer example code missing client object
  site2/docs/client-libraries-python.md
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-python.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-python.md
  site2/website/versioned_docs/version-2.2.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-python.md
  site2/website/versioned_docs/version-2.8.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-python.md
Labels: doc

#11206 Make the compaction phase one loop timeout configurable
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactorTest.java
Labels: release/2.7.3, release/2.8.1, type/enhancement

#11014 fix publish_time not set error when broker entry metadata enable without AppendBrokerTimestampMetadataInterceptor
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageFinder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageImplTest.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java
Labels: component/broker

#11215 Remove unused listener to reduce creating executor pool
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloader.java
Labels: component/tieredstorage, release/2.7.3, release/2.8.1

#11208 Generate documentation of broker automatically.
  pulsar-broker/src/main/java/org/apache/pulsar/utils/CmdGenerateDocumentation.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/CmdTest.java
Labels: component/website, doc

#11139 [Issue 10896] add get message id by timestamp
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  site2/docs/admin-api-topics.md
Labels: component/admin, doc

#11135 [Broker] Fix broker dispatch byte rate limiter.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReader.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
Labels: release/2.7.3, release/2.8.1

#11220 [fix master build] use `entryTimestamp` for expiry checking in `internalGetMessageIdByTimestamp`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/broker, component/build, type/bug

#11069 [Issue 11067][pulsar-client] Fix bin/pulsar-client produce not supporting v2 topic name through websocket
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/client/cli/TestCmdProduce.java
Labels: component/websocket, release/2.8.1, type/bug

#11019 [Tests] Add test for TimeAverageBrokerData
  pulsar-broker/src/test/java/org/apache/pulsar/broker/TimeAverageBrokerDataTest.java
Labels: component/test

#11017 [test] use Awaitility replace Thread.sleep for pulsar-zookeeper-utils module.
  pulsar-zookeeper-utils/pom.xml
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMappingTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkIsolatedBookieEnsemblePlacementPolicyTest.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZookeeperCacheTest.java
Labels: component/test

#11234 Fix init WebSocketService with ClusterData
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceStarterTest.java
  pulsar-proxy/src/test/resources/proxy.conf
Labels: release/2.7.3, release/2.8.1, type/bug

#11236 [docs]Update getting-started-standalone.md
  site2/docs/getting-started-standalone.md
Labels: doc

#11225 [website][common]common util for generate docs
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/CmdGenerateDocs.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/CmdGenerateDocsTest.java
Labels: component/website, doc

#11222 Add a usage example for redis sink
  site2/docs/io-redis-sink.md
Labels: doc

#11182 [website][pulsar-client/pulsar-perf] pulsar-client and pulsar-perf cli doc command flag duplicated
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdGenerateDocumentation.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdGenerateDocumentation.java
Labels: component/client, component/website, doc, type/bug

#11240 Fix incorrect usage of localrun command in ES sink
  site2/docs/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.5.1/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.5.2/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.6.0/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.6.1/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.6.2/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.6.3/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.6.4/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.7.0/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.7.1/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.7.2/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.7.3/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.8.0/io-elasticsearch-sink.md
  site2/website/versioned_docs/version-2.8.1/io-elasticsearch-sink.md
Labels: component/io, doc

#11218 [docs]Update getting-started-docker.md
  site2/docs/getting-started-docker.md
Labels: doc

#11247 Pulsar Adapters: add download section (only source tarball)
  site2/website/pages/en/download.js
  site2/website/pulsar-adapters-release.json
Labels: component/website

#11244 [admin] Enable peeking encrypted batch messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: component/admin

#11235 [Doc] Add guides for Transactions
  site2/docs/assets/txn-1.png
  site2/docs/assets/txn-2.png
  site2/docs/assets/txn-3.png
  site2/docs/assets/txn-4.png
  site2/docs/assets/txn-5.png
  site2/docs/assets/txn-6.png
  site2/docs/assets/txn-7.png
  site2/docs/assets/txn-8.png
  site2/docs/assets/txn-9.png
  site2/docs/txn-how.md
  site2/docs/txn-monitor.md
  site2/docs/txn-use.md
  site2/docs/txn-what.md
  site2/docs/txn-why.md
  site2/website/sidebars.json
Labels: doc

#11242 fix retention size policy delete too much ledgers
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: release/2.8.1, type/bug

#11196 remove legacy znode when delete namespace or tenant forcefully
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: type/bug

#11217 PIP-45: Changed Topic initialization to use MetadataStore and to be fully async
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BookieResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/ClusterResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/DynamicConfigurationResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/LoadManagerReportResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/LocalPoliciesResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/ResourceGroupResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TenantResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicMessageTTLTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: no-need-doc

#11254 [Branch-2.7] Fix branch-2.7 test.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceStarterTest.java
Labels: release/2.7.3

#11265 PIP-45: Removed localZkCache access from AdminResource
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TopicResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/ResourceGroupsTest.java
Labels: no-need-doc, type/enhancement

#11264 Fix missing replicator metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedReplicationStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStatsTest.java
  site2/docs/reference-metrics.md
  site2/website/versioned_docs/version-2.8.1/reference-metrics.md
Labels: component/metrics, release/2.7.3, release/2.8.1

#11229 [website][pulsar]generate docs for pulsar subcommand: broker-tool
  pulsar-broker/src/main/java/org/apache/pulsar/broker/tools/BrokerTool.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/tools/GenerateDocsCommand.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/tools/BrokerToolTest.java
Labels: component/broker, component/tools, doc

#11226 [Branch-2.7] Fix ledger roll over scheduler task
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/CurrentLedgerRolloverIfFullTest.java
Labels: release/2.7.3

#11253 Allow null to be set as namespace level subscription TTL
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: component/admin, component/broker, release/2.8.1

#11266 Fix typo and duplicate config doc entries
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.2.0/reference-configuration.md
  site2/website/versioned_docs/version-2.2.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.0/reference-configuration.md
  site2/website/versioned_docs/version-2.3.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.2/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
  site2/website/versioned_docs/version-2.4.2/reference-configuration.md
  site2/website/versioned_docs/version-2.5.0/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.3/reference-configuration.md
  site2/website/versioned_docs/version-2.6.4/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website/versioned_docs/version-2.7.2/reference-configuration.md
  site2/website/versioned_docs/version-2.7.3/reference-configuration.md
  site2/website/versioned_docs/version-2.8.0/reference-configuration.md
  site2/website/versioned_docs/version-2.8.1/reference-configuration.md
Labels: doc

#10868 [docs] Update docs for topic stats in admin apis.
  site2/docs/admin-api-topics.md
Labels: doc

#11249 [Branch-2.7] Fix broker dispatch byte rate limiter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
Labels: release/2.7.3

#11239 [Doc] Add explanations for partition key
  site2/docs/admin-api-brokers.md
  site2/docs/admin-api-clusters.md
  site2/docs/admin-api-functions.md
  site2/docs/admin-api-namespaces.md
  site2/docs/admin-api-overview.md
  site2/docs/admin-api-packages.md
  site2/docs/admin-api-permissions.md
  site2/docs/admin-api-tenants.md
  site2/docs/admin-api-topics.md
  site2/docs/developing-binary-protocol.md
  site2/docs/reference-pulsar-admin.md
Labels: doc

#11255 simplify managedLedger retention trim logic
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: release/2.8.1

#11245 Fix exception typo
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
Labels: type/cleanup

#11228 [website][pulsar][broker]generate docs for pulsar subcommand - broker
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/test/java/org/apache/pulsar/PulsarBrokerStarterTest.java
Labels: component/broker, component/website, doc

#11230 [website][pulsar]generate docs for pulsar subcommand: compact-topic
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactorToolTest.java
Labels: component/broker, component/build, component/website

#11231 [website][pulsar]generate docs for pulsar subcommand: tokens
  pulsar-broker/src/main/java/org/apache/pulsar/utils/auth/tokens/TokensCliUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/auth/tokens/TokensCliUtilsTest.java
Labels: component/build, component/website, doc

#11213 fix: incorrect command in helm-deploy docs
  site2/docs/helm-deploy.md
  site2/website/versioned_docs/version-2.6.0/helm-deploy.md
  site2/website/versioned_docs/version-2.7.0/helm-deploy.md
  site2/website/versioned_docs/version-2.7.1/helm-deploy.md
  site2/website/versioned_docs/version-2.7.2/helm-deploy.md
  site2/website/versioned_docs/version-2.7.3/helm-deploy.md
  site2/website/versioned_docs/version-2.8.0/helm-deploy.md
  site2/website/versioned_docs/version-2.8.1/helm-deploy.md
Labels: doc

#11279 expose broker entry metadata and deliverAtTime to peekMessages/getMes…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerEntryMetadataE2ETest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
Labels: component/broker

#11276 [Issue-11270] Change ContextClassLoader to NarClassLoader in ProtocolHandler
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlerWithClassLoader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/protocol/ProtocolHandlerWithClassLoaderTest.java
Labels: no-need-doc, release/2.8.1

#11275 Update README.md
  README.md
Labels: doc

#10428 [Issue #10427] Add AvroSchema UUID support fix
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AvroSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/util/SchemaUtil.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
Labels: component/client, component/schemaregistry, release/2.8.1

#11302 [C++] Support Windows Debug mode build
  .github/workflows/ci-cpp-build-windows.yaml
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/README.md
Labels: component/build, component/c++, no-need-doc

#11287 Fixed retention of keys in compaction
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/api/RawReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionRetentionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
Labels: no-need-doc, release/2.7.3, release/2.8.1, type/bug

#11284 Remove Pulsar Dashboard
  dashboard/Dockerfile
  dashboard/README.md
  dashboard/conf/nginx-app.conf
  dashboard/conf/postgresql.conf
  dashboard/conf/supervisor-app.conf
  dashboard/conf/uwsgi.ini
  dashboard/conf/uwsgi_params
  dashboard/django/collector.py
  dashboard/django/collector.sh
  dashboard/django/dashboard/__init__.py
  dashboard/django/dashboard/settings.py
  dashboard/django/dashboard/urls.py
  dashboard/django/dashboard/wsgi.py
  dashboard/django/manage.py
  dashboard/django/stats/__init__.py
  dashboard/django/stats/admin.py
  dashboard/django/stats/apps.py
  dashboard/django/stats/migrations/0001_initial.py
  dashboard/django/stats/migrations/0002_support_deleted_objects.py
  dashboard/django/stats/migrations/0003_updates.py
  dashboard/django/stats/migrations/__init__.py
  dashboard/django/stats/models.py
  dashboard/django/stats/static/stats/additional.css
  dashboard/django/stats/templates/stats/base.html
  dashboard/django/stats/templates/stats/broker.html
  dashboard/django/stats/templates/stats/brokers.html
  dashboard/django/stats/templates/stats/clusters.html
  dashboard/django/stats/templates/stats/home.html
  dashboard/django/stats/templates/stats/messages.html
  dashboard/django/stats/templates/stats/namespace.html
  dashboard/django/stats/templates/stats/property.html
  dashboard/django/stats/templates/stats/topic.html
  dashboard/django/stats/templates/stats/topics.html
  dashboard/django/stats/templatetags/__init__.py
  dashboard/django/stats/templatetags/stats_extras.py
  dashboard/django/stats/templatetags/table.py
  dashboard/django/stats/tests.py
  dashboard/django/stats/urls.py
  dashboard/django/stats/views.py
  dashboard/django/utils/__init__.py
  dashboard/django/utils/import_utils.py
  dashboard/init-postgres.sh
  dashboard/pom.xml
  dashboard/requirements.txt
  dashboard/start.sh
  docker/publish.sh
  pom.xml
Labels: component/dashboard

#11248 [hotfix] simplify code
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: component/storage

#11294 Fix using partitioned topic name to get Policy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: component/topic-policy, no-need-doc, type/bug

#11256 Generate documentation of webSocket automatically
  pulsar-broker/src/main/java/org/apache/pulsar/utils/CmdGenerateDocumentation.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/CmdTest.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: component/website, doc

#11283 remove duplicated configuration
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
Labels: component/bookkeeper, component/config, release/2.8.1, type/bug

#11192 [pulsar-io] Refine the key in redis sink when key is null
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/sink/RedisSink.java
Labels: component/io

#11141 add parameter to control publish message check policy frequency
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: component/broker

#11033 use testng to replace junit
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestEnvVarResolverProperties.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: component/test

#10779 fix add listenerName for geo-replicator
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
Labels: release/2.8.1

#10981 [python-client] Fixed crash when using Python logger
  pulsar-client-cpp/python/src/config.cc
Labels: component/c++, component/python

#11309 [Doc Workflow] Optimize PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc

#11310 Fix npe when unloading persistent partitioned topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: release/2.7.4, release/2.8.1, type/bug

#11251 [pulsar-io] pass the pulsar service url to debezium source for history database
  pulsar-io/debezium/core/src/main/java/org/apache/pulsar/io/debezium/DebeziumSource.java
  pulsar-io/debezium/mongodb/src/main/resources/debezium-mongodb-source-config.yaml
  pulsar-io/debezium/mysql/src/main/resources/debezium-mysql-source-config.yaml
  pulsar-io/debezium/postgres/src/main/resources/debezium-postgres-source-config.yaml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumMongoDbSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumMySqlSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumPostgreSqlSourceTester.java
Labels: component/io

#11301 Admin Tool: fix batch size < 0 erro when peekmessage
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerEntryMetadataE2ETest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/admin

#10762 [broker] Fix issue that message ordering could be broken when redelivering messages on Key_Shared subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageRedeliveryController.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageRedeliveryControllerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: component/broker, component/key-shared, release/2.7.3, release/2.8.1, type/bug

#11267 PIP-45: Removed direct ZK access from BrokerService
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessagePublishThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicPublishThrottlingInitTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/NamespaceName.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: no-need-doc, type/enhancement

#11329 [C++] Avoid throwing exceptions when setting socket option
  pulsar-client-cpp/lib/ClientConnection.cc
Labels: component/c++, no-need-doc, type/bug

#11184 [PIP-82] [pulsar-broker] Add publish ratelimiter to resource group
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupPublishLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigListenerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupRateLimiterTest.java
Labels: component/broker, no-need-doc

#11258 Add annotations for ClientConfigurationData
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
Labels: component/website, doc

#11311 [DOCS] function worker docs enhancement
  site2/docs/functions-worker.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.8.0/functions-worker.md
  site2/website/versioned_docs/version-2.8.1/functions-worker.md
  site2/website/versioned_sidebars/version-2.8.0-sidebars.json
  site2/website/versioned_sidebars/version-2.8.1-sidebars.json
Labels: doc

#11337 Add missing parameters for pulsar-perf
  site2/docs/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.3/reference-cli-tools.md
  site2/website/versioned_docs/version-2.6.4/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.1/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.2/reference-cli-tools.md
  site2/website/versioned_docs/version-2.7.3/reference-cli-tools.md
  site2/website/versioned_docs/version-2.8.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.8.1/reference-cli-tools.md
Labels: doc

#11335 Add docs about how to use stateful functions in pulsar
  site2/docs/functions-worker.md
  site2/website/versioned_docs/version-2.6.0/functions-worker.md
  site2/website/versioned_docs/version-2.6.1/functions-worker.md
  site2/website/versioned_docs/version-2.6.2/functions-worker.md
  site2/website/versioned_docs/version-2.6.3/functions-worker.md
  site2/website/versioned_docs/version-2.6.4/functions-worker.md
  site2/website/versioned_docs/version-2.7.0/functions-worker.md
  site2/website/versioned_docs/version-2.7.1/functions-worker.md
  site2/website/versioned_docs/version-2.7.2/functions-worker.md
  site2/website/versioned_docs/version-2.7.3/functions-worker.md
  site2/website/versioned_docs/version-2.8.0/functions-worker.md
  site2/website/versioned_docs/version-2.8.1/functions-worker.md
Labels: doc

#11126 [Transaction] Fix the transaction marker doe not deleted as expect.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckHandle.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleDisabled.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMarkerDeleteTest.java
Labels: release/2.8.1

#11268 Support new topic format for broker admin healthcheck endpoint.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiHealthCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/naming/TopicVersion.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBrokers.java
Labels: doc

#11346 Fixed inconsistent behavior for Namespace bundles cache
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceBundlesCacheInvalidationTest.java
Labels: release/2.7.4, type/bug

#11342 Close the replicator and replication client when delete cluster.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: release/2.7.4, release/2.8.1, type/bug

#11323 [C++] Use same regex code at ZTSClient
  pulsar-client-cpp/lib/auth/athenz/ZTSClient.cc
  pulsar-client-cpp/tests/ZTSClientTest.cc
Labels: component/c++, component/client, no-need-doc, release/2.8.1, type/bug

#11281 [tests] use Awaitility replace Thread.sleep for pulsar-broker.
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaAutoUpdateTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/GracefulExecutorServicesShutdownTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicTerminationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/test, no-need-doc

#11345 [Security] Upgrade commons-compress to 1.21
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, no-need-doc

#11374 Branch-2.7 fix Delayed Messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: release/2.7.3

#11322 Pulsar IO: allow Sinks to use native AVRO and JSON
  pulsar-functions/runtime-all/pom.xml
  pulsar-functions/runtime-all/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceDepsTest.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestGenericObjectSink.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarGenericObjectSinkTest.java
Labels: component/io, release/2.8.1

#11087 [python functions] fix `tls_validate_hostname` is not supported in python functions runtime
  pulsar-functions/instance/src/main/python/python_instance_main.py
Labels: component/functions, component/python, release/2.8.1

#11362 [website][pulsar]: auto generate docs for pulsar subcommand: standalone
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
Labels: component/website

#11388 [C++] Support protobuf native schema
  build/docker/Dockerfile
  build/docker/protobuf.patch
  pulsar-client-cpp/CMakeLists.txt
  pulsar-client-cpp/README.md
  pulsar-client-cpp/docker-build.sh
  pulsar-client-cpp/docker-format.sh
  pulsar-client-cpp/docker-tests.sh
  pulsar-client-cpp/docker/centos-7/Dockerfile
  pulsar-client-cpp/include/pulsar/ProtobufNativeSchema.h
  pulsar-client-cpp/include/pulsar/Schema.h
  pulsar-client-cpp/lib/Commands.cc
  pulsar-client-cpp/lib/ProtobufNativeSchema.cc
  pulsar-client-cpp/lib/Schema.cc
  pulsar-client-cpp/tests/CMakeLists.txt
  pulsar-client-cpp/tests/ProtobufNativeSchemaTest.cc
  pulsar-client-cpp/tests/SchemaTest.cc
  site2/docs/client-libraries-cpp.md
Labels: component/c++, doc-required

#11385 Fix NPE when builtin connector does not exist.
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSourceE2ETest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
Labels: component/functions, type/bug

#11414 [Tests] Reduce integration test memory usage in CI
  .github/actions/tune-runner-vm/action.yml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-pulsar-website-build.yaml
  .github/workflows/ci-shade-test.yaml
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/conf/presto/jvm.config
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ChaosContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/PulsarContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/StandaloneContainer.java
Labels: component/test

#11361 feat: auto generate docs for pulsar subcommand proxy
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
Labels: component/website, doc

#11317 [pulsar-doc] Document pulsar-kafka adapter encryption support
  site2/docs/adaptors-kafka.md
Labels: doc

#11347 Avoid infinite waiting for consumer close
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: component/client, no-need-doc, release/2.8.1

#11238 [Issue 11007] add a version of AUTO_PRODUCE_BYTES that doesn't validate the message in `encode`
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/NativeAvroBytesSchema.java
Labels: doc-required

#11115 fix flaky test testUpdateDynamicLocalConfiguration
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: flaky-tests, release/2.8.1

#11331 [PIP-82] [pulsar-broker] updates to resource-group stats:
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupPublishLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceQuotaCalculatorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMesgsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupUsageAggregationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceQuotaCalculatorImplTest.java
Labels: no-need-doc

#11396 [Broker] Fix replicated subscriptions direct memory leak
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsController.java
Labels: component/broker, no-need-doc, release/2.7.4, release/2.8.1, type/bug

#11376 Disable replicate system topic across clusters.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
Labels: component/topic-policy, no-need-doc, release/2.7.4, release/2.8.1

#11418 [Branch-2.7] Fixes function api can not use authdata to check superuser
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourcesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Functions.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionsApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionsApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SinksApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SourcesApiV3Resource.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
Labels: component/functions, component/security, release/2.7.4

#11407 [Transaction] Fix direct memory leak related to commit and abort markers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
Labels: component/transactions, no-need-doc, release/2.7.4, release/2.8.1, type/bug

#11389 Invalidate the read handle after all cursors consumed.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: no-need-doc, release/2.7.4, release/2.8.1, type/bug

#11400 [Python Client] Fix handle complex schema
  pulsar-client-cpp/python/pulsar/schema/definition.py
  pulsar-client-cpp/python/pulsar/schema/schema_avro.py
  pulsar-client-cpp/python/schema_test.py
Labels: no-need-doc, release/2.8.1

#11421 Generate documentation of PulsarProxy automatically
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/util/CmdGenerateDocumentation.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/util/CmdTest.java
Labels: component/website, doc

#11425 [Tests] Fix flaky Presto tiered storage integration tests
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestPulsarSQLBase.java
Labels: flaky-tests

#11370 Flaky-test: RackAwareTest.testPlacement
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/RackAwareTest.java
Labels: no-need-doc

#11343 [Issue 11340] Fix concurrency issues in NarUnpacker
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarUnpacker.java
  pulsar-common/src/test/java/org/apache/pulsar/common/nar/NarUnpackerTest.java
Labels: no-need-doc, release/2.8.1, type/bug

#11398 [issues 11397][Docs] make java code sample match the actual API
  site2/docs/security-oauth2.md
Labels: doc

#11394 Flaky-test: NamespacesTest.testSubscribeRate
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: flaky-tests

#11430 Add metrics `storageLogicalSize` for the TopicStats and NamespaceStats
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerMXBean.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/ManagedLedgerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TransactionAggregator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TransactionMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStatsTest.java
  site2/docs/reference-metrics.md
Labels: component/stats, doc, release/2.8.1

#11420 [Doc] Add schema examples for Java client
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-java.md
Labels: doc

#11386 [Discuss] Cherry-picking #11310 Fix npe when unloading persistent partitioned topic in branch-2.7.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: release/2.7.4

#11390 Cherry-picking #11342 Close the replicator and replication client when delete cluster in branch-2.7
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationCacheService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCacheListener.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperDataCache.java
Labels: release/2.7.4

#11384 Cherry-picking #11287 Fixed retention of keys in compaction in branch-2.7
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/api/RawReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionRetentionTest.java
Labels: release/2.7.4

#11341 [Broker] Add multi roles support for authorization
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/MultiRolesTokenAuthorizationProvider.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authorization/MultiRolesTokenAuthorizationProviderTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
Labels: release/2.8.1

#11429 Remove duplicate check for replicationClusterSet
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: component/admin, no-need-doc, release/2.8.1

#11427 add error log for schema admin operation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
Labels: no-need-doc, release/2.8.1, type/enhancement

#11435 [pulsar io] make KafkaSourceRecord ack() non-blocking to avoid deadlock
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/AbstractKafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarOffsetBackingStore.java
Labels: component/io, release/2.8.1

#11439 [Docs] Update Minikube link
  site2/docs/getting-started-helm.md
  site2/website/versioned_docs/version-2.1.0-incubating/deploy-kubernetes.md
  site2/website/versioned_docs/version-2.5.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.4/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.1/getting-started-helm.md
Labels: doc

#11423 Reduce the probability of cache inconsistencies
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionMetaDataManager.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionMetaDataManagerTest.java
Labels: no-need-doc, release/2.8.1

#11405 Swap getTopicReference(topic) with serviceUnit.includes to reduce calling getTopicReference
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: no-need-doc, release/2.8.1, type/enhancement

#11355 [Issue 11339] Pulsar Admin List Subscription lists only subscriptions created for Partition-0 when partition specific subscriptions are created
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/admin, no-need-doc, release/2.7.4, release/2.8.1, type/bug

#10973 [Elasticsearch-sink] support multi Elasticsearch hosts
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
Labels: component/io

#11378 Fix issue in CLI when validating batch source config
  distribution/io/src/assemble/io.xml
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
  tests/docker-images/latest-version-image/Dockerfile
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/BatchSourceTest.java
Labels: component/functions

#11417 [pulsar function] set exposePulsarAdmin to true if enabled
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/process/ProcessRuntimeTest.java
Labels: component/functions, release/2.8.1

#11419 Generate documentation of Client automatically
  pulsar-broker/src/main/java/org/apache/pulsar/utils/CmdGenerateDocumentation.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/CmdTest.java
Labels: component/website, doc

#11296 [documentation] Remove duplicate section in Messaging > Consumers > Acknowledgement
  site2/docs/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.3/concepts-messaging.md
  site2/website/versioned_docs/version-2.6.4/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.7.3/concepts-messaging.md
  site2/website/versioned_docs/version-2.8.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.8.1/concepts-messaging.md
Labels: doc

#11263 Enhanced ElasticSearch Sink (TLS, Auth, KeyValue Schema, INSERT/UPDATE/DELETE, "_id" management, multi index support)
  pulsar-io/elastic-search/pom.xml
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConnectionException.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSslConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/JsonConverter.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/RandomExponentialBackoffPolicy.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/RandomExponentialRetry.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchBWCTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientSslTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfigTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchExtractTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkRawDataTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/JsonConverterTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/RandomExponentialRetryTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/testcontainers/ChaosContainer.java
  pulsar-io/elastic-search/src/test/resources/sinkConfig.yaml
  pulsar-io/elastic-search/src/test/resources/ssl/cacert.crt
  pulsar-io/elastic-search/src/test/resources/ssl/cacert.pem
  pulsar-io/elastic-search/src/test/resources/ssl/elasticsearch.crt
  pulsar-io/elastic-search/src/test/resources/ssl/elasticsearch.jks
  pulsar-io/elastic-search/src/test/resources/ssl/elasticsearch.key
  pulsar-io/elastic-search/src/test/resources/ssl/keystore.jks
  pulsar-io/elastic-search/src/test/resources/ssl/truststore.jks
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ElasticSearchContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOTestRunner.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/ElasticSearchSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/PulsarIOSinkRunner.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/PulsarSinksTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/SinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: component/io, doc-required, type/feature

#11401 [pulsar-function] Stop calling the deprated method Thread.stop when stopping the function thread in ThreadRuntime.
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
Labels: component/functions, no-need-doc

#11399 [pulsar function] add instanceId and fqn into log message properties
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/LogAppender.java
Labels: component/functions, doc-required, release/2.8.1

#11202 [Issue 11200] [pulsar-metadata] Unit test to verify Metadata cache consistency across brokers
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: component/broker, type/bug

#11422 Allow to config Sasl configs in Kafka sink.
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSinkConfig.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/sink/KafkaAbstractSinkTest.java
  pulsar-io/kafka/src/test/resources/kafkaSinkConfigSasl.yaml
Labels: component/io, no-need-doc

#11459 [websocket] Remove System.out.println from ConsumerHandler
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
Labels: component/websocket

#11451 [doc] update doc for debezium connector and log-topic message
  site2/docs/functions-debug.md
  site2/docs/io-debezium-source.md
Labels: doc

#11438 Add getTxnID method in Transaction.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/Transaction.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
Labels: component/txn, release/2.8.1

#11446 [issue #13351] Solving precise rate limiting does not takes effect
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PrecisPublishLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PublishRateLimiterDisable.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PublishRateLimiterTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/RateLimiter.java
Labels: component/broker, release/2.8.1, type/bug

#11454 [stats] Do not expose meaningless stats for publisher
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/PublisherStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/PublisherStatsTest.java
  site2/docs/getting-started-docker.md
Labels: component/stats, doc, release/2.8.1, type/enhancement

#11360 [website][pulsar]: auto generate docs for pulsar subcommand: initialize-transaction-coordinator-metadata
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarTransactionCoordinatorMetadataSetup.java
  pulsar-broker/src/test/java/org/apache/pulsar/PulsarTransactionCoordinatorMetadataSetupTest.java
Labels: component/transactions, component/website, doc

#11328 [website][pulsar]: auto generate docs for pulsar subcommand: delete-cluster-metadata
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataTeardown.java
  pulsar-broker/src/test/java/org/apache/pulsar/PulsarClusterMetadataTeardownTest.java
Labels: component/website, doc

#11479 Remove unsupport command description in doc
  site2/docs/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.8.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.8.1/deploy-bare-metal.md
Labels: doc

#11478 [pulsar-io] fix source stats exposing empty exceptions list
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SourceStatsManager.java
Labels: component/functions, component/io, release/2.7.4, release/2.8.1
