Repository apache/pulsar, pull requests merged in 2022-01, with the labels that each got.

#13503 [security] Allow Client Builder set Dnslookup params
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientBuilderImplTest.java
Labels: doc

#13574 [Doc] add explanations for performance metrics
  site2/docs/reference-metrics.md
Labels: doc

#13581 Enable CheckStyle Plugin in Pulsar Test Mocks
  testmocks/pom.xml
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockLedgerHandle.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockReadHandle.java
  testmocks/src/main/java/org/apache/bookkeeper/client/package-info.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeperSession.java
  testmocks/src/main/java/org/apache/zookeeper/package-info.java
Labels: no-need-doc

#13595 Bump slf4j from 1.7.25 to 1.7.32
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: no-need-doc

#13600 Update 2.8.2 swagger file
  site2/website/static/swagger/2.8.2/swagger.json
  site2/website/static/swagger/2.8.2/swaggerfunctions.json
  site2/website/static/swagger/2.8.2/swaggerpackages.json
  site2/website/static/swagger/2.8.2/swaggersink.json
  site2/website/static/swagger/2.8.2/swaggersource.json
Labels: doc

#13501 Change ContextClassLoader to NarClassLoader in AdditionalServlet
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ClassLoaderSwitcher.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/plugin/servlet/AdditionalServletWithClassLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlerWithClassLoader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/plugin/servlet/AdditionalServletWithClassLoaderTest.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13608 [Tests] Fix flakiness issue when spying ServerCnx
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: flaky-tests, no-need-doc

#13601 [CI] Create unique OWASP dependency check reports for each branch
  .github/workflows/ci-owasp-dependency-check.yaml
Labels: no-need-doc

#13603 [Presto] Fix issue of mixed SLF4J library versions in presto libs
  pulsar-sql/pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: no-need-doc, release/2.9.2

#13593 [docs] Fix hyperlinks typo
  site2/docs/concepts-messaging.md
Labels: doc

#13579 MaxMessageSize support cross multiple clusters
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTopicPoliciesTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: no-need-doc

#13577 Condition 'policies != null' is always 'true' ,no need to judge.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
Labels: no-need-doc

#13571 Fix NPE when unloading namespace bundle
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: no-need-doc

#13616 Update the site for minor releases 2.8.2
  site2/website/releases.json
Labels: doc

#13622 [Tests] Upgrade Mockito to latest stable 3.x version, 3.12.4
  pom.xml
Labels: flaky-tests, no-need-doc, release/2.8.3, release/2.9.2

#13621 [Tests] Fix flaky WrongTypeOfReturnValue Mockito misuse issue in broker tests
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixReadTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/MockedBookKeeperTestCase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BrokerTestUtil.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/ResourceGroupsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LeaderElectionServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/lookup/http/HttpTopicLookupv2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/lookup/http/v2/TopicLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMarkerDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/plugin/FilterEntryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionMetaStoreTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationFailureTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DispatcherBlockConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionPoolTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthenticationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyConfigurationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeWithoutZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/v1/V1_ProxyAuthenticationTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/api/MessageRouterTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/AbstractDecoderTester.java
Labels: flaky-tests, no-need-doc, release/2.8.3, release/2.9.2

#13610 Upgrade Gson version 2.8.6 to 2.8.9
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: no-need-doc, release/2.8.3, release/2.9.2, release/2.7.5

#13604 [Test] Change level log to debug for broker interceptor testing
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
Labels: no-need-doc

#13597 [website][upgrade] feat: rest api pages
  site2/website-next/.gitignore
  site2/website-next/docusaurus.config.js
  site2/website-next/src/components/RestApi.js
  site2/website-next/src/components/ScriptTag.js
  site2/website-next/src/components/VersionsTable.js
  site2/website-next/src/pages/admin-rest-api.js
  site2/website-next/src/pages/functions-rest-api.js
  site2/website-next/src/pages/index.js
  site2/website-next/src/pages/packages-rest-api.js
  site2/website-next/src/pages/sink-rest-api.js
  site2/website-next/src/pages/source-rest-api.js
  site2/website-next/src/theme/Navbar/index.js
  site2/website-next/src/theme/Navbar/styles.module.css
  site2/website-next/src/theme/NavbarItem/DefaultNavbarItem.js
  site2/website-next/src/theme/NavbarItem/DocNavbarItem.js
  site2/website-next/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.js
  site2/website-next/src/theme/NavbarItem/DocsVersionNavbarItem.js
  site2/website-next/src/theme/NavbarItem/DropdownNavbarItem.js
  site2/website-next/src/theme/NavbarItem/LocaleDropdownNavbarItem/index.js
  site2/website-next/src/theme/NavbarItem/LocaleDropdownNavbarItem/styles.module.css
  site2/website-next/src/theme/NavbarItem/SearchNavbarItem.js
  site2/website-next/src/theme/NavbarItem/index.js
  site2/website-next/src/theme/Root.js
  site2/website-next/static/js/getCliByVersion.js
Labels: doc, component/website

#13424 Allow to config no-password truststore
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsTest.java
  pulsar-broker/src/test/resources/authentication/keystoretls/pulsar_client_trust_npd.jks
  pulsar-broker/src/test/resources/authentication/keystoretls/pulsar_server_trust_npd.jks
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/KeyStoreSSLContext.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
Labels: no-need-doc

#13540 update log content
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: component/broker, no-need-doc, release/2.8.3, release/2.9.2, release/2.7.5

#13614 [Doc] Fix security-tls-authentication documentation
  site2/docs/security-tls-authentication.md
  site2/website-next/docs/security-tls-authentication.md
  site2/website-next/versioned_docs/version-2.9.0/security-tls-authentication.md
  site2/website-next/versioned_docs/version-2.9.1/security-tls-authentication.md
  site2/website/versioned_docs/version-2.9.0/security-tls-authentication.md
  site2/website/versioned_docs/version-2.9.1/security-tls-authentication.md
Labels: doc

#12249 Fix time field use error
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
Labels: component/sql, no-need-doc, release/2.8.3, release/2.9.2

#13592 [Broker] Fix raw use of generic types in OwnershipCache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
Labels: no-need-doc

#13630 [Build] Fix warning about missing maven-checkstyle-plugin version in buildtools/pom.xml
  buildtools/pom.xml
Labels: no-need-doc

#13387 Delete prometheus-dcos dockerfile
  docker/prometheus-dcos/Dockerfile
  docker/prometheus-dcos/prometheus.yml
Labels: type/cleanup, no-need-doc

#13632 Remove unmaintained DC/OS deployment example
  deployment/dcos/PulsarGroups.json
  site2/docs/deploy-dcos.md
  site2/docs/functions-deploy.md
  site2/docs/getting-started-standalone.md
Labels: doc, component/deploy, type/cleanup

#13636 [doc] add notes on worker threads
  site2/docs/client-libraries-node.md
Labels: doc

#11965 fix issues 11964, deadlock bug when use key_shared mode
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: component/broker, no-need-doc, release/2.8.3, release/2.9.2, release/2.7.5

#13629 Fix reader skipped remaining compacted data during the topic unloading.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/MockManagedLedger.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13525 Healthcheck v2 failed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiHealthCheckTest.java
Labels: component/broker, no-need-doc

#13557 [issue #13439][backlogQuota] Allow both limit and limitsize be null
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/impl/BacklogQuotaImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BacklogQuotaCompatibilityTest.java
Labels: no-need-doc, release/2.9.2

#13647 Fix code example of producer for delay message
  site2/docs/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-go.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-go.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-go.md
  site2/website/versioned_docs/version-2.7.4/client-libraries-go.md
  site2/website/versioned_docs/version-2.8.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.8.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.9.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.9.1/client-libraries-go.md
Labels: doc, doc-added

#13638 Enable CheckStyle Plugin in Pulsar client api
  pulsar-client-api/pom.xml
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/AuthenticationFactory.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/BatcherBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/EncryptionKeyInfo.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/KeySharedPolicy.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Message.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/MessageId.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Range.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/SizeUnit.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/KeyValueSchema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/SchemaDefinition.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/schema/SchemaReader.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/TransactionCoordinatorClientException.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/DefaultImplementation.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/PulsarClientImplementationBinding.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaInfo.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
Labels: no-need-doc

#13606 Avoid repeatly set startMessageIdData to null for ConsumerImpl
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: no-need-doc

#13598 [Doc] Fix doc for chunked message related stats.
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/PublisherStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/ConsumerStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/PublisherStatsImpl.java
  site2/docs/admin-api-topics.md
  site2/website-next/docs/admin-api-topics.md
  site2/website-next/versioned_docs/version-2.9.0/admin-api-topics.md
  site2/website-next/versioned_docs/version-2.9.1/admin-api-topics.md
  site2/website/versioned_docs/version-2.9.0/admin-api-topics.md
  site2/website/versioned_docs/version-2.9.1/admin-api-topics.md
Labels: doc

#13615 [Doc] adjusting md style
  faq.md
  site2/docs/client-libraries-dotnet.md
  site2/docs/deploy-aws.md
  site2/website-next/docs/developing-binary-protocol.md
  site2/website-next/versioned_docs/version-2.1.1-incubating/deploy-aws.md
  site2/website-next/versioned_docs/version-2.2.1/deploy-aws.md
  site2/website-next/versioned_docs/version-2.3.0/deploy-aws.md
  site2/website-next/versioned_docs/version-2.3.1/deploy-aws.md
  site2/website-next/versioned_docs/version-2.3.2/deploy-aws.md
  site2/website-next/versioned_docs/version-2.4.0/deploy-aws.md
  site2/website-next/versioned_docs/version-2.4.0/io-quickstart.md
  site2/website-next/versioned_docs/version-2.4.1/deploy-aws.md
  site2/website-next/versioned_docs/version-2.4.1/io-quickstart.md
  site2/website-next/versioned_docs/version-2.4.2/deploy-aws.md
  site2/website-next/versioned_docs/version-2.5.2/deploy-aws.md
  site2/website-next/versioned_docs/version-2.6.1/client-libraries-dotnet.md
  site2/website-next/versioned_docs/version-2.6.2/client-libraries-dotnet.md
  site2/website-next/versioned_docs/version-2.6.4/client-libraries-dotnet.md
  site2/website-next/versioned_docs/version-2.6.4/deploy-aws.md
  site2/website-next/versioned_docs/version-2.7.0/deploy-aws.md
  site2/website-next/versioned_docs/version-2.8.2/client-libraries-dotnet.md
  site2/website-next/versioned_docs/version-2.8.2/deploy-aws.md
  site2/website/blog/2020-06-18-Apache-Pulsar-2-6-0.md
  site2/website/blog/2020-11-09-Apache-Pulsar-2-6-2.md
  site2/website/release-notes.md
  site2/website/versioned_docs/version-2.4.0/io-quickstart.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.7.0/deploy-aws.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.7.2/deploy-aws.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.7.3/deploy-aws.md
  site2/website/versioned_docs/version-2.7.4/deploy-aws.md
  site2/website/versioned_docs/version-2.8.2/client-libraries-dotnet.md
  site2/website/versioned_docs/version-2.8.2/deploy-aws.md
  site2/website/versioned_docs/version-2.9.0/client-libraries-dotnet.md
Labels: doc

#13354 [security] Allow to config web server's cipher and protocols
  conf/broker.conf
  conf/proxy.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/JettySslContextFactoryWithAutoRefresh.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/KeyStoreSSLContext.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/NetSslContextBuilder.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/keystoretls/JettySslContextFactoryWithAutoRefreshTest.java
  pulsar-common/src/test/resources/ssl/jetty_client_key.jks
  pulsar-common/src/test/resources/ssl/jetty_client_trust.jks
  pulsar-common/src/test/resources/ssl/jetty_server_key.jks
  pulsar-common/src/test/resources/ssl/jetty_server_trust.jks
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
Labels: doc

#13662 [Python] Support is_connected in Python Client
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/consumer.cc
  pulsar-client-cpp/python/src/producer.cc
  pulsar-client-cpp/python/src/reader.cc
Labels: component/python, no-need-doc

#13672 Cleanup reference to removed grafana docker image
  docker/publish.sh
Labels: type/cleanup, no-need-doc

#13658 [Issue 13657][website] fixes to admin-api-tenants page
  site2/README.md
  site2/docs/admin-api-tenants.md
Labels: doc

#13653 Update notice year.
  NOTICE
  distribution/server/src/assemble/NOTICE.bin.txt
Labels: doc, no-need-doc, release/2.8.3, release/2.9.2, release/2.7.5

#13074 [pulsar-broker] Make load-balancer config dynamic for the runtime tuning
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: component/broker, doc-info-missing

#13660 [website][upgrade] feat: cli pages migration
  site2/website-next/docusaurus.config.js
  site2/website-next/src/components/CLI.js
  site2/website-next/src/pages/pulsar-admin-cli.js
  site2/website-next/src/pages/pulsar-cli.js
  site2/website-next/src/pages/pulsar-client-cli.js
  site2/website-next/src/pages/pulsar-perf-cli.js
  site2/website-next/src/theme/Navbar/index.js
Labels: doc

#13670 Remove txn add partition info log
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: no-need-doc, release/2.9.2

#13646 [Doc] add explanations for entry filter
  site2/docs/develop-plugin.md
  site2/website/contributing.md
  site2/website/sidebars.json
Labels: doc

#13573 [ Issue 13551 ] FIxed NPE when reset-cursor at a non-existent topic (RestException without cause)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/RestException.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: no-need-doc

#13682 fixed Producer semaphore permit release issue
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13652 [Issue 13651][elastic-search] Fix Elasticsearch Sink Invalid type for uuid encoded as logical types
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/JsonConverter.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/JsonConverterTests.java
Labels: no-need-doc

#13694 [Security] Upgrade Jackson to 2.12.6
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/security, no-need-doc, release/2.8.3, release/2.9.2

#13673 [Docs] Added information to help users resolve IntelliJ issues.
  README.md
Labels: doc

#13686 [website][upgrade] feat: some external link pages and contact page
  site2/website-next/docusaurus.config.js
  site2/website-next/src/components/MailTable.js
  site2/website-next/src/pages/contact.js
  site2/website-next/src/theme/Navbar/index.js
  site2/website-next/versions.json
Labels: doc, component/website

#13548 Optimize TopicPolicies#maxConsumersPerSubscription with HierarchyTopicPolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/HierarchyTopicPolicies.java
Labels: component/topic-policy, no-need-doc

#13674 OF: t2.small ec2 instances are not available in us-west-2d
  deployment/terraform-ansible/aws/terraform.tfvars
  site2/docs/deploy-aws.md
Labels: doc

#13589 Change ``ContextClassLoader`` to ``NarClassLoader`` in BrokerInterceptor
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoaderTest.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13695 [Security] Upgrade protobuf to 3.16.1 to address CVE-2021-22569
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, no-need-doc

#13676 Enable CheckStyle Plugin in pulsar-config-validation
  pulsar-config-validation/pom.xml
  pulsar-config-validation/src/main/java/org/apache/pulsar/config/validation/ConfigValidation.java
  pulsar-config-validation/src/main/java/org/apache/pulsar/config/validation/ConfigValidationUtils.java
  pulsar-config-validation/src/main/java/org/apache/pulsar/config/validation/ValidatorImpls.java
Labels: no-need-doc

#13714 Upgrade BK to 4.14.4 and Grpc to 1.42.1
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: type/enhancement, no-need-doc

#13659 [pulsar-client-tools] Support Disable Replication in Pulsar Client Tools
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  site2/website-next/docs/reference-cli-tools.md
Labels: doc, component/tools

#13675 [ci] Split broker admin tests to unitgroup3
  .github/workflows/ci-unit-broker-broker-gp.yaml
  .github/workflows/ci-unit-broker-broker-gp1.yaml
  build/run_unit_group.sh
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiClusterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiDelayedDelivery.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiDynamicConfigurationsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiHealthCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMaxUnackedMessages.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaAutoUpdateTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaValidationEnforced.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminResourceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTopicApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BookiesApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/CreateSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/IncrementPartitionsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/MaxUnackedMessagesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest2.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/PackagesApiNotEnabledTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/PackagesApiTest.java
Labels: component/test, component/build, no-need-doc

#13609 Fix bug :Infinity value for CPU or Bandwidth usage
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/GenericBrokerHostUsageImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LinuxBrokerHostUsageImpl.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13666 Avoid call sync method in async rest API for delete subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13711 [Broker] Add deleteSubscriptionDispatchRate method for v1 namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: no-need-doc

#13722 [Security] Use dependencyManagement to enforce snakeyaml version to 1.30
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, no-need-doc

#13668 Avoid call sync method in async rest API for force delete subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13656 Fix getInternalStats occasional lack of LeaderInfo
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13649 Optimize TopicPolicies#delayedDelivery Enabled and TickTimeMillis with HierarchyTopicPolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/HierarchyTopicPolicies.java
Labels: no-need-doc

#13634 [pulsar-client] Fix the wrong multi-topic has message available behavior
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MultiTopicsReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug, no-need-doc, release/2.8.3, release/2.9.2

#13624 ReplicatorDispatchRate support cross multiple clusters
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTopicPoliciesTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: no-need-doc

#13623 maxSubscriptionsPerTopic support cross multiple clusters
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTopicPoliciesTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy, no-need-doc

#13611 [ Issue 13479 ] Fixed internal topic effect by InactiveTopicPolicy.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13553 [pulsar-broker] The log prints NamespaceService#isServiceUnitActive exception stack information.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13727 fix checkstyle for TableViewBuilder
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TableViewBuilder.java
Labels: component/build, no-need-doc

#13700 [website][upgrade] feat: code guide page, contributing page and events page
  site2/website-next/docusaurus.config.js
  site2/website-next/src/pages/coding-guide.md
  site2/website-next/src/pages/contributing.md
  site2/website-next/src/pages/events.js
  site2/website-next/static/img/280-1.png
  site2/website-next/static/img/280-2.png
  site2/website-next/static/img/apache_incubator.png
  site2/website-next/static/img/commit-message.png
  site2/website-next/static/img/cooperation.png
  site2/website-next/static/img/docusaurus.svg
  site2/website-next/static/img/p-200.png
  site2/website-next/static/img/pulsar-adoption.png
  site2/website-next/static/img/pulsar-summit-asia-2020.png
  site2/website-next/static/img/pulsar-user-ban.jpg
  site2/website-next/versions.json
Labels: doc, component/website

#13529 support dynamic config for replicationProducerQueueSize
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: component/config, component/replication, no-need-doc

#13704 [Transaction] Duplicate TYPE of Prometheus metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TransactionAggregator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TransactionMetricsTest.java
Labels: no-need-doc, release/2.9.2

#13731 [website][upgrade]feat: team page and some bug fix about version switch
  site2/website-next/docusaurus.config.js
  site2/website-next/src/components/TeamTable.js
  site2/website-next/src/components/VersionsTable.js
  site2/website-next/src/pages/team.js
  site2/website-next/src/theme/Navbar/index.js
Labels: doc, component/website

#13724 [Flaky-test] BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuotaWithEmptyLedger
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
Labels: no-need-doc

#13710 [broker] Optimize TopicPolicies#compactionThreshold with HierarchyTopicPolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/HierarchyTopicPolicies.java
Labels: no-need-doc

#13754 [Tests] Workaround flakiness issue in EndToEndMetadataTest.testPublishConsume
  pulsar-broker/pom.xml
Labels: flaky-tests, no-need-doc

#13639 Make LoadBalancer's ResourceUsage class immutable
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/policies/data/loadbalancer/ResourceUsage.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/SystemResourceUsage.java
  pulsar-common/src/test/java/org/apache/pulsar/common/lookup/data/LookupDataTest.java
Labels: type/cleanup, component/broker, no-need-doc

#13744 Fix the deadlock while using zookeeper thread to create ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: no-need-doc, release/2.8.3, release/2.9.2

#13764 [owasp] suppress false positive Avro CVE-2021-43045
  src/owasp-dependency-check-false-positives.xml
Labels: no-need-doc

#13534 Offload policies support cross multiple clusters
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTopicPoliciesTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy, no-need-doc

#13683 Fix invalid rack name cause bookie join rack failed
  pulsar-broker-common/src/main/java/org/apache/pulsar/bookie/rackawareness/BookieRackAffinityMapping.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/bookie/rackawareness/BookieRackAffinityMappingTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/impl/BookieInfoImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBookies.java
Labels: component/broker, doc-required, release/2.8.3, release/2.9.2, release/2.7.5

#13296 PIP-45: Allow to start bookie with Pulsar metadata store backend
  bin/bookkeeper
  bin/pulsar
  conf/bookkeeper.conf
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
Labels: type/feature, doc-info-missing

#13753 Updated dependencies to get rid of pulsar-io/jdbc related CVE-2020-13692
  pom.xml
  src/owasp-dependency-check-suppressions.xml
Labels: no-need-doc

#13752 [website][upgrade]feat: resources page and powered-by page
  site2/website-next/data/resources.js
  site2/website-next/data/team.js
  site2/website-next/data/users.js
  site2/website-next/docusaurus.config.js
  site2/website-next/src/components/CommonTable.js
  site2/website-next/src/css/custom.css
  site2/website-next/src/pages/powered-by.js
  site2/website-next/src/pages/resources.js
Labels: doc, component/website

#13772 [ pulsar-ci-test] Fix checkstyle bookieRackAffinityMapping error
  pulsar-broker-common/src/main/java/org/apache/pulsar/bookie/rackawareness/BookieRackAffinityMapping.java
Labels: no-need-doc

#13749 Enable CheckStyle Plugin in auth module
  pulsar-broker-auth-athenz/pom.xml
  pulsar-broker-auth-athenz/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderAthenz.java
  pulsar-broker-auth-athenz/src/main/java/org/apache/pulsar/broker/authentication/package-info.java
  pulsar-broker-auth-sasl/pom.xml
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/PulsarSaslServer.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslAuthenticationState.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslRoleToken.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/SaslRoleTokenSigner.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/package-info.java
  pulsar-broker-common/pom.xml
  pulsar-client-auth-athenz/pom.xml
  pulsar-client-auth-athenz/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenz.java
  pulsar-client-auth-athenz/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationDataAthenz.java
  pulsar-client-auth-athenz/src/main/java/org/apache/pulsar/client/impl/auth/package-info.java
  pulsar-client-auth-sasl/pom.xml
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationSasl.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/PulsarSaslClient.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/SaslAuthenticationDataProvider.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/package-info.java
Labels: no-need-doc

#13759 Enable CheckStyle Plugin in pulsar-client-1x-base module
  pulsar-client-1x-base/pom.xml
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ClientConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ConsumerConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/MessageBuilder.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/MessageListener.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/Producer.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ProducerConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ReaderConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ReaderListener.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/package-info.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/MessageBuilderImpl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/package-info.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/ConsumerV1Impl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/ProducerV1Impl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/PulsarClientV1Impl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/ReaderV1Impl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/package-info.java
  pulsar-client-messagecrypto-bc/pom.xml
  pulsar-client-messagecrypto-bc/src/main/java/org/apache/pulsar/client/impl/crypto/MessageCryptoBc.java
  pulsar-client-messagecrypto-bc/src/main/java/org/apache/pulsar/client/impl/crypto/package-info.java
Labels: no-need-doc

#13726 Updating dependencies to get rid of CVEs brought in with kafka and log4j-1.2 libs
  pom.xml
  pulsar-io/debezium/core/pom.xml
  pulsar-io/hbase/pom.xml
  pulsar-io/hdfs2/pom.xml
  pulsar-io/hdfs3/pom.xml
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-io/kafka/pom.xml
  tiered-storage/file-system/pom.xml
Labels: no-need-doc

#13746 [security] Offloaders - get rid of several CVEs (including Log4J 2.17)
  jclouds-shaded/pom.xml
  pom.xml
  tiered-storage/file-system/pom.xml
Labels: no-need-doc

#13739 [Transaction] Fix recover of TransactionBuffer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: type/bug, component/transaction, no-need-doc, release/2.9.2

#13784 [Doc] Update the C# client page to use newer version of the client library
  site2/docs/client-libraries-dotnet.md
Labels: doc

#13791 [Docs] add documentation for additionalJavaRuntimeArguments (PR #13282)
  site2/docs/functions-worker.md
Labels: doc, component/functions

#13776 [website][upgrade]feat: blog pages and client menu
  site2/website-next/blog/2018-08-06-Apache-Pulsar-2-1-0.md
  site2/website-next/blog/2019-02-20-Apache-Pulsar-2-3-0.md
  site2/website-next/blog/2019-07-05-Apache-Pulsar-2-4-0.md
  site2/website-next/blog/2019-12-04-Apache-Pulsar-2-4-2.md
  site2/website-next/blog/2019-12-18-Pulsar-summit-cfp.md
  site2/website-next/blog/2019-12-20-pulsar-milestone-200-contributors.md
  site2/website-next/blog/2020-03-17-announcing-the-apache-pulsar-2020-user-survey-report.md
  site2/website-next/blog/2020-04-23-Apache-Pulsar-2-5-1.md
  site2/website-next/blog/2020-05-19-Apache-Pulsar-2-5-2.md
  site2/website-next/blog/2020-06-18-Apache-Pulsar-2-6-0.md
  site2/website-next/blog/2020-08-21-Apache-Pulsar-2-6-1.md
  site2/website-next/blog/2020-08-24-Pulsar-300-contributors.md
  site2/website-next/blog/2020-09-01-pulsar-summit-asia-2020-cfp.md
  site2/website-next/blog/2020-11-04-pulsar-summit-asia-schedule.md
  site2/website-next/blog/2020-11-09-Apache-Pulsar-2-6-2.md
  site2/website-next/blog/2020-12-24-Apache-Pulsar-2-7-0.md
  site2/website-next/blog/2021-05-13-Apache-Pulsar-2-7-2.md
  site2/website-next/blog/2021-06-12-Apache-Pulsar-2-8-0.md
  site2/website-next/blog/2021-08-11-Apache-Pulsar-2-7-3.md
  site2/website-next/blog/2021-08-18-asia-cfp.md
  site2/website-next/blog/2021-08-25-welcome.md
  site2/website-next/blog/2021-09-23-Apache-Pulsar-2-8-1.md
  site2/website-next/blog/2021-12-11-Log4j-CVE.md
  site2/website-next/blog/2021-12-14-Apache-Pulsar-2-7-4.md
  site2/website-next/docusaurus.config.js
  site2/website-next/package.json
  site2/website-next/src/components/OldReleaseTable.js
  site2/website-next/src/components/VersionsTable.js
  site2/website-next/src/theme/Navbar/index.js
  site2/website-next/src/utils/index.js
  site2/website-next/versions.json
Labels: doc, component/website

#13742 [broker] Fix inefficient forEach loop
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentSortedLongPairSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentSortedLongPairSetTest.java
Labels: type/bug, component/broker, no-need-doc, release/2.8.3, release/2.9.2

#13689 [Issue 13688][client] Fix send chunking message failed when encryption enabled
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client-messagecrypto-bc/src/main/java/org/apache/pulsar/client/impl/crypto/MessageCryptoBc.java
Labels: type/bug, no-need-doc, release/2.9.2

#13699 [Client] Fix send chunking message failed when ordering key is set.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, no-need-doc, release/2.8.3, release/2.9.2

#12919 [Broker] Change create topic return error to Status.BAD_REQUEST
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: no-need-doc, release/2.9.2

#13685 [Issuse 13640][broker] Fix non persistent topic subscription error.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoSubscriptionCreationTest.java
Labels: type/bug, no-need-doc, release/2.8.3, release/2.9.2

#13678 release old bundle from ownership cache when operator split bundle
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: type/bug, no-need-doc, release/2.9.2

#13762 fix(website): missing connectors on download page
  site2/website-next/data/connectors.js
  site2/website/data/connectors.js
Labels: doc

#13789 [Build] Upgrade maven-compiler-plugin to 3.9.0
  pom.xml
Labels: component/build, no-need-doc

#11353 [Issue #11348][pulsar-broker] Fix can not get leader broker in follower brokers
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMultiBrokersTest.java
Labels: no-need-doc

#11325 support broker level dispatch rate limiter
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
Labels: doc-required

#13799 Fix mutex name in comment out
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: no-need-doc, release/2.10.0

#13048 [Functions] Override inactive_topic_policies in Pulsar Functions namespace creation
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
Labels: no-need-doc

#12782 [SpotBugs][pulsar-io]Enable spotbugs for pulsar-io-hdfs2 and pulsar-io-hdfs3
  pulsar-io/hdfs2/pom.xml
  pulsar-io/hdfs2/src/main/resources/findbugsExclude.xml
  pulsar-io/hdfs3/pom.xml
  pulsar-io/hdfs3/src/main/resources/findbugsExclude.xml
Labels: no-need-doc

#13599 [PIP 131] Resolve produce chunk messages failed when topic level maxMessageSize is set
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: no-need-doc

#13802 [Doc] fix dead links in messaging chapter
  site2/docs/functions-worker.md
  site2/website-next/docs/concepts-messaging.md
  site2/website-next/versioned_docs/version-2.9.0/concepts-messaging.md
  site2/website-next/versioned_docs/version-2.9.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.9.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.9.1/concepts-messaging.md
Labels: doc

#13564 feat: add lua wireshark for pulsar
  wireshark/README.md
  wireshark/pulsar.lua
Labels: doc

#12030 Issue 12019 Fix flaky test ManagedLedgerTest.testMaximumRolloverTime
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: flaky-tests, no-need-doc, release/2.8.3

#12077 [Broker] Only store authentication data after authentication is complete
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/cleanup, no-need-doc

#12145 [pulsar-io] pass client builder if no service url provided to debezium connector
  pulsar-io/debezium/core/src/main/java/org/apache/pulsar/io/debezium/DebeziumSource.java
  pulsar-io/debezium/core/src/main/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistory.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumMySqlSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/PulsarDebeziumSourcesTest.java
Labels: type/bug, component/io, no-need-doc, release/2.8.3

#12439 [Issue 12271][Modernizer] Add Maven Modernizer plugin to pulsar-metadata module
  pulsar-metadata/pom.xml
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/PulsarZooKeeperClient.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClientTest.java
Labels: no-need-doc

#12515 [Authorization] Use AuthorizationService#grantPermissionAsync to gran…
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/security, no-need-doc

#13720 fix checkReplication NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: component/broker, no-need-doc

#13463 Revert "[Authorization] Converge authz of ns policies from super-user to tenant-administrator (#13157)"
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
Labels: component/broker, component/security, no-need-doc

#13814 [Doc] add workflow for Pulsar Documentation Development Life Cycle
  site2/README.md
  site2/docs/assets/DDLC.png
Labels: doc, workflow

#13816 [Branch 2.8] Fixed internal topic effect by InactiveTopicPolicy.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
Labels: cherry-picked/branch-2.8, release/2.8.3

#13812 [Proxy] Prevent leak of unreleased lookupRequestSemaphore permits
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
Labels: component/proxy, no-need-doc, release/2.8.3, release/2.9.3

#13569 [Doc] add explanations for REST API (function/source/sink)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourcesBase.java
  site2/website/package.json
Labels: doc

#12037 [Client] Support passing existing executor providers to the client
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
Labels: component/client

#13790 Enable checkStyle plugin in pulsar-testclient module
  pulsar-testclient/pom.xml
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/SimpleTestProducerSocket.java
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/package-info.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/BrokerMonitor.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdGenerateDocumentation.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/DefaultMessageFormatter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationController.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerfClientUtils.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/package-info.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/utils/FixedColumnLengthTableMaker.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/utils/package-info.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceTransactionTest.java
Labels: no-need-doc

#13826 [Flaky-test] RGUsageMTAggrWaitForAllMsgsTest. testMTProduceConsumeRGUsageNonPersistentTopicNamesDifferentTenant
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMsgsTest.java
Labels: flaky-tests, no-need-doc

#13817 Improve file URI/URL handling in broker, client and functions code
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/utils/AuthTokenUtils.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenOauth2AuthenticatedProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/DefaultCryptoKeyReader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/ClientCredentialsFlow.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/auth/AuthenticationTokenTest.java
  pulsar-common/src/main/java/org/apache/pulsar/client/api/url/URL.java
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarClassLoader.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
Labels: no-need-doc

#13769 [broker] Optimize deduplicationSnapshotIntervalSeconds with HierarchyTopicPolicies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/TopicDuplicationTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/HierarchyTopicPolicies.java
Labels: component/topic-policy, no-need-doc

#13641 bundle metrics would overwrite loadbalance metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  site2/docs/reference-metrics.md
Labels: component/broker, doc-required, component/metrics

#13578 DeduplicationSnapshotIntervalSeconds support cross multiple clusters
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTopicPoliciesTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/DeprecatedCommanderTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/topic-policy, no-need-doc

#13543 [Broker] Other old values are still valid when updating resource group
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ResourceGroupsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupPublishLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/ResourceGroupsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMsgsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigListenerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupUsageAggregationTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ResourceGroup.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdResourceGroups.java
Labels: component/admin, release/note-required, no-need-doc

#13836 [Proxy] Remove unnecessary Pulsar Client usage from Pulsar Proxy
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
Labels: component/client, type/performance, component/proxy, no-need-doc

#13810 Remove --illegal-access errors resulting from Google Guice (upgrade to 5.0.1 and JClouds to 2.4.0)
  pom.xml
  pulsar-io/data-generator/pom.xml
  tiered-storage/jcloud/pom.xml
Labels: no-need-doc

#13829 [Doc] add descriptions for dispatchThrottlingRate related configuration
  site2/docs/reference-configuration.md
  site2/website-next/docs/reference-configuration.md
Labels: doc

#13644 Rename test file name from `*Test2.java` to `*Test.java` to run all tests correctly
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApi2Test.java
Labels: no-need-doc

#13840 [Branch-2.9] Fix SystemTopicBasedTopicPoliciesService NPE issue.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
Labels: release/2.9.2

#13771 [broker] Fix topic produced through REST not support Authorization
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/TopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicsAuthTest.java
Labels: no-need-doc, release/2.9.2

#13815 fix(conf): update OffloadDriver values hint in broker conf
  conf/broker.conf
Labels: no-need-doc

#13819 Getting rid of CVEs brought in with aerospike
  pom.xml
Labels: no-need-doc

#13820 Getting rid of CVEs in batch-data-generator
  pom.xml
  pulsar-io/batch-data-generator/pom.xml
Labels: no-need-doc

#13821 Getting rid of CVEs in InfluxDB connector
  pulsar-io/influxdb/pom.xml
Labels: no-need-doc

#13822 Getting rid of CVEs in Solr connector
  pulsar-io/solr/pom.xml
Labels: no-need-doc

#13800 [Pulsar IO] ElasticSearch Sink: support Fixed and ENUM datatypes
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/JsonConverter.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/JsonConverterTests.java
Labels: no-need-doc

#13837 [Broker] Avoid thread deadlock problem when creating topic policy reader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/PartitionedSystemTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RetryUtilTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/RetryUtil.java
Labels: component/topic-policy, no-need-doc, release/2.8.3, release/2.9.2

#13747 Upgraded ElasticSearch to get rid of CVEs.
  pom.xml
  pulsar-io/elastic-search/pom.xml
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/RandomExponentialBackoffPolicy.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientSslTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkRawDataTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/testcontainers/ChaosContainer.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/testcontainers/ElasticToxiproxiContainer.java
Labels: no-need-doc

#13848 Remove unnecessary documentation of pulsar-dashboard
  docker-compose/standalone-dashboard/README.MD
  docker-compose/standalone-dashboard/docker-compose.yml
  site2/docs/administration-dashboard.md
  site2/website-next/docs/administration-dashboard.md
Labels: doc, type/cleanup, component/dashboard

#13839 [Broker] Use shared executors for broker and geo-replication clients
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: type/performance, component/broker, no-need-doc

#13862 Revert "Upgraded ElasticSearch to get rid of CVEs. (#13747)"
  pom.xml
  pulsar-io/elastic-search/pom.xml
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/RandomExponentialBackoffPolicy.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientSslTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkRawDataTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/testcontainers/ChaosContainer.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/testcontainers/ElasticToxiproxiContainer.java
Labels: no-need-doc

#13838 [DOCS] Update Messaging doc
  site2/docs/concepts-messaging.md
Labels: doc
