Repository apache/pulsar, pull requests merged in 2022-08, with the labels that each got.

#16621 [improve][rest] Add lookup REST API swagger config.
  pulsar-broker/pom.xml
Labels: doc-not-needed

#16279 [refactor][function][PIP-166] Function add MANUAL delivery semantics
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/functions/WindowConfig.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-function-go/conf/conf.go
  pulsar-function-go/pb/Function.pb.go
  pulsar-function-go/pb/generate.sh
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/instanceConf.go
  pulsar-function-go/pf/instanceConf_test.go
  pulsar-function-go/pf/instance_test.go
  pulsar-function-go/pf/stats.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarFunctionRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutor.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/windowing/WindowManager.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarFunctionRecordTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/windowing/WindowFunctionExecutorTest.java
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  site2/docs/functions-cli.md
  site2/docs/functions-concepts.md
Labels: doc, type/feature, component/function

#16315 [fix](doc): incorrect tls config in java client doc
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-java.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-java.md
  site2/website/versioned_docs/version-2.10.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.10.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.2.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.2.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.3.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.4/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.9.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.9.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.9.2/client-libraries-java.md
Labels: doc

#16848 [Branch 2.7] Fix validateGlobalNamespaceOwnership wrap exception issue.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: release/2.7.5

#16880 [fix][flaky-test] Delete assert availablePermits on testmulitiConsumeImpl
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/DynamicReceiverQueueSizeTest.java
Labels: flaky-tests, doc-not-needed

#16889 [Branch-2.7] Fixed deadlock on metadata cache missing while doing checkReplication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/bug, component/broker, release/2.7.5

#16881 [improve][broker][PIP-149]make some police methods async in Namespaces
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: type/improvement, component/admin, doc-not-needed

#16743 [fix][broker]avoid the bestBroker choice broker exceed candidates when selectBroker in LeastResourceUsageWithWeight
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LeastResourceUsageWithWeight.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerStrategyTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2, release/2.9.4

#16573 [fix][broker]fix the zero value as denominator cause ArithmeticException when selectBroker use LeastResourceUsageWithWeight
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LeastResourceUsageWithWeight.java
Labels: type/bug, component/broker, doc-not-needed

#16894 [Branch 2.7][fix][proxy] Fix client service url
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConnectionTest.java
Labels: release/2.7.5

#16892 [improve][authentication][branch-2.7] Support for get token from HTTP params
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataHttps.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
Labels: release/2.7.5

#16893 [Branch 2.7] upgrade aircompressor to 0.20
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: release/2.7.5

#16838 [fix][broker] Fix misleading -c option in pulsar standalone
  bin/pulsar
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandaloneStarter.java
Labels: type/bug, component/broker

#16867 [branch-2.8][improve][broker] Avoid reconnection when a partitioned topic was created concurrently (#16043)
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TopicResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/SystemTopicNames.java
Labels: release/2.8.4

#16785 [fix][connector]IOConfigUtils support required and defaultValue annotations.
  pulsar-io/common/src/main/java/org/apache/pulsar/io/common/IOConfigUtils.java
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
Labels: type/bug, component/connector, doc-label-missing, release/2.10.2

#16309 [fix][broker] Fix etcd cluster error and add test for etcd cluster
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/EtcdMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/EtcdMetadataStoreTest.java
Labels: doc-not-needed

#16819 [improve][broker] Split TLS transport encryption support from authentication
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/AdminApiKeyStoreTlsAuthTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/PulsarAdminBuilder.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
Labels: type/improvement, component/broker, doc-required

#16326 [branch-2.7][fix][broker] Fix create client with TLS config
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker, release/2.7.5

#16659 [schema][client][improve] Add decode InputStream for Schema
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AbstractStructSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoConsumeSchema.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: type/improvement, doc-not-needed, component/schema

#16202 [feature][broker] PIP 37: Support chunking with Shared subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryAndMetadata.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSender.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSenderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SharedConsumerAssignor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SharedConsumerAssignorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingSharedTest.java
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/feature, component/broker, PIP, doc-not-needed

#16572 [improve][doc]add more explanation for retention configuration
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: doc

#16840 [fix][broker][branch-2.8] Fix passing incorrect authentication data (#16201)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: release/2.8.4

#16869 [branch-2.8][improve][broker] Recycle OpReadEntry in some corner cases (#16399)
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: release/2.8.4

#16831 [branch-2.8][fix][security] Add timeout of sync methods and avoid call sync method for AuthoriationService (#15694)
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TenantResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: release/2.8.4

#16884 [fix][broker] Upgrade log4j2 version to 2.18.0
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/secrets/src/test/java/org/apache/pulsar/functions/secretsprovider/EnvironmentBasedSecretsProviderTest.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestEnvVarResolverProperties.java
Labels: component/security, doc-not-needed, release/2.7.5, release/2.8.4, dependencies, release/2.10.2, release/2.9.4

#16715 [feature][client] PIP-184: Topic specific consumer priorityLevel
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TopicConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/TopicConsumerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicConsumerBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationDataTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/TopicConsumerConfigurationDataTest.java
  site2/docs/client-libraries-java.md
Labels: doc, type/feature, component/client-java

#16914 [branch-2.8][fix][broker] Upgrade log4j2 version to 2.18.0 (#16884)
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/secrets/src/test/java/org/apache/pulsar/functions/secretsprovider/EnvironmentBasedSecretsProviderTest.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestEnvVarResolverProperties.java
Labels: release/2.8.4

#16899 [Branch 2.7] Avoid potentially blocking calls to metadata in PersistentTopic#getMessageTTL
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: release/2.7.5

#16845 [Branch 2.7] Fix invalid rack name cause bookie join rack failed
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBookies.java
  pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMapping.java
  pulsar-zookeeper-utils/src/test/java/org/apache/pulsar/zookeeper/ZkBookieRackAffinityMappingTest.java
Labels: release/2.7.5

#16850 [Branch 2.7] Validate rack name
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Bookies.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BookiesApiTest.java
Labels: release/2.7.5

#16887 [fix][client-c++] Close `messages_` when PartitionedConsumer is closed
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/tests/ConsumerTest.cc
Labels: type/bug, component/client-c++, doc-not-needed, release/2.8.4, release/2.10.2, release/2.9.4

#16847 [improve][broker] Support start multiple bookies for BKCluster
  pulsar-broker/src/test/java/org/apache/pulsar/broker/EndToEndMetadataTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/BKCluster.java
Labels: component/broker, doc-not-needed

#16872 [fix][flaky-test]: PulsarFunctionLocalRunTest.testE2EPulsarFunctionLocalRunMultipleInstances
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4

#16878 [fix][flaky-test]ManagedCursorMetricsTest.testManagedCursorMetrics
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedCursorMetricsTest.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4

#16915 [fix][client]Fix MaxQueueSize semaphore release leak in createOpSendMsg
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
Labels: type/bug, component/client, release/2.7.5, release/2.8.4, release/2.10.2, release/2.9.4

#16857 [fix][broker] PulsarLedgerManager to pass correct error code to BK client
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarLedgerManager.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2

#16697 [fix][function] Fix python instance not process zip file correctly
  pulsar-functions/instance/src/main/python/python_instance_main.py
Labels: doc-not-needed, release/2.7.5, release/2.8.4, release/2.10.2, release/2.9.4

#16747 [improve][functions] Missing assertion in KubernetesRuntimeTest::verifyJavaInstance
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4

#16526 [improve][authentication] Improve get the basic authentication config
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasic.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasicTest.java
  pulsar-broker-common/src/test/resources/authentication/basic/.htpasswd
Labels: type/improvement, component/security, doc-required, component/authentication, release/2.10.2

#16866 [broker][monitoring][fix] fix `pulsar_subscription_msg_ack_rate`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: release/2.9.4

#16927 [improve][txn] change delete pending ack position from foreach to firstKey
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
Labels: type/improvement, component/transaction, doc-not-needed

#16935 [improve][authentication] Adapt basic authentication configuration with prefix
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasic.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasicTest.java
Labels: doc-required, release/2.7.5, release/2.8.4, release/2.10.2, release/2.9.4

#16918 [Branch-2.8][Cherry-pick] Fix compaction subscription acknowledge Marker msg issue.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: release/2.8.4

#16900 [improve][test] Verify the authentication data in the authorization provider
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationWithAuthDataTest.java
Labels: doc-not-needed, release/2.7.5, release/2.8.4, release/2.10.2, release/2.9.4

#16926 [doc][monitoring][admin] Add doc for filteredMsgCount
  site2/docs/admin-api-topics.md
Labels: doc, component/admin

#16833 [improve][proxy] Add TLS transport encryption for broker client
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyMutualTlsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
Labels: doc-required

#16930 [improve][cli] Add a separate TLS transport encryption configuration
  conf/client.conf
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
Labels: release/2.11.0

#16942 [Branch 2.7][fix][broker] Upgrade log4j2 version to 2.18.0 (#16884)
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/secrets/src/test/java/org/apache/pulsar/functions/secretsprovider/EnvironmentBasedSecretsProviderTest.java
  pulsar-io/flume/src/test/java/org/apache/pulsar/io/flume/node/TestEnvVarResolverProperties.java
Labels: release/2.7.5

#16945 [improve][test][branch-2.7] Verify the authentication data in the authorization provider
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationWithAuthDataTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: release/2.7.5

#15822 [improve][cpp-client] Add basic authentication
  pulsar-client-cpp/include/pulsar/Authentication.h
  pulsar-client-cpp/include/pulsar/c/authentication.h
  pulsar-client-cpp/lib/Authentication.cc
  pulsar-client-cpp/lib/auth/AuthBasic.cc
  pulsar-client-cpp/lib/auth/AuthBasic.h
  pulsar-client-cpp/pulsar-test-service-start.sh
  pulsar-client-cpp/test-conf/.htpasswd
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/tests/AuthBasicTest.cc
Labels: type/feature, component/client-c++, doc-required

#16797 [fix][client] Remove redundant check for chunked message TotalChunkMsgSize in ConsumerImpl
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, component/client-java, doc-not-needed, release/2.8.4, release/2.10.2, release/2.9.4

#16961 [improve][pulsar-client-tool] Add tlsTrustCertFilePath as CLI argument for pulsar-client-tool
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
Labels: component/tool, doc-not-needed

#16957 [Branch-2.7][fix][client] Fix MaxQueueSize semaphore release leak in createOpSendMsg.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
Labels: type/bug, release/2.7.5

#16947 [improve][authentication][branch-2.7] Improve get the basic authentication config
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasic.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasicTest.java
  pulsar-broker-common/src/test/resources/authentication/basic/.htpasswd
  pulsar-common/src/main/java/org/apache/pulsar/client/api/url/URL.java
Labels: release/2.7.5

#16964 [cleanup][transaction] Add Maven Modernizer plugin in pulsar-transaction
  pulsar-transaction/common/pom.xml
  pulsar-transaction/coordinator/pom.xml
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionSubscription.java
Labels: doc-not-needed

#16941 [improve][doc] Add more configuration methods for basic authentication
  site2/docs/security-basic-auth.md
Labels: doc, release/2.7.5, release/2.10.2, release/2.9.4, release/2.8.5

#16966 [Branch 2.7][Fix][broker] Fix NPE when ledger id not found in `OpReadEntry` (#15837)
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: release/2.7.5

#16916 [Improve][Broker]Reduce PartitionedStats local REST call
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: type/improvement, component/admin, doc-label-missing

#16885 [fix][cookbooks-compaction][docs] - Updated consumer config section
  site2/docs/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.1.0-incubating/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.1.1-incubating/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.10.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.10.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.2.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.2.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.3.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.3.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.3.2/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.4.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.4.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.4.2/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.5.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.5.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.5.2/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.6.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.6.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.6.2/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.6.3/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.6.4/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.7.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.7.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.7.2/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.7.3/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.7.4/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.8.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.8.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.8.2/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.8.3/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.9.0/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.9.1/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.9.2/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.9.3/cookbooks-compaction.md
Labels: doc

#16953 [fix][broker]Fix ConcurrentModificationException when ModularLoadManagerImpl start
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: flaky-tests, doc-not-needed

#16971 [Branch-2.9][fix][client] Fix client memory limit currentUsage leak and semaphore release duplicated in ProducerImpl.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerMemoryLimitTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: release/2.9.4

#16967 [improve][tool] Able to set maxLookupRequest for pulsar-perf
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerfClientUtils.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceBaseArguments.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerfClientUtilsTest.java
Labels: type/improvement, component/tool, doc-not-needed

#16897 [fix][doc] Fix 404 in security-tls-transport.md
  site2/docs/security-tls-transport.md
  site2/website/versioned_docs/version-2.10.1/security-tls-transport.md
Labels: doc

#16778 [Branch-2.10][Cherry-pick] tidy update subscriptions dispatcher rate-limiter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PrecisTopicPublishRateThrottleTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscribeRateTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SubscribeRate.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/HierarchyTopicPolicies.java
Labels: doc-not-needed

#16976 [doc][broker][monitoring] Add doc for per-subscription EntryFilter metrics
  site2/docs/admin-api-topics.md
  site2/docs/reference-metrics.md
Labels: doc

#16939 [feature][function] add the ability to customize logging level for Go & Python functions
  pulsar-function-go/logutil/log.go
  pulsar-functions/instance/src/main/python/log.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
Labels: type/improvement, component/function, doc-required

#16982 [fix][flaky-test]ManagedCursorMetricsTest timeout
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/impl/TxnLogBufferedWriterTest.java
Labels: flaky-tests

#16934 Add packages-storage folder to gitignore
  .gitignore
Labels: doc-not-needed

#16377 [refactor][java-client] Reduce code duplication in admin client
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BookiesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokerStatsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ClustersImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/LookupImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NonPersistentTopicsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PackagesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ResourceGroupsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ResourceQuotasImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SchemasImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TenantsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicPoliciesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
Labels: type/cleanup, component/admin, doc-not-needed

#16322 [doc] Fix the documents for the config `advertisedAddress`
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  deployment/terraform-ansible/templates/proxy.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-client-cpp/test-conf/standalone-ssl.conf
  pulsar-client-cpp/test-conf/standalone.conf
  pulsar-client-cpp/tests/authentication.conf
  pulsar-client-cpp/tests/standalone.conf
  pulsar-proxy/src/test/resources/proxy.conf
  site2/docs/reference-configuration-broker.md
  site2/docs/reference-configuration-standalone.md
Labels: doc, merge-delayed-by-flaky-tests

#16363 [Improvement][MLedger]Modernizer managed ledger
  managed-ledger/pom.xml
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/LedgerMetadataUtils.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainer.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapper.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheDefaultEvictionPolicy.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheDisabled.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheManagerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloadUtils.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/SimpleBookKeeperTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorConcurrencyTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorIndividualDeletedMessagesTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorListAckTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryChangeLedgerPathTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerSingleBookieTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixReadTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapperTest.java
Labels: type/improvement, component/broker, doc-not-needed

#16771 [improve][broker] Optimise msgOutCounter and bytesOutCounter (#16214) (#16286)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumerTest.java
Labels: release/2.9.4

#16968 Prevent `StackOverFlowException` in SHARED subscription.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: doc-not-needed, release/2.10.2, release/2.9.4, release/2.8.5

#16958 [Branch-2.9][fix][client] Fix MaxQueueSize semaphore release leak in createOpSendMsg.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
Labels: cherry-picked/branch-2.9, release/2.9.4

#16924 [improve][doc] Improve TLS transport encryption and authentication
  site2/docs/security-tls-authentication.md
  site2/docs/security-tls-keystore.md
  site2/docs/security-tls-transport.md
Labels: doc, release/2.11.0

#16981 [Fix][Flaky-test] Fix testConsumeTxnMessage
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceTransactionTest.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.11.1

#16962 Add Reporting Vulnerabilities section to Security Policy
  SECURITY.md
  site2/docs/security-policy-and-supported-versions.md
Labels: doc

#16983 [improve][broker]Remove unnecessary lock on the stats thread
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: type/improvement, component/broker, release/2.10.2

#16255 [client][python] getLastMessageIdAsync C binding
  pulsar-client-cpp/README.md
  pulsar-client-cpp/include/pulsar/c/consumer.h
  pulsar-client-cpp/lib/c/c_Consumer.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/consumer.cc
Labels: doc, component/client-python

#16920 [fix][flaky-test] ElasticSearchClientTests.testBulkBlocking
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientTests.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4

#16902 [improve][repo] Tidy issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/doc-request.yml
  .github/ISSUE_TEMPLATE/doc_request.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/enhancement_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/flaky-test.yml
  .github/ISSUE_TEMPLATE/flaky_test.md
  .github/ISSUE_TEMPLATE/pip.md
  .github/ISSUE_TEMPLATE/pip.yml
Labels: doc-not-needed

#16987 [improve][authentication][branch-2.9] Support for get token from HTTP params
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataHttps.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
Labels: release/2.9.4

#17002 Update .asf.yaml to protect branch-2.11
  .asf.yaml
Labels: component/build, doc-not-needed

#17005 [improve][test] Avoid hacky modify static final field
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactoryTest.java
Labels: doc-not-needed, release/2.10.2

#16996 [fix][broker] Fix memory leak if entry exists in cache
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
Labels: component/broker, release/blocker, doc-not-needed

#17013 [fix][rest] Fix swagger shows lookup API path error.
  pulsar-broker/pom.xml
Labels: doc

#17025 [fix][broker] remove exception log when access status.html
  pulsar-broker-common/src/main/java/org/apache/pulsar/common/configuration/VipStatus.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2, release/2.9.4

#17000 [branch-2.10][cherry-pick] Fix topic dispatch rate limiter not init on broker-level #16084
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicDispatchRateLimiterTest.java
Labels: doc-not-needed, release/2.10.2

#16540 [test]Fix Flaky-test: BrokerServiceTest.testLookupThrottlingForClientByClient
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: flaky-tests, doc-not-needed

#16937 [fix][load-balancer] skip mis-configured resource usage(>100%) in load balancer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LeastResourceUsageWithWeight.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedderTest.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
Labels: doc-not-needed

#17038 [feat][ci] Add flaky test issues and PRs to flaky test project
  .github/workflows/project-flaky-test.yml
Labels: doc-not-needed

#17019 [fix][client] Release semaphore before discarding messages in batchMessageContainer
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, component/client, release/2.10.2, release/2.9.4, release/2.8.5

#17006 [improve][admin] Not allow to terminate system topic.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: type/improvement, component/admin, doc-not-needed

#16988 [improve][ci] Skip unnecessary tests when there are only cpp/python related changes
  .github/changes-filter.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed

#16365 Improve the package download process
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/PackagesApiNotEnabledTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/PackagesApiTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PackagesImpl.java
Labels: type/improvement, component/package, doc-not-needed, release/2.10.2, release/2.9.4

#17039 [docs] Clarify security vulnerability process and reporting
  README.md
  SECURITY.md
  site2/docs/security-policy-and-supported-versions.md
  site2/website/versioned_docs/version-2.10.0/security-policy-and-supported-versions.md
  site2/website/versioned_docs/version-2.10.1/security-policy-and-supported-versions.md
Labels: doc

#17043 [fix][broker] Increment topic stats outbound message counters and update rate after messages have been written to the TCP/IP connection
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.1

#17036 [clean][broker] remove unused code
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: type/cleanup, component/broker, doc-not-needed

#16999 [fix][flaky-test]TxnLogBufferedWriterTest.testMainProcess
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/impl/TxnLogBufferedWriterTest.java
Labels: flaky-tests, doc-not-needed

#17030 Fix default value of logSizeLimit
  site2/docs/reference-configuration-bookkeeper.md
  site2/website/versioned_docs/version-2.1.0-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.1.1-incubating/reference-configuration.md
  site2/website/versioned_docs/version-2.10.0/reference-configuration.md
  site2/website/versioned_docs/version-2.10.1/reference-configuration.md
  site2/website/versioned_docs/version-2.2.0/reference-configuration.md
  site2/website/versioned_docs/version-2.2.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.0/reference-configuration.md
  site2/website/versioned_docs/version-2.3.1/reference-configuration.md
  site2/website/versioned_docs/version-2.3.2/reference-configuration.md
  site2/website/versioned_docs/version-2.4.0/reference-configuration.md
  site2/website/versioned_docs/version-2.4.1/reference-configuration.md
  site2/website/versioned_docs/version-2.4.2/reference-configuration.md
  site2/website/versioned_docs/version-2.5.0/reference-configuration.md
  site2/website/versioned_docs/version-2.5.1/reference-configuration.md
  site2/website/versioned_docs/version-2.5.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.0/reference-configuration.md
  site2/website/versioned_docs/version-2.6.1/reference-configuration.md
  site2/website/versioned_docs/version-2.6.2/reference-configuration.md
  site2/website/versioned_docs/version-2.6.3/reference-configuration.md
  site2/website/versioned_docs/version-2.6.4/reference-configuration.md
  site2/website/versioned_docs/version-2.7.0/reference-configuration.md
  site2/website/versioned_docs/version-2.7.1/reference-configuration.md
  site2/website/versioned_docs/version-2.7.2/reference-configuration.md
  site2/website/versioned_docs/version-2.7.3/reference-configuration.md
  site2/website/versioned_docs/version-2.7.4/reference-configuration.md
  site2/website/versioned_docs/version-2.8.0/reference-configuration.md
  site2/website/versioned_docs/version-2.8.1/reference-configuration.md
  site2/website/versioned_docs/version-2.8.2/reference-configuration.md
  site2/website/versioned_docs/version-2.8.3/reference-configuration.md
  site2/website/versioned_docs/version-2.9.0/reference-configuration.md
  site2/website/versioned_docs/version-2.9.1/reference-configuration.md
  site2/website/versioned_docs/version-2.9.2/reference-configuration.md
  site2/website/versioned_docs/version-2.9.3/reference-configuration.md
Labels: doc

#17054 [fix][test] Stop worker services when tearing down PulsarFunctionTlsTest
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
Labels: type/bug, component/test, doc-not-needed

#17020 [fix][tiered-storage] move the state check forward
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: type/bug, release/2.10.2

#17058 [imp][java client] lastBatchSendNanoTime initialization
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/improvement, component/client-java, doc-not-needed

#15140 [monitor][txn] Add metrics for transaction
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferClientImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferClientStatsImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferDisable.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckHandleStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleStatsImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
Labels: component/transaction, doc-required, component/metrics, lifecycle/stale

#17053 [branch-2.10][fix][broker]Prevent StackOverFlowException in SHARED subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2

#16960 [fix][doc] Fix issues in documentation of topic-pattern parameter
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  site2/docs/io-cli.md
Labels: doc

#17070 [fix][flaky-test]AdminApi2Test.testDeleteTenant
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: flaky-tests, doc-not-needed

#17045 [fix][flaky-test]ManagedCursorMetricsTest.testCursorReadWriteMetrics
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedCursorMetricsTest.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4

#17066 [security] bump PostgreSQL version
  pom.xml
Labels: doc-not-needed, dependencies, release/2.10.2, release/2.9.4, release/2.11.1

#17003 [fix][broker] fix broker unackmessages number reduce error
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2, release/2.9.4

#16986 [improve][authentication][branch-2.10] Support for get token from HTTP params
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationDataHttps.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTokenTest.java
Labels: doc-label-missing, release/2.10.2

#16940 [improve][client-c++] Use an atomic `state_` instead of the lock to improve performance
  pulsar-client-cpp/lib/ConsumerImpl.cc
  pulsar-client-cpp/lib/HandlerBase.cc
  pulsar-client-cpp/lib/HandlerBase.h
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/lib/PartitionedConsumerImpl.cc
  pulsar-client-cpp/lib/PartitionedConsumerImpl.h
  pulsar-client-cpp/lib/PatternMultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
Labels: type/improvement, component/client-c++, doc-not-needed

#17083 test: print detail failure for testDeleteTopicAndSchemaForV1
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: component/test, doc-not-needed

#17079 [improve][c++] Add producerId to the log of closed producer
  pulsar-client-cpp/lib/ProducerImpl.cc
Labels: type/improvement, component/client-c++, doc-not-needed

#17056 [fix][ML] Fix offload read handle NPE.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerException.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReader.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImplV2.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: type/bug, doc-not-needed, release/2.10.2, release/2.9.4, release/2.8.5

#16965 [improve][broker] Improve naming for delete topic error
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: type/improvement, component/broker, doc-not-needed

#17033 [improve][admin] Unset namespace policy to improve deleting namespace.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: type/improvement, component/admin, doc-not-needed

#16562 [fix][flaky-test] testSplitBundleForMultiTimes
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4, cherry-picked/branch-2.11

#17064 [fix][C++ client] Fix rpm and deb packaging
  .github/workflows/ci-cpp-deb-pkg.yaml
  .github/workflows/ci-cpp-rpm-pkg.yaml
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/deb/build-deb.sh
  pulsar-client-cpp/pkg/deb/build-docker-image.sh
  pulsar-client-cpp/pkg/deb/docker-build-deb.sh
  pulsar-client-cpp/pkg/rpm/Dockerfile
  pulsar-client-cpp/pkg/rpm/build-docker-image.sh
  pulsar-client-cpp/pkg/rpm/docker-build-rpm.sh
Labels: component/client-c++, component/build, release/blocker, doc-not-needed

#16932 [broker][monitoring] add per-subscription EntryFilter metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedSubscriptionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
Labels: doc-required, component/metrics

#17095 fix: bundle-data metadata leak because of bundlestats was not clean
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: doc-not-needed, release/2.10.2, release/2.9.4

#17105 [fix][broker] Duplicate ByteBuffer when Caching Backlogged Consumers
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheTest.java
Labels: component/broker, release/blocker, doc-not-needed

#17057 [fix][doc]Fix fileSystemProfilePath wrong default value
  conf/broker.conf
  site2/docs/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.10.0/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.10.1/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.0/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.1/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.2/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.3/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.7.4/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.8.0/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.8.1/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.8.2/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.8.3/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.9.0/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.9.1/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.9.2/tiered-storage-filesystem.md
Labels: doc

#16472 [cleanup][functions] Remove unused code
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: type/cleanup, component/function, doc-not-needed

#15767 [pulsar-broker] Change dispatcher blocked/unblocked log level to debug
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
Labels: type/cleanup, doc-not-needed

#17108 [imp][managed-ledger] Optimize getting ledger and entry id from entry
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/improvement, component/broker, doc-not-needed

#17046 [fix][broker] Fix calculate avg message per entry
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/plugin/EntryFilterProducerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2, release/2.9.4, release/2.8.5

#17106 [fix][flaky-test]LedgerOffloaderMetricsTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/LedgerOffloaderMetricsTest.java
Labels: flaky-tests, doc-not-needed, release/2.11.1

#16408 [fix][broker] Support loadBalancerSheddingIntervalMinutes dynamic configuration
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadSheddingTask.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2, release/2.11.1

#17049 [fix][broker] Fix schema does not replicate successfully
  build/run_unit_group.sh
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaHash.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.1

#17051 [Fix][Client] Fixed cnx channel Inactive causing the request fail to time out and fail to return
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: type/bug, component/client-java, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.1

#17004 [fix][doc] Fix wrong description of `pulsar.allocator.leak_detection` and remove 'Client memory allocator configuration' section from the old version doc
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-java.md
  site2/website/versioned_docs/version-2.10.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.10.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.2.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.3.2/client-libraries-java.md
Labels: doc

#17099 [fix][doc] correct configuration name to exposingBrokerEntryMetadataToClientEnabled
  site2/docs/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.1.1-incubating/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.10.0/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.10.1/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.10.x/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.2.1/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.3.0/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.3.1/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.3.2/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.4.1/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.4.2/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.5.0/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.8.x/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.9.x/developing-binary-protocol.md
Labels: doc

#17104 [fix][flaky-test] Fix DefaultMessageFormatter.formatMessage
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/DefaultMessageFormatter.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/TestDefaultMessageFormatter.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.1

#17143 [fix][broker] Streaming dispatcher stuck after reading the first entry with SHARED subscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
Labels: release/blocker, release/2.11.0

#17123 [fix][broker] Pass subscriptionName to auth service
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/broker, doc-not-needed, release/2.10.2, release/2.9.4, release/2.8.5

#17159 [fix][flaky-test]BrokerInterceptorTest.testProducerCreation
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorTest.java
Labels: doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.1

#17093 [fix][test][sql]Fix presto sql avro decode error when publish non-batched msgs
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/RawMessageImpl.java
  pulsar-common/src/test/java/org/apache/pulsar/common/api/raw/RawMessageImplTest.java
Labels: type/bug, component/sql, doc-not-needed, release/2.10.2, release/2.9.4, release/2.8.5, release/2.11.1

#17116 [fix][flaky-test]ConsumedLedgersTrimTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumedLedgersTrimTest.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.1

#17118 [fix][functions] Make mandatory to provide a schema in Context::newOutputRecordBuilder
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/utils/FunctionRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/RecordFunction.java
Labels: component/function, release/blocker, doc-not-needed

#16993 [cleanup][broker] Add Maven Modernizer plugin in pulsar-broker and fix violation in `test: broker/admin`
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiClusterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiDelayedDelivery.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiHealthCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMaxUnackedMessages.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaAutoUpdateTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaValidationEnforced.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaWithAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/IncrementPartitionsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/MaxUnackedMessagesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesV2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/ResourceGroupsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicMessageTTLTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
Labels: doc-not-needed

#17142 [fix][function] Use the schema set by the Function when it returns a Record
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/AbstractSinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/OutputRecordSinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/functions/RemoveAvroFieldRecordFunction.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/java/PulsarFunctionsJavaTest.java
Labels: component/function, doc-not-needed

#16172 [improve][doc] Functions doc improvements Phase2
  site2/docs/assets/function-count-based-tumbling-window.png
  site2/docs/assets/function-count-based-tumbling-window.svg
  site2/docs/assets/function-data-window.png
  site2/docs/assets/function-data-window.svg
  site2/docs/assets/function-sliding-window.png
  site2/docs/assets/function-sliding-window.svg
  site2/docs/assets/function-time-based-tumbling-window.png
  site2/docs/assets/function-time-based-tumbling-window.svg
  site2/docs/functions-cli.md
  site2/docs/functions-concepts.md
  site2/docs/functions-overview.md
  site2/docs/functions-runtime-process.md
  site2/docs/functions-runtime-thread.md
  site2/docs/io-overview.md
Labels: doc

#16843 [improve][doc] Add more concepts/tasks for bookie isolation
  site2/docs/administration-isolation-bookie.md
  site2/docs/administration-isolation-broker.md
  site2/docs/administration-isolation.md
  site2/docs/assets/admin-isolation.svg
  site2/docs/assets/rack-aware-placement-policy-1.svg
  site2/docs/assets/rack-aware-placement-policy-2.svg
  site2/docs/assets/rack-aware-placement-policy-3.svg
  site2/docs/assets/region-aware-placement-policy-1.svg
  site2/docs/assets/region-aware-placement-policy-2.svg
  site2/website/sidebars.json
Labels: doc

#16756 [fix][broker]optimize the shutdown sequence of broker service when it close
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker, doc-not-needed

#17084 [improve][broker]add ServerCnx state check before server handle request
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: type/improvement, component/broker, doc-not-needed

#17157 [fix][flaky-test]AdminApi2Test.testDeleteNamespace
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.1

#17176 Move Pulsar release related docs to codebase
  wiki/release/create-gpg-keys.md
  wiki/release/release-candidate-validation.md
  wiki/release/release-process.md
Labels: doc

#17177 [fix][test] Fix CI build error
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/functions/RemoveAvroFieldRecordFunction.java
Labels: doc-not-needed, cherry-picked/branch-2.11

#17168 [chore][test] Check LineLength only for Java files
  buildtools/src/main/resources/pulsar/checkstyle.xml
Labels: doc-not-needed
