Repository apache/pulsar, pull requests merged in 2022-06, with the labels that each got.

#15820 [fix][broker] Fix NPE in MessageDeduplication.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
Labels: component/broker, doc-not-needed, release/2.9.3, release/2.8.4, release/2.10.1

#15872 [feature][website] api generate script
  site2/website/api.sh
Labels: doc-not-needed

#15866 [Tests] Fix resource leaks in Pulsar IO integration tests
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/PulsarIOTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/RabbitMQSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/RabbitMQSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/CassandraSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/ElasticSearchSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/HdfsSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/JdbcPostgresSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/KafkaSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/KinesisSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/OpenSearchSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/SinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/KafkaSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/SourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumMongoDbSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumMsSqlSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumMySqlSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumOracleDbSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumPostgreSqlSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/PulsarIODebeziumSourceRunner.java
Labels: flaky-tests, doc-not-needed

#15824 Switch to rely on Netty for Hostname Verification
  bouncy-castle/bcfips-include-test/src/test/resources/authentication/tls/broker-cert.pem
  bouncy-castle/bcfips-include-test/src/test/resources/authentication/tls/cacert.pem
  bouncy-castle/bcfips-include-test/src/test/resources/authentication/tls/client-cert.pem
  build/regenerate_certs_for_tests.sh
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/NettyClientSslContextRefresher.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ServiceChannelInitializer.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/broker-cacert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/broker-cert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/client-cacert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/client-cert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/proxy-cacert.pem
  pulsar-proxy/src/test/resources/authentication/tls/ProxyWithAuthorizationTest/proxy-cert.pem
  pulsar-proxy/src/test/resources/authentication/tls/cacert.pem
  pulsar-proxy/src/test/resources/authentication/tls/client-cert.pem
  pulsar-proxy/src/test/resources/authentication/tls/server-cert.pem
Labels: component/proxy, component/security, component/client-java, doc-not-needed, type/refactor

#15873 [feature][website]update preview scripts
  site2/website/api.sh
  site2/website/start.sh
Labels: doc-not-needed

#15818 Configure DLog Bookie, Pulsar, and Admin clients via pass through config
  conf/broker.conf
  conf/functions_worker.yml
  conf/proxy.conf
  conf/websocket.conf
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerInternalClientConfigurationOverrideTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarClientConfigurationOverrideTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyConfigurationTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/PulsarAdminBuilder.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/PropertiesUtils.java
  pulsar-functions/src/test/resources/test_worker_config.yml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerUtils.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/WorkerUtilsTest.java
  pulsar-package-management/bookkeeper-storage/src/main/java/org/apache/pulsar/packages/management/storage/bookkeeper/BookKeeperPackagesStorage.java
  pulsar-package-management/bookkeeper-storage/src/main/java/org/apache/pulsar/packages/management/storage/bookkeeper/BookKeeperPackagesStorageConfiguration.java
  pulsar-package-management/core/src/main/java/org/apache/pulsar/packages/management/core/PackagesStorageConfiguration.java
  pulsar-package-management/core/src/main/java/org/apache/pulsar/packages/management/core/impl/DefaultPackagesStorageConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  site2/docs/reference-configuration.md
Labels: doc, component/config, component/function, component/broker, component/proxy, release/2.9.3, release/2.8.4, release/2.10.1

#15829 [fix][dependency] Add OWASP suppression for openstack-keystone-2.5.0 and openstack-swift-2.5.0
  src/owasp-dependency-check-suppressions.xml
Labels: type/bug, component/dependency, doc-not-needed

#15847 [improve][broker] Make some methods of `ClusterBase` pure async.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/ClusterResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
Labels: type/improvement, doc-not-needed

#15645 [feature][website] remove website build workflow due to it had been migrated to repo pulsar-site
  .github/workflows/ci-pulsar-website-build.yaml
  site2/tools/build-site.sh
  site2/tools/debug-site.sh
  site2/tools/docker-build-site.sh
  site2/tools/publish-website.sh
  site2/tools/pulsar-admin-doc-gen.sh
  site2/tools/pulsar-client-doc-gen.sh
  site2/tools/pulsar-doc-gen.sh
  site2/tools/pulsar-perf-doc-gen.sh
Labels: doc-not-needed

#15760 [improve][broker] Make some operation replication clusters methods in…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: type/improvement, component/admin, doc-not-needed

#15821 [improve][broker] Make some methods in SchemasResourceBase async.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
Labels: type/improvement, component/admin, doc-not-needed

#15862 [feature][client] Add cli cmd for subscription level dispatch-rate-limiter
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
Labels: type/feature, component/cli, doc-not-needed

#15784 Fix malformed page for kafka-sink
  site2/docs/io-kafka-sink.md
Labels: doc

#15491 [improve][connector] Sink support custom acknowledge type
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/SinkRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/SinkRecordTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
Labels: type/improvement, component/connector, doc-not-needed

#15888 [fix][io-use][docs] Removed extra 'f'
  site2/docs/io-use.md
  site2/website/versioned_docs/version-2.10.0/io-use.md
  site2/website/versioned_docs/version-2.5.1/io-use.md
  site2/website/versioned_docs/version-2.5.2/io-use.md
  site2/website/versioned_docs/version-2.6.0/io-use.md
  site2/website/versioned_docs/version-2.6.1/io-use.md
  site2/website/versioned_docs/version-2.6.2/io-use.md
  site2/website/versioned_docs/version-2.6.3/io-use.md
  site2/website/versioned_docs/version-2.6.4/io-use.md
  site2/website/versioned_docs/version-2.7.0/io-use.md
  site2/website/versioned_docs/version-2.7.1/io-use.md
  site2/website/versioned_docs/version-2.7.2/io-use.md
  site2/website/versioned_docs/version-2.7.3/io-use.md
  site2/website/versioned_docs/version-2.7.4/io-use.md
  site2/website/versioned_docs/version-2.8.0/io-use.md
  site2/website/versioned_docs/version-2.8.1/io-use.md
  site2/website/versioned_docs/version-2.8.2/io-use.md
  site2/website/versioned_docs/version-2.8.3/io-use.md
  site2/website/versioned_docs/version-2.9.0/io-use.md
  site2/website/versioned_docs/version-2.9.1/io-use.md
  site2/website/versioned_docs/version-2.9.2/io-use.md
Labels: doc

#15748 [Cli tools] Disable Pulsar client memory limit by default
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
Labels: component/cli, doc-not-needed, release/2.10.1

#15909 [CI] Collect heap dumps when OutOfMemoryError happens in unit tests
  .github/workflows/pulsar-ci.yaml
  pom.xml
Labels: component/test, flaky-tests, doc-not-needed

#15911 [Tests] Fix OutOfMemoryError and NoClassDefFoundErrors in tests
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageContainerImplTest.java
Labels: component/test, flaky-tests, doc-not-needed, release/2.9.3, release/2.8.4, release/2.10.1

#15789 [improve][broker]tidy update subscriptions dispatcher rate-limiter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, release/2.10.1

#15864 [fix][owasp] Suppress CVE-2016-1000027 detection in Spring dependencies
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed

#15910 [Tests] Dump function logs when testJavaLoggingFunction test fails
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/test, flaky-tests, doc-not-needed

#15757 Issue 15750: PIP-105: Store Subscription properties
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/proto/MLDataFormats.proto
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorPropertiesTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/CreateSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/plugin/FilterEntryTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/MockManagedLedger.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.1

#15848 [improve][kinesis-sink] Add unit test for Kinesis sink JsonConverter
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/json/JsonConverterTests.java
Labels: doc-not-needed

#15751 PIP-105 add support for updating the Subscription properties
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSubscriptionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: doc-not-needed

#15922 [Broker] Close transactionBufferClient before closing the internal Pulsar client
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: component/broker, flaky-tests, doc-not-needed

#15924 [CPP tests] Wait for mockZTS to start before connecting to it
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: component/client-c++, flaky-tests, doc-not-needed

#15921 [Client] Continue shutdown of client when closing producers and consumers timeout
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: component/client, flaky-tests, doc-not-needed

#15919 [fix][doc] Code highlight not working on some pages
  site2/docs/admin-api-topics.md
  site2/docs/client-libraries-node.md
  site2/docs/functions-develop.md
  site2/docs/functions-package.md
  site2/docs/functions-runtime.md
  site2/docs/security-oauth2.md
  site2/docs/security-tls-authentication.md
  site2/docs/security-tls-transport.md
Labels: doc

#15918 [ML] Fix race condition in getManagedLedgerInternalStats when includeLedgerMetadata=true
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/bug, flaky-tests, doc-not-needed, release/2.9.3, release/2.8.4, release/2.10.1

#15869 [fix][broker] remove topic -> namespace cache of LedgerOffloaderStatsImpl
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/LedgerOffloaderStatsImpl.java
Labels: type/cleanup, component/broker, doc-not-needed

#15908 Enable TCP/IP keepalive for all ZK client connections in all components started with bin/pulsar
  bin/pulsar
Labels: type/improvement, doc-not-needed, release/2.10.1

#15817 [Revert] [#15483] Remove sensitive msg from consumer/producer stats log
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ClientConfigurationDataTest.java
Labels: doc-not-needed, release/2.9.3, release/2.10.1

#15926 [CI] Run pulsar-io unit tests in separate build job
  .github/workflows/pulsar-ci.yaml
  build/run_unit_group.sh
  pom.xml
  pulsar-broker/pom.xml
  pulsar-io/pom.xml
  pulsar-proxy/pom.xml
  pulsar-sql/pom.xml
Labels: doc-not-needed, component/ci

#15937 [fix][test] Fix flaky test PersistentTopicsTest#testTriggerCompactionTopic
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/test, doc-not-needed

#15695 [fix][broker]Fast return if ack cumulative illegal
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MessageCumulativeAckTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.3, release/2.10.1

#15932 [fix] [admin] fix reach max tenants error if the tenant already exists
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.3, release/2.10.1

#15943 [feature][doc] Add Pulsar Auth support for Pulsar SQL
  site2/docs/sql-deployment-configurations.md
Labels: doc

#15637 [Broker][Proxy][Function worker] Remove duplicate servlet filter instances to fix backpressure
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/Filters.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/UnauthedAdminProxyHandlerTest.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/ProxyServer.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketServiceStarter.java
Labels: component/function, component/broker, component/proxy, doc-not-needed

#15878 [fix][doc] Fixed binary protocol naming and descriptions
  site2/docs/developing-binary-protocol.md
Labels: doc

#15063 [improve][tiered storage] Reduce cpu usage when offloading the ledger
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlockAwareSegmentInputStreamImpl.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlockAwareSegmentInputStreamTest.java
Labels: type/improvement, component/tieredstorage, doc-not-needed, release/2.9.3, release/2.10.1

#15940 [improve][broker] Make PulsarWebResource#getOwnerFromPeerClusterList async.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: type/improvement, component/broker, doc-not-needed

#15950 [fix][connector] KCA sinks: fix offset mapping when sanitizeTopicName=true
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: component/connector, doc-not-needed, release/2.10.1

#15933 Extracted interface for EntryCacheManager
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCache.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheDefaultEvictionPolicy.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheDisabled.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheEvictionPolicy.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheManager.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheManagerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/package-info.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheManagerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/AllocatorStatsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/ManagedLedgerCacheMetrics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
Labels: type/cleanup, doc-not-needed

#15949 [cleanup][schema] Remove useless code of class StructSchema
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StructSchema.java
Labels: type/cleanup, doc-not-needed, component/schema

#15936 Support shrink for TripleLongPriorityQueue
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/TripleLongPriorityQueue.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/TripleLongPriorityQueueTest.java
Labels: type/improvement, doc-not-needed

#15938 [fix] [proxy] empty metaStore is set even though it has been configured in proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
Labels: doc-not-needed

#15875 [fix][txn]Fix transasction ack batch message
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
Labels: type/bug, component/transaction, doc-not-needed, release/2.9.3, release/2.10.1

#15928 [fix][auth] Generate correct well-known OpenID configuration URL
  pulsar-client-cpp/lib/auth/AuthOauth2.cc
  pulsar-client-cpp/lib/auth/AuthOauth2.h
  pulsar-client-cpp/tests/AuthPluginTest.cc
Labels: type/bug, component/client-c++, component/security, doc-not-needed, release/2.9.3, component/authentication, release/2.8.4, release/2.10.1

#15890 [improve][doc] Highlight important tips
  site2/docs/admin-api-overview.md
  site2/docs/develop-binary-protocol.md
Labels: doc

#15837 [Fix][broker] Fix NPE when ledger id not found in `OpReadEntry`
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.3, release/2.7.6, release/2.8.4, release/2.10.2

#15947 [fix][python client] Fixed reserved keys is not removed when JsonSchema being encoded
  pulsar-client-cpp/python/pulsar/schema/schema.py
  pulsar-client-cpp/python/schema_test.py
Labels: type/bug, component/client-python, doc-not-needed, release/2.10.1

#15692 [fix][metrics] fixed ProxyStats to use common.stats.JvmMetrics
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/stats/JvmMetrics.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/stats/ProxyStats.java
Labels: doc-not-needed

#15945 [fix][doc] Remove the domain name of Pulsar website from 2.10 doc links
  site2/docs/administration-pulsar-manager.md
  site2/docs/concepts-tiered-storage.md
  site2/docs/deploy-monitoring.md
  site2/docs/functions-worker.md
  site2/docs/getting-started-helm.md
  site2/docs/getting-started-standalone.md
  site2/docs/kubernetes-helm.md
  site2/docs/security-tls-authentication.md
  site2/docs/standalone.md
  site2/website/versioned_docs/version-2.10.0/adaptors-kafka.md
  site2/website/versioned_docs/version-2.10.0/admin-api-brokers.md
  site2/website/versioned_docs/version-2.10.0/admin-api-clusters.md
  site2/website/versioned_docs/version-2.10.0/admin-api-functions.md
  site2/website/versioned_docs/version-2.10.0/admin-api-namespaces.md
  site2/website/versioned_docs/version-2.10.0/admin-api-overview.md
  site2/website/versioned_docs/version-2.10.0/admin-api-packages.md
  site2/website/versioned_docs/version-2.10.0/admin-api-permissions.md
  site2/website/versioned_docs/version-2.10.0/admin-api-tenants.md
  site2/website/versioned_docs/version-2.10.0/admin-api-topics.md
  site2/website/versioned_docs/version-2.10.0/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.10.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.10.0/client-libraries-node.md
  site2/website/versioned_docs/version-2.10.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.10.0/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.10.0/client-libraries.md
  site2/website/versioned_docs/version-2.10.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.10.0/concepts-tiered-storage.md
  site2/website/versioned_docs/version-2.10.0/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.10.0/deploy-bare-metal.md
  site2/website/versioned_docs/version-2.10.0/deploy-monitoring.md
  site2/website/versioned_docs/version-2.10.0/functions-deploy.md
  site2/website/versioned_docs/version-2.10.0/functions-worker.md
  site2/website/versioned_docs/version-2.10.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.10.0/getting-started-standalone.md
  site2/website/versioned_docs/version-2.10.0/io-cli.md
  site2/website/versioned_docs/version-2.10.0/io-debug.md
  site2/website/versioned_docs/version-2.10.0/io-kafka-source.md
  site2/website/versioned_docs/version-2.10.0/io-overview.md
  site2/website/versioned_docs/version-2.10.0/io-quickstart.md
  site2/website/versioned_docs/version-2.10.0/io-use.md
  site2/website/versioned_docs/version-2.10.0/performance-pulsar-perf.md
  site2/website/versioned_docs/version-2.10.0/reference-cli-tools.md
  site2/website/versioned_docs/version-2.10.0/reference-configuration.md
  site2/website/versioned_docs/version-2.10.0/reference-connector-admin.md
  site2/website/versioned_docs/version-2.10.0/reference-pulsar-admin.md
  site2/website/versioned_docs/version-2.10.0/reference-rest-api-overview.md
  site2/website/versioned_docs/version-2.10.0/schema-manage.md
  site2/website/versioned_docs/version-2.10.0/security-extending.md
  site2/website/versioned_docs/version-2.10.0/security-tls-authentication.md
  site2/website/versioned_docs/version-2.10.0/standalone.md
  site2/website/versioned_docs/version-2.10.0/tiered-storage-aliyun.md
  site2/website/versioned_docs/version-2.10.0/tiered-storage-aws.md
  site2/website/versioned_docs/version-2.10.0/tiered-storage-azure.md
  site2/website/versioned_docs/version-2.10.0/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.10.0/tiered-storage-gcs.md
  site2/website/versioned_docs/version-2.10.0/txn-monitor.md
  site2/website/versioned_docs/version-2.10.0/txn-use.md
  site2/website/versioned_docs/version-2.10.0/txn-what.md
  site2/website/versioned_docs/version-2.10.0/txn-why.md
Labels: doc

#15944 [feature][admin] Support to get topic properties.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: type/feature, component/admin, doc-not-needed, release/2.10.1

#15967 [refactor][broker] Remove EntryWrapper usages and use MessageMetadata instead
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: component/broker, doc-not-needed, type/refactor

#14997 [feat][pulsar-io] ElasticSearch Sink: option to disable SSL certificate validation
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSslConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/RestClient.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientSslTests.java
  site2/docs/io-elasticsearch-sink.md
Labels: doc

#15431 [feat][elasticsearch-sink] Option to strip out non printable characters
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkRawDataTests.java
  site2/docs/io-elasticsearch-sink.md
Labels: doc

#15982 [fix][doc] Added Java M1 installation instruction to Next version as well
  site2/docs/getting-started-standalone.md
Labels: doc

#15970 [Improve][Doc] C++ and Python support only RSA
  site2/docs/security-encryption.md
Labels: doc

#15694 [fix][security] Add timeout of sync methods and avoid call sync method for AuthoriationService
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: type/bug, component/security, doc-not-needed, release/2.9.3, release/2.8.4, release/2.10.1

#15990 Upgrade Netty Reactive Streams to 2.0.6
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, doc-not-needed, release/2.9.3, release/2.10.2

#15389 [improve][doc][do-not-merge] single source of truth for functions CLI and add a table for yml configs
  site2/docs/functions-cli.md
Labels: doc

#15989 [fix][pulsar] Bump pyyaml from 5.3.1 to 5.4.1 to solve CVE-2020-14343
  docker/pulsar/Dockerfile
Labels: component/security, doc-not-needed, release/2.9.3, release/2.10.1

#15840 [fix][txn] Transaction metadata client cnx is null
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
Labels: type/bug, component/transaction, doc-not-needed, release/2.9.3, release/2.10.1

#15988 [Fix][pulasr-io] KCA Sink: org.apache.kafka.connect.errors.DataException: Not a struct schema: Schema{ARRAY} + tests
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/KafkaConnectData.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/PulsarSchemaToKafkaSchemaTest.java
Labels: doc-not-needed

#14795 [feature][doc] Add docs for system topic and update for topic policy
  site2/docs/assets/system-topic-for-topic-level-policies.svg
  site2/docs/concepts-messaging.md
  site2/docs/concepts-multi-tenancy.md
  site2/website/versioned_docs/version-2.10.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.10.0/concepts-multi-tenancy.md
  site2/website/versioned_docs/version-2.8.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.8.0/concepts-multi-tenancy.md
  site2/website/versioned_docs/version-2.8.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.8.1/concepts-multi-tenancy.md
  site2/website/versioned_docs/version-2.8.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.8.2/concepts-multi-tenancy.md
  site2/website/versioned_docs/version-2.8.3/concepts-messaging.md
  site2/website/versioned_docs/version-2.8.3/concepts-multi-tenancy.md
  site2/website/versioned_docs/version-2.9.0/concepts-messaging.md
  site2/website/versioned_docs/version-2.9.0/concepts-multi-tenancy.md
  site2/website/versioned_docs/version-2.9.1/concepts-messaging.md
  site2/website/versioned_docs/version-2.9.1/concepts-multi-tenancy.md
  site2/website/versioned_docs/version-2.9.2/concepts-messaging.md
  site2/website/versioned_docs/version-2.9.2/concepts-multi-tenancy.md
Labels: doc

#15693 [improve][function] Get function class name from the NAR when using built-in functions
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTestTemporaryDirectory.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/functions/Utils.java
  pulsar-functions/java-examples-builtin/pom.xml
  pulsar-functions/java-examples-builtin/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/pom.xml
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functions/FunctionArchive.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functions/FunctionUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionsManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
Labels: doc-not-needed

#15986 [clean][broker]Cleanup DispatchRateLimiter#onPoliciesUpdate
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
Labels: type/cleanup, component/broker, doc-not-needed

#15997 [fix][doc] Fix 404 link for the download page
  site2/website/blog/2019-12-04-Apache-Pulsar-2-4-2.md
  site2/website/blog/2020-04-23-Apache-Pulsar-2-5-1.md
  site2/website/blog/2020-05-19-Apache-Pulsar-2-5-2.md
  site2/website/blog/2020-06-18-Apache-Pulsar-2-6-0.md
  site2/website/blog/2020-08-21-Apache-Pulsar-2-6-1.md
  site2/website/blog/2020-11-09-Apache-Pulsar-2-6-2.md
  site2/website/blog/2020-12-24-Apache-Pulsar-2-7-0.md
  site2/website/blog/2021-09-23-Apache-Pulsar-2-8-1.md
  site2/website/versioned_docs/version-2.5.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.5.0/kubernetes-helm.md
  site2/website/versioned_docs/version-2.5.1/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.5.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.5.2/administration-pulsar-manager.md
  site2/website/versioned_docs/version-2.5.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.5.2/kubernetes-helm.md
  site2/website/versioned_docs/version-2.6.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.0/kubernetes-helm.md
  site2/website/versioned_docs/version-2.6.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.1/kubernetes-helm.md
  site2/website/versioned_docs/version-2.6.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.2/kubernetes-helm.md
  site2/website/versioned_docs/version-2.6.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.3/kubernetes-helm.md
  site2/website/versioned_docs/version-2.6.4/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.4/kubernetes-helm.md
  site2/website/versioned_docs/version-2.7.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.0/kubernetes-helm.md
  site2/website/versioned_docs/version-2.7.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.1/kubernetes-helm.md
  site2/website/versioned_docs/version-2.7.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.2/kubernetes-helm.md
  site2/website/versioned_docs/version-2.7.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.3/kubernetes-helm.md
  site2/website/versioned_docs/version-2.7.4/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.4/kubernetes-helm.md
  site2/website/versioned_docs/version-2.8.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.0/kubernetes-helm.md
  site2/website/versioned_docs/version-2.8.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.1/kubernetes-helm.md
  site2/website/versioned_docs/version-2.8.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.2/kubernetes-helm.md
  site2/website/versioned_docs/version-2.8.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.9.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.9.0/kubernetes-helm.md
  site2/website/versioned_docs/version-2.9.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.9.1/kubernetes-helm.md
  site2/website/versioned_docs/version-2.9.2/getting-started-helm.md
Labels: doc

#15991 Removing log4j-1.2-api from dependencies
  buildtools/pom.xml
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  managed-ledger/pom.xml
Labels: component/build, type/cleanup, doc-not-needed, release/2.10.2

#15868 Allow pulsar_tool_env.sh PULSAR_MEM to be Overridden
  conf/pulsar_tools_env.sh
Labels: component/config, component/connector, doc-not-needed

#15964 [fix][client] Fix JDK17 compatibility issue
  bin/pulsar-client
Labels: doc-not-needed

#15968 [doc] Add 2.10.x to supported versions table
  site2/docs/security-policy-and-supported-versions.md
  site2/website/versioned_docs/version-2.10.0/security-policy-and-supported-versions.md
Labels: doc

#15999 [test][fix]Fix UT MessageDispatchThrottlingTest#testDispatchRateCompatibility2
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
Labels: doc-not-needed

#15946 [improve][broker] make publish rate and dispatch rate operation async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesV2Test.java
Labels: type/improvement, component/admin, doc-not-needed

#15980 [fix][doc] Adjust the install command of the gtest and gmock in document
  pulsar-client-cpp/README.md
Labels: doc

#15887 [fix][doc] Add context for schemaRegistryCompatibilityCheckers
  conf/broker.conf
  conf/standalone.conf
  site2/docs/reference-configuration.md
  site2/docs/schema-evolution-compatibility.md
Labels: doc

#15983 [fix][broker] Avoid storing `MessageMetadata` instances returned by `peekMessageMetadata`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: type/bug, component/broker, doc-not-needed

#15994 Bump cassandra driver version from 3.6.0 to 3.11.2
  pom.xml
  pulsar-io/cassandra/pom.xml
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed

#15428 [feat][elasticsearch] Add hashed id support
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/RestClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/elastic/ElasticSearchJavaRestClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/opensearch/OpenSearchHighLevelRestClient.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfigTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
  site2/docs/io-elasticsearch-sink.md
Labels: doc, component/connector

#15995 Fix failed tests for branch-2.10
  build/run_unit_group.sh
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/test, doc-not-needed, release/2.10.1

#15877 [fix][clients]Check pendingIndividualBatchIndexAcks size in doIndividualBatchAckAsync
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
Labels: component/client, doc-not-needed

#16012 Add comment for using `configurationMetadataStoreUrl` instead of `configurationStoreServers`
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: doc

#16001 [fix][admin] Fix get-publish-rete Admin API handle exception behavior
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: component/admin, doc-not-needed

#16010 [branch-2.9] Disable testReuseFork for broker_group_2
  build/run_unit_group.sh
Labels: component/test, release/2.9.3

#16004 [cleanup][pom] Remove unused TestNG conf files and clean up repeated notes
  build/run_integration_group.sh
  tests/bc_2_0_0/src/test/resources/pulsar.xml
  tests/bc_2_0_1/src/test/resources/pulsar.xml
  tests/bc_2_6_0/src/test/resources/backwards-client.xml
  tests/integration/src/test/resources/pulsar-cli-suite.xml
  tests/integration/src/test/resources/pulsar-process-suite.xml
  tests/integration/src/test/resources/pulsar-schema-suite.xml
  tests/integration/src/test/resources/pulsar-sql-suite.xml
  tests/integration/src/test/resources/pulsar-thread-suite.xml
  tests/integration/src/test/resources/pulsar.xml
  tests/integration/src/test/resources/tiered-file-system-suite.xml
  tests/integration/src/test/resources/tiered-storage-jcloud-suite.xml
  tests/pulsar-client-admin-shade-test/src/test/resources/pulsar.xml
  tests/pulsar-client-all-shade-test/src/test/resources/pulsar.xml
  tests/pulsar-client-shade-test/src/test/resources/pulsar.xml
Labels: doc-not-needed

#15961 [fix] [admin] [branch-2.10] fix reach max tenants error if the tenant…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
Labels: doc-not-needed, release/2.10.1, cherry-picked/branch-2.10

#16007 [fix] [admin] [branch-2.9] fix reach max tenants error if the tenant already exists
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
Labels: cherry-picked/branch-2.9, release/2.9.3

#15641 [cleanup] [broker] delete deprecated comment in ManagedLedgerImpl
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/cleanup, doc-not-needed

#15250 [function] refine file io connector
  pulsar-io/file/src/main/java/org/apache/pulsar/io/file/FileListingThread.java
  pulsar-io/file/src/main/java/org/apache/pulsar/io/file/FileSourceConfig.java
  pulsar-io/file/src/test/java/org/apache/pulsar/io/file/FileSourceConfigTests.java
Labels: type/bug, doc-not-needed, release/2.9.3, release/2.10.1

#15761 [fix][client] Remove consumer when close consumer command is received
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
Labels: doc-not-needed, release/2.9.3, release/2.8.4, release/2.10.2

#16015 fix(docs): add missing go format on client sample code
  site2/docs/client-libraries-go.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-go.md
  site2/website/versioned_docs/version-2.10.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.3.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.4.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.8.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.8.2/client-libraries-go.md
  site2/website/versioned_docs/version-2.8.3/client-libraries-go.md
  site2/website/versioned_docs/version-2.9.0/client-libraries-go.md
  site2/website/versioned_docs/version-2.9.1/client-libraries-go.md
  site2/website/versioned_docs/version-2.9.2/client-libraries-go.md
Labels: doc

#15728 [Function] provide default error handler for function log appender
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/LogAppender.java
Labels: component/function, doc-not-needed, release/2.9.3, release/2.8.4, release/2.10.1

#16021 [fix][admin] Fix typo in validation message
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
Labels: doc-not-needed, release/2.9.3, release/2.10.2

#15674 [broker][monitoring] add message ack rate metric for consumer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StreamingStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedConsumerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedSubscriptionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/ConsumerStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: doc-required, release/2.9.3, release/2.8.4, release/2.10.1

#15825 [fix][broker]Fix topic-level replicator rate limiter not init
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Replicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorRateLimiterTest.java
Labels: doc-not-needed, release/2.10.1

#16026 [branch-2.10][fix][admin] Fix producer/consume permission can’t get schema
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaWithAuthTest.java
Labels: type/bug, component/security, doc-not-needed, release/2.10.1, cherry-picked/branch-2.10, release/important-notice

#16028 [fix][client] Remove producer when close producer command is received
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
Labels: component/client, doc-not-needed, release/2.9.3, release/2.8.4, release/2.10.2

#16027 [feat][workflow] Upgrade to new version of documentation bot
  .github/workflows/ci-documentbot.yml
Labels: doc, component/ci

#16031 [fix][c++ client] rename function name: pulsar_producer_configuration_set_crypto_failure_action
  pulsar-client-cpp/lib/c/c_ProducerConfiguration.cc
Labels: type/bug, component/client-c++, doc-label-missing, release/2.8.4, release/2.10.2, release/2.9.4

#16035 [fix][workflow] Update action repository path
  .github/workflows/ci-documentbot.yml
Labels: doc, workflow

#15974 [fix][admin] Release LookupRequestSemaphore before returning data.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/v1/TopicLookup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/v2/TopicLookup.java
Labels: type/bug, component/admin, doc-not-needed

#15953 [cleanup][broker]Cleanup DispatchRateLimiter isDispatchRateNeeded()
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: type/cleanup, component/broker, doc-not-needed, release/2.10.2

#16039 [Broker] Terminate JVM when initialize-cluster-metadata command fails
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
Labels: component/broker, doc-not-needed

#16008 [fix][env] Support the java version like 'XX-internal' in env file
  conf/bkenv.sh
  conf/pulsar_env.sh
Labels: doc-not-needed

#16047 [broker] Make invalid namespace and topic name logs more descriptive
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
Labels: type/improvement, component/broker, doc-not-needed

#16043 [improve][broker] Avoid reconnection when a partitioned topic was created concurrently
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: type/improvement, doc-not-needed, release/2.8.4, release/2.10.2, release/2.9.4

#15270 [improve][metadata] Add tls config for etcd client
  conf/broker.conf
  conf/standalone.conf
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/EtcdMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/EtcdMetadataStoreTest.java
  pulsar-metadata/src/test/resources/etcd_config_example.yml
  pulsar-metadata/src/test/resources/ssl/.gitignore
  pulsar-metadata/src/test/resources/ssl/README.md
  pulsar-metadata/src/test/resources/ssl/cert/ca-config.json
  pulsar-metadata/src/test/resources/ssl/cert/ca-key.pem
  pulsar-metadata/src/test/resources/ssl/cert/ca.csr
  pulsar-metadata/src/test/resources/ssl/cert/ca.pem
  pulsar-metadata/src/test/resources/ssl/cert/client-key-pk8.pem
  pulsar-metadata/src/test/resources/ssl/cert/client-key.pem
  pulsar-metadata/src/test/resources/ssl/cert/client.csr
  pulsar-metadata/src/test/resources/ssl/cert/client.pem
  pulsar-metadata/src/test/resources/ssl/cert/etcd0-key.pem
  pulsar-metadata/src/test/resources/ssl/cert/etcd0.csr
  pulsar-metadata/src/test/resources/ssl/cert/etcd0.pem
  pulsar-metadata/src/test/resources/ssl/cert/etcd1-key.pem
  pulsar-metadata/src/test/resources/ssl/cert/etcd1.csr
  pulsar-metadata/src/test/resources/ssl/cert/etcd1.pem
  pulsar-metadata/src/test/resources/ssl/cert/etcd2-key.pem
  pulsar-metadata/src/test/resources/ssl/cert/etcd2.csr
  pulsar-metadata/src/test/resources/ssl/cert/etcd2.pem
  pulsar-metadata/src/test/resources/ssl/cert/server-key.pem
  pulsar-metadata/src/test/resources/ssl/cert/server.csr
  pulsar-metadata/src/test/resources/ssl/cert/server.pem
  pulsar-metadata/src/test/resources/ssl/generate-self-signed-certificates.sh
Labels: doc-required

#16055 [feat][workflow] add links of doc contribution guides to readme
  README.md
Labels: doc, workflow

#16011 [improve][tests] improved flaky test runs
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnector.java
Labels: flaky-tests, doc-not-needed, release/2.10.2, release/2.9.4

#16022 [fix][admin] Fix missing response type in swagger definitions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: type/bug, component/broker, doc-not-needed, release/2.8.4, release/2.10.2, release/2.9.4

#15762 [improve][deploy] changed the default GC options to ZGC from G1GC
  bin/function-localrunner
  conf/bkenv.sh
  conf/presto/jvm.config
  conf/pulsar_env.sh
  deployment/terraform-ansible/templates/pulsar_env.sh
  pom.xml
  tests/docker-images/latest-version-image/conf/bookie.conf
  tests/docker-images/latest-version-image/conf/broker.conf
  tests/docker-images/latest-version-image/conf/functions_worker.conf
  tests/docker-images/latest-version-image/conf/global-zk.conf
  tests/docker-images/latest-version-image/conf/local-zk.conf
  tests/docker-images/latest-version-image/conf/presto/jvm.config
  tests/docker-images/latest-version-image/conf/presto_worker.conf
  tests/docker-images/latest-version-image/conf/proxy.conf
Labels: doc-not-needed

#16064 Clean up C++ client curl configuration
  pulsar-client-cpp/lib/auth/AuthOauth2.cc
Labels: component/client-c++, type/cleanup, doc-not-needed, release/2.8.4, release/2.10.2, release/2.9.4

#16060 [fix][workflow] Support concurrency group and reusable workflow files in docbot
  .github/workflows/ci-documentbot.yml
Labels: doc, workflow

#16053 [fix][doc] make the JDK version consistent in readme.md
  README.md
Labels: doc

#16005 [Issue 15896] Fix LockTimeout when storePut on the same key concurrently in RocksdbMetadataStore
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/RocksdbMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: type/bug, doc-not-needed, component/metadata, release/2.10.2

#16067 [fix][docs] Corrected comment in shared consumer section
  site2/docs/client-libraries-java.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-java.md
  site2/website/versioned_docs/version-2.10.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.2.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.3.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.4.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.7.4/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.2/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.3/client-libraries-java.md
  site2/website/versioned_docs/version-2.9.0/client-libraries-java.md
  site2/website/versioned_docs/version-2.9.1/client-libraries-java.md
  site2/website/versioned_docs/version-2.9.2/client-libraries-java.md
Labels: doc

#16048 [fix][doc] Add an import statement to the Java code sample for Oauth2
  site2/docs/concepts-messaging.md
  site2/docs/security-oauth2.md
  site2/website/versioned_docs/version-2.10.0/security-oauth2.md
  site2/website/versioned_docs/version-2.6.1/security-oauth2.md
  site2/website/versioned_docs/version-2.6.2/security-oauth2.md
  site2/website/versioned_docs/version-2.6.3/security-oauth2.md
  site2/website/versioned_docs/version-2.6.4/security-oauth2.md
  site2/website/versioned_docs/version-2.7.0/security-oauth2.md
  site2/website/versioned_docs/version-2.7.1/security-oauth2.md
  site2/website/versioned_docs/version-2.7.2/security-oauth2.md
  site2/website/versioned_docs/version-2.7.3/security-oauth2.md
  site2/website/versioned_docs/version-2.7.4/security-oauth2.md
  site2/website/versioned_docs/version-2.8.0/security-oauth2.md
  site2/website/versioned_docs/version-2.8.1/security-oauth2.md
  site2/website/versioned_docs/version-2.8.2/security-oauth2.md
  site2/website/versioned_docs/version-2.8.3/security-oauth2.md
  site2/website/versioned_docs/version-2.9.0/security-oauth2.md
  site2/website/versioned_docs/version-2.9.1/security-oauth2.md
  site2/website/versioned_docs/version-2.9.2/security-oauth2.md
Labels: doc

#13957 [Transaction] Set TC state is Ready after open MLTransactionMetadataStore completely.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStore.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStoreProvider.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
Labels: component/transaction, component/transaction-coordinator, doc-not-needed, lifecycle/stale, release/2.10.2, release/2.9.4

#15941 [fix][broker]Fix topic policies update not check message expiry
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MessageTTLTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.2

#16016 [fix][broker] Fix token expiration
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerConsumerBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenExpirationProduceConsumerTest.java
Labels: type/bug, component/security, doc-not-needed

#16051 [Improve][Doc] Add explanation about the Helm release script
  site2/docs/getting-started-helm.md
  site2/website/versioned_docs/version-2.10.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.5.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.5.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.6.4/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.7.4/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.2/getting-started-helm.md
  site2/website/versioned_docs/version-2.8.3/getting-started-helm.md
  site2/website/versioned_docs/version-2.9.0/getting-started-helm.md
  site2/website/versioned_docs/version-2.9.1/getting-started-helm.md
  site2/website/versioned_docs/version-2.9.2/getting-started-helm.md
Labels: doc

#16066 Revert "[fix][broker] Reject auto create partitioned topic when topic name contains ``-partition-`` (#14920)
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/PulsarServerException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: doc-not-needed

#16068 [broker] Add config to allow deliverAt time to be strictly honored
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/InMemoryDeliveryTrackerTest.java
  site2/docs/concepts-messaging.md
Labels: doc, type/feature, component/broker

#16075 [improve][admin] Add option function-type to admin CLI for Functions
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: doc-required

#15778 [Improve][doc] Add config of NAR extraction directory for the broker configuration
  conf/broker.conf
  conf/standalone.conf
  site2/docs/reference-configuration.md
  site2/website/versioned_docs/version-2.10.0/reference-configuration.md
  site2/website/versioned_docs/version-2.8.0/reference-configuration.md
  site2/website/versioned_docs/version-2.8.1/reference-configuration.md
  site2/website/versioned_docs/version-2.8.2/reference-configuration.md
  site2/website/versioned_docs/version-2.8.3/reference-configuration.md
  site2/website/versioned_docs/version-2.9.0/reference-configuration.md
  site2/website/versioned_docs/version-2.9.1/reference-configuration.md
  site2/website/versioned_docs/version-2.9.2/reference-configuration.md
Labels: doc

#15708 [fix][doc] Fix security-oauth2 docs curl example OAuth URL
  site2/docs/security-oauth2.md
  site2/website/versioned_docs/version-2.10.0/security-oauth2.md
  site2/website/versioned_docs/version-2.7.0/security-oauth2.md
  site2/website/versioned_docs/version-2.7.1/security-oauth2.md
  site2/website/versioned_docs/version-2.7.2/security-oauth2.md
  site2/website/versioned_docs/version-2.7.3/security-oauth2.md
  site2/website/versioned_docs/version-2.7.4/security-oauth2.md
  site2/website/versioned_docs/version-2.8.0/security-oauth2.md
  site2/website/versioned_docs/version-2.8.1/security-oauth2.md
  site2/website/versioned_docs/version-2.8.2/security-oauth2.md
  site2/website/versioned_docs/version-2.8.3/security-oauth2.md
  site2/website/versioned_docs/version-2.9.0/security-oauth2.md
  site2/website/versioned_docs/version-2.9.1/security-oauth2.md
  site2/website/versioned_docs/version-2.9.2/security-oauth2.md
Labels: doc

#16091 [doc] Fix broken link to Transactions in the pulsar-perf page
  site2/docs/performance-pulsar-perf.md
Labels: doc

#16086 [branch-2.9] Fix compile issue by cherry-pick
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: release/2.9.3

#15880 [improve][broker] Make some operation subscription dispatchRate methods in Namespaces async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesV2Test.java
Labels: type/improvement, component/admin, doc-not-needed

#15184 [fix][broker] fix npe when doCacheEviction
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed

#15678 [improve][proxy] Support zero-copy of NIC to NIC on Proxy
  conf/proxy.conf
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/OptionalProxyProtocolDecoder.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyReadTimeoutHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ServiceChannelInitializer.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyDisableZeroCopyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceStarterDisableZeroCopyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceStarterTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
  pulsar-proxy/src/test/resources/proxy.conf
  site2/docs/reference-configuration.md
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ProxyContainer.java
Labels: doc, type/feature, component/proxy

#16083 [branch-2.9][fix][security] Add timeout of sync methods and avoid call sync method for AuthoriationService
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: release/2.9.3

#16085 [improve][doc] Add docs for how to change Pulsar configs in Docker
  site2/docs/getting-started-docker.md
  site2/website/versioned_docs/version-2.10.0/getting-started-docker.md
Labels: doc

#16098 [Fix][pulsar-io] KCA to use index (if available) instead of sequenceId and to handle batched messages non-unique sequenceIds
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaConnectSinkConfig.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: doc

#16090 [improve][pulsar-perf] Transactions: improve client options
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerfClientUtils.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceBaseArguments.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerfClientUtilsTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceBaseArgumentsTest.java
  pulsar-testclient/src/test/resources/perf_client1.conf
  site2/docs/reference-cli-tools.md
Labels: doc

#16100 [Fix][pulsar-io] KCA: handle kafka preCommit() returning earlier offsets than requested
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaConnectSinkConfig.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: doc-not-needed

#16088 [fix][pulsar-perf] Transactions: use the correct logger name
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
Labels: doc-not-needed

#16115 Use OrderedExecutor instead of OrderedScheduler for consumer dispatch
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: type/improvement, doc-not-needed, release/2.10.2, release/2.9.4

#16116 [Improve][Doc] Minor wording and typo fix
  site2/docs/helm-deploy.md
  site2/docs/helm-prepare.md
  site2/website/versioned_docs/version-2.10.0/helm-deploy.md
  site2/website/versioned_docs/version-2.10.0/helm-prepare.md
  site2/website/versioned_docs/version-2.5.0/helm-deploy.md
  site2/website/versioned_docs/version-2.5.0/helm-prepare.md
  site2/website/versioned_docs/version-2.5.1/helm-deploy.md
  site2/website/versioned_docs/version-2.5.1/helm-prepare.md
  site2/website/versioned_docs/version-2.5.2/helm-deploy.md
  site2/website/versioned_docs/version-2.5.2/helm-prepare.md
  site2/website/versioned_docs/version-2.6.0/helm-deploy.md
  site2/website/versioned_docs/version-2.6.0/helm-prepare.md
  site2/website/versioned_docs/version-2.6.1/helm-deploy.md
  site2/website/versioned_docs/version-2.6.1/helm-prepare.md
  site2/website/versioned_docs/version-2.6.2/helm-deploy.md
  site2/website/versioned_docs/version-2.6.2/helm-prepare.md
  site2/website/versioned_docs/version-2.6.3/helm-deploy.md
  site2/website/versioned_docs/version-2.6.3/helm-prepare.md
  site2/website/versioned_docs/version-2.6.4/helm-deploy.md
  site2/website/versioned_docs/version-2.6.4/helm-prepare.md
  site2/website/versioned_docs/version-2.7.0/helm-deploy.md
  site2/website/versioned_docs/version-2.7.0/helm-prepare.md
  site2/website/versioned_docs/version-2.7.1/helm-deploy.md
  site2/website/versioned_docs/version-2.7.1/helm-prepare.md
  site2/website/versioned_docs/version-2.7.2/helm-deploy.md
  site2/website/versioned_docs/version-2.7.2/helm-prepare.md
  site2/website/versioned_docs/version-2.7.3/helm-deploy.md
  site2/website/versioned_docs/version-2.7.3/helm-prepare.md
  site2/website/versioned_docs/version-2.7.4/helm-deploy.md
  site2/website/versioned_docs/version-2.7.4/helm-prepare.md
  site2/website/versioned_docs/version-2.8.0/helm-deploy.md
  site2/website/versioned_docs/version-2.8.0/helm-prepare.md
  site2/website/versioned_docs/version-2.8.1/helm-deploy.md
  site2/website/versioned_docs/version-2.8.1/helm-prepare.md
  site2/website/versioned_docs/version-2.8.2/helm-deploy.md
  site2/website/versioned_docs/version-2.8.2/helm-prepare.md
  site2/website/versioned_docs/version-2.8.3/helm-deploy.md
  site2/website/versioned_docs/version-2.8.3/helm-prepare.md
  site2/website/versioned_docs/version-2.9.0/helm-deploy.md
  site2/website/versioned_docs/version-2.9.0/helm-prepare.md
  site2/website/versioned_docs/version-2.9.1/helm-deploy.md
  site2/website/versioned_docs/version-2.9.1/helm-prepare.md
  site2/website/versioned_docs/version-2.9.2/helm-deploy.md
  site2/website/versioned_docs/version-2.9.2/helm-prepare.md
Labels: doc

#16069 [feature][doc] Add docs for failure domain + anti-affinity namespace
  site2/docs/administration-load-balance.md
  site2/docs/assets/anti-affinity-namespaces-across-failure-domains.svg
  site2/docs/concepts-architecture-overview.md
  site2/docs/reference-terminology.md
  site2/website/versioned_docs/version-2.10.0/administration-load-balance.md
  site2/website/versioned_docs/version-2.10.0/reference-terminology.md
  site2/website/versioned_docs/version-2.8.0/administration-load-balance.md
  site2/website/versioned_docs/version-2.8.0/reference-terminology.md
  site2/website/versioned_docs/version-2.8.1/administration-load-balance.md
  site2/website/versioned_docs/version-2.8.1/reference-terminology.md
  site2/website/versioned_docs/version-2.8.2/administration-load-balance.md
  site2/website/versioned_docs/version-2.8.2/reference-terminology.md
  site2/website/versioned_docs/version-2.8.3/administration-load-balance.md
  site2/website/versioned_docs/version-2.8.3/reference-terminology.md
  site2/website/versioned_docs/version-2.9.0/administration-load-balance.md
  site2/website/versioned_docs/version-2.9.0/reference-terminology.md
  site2/website/versioned_docs/version-2.9.1/administration-load-balance.md
  site2/website/versioned_docs/version-2.9.1/reference-terminology.md
  site2/website/versioned_docs/version-2.9.2/administration-load-balance.md
  site2/website/versioned_docs/version-2.9.2/reference-terminology.md
Labels: doc

#15736 [cleanup][ledger] Remove unnecessary code in ManagedLedgerImpl
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/cleanup, component/broker, doc-not-needed

#16113 Avoid some promise object allocations when writing on channel
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSenderImpl.java
Labels: type/improvement, doc-not-needed

#16147 Transactions: fix race in TransactionMetaStoreHandler
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionCoordinatorClientImpl.java
Labels: type/bug, component/transaction, doc-not-needed, release/2.10.2, release/2.9.4

#15181 [cleanup] [broker] when serverCnx disabled auto read use same implements
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/cleanup, component/broker, doc-not-needed

#16110 [security] Suppress CVE-2022-23712 warnings
  src/owasp-dependency-check-suppressions.xml
Labels: component/security, doc-not-needed

#16148 [security] Update fastjson version to 1.2.83
  pulsar-io/canal/pom.xml
Labels: doc-not-needed

#15381 [Broker] modify permission in metadata RocksdbMetadataStore
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/RocksdbMetadataStore.java
Labels: doc-not-needed

#16095 PIP-105: new API to get subscription properties
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSubscriptionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/CLITest.java
Labels: component/cli, doc-not-needed, component/client-rest

#16108 [fix][broker][monitoring] fix message ack rate
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: type/bug, component/stats, doc-not-needed, release/2.10.2, release/2.9.4
