Repository apache/pulsar, pull requests merged in 2022-09, with the labels that each got.

#17350 [improve][test] Add integration test for protocol handlers
  .github/workflows/pulsar-ci.yaml
  build/run_integration_group.sh
  tests/docker-images/java-test-plugins/pom.xml
  tests/docker-images/java-test-plugins/src/main/java/org/apache/pulsar/tests/integration/plugins/EchoChannelHandler.java
  tests/docker-images/java-test-plugins/src/main/java/org/apache/pulsar/tests/integration/plugins/EchoProtocolHandler.java
  tests/docker-images/java-test-plugins/src/main/java/org/apache/pulsar/tests/integration/plugins/package-info.java
  tests/docker-images/java-test-plugins/src/main/resources/META-INF/services/pulsar-protocol-handler.yml
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/pom.xml
  tests/docker-images/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/plugins/TestProtocolHandlers.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterSpec.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterTestBase.java
  tests/integration/src/test/resources/pulsar-plugin.xml
Labels: component/test, doc-not-needed, component/ci

#17346 [refactor][broker]refactor reflection method in storage and transaction module
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/ManagedLedgerStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/TransactionPendingAckStoreProvider.java
Labels: doc-not-needed

#17368 [doc] Add JDK version requirement to build Pulsar
  README.md
Labels: doc

#17175 [fix][proxy] fix producer info logging fails when proxyLogLevel > 0
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ParserProxyHandler.java
Labels: type/bug, component/proxy, doc-label-missing

#17016 [fix][txn] fix ack with txn compute ackedCount error
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
Labels: component/broker, component/transaction, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.0

#16485 [pulsar-io] KCA: handle kafka's logical schemas
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/KafkaConnectData.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/PulsarSchemaToKafkaSchema.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: type/feature, component/connector, doc-not-needed, Stale

#15368 [improve][doc] Deduplication can have effects in performance and is not activated at client level
  site2/docs/cookbooks-deduplication.md
Labels: doc

#17314 [improve][broker]prevent new connection request when broker is closing
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: type/improvement, component/broker, doc-not-needed

#17117 [feat][connector] ElasticSearch Sink: add a option to copy key fields into the value
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/JsonConverter.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfigTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchExtractTests.java
  site2/docs/io-elasticsearch-sink.md
Labels: doc

#17308 [fix] Combination of autocreate + forced delete of partitioned topic with active consumer leaves topic metadata inconsistent.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMultiBrokersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ExclusiveProducerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topics/TestTopicDeletion.java
Labels: doc-not-needed

#17370 [fix][broker] Fix Npe thrown by splitBundle
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: type/bug, component/admin, doc-not-needed, release/2.11.1, release/2.10.3

#17281 [fix][broker][branch-2.9] Fix calculate avg message per entry
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: cherry-picked/branch-2.9, release/2.9.4

#17337 [broker][admin] Add cmd to remove topic properties
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicOperation.java
Labels: type/improvement, component/admin, doc-not-needed

#17376 [cleanup][functions] Cleanup test functions
  pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/RecordFunction.java
  tests/docker-images/java-test-functions/src/main/java/org/apache/pulsar/tests/integration/io/TestLoggingSink.java
Labels: doc-not-needed

#17334 [improve][test] replace Whitebox with testing elements
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/writer/AvroWriter.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/protocol/PulsarDecoderTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinator.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/ClusterServiceCoordinatorTest.java
Labels: doc-not-needed

#17232 [improve][ci] Add workflow for python local install
  .github/workflows/ci-python-build-3.9-client.yaml
  site2/docs/client-libraries-python.md
Labels: type/improvement, component/client-python, doc-not-needed

#17417 [fix][doc] REST API render mistake
  site2/docs/admin-api-namespaces.md
Labels: doc, website

#17387 [fix][test] Fix `ClientDeduplicationFailureTest.testClientDeduplicationWithBkFailure`
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationFailureTest.java
Labels: component/test, doc-label-missing

#17420 [fix][branch-2.10] Fix compile error
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PackagesImpl.java
Labels: doc

#17377 [Improve][broker] Improve `replicatorDispacherRate` endpoint to pure async.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: type/improvement, component/admin, doc-label-missing

#15558 [fix][broker][functions-worker] Ensure prometheus metrics are grouped by type (#8407, #13865)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricStreams.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TransactionAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/PrometheusTextFormatUtil.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricStreamsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SimpleTextOutputStream.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/PrometheusTextFormat.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerStatsManager.java
Labels: type/bug, component/metrics, doc-not-needed, release/2.10.2, release/2.9.4

#17404 [fix][cli] Exclude windows script from the docker image
  distribution/shell/src/assemble/shell.xml
  docker/pulsar/Dockerfile
Labels: component/cli, doc-not-needed

#15775 [fix][Admin CLI docs] Sync the description and default value of `--processing-guarantees`
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: doc

#17434 [fix][connectors] Fix OutputRecordSinkRecord getValue and getSchema
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/OutputRecordSinkRecord.java
Labels: type/bug, component/connector, doc-not-needed

#17435 [improve][cli] CLI extensions: rename default location to 'cliextensions'
  pulsar-client-tools-test/pom.xml
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/utils/CustomCommandFactoryProvider.java
Labels: doc-not-needed, release/2.11.0

#17431 Revert "[improve][ci] Add workflow for python local install (#17232)"
  .github/workflows/ci-python-build-3.9-client.yaml
  site2/docs/client-libraries-python.md
Labels: doc-not-needed

#17400 Factorize code in LocalRunner
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
Labels: doc-not-needed

#17414 Bump bookkeeper version to 4.15.1
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/dependency, doc-label-missing

#17403 [improve][broker] Using `handle` instead of `handleAsync` to avoid using common pool thread
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
Labels: type/improvement, component/broker, doc-not-needed

#17405 [doc] Update pulsar version in README
  README.md
Labels: doc

#16815 [improve] clean the empty topicAuthenticationMap in zk when revoke permission
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
Labels: type/improvement, component/security, doc-label-missing, release/2.9.4, release/2.11.1, release/2.10.3

#17276 [fix][broker]Fix memoryLimitController currentUsage and MaxQueueSize semaphore leak when batchMessageContainer add message exception
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerMemoryLimitTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageContainerImplTest.java
Labels: component/client, doc-not-needed

#17393 [fix][broker] fix can not revoke permission after update topic partition
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithJwtAuthorizationTest.java
Labels: type/bug, doc-not-needed, component/authorization, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17457 [fix][sec] bump snakeyaml to 1.31 fix CVE-2022-25857
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed

#17416 [improve][broker] Using TopicName instead of String as the parameter for `getTopic`.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: type/improvement, component/broker, doc-not-needed

#17466 [fix][sec][BP-2.11] bump snakeyaml to 1.31 fix CVE-2022-25857 (#17457)
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, release/2.11.0

#17458 [improve][sec] suppress CVE-2021-3563 of openstack-keystone-2.5.0
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed

#17467 [improve][sec][BP-2.11] suppress CVE-2021-3563 of openstack-keystone-2.5.0 (#17458)
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, release/2.11.0

#17474 [fix][functions] Revert "Enable Log4j2 async loggers (#15188)"
  bin/pulsar
  conf/log4j2.yaml
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
Labels: doc-not-needed

#17476 [ci] move back PersistentStreamingDispatcherBlockConsumerTest to the flaky suite
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherBlockConsumerTest.java
Labels: doc-not-needed

#17320 [fix][doc] Add more information for producer_request_hold policy
  site2/docs/admin-api-namespaces.md
  site2/docs/cookbooks-retention-expiry.md
Labels: doc

#17459 [fix][license] Update the jna version in the presto license file
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed

#15218 [doc][monitoring][txn] add doc for transaction metrics
  site2/docs/reference-metrics.md
Labels: doc

#17462 [fix][license] Update the log4j version in the presto license file
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, release/2.10.2, release/2.11.1

#17122 [refactor][proxy] remove empty else code block when initialize setMetadataStoreUrl
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
Labels: component/proxy, doc-not-needed, type/refactor

#17395 [fix][cpp] Fix potential segfault when resending messages
  pulsar-client-cpp/lib/PeriodicTask.cc
  pulsar-client-cpp/lib/ProducerImpl.cc
  pulsar-client-cpp/lib/ProducerImpl.h
Labels: type/bug, component/client-c++, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17369 [fix][flaky-test] Fix RawReaderTest.testFlowControlBatch
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
Labels: doc-not-needed

#17478 [Branch-2.10] [fix][ML] Fix offload read handle NPE.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerException.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImplV2.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: doc-not-needed, release/2.10.3

#17383 [improve][broker] Improve `backlogQuota` endpoint to pure async.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
Labels: type/improvement, component/admin, doc-not-needed

#17436 [fix][flaky-test]BatchMessageWithBatchIndexLevelTest.testBatchMessageAck
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
Labels: doc-not-needed, release/2.9.4, release/2.11.0, release/2.10.3

#17444 [doc] Update swagger file for v2.7.5
  site2/website/static/swagger/2.7.5/swagger.json
  site2/website/static/swagger/2.7.5/swaggerfunctions.json
  site2/website/static/swagger/2.7.5/swaggersink.json
  site2/website/static/swagger/2.7.5/swaggersource.json
Labels: doc-not-needed

#17035 [fix][broker]After the broker is restarted, the cache dynamic configuration is invalid
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3

#17482 [feat][python] Add basic authentication
  pulsar-client-cpp/lib/c/c_Authentication.cc
  pulsar-client-cpp/python/pulsar/__init__.py
  pulsar-client-cpp/python/pulsar_test.py
  pulsar-client-cpp/python/src/authentication.cc
Labels: component/client-python, doc-required

#17130 [fix][doc] Sync recent changes on versioned docs
  site2/docs/client-libraries-java.md
  site2/docs/cookbooks-compaction.md
  site2/docs/functions-overview.md
  site2/docs/reference-metrics.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.10.x/client-libraries-java.md
  site2/website/versioned_docs/version-2.10.x/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.10.x/io-debezium-source.md
  site2/website/versioned_docs/version-2.10.x/reference-configuration.md
  site2/website/versioned_docs/version-2.10.x/security-policy-and-supported-versions.md
  site2/website/versioned_docs/version-2.10.x/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.8.x/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.x/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.8.x/developing-binary-protocol.md
  site2/website/versioned_docs/version-2.8.x/reference-configuration.md
  site2/website/versioned_docs/version-2.8.x/tiered-storage-filesystem.md
  site2/website/versioned_docs/version-2.9.x/cookbooks-compaction.md
  site2/website/versioned_docs/version-2.9.x/io-debezium-source.md
  site2/website/versioned_docs/version-2.9.x/reference-configuration.md
  site2/website/versioned_docs/version-2.9.x/tiered-storage-filesystem.md
  wiki/release/release-process.md
Labels: doc

#17486 [fix][doc] Add verifying the client cert
  site2/docs/security-tls-authentication.md
Labels: doc

#17455 [improve][doc] Improve golang client doc
  site2/docs/client-libraries-go.md
Labels: doc

#17475 [improve][docs] Get started locally
  site2/docs/getting-started-docker.md
  site2/docs/getting-started-helm.md
  site2/docs/getting-started-home.md
  site2/docs/getting-started-standalone.md
Labels: doc

#16130 [improve][pulsar-client-tools][ISSUE-16082] - Updated set retention time description and added test cases including default time
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: doc

#17419 [fix][broker] Remove timestamp from Promtheus metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricStreams.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTestUtils.java
  pulsar-broker/src/test/resources/prometheus_metrics_sample.txt
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyPrometheusMetricsTest.java
Labels: component/metrics, release/note-required, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17378 [cleanup][broker] remove unnecessary parameters(reusefuture) and related logic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
Labels: type/cleanup, component/broker, doc-not-needed

#17381 [improve][pulsar-testclient] Add disableBatching as CLI argument for pulsar-perf-producer
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceProducerTest.java
Labels: doc-not-needed

#17479 [improve][cli] Pulsar shell: fix custom commands execution
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
Labels: component/cli, doc-not-needed, release/2.11.0, cherry-picked/branch-2.11

#17465 [improve][broker] Improve cursor.getNumberOfEntries if isUnackedRangesOpenCacheSetEnabled=true
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapper.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenLongPairRangeSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/LongPairRangeSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentOpenLongPairRangeSetTest.java
Labels: type/improvement, component/broker, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3

#17136 [improve][stats] Add ownerBroker field to topic stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/NoopLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/TopicStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
  site2/docs/admin-api-topics.md
Labels: type/improvement, doc, component/stats

#17499 [fix][docs] getting-started-standalone backlinks
  site2/docs/develop-schema.md
  site2/docs/io-quickstart.md
  site2/docs/io-use.md
  site2/docs/reference-configuration.md
  site2/docs/sql-getting-started.md
  site2/docs/tiered-storage-aliyun.md
  site2/docs/tiered-storage-aws.md
  site2/docs/tiered-storage-azure.md
  site2/docs/tiered-storage-filesystem.md
  site2/docs/tiered-storage-gcs.md
  site2/docs/tiered-storage-overview.md
  site2/docs/tiered-storage-s3.md
Labels: doc

#17506 [feature][doc] Sync 2.7.5 specific doc changes
  site2/website/versioned_docs/version-2.7.0/security-basic-auth.md
  site2/website/versioned_docs/version-2.7.1/security-basic-auth.md
  site2/website/versioned_docs/version-2.7.2/security-basic-auth.md
  site2/website/versioned_docs/version-2.7.3/security-basic-auth.md
  site2/website/versioned_docs/version-2.7.4/security-basic-auth.md
  site2/website/versioned_docs/version-2.7.5/reference-configuration.md
  site2/website/versioned_docs/version-2.7.5/security-basic-auth.md
  site2/website/versioned_sidebars/version-2.7.0-sidebars.json
  site2/website/versioned_sidebars/version-2.7.1-sidebars.json
  site2/website/versioned_sidebars/version-2.7.2-sidebars.json
  site2/website/versioned_sidebars/version-2.7.3-sidebars.json
  site2/website/versioned_sidebars/version-2.7.4-sidebars.json
  site2/website/versioned_sidebars/version-2.7.5-sidebars.json
  wiki/release/release-process.md
Labels: doc

#17511 [cleanup][broker]remove unnecessary variable in PersistentTopic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/cleanup, component/broker, doc-not-needed

#17487 [fix][flaky-test]NamespaceServiceTest.flaky/testModularLoadManagerRemoveBundleAndLoad
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: doc-not-needed, release/2.11.1

#17510 [ci] Move back DispatcherBlockConsumerTest to flaky suite
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DispatcherBlockConsumerTest.java
Labels: doc-not-needed, component/ci

#17330 [fix][ci]duplicate `modernizer-maven-plugin` config in pulsar-metadata
  pulsar-metadata/pom.xml
Labels: doc-not-needed

#17394 [fix][storage]fix OpAddEntry release error when exception in ManagedLedgerInterceptor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/MangedLedgerInterceptorImplTest.java
Labels: type/bug, component/storage, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17471 [fix][functions] Fix Java Function instance LogAppender missing logs
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: type/bug, component/function, release/blocker, doc-not-needed

#17523 [fix][broker] Fix the replicator unnecessary get schema request for BYTES schema
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerImplTest.java
Labels: type/bug, component/broker, release/blocker, doc-not-needed, release/2.10.2, release/2.9.4

#17539 [ci] Temporarily remove required jobs to unblock CI
  .asf.yaml
Labels: doc-not-needed

#17445 [feature][connectors][PIP-193] Support Transform Function with LocalRunner
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
Labels: doc-required

#17490 [improve][CI] Remove "Cancel duplicate workflows" workflow
  .github/workflows/ci-cancel-duplicate-workflows.yaml
Labels: doc-not-needed, component/ci

#17491 [improve][CI] Optimize "Pulsar Bot" workflow
  .github/workflows/ci-pulsarbot.yaml
Labels: doc-not-needed, component/ci

#17542 [ci] Extract FLAKY tests suite to a dedicated workflow
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed

#17529 Delete project-flaky-test.yml
  .github/workflows/project-flaky-test.yml
Labels: doc-not-needed

#17452 [feat][cpp] Add async receive function to C API
  pulsar-client-cpp/.gitignore
  pulsar-client-cpp/examples/CMakeLists.txt
  pulsar-client-cpp/examples/SampleAsyncConsumerCApi.c
  pulsar-client-cpp/include/pulsar/c/consumer.h
  pulsar-client-cpp/lib/c/c_Consumer.cc
  pulsar-client-cpp/tests/CMakeLists.txt
  pulsar-client-cpp/tests/c/c_BasicEndToEndTest.cc
Labels: type/feature, component/client-c++, doc-not-needed

#17402 [improve][admin] Make `getBundleRange` async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: type/improvement, component/admin, doc-not-needed

#17541 [ci] Reduce runners load for pulls that affect only doc or cpp changes
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp-build-centos7.yaml
  .github/workflows/ci-cpp-build.yaml
  .github/workflows/ci-cpp-deb-pkg.yaml
  .github/workflows/ci-cpp-rpm-pkg.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions.yaml
  .github/workflows/ci-python-build-3.9-client.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed

#17401 [fix][broker] Fix issue where leader broker information isn't available after 10 minutes
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MultiBrokerTestZKBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/MultiBrokerLeaderElectionExpirationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/MultiBrokerLeaderElectionTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataCacheConfig.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/FaultInjectionMetadataStore.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17533 [fix][doc] remove `This example uses Pulsar x.x.x`
  site2/docs/tiered-storage-aliyun.md
  site2/docs/tiered-storage-aws.md
  site2/docs/tiered-storage-azure.md
  site2/docs/tiered-storage-filesystem.md
  site2/docs/tiered-storage-gcs.md
  site2/docs/tiered-storage-s3.md
Labels: doc

#17489 [imporve][doc] Update cluster failover document
  site2/docs/client-libraries-java.md
  site2/docs/concepts-cluster-level-failover.md
  site2/website/sidebars.json
Labels: doc

#17570 [ci] Remove post-commit trigger for old release branches (2.10 and previous)
  .github/workflows/ci-build-macos.yaml
  .github/workflows/ci-cpp-build-centos7.yaml
  .github/workflows/ci-cpp-build-windows.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions-style.yaml
  .github/workflows/ci-go-functions-test.yaml
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-cli.yaml
  .github/workflows/ci-integration-function.yaml
  .github/workflows/ci-integration-messaging.yaml
  .github/workflows/ci-integration-process.yaml
  .github/workflows/ci-integration-pulsar-io-ora.yaml
  .github/workflows/ci-integration-pulsar-io.yaml
  .github/workflows/ci-integration-schema.yaml
  .github/workflows/ci-integration-sql.yaml
  .github/workflows/ci-integration-standalone.yaml
  .github/workflows/ci-integration-thread.yaml
  .github/workflows/ci-integration-tiered-filesystem.yaml
  .github/workflows/ci-integration-tiered-jcloud.yaml
  .github/workflows/ci-integration-transaction.yaml
  .github/workflows/ci-license.yaml
  .github/workflows/ci-owasp-dep-check.yaml
  .github/workflows/ci-python-build-3.9-client.yaml
  .github/workflows/ci-shade-test.yaml
  .github/workflows/ci-unit-broker-broker-gp.yaml
  .github/workflows/ci-unit-broker-client-api.yaml
  .github/workflows/ci-unit-broker-client-impl.yaml
  .github/workflows/ci-unit-broker-jdk8.yaml
  .github/workflows/ci-unit-broker-other.yaml
  .github/workflows/ci-unit-proxy.yaml
  .github/workflows/ci-unit.yaml
Labels: doc-not-needed, release/2.9.4, release/2.8.5, release/2.7.6, release/2.10.3

#17494 [ci] Add branch-2.11 to periodic owasp check
  .github/workflows/ci-owasp-dependency-check.yaml
Labels: doc-not-needed

#17062 [build][sql] Make pulsar-trino-disto self-contained
  .github/workflows/ci-owasp-dep-check.yaml
  bin/pulsar
  distribution/server/src/assemble/bin.xml
  docker-compose/kitchen-sink/docker-compose.yml
  docker/pulsar/Dockerfile
  pulsar-sql/presto-distribution/src/assembly/assembly.xml
  pulsar-sql/presto-distribution/src/main/resources/conf/catalog/pulsar.properties
  pulsar-sql/presto-distribution/src/main/resources/conf/config.properties
  pulsar-sql/presto-distribution/src/main/resources/conf/jvm.config
  pulsar-sql/presto-distribution/src/main/resources/conf/log.properties
  src/check-binary-license.sh
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/scripts/run-presto-worker.sh
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/PrestoWorkerContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: doc-not-needed

#17564 [improve][ci] Replace latest os images with fixed ones (ubuntu and macos)
  .github/workflows/ci-cpp-build.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-documentbot.yml
  .github/workflows/ci-go-functions.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dep-check.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/ci-pulsarbot.yaml
  .github/workflows/ci-stale-issue-pr.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed

#17566 Revert "[fix] Combination of autocreate + forced delete of partitioned topic with active consumer leaves topic metadata inconsistent. (#17308)"
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMultiBrokersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ExclusiveProducerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topics/TestTopicDeletion.java
Labels: doc-label-missing

#17556 [fix][broker] Fix potential exception causing the reader to be unable to continue reading
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
Labels: type/bug, component/broker, doc-not-needed, cherry-picked/branch-2.10, cherry-picked/branch-2.11

#17569 [improve][ci] Remove post commit builds and add manual workflows trigger
  .github/workflows/ci-cpp-build.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/ci-go-functions.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, release/2.11.1

#17578 [improve][misc] reduce WhiteBox usage
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/PulsarClientTool.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/shell/PulsarShellTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
Labels: doc-not-needed

#17483 [fix][broker] Multiple consumer dispatcher stuck when `unackedMessages` greater than `maxUnackedMessages`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeySharedSubscriptionTest.java
Labels: type/bug, component/broker, release/blocker, doc-not-needed, release/2.10.2, release/2.9.4

#17421 [improve][broker][PIP-149]make setPersistence method async in Namespaces
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: type/improvement, component/admin, doc-not-needed

#17198 [feature][doc] Generate client config docs from source code
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/BaseGenerateDocumentation.java
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/CmdGenerateDocumentation.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ReaderConfigurationData.java
Labels: doc, website

#17579 [improve][test] remove WhiteBox on MockZooKeeper
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
Labels: doc-not-needed

#17584 [fix][CI] Don't run "Pulsar CI checks completed" too early and fix disk space issue in saving docker image
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci

#17582 [improve][test] Remove WhiteBox for ElasticSearchSinkTests
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/elastic/ElasticSearchJavaRestClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/opensearch/OpenSearchHighLevelRestClient.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
  testmocks/pom.xml
Labels: doc-not-needed

#17546 [fix][flaky-test]PulsarFunctionTlsTest.testFunctionsCreation
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
Labels: flaky-tests, doc-not-needed

#17565 [improve][ci] Skip MacOS build for cpp-only changes
  .github/workflows/ci-cpp-build.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed

#17586 [fix][CI] Follow-up fix for don't run "Pulsar CI checks completed" too early
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci

#17568 [ci] Move owasp check into the main workflow
  .github/changes-filter.yaml
  .github/workflows/ci-owasp-dep-check.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed

#17594 [fix][misc] Fix invalid comment ending delimiter in flaky test issue template
  .github/ISSUE_TEMPLATE/flaky-test.yml
Labels: doc-not-needed, component/ci

#17590 [improve][misc] CI status on README.md
  README.md
Labels: doc

#17591 [improve][broker] Make log flushing configurable in Pulsar broker
  bin/pulsar
  bin/pulsar-admin-common.cmd
  bin/pulsar-admin-common.sh
  bin/pulsar-perf
  bin/pulsar-perf.cmd
  conf/log4j2.yaml
Labels: doc-required

#17562 [fix][broker] Topic policy reader can't recover when get any exception.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
Labels: component/broker, doc-not-needed, release/2.10.2, release/2.9.4, release/2.8.5, release/2.11.1, release/2.7.6

#16936 [improve][doc] Document configuration added by PIP-145
  conf/broker.conf
  conf/standalone.conf
Labels: doc

#17349 [improve][broker]Only create extended partitions when updating partition number
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/broker, doc-not-needed, release/2.11.1

#16946 [Improve][Broker]Reduce GetReplicatedSubscriptionStatus local REST call
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: type/improvement, component/broker, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3

#17559 [fix][broker] Fix potential can't remove producer/reader reference
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClientBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TopicPoliciesSystemTopicClient.java
Labels: type/bug, component/broker, doc-not-needed

#17538 [improve][cpp] Upgrade OpenSSL to version 1.1.1n
  pulsar-client-cpp/docker/alpine/Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile-alpine-3.8
  pulsar-client-cpp/docker/manylinux1/Dockerfile
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/rpm/Dockerfile
Labels: type/improvement, component/client-c++, doc-not-needed, release/2.10.2

#17597 [fix][functions] Fix K8S download function method with auth enabled
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: component/function, doc-not-needed

#17527 [fix][client]Fix scheduledExecutorProvider not shutdown
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/bug, component/client-java, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.0

#17571 [ci] Move cpp-tests job inside Pulsar CI workflow
  .asf.yaml
  .github/workflows/ci-cpp.yaml
  .github/workflows/pulsar-ci.yaml
  pulsar-functions/instance/src/scripts/run_python_instance_tests.sh
Labels: doc-not-needed, component/ci

#17614 [fix][cpp] Fix libcurl build failure when building deb package
  .github/workflows/pulsar-ci.yaml
  pulsar-client-cpp/docker/alpine/Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile-alpine-3.8
  pulsar-client-cpp/docker/manylinux1/Dockerfile
  pulsar-client-cpp/docker/manylinux2014/Dockerfile
  pulsar-client-cpp/docker/manylinux_musl/Dockerfile
  pulsar-client-cpp/pkg/deb/Dockerfile
  pulsar-client-cpp/pkg/rpm/Dockerfile
Labels: type/bug, component/client-c++, doc-not-needed

#17374 [fix][broker]fix catching ConflictException when update topic partition
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: type/bug, doc-not-needed, release/2.11.1

#17624 [cleanup][client]Removing null-check finalEx in ProducerImpl.OpSendMsg.sendComplete
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/cleanup, doc-not-needed

#17602 [fix][broker] Fix SystemTopicBasedTopicPoliciesService NPE issue
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
Labels: type/bug, component/broker, doc-label-missing, release/2.10.3

#17600 [improve][pulsar-proxy] Update proxy lookup throw exception type
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
Labels: type/improvement, component/proxy, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3

#17521 [improve][doc] Use Text Blocks to improve JSON text
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourcesBase.java
  pulsar-io/batch-data-generator/src/main/java/org/apache/pulsar/io/batchdatagenerator/Person.java
Labels: doc

#17512 [fix][tiered-storage] Don't cleanup data when offload met Metastore exception
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/improvement, component/tieredstorage, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17601 [improve][doc] improve pulsar I/O document
  site2/docs/io-quickstart.md
Labels: doc

#17332 [feature][cpp] Expose Chunking configuration C API
  pulsar-client-cpp/include/pulsar/c/consumer_configuration.h
  pulsar-client-cpp/include/pulsar/c/producer_configuration.h
  pulsar-client-cpp/lib/c/c_ConsumerConfiguration.cc
  pulsar-client-cpp/lib/c/c_ProducerConfiguration.cc
  pulsar-client-cpp/tests/c/c_ConsumerConfigurationTest.cc
  pulsar-client-cpp/tests/c/c_ProducerConfigurationTest.cc
Labels: type/feature, component/client-c++, doc-not-needed

#17461 [fix][license] Update the jsr version in the presto license file
  pulsar-sql/presto-distribution/LICENSE
Labels: component/build, doc-not-needed

#17344 [feat][broker][PIP-195] New bucket based delayed message tracker - interface&config&proto -part 1
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/BucketSnapshotStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/main/proto/DelayedMessageIndexBucketSnapshotFormat.proto
Labels: type/feature, component/broker, doc-not-needed

#16758 [improve][txn] PIP-160 Metrics stats of Transaction buffered writer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/validator/TransactionBatchedWriteValidator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/validator/package-info.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStoreTest.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/TxnLogBufferedWriter.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/TxnLogBufferedWriterMetricsStats.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/impl/TxnLogBufferedWriterTest.java
Labels: component/transaction, component/metrics, doc-not-needed

#17592 Issue 17588: Allow deletion of a namespace that was left in deleted status
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.1

#17619 [fix][cli] Pulsar shell: ensure admin client is recycled or disposed
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminSupplier.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/shell/AdminShell.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/shell/AdminShellTest.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/shell/PulsarShellTest.java
Labels: component/tool, doc-not-needed

#17628 docs: update the reference link
  site2/docs/reference-configuration.md
Labels: doc

#17432 [broker] Do not log stacktrace for 'Failed to flush mark-delete position' case
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: component/broker, doc-not-needed

#17620 [fix][metadata] Don't execute Bookkeeper metadata callbacks on Zookeeper event thread
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClient.java
Labels: doc-not-needed, component/metadata

#17543 [fix][admin] Add SNI header when tlsHostnameVerification is not enabled
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/WithSNISslEngineFactory.java
Labels: type/bug, component/admin, release/2.10.2, release/2.9.4, release/2.8.5, release/2.7.6

#17023 [refactor][java-client] Reduce code duplication in GET requests in admin client
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BaseResource.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ClustersImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/LookupImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SchemasImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SinksImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SourcesImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/WorkerImpl.java
Labels: component/client, type/cleanup, doc-not-needed

#17450 [improve][test] Add integration test for additional servlets
  tests/docker-images/java-test-plugins/src/main/java/org/apache/pulsar/tests/integration/plugins/RandomAdditionalServlet.java
  tests/docker-images/java-test-plugins/src/main/resources/META-INF/services/additional_servlet.yml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/plugins/TestAdditionalServlets.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterTestBase.java
  tests/integration/src/test/resources/pulsar-plugin.xml
Labels: component/test, doc-not-needed

#17645 [fix][cpp] Fix flaky testReferenceCount
  pulsar-client-cpp/tests/ClientTest.cc
  pulsar-client-cpp/tests/WaitUtils.h
Labels: component/client-c++, flaky-tests, doc-not-needed, release/2.9.4, release/2.11.0, release/2.8.5, release/2.10.3

#17627 [improve][test] Improve the ClusterMetadataSetupTest to reduce the execution time
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
Labels: type/improvement, component/test, doc-not-needed

#17649 [improve][broker] Add a constructor method for NettyServerSslContextBuilder.
  pulsar-common/src/main/java/org/apache/pulsar/common/util/NettyServerSslContextBuilder.java
Labels: type/improvement, component/broker, doc-not-needed

#17548 [improve][txn] Implementation of Delayed Transaction Messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
Labels: type/feature, component/transaction, doc-not-needed, release/2.9.4, release/2.11.0, release/2.10.3

#17652 [fix][broker] Unregister topic policy listener if managed ledger close failed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/bug, component/broker, doc-label-missing, release/2.9.4, release/2.11.1, release/2.10.3

#17230 [improve][admin] Make deleteNamesapce api async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: type/improvement, component/admin, doc-not-needed

#17315 [improve][broker]prevent partitioned metadata lookup request when broker is closing
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/utils/ClientChannelHelper.java
Labels: component/broker, doc-not-needed

#17603 [fix][doc] Fix wordings/links and remove unused file/section
  site2/docs/admin-api-overview.md
  site2/docs/client-libraries-java.md
  site2/docs/client-libraries-python.md
  site2/docs/client-libraries-websocket.md
  site2/docs/concepts-replication.md
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/functions-develop.md
  site2/docs/functions-worker-temp-file-path.md
  site2/docs/functions-worker.md
  site2/docs/io-elasticsearch.md
  site2/docs/performance-pulsar-perf.md
  site2/website/sidebars.json
  site2/website/versioned_docs/version-2.10.x/client-libraries-java.md
  site2/website/versioned_docs/version-2.10.x/client-libraries-python.md
  site2/website/versioned_docs/version-2.10.x/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.10.x/concepts-replication.md
  site2/website/versioned_docs/version-2.10.x/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.8.x/client-libraries-java.md
  site2/website/versioned_docs/version-2.8.x/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.8.x/deploy-bare-metal-multi-cluster.md
  site2/website/versioned_docs/version-2.9.x/client-libraries-websocket.md
  site2/website/versioned_docs/version-2.9.x/deploy-bare-metal-multi-cluster.md
Labels: doc

#17658 [C++] Reset `havePendingPingRequest` flag for any data received from broker
  pulsar-client-cpp/lib/ClientConnection.cc
Labels: type/improvement, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17503 [bug][cpp] Fix issue where unexpected ack timeout occurred
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc
  pulsar-client-cpp/lib/MultiTopicsConsumerImpl.h
  pulsar-client-cpp/tests/ConsumerTest.cc
Labels: type/bug, component/client-c++, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17659 [fix][build] duplicate entry when merging services
  buildtools/pom.xml
  pom.xml
Labels: component/build, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17606 [improve][CI] Ensure that ssh-access is only activated for PRs outside of apache/pulsar repo
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci

#17410 [fix][cpp] Support retry and apply operation timeout for lookup requests
  pulsar-client-cpp/include/pulsar/Result.h
  pulsar-client-cpp/lib/BinaryProtoLookupService.cc
  pulsar-client-cpp/lib/ClientConnection.cc
  pulsar-client-cpp/lib/ClientImpl.cc
  pulsar-client-cpp/lib/ClientImpl.h
  pulsar-client-cpp/lib/HTTPLookupService.cc
  pulsar-client-cpp/lib/HandlerBase.cc
  pulsar-client-cpp/lib/Result.cc
  pulsar-client-cpp/lib/RetryableLookupService.h
  pulsar-client-cpp/lib/ServiceNameResolver.h
  pulsar-client-cpp/lib/SynchronizedHashMap.h
  pulsar-client-cpp/lib/Utils.h
  pulsar-client-cpp/tests/ClientTest.cc
  pulsar-client-cpp/tests/LookupServiceTest.cc
  pulsar-client-cpp/tests/PulsarFriend.h
Labels: type/bug, component/client-c++, doc-not-needed

#17632 [improve][broker] Cancel the loadShedding task when closing pulsar service
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadSheddingTask.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/PulsarServiceCloseTest.java
Labels: type/improvement, component/broker, release/blocker, doc-not-needed, release/2.10.2

#17648 [fix][cli] Pulsar shell: support relative paths (cliextensions)
  bin/pulsar-shell
  bin/pulsar-shell.cmd
Labels: doc-not-needed, release/2.11.0
