Repository apache/pulsar, pull requests merged in 2022-10, with the labels that each got.

#17884 [improve][broker]add active status into cursor stats
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/stats/client/PulsarBrokerStatsClientTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ManagedLedgerInternalStats.java
Labels: doc-not-needed

#17909 [fix][broker] Fix the broker shutdown issue after Zookeeper node crashed
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3, ready-to-test

#17854 [improve][java-client]Shrink BatchMessageContainer maxBatchSize
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AbstractBatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageContainerImplTest.java
Labels: doc-not-needed

#17711 [feat][broker]PIP-180 Shadow Topic - Part V - Support shadow topic creation.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStore.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/ShadowTopicTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: doc, type/feature, component/broker, ready-to-test

#17842 [improve][broker]Improve PersistentMessageExpiryMonitor expire speed when ledger not existed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerException.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/MockManagedLedger.java
Labels: doc-not-needed

#17862 [improve][pulsar-testclient] Add proxyServiceUrl and proxyProtocol as options for PerfTool CLI
  conf/client.conf
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerfClientUtils.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceBaseArguments.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerfClientUtilsTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceBaseArgumentsTest.java
  pulsar-testclient/src/test/resources/perf_client1.conf
Labels: doc-not-needed, ready-to-test

#17914 Revert "Make BookieId work with PulsarRegistrationDriver (#17762)"
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/BookieServiceInfoSerde.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClient.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClientTest.java
Labels: doc-label-missing, ready-to-test

#17920 [cleanup] properly comment out chunk
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc-not-needed

#17793 improve issue templates wordings
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/doc.yml
  .github/ISSUE_TEMPLATE/pip.yml
  .github/changes-filter.yaml
Labels: doc-not-needed

#17930 [fix][testclient] Fix proxyProtocol parsing when value is empty, fix invalid property name
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceBaseArguments.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerfClientUtilsTest.java
  pulsar-testclient/src/test/resources/perf_client1.conf
Labels: doc-not-needed, ready-to-test

#17926 [fix][ci] CI: fix required jobs check
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test

#17942 [fix][doc] There are some typos in ManagedLedgerConfig
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
Labels: doc-not-needed

#17935 [doc]Make node and c++ client compatibility table a link to github
  site2/docs/client-libraries-node.md
Labels: doc

#17919 [cleanup] reference to C++ and Python client
  .gitignore
  LICENSE
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  site2/docs/client-libraries-cpp.md
  site2/docs/client-libraries.md
  site2/docs/functions-develop-serde.md
  src/assembly-source-package.xml
  wiki/release/release-process.md
Labels: doc, ready-to-test

#17833 [refactor][java] Unify the acknowledge process for batch and non-batch message IDs
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConsumerAckResponseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConsumerAckTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
Labels: component/client, doc-not-needed, type/refactor, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#17955 [docs][bugfix] Fix set-persistence parameters
  site2/docs/administration-zk-bk.md
Labels: doc

#17863 [doc][improve] update concepts-messaging.md
  site2/docs/concepts-messaging.md
Labels: doc

#17959 [fix][connector] Kinesis sink: fix NPE with KeyValue schema and no value
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/Utils.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/UtilsTest.java
Labels: doc-not-needed, ready-to-test

#17965 [test] Fix broken test by PIP-180
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: component/test, doc-not-needed, ready-to-test

#17864 [fix][broker] Fix create ns
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-broker/src/test/java/org/apache/pulsar/PulsarStandaloneTest.java
Labels: component/broker, release/blocker, doc-not-needed, release/2.11.1, ready-to-test

#17753 [improve][broker]Skip numOfEntriesToRead entries instead of skipping a ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/PositionImpl.java
Labels: doc-not-needed

#17910 [fix][client] When the compressed message size exceeds maxMessageSize, the information in the InvalidMessageException may be incorrect
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, component/client-java, doc-not-needed

#17797 [fix][broker] Update new bundle-range to policies after bundle split
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: doc-not-needed

#17969 [cleanup][broker]remove methods no longer used in AdminResource #7
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
Labels: doc-not-needed

#17961 [feat][ci] enable semantic pull request title check
  .github/workflows/ci-semantic-pull-request.yml
Labels: doc, component/ci, ready-to-test

#17957 [fix][broker]unify time unit at dropping the backlog on a topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
Labels: type/bug, doc-not-needed, release/2.11.1, release/2.10.3

#17968 [cleanup][broker][Modernizer] fix violations in pulsar-broker
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/InterceptFilterOutTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/ProcessHandlerFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerRedeliveryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DispatcherBlockConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MutualAuthenticationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PatternMultiTopicsConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/RetryTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleTypedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenAuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenOauth2AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/AdminApiKeyStoreTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionPoolTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageParserTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MultiTopicsReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ZeroQueueSizeTest.java
Labels: doc-not-needed

#17975 [improve][test] Improve AdminApi2Test to reduce the execution time
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: component/test, doc-not-needed, ready-to-test

#17954 [clean][pom]remove unused scala-library.version from pom.xml
  pom.xml
Labels: type/cleanup, doc-not-needed, ready-to-test, dependencies

#17816 [fix][broker] add return for PersistentMessageExpiryMonitor#findEntryFailed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
Labels: type/bug, component/broker, doc-not-needed, release/2.10.1, release/2.9.4, release/2.10.3, ready-to-test

#17853 [fix][doc] Rewrite the steps of docker-deploy
  site2/docs/deploy-docker.md
Labels: doc

#17134 [fix][broker] Update 404 message for deleteSubscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
Labels: doc-not-needed

#17956 [Doc][bugfix] Example broke Ensemble>=WriteQuorum>=AckQuorum Rule
  site2/docs/administration-zk-bk.md
Labels: doc

#17318 [fix][client] Messages with inconsistent consumer epochs are not filtered when using batch receive and trigger timeout.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MultiTopicsConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageRedeliveryTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageRedeliveryTracker.java
Labels: type/bug, component/client, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3

#17694 [fix][broker] Fix executeWithRetry result is null
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3

#17887 [improve][test] Improve SimpleProducerConsumerTest to reduce the execution time
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/test, doc-not-needed, ready-to-test

#17911 [fix][broker]Fix mutex never released when trimming
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed, ready-to-test

#17970 [fix][broker] Fix incorrect bundle split count metric
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  site2/docs/reference-metrics.md
  site2/website/versioned_docs/version-2.10.0-deprecated/reference-metrics.md
  site2/website/versioned_docs/version-2.6.0/reference-metrics.md
  site2/website/versioned_docs/version-2.6.1/reference-metrics.md
  site2/website/versioned_docs/version-2.6.2/reference-metrics.md
  site2/website/versioned_docs/version-2.6.3/reference-metrics.md
  site2/website/versioned_docs/version-2.6.4/reference-metrics.md
  site2/website/versioned_docs/version-2.7.0/reference-metrics.md
  site2/website/versioned_docs/version-2.7.1/reference-metrics.md
  site2/website/versioned_docs/version-2.7.2/reference-metrics.md
  site2/website/versioned_docs/version-2.7.3/reference-metrics.md
  site2/website/versioned_docs/version-2.7.4/reference-metrics.md
  site2/website/versioned_docs/version-2.8.0-deprecated/reference-metrics.md
  site2/website/versioned_docs/version-2.8.1-deprecated/reference-metrics.md
  site2/website/versioned_docs/version-2.8.2-deprecated/reference-metrics.md
  site2/website/versioned_docs/version-2.8.3-deprecated/reference-metrics.md
  site2/website/versioned_docs/version-2.9.0-deprecated/reference-metrics.md
  site2/website/versioned_docs/version-2.9.1-deprecated/reference-metrics.md
  site2/website/versioned_docs/version-2.9.2-deprecated/reference-metrics.md
Labels: doc, component/broker, release/2.9.4, release/2.11.1, release/2.10.3, ready-to-test

#17991 [fix][doc] SVG files and references
  site2/docs/assets/batching.svg
  site2/docs/assets/consumer.svg
  site2/docs/assets/message-deduplication.svg
  site2/docs/assets/message-delay.svg
  site2/docs/assets/pub-sub-border.svg
  site2/docs/assets/pulsar-exclusive-subscriptions.svg
  site2/docs/assets/pulsar-failover-subscriptions.svg
  site2/docs/assets/pulsar-key-shared-subscriptions.svg
  site2/docs/assets/pulsar-shared-subscriptions.svg
  site2/docs/assets/retention-expiry.svg
  site2/docs/concepts-messaging.md
  site2/docs/deploy-docker.md
Labels: doc

#17951 [improve][connector] JDBC sink: allow any jdbc driver
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcAbstractSink.java
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcDriverType.java
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcUtils.java
Labels: doc-not-needed, ready-to-test

#17999 [improve][doc] Add doc preview reminder to PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/changes-filter.yaml
Labels: doc, ready-to-test

#18002 [fix][ci] Use GitHub Actions versions that aren't deprecated
  .github/workflows/ci-go-functions.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed

#17382 [improve][CI] Generate unit test code coverage reports and upload to Codecov
  .github/workflows/pulsar-ci.yaml
  build/run_unit_group.sh
  codecov.yml
  pom.xml
Labels: doc-not-needed, component/ci, ready-to-test

#17950 [fix][io] JDBC sinks: verify key and nonKey fields are set with insertMode=UPSERT
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/BaseJdbcAutoSchemaSink.java
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcAbstractSink.java
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcUtils.java
  pulsar-io/jdbc/mariadb/src/main/java/org/apache/pulsar/io/jdbc/MariadbJdbcAutoSchemaSink.java
  pulsar-io/jdbc/postgres/src/main/java/org/apache/pulsar/io/jdbc/PostgresJdbcAutoSchemaSink.java
  pulsar-io/jdbc/sqlite/src/main/java/org/apache/pulsar/io/jdbc/SqliteJdbcAutoSchemaSink.java
Labels: doc-not-needed, ready-to-test

#17661 [fix][bookie] Correctly handle list configuration values
  pulsar-broker-common/src/main/java/org/apache/pulsar/bookie/rackawareness/BookieRackAffinityMapping.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/bookie/rackawareness/ConfigurationStringUtil.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/bookie/rackawareness/IsolatedBookieEnsemblePlacementPolicy.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/bookie/rackawareness/BookieRackAffinityMappingTest.java
Labels: type/bug, component/bookkeeper, doc-not-needed

#17990 [feat][doc] Add Pulsar Release Note Guide
  wiki/assets/release-note-guide-1.png
  wiki/release/release-note-guide.md
  wiki/release/release-process.md
Labels: doc, ready-to-test

#17997 [improve][ci] Avoid PR title check on synchronized
  .github/workflows/ci-semantic-pull-request.yml
Labels: doc-not-needed

#17986 [fix][broker][branch-2.9] Fix system topic schema not compatible bug
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicServiceTest.java
Labels: type/bug, component/broker, release/2.9.4

#17903 [cleanup][broker] remove unused method getTotalServiceUnitsLoaded
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: doc-not-needed

#17795 [fix][client] Fix deadlock when sending chunked messages with BlockIFQueueFull enabled
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, component/client-java, doc-not-needed, ready-to-test

#16225 [improve][broker] ServerCnx: log at warning level when topic not found
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/improvement, component/broker, doc-not-needed, release/2.10.3

#17993 [fix][test] Fix flaky test `testSplitBundleForMultiTimes`.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#17948 [improve][client] Refactor SchemaHash to reduce call of hashFunction in SchemaHash
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/BooleanSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ByteBufSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ByteBufferSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ByteSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/BytesSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/DateSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/DoubleSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/FloatSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/InstantSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/IntSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/JSONSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LocalDateSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LocalDateTimeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LocalTimeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/LongSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ShortSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/StringSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/TimeSchema.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/TimestampSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaInfoTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/StringSchemaTest.java
  pulsar-common/src/main/java/org/apache/pulsar/client/impl/schema/SchemaInfoImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaHash.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: type/improvement, release/blocker, doc-not-needed, release/2.10.2, release/2.9.4, release/2.11.0, ready-to-test

#17995 [fix][broker] Fix memory leak in case of error conditions in PendingReadsManager
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/PendingReadsManager.java
Labels: type/bug, component/broker, release/blocker, doc-not-needed, ready-to-test

#18013 [improve][common] Add thread name for RateLimiter.
  pulsar-common/src/main/java/org/apache/pulsar/common/util/RateLimiter.java
Labels: type/improvement, doc-not-needed, ready-to-test

#17998 [improve][broker] Avoid unnecessary creation of BitSetRecyclable objects
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/improvement, component/broker, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3

#18005 [refactor][client] Remove useless locks in batch receiving
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
Labels: component/client, doc-not-needed, type/refactor

#17976 [improve][broker] Make CompactedTopicImpl.findStartPointLoop work more efficiently
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicImplTest.java
Labels: type/improvement, component/broker, doc-not-needed

#18000 [fix][broker] Fix the order of resource close in the InMemoryDelayedDeliveryTracker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/InMemoryDeliveryTrackerTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3, ready-to-test

#17980 [improve][test] Improve AdminApiTest to reduce the execution time
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: component/test, doc-not-needed, ready-to-test

#17867 [fix][broker] Fix system service namespace create internal event topic.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/PartitionedSystemTopicTest.java
Labels: type/improvement, component/broker, doc-not-needed, ready-to-test

#18003 [improve][docs] Improve docs for persistence policies parameters E, Qw and Qa.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  site2/docs/administration-zk-bk.md
Labels: doc

#17971 [fix][broker] Fix `getPositionAfterN` infinite loop.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3, ready-to-test

#18025 [improve][misc] Highlight change to threading
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc-not-needed

#17861 [fix][test] flaky AdminApi2Test.cleanup
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#18027 [improve][test] Improve KeySharedSubscriptionTest to reduce the execution time
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: component/test, doc-not-needed, ready-to-test

#18024 [fix][broker] Update the log print content of createSubscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3, ready-to-test

#18032 [improve][test] Improve SimpleSchemaTest to reduce the execution time
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
Labels: component/test, doc-not-needed, ready-to-test

#18033 [fix][doc] Fix the grammar error in docs
  site2/docs/security-overview.md
  site2/website/versioned_docs/version-2.1.0-incubating/security-overview.md
  site2/website/versioned_docs/version-2.1.1-incubating/security-overview.md
  site2/website/versioned_docs/version-2.10.0-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.10.1-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.10.x/security-overview.md
  site2/website/versioned_docs/version-2.2.0/security-overview.md
  site2/website/versioned_docs/version-2.2.1/security-overview.md
  site2/website/versioned_docs/version-2.3.0/security-overview.md
  site2/website/versioned_docs/version-2.3.1/security-overview.md
  site2/website/versioned_docs/version-2.3.2/security-overview.md
  site2/website/versioned_docs/version-2.5.0/security-overview.md
  site2/website/versioned_docs/version-2.5.1/security-overview.md
  site2/website/versioned_docs/version-2.5.2/security-overview.md
  site2/website/versioned_docs/version-2.6.0/security-overview.md
  site2/website/versioned_docs/version-2.6.1/security-overview.md
  site2/website/versioned_docs/version-2.6.2/security-overview.md
  site2/website/versioned_docs/version-2.6.3/security-overview.md
  site2/website/versioned_docs/version-2.6.4/security-overview.md
  site2/website/versioned_docs/version-2.7.0/security-overview.md
  site2/website/versioned_docs/version-2.7.1/security-overview.md
  site2/website/versioned_docs/version-2.7.2/security-overview.md
  site2/website/versioned_docs/version-2.7.3/security-overview.md
  site2/website/versioned_docs/version-2.7.4/security-overview.md
  site2/website/versioned_docs/version-2.7.5/security-overview.md
  site2/website/versioned_docs/version-2.8.0-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.8.1-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.8.2-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.8.3-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.8.x/security-overview.md
  site2/website/versioned_docs/version-2.9.0-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.9.1-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.9.2-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.9.3-deprecated/security-overview.md
  site2/website/versioned_docs/version-2.9.x/security-overview.md
Labels: doc

#18031 [fix][io] Remove unused import statement in the MariadbJdbcAutoSchemaSink
  pulsar-io/jdbc/mariadb/src/main/java/org/apache/pulsar/io/jdbc/MariadbJdbcAutoSchemaSink.java
Labels: component/build, doc-not-needed, ready-to-test

#18019 [fix][io] Fix builtin sink transformation on k8s
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
Labels: type/bug, component/function, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#18043 [fix][test] Fix flaky test AdminApi2Test.resetClusters
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/CanPausedNamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DispatcherBlockConsumerTest.java
Labels: component/test, doc-not-needed, ready-to-test

#17856 [fix] [pulsar-client] Fix pendingLookupRequestSemaphore leak when channel inactive
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
Labels: type/bug, component/client, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3, ready-to-test

#18047 [improve][doc] Update workflow of submitting release note
  wiki/release/release-note-guide.md
Labels: doc

#16045 [cleanup][proxy] Use correct address for HAProxyMessage destination
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
Labels: type/cleanup, component/proxy, doc-not-needed

#18044 [fix][io] Fix builtin connector/function download filename
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
Labels: component/function, doc-not-needed, ready-to-test

#18053 [fix][sec] Bump commons-text to 1.10.0 fix CVE-2022-42889
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed

#18054 [improve][doc] Add link to C++ and Python client to README.md
  README.md
Labels: doc

#18048 [fix][ci] Fix deprecation warnings about set-output in GitHub Action workflows
  .github/workflows/ci-go-functions.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test

#18050 [fix][broker] Make full async call in PulsarAuthorizationProvider
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
Labels: component/broker, doc-not-needed

#17922 Make BookieId work with PulsarRegistrationDriver (second take)
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/BookieServiceInfoSerde.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClient.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClientTest.java
Labels: doc-not-needed, ready-to-test

#16944 [improve][authentication][branch-2.9] Improve get the basic authentication config
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasic.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasicTest.java
  pulsar-broker-common/src/test/resources/authentication/basic/.htpasswd
  pulsar-common/src/main/java/org/apache/pulsar/client/api/url/URL.java
Labels: Stale, release/2.9.4

#17958 [Improve][doc] Insist about default behaviour for retention.
  site2/docs/cookbooks-retention-expiry.md
Labels: doc

#17746 [fix][test] Fix TransactionTest failure due to clean up after class
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#17869 [fix][test] AdvertisedListenersTest.setup
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MultiBrokerBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AdvertisedListenersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/protocol/SimpleProtocolHandlerTestsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/PortManager.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/PortManagerTest.java
  pulsar-package-management/bookkeeper-storage/src/test/java/org/apache/pulsar/packages/management/storage/bookkeeper/bookkeeper/test/BookKeeperClusterTestCase.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/extensions/SimpleProxyExtensionTestBase.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#17992 [improve][broker] Add test case for system topic schema not compatible bug.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicServiceTest.java
Labels: component/test, component/broker, doc-not-needed, release/2.11.1, release/2.10.3, ready-to-test

#18039 [improve][test] Improve SubscriptionMessageDispatchThrottlingTest to reduce the execution time
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
Labels: component/test, doc-not-needed, ready-to-test

#18058 [fix][client][txn] Use PulsarClient HashWheelTimer to schedule producer batch trigger task
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/improvement, component/client-java, doc-not-needed, release/2.9.4

#18020 [fix][sec] Upgrade JacksonXML to 2.13.4
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, doc-not-needed, ready-to-test

#17734 [improve][doc] Add options to stats and partitioned-stats
  site2/docs/reference-pulsar-admin.md
Labels: doc

#17505 [cleanup][broker] Delete unuse metrics of zk_write_latency and zk_read_latency
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerOperabilityMetrics.java
Labels: type/cleanup, component/broker, doc-not-needed

#17902 [improve][fn] Run connectors extraction in parallel
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
Labels: doc-not-needed, ready-to-test

#18061 [fix][admin] Fix NPE when get `OffloadThreshold` on namespace.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: type/bug, component/admin, doc-not-needed, release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3, ready-to-test

#18018 [fix][ci] Upload to codecov only upstream pull requests
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#18051 [feat][doc] Separate CLI docs for doc gen automation
  site2/docs/reference-cli-bookkeeper.md
  site2/docs/reference-cli-broker-tool.md
  site2/docs/reference-cli-pulsar-daemon.md
  site2/docs/reference-cli-pulsar-shell.md
  site2/docs/reference-cli-tools.md
Labels: doc, ready-to-test

#18022 [fix][sec] File tiered storage: upgrade jettison to get rid of CVE-2022-40149
  pom.xml
Labels: component/dependency, doc-not-needed, ready-to-test

#18068 [fix][ci] Ensure to run setup method in SimpleProducerConsumerTest
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: component/test, doc-not-needed, ready-to-test

#18075 [fix][test] Fix flaky test V1_ProducerConsumerTest#testActiveAndInActiveConsumerEntryCacheBehavior.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
Labels: component/test, doc-not-needed, ready-to-test

#18082 [improve][ci] Add `ml` for CI semantic check.
  .github/workflows/ci-semantic-pull-request.yml
Labels: doc-not-needed, component/ci, ready-to-test

#18077 [fix][test] Fix flaky test: PrometheusMetricsTest.testDuplicateMetricTypeDefinitions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStoreProvider.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/impl/MLTransactionMetadataStoreProvider.java
Labels: component/broker, doc-not-needed, ready-to-test

#18065 [fix][ci] deprecation warnings about set-output
  .github/workflows/ci-semantic-pull-request.yml
Labels: doc-not-needed, ready-to-test

#18066 [improve][broker]Avoid runtime check hasFilter in EntryFilterSupport
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryFilterSupport.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/plugin/FilterEntryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
Labels: type/improvement, component/broker, doc-not-needed

#18086 [fix][sec] Upgrade protobuf to 3.19.6 to get rid of CVE-2022-3171
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, release/2.9.4, release/2.10.3, ready-to-test

#18098 [fix] Fixed delayed delivery after read operation error
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
Labels: type/bug, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3, ready-to-test

#18071 [feat][doc] Add various doc contribution guides
  site2/README.md
  site2/doc-guides/assets/contribution-1.png
  site2/doc-guides/assets/contribution-2.png
  site2/doc-guides/assets/contribution-3.png
  site2/doc-guides/assets/naming-1.png
  site2/doc-guides/assets/preview-1.png
  site2/doc-guides/assets/preview-2.png
  site2/doc-guides/assets/syntax-1.png
  site2/doc-guides/assets/syntax-10.png
  site2/doc-guides/assets/syntax-11.png
  site2/doc-guides/assets/syntax-12.png
  site2/doc-guides/assets/syntax-13.png
  site2/doc-guides/assets/syntax-2.png
  site2/doc-guides/assets/syntax-3.png
  site2/doc-guides/assets/syntax-4.png
  site2/doc-guides/assets/syntax-5.png
  site2/doc-guides/assets/syntax-6.png
  site2/doc-guides/assets/syntax-7.png
  site2/doc-guides/assets/syntax-8.png
  site2/doc-guides/assets/syntax-9.png
  site2/doc-guides/contribution.md
  site2/doc-guides/label.md
  site2/doc-guides/naming.md
  site2/doc-guides/preview.md
  site2/doc-guides/syntax.md
Labels: doc, ready-to-test

#18074 [improve][schema] Change update schema auth from tenant to produce
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaWithAuthTest.java
Labels: doc-not-needed, component/authorization, component/schema, release/2.11.1, ready-to-test

#18076 [fix][broker]Cache invalidation due to concurrent access
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.4, cherry-picked/branch-2.11, release/2.8.5, release/2.10.3

#18097 [feat][zk] Enable certificate refresh for Quorum and Netty Servers
  conf/zookeeper.conf
Labels: component/config, release/note-required, doc-not-needed, component/zookeeper, ready-to-test

#18105 [fix][sec] File tiered storage: upgrade jettison to get rid of CVE-2022-40149
  pom.xml
Labels: release/2.9.4

#18117 [branch-2.9] Fix license check issue
  .github/workflows/ci-license.yaml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: release/2.9.4

#18072 [fix][broker] Fix unable to start multiple bookies for BKCluster
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/BKCluster.java
Labels: type/bug, component/broker, doc-not-needed, cherry-picked/branch-2.11, release/2.10.3, ready-to-test

#18106 [improve][ml] Reduce unnecessary calling `span()` when filtering read entries
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/improvement, doc-not-needed, cherry-picked/branch-2.11, ready-to-test

#18094 [improve][test] Improve V1_AdminApiTest to reduce the execution time
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
Labels: type/improvement, component/test, doc-not-needed, ready-to-test

#18089 [cleanup][broker] Cleanup unused method in namespace base
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#18085 [fix][doc] Fix errors in subscription document
  site2/docs/concepts-messaging.md
Labels: doc

#15485 [improve][doc] Add code example for WebSocket API to use TLS with CLI tools
  site2/docs/client-libraries-websocket.md
  site2/docs/security-tls-transport.md
Labels: doc, Stale

#17962 [feat] [broker] PIP-188 support blue-green cluster migration [part-1]
  conf/broker.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSender.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSenderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/CompactorSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ClusterMigrationTest.java
  pulsar-client-admin-api/pom.xml
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Clusters.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ClusterData.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/ClustersImpl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HandlerState.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ClusterDataImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarDecoder.java
  pulsar-common/src/main/proto/PulsarApi.proto
  site2/docs/reference-pulsar-admin.md
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/MockManagedLedger.java
Labels: component/broker, doc-complete, ready-to-test

#18127 [fix][cpp][branch-2.9] Fix zlib dowload path.
  pulsar-client-cpp/docker/alpine/Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile-alpine-3.8
  pulsar-client-cpp/docker/manylinux1/Dockerfile
  pulsar-client-cpp/docker/manylinux2014/Dockerfile
  pulsar-client-cpp/docker/manylinux_musl/Dockerfile
  pulsar-client-cpp/python/build-mac-wheels.sh
Labels: release/2.9.4, release/2.8.5, release/2.11.1, release/2.10.3

#18126 [fix] The Pulsar standalone bookie is not getting passed the config from standalone.conf
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/BKCluster.java
Labels: doc-not-needed, release/2.11.0, ready-to-test

#18122 [fix] [io] Fix checkstyle issue in JDBCUtils
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcUtils.java
Labels: doc-not-needed, ready-to-test

#18140 [fix][doc] Point Python and C++ docs to new GitHub repos
  pulsar-client-cpp/README.md
  pulsar-client-cpp/python/README.md
  site2/website/versioned_docs/version-2.1.0-incubating/client-libraries-python.md
  site2/website/versioned_docs/version-2.1.1-incubating/client-libraries-python.md
  site2/website/versioned_docs/version-2.10.x/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.10.x/client-libraries-python.md
  site2/website/versioned_docs/version-2.10.x/client-libraries.md
  site2/website/versioned_docs/version-2.2.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.2.1/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.2.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.2.1/client-libraries.md
  site2/website/versioned_docs/version-2.3.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.3.0/client-libraries.md
  site2/website/versioned_docs/version-2.3.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.3.1/client-libraries.md
  site2/website/versioned_docs/version-2.3.2/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.3.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.4.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.0/client-libraries.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.4.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.1/client-libraries.md
  site2/website/versioned_docs/version-2.4.2/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.4.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.4.2/client-libraries.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.5.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.5.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.5.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.6.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.6.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.6.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.6.3/client-libraries-python.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.6.4/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.7.0/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.7.1/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.7.2/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.7.3/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.4/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.7.4/client-libraries-python.md
  site2/website/versioned_docs/version-2.7.5/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.7.5/client-libraries-python.md
  site2/website/versioned_docs/version-2.8.x/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.8.x/client-libraries-python.md
  site2/website/versioned_docs/version-2.9.x/client-libraries-cpp.md
  site2/website/versioned_docs/version-2.9.x/client-libraries-python.md
Labels: doc, ready-to-test

#18133 [fix][broker] PulsarRegistrationClient - implement getAllBookies and follow BookieServiceInfo updates
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClient.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationManager.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClientTest.java
Labels: type/bug, component/bookkeeper, doc-not-needed, component/metadata, ready-to-test

#18137 [branch-2.11][cpp] Fix zlib dowload path.
  pulsar-client-cpp/docker/alpine/Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile-alpine-3.8
  pulsar-client-cpp/docker/manylinux1/Dockerfile
  pulsar-client-cpp/docker/manylinux2014/Dockerfile
  pulsar-client-cpp/docker/manylinux_musl/Dockerfile
  pulsar-client-cpp/python/build-mac-wheels.sh
Labels: doc-not-needed

#18107 [improve][client] Support MAX_ACK_GROUP_SIZE configurable
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
Labels: doc-not-needed

#17936 [fix][client] Reserve allocated buffer in BatchMessageContainer on client memory limitation.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MemoryLimitTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/BatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AbstractBatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageKeyBasedContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, doc-not-needed, ready-to-test

#18135 [branch-2.8][cpp] Fix zlib dowload path.
  pulsar-client-cpp/docker/alpine/Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile-alpine-3.8
  pulsar-client-cpp/docker/manylinux1/Dockerfile
  pulsar-client-cpp/docker/manylinux2014/Dockerfile
Labels: release/2.8.5

#18093 [fix][sec] Upgrade commons-text to 1.10.0 in the kinesis-sink
  pom.xml
  pulsar-client-tools/pom.xml
Labels: component/dependency, doc-not-needed, ready-to-test

#18042 [fix][broker] Compare batch index when accumulating acks and updating batchDeletedIndexes
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: type/bug, component/broker, doc-not-needed

#17915 [Fix][Tiered Storage] Eagerly Delete Offloaded Segments On Topic Deletion
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloadUtils.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/offload/TestBaseOffload.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/offload/TestFileSystemOffload.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/offload/TestOffloadDeletionFS.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/offload/TestS3Offload.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/offload/TestUniversalConfigurations.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/suites/PulsarTieredStorageTestSuite.java
Labels: component/tieredstorage, component/broker, doc-not-needed, ready-to-test

#18096 [improve][ci] Add zk and bk for semantic check
  .github/workflows/ci-semantic-pull-request.yml
Labels: doc-not-needed, component/ci, ready-to-test

#18113 [cleanup][misc] Fix imports using shaded dependencies
  buildtools/src/main/resources/pulsar/checkstyle.xml
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/ProxySaslAuthenticationTest.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/SaslAuthenticateTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminRestTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStoreTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MultiTopicsConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingSharedTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStoreTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/BrokerProxyValidatorTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/KafkaSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/AvroKafkaSourceTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/KafkaSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumMsSqlSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/DebeziumOracleDbSourceTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/PulsarDebeziumOracleSourceTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/debezium/PulsarDebeziumSourcesTest.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#18114 [fix][broker] Fix RetentionPolicies types mismatch.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumedLedgersTrimTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/RetentionPolicies.java
Labels: component/broker, doc-not-needed, ready-to-test

#18157 [improve][doc] Use semver latest stable version
  README.md
Labels: doc

#18148 [improve][broker] Support dynamic configuration of exposeBundlesMetricsInPrometheus
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: type/improvement, component/broker, doc-not-needed

#17398 [feat][offload] ADD offload_time_threshold policy (time-based offloading)
  conf/broker.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/OffloadPrefixTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/OffloadPolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPoliciesImpl.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/OffloadPoliciesTest.java
Labels: type/feature, component/tieredstorage, doc-required, ready-to-test

#18132 [fix][docs] Remove redudant steps in docs gen
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdGenerateDocument.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdGenerateDocumentation.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/BaseGenerateDocumentation.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/CmdGenerateDocs.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdGenerateDocumentation.java
  site2/docs/reference-cli-bookkeeper.md
  site2/docs/reference-cli-broker-tool.md
  site2/docs/reference-cli-pulsar-daemon.md
  site2/docs/reference-cli-pulsar-shell.md
  site2/docs/reference-configuration.md
  site2/website/sidebars.json
Labels: doc, ready-to-test

#18129 [fix][function] Fix invalid metric type "gauge "
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/WorkerStatsManager.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.4, release/2.11.1, release/2.10.3, ready-to-test

#16931 [feat][broker] Segmented transaction buffer snapshot segment and index system topic
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/AsyncCallbacks.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBaseTxnBufferSnapshotService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicTxnBufferSnapshotService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransactionBufferSnapshotService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransactionBufferSnapshotServiceFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/SystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TopicPoliciesSystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TransactionBufferSnapshotBaseSystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TransactionBufferSystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBufferRecoverCallBack.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/metadata/AbortTxnMetadata.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/metadata/TransactionBufferSnapshot.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/metadata/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/metadata/v2/TransactionBufferSnapshotIndex.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/metadata/v2/TransactionBufferSnapshotIndexes.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/metadata/v2/TransactionBufferSnapshotSegment.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/metadata/v2/TxnIDData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/metadata/v2/package-info.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/SystemTopicNames.java
Labels: type/improvement, component/transaction, doc-not-needed, ready-to-test

#18153 [fix][admin] Passing `force` parameter to `deleteNamespaceBundle` when delete namespaces
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: type/improvement, component/admin, doc-not-needed, ready-to-test

#18138 [fix][monitor] fix metrics string encoding
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/SimpleTextOutputStreamTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SimpleTextOutputStream.java
Labels: doc-not-needed, ready-to-test

#18176 [fix][doc] admonitions syntax
  site2/docs/administration-geo.md
Labels: doc

#18171 [fix][ci] Check full build artifacts licenses
  .github/workflows/pulsar-ci.yaml
  src/check-binary-license.sh
Labels: doc-not-needed, component/ci, ready-to-test

#15640 [fix][storage] Autorecovery default reppDnsResolverClass to ZkBookieRackAffinityMapping
  conf/bookkeeper.conf
Labels: doc, component/config, component/bookkeeper, release/note-required, ready-to-test

#18143 [improve][doc] Update swagger for 2.10.2
  site2/website/static/swagger/2.10.2/swagger.json
  site2/website/static/swagger/2.10.2/swaggerfunctions.json
  site2/website/static/swagger/2.10.2/swaggerpackages.json
  site2/website/static/swagger/2.10.2/swaggersink.json
  site2/website/static/swagger/2.10.2/swaggersource.json
Labels: doc

#18067 [fix][doc] Reflect archived and halted repositories
  README.md
Labels: doc

#18109 [fix][doc] fix many anchor errors
  site2/docs/admin-api-brokers.md
  site2/docs/admin-api-clusters.md
  site2/docs/admin-api-permissions.md
  site2/docs/administration-geo.md
  site2/docs/administration-isolation-bookie.md
  site2/docs/administration-isolation-broker.md
  site2/docs/administration-isolation.md
  site2/docs/administration-load-balance.md
  site2/docs/administration-zk-bk.md
  site2/docs/client-libraries-go.md
  site2/docs/client-libraries-websocket.md
  site2/docs/concepts-messaging.md
  site2/docs/concepts-replication.md
  site2/docs/cookbooks-compaction.md
  site2/docs/cookbooks-deduplication.md
  site2/docs/cookbooks-non-persistent.md
  site2/docs/cookbooks-retention-expiry.md
  site2/docs/deploy-aws.md
  site2/docs/deploy-bare-metal-multi-cluster.md
  site2/docs/deploy-bare-metal.md
  site2/docs/deploy-dcos.md
  site2/docs/develop-load-manager.md
  site2/docs/functions-cli.md
  site2/docs/functions-deploy-cluster-encryption.md
  site2/docs/functions-deploy-trigger.md
  site2/docs/functions-develop-metrics.md
  site2/docs/functions-develop-security.md
  site2/docs/functions-develop.md
  site2/docs/functions-worker-run-separately.md
  site2/docs/getting-started-pulsar.md
  site2/docs/getting-started-standalone.md
  site2/docs/helm-deploy.md
  site2/docs/helm-prepare.md
  site2/docs/io-cassandra-sink.md
  site2/docs/io-connectors.md
  site2/docs/io-debug.md
  site2/docs/io-overview.md
  site2/docs/io-use.md
  site2/docs/performance-pulsar-perf.md
  site2/docs/reference-metrics.md
  site2/docs/schema-evolution-compatibility.md
  site2/docs/schema-understand.md
  site2/docs/security-athenz.md
  site2/docs/security-jwt.md
  site2/docs/security-oauth2.md
  site2/docs/security-overview.md
  site2/docs/security-tls-authentication.md
  site2/docs/security-tls-transport.md
  site2/docs/tiered-storage-aliyun.md
  site2/docs/tiered-storage-aws.md
  site2/docs/tiered-storage-azure.md
  site2/docs/tiered-storage-filesystem.md
  site2/docs/tiered-storage-gcs.md
  site2/docs/tiered-storage-s3.md
Labels: doc

#18136 [branch-2.10][cpp] Fix zlib dowload path.
  pulsar-client-cpp/docker/alpine/Dockerfile
  pulsar-client-cpp/docker/alpine/Dockerfile-alpine-3.8
  pulsar-client-cpp/docker/manylinux1/Dockerfile
  pulsar-client-cpp/docker/manylinux2014/Dockerfile
  pulsar-client-cpp/docker/manylinux_musl/Dockerfile
  pulsar-client-cpp/python/build-mac-wheels.sh
Labels: doc-not-needed, release/2.10.3

#18172 [fix][meta] fix `getChildren` in MemoryMetadataStore and EtcdMetadataStore
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/EtcdMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStoreTest.java
Labels: type/bug, doc-not-needed, release/2.11.1, release/2.10.3, ready-to-test

#18181 [improve][broker] Support setting `ForceDeleteNamespaceAllowed` dynamically
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: doc, release/2.11.1, release/2.10.3, ready-to-test

#18185 [improve][client]Remove unused check for topics isEmpty
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
Labels: component/client, doc-not-needed, ready-to-test
