Repository apache/pulsar, pull requests merged in 2023-07, with the labels that each got.

#20685 [fix][branch-2.10] Fix duplicated deleting topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: doc-not-needed

#20704 [improve][broker] Upgrade bookkeeper to 4.16.2
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/dependency, doc-not-needed, ready-to-test

#20707 [fix][doc] Correcting spelling mistakes in config
  conf/bookkeeper.conf
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  conf/zookeeper.conf
Labels: doc

#20666 [improve][broker] Make ExtensibleLoadManagerImpl's broker filter pure async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/AntiAffinityGroupPolicyFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerIsolationPoliciesFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerLoadManagerClassFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerVersionFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/policies/AntiAffinityGroupPolicyHelper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/policies/IsolationPoliciesHelper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleResourceAllocationPolicies.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/AntiAffinityNamespaceGroupExtensionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerIsolationPoliciesFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerLoadManagerClassFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerVersionFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: type/enhancement, component/broker, doc-not-needed, release/3.0.2

#20697 [improve][broker] Improve CompactedTopicImpl lock
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
Labels: type/enhancement, component/broker, doc-not-needed

#20701 [fix][cli] Fix error messages in `CmdNameSpaces` and `CmdTopics`
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: doc-not-needed

#20683 [improve][admin] Remove duplicate topics name when `deleteNamespace`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20695 [fix] [client] Messages lost when consumer reconnect
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20680 [fix][doc] Fix doc of admin cli create-subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: doc, component/cli, ready-to-test

#20715 [fix][test]Fix resource not close after method
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PublishRateLimiterTest.java
Labels: component/test, doc-not-needed, ready-to-test

#20710 [fix][broker] Revert "Skip loading broker interceptor when disableBrokerInterceptors is true #20422"
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptors.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.2, release/3.0.2

#20699 [fix][sec] Upgrade Guava to 32.1.1 to address CVE-2023-2976
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/security, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20717 [feat][test] Support delay messages in a random number of seconds by the range
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: component/test, component/tool, doc-not-needed, ready-to-test

#20730 [fix][schema] Only handle exception when there has
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
Labels: doc-not-needed, component/schema, ready-to-test, release/2.9.5, release/2.10.5, release/2.11.2, release/3.0.2

#20733 [fix][ws] Remove unnecessary ping/pong implementation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceStarterTest.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/PingPongHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketPingPongServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketServiceStarter.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/PingPongSupportTest.java
Labels: type/cleanup, component/client-websocket, doc-not-needed, release/2.10.5, release/2.11.2, release/3.0.2

#20728 [fix][build] Update Python Wheel to 3.10
  docker/pulsar/pom.xml
Labels: doc-not-needed

#20729 [improve][ci] Update GitHub Workflows to Ubuntu 22.04
  .github/workflows/ci-documentbot.yml
  .github/workflows/ci-go-functions.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/ci-pulsarbot.yaml
  .github/workflows/ci-stale-issue-pr.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: component/build, doc-not-needed

#20746 [improve] Use HTTPS in OIDC Identity Provider Integration Tests
  pulsar-broker-auth-oidc/pom.xml
  pulsar-broker-auth-oidc/src/test/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenIDIntegrationTest.java
  tests/certificate-authority/generate_keystore.sh
  tests/certificate-authority/jks/broker.truststore.pem
Labels: component/test, doc-not-needed, component/authentication, ready-to-test

#20757 Revert "[fix][build] Update Python Wheel to 3.10"
  docker/pulsar/pom.xml
Labels: doc-not-needed

#20747 [fix][broker] call ServerCnx#closeProducer from correct thread
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.2

#20755 [fix][test] Fix RangeConvert parse issue in the PerformanceProducer
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceProducerTest.java
Labels: doc-not-needed

#20759 [Revert][Build] Ubuntu 22.04 was not compatible with Python Client Wheel
  build/docker/Dockerfile
  docker/pulsar/Dockerfile
  docker/pulsar/scripts/install-pulsar-client.sh
  tests/docker-images/java-test-image/Dockerfile
Labels: doc-not-needed, ready-to-test

#20760 [feat][ci] Label PIP request
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: doc-not-needed, component/ci, ready-to-test

#20496 [improve][broker] Support get/remove permissions for AuthorizationProvider
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-websocket/src/main/resources/findbugsExclude.xml
Labels: component/broker, doc-not-needed, component/authentication, ready-to-test

#20770 [fix][build] Update base image to 22.04 and remove the python client building
  build/docker/Dockerfile
  docker/pulsar/Dockerfile
  docker/pulsar/pom.xml
  docker/pulsar/scripts/install-pulsar-client.sh
  tests/docker-images/java-test-image/Dockerfile
Labels: doc-not-needed

#20761 [fix][broker] Avoid throwing RestException in BrokerService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: component/broker, doc-not-needed, ready-to-test

#20778 [fix][test] Close the resource after the test
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: component/test, doc-not-needed, ready-to-test, release/3.0.2

#20762 [fix][broker] typo in ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/cleanup, doc-not-needed

#20736 [improve][offload] Support to configure more offload driver
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPoliciesImpl.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/OffloadPoliciesTest.java
Labels: type/enhancement, component/tieredstorage, doc-not-needed, ready-to-test

#20781 [fix][broker][branch-2.10] Fix NPE when reset Replicator's cursor by position. (#20597)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: doc-not-needed

#20763 [fix][broker] Fix get topic policies as null during clean cache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
Labels: type/bug, component/broker, doc-not-needed

#20691 [pip][design] PIP-280: Refactor CLI for measurement units (time, byte)
  pip/pip-280.md
Labels: component/cli, PIP, doc-not-needed

#20790 [fix][fn] Pulsar Function Kubernetes Runtime fails to start function that contains parenthesis in original jar filename
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/RuntimeUtilsTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: type/bug, doc-not-needed, ready-to-test

#20568 [improve] [broker] Add consumer-id into the log when doing subscribe.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20767 [fix] [broker] Can not receive any messages after switch to standby cluster
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsController.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
Labels: component/replication, doc-not-needed, release/2.10.5, release/2.11.2, release/3.0.2

#20660 [improve][broker] Add log on topic or subscription when enable rate limit.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: component/broker, doc-not-needed, ready-to-test

#20775 [improve][offload] Create offload resources lazily
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
Labels: type/enhancement, component/tieredstorage, doc-not-needed, ready-to-test

#20795 [fix][io] Not restart instance when kafka source poll exception.
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20741 [fix] [io] elastic-search sink connector not support JSON.String schema.
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
Labels: type/bug, component/connector, doc-not-needed, ready-to-test, release/2.9.5, release/2.10.5, release/2.11.2, release/3.0.2

#20799 [fix][test] Fix resource leak in PulsarTestContext
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/AbstractTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/NonStartableTestPulsarService.java
Labels: type/bug, component/test, flaky-tests, doc-not-needed, ready-to-test, release/3.0.2

#20623 [improve][io] Elastic Search Sink can now handle raw Record
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchRawRecordTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
Labels: doc-not-needed, ready-to-test

#20810 [fix][build] Mongo is fixed for 2.10.5
  pulsar-io/mongo/pom.xml
Labels: doc-not-needed

#20756 [improve][fn] Support --retain-key-ordering (KEY_SHARED sub) in Python functions
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/python/PulsarFunctionsPythonTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
Labels: doc-not-needed, ready-to-test

#20718 [feat][broker][PIP-278] Support pluggable topic compaction service - part2
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactionServiceFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/PulsarCompactionServiceFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/PulsarTopicCompactionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TopicCompactionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/AbstractTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/MockPulsarCompactionServiceFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/NonStartableTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/SpyConfig.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/StartableTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicTest.java
Labels: type/feature, component/broker, doc-not-needed

#20817 [fix][io][branch-2.11] Not restart instance when kafka source poll ex…
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaPushSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.11.3

#20750 [fix][client] fix negative message re-delivery twice issue
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/NegativeAcksTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java
Labels: doc-not-needed, ready-to-test

#20779 [improve][client] Disable polling pattern topics when TopicListWatcher is enabled.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
Labels: component/client, doc-not-needed, ready-to-test, release/3.0.2

#20818 [fix][io][branch-3.0] Not restart instance when kafka source poll exception.
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaPushSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.2

#20621 [improve][test] add a test to ensure the exclusive consumer will reconnect even if received ConsumerBusy error
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerConsumerInternalTest.java
Labels: doc-not-needed

#20819 [fix] [cli] the variable producerName of BatchMsgContainer is null
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AbstractBatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageKeyBasedContainer.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6

#20804 [improve][offload] Extend the offload policies to allow specifying more conf
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPoliciesImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FieldParser.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/OffloadPoliciesTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/FieldParserTest.java
Labels: type/enhancement, component/tieredstorage, doc-not-needed, ready-to-test

#20816 [fix][io][branch-2.10] Not restart instance when kafka source poll exception.
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaPushSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: type/bug, doc-not-needed, release/2.10.6

#20834 [fix][build]Fix compatibility issue cause by #20819
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageKeyBasedContainer.java
Labels: doc-not-needed

#20831 [fix][build] Upgrade PyYaml version to 6.0.1
  docker/pulsar/Dockerfile
  docker/pulsar/scripts/gen-yml-from-env.py
Labels: doc-not-needed

#20840 [improve] [ws] add cryptoKeyReaderFactoryClassName into the file websocket.conf
  conf/websocket.conf
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/WebSocketProxyConfigurationTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3

#20792 [fix][sec] Suppress already covered CVE-2023-2976 in `clickhouse-jdbc-0.4.6-all.jar` and `canal.client-1.1.5.jar`
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, ready-to-test

#20823 [fix][broker] Fix direct memory leak by delayed index OutOfDirectMemory
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/SegmentedLongArray.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test

#20837 [improve][broker] Follow up #4196 use `PulsarByteBufAllocator` handle OOM
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Markers.java
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileStoreBackedReadHandleImpl.java
Labels: doc-not-needed, ready-to-test

#20843 [fix][broker] Inconsistent behaviour for topic auto_creation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/HierarchyTopicAutoCreationTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6

#20783 [fix][broker] Broker failed to load v1 namespace resources cache
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#20850 [fix][broker] Pass `bytesToRead` when reading compacted entries
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicUtils.java
Labels: type/bug, component/broker, doc-not-needed

#20330 [optimize][admin]Enhancing Transaction Buffer Stats and Introducing TransactionBufferInternalStats API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TransactionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/AbortedTxnProcessor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SingleSnapshotAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferDisable.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionMultiBrokerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/SegmentAbortedTxnProcessorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionStablePositionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Transactions.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SegmentStats.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SegmentsStats.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SnapshotSystemTopicInternalStats.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/TransactionBufferInternalStats.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/TransactionBufferStats.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTransactions.java
Labels: type/feature, doc-required

#20721 [cleanup][io] Cleanup Kafka connector
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Record.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/AvroSchemaCache.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/ByteBufferSchemaWrapper.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/BytesWithKafkaSchema.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaBytesSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaBytesSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSinkConfig.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSourceConfig.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaStringSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/ByteBufferSchemaWrapperTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/KafkaBytesSourceTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/sink/KafkaAbstractSinkTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: doc-not-needed, ready-to-test

#20713 [fix][broker] Fix potential OOM due to client use sasl authentication
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/SaslAuthenticateTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: doc-not-needed, ready-to-test

#20848 [fix][broker] Fix the built-in admin failed to delete a topic with a custom authz provider
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationWithAuthDataTest.java
Labels: release/blocker, doc-not-needed, ready-to-test

#20846 [improve][broker] Avoid print redirect exception log when get list from bundle
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test, release/3.0.2

#20800 [improve][broker] Add the MessageExpirer interface to make code clear
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/MessageExpirer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: component/broker, doc-not-needed, ready-to-test

#20826 [improve][broker] Add broker filter sync method back to guarantee the API compatibility
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/AntiAffinityGroupPolicyFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerIsolationPoliciesFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerLoadManagerClassFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerVersionFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/AntiAffinityNamespaceGroupExtensionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerIsolationPoliciesFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerLoadManagerClassFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerVersionFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.0.1

#20872 [branch-2.10][fix][broker] Inconsistent behaviour for topic auto_creation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/HierarchyTopicAutoCreationTest.java
Labels: doc-label-missing, cherry-picked/branch-2.10, release/2.10.6

#20873 [branch-2.10][fix][broker] Fix inconsensus namespace policies by getPoliciesIfCached
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/lookup/http/HttpTopicLookupv2Test.java
Labels: doc-label-missing, cherry-picked/branch-2.10, release/2.10.6

#20876 [improve][cli] Better error message for pulsar-admin schema upload
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSchemas.java
Labels: component/cli, doc-not-needed, ready-to-test

#20858 [improve][broker] Add annotation for topic compaction strategy
  pulsar-common/src/main/java/org/apache/pulsar/common/topics/TopicCompactionStrategy.java
Labels: component/broker, release/blocker, doc-not-needed, ready-to-test, release/3.0.1

#20709 [fix][broker] Gracefully shutdown does not work with admin cli in standalone
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBase.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBrokers.java
Labels: component/cli, doc-required

#20560 [improve][ci]Add "pip" into the scope of the pull request title check rule
  .github/workflows/ci-semantic-pull-request.yml
Labels: doc-not-needed, component/ci, ready-to-test

#20887 [fix][broker] Fix IndexOutOfBoundsException in the CompactedTopicUtils
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicUtilsTest.java
Labels: type/bug, component/broker, release/blocker, doc-not-needed

#20627 [pip][design] PIP-279: Reformat property in generateResponseWithEntry
  pip/pip-279.md
Labels: PIP, doc-not-needed

#20888 [fix][broker] In replication scenario, remote consumer could not be registered if there has no message was sent
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: type/bug, component/replication, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6

#20880 [improve][txn]Add log when can't send TcClientConnectRequest to broker.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
Labels: doc-not-needed, release/2.8.5, release/2.9.5, release/2.11.3, release/2.10.6

#20878 [branch-2.11][fix][broker] Avoid infinite bundle unloading (#20822)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImplTest.java
Labels: doc-not-needed, ready-to-test

#20907 [improve][sql] Fix the wrong format of the logs
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSqlSchemaInfoProvider.java
Labels: doc-not-needed, ready-to-test, release/2.9.5, release/3.0.2, release/2.11.3, release/2.10.6
