Repository apache/pulsar, pull requests merged in 2023-04, with the labels that each got.

#19939 [feat][client] Support configure MessageCrypto in ProducerBuilder
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBuilderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerBuilderImplTest.java
Labels: doc-required, ready-to-test

#19767 [fix][schema]Fix AutoProduceBytes producer can not be created to a topic with ProtoBuf schema
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: doc-not-needed

#19711 [fix][ci][branch-2.10] Fix the release tools
  src/get-project-version.py
  src/stage-release.sh
Labels: doc-not-needed

#19887 [fix][broker] Fix the loss of bundle stats data reported to zookeeper, when the updateStats method is executed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
Labels: component/broker, doc-not-needed, ready-to-test

#19990 [cleanup][proxy] ProxyConnection should not call super.exceptionCaught
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: type/cleanup, component/proxy, doc-not-needed, ready-to-test

#19980 [branch-2.10][fix][broker] Fix index generator is not rollback after entries are failed added
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/intercept/ManagedLedgerInterceptor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/MangedLedgerInterceptorImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/intercept/AppendIndexMetadataInterceptor.java
Labels: doc-label-missing

#19971 [branch-2.10] [fix] [auth] fix not forward compatible config saslJaasServerRoleTokenSignerSecretPath after cherry-pick #15121
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/ProxySaslAuthenticationTest.java
Labels: doc-not-needed, release/2.10.4, component/authorization

#19972 [fix][broker] Ignore and remove the replicator cursor when the remote cluster is absent
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: type/bug, component/broker, component/replication, doc-not-needed, release/2.10.5, release/2.9.6, release/2.11.2

#19414 [improve][client] PIP-229: Add a common interface to get fields of MessageIdData
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentFailoverE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/CustomMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConsumerAckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageIdTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/MessageIdAdv.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TopicMessageId.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageAcker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageAckerDisabled.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ChunkMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdAdvUtils.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessagePayloadContextImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NonPersistentAcknowledgmentGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ResetCursorData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java
  pulsar-client/src/main/resources/findbugsExclude.xml
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageAckerDisabledTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageAckerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageIdImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageIdSerializationTest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
Labels: type/enhancement, doc, component/client, type/refactor, ready-to-test

#20005 [fix][build] Suppress Guava CVE-2020-8908 in OWASP dependency check
  src/owasp-dependency-check-suppressions.xml
Labels: component/security, doc-not-needed, ready-to-test

#19778 [refactor][broker] Suppress error logging when message expiration fails
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/broker, doc-not-needed, type/refactor, ready-to-test

#19958 [improve][broker] PIP-192: Filter the transfer dest broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/AntiAffinityGroupPolicyFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerIsolationPoliciesFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerVersionFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/policies/AntiAffinityGroupPolicyHelper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/policies/IsolationPoliciesHelper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/AntiAffinityNamespaceGroupExtensionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerIsolationPoliciesFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#19959 [improve][sql] Remove unnecessary future encapsulation
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSqlSchemaInfoProvider.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarRecordCursor.java
Labels: component/sql, doc-not-needed, ready-to-test

#19930 [fix][client] Fix DeadLetterProducer creation callback blocking client io thread.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2

#19945 [improve][broker] PIP-192 updated metrics and cleanup broker selector
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/AssignCounter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#20011 [improve][proxy] Implement graceful shutdown for Pulsar Proxy
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
Labels: type/bug, component/proxy, doc-not-needed, ready-to-test

#19999 [improve][broker] PIP-192: Update the lookup data path to support deploy and rollback
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#19989 [fix][broker] Only validate superuser access if authz enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
Labels: component/admin, release/blocker, doc-not-needed, release/2.8.5, release/2.11.1, ready-to-test, component/authorization, release/2.10.5, release/2.9.6

#19858 [fix][client] Release the orphan producers after the primary consumer is closed
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/RetryTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2

#19976 [improve][txn] Cleanup how superusers abort txns
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: component/transaction, doc-not-needed, release/2.11.1, ready-to-test, release/2.10.4

#20014 [fix][proxy] Fix connection read timeout handling in Pulsar Proxy
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyReadTimeoutHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ServiceChannelInitializer.java
Labels: type/bug, component/proxy, doc-not-needed, ready-to-test, release/2.11.2

#19888 [feat][fn] PIP-257: Support mounting k8s ServiceAccount for OIDC auth
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesFunctionAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesServiceAccountTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryConfig.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesServiceAccountTokenAuthProviderTest.java
Labels: component/function, component/security, doc-required, PIP, component/authentication, ready-to-test

#19934 [fix][broker] Return if AbstractDispatcherSingleActiveConsumer closed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: type/bug, doc-not-needed, release/2.8.5, ready-to-test, release/2.10.5, release/2.9.6, release/2.11.2

#20001 [improve][ml] Add Read cache misses metric for ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerMXBean.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheDisabled.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/ManagedLedgerMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedBrokerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/ManagedLedgerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-not-needed, ready-to-test

#20029 [fix][sec] Upgrade Spring dependency to 5.3.26 to fix OWASP Dependency Check
  pom.xml
Labels: component/security, doc-not-needed, ready-to-test, release/2.11.2

#19975 [refactor][fn] Use AuthorizationServer more in Function Worker API
  conf/functions_worker.yml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationParameters.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokerStatsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourcesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Functions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Worker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/WorkerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/src/test/resources/test_worker_config.yml
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/FunctionApiResource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/WorkerImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionsApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v2/WorkerStatsApiV2Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionsApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SinksApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/v3/SourcesApiV3Resource.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/api/Component.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/api/Functions.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/api/FunctionsV2.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/api/Sinks.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/api/Sources.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/api/Workers.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/WorkerUtilsTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/WorkerImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: doc, component/function, component/admin, ready-to-test

#19988 [improve][broker] PIP-192 made split handler idempotent
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/Split.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/Unload.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleSplitAlgorithm.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/SpecifiedPositionsBundleSplitAlgorithm.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/models/SplitTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/SplitSchedulerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/SpecifiedPositionsBundleSplitAlgorithmTest.java
Labels: doc-not-needed, ready-to-test

#20047 [fix][fn] Make /version return correct version
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/ConfigurationResource.java
Labels: type/bug, component/function, doc-not-needed, ready-to-test

#20016 [feat][sql] Bump Trino version to 368 and fix Decimal breaking change
  pom.xml
  pulsar-sql/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
  pulsar-sql/presto-pulsar/pom.xml
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/avro/PulsarAvroColumnDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/json/PulsarJsonFieldDecoder.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/json/PulsarJsonRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/DecoderTestUtil.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/decoder/avro/TestAvroDecoder.java
Labels: doc-not-needed, ready-to-test

#20009 PIP-254: Support configuring client version
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MutualAuthenticationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
Labels: doc, type/feature, ready-to-test

#19913 [fix][broker]Make LedgerOffloaderFactory can load the old nar.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloaderFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloaderStatsDisable.java
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/FileSystemLedgerOffloaderFactory.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/JCloudLedgerOffloaderFactory.java
Labels: component/broker, doc-not-needed, ready-to-test

#20046 [refactor][broker] Use AuthenticationParameters for rest producer
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/Topics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/TopicsBase.java
Labels: component/admin, doc-not-needed, type/refactor, ready-to-test

#20044 [improve][client] Add retry when readTailMessages fails
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TableViewTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
Labels: doc-not-needed, ready-to-test

#20049 [improve] [broker] Upgrade the BookKeeper dependency to 4.16.0
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/LongAdderCounter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/SameThreadOrderedSafeExecutor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarConnectorMetricsTracker.java
  testmocks/src/main/java/org/apache/bookkeeper/client/TestStatsProvider.java
Labels: doc-not-needed, ready-to-test, dependencies

#20050 [fix] [ml] Fix uncompleted future when remove cursor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: doc-not-needed, release/2.11.1, ready-to-test

#19605 [feat] [broker] PIP-188 support blue-green cluster migration [part-2]
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Replicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ClusterMigrationTest.java
Labels: doc-not-needed, ready-to-test

#20026 [improve][broker] Prevent range conflicts with Key Shared sticky consumers when TCP/IP connections get orphaned
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransportCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractBaseDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelectorTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarHandler.java
  pulsar-proxy/pom.xml
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyStuckConnectionTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#19849 [feat] PIP-257: Add AuthenticationProviderOpenID
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker-auth-oidc/pom.xml
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationExceptionCode.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenID.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationStateOpenID.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/ConfigUtils.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/FallbackDiscoveryMode.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/JwksCache.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/OpenIDProviderMetadata.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/OpenIDProviderMetadataCache.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/package-info.java
  pulsar-broker-auth-oidc/src/test/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenIDIntegrationTest.java
  pulsar-broker-auth-oidc/src/test/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenIDTest.java
  pulsar-broker-auth-oidc/src/test/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationStateOpenIDTest.java
  pulsar-broker-auth-oidc/src/test/java/org/apache/pulsar/broker/authentication/oidc/ConfigUtilsTest.java
  pulsar-broker-auth-oidc/src/test/java/resources/fakeKubeConfig.yaml
Labels: doc-required, PIP, component/authentication, ready-to-test

#20060 [improve] Removed usages of SafeRun
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheManagerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/SafeRun.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorConcurrencyTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReader.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
Labels: type/enhancement, doc-not-needed, ready-to-test

#20043 [fix] Use scheduled executor in BinaryProtoLookupService
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: type/bug, doc-not-needed, release/2.10.5, release/2.11.2

#19014 [fix] [doc] Fix outdated java-doc of rate limiter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
Labels: doc, ready-to-test, release/3.0.1

#20062 [improve][proxy] Only create ConnectionPool when needed
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: component/proxy, doc-not-needed, ready-to-test

#20069 [branch-2.11] [fix] [broker] Fix estimateBacklogFromPosition if position is greater than the greatest ledgerId
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: doc-not-needed, ready-to-test

#20031 [fix] [cli] Fix Broker crashed by too much memory usage of pulsar tools
  conf/pulsar_tools_env.sh
Labels: doc-not-needed, release/2.10.5, release/2.11.2

#19987 [fix][broker] Fix leader broker log
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: doc-not-needed, ready-to-test

#19618 [feat][proxy] PIP-250: Add proxyVersion to CommandConnect
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransportCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyClientCnx.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: component/broker, component/proxy, doc-not-needed, ready-to-test

#20067 [fix][proxy] Refresh auth data if ProxyLookupRequests
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyClientCnx.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyRefreshAuthTest.java
Labels: type/bug, component/proxy, doc-not-needed, component/authentication, ready-to-test

#20058 [improve][broker] PIP-192: Redirect the request to current load manager
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LeaderElectionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/NoopLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/data/BrokerLookupData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerLoadManagerClassFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/RedirectManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/BrokerLoadManagerClassFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/data/BrokerLookupDataTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerFilterTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerIsolationPoliciesFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerLoadManagerClassFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/BrokerLoadManagerClassFilterTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/policies/data/loadbalancer/ServiceLookupData.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LoadReport.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#20070 [fix] Upgrade Vertx to match BK's version (otherwise BK does not work)
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: release/blocker, doc-not-needed, ready-to-test

#19929 [fix][client] Cache empty schema version in ProducerImpl schemaCache.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MockBrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MockBrokerServiceHooks.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerEmptySchemaCacheTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/enhancement, doc-not-needed, ready-to-test, release/3.0.1

#20035 [Fix][Doc] Update docs for Partition increase command
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: doc

#20072 Upgrade the RocksDB version to 7.9.2 to keep sync with BookKeeper's RocksDB dependency
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: release/note-required, release/blocker, doc-not-needed, ready-to-test, dependencies

#20064 [improve][pulsar-shell] Use singleton custom command factories
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
Labels: doc-not-needed, ready-to-test

#20074 [fix] [broker] fix use error TimeUnit to record publish latency
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/RestMessagePublishContext.java
Labels: component/broker, doc-not-needed, ready-to-test

#20021 [fix][fn] check user metric len before iterating
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/instanceControlServicer_test.go
  pulsar-function-go/pf/stats_test.go
Labels: doc-not-needed, ready-to-test

#20081 [improve][ci]Add branch-3.0 to owasp checks
  .github/workflows/ci-owasp-dependency-check.yaml
Labels: doc-not-needed, ready-to-test

#20087 [improve][broker] PIP-192 Fix getLastMessageId for compressed payload(And add compression and maxBatchSize for the load balance system topic)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/StrategicTwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/GetLastMessageIdCompactedTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/ServiceUnitStateCompactionTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#20075 [fix][broker] Fix avoid future of clear delayed message can't complete
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/BucketDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/Bucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test

#20086 [fix][broker] Ensure previous delayed index be removed from snapshotSegmentLastIndexTable & Make load operate asynchronous
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test

#19911 [fix][doc] Add link to PIP proposal
  wiki/proposals/PIP.md
Labels: doc

#20100 [fix][doc] ConnectorDocGenerator support Java 9+
  pulsar-io/docs/src/main/java/org/apache/pulsar/io/docs/ConnectorDocGenerator.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java
Labels: component/build, doc-not-needed, ready-to-test

#20085 [improve][build] Upgrade snakeyaml version to 2.0
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker-auth-oidc/pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/secrets/pom.xml
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2

#20111 [improve] [broker] Close temporary open ledger in BookkeeperBucketSnapshotStorage
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BookkeeperBucketSnapshotStorage.java
Labels: type/enhancement, component/broker, doc-not-needed

#20113 [improve] [broker] Fix broker restart logic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test

#20118 [branch-2.10][improve][build] Upgrade snakeyaml version to 2.0
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/secrets/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, cherry-picked/branch-2.10, release/2.10.5

#20110 [improve][broker] Fix ServiceUnitStateCompactionStrategy to cover fast-forward cursor behavior after compaction
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateCompactionStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/StrategicTwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateCompactionStrategyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/ServiceUnitStateCompactionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
Labels: doc-not-needed, ready-to-test

#20120 [branch-2.11][improve][build] Upgrade snakeyaml version to 2.0
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/secrets/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, cherry-picked/branch-2.11, ready-to-test, release/2.11.2

#20114 [improve][fn] Upgrade Kotlin version from 1.4.32 to 1.8.20. (targeted for master)
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed

#20106 [fix][admin] Add javax.xml.bind:jaxb-api to shade
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
Labels: doc-not-needed, ready-to-test

#20127 [improve] [broker] Upgrade the BookKeeper dependency to 4.16.1
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: release/blocker, doc-not-needed, ready-to-test, dependencies

#20121 [fix][io] KCA: handle kafka sources that use commitRecord
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/ErrRecFileStreamSourceTask.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceErrRecTest.java
Labels: doc-not-needed, ready-to-test

#20132 [fix][broker] Implement authenticateAsync for AuthenticationProviderList
  pulsar-broker-auth-oidc/src/test/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenIDIntegrationTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderList.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderListTest.java
Labels: type/feature, release/blocker, doc-not-needed, component/authentication, ready-to-test

#20123 [fix][broker] Revert : Forbid uploading BYTES schema with admin API (#18995)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: release/blocker, doc-not-needed, ready-to-test

#20124 [fix][sec] spring.version=5.3.27 to fix CVE-2023-20863
  pom.xml
Labels: component/security, doc-not-needed, ready-to-test

#20089 [improve][fn] Upgrade Kotlin version from 1.4.32 to 1.8.20.
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test

#20126 [improve][broker] Make timer execute immediately after load index
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#20068 [fix][broker] Fix tenant admin authorization bug.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthorizationTest.java
Labels: doc-not-needed, ready-to-test

#20135 [improve] AuthenticationProviderOpenID k8s error logs
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/JwksCache.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/OpenIDProviderMetadataCache.java
Labels: doc-not-needed, component/authentication, ready-to-test

#20144 [fix][fn] Supply download auth params when provided for k8s runtime
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: component/function, doc-not-needed, component/authentication, ready-to-test

#20136 [improve][broker] Optimize delayed metadata index bitmap
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/ImmutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/MutableBucket.java
Labels: doc-not-needed, ready-to-test

#20117 [improve][broker] Cache LedgerHandle in BookkeeperBucketSnapshotStorage
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BookkeeperBucketSnapshotStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/BookkeeperBucketSnapshotStorageTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#20142 [fix][broker] Producer/Consumer should call allowTopicOperationAsync
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
Labels: type/cleanup, doc-not-needed, ready-to-test, component/authorization

#20143 [revert] "[fix][broker] Fix tenant admin authorization bug. (#20068)"
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthorizationTest.java
Labels: doc-not-needed, ready-to-test, component/authorization

#20141 [fix][broker] Fix entry filter feature for the non-persistent topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/plugin/FilterEntryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
Labels: doc-not-needed, ready-to-test

#20139 [fix][client] Move MessageIdAdv to the pulsar-common module
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TopicMessageId.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/internal/PulsarClientImplementationBinding.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImplementationBindingImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageIdImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageIdCompareToTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicMessageIdImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/client/api/MessageIdAdv.java
  pulsar-common/src/main/java/org/apache/pulsar/client/api/package-info.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
Labels: type/bug, doc-not-needed, ready-to-test

#20055 [fix][txn] Fix transaction is not aborted when send or ACK failed
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
Labels: type/bug, component/transaction, doc-not-needed, ready-to-test, release/2.10.5, release/2.9.6, release/2.11.2

#20112 [improve] [broker] Pin AppendIndexMetadataInterceptor to field in `ManagedLedgerInterceptorImpl`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImpl.java
Labels: component/broker, doc-not-needed, ready-to-test

#20155 [improve][broker] Support disabling delayed bucket merging.
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
Labels: type/enhancement, component/broker, doc-not-needed

#19974 [improve][schema] Add admin cli for testCompatibility
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/protocol/schema/IsCompatibilityResponse.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSchemas.java
Labels: doc-not-needed, component/schema, ready-to-test

#20163 [fix][client] Fix breaking changes for the deprecated methods of TopicMessageIdImpl
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageIdImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicMessageIdImplTest.java
Labels: type/bug, release/blocker, doc-not-needed, ready-to-test

#20162 [branch-2.10][improve][build] Upgrade dependencies to reduce CVE.
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, ready-to-test, release/2.10.5

#20154 [fix][test] fix bug for testcase(PersistentTopicsTest#testExamineMessage)
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: doc-not-needed, ready-to-test

#19432 [improve] Allow to build and push multi-arch Docker images
  .github/workflows/pulsar-ci.yaml
  build/build_java_test_image.sh
  build/pulsar_ci_tool.sh
  docker/pulsar-all/pom.xml
  docker/pulsar/pom.xml
  pom.xml
  tests/docker-images/latest-version-image/pom.xml
Labels: release/note-required, doc-not-needed, ready-to-test

#20131 [fix] [broker] Fast fix infinite HTTP call getSubscriptions caused by wrong topicName
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicNameForInfiniteHttpCallGetSubscriptionsTest.java
Labels: type/bug, component/broker, component/admin, doc-not-needed, release/2.10.5, release/2.11.2, release/3.0.1

#19870 [fix][broker] Fix getPartitionedStats miss subscription's messageAckRate
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20159 [fix] [broker] Make `LeastResourceUsageWithWeight` thread safe
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/LeastResourceUsageWithWeight.java
Labels: component/broker, doc-not-needed, ready-to-test

#19841 [fix] [broker] Fix wrong logic of method TopicName.getPartition(int index)
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PartitionKeywordCompatibilityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicNameForInfiniteHttpCallGetSubscriptionsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
  pulsar-common/src/test/java/org/apache/pulsar/common/naming/TopicNameTest.java
Labels: type/bug, component/broker, doc-not-needed, release/important-notice, ready-to-test

#20122 [fix][meta] deadlock of zkSessionWatcher when zkConnection loss
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKSessionWatcher.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.9.6, release/2.11.2

#20028 [improve][cli] Add `--cleanupSubscription` to pulsar-admin
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
Labels: doc-required

#20166 [fix][broker] Remove useless field in the DelayedMessageIndexBucketSegment.proto
  pulsar-broker/src/main/proto/DelayedMessageIndexBucketSegment.proto
Labels: type/bug, component/broker, doc-not-needed, release/3.0.1

#20170 [fix][broker] Release EntryBuffer after parse proto object
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BookkeeperBucketSnapshotStorage.java
Labels: type/bug, component/broker, doc-not-needed, release/3.0.1

#20172 [branch-2.10][fix][build] Upgrade swagger version to fix CVE-2022-1471
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed

#20177 [improve][build] Upgrade jackson version to 2.15.0 for CVE-2022-1471
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FieldParser.java
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20182 [improve][build] Revert "Upgrade jackson version to 2.15.0 for CVE-2022-1471 (#20177)"
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FieldParser.java
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test, release/2.10.5

#20165 [fix][test] Fix flaky test `ConcurrentBitmapSortedLongPairSetTest`
  pulsar-broker/src/test/java/org/apache/pulsar/utils/ConcurrentBitmapSortedLongPairSetTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20116 [improve][fn] Allow unknown fields in connectors config
  conf/functions_worker.yml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/InstanceConfig.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-io/alluxio/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/dynamodb/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/jdbc/clickhouse/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/jdbc/mariadb/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/jdbc/openmldb/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/jdbc/postgres/src/main/resources/META-INF/services/pulsar-io.yaml
Labels: component/function, doc-not-needed, ready-to-test

#19832 [improve][misc] Change PIP issue template
  .github/ISSUE_TEMPLATE/pip.md
  .github/ISSUE_TEMPLATE/pip.yml
Labels: doc-not-needed

#20152 [fix][admin] Fix examine messages if total message is zero
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: doc-not-needed, ready-to-test

#20190 [improve] [broker] Skip split boundle if only one broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/3.0.1

#20198 [improve][ci] Disable Maven http connection pooling on CI also for newer Maven versions
  .github/workflows/ci-go-functions.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#20196 [improve][broker] Improve knownBrokers update in ModularLoadManagerImpl
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: component/broker, doc-not-needed, ready-to-test

#20187 [improve][build] Capture local build scans on ge.apache.org to benefit from deep build insights
  .github/actions/gradle-enterprise/action.yml
  .gitignore
  .mvn/extensions.xml
Labels: doc-not-needed

#20208 [fix][docs] Remove old template inlined
  wiki/proposals/PIP.md
Labels: doc
