Repository apache/pulsar, pull requests merged in 2023-05, with the labels that each got.

#20201 [fix][client] SchemaDefinition handle JSR310_CONVERSION_ENABLED property
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/SchemaDefinitionBuilderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
Labels: component/client, doc-not-needed, component/schema, ready-to-test

#20218 [improve][ci] Replace handmade action to configure Gradle Enterprise
  .github/actions/gradle-enterprise/action.yml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci

#20030 [fix][broker] Fix the reason label of authentication metrics
  pulsar-broker-auth-athenz/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderAthenz.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenID.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasic.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderList.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderTls.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/metrics/AuthenticationMetrics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/metrics, doc-not-needed, release/important-notice, release/2.10.5, release/2.9.6, release/2.11.2

#20227 [improve][build] Upgrade dependencies to reduce CVE
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, ready-to-test

#20210 [fix][broker] Fix Return value of getPartitionedStats doesn't contain subscription type
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.11.2

#20229 [fix] [broker] Producer created by replicator is not displayed in topic stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
Labels: type/bug, component/replication, doc-not-needed, release/2.10.5, release/2.11.2, release/3.0.1

#20219 [improve][broker] Use bulk operation instead of iteration
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
Labels: component/broker, doc-not-needed, ready-to-test

#20226 [improve][build] Upgrade dependencies to reduce CVE
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-io/flume/pom.xml
  pulsar-io/hdfs2/pom.xml
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/AbstractHdfsConfig.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/AbstractHdfsConnector.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsAbstractSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsSinkConfig.java
  pulsar-io/hdfs3/pom.xml
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/AbstractHdfsConfig.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/AbstractHdfsConnector.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/sink/HdfsAbstractSink.java
  pulsar-io/hdfs3/src/main/java/org/apache/pulsar/io/hdfs3/sink/HdfsSinkConfig.java
  pulsar-io/kinesis/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
  pulsar-sql/presto-pulsar/pom.xml
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, ready-to-test

#20244 [fix] [broker] [branch-2.9] Upgrade rocksDB version to 6.29.4.1 to keep in sync with BookKeeper's RocksDB version
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: release/2.9.6

#20232 [fix] [broker] Fix infinite ack of Replicator after topic is closed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: type/bug, component/replication, doc-not-needed, release/2.10.5, release/2.11.2, release/3.0.1

#20243 [fix] [broker] [Branch-2.10] Upgrade rocksDB version to 6.29.4.1 to keep in sync with BookKeeper's RocksDB version
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, release/2.10.5

#20240 [fix][txn][branch-2.10] Fix transaction is not aborted when send or ACK failed
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
Labels: doc-not-needed, release/2.10.5

#20176 [fix][broker] Fix `RoaringBitmap.contains` can't check value 65535
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/RoaringbitmapTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.9.6, release/2.11.2, release/3.0.1

#19027 [improve][sql] Some optimized points in #9224
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarDispatchingRowDecoderFactory.java
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarRecordCursor.java
Labels: component/sql, doc-not-needed, Stale, ready-to-test

#20242 [fix][client] Java Client's Seek Logic Not Threadsafe #1
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
Labels: component/client, doc-not-needed

#20238 [feat][ws] Use async auth method to support OIDC
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationService.java
Labels: component/client-websocket, doc-not-needed, component/authentication, ready-to-test

#20254 [improve][ci][branch-3.0] Enable CI tests for PRs
  .github/workflows/ci-go-functions.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test

#20233 [fix][broker] Fix the behavior of delayed message in Key_Shared mode
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: type/bug, doc-required, release/2.10.5, release/2.9.6, release/2.11.2, release/3.0.1

#20271 [fix][txn] optimize the ack/send future in TransactionImpl
  pulsar-broker/src/test/java/org/apache/pulsar/RoaringbitmapTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/TxnID.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
Labels: doc-not-needed, ready-to-test

#20261 [fix][broker] Fix `UnsupportedOperationException` when update topic properties.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: doc-not-needed, ready-to-test

#20264 [improve][build] Upgrade dependency to fix CVE.
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker-auth-oidc/pom.xml
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProviderTest.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactoryTest.java
  pulsar-functions/secrets/pom.xml
  pulsar-io/flume/pom.xml
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, ready-to-test

#19967 [improve][broker] Add haProxyProtocolEnabled more description
  conf/broker.conf
  conf/proxy.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: doc, Stale

#20259 [fix][io] add protobuf ByteString to pulsar-io jdbc core
  pom.xml
  pulsar-io/jdbc/core/pom.xml
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/BaseJdbcAutoSchemaSink.java
Labels: doc-not-needed, ready-to-test

#20270 [improve][build] Upgrade maven surefire plugin and other build/test plugins/libs including TestNG version
  .mvn/extensions.xml
  buildtools/pom.xml
  pom.xml
  pulsar-client-tools-customcommand-example/pom.xml
Labels: doc-not-needed, ready-to-test

#20230 [fix][monitor] topic with double quote breaks the prometheus format
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricStreams.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.9.6, release/2.11.2, release/3.0.1

#20250 [fix][broker] Fix default bundle size used while setting bookie affinity
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20000 [fix][fn] Support multiple input topics for Go runtime
  pulsar-function-go/conf/conf.go
  pulsar-function-go/conf/conf.yaml
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/instanceConf.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/go/GoInstanceConfig.java
  pulsar-functions/instance/src/main/resources/findbugsExclude.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/go/PulsarFunctionsGoTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/java/PulsarFunctionsJavaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/python/PulsarFunctionsPythonTest.java
Labels: component/function, doc-not-needed, ready-to-test

#19897 [fix][fn] Make pulsar-admin support update py/go with package url
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: doc-not-needed, ready-to-test

#20289 [cleanup] Deduplicate test certificates to simplify management
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/resources/authentication/tls-http/admin.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/admin.key-pk8.pem
  pulsar-broker/src/test/resources/authentication/tls-http/broker.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/broker.key-pk8.pem
  pulsar-broker/src/test/resources/authentication/tls-http/ca.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/proxy.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/proxy.key-pk8.pem
  pulsar-broker/src/test/resources/authentication/tls-http/superproxy.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/superproxy.key-pk8.pem
  pulsar-broker/src/test/resources/authentication/tls-http/user1.cert.pem
  pulsar-broker/src/test/resources/authentication/tls-http/user1.key-pk8.pem
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/SuperUserAuthedAdminProxyHandlerTest.java
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/admin.cert.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/admin.key-pk8.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/broker.cert.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/broker.key-pk8.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/ca.cert.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/proxy.cert.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/proxy.key-pk8.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/randouser.cert.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/randouser.key-pk8.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/superproxy.cert.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/superproxy.key-pk8.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/user1.cert.pem
  pulsar-proxy/src/test/resources/authentication/tls-admin-proxy/user1.key-pk8.pem
Labels: component/test, type/cleanup, doc-not-needed, ready-to-test

#20287 Revert "[fix] [broker] [branch-2.10] Upgrade rocksDB version to 6.29.4.1 to keep in sync with BookKeeper's RocksDB version
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/RoaringbitmapTest.java
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, release/2.10.5

#20293 [fix][test] Fix flaky test ConnectionPoolTest.testSetProxyToTargetBrokerAddress
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionPoolTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20302 [fix][broker] Fix NPE cause by topic publish rate limiter.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.11.2, release/3.0.1

#20297 [fix][fn] Correct TLS cert config translation from broker to fn worker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
Labels: type/bug, component/function, doc-not-needed, ready-to-test

#20304 [fix][broker] Allow Access to System Topic Metadata for Reader Creation Post-Namespace Deletion
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: doc-not-needed

#20312 [fix] [broker] [branch-2.10] Upgrade rocksDB version to 6.16.4 to keep sync with BookKeeper 4.14.7
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, dependencies, release/2.10.5

#20286 [fix][test] Flaky-test: SimpleProducerConsumerTestStreamingDispatcherTest. rest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20325 [improve][misc] Enable rebase and merge to handle one PR of multiple semantic commits
  .asf.yaml
Labels: doc-not-needed, ready-to-test

#20321 [fix][client] thread-safe seek
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.1

#20235 [fix][txn] Implement compatibility for transaction buffer segmented snapshot feature upgrade
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/SegmentAbortedTxnProcessorTest.java
Labels: doc-not-needed, ready-to-test

#20276 [fix][ml] Fix ledger left in OPEN state when enable `inactiveLedgerRollOverTimeMs`
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20329 [fix][doc] Correcting spelling mistakes
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LinuxInfoUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LinuxBrokerHostUsageImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/Reader.java
Labels: doc

#20008 [improve][io] Upgrade Hadoop and HBase versions
  pom.xml
Labels: doc-not-needed, ready-to-test

#20284 [improve][client] Document Java Client's Seek logic thread-safety improved in #20242
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
Labels: doc

#20339 [feat][meta] Upgrade to jetcd to 0.7.5
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BaseMetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImplTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/EtcdMetadataStoreTest.java
  pulsar-sql/presto-distribution/LICENSE
  src/owasp-dependency-check-suppressions.xml
Labels: flaky-tests, doc-not-needed, component/metadata, dependencies

#20340 [fix][doc] Correcting spelling mistakes
  pulsar-common/src/main/java/org/apache/pulsar/client/impl/schema/SchemaUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/api/raw/RawMessage.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/BKStateStoreImpl.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/auth/KubernetesSecretsTokenAuthProvider.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: doc

#20338 [feat] OIDC: support JWKS refresh for missing Key ID
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenID.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/JwksCache.java
  pulsar-broker-auth-oidc/src/test/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenIDIntegrationTest.java
Labels: doc-required, component/authentication, ready-to-test

#20279 [cleanup] Remove Streaming Dispatcher Code
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/PendingReadEntryRequest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/streamingdispatch/package-info.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherFailoverConsumerStreamingDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentFailoverStreamingDispatcherE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherBlockConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicStreamingDispatcherE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicStreamingDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/SimpleProducerConsumerTestStreamingDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/streamingdispatch/StreamingEntryReaderTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MessageDispatchThrottlingTest.java
Labels: type/cleanup, component/broker, doc-not-needed, release/important-notice, ready-to-test

#20343 [fix][test] Use delta when comparing doubles in checkLoadReportNicSpeed
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadReportNetworkLimitTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test, release/2.11.2, release/3.0.1

#20342 [improve][sec] Suppress etcd CVE warnings
  src/owasp-dependency-check-suppressions.xml
Labels: component/security, doc-not-needed, ready-to-test

#20189 [fix][broker]Fix deadlock of metadata store
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
Labels: type/bug, doc-not-needed, component/metadata, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20327 [fix][broker] When creating a namespace anti-affinity group with the default local policies, use the bundle size supplied by the user.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: component/broker, doc-not-needed

#20299 [improve][ws] Use allowTopicOperationAsync for authz checks
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ReaderHandler.java
Labels: component/client-websocket, doc-not-needed, ready-to-test

#20349 [cleanup] Catch TimeoutException when logging about time outs
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/TopicsBase.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ReaderHandler.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#20316 [improve][cli] Allow pulser-client consume create a replicated subscription
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
Labels: doc, component/cli, release/2.11.2, release/3.0.1

#20115 [improve][fn] Use functions classloader in TopicSchema.newSchemaInstance() to fix ClassNotFoundException when using custom SerDe classes. (targeted for master)
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/SingleConsumerPulsarSource.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/TopicSchemaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/java/PulsarFunctionsJavaTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/java/PulsarWorkerRebalanceDrainTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/utils/CommandGenerator.java
Labels: component/function, doc-not-needed, ready-to-test, release/2.11.2, release/3.0.1

#20348 [fix][test] ProxyWithoutServiceDiscoveryTest should enable authz
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithoutServiceDiscoveryTest.java
Labels: component/test, component/proxy, doc-not-needed, ready-to-test

#20353 [cleanup] Consolidate certs in broker (and some proxy) tests
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/resources/authentication/tls/broker-cert.pem
  pulsar-broker/src/test/resources/authentication/tls/broker-key.pem
  pulsar-broker/src/test/resources/authentication/tls/cacert.pem
  pulsar-broker/src/test/resources/authentication/tls/client-cert.pem
  pulsar-broker/src/test/resources/authentication/tls/client-key.pem
  pulsar-broker/src/test/resources/certificate/client.crt
  pulsar-broker/src/test/resources/certificate/client.csr
  pulsar-broker/src/test/resources/certificate/client.key
  pulsar-broker/src/test/resources/certificate/server.crt
  pulsar-broker/src/test/resources/certificate/server.csr
  pulsar-broker/src/test/resources/certificate/server.key
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceTlsStarterTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTestWithAuth.java
Labels: component/test, type/cleanup, doc-not-needed, ready-to-test

#20337 [improve][broker] Copy BrokerEntryMetadata when rebatchMessage
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test, release/3.0.1

#20335 [fix] [broker] In Key_Shared mode: remove unnecessary mechanisms of message skip to avoid unnecessary consumption stuck
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20315 [improve][broker] Gracefully shut down load balancer extension
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannel.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: type/enhancement, component/broker, doc-not-needed

#20350 [fix][broker] Fix broker load manager class filter NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerLoadManagerClassFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/RedirectManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/BrokerLoadManagerClassFilter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerLoadManagerClassFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/RedirectManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/BrokerLoadManagerClassFilterTest.java
Labels: doc-not-needed, ready-to-test

#20372 [fix][broker] Change some static fields referencing mutable objects to ordinary instance fields in BrokerService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: type/cleanup, doc-not-needed

#20370 [fix][broker] pre-create non-partitioned system topics for load balance extension
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.1

#20369 [fix][broker] Fix memory leak when rebatchMessage
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
Labels: type/bug, component/broker, doc-not-needed, release/3.0.1

#20377 [improve][doc] Remove javadoc reference to old default 30s ack timeout impl
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
Labels: doc

#20381 [improve][monitor] Add JVM start time metric
  pulsar-common/src/main/java/org/apache/pulsar/common/stats/JvmMetrics.java
Labels: component/metrics, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#19896 [fix][fn] Fix JavaInstanceStarter inferring type class name error
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
Labels: doc-not-needed, ready-to-test, release/2.9.5, release/2.10.5, release/2.11.2, release/3.0.1

#20149 [improve][bk] Add integration test with bookie http server enabled
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/bookkeeper/BookkeeperInstallWithHttpServerEnabledTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterSpec.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterTestBase.java
Labels: doc-not-needed, ready-to-test

#20363 [fix][broker] Invalidate metadata children cache after key deleted
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
Labels: type/bug, doc-not-needed, component/metadata, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20384 [improve][ci] Split Pulsar IO unit test job to multiple jobs
  .github/workflows/pulsar-ci.yaml
  build/run_unit_group.sh
  pom.xml
  pulsar-io/pom.xml
Labels: doc-not-needed, component/ci, ready-to-test, release/3.0.1

#20379 [fix][broker] Fix flaky test - testClusterMigrationWithReplica…
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ClusterMigrationTest.java
Labels: doc-not-needed, ready-to-test

#20387 [fix][test] Fix flaky test NonPersistentTopicTest.testMsgDropStat
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20374 [improve][doc] Improve doc for delayed message
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
Labels: doc

#20392 [fix][broker] partitioned __change_events topic is policy topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/SystemTopicNames.java
  pulsar-common/src/test/java/org/apache/pulsar/common/naming/SystemTopicNamesTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20401 [fix][test] Fix flaky test NonPersistentTopicTest.testMsgDropStat, follow up
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20400 [improve][broker] Use immutable base cursor properties
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#20410 [fix][ci] Update nar maven plugin version to fix excessive downloads
  pom.xml
Labels: type/bug, doc-not-needed, component/ci, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20411 [fix][sec] Upgrade sqlite-jdbc to resolve CVE-2023-32697
  pom.xml
Labels: component/security, doc-not-needed, ready-to-test, release/3.0.1

#20412 [improve][ci] Speed up OWASP dependency check in Pulsar CI workflow
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test, release/2.11.2, release/3.0.1

#20257 [fix][broker] Fix ledger cachemiss size metric
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheDisabled.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.1

#18620 [fix][broker] If ledger lost, cursor mark delete position can not forward
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/LedgerLostAndSkipNonRecoverableTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.9.6, release/2.11.2, release/3.0.1

#20358 [fix][test] Fix SegmentAbortedTxnProcessorTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/SegmentAbortedTxnProcessorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferCloseTest.java
Labels: component/test, doc-not-needed, release/3.0.1

#20425 [improve][ci] Improve TestNG test execution to debug flaky test failures
  buildtools/src/main/java/org/apache/pulsar/tests/FailFastNotifier.java
  buildtools/src/main/java/org/apache/pulsar/tests/PulsarTestListener.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20416 [improve] [broker] Avoid `PersistentSubscription.expireMessages` logic check backlog twice.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.9.6, release/2.11.2, release/3.0.1

#20432 [improve][broker] Replace String.intern() with Guava Interner
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/StringInterner.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#20429 [fix][test] Fix flaky test NonPersistentTopicTest.testMsgDropStat, 3rd attempt
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20396 [Fix] [Txn] unwrap the completion exception.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
Labels: component/transaction, doc-not-needed, release/2.11.2, release/3.0.1

#20423 [improve][misc] Upgrade Netty to 4.1.93.Final
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/dependency, doc-not-needed, ready-to-test, release/3.0.1

#20426 [fix][fn] Fix JavaInstanceStarter inferring type class name error
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntimeFactory.java
Labels: doc-not-needed, ready-to-test, release/2.11.2

#20431 [fix][test] Improve deleteNamespaceWithRetry
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20303 [fix] [meta]Switch to the metadata store thread after zk operation
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: doc-not-needed, component/metadata, release/2.10.5, release/2.11.2, release/3.0.1

#20436 [improve][test] Add unit test for metadata cache #20363
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BaseMetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: doc-not-needed, ready-to-test

#20439 [improve][misc] Deprecate PIP issue type
  .github/ISSUE_TEMPLATE/pip.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc-not-needed

#20440 [fix][misc] Fix invalid PIP GitHub issue template
  .github/ISSUE_TEMPLATE/pip.md
Labels: doc-not-needed

#19561 [improve][meta] Support set metadata size threshold for compression.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactoryConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/MetadataCompressionConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorInfoMetadataTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerInfoMetadataTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
Labels: doc-not-needed, component/metadata, ready-to-test

#20417 [fix][cli] Fulfill add-opens to function-localrunner also
  bin/bookkeeper
  bin/function-localrunner
  bin/pulsar
  bin/pulsar-admin-common.sh
  bin/pulsar-perf
Labels: doc-not-needed, ready-to-test, release/2.11.2, release/3.0.1

#20409 [improve][broker] Change limitStatsLogging config default value to true
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BookKeeperClientFactoryImplTest.java
Labels: component/broker, doc-complete

#19895 [fix][fn] Fix function update error
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: doc-not-needed, ready-to-test

#20413 [fix][fn] Go functions must retrieve consumers by non-particioned topic ID
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/util.go
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#18949 [fix] [broker] do not filter system topic while shedding.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: component/transaction, doc-not-needed, Stale, release/2.11.1, release/2.10.4

#20366 [fix][offload] fix offload metrics error
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
  pulsar-common/src/test/java/org/apache/pulsar/common/naming/TopicNameTest.java
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileStoreBackedReadHandleImpl.java
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloader.java
  tiered-storage/file-system/src/test/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloaderTest.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedInputStreamImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImplV2.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlockAwareSegmentInputStreamImpl.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: component/stats, doc-not-needed, release/2.11.2, release/3.0.1

#20383 [improve][broker] Do not expose bucketDelayedIndexStats
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
Labels: doc-not-needed, ready-to-test
