Repository apache/pulsar, pull requests merged in 2023-11, with the labels that each got.

#21494 [branch-2.10][fix][proxy] Move status endpoint out of auth coverage
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithJwtAuthorizationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/UnauthedAdminProxyHandlerTest.java
Labels: doc-not-needed, cherry-picked/branch-2.10, release/2.10.6

#21496 [fix][broker] Fix PulsarService/BrokerService shutdown when brokerShutdownTimeoutMs=0
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: component/test, component/broker, flaky-tests, doc-not-needed, ready-to-test

#21500 [fix][test] Fix multiple thread leaks in tests
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/RateLimiterTest.java
  pulsar-io/debezium/core/src/test/java/org/apache/pulsar/io/debezium/PulsarDatabaseHistoryTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAdditionalServletTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyDisableZeroCopyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyStatsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithJwtAuthorizationTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#21220 [improve] [broker] Let the producer request success at the first time if the previous one is inactive
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: type/bug, doc-not-needed, Stale, release/2.10.6, category/reliability, release:3.0.3, release/2.11.4

#21499 [improve][ci] Improve thread leak detection by ignoring more Testcontainers threads
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
Labels: component/test, doc-not-needed, component/ci, ready-to-test

#21486 [fix][broker] Avoid pass null role in MultiRolesTokenAuthorizationProvider
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/MultiRolesTokenAuthorizationProvider.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authorization/MultiRolesTokenAuthorizationProviderTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.10.6, release/3.1.2, release/2.11.4

#21503 [fix] [build] Unified the version of the library org.checkerframework
  pom.xml
Labels: doc-not-needed, ready-to-test

#21509 [fix][test] Fixed too short wait in ResourceGroupRateLimiterTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupRateLimiterTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#21505 [fix][txn] OpRequestSend reuse problem cause tbClient commitTxnOnTopic timeout unexpectedly
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.10.6, release/3.1.2, release/2.11.4

#21465 [fix][broker] Fix issue with consumer read uncommitted messages from compacted topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicUtilsTest.java
Labels: type/bug, component/broker, doc-not-needed

#21511 [improve][ci] Move pulsar-metadata unit tests from OTHER to new METADATA group
  .github/workflows/pulsar-ci.yaml
  build/run_unit_group.sh
  pulsar-metadata/pom.xml
Labels: component/test, flaky-tests, doc-not-needed, component/ci, ready-to-test

#21512 [improve] [auto-recovery] Make AutoRecovery enable stickyReadS as default.
  conf/bookkeeper.conf
Labels: doc-not-needed, ready-to-test

#21513 [fix][test] Fix multiple thread leaks in tests, part 2
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/PulsarLedgerAuditorManagerTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/RocksdbMetadataStoreTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationTest.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/impl/TxnLogBufferedWriterTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#21508 [fix][broker] Fix failure while creating non-durable cursor with inactive managed-ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/MockManagedLedger.java
Labels: component/broker, doc-not-needed, ready-to-test

#21517 [improve][misc] Disable rebase and merge to prevent unsquashed PRs
  .asf.yaml
Labels: doc-not-needed

#21270 [fix][client] Avert extensive time consumption during table view construction
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TableViewTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
Labels: component/client, doc-not-needed, ready-to-test, category/reliability, release/3.1.2, release:3.0.3, release/2.11.4

#21379 [improve][ws] Support subscribing multi/pattern topic for Websocket
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/AbstractWebSocketHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/MultiTopicConsumerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketMultiTopicConsumerServlet.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketServiceStarter.java
  pulsar-websocket/src/main/resources/findbugsExclude.xml
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/AbstractWebSocketHandlerTest.java
Labels: component/websocket, doc-not-needed, ready-to-test

#21520 [improve][build] Change UBUNTU_MIRROR default value
  build/pulsar_ci_tool.sh
  docker/pulsar/Dockerfile
  docker/pulsar/pom.xml
  tests/docker-images/java-test-image/Dockerfile
Labels: component/build, doc-not-needed, component/ci, ready-to-test

#21479 [fix][test] Fix ExtensibleLoadManagerImplTest flaky test
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: component/test, doc-not-needed, ready-to-test

#21268 [fix][txn] Ack all message ids when ack chunk messages with transaction.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionConsumeTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: doc-not-needed

#21445 [fix][broker] Fix namespace bundle stuck in unloading status
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceUnloadingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
Labels: component/broker, release/blocker, doc-not-needed, ready-to-test, release/2.11.3, release/2.10.6, category/reliability, release/3.1.2, release:3.0.3

#21543 [fix][test] Fix multiple thread leaks in tests, part 3
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryShutdownTest.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/SaslAuthenticateTest.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/jetty/tls/JettySslContextFactoryTest.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/jetty/tls/JettySslContextFactoryWithKeyStoreTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
  pulsar-client-auth-sasl/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationSasl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/sasl/TGTRefreshThread.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/windowing/WaterMarkEventGeneratorTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/SchedulerManagerTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClientTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceProducerTest.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/PingPongSupportTest.java
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloader.java
  tiered-storage/file-system/src/test/java/org/apache/bookkeeper/mledger/offload/filesystem/FileStoreTestBase.java
  tiered-storage/file-system/src/test/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloaderTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#21545 [fix][broker] Fix create topic with different auto creation strategies causes race condition
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.1.2, release/3.0.3, release/2.11.4

#21530 [fix][ml] Fix unfinished callback when deleting managed ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.1.2, release/3.0.3, release/2.11.4

#21532 [fix][test] Fix that some test cases are not running as expected on CI
  pulsar-broker/src/test/java/org/apache/bookkeeper/mledger/impl/MangedLedgerInterceptorImpl2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/TestPulsarFunctionUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarBatchSourceE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSinkE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarSourceE2ETest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyKeyStoreTlsWithAuthTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyKeyStoreTlsWithoutAuthTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsWithAuthTest.java
Labels: doc-not-needed

#21485 [fix][client] Fix print error log 'Auto getting partitions failed' when expend partition.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PartitionedProducerImpl.java
Labels: doc-not-needed, ready-to-test, release/2.9.5, release/3.0.2, release/2.10.6, release/3.1.2, release/2.11.4

#21523 [fix] [bk-config] Format bk config
  conf/bookkeeper.conf
Labels: doc-not-needed, ready-to-test

#21542 [fix] [ml] Fix orphan scheduled task for ledger create timeout check
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.0.3, release/2.11.4

#21540 [fix] [broker] Fix thousands orphan PersistentTopic caused OOM
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/OrphanPersistentTopicTest.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
Labels: type/bug, doc-not-needed, release/2.10.6, category/reliability, release/3.1.2, release/3.0.3, release/2.11.4

#21510 [fix][broker] Fix setReplicatedSubscriptionStatus incorrect behavior
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.1.2, release/3.0.3, release/2.11.4

#21558 [fix][readme]update deploy-kubernetes url
  deployment/kubernetes/README.md
Labels: doc-not-needed

#21569 [fix] [build] [branch-3.0] Remove test testNoOrphanTopicIfInitFailed
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/OrphanPersistentTopicTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2

#21571 [fix][broker][branch-3.1] Fix issue with consumer read uncommitted messages from compacted topic (#21465)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicUtilsTest.java
Labels: doc-not-needed, ready-to-test, release/3.1.2

#21519 [improve][test] Use BrokerInterceptors to load CounterBrokerInterceptor
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/BrokerInterceptorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/CounterBrokerInterceptor.java
Labels: component/test, doc-not-needed, ready-to-test

#21541 [improve][pip] PIP-318: Don't retain null-key messages during topic compaction
  pip/pip-318.md
Labels: PIP, doc-not-needed

#21412 [improve][cli][PIP-280] Retrofit `pulsar-cli-utils` into `pulsar-broker` and `pulsar-client-tools`
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/utils/auth/tokens/TokensCliUtils.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTransactions.java
Labels: doc-not-needed, ready-to-test

#21495 [fix][broker] Do not write replicated snapshot marker when the topic which is not enable replication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.9.5, release/2.10.6, release/3.1.2, release/3.0.3, release/2.11.4

#21565 [fix][broker] Fix namespace bundle stuck in unloading status (#21445)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceUnloadingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
Labels: doc-not-needed, ready-to-test, cherry-picked/branch-3.0, release/3.0.2

#21567 [fix][broker] Fix namespace bundle stuck in unloading status (#21445)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceUnloadingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
Labels: doc-not-needed, cherry-picked/branch-2.10, release/2.10.6

#21461 [fix][broker] Fix resource_quota_zpath
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImplTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationController.java
Labels: doc-not-needed, ready-to-test

#21438 [improve][pip] PIP-312: Use StateStoreProvider to manage state in Pulsar Functions endpoints
  pip/pip-312.md
Labels: PIP, doc-not-needed

#21566 [fix][broker] Fix namespace bundle stuck in unloading status (#21445)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceUnloadingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
Labels: doc-not-needed, cherry-picked/branch-2.11, ready-to-test, release/2.11.3

#21578 [improve][broker][PIP-318] Support not retaining null-key message during topic compaction
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: doc-not-needed

#21228 [improve][pip] PIP-303: Add optional parameters for getPartitionedStats
  pip/pip-303.md
Labels: PIP, doc-not-needed

#21585 [fix][test] Detects whether an empty object is returned, prevent NPE exception
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PartitionedProducerImplTest.java
Labels: component/test, doc-not-needed, ready-to-test

#21595 [fix] [broker] Delete topic timeout due to NPE
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/BucketDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
Labels: type/bug, doc-not-needed, ready-to-test, category/reliability, release/3.1.2, release/3.0.3

#21589 [improve] [client] Add producerName for deadLetterProducer
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: doc-required, release/important-notice

#21574 [fix][broker] Correct schema deletion for parititioned topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicGCTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/TopicSchemaTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.0.3, release/2.11.4

#21601 [improve][broker][branch-3.1] Support not retaining null-key message during topic compaction (#21578)
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: doc-not-needed, ready-to-test, release/3.1.2

#21570 [fix][broker][branch-3.0] Fix issue with consumer read uncommitted messages from compacted topic (#21465)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2

#21610 [branch-2.10][fix][broker] Duplicate LedgerOffloader creation when na…
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPoliciesImpl.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/OffloadPoliciesTest.java
Labels: doc-not-needed

#21609 [fix][test] Fix flaky test ManagedLedgerTest#testManagedLedgerRollOverIfFull
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/test, doc-not-needed, ready-to-test

#21613 [improve][client] Ignore InterruptedException when pulsar-perf finishing
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: doc-not-needed

#21620 [cleanup][client] Fix inconsistent API annotations of `getTopicName`
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
Labels: doc-not-needed, ready-to-test, release/3.1.2, release/3.0.3

#21619 [fix][sec] Upgrade rabbitmq client to address CVE-2023-46120
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  managed-ledger/pom.xml
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: release/2.4.3, doc-not-needed, release/2.9.5, release/2.10.6, release/3.1.2, release/3.0.3, release/2.11.4

#21623 [improve][doc] Clarify to check numbering when creating the PIP doc
  pip/README.md
Labels: PIP, doc-not-needed

#21621 [improve][sec] Support for Elliptic Curve Cryptography (EC, ECC) (certificates/private keys)
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/security/tls/MockedPulsarStandalone.java
  pulsar-broker/src/test/java/org/apache/pulsar/security/tls/ec/TlsWithECCertificateFileTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/security/tls/ec/TlsWithECKeyStoreTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SecurityUtility.java
  tests/certificate-authority/ec/broker_client.cert.pem
  tests/certificate-authority/ec/broker_client.csr.pem
  tests/certificate-authority/ec/broker_client.key-pk8.pem
  tests/certificate-authority/ec/broker_client.key.pem
  tests/certificate-authority/ec/ca.cert.pem
  tests/certificate-authority/ec/ca.cert.srl
  tests/certificate-authority/ec/ca.key.pem
  tests/certificate-authority/ec/certificate_generation.txt
  tests/certificate-authority/ec/client.cert.pem
  tests/certificate-authority/ec/client.csr.pem
  tests/certificate-authority/ec/client.key-pk8.pem
  tests/certificate-authority/ec/client.key.pem
  tests/certificate-authority/ec/jks/broker_client.cert.pem
  tests/certificate-authority/ec/jks/broker_client.keystore.jks
  tests/certificate-authority/ec/jks/broker_client.signed.cert.pem
  tests/certificate-authority/ec/jks/ca.cert.pem
  tests/certificate-authority/ec/jks/ca.cert.srl
  tests/certificate-authority/ec/jks/ca.key.pem
  tests/certificate-authority/ec/jks/ca.truststore.jks
  tests/certificate-authority/ec/jks/client.cert.pem
  tests/certificate-authority/ec/jks/client.keystore.jks
  tests/certificate-authority/ec/jks/client.signed.cert.pem
  tests/certificate-authority/ec/jks/key_store_generation.txt
  tests/certificate-authority/ec/jks/server.cert.pem
  tests/certificate-authority/ec/jks/server.keystore.jks
  tests/certificate-authority/ec/jks/server.signed.cert.pem
  tests/certificate-authority/ec/server.cert.pem
  tests/certificate-authority/ec/server.conf
  tests/certificate-authority/ec/server.csr.pem
  tests/certificate-authority/ec/server.key-pk8.pem
  tests/certificate-authority/ec/server.key.pem
Labels: type/enhancement, component/security, doc-not-needed, ready-to-test

#20932 [fix] [log] fix the vague response if topic not found
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TransactionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiGetLastMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerDisallowAutoCreateTopicTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#20933 [improve][build] Upgrade Apache ZooKeeper to 3.9.1
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
  pulsar-package-management/bookkeeper-storage/pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test, dependencies

#21625 [improve][sec] Align the default mechanism for server to request certificates
  pulsar-broker/src/test/java/org/apache/pulsar/security/tls/MockedPulsarStandalone.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/keystoretls/KeyStoreSSLContext.java
Labels: type/enhancement, component/security, doc-not-needed, ready-to-test

#21632 [fix][broker] Fixed getting incorrect KeyValue schema version
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-common/src/main/java/org/apache/pulsar/client/impl/schema/SchemaUtils.java
Labels: doc-not-needed, ready-to-test, release/2.9.5, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21642 [fix][test] Fix flaky test SimpleProducerConsumerStatTest#testPartitionTopicStats
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#21645 [fix][admin] Fix KeyValue schema compatibility check caused OOM
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21592 [fix][broker] Fix incorrect unack count when using shared subscription on non-persistent topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: doc-not-needed, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21639 [improve] Make `sslTruststorePassword` sensitive for the Kafka connector config
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSinkConfig.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSourceConfig.java
Labels: doc-not-needed, ready-to-test
