Repository apache/pulsar, pull requests merged in 2023-09, with the labels that each got.

#21080 [improve][pip] PIP-264: Enhanced OTel-based metric system
  pip/pip-264.md
Labels: PIP, doc-not-needed

#21065 [improve][broker] Make read compacted entries support maxReadSizeBytes limitation
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicUtilsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/StrategicCompactionTest.java
Labels: type/enhancement, component/broker, doc-not-needed, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1

#21052 [improve][pip] Implement getLastMessageIds API for Reader
  pip/pip-296.md
Labels: PIP, doc-not-needed

#21099 [fix][broker] Fix unsubscribe non-durable subscription error
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/3.0.2, release/3.1.1

#21093 [fix][broker] Fix deleting topic not delete the related topic policy and schema.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/PartitionedSystemTopicTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#21033 [improve][pip] Replace reader with table view in the topic policy service
  pip/pip-284.md
Labels: PIP

#21101 [fix][client] Avoid ack hole for chunk message
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: doc-not-needed, ready-to-test, release/2.9.5, release/3.0.2, release/2.10.6, release/3.1.1

#21091 [fix][broker] Avoid splitting one batch message into two entries in StrategicTwoPhaseCompactor
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/StrategicTwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/StrategicCompactionRetentionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/StrategicCompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/StrategicCompactorTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.2, release/3.1.1

#21081 [fix][broker] Fix write duplicate entries into the compacted ledger after RawReader reconnects
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/2.9.5, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1

#21083 [fix][broker] Cleanup correctly heartbeat bundle ownership when handling broker deletion event
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/PartitionedSystemTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.2, release/3.1.1

#21096 [fix] [broker] Fix isolated group not work problem.
  pulsar-broker-common/src/main/java/org/apache/pulsar/bookie/rackawareness/IsolatedBookieEnsemblePlacementPolicy.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/bookie/rackawareness/IsolatedBookieEnsemblePlacementPolicyTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/3.1.1, category/reliability

#21116 [fix][client] Fix repeat consume when using n-ack and batched messages
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
Labels: type/bug, component/client, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1

#21023 [fix][fn] Fix the --batch-builder not working error for functions
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1

#21087 [fix][broker] revert remove duplicate topics name when deleteNamespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
Labels: doc-not-needed, release/3.0.2, release/3.1.1

#21077 [fix][proxy] Fix Proxy 502 gateway error when it is configured with Keystore TLS and admin API is called
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AdminProxyHandlerKeystoreTLSTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1

#21135 [branch-2.10] Fix flaky test
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceChaosTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: doc-not-needed

#21098 [branch-2.10] [fix] [broker] Fix isolated group not work problem.
  pulsar-broker-common/src/main/java/org/apache/pulsar/bookie/rackawareness/IsolatedBookieEnsemblePlacementPolicy.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/bookie/rackawareness/IsolatedBookieEnsemblePlacementPolicyTest.java
Labels: type/bug, doc-not-needed, ready-to-test

#21120 [cleanup][misc] Delete .github/ISSUE_TEMPLATE/pip.md
  .github/ISSUE_TEMPLATE/pip.md
Labels: doc-not-needed

#21079 [improve][pip] PIP-297: Support terminating Function & Connector with the fatal exception
  pip/pip-297.md
Labels: PIP, doc-not-needed

#21141 [improve] [broker] Improve logs for troubleshooting
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6

#21137 [fix][broker] Fix web tls url null cause NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/TopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicsWithoutTlsTest.java
Labels: doc-not-needed, ready-to-test, release/2.9.5, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1

#21103 [fix][test]Flaky test testMaxPendingChunkMessages
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#21139 [improve][cli] Add current option in the Clusters list cmd
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdClusters.java
Labels: doc-not-needed, ready-to-test

#21110 [improve] [doc] Add doc for customized util class
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongLongPairHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongPairSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashSet.java
Labels: doc

#21146 [improve][broker] Upgrade bookkeeper to 4.16.3
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test, dependencies, release/3.0.2, release/3.1.1

#21130 [improve] [bookie] Enable forceAllowCompaction by default
  conf/bookkeeper.conf
Labels: component/config, doc-not-needed, ready-to-test

#21144 [fix] [client] fix same producer/consumer use more than one connection per broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/NonStartableTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferHandlerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionPoolTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarTestClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactorTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AutoClusterFailoverTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageContainerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientTestFixtures.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ControlledClusterFailoverTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PartitionedProducerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TableViewBuilderImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TableViewImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicListWatcherTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/UnAckedMessageTrackerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/MultiVersionSchemaInfoProviderTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/sink/PulsarSinkTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/source/PulsarSourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/LeaderServiceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/MembershipManagerTest.java
Labels: type/bug, component/client, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1, category/reliability

#21025 [fix][broker] fix UniformLoadShedder selecet wrong overloadbroker and underloadbroker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedderTest.java
Labels: doc-not-needed, ready-to-test

#21051 [improve][client] Implement getLastMessageIds API for Reader
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/ReaderHandlerTest.java
Labels: doc-not-needed, ready-to-test

#21167 [cleanup][monitor] Remove metric `topic_load_times`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerOperabilityMetrics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-not-needed, ready-to-test

#21169 [improve] [broker] improve read entry error log for troubleshooting
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6

#21157 [fix] [bookie] Fix RocksDB configuration
  conf/entry_location_rocksdb.conf
Labels: type/bug, component/config, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/3.1.1

#21155 [fix] [broker] Make specified producer could override the previous one
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerConsumerInternalTest.java
Labels: doc-not-needed, release/3.0.2, release/2.11.3, release/2.10.6, category/reliability

#21163 [branch-2.11] Fix compatibility issues
  pom.xml
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/AdminProxyHandlerKeystoreTLSTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.3

#20720 [fix][broker] Fix missing generate some metrics in BrokerOperabilityMetrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerOperabilityMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: component/metrics, doc-not-needed, ready-to-test

#21142 [improve] [bk] Update the document of diskUsageWarnThreshold
  conf/bookkeeper.conf
Labels: doc-not-needed, ready-to-test

#21143 [improve][io] PIP-297: Support terminating Function & Connector with the fatal exception
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/BaseContext.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ContextImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/sink/KafkaAbstractSinkTest.java
Labels: type/enhancement, component/function, doc-required, ready-to-test

#21176 [fix][ci] Fix missing binary license
  distribution/server/src/assemble/LICENSE.bin.txt
Labels: doc-not-needed, ready-to-test

#21168 [improve] [broker] disable balancing based on DirectMemory.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: doc-not-needed

#21184 [fix][ci] Enable CI for branch-3.1
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test

#21185 [improve][ci] Protect branch-3.1
  .asf.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
Labels: doc-not-needed, ready-to-test

#21180 [fix][broker][branch-3.1] Backport fix UniformLoadShedder selecet wrong overloadbroker and underloadbroker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedderTest.java
Labels: doc-not-needed, release/3.1.1

#21156 [fix][broker] Avoid splitting one batch message into two entries in StrategicTwoPhaseCompactor
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/StrategicTwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/StrategicCompactionRetentionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/StrategicCompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/StrategicCompactorTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, cherry-picked/branch-3.0, release/3.0.2

#21160 [fix][bk] Improve to the ReplicaitonWorker performance by deleting invalid underreplication nodes
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarLedgerUnderreplicationManager.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/LedgerUnderreplicationManagerTest.java
Labels: doc-not-needed, ready-to-test, cherry-picked/branch-3.0, release/3.0.2

#18390 [fix][broker] fix bug caused by optimistic locking
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongLongPairHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentLongPairSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMap.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/FutureUtilTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentLongHashMapTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentLongLongPairHashMapTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentLongPairSetTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashMapTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/ConcurrentOpenHashSetTest.java
Labels: doc-not-needed, Stale

#21159 [fix][auto-recovery] Fix metadata store deadlock due to BookkeeperInternalCallbacks.Processor
  pom.xml
  pulsar-metadata/pom.xml
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/AbstractHierarchicalLedgerManager.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicCheckTest.java
Labels: type/bug, doc-not-needed, component/metadata, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1, category/reliability

#21131 [improve] [bookie] Change flushEntrylogBytes default value from 256MB to 32MB
  conf/bookkeeper.conf
Labels: component/config, doc-not-needed, ready-to-test

#20987 [fix][doc] fix doc comment for subscriptionType
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
Labels: doc

#21015 [fix][broker] Fix PulsarService.getLookupServiceAddress returns wrong port if TLS is enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/PulsarServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AdvertisedListenersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ClusterMigrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientAuthenticationTlsTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyRefreshAuthTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceTlsStarterTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/BrokerContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ProxyContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/tls/ClientTlsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterSpec.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/3.1.1

#21197 [fix][ci] Fix license check issue
  pom.xml
Labels: doc-not-needed

#21148 [Branch-2.10] [imporve] [bookie] Upgrade BookKeeper dependency to 4.14.8 for branch 2.10
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeySharedSubscriptionTest.java
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test, dependencies, release/2.10.6

#21179 [fix][broker] Backport fix UniformLoadShedder selecet wrong overloadbroker and underloadbroker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedderTest.java
Labels: doc-not-needed, ready-to-test, cherry-picked/branch-3.0, release/3.0.2

#21165 [fix][broker][branch-3.0] Fix write duplicate entries into the compacted ledger after RawReader reconnects (#21081)
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2

#21181 [fix] [auto-recovery] Fix pulsar ledger auditor dead lock problem.
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarLedgerAuditorManager.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicCheckTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AutoRecoveryMainTest.java
Labels: type/bug, doc-not-needed, component/metadata, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1, category/reliability

#21178 [fix][broker] Backport fix UniformLoadShedder selecet wrong overloadbroker and underloadbroker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedderTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.3

#21182 [fix][broker][branch-2.10] Backport fix UniformLoadShedder selecet wrong overloadbroker and underloadbroker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedder.java
Labels: doc-not-needed, release/2.10.6

#21207 [improve][proxy] When adding new brokers resolve the DNS name more quickly
  docker/pulsar/Dockerfile
Labels: doc-not-needed, ready-to-test

#21205 [fix][broker] replicator leak when removeReplicator in NonPersistentTopic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
Labels: doc-not-needed, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1

#21216 [improve] [proxy] Not close the socket if lookup failed caused by too many requests
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyLookupThrottlingTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, category/reliability

#21164 [improve][broker][branch-3.0] Make read compacted entries support maxReadSizeBytes limitation (#21065)
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStreamingDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/StrategicCompactionTest.java
Labels: doc-not-needed, ready-to-test

#21232 [improve] [client] Merge lookup requests for the same topic
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, category/reliability

#21222 [fix] [broker] fix flaky test PatternTopicsConsumerImplTest
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
Labels: doc-not-needed, ready-to-test

#21225 [fix][broker] Fixed reset for AggregatedNamespaceStats
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStatsTest.java
Labels: type/bug, component/metrics, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1

#21237 [fix][broker]Fixed produce and consume when anonymousUserRole enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: type/bug, component/broker, component/security, doc-not-needed

#21129 [improve][pip] PIP-301: Introduce LoadBalanceResources to unify the load-date CRUD
  pip/pip-301.md
Labels: PIP, doc-not-needed

#21215 [fix][fn] fix functions_log4j2.xml delete strategy config
  conf/functions_log4j2.xml
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/3.1.1

#21204 [improve][io] Use `SinkContext.fatal` in elastic search connector
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchAuthTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientSslTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/opensearch/OpenSearchClientSslTests.java
Labels: doc-not-needed, ready-to-test

#20867 [improve][pip] PIP-286: Make the TopicCompactionService to support find entry based on publishTime or index
  pip/pip-286.md
Labels: PIP, doc-not-needed

#21231 [fix][broker] Fix inconsistent topic policy
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/ProxySaslAuthenticationTest.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/SaslAuthenticateTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesWithBrokerRestartTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthLogsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockAuthentication.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MutualAuthenticationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenAuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenOauth2AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeyStoreTlsProducerConsumerTestWithAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplAuthTest.java
  pulsar-broker/src/test/resources/configurations/standalone_no_client_auth.conf
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAuthenticationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyForwardAuthDataTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyRolesEnforcementTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithAuthorizationNegTest.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarAuth.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestPulsarSQLAuth.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1, category/reliability

#21177 [fix][txn] fix the consumer stuck due to deduplicated messages in pending ack state
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
Labels: type/bug, component/broker, component/transaction, doc-not-needed, release/3.0.2, release/3.1.1

#21211 [improve] [broker] Not close the socket if lookup failed caused by bundle unloading or metadata ex
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/ServiceUnitUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LeaderElectionServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, category/reliability

#21188 [improve] [auto-recovery] Migrate the replication testing from BookKeeper to Pulsar.
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarLayoutManager.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarLedgerAuditorManager.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarLedgerManager.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorBookieCheckTaskTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorBookieTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorCheckAllLedgersTaskTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorLedgerCheckerTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicBookieCheckTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorPeriodicCheckTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTaskTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorPlacementPolicyCheckTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorReplicasCheckTaskTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorReplicasCheckTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorRollingRestartTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuthAutoRecoveryTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AutoRecoveryMainTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/BookieAutoRecoveryTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/BookieLedgerIndexTest.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/ReplicationTestUtil.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/TestAutoRecoveryAlongWithBookieServers.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/TestReplicationWorker.java
Labels: type/bug, component/test, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6, release/3.1.1, category/reliability

#21259 [fix] [client] fix reader.hasMessageAvailable return false when incoming queue is not empty
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonDurableSubscriptionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.2, release/2.11.3, release/2.10.6

#21281 [fix][sec] Add OWASP Dependency Check suppressions
  src/owasp-dependency-check-suppressions.xml
Labels: component/security, doc-not-needed, ready-to-test

#21278 [fix][build] Upgrade Lombok to 1.18.30 to support compiling with JDK21
  pom.xml
Labels: component/build, doc-not-needed, ready-to-test
