Repository apache/pulsar, pull requests merged in 2023-06, with the labels that each got.

#20446 [fix][test] Fix test `testThreadSwitchOfZkMetadataStore`
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: component/test, doc-not-needed, cherry-picked/branch-2.11, ready-to-test, release/2.11.2

#20326 [fix][broker] Fix skip message API when hole messages exists
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: doc-not-needed, release/2.8.5, release/2.10.5, release/2.9.6, release/2.11.2, release/3.0.1

#20406 [feat][broker]PIP-255 Part-1: Add listener interface for namespace service
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceBundleSplitListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceCreateBundlesTest.java
Labels: type/feature, component/broker, doc-not-needed, ready-to-test

#20454 [cleanup][ml] cleanup numManagedLedgerWorkerThreads
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactoryConfig.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#20450 [fix][fn]Reset idle timer correctly
  pulsar-function-go/pf/instance.go
Labels: type/bug, component/function, doc-not-needed, release/2.10.5, release/2.11.2, release/3.0.1

#20459 [fix][sec] Upgrade Guava to 32.0.0 to address CVE-2023-2976
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
  pulsar-sql/presto-distribution/pom.xml
Labels: component/security, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20464 [fix][test] Remove dependency on httpbin.org service in FunctionCommonTest
  pulsar-functions/utils/pom.xml
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionCommonTest.java
Labels: flaky-tests, doc-not-needed, component/ci, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20461 [fix][sec] Upgrade Jetty to address CVEs
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20465 [fix][test] Replace test call to Auth0 with call to WireMock
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenOauth2AuthenticatedProducerConsumerTest.java
Labels: component/broker, flaky-tests, doc-not-needed, ready-to-test

#19983 [improve][broker] Log resource usage rate of brokers that need to be offloaded in ThresholdShedder
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedder.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#20456 [improve][broker] Support revoking permission for AuthorizationProvider
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
Labels: type/feature, component/broker, doc-not-needed, ready-to-test

#20477 [improve][build] add `--no-cache-dir` in dockerfile to disable the pip cache
  build/docker/Dockerfile
Labels: doc-not-needed

#20398 [improve][test] Implement broker integration test with entry metadata interceptors enabled
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/bookkeeper/BrokerInstallWithEntryMetadataInterceptorsTest.java
Labels: component/test, component/broker, doc-not-needed

#20482 [fix][fn] Support customizing TLS config for function download command
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: type/bug, component/function, doc-not-needed, ready-to-test, release/2.10.5, release/2.9.6, release/2.11.2, release/3.0.1

#20468 [fix][fn] enable Go function token auth and TLS
  pulsar-function-go/conf/conf.go
  pulsar-function-go/examples/go.mod
  pulsar-function-go/examples/go.sum
  pulsar-function-go/pf/instance.go
  pulsar-function-go/pf/instanceConf.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/go/GoInstanceConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/RuntimeUtilsTest.java
Labels: component/function, component/security, doc-not-needed

#20443 [feat][fn] Add stateStorageURL and pulsarWebService URL to go InstanceConfig
  pulsar-function-go/conf/conf.go
  pulsar-function-go/pf/instanceConf.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/go/GoInstanceConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/RuntimeUtilsTest.java
Labels: type/feature, component/function, doc-not-needed

#19236 [improve][broker] Add `topic_load_failed` metric
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerOperabilityMetrics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-required, component/metrics, ready-to-test

#20245 [fix][client] Fix where the function getMsgNumInReceiverQueue always returns 0 when using message listener
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorderImpl.java
Labels: component/client, doc-not-needed, ready-to-test

#20480 [fix][io] Close the kafka source connector if there is uncaught exception
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.2

#20486 [fix][ci] Fix OWASP dependency check suppressions
  pom.xml
  src/owasp-dependency-check-suppressions.xml
Labels: doc-not-needed, component/ci, ready-to-test

#20404 [fix][fn] Go functions need to use static grpcPort in k8s runtime
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: type/bug, component/function, doc-not-needed, release/2.10.5, release/2.11.2, release/3.0.1

#20494 [fix][test] Disable invalid test BrokerServiceTest#testBrokerStatsTopicLoadFailed
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: flaky-tests, doc-not-needed, component/ci, ready-to-test

#20499 [improve][fn] Optimize string concatenation in user metrics gen
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ContextImpl.java
Labels: component/function, doc-not-needed, ready-to-test

#20478 [improve][admin] Using AuthorizationService to revoke the permissions.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PackagesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
Labels: component/admin, doc-not-needed, ready-to-test, component/authorization

#20475 [fix][misc] Use ubuntu 22.04 for Pulsar images
  build/docker/Dockerfile
  docker/pulsar/Dockerfile
  pom.xml
  tests/docker-images/java-test-image/Dockerfile
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20500 [fix][test] Replace calls to Auth0 with calls to wiremock
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockOIDCIdentityProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenOauth2AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/resources/authentication/token/credentials_file.json
  pulsar-proxy/pom.xml
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTlsTestWithAuth.java
  pulsar-testclient/pom.xml
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/Oauth2PerformanceTransactionTest.java
  pulsar-testclient/src/test/resources/authentication/token/credentials_file.json
Labels: component/test, flaky-tests, doc-not-needed, component/authentication, ready-to-test

#20490 [improve][broker] Improve efficiency of checking message deletion
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#20505 [fix][build][branch-2.10] Fix ci-license check
  .github/workflows/ci-license.yaml
  pom.xml
Labels: doc-not-needed, ready-to-test

#20479 [fix][io][branch-2.10] Close the kafka source connector if there is uncaught exception
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: doc-not-needed

#20435 [fix][build] Fix the pulsar-all image may use the wrong upstream image
  docker/build.sh
  docker/get-version.sh
  docker/pom.xml
  docker/publish.sh
  docker/pulsar-all/Dockerfile
  docker/pulsar-all/pom.xml
  docker/pulsar/pom.xml
  pom.xml
  pulsar-common/pom.xml
Labels: type/bug, component/build, doc-not-needed, ready-to-test, release/3.0.1

#19235 [fix][broker] Support getStats/update partitioned topic with `-partition-`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PartitionKeywordCompatibilityTest.java
Labels: component/broker, doc-not-needed, Stale, ready-to-test

#20267 [fix][fn] JavaInstanceStarter --tls_allow_insecure default to false
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
Labels: component/config, component/function, component/security, doc-not-needed, ready-to-test

#20513 [fix][fn] TLS args admin download command use zero arity
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: type/cleanup, component/function, doc-not-needed, ready-to-test, release/2.10.5, release/2.9.6, release/3.0.1

#20503 [fix][admin] Make failed `bin/pulsar-admin source` command exit with code `1 (failed)` instead of `0 (success)`
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
Labels: doc-not-needed

#20527 [fix][broker] Restore solution for certain topic unloading race conditions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.1

#20529 [fix][test] Reduce flakiness of AdminApi2Test
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20531 [improve][build] Upgrade Testcontainers to 1.18.3 & docker-java to 3.3.0
  pom.xml
Labels: component/test, component/build, doc-not-needed, ready-to-test

#20514 [fix][broker] Disable EntryFilters for system topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryFilterSupport.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.1

#20533 [fix][fn] Configure pulsar admin for TLS
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: doc-not-needed, release/2.10.5, release/2.9.6, release/2.11.2

#20528 [fix][broker] Fix redirect loop when using ExtensibleLoadManager and list in bundle admin API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.1

#20516 [improve][admin] Pretty print bookies racks-placement command output
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CliCommand.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdBookies.java
Labels: component/admin, doc-not-needed

#20539 [fix][broker] Should not throw NotFoundException when metadata already exists.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PackagesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/PackagesApiTest.java
  pulsar-package-management/core/src/main/java/org/apache/pulsar/packages/management/core/impl/PackagesManagementImpl.java
Labels: doc-not-needed, ready-to-test

#20535 [fix][broker] REST Client Producer fails with TLS only
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/TopicsBase.java
Labels: type/bug, component/broker, doc-not-needed

#20525 [improve][broker] Emit the namespace bundle listener event on extensible load manager
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test, release/3.0.1

#20550 [fix][build] Configure git-commit-id-plugin to skip git describe
  pom.xml
Labels: component/build, doc-not-needed, ready-to-test, release/3.0.1

#19993 [improve][broker] Save createIfMissing in TopicLoadingContext
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20549 [cleanup][broker] Validate authz earlier in delete subscription logic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: component/broker, doc-not-needed, ready-to-test, component/authorization

#20556 [fix][misc] Fix typo in pip template
  pip/TEMPLATE.md
Labels: doc-not-needed

#20557 [fix][doc] change the method of generating reference docs titles.
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdGenerateDocument.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/CmdGenerateDocs.java
Labels: doc, ready-to-test

#20522 [improve][broker] Choose random thread for consumerFlow in PersistentDispatcherSingleActiveConsumer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
Labels: doc-not-needed, ready-to-test

#20552 [improve][broker] Handle get owned namespaces admin API in ExtensibleLoadManager
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test, release/3.0.1

#19775 [fix] [Perf] PerformanceProducer do not produce expected number of messages.
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: type/bug, component/tool, doc-not-needed, Stale

#19584 [fix][fn] Make KubernetesRuntime translate characters in function tenant, namespace, and name during function removal to avoid label errors
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntime.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20543 [cleanup][test] CSContainer needs not to inherit from ZKContainer
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/auth/token/PulsarTokenAuthenticationBaseSuite.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/ClientToolTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/PerfToolTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/CSContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ZKContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: component/test, doc-not-needed, ready-to-test

#20564 [cleanup][build] Removed unused reload4j define
  pom.xml
Labels: doc-not-needed, ready-to-test

#20566 [fix][broker] new load balancer system topic should not be auto-created now
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/3.0.2

#20551 [fix][broker] Handle heartbeat namespace in ExtensibleLoadManager
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.2

#20567 [fix][broker] release orphan replicator after topic closed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractReplicatorTest.java
Labels: component/replication, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20138 [improve][test] Add integration test for ExtensibleLoadManager
  .github/workflows/pulsar-ci.yaml
  build/run_integration_group.sh
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/BrokerContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/PulsarContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
  tests/integration/src/test/resources/pulsar-loadbalance.xml
  tests/integration/src/test/resources/pulsar.xml
Labels: doc-not-needed, ready-to-test

#20572 [fix][doc] Explain vote email body in pip process
  pip/README.md
Labels: doc

#20582 [fix][broker] Release orphan replicator after topic closed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractReplicatorTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.2

#20569 [fix][txn] Use PulsarResource check for topic existence instead of brokerservice.getTopic()
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.2, release/3.0.2

#20365 [fix][offload] use filesystem offloader with class not found error
  tiered-storage/file-system/pom.xml
Labels: component/tieredstorage, doc-not-needed, release/3.0.2

#20579 [improve][fn]: upgrade prom client_golang to v1.12.2 to fix CVE-2022-21698
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
Labels: component/function, doc-not-needed, ready-to-test

#20599 [improve][ci] Move away from using the term `master` in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: doc-not-needed

#20607 [fix][broker]fix the publish latency spike issue with large number of producers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20518 [pip][design] PIP-276: Add metric `pulsar_topic_load_times`
  pip/pip-274.md
Labels: doc-not-needed

#20563 [cleanup][broker] Remove unused cache executor in `PulsarService`
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: type/cleanup, component/broker, doc-not-needed

#20609 [fix][test] Fix flaky test ExtensibleLoadManagerTest.testIsolationPolicy
  pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#20604 [fix][sec] Upgrade snappy-java to address multiple CVEs
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, doc-not-needed, ready-to-test, release/3.0.1

#20603 [fix][sec] Suppress false positive CVE-2023-35116 in jackson-databind
  src/owasp-dependency-check-suppressions.xml
Labels: component/security, doc-not-needed, ready-to-test

#20541 [improve][broker] Log warning on missing URL configuration for cluster creation/update
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ClusterDataImpl.java
Labels: component/broker, doc-not-needed

#20625 [fix][broker] Fix get owned service units NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.2

#20507 [pip][design] PIP-275: Introduce topicOrderedExecutorThreadNum to deprecate numWorkerThreadsForNonPersistentTopic in configuration
  pip/pip-275.md
Labels: PIP, doc-not-needed

#20632 [fix][sec] Upgrade Netty to 4.1.94.Final to address CVE-2023-34462
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/security, doc-not-needed, ready-to-test

#20631 [fix][sec] Upgrade Bouncycastle to 1.75 to address CVE-2023-33201
  bouncy-castle/bc/LICENSE
  bouncy-castle/bc/pom.xml
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker-auth-athenz/pom.xml
  pulsar-client-auth-athenz/pom.xml
  pulsar-client-messagecrypto-bc/src/main/java/org/apache/pulsar/client/impl/crypto/MessageCryptoBc.java
  pulsar-io/aerospike/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  tests/integration/pom.xml
  tiered-storage/file-system/pom.xml
Labels: component/security, doc-not-needed, ready-to-test

#20504 [improve][broker] PIP-275:Introduce topicOrderedExecutorThreadNum to deprecate numWorkerThreadsForNonPersistentTopic
  conf/broker.conf
  conf/standalone.conf
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/EmbeddedPulsarCluster.java
Labels: doc-not-needed, ready-to-test

#20659 [improve][broker][branch-2.10] Backport Linux metrics changes from master branch
  bin/pulsar
  pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/BitRateUnit.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/BitRateUnitTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LinuxInfoUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LinuxBrokerHostUsageImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/EmbeddedPulsarCluster.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/PulsarServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/BrokerAdminClientTlsAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LeaderElectionServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadReportNetworkLimitTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleBrokerStartTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/BundleSplitterTaskTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/LinuxBrokerHostUsageImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MaxMessageSizeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicOwnerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionMetaStoreTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationFailureTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ServiceUrlProviderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionLocalRunTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: doc-not-needed

#20671 [improve][test] Disable disk usage threshold & geoip download and enable logging for Elastic Testcontainers
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/ElasticSearch7SinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/ElasticSearch8SinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/ElasticSearchSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/OpenSearchSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: doc-not-needed, ready-to-test, release/3.0.2

#20676 [improve][test][branch-2.10] Backport disabling disk usage threshold for Elastic Testcontainers
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/ElasticSearchSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: doc-not-needed

#20672 [improve][ci] Skip test for pip directory
  .github/changes-filter.yaml
Labels: doc-not-needed, component/ci

#20669 [fix][client]Fix deadlock issue of consumer while using multiple IO threads
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MultiTopicsConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug, component/client, release/blocker, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.1

#20647 [fix][broker] Fix the publish latency spike from the contention of MessageDeduplication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20624 [pip][design] PIP-278: Support pluggable topic compaction service
  pip/images/pip-278-1.png
  pip/pip-278.md
Labels: PIP, doc-not-needed

#20665 [improve][build] Build function-go in golang image
  tests/docker-images/latest-version-image/Dockerfile
Labels: component/build, doc-not-needed, ready-to-test

#20646 [improve][offload]keep topic/ns set-offload-policies consistent behavior logic
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: component/tieredstorage, component/cli, doc-not-needed

#20447 [improve][cli] Client: allow to specify KeyValue's schema key (Avro Key support)
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/client/cli/PulsarClientToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
Labels: doc-not-needed

#20472 [improve][broker] Add metric prefix for `topic_load_times`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerOperabilityMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/DimensionStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-required, component/metrics, release/important-notice, ready-to-test

#20641 [fix][meta] Adding the missed bookie id in the registration manager.
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationManager.java
Labels: doc-not-needed, component/metadata, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20605 [fix][sql] Remove useless configuration for Pulsar SQL
  pulsar-sql/presto-distribution/src/main/resources/conf/catalog/pulsar.properties
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarConnectorConfig.java
Labels: doc-not-needed, ready-to-test, release/2.11.2, release/3.0.2

#20457 [fix][broker] Fix return the earliest position when query position by timestamp.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageFinder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/MockManagedCursor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
Labels: type/bug, doc-not-needed, ready-to-test

#20654 [improve][cli] pulsar-client produce: allow to produce AVRO message from strings
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/client/cli/TestCmdProduce.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/AutoProduceBytesSchema.java
Labels: doc-not-needed, ready-to-test

#20682 [improve][misc] Remove pip images and use mermaid instead
  pip/images/pip-278-1.png
  pip/pip-278.md
Labels: doc-not-needed

#20684 [improve][doc] Update PIP TEMPLATE.md: Clarify images
  pip/TEMPLATE.md
Labels: doc

#20642 [fix][meta] Bookie Info lost by notification race condition.
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClient.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/FaultInjectableZKRegistrationManager.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClientTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20652 [improve][broker] Make get list from bundle Admin API async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: component/admin, doc-not-needed, ready-to-test, release/3.0.2

#20537 [feat][broker]PIP-255 Part-2: Make the partition assignment strategy pluggable
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/ConsistentHashingTopicBundleAssigner.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundles.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/TopicBundleAssignmentFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/TopicBundleAssignmentStrategy.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/NamespaceBundlesTest.java
  pulsar-broker/src/test/org/apache/pulsar/common/naming/TopicBundleAssignmentStrategyTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#20629 [improve][test] Fix flaky test SimpleProducerConsumerStatTest#testMsgRateExpired
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
Labels: type/enhancement, component/test, doc-not-needed, ready-to-test

#20613 [fix][broker] Topic policy can not be work well if replay policy message has any exception.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
Labels: component/broker, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20481 [fix][broker] Reformat property in generateResponseWithEntry
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: doc-not-needed, ready-to-test

#20687 [improve][build] Do not bundle swagger dependencies
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CliCommand.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client/pom.xml
  pulsar-sql/presto-distribution/LICENSE
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java
Labels: component/build, doc-not-needed, ready-to-test

#20677 [fix][broker] Added the skipped message handler for ServiceUnitStateChannel
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateCompactionStrategy.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/TopicCompactionStrategyTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/topics/TopicCompactionStrategy.java
Labels: doc-not-needed, ready-to-test

#20597 [fix][broker] Fix NPE when reset Replicator's cursor by position.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20690 [fix] [admin] set ns level backlog quota does not take effect if retention exists
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: type/bug, component/admin, doc-not-needed, ready-to-test, release/3.0.2

#20645 [feat][broker][PIP-278] Support pluggable topic compaction service - part1
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PulsarCompactorSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactionServiceFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/PulsarCompactionServiceFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/PulsarTopicCompactionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TopicCompactionService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/TopicCompactionServiceTest.java
Labels: type/feature, component/broker, doc-not-needed, ready-to-test

#20595 [fix][client] Make the whole grabCnx() progress atomic
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionHandlerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicListWatcher.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
Labels: type/bug, component/client, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#12599 [feat] [client] Enable custom Encrypt/Decrypt Methods for ReaderImplementation.
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ReaderConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ReaderImplTest.java
Labels: doc-required, lifecycle/stale

#20658 [cleanup][broker] Various cleanups
  pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/RequestWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/ResponseHandlerFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/RestException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
Labels: doc-not-needed, ready-to-test

#20689 [fix][fn] Exit JVM when main thread throws exception
  pulsar-functions/runtime-all/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceMain.java
Labels: type/bug, component/function, doc-not-needed, ready-to-test, release/2.10.5, release/2.11.2, release/3.0.2

#20698 [fix][io] Close the kafka source connector got stuck
  pulsar-io/kafka/pom.xml
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: doc-not-needed, release/2.10.5, release/2.11.2, release/3.0.2
