Repository apache/pulsar, pull requests merged in 2023-03, with the labels that each got.

#19615 [fix][broker] Fix BucketDelayedDeliveryTracker merge issues
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/BucketDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/ImmutableBucket.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test

#19179 [improve][branch-2.10]upgrade the bookkeeper version to 4.14.7
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, release/2.10.5

#19656 [improve][broker] Replace ScheduledExecutorService to ExecutorService in ModularLoadManagerImpl
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: doc-not-needed, ready-to-test

#19620 [improve][broker] PIP-192: Added VersionId in ServiceUnitStateData
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateCompactionStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateData.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateCompactionStrategyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateDataTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/ServiceUnitStateCompactionTest.java
Labels: type/feature, component/broker, doc-not-needed, ready-to-test

#19669 [Branch-2.9] [build] fix build failed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/GetLastMessageIdCompactedTest.java
Labels: release/2.9.5

#19654 [improve][broker] PIP-192 Added --extensions option in BrokerMonitor
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/BrokerMonitor.java
Labels: type/feature, doc-not-needed, ready-to-test

#19632 [fix][ci][branch-2.11] Fix broken CI
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, cherry-picked/branch-2.11, release/2.11.1, ready-to-test

#19637 [branch-2.10][broker] Support zookeeper read-only config. (#19156)
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthenticationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyConfigurationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyIdleTimeoutTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyPublishConsumeWithoutZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/v1/V1_ProxyAuthenticationTest.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
Labels: doc-not-needed

#19560 [fix][broker] Fixed history load not releasing
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadSheddingStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ThresholdShedderTest.java
Labels: type/bug, doc-not-needed, ready-to-test

#19674 [improve] Simplify enabling Broker, WS Proxy hostname verification
  conf/broker.conf
  conf/websocket.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
  pulsar-websocket/src/test/java/org/apache/pulsar/websocket/WebSocketProxyConfigurationTest.java
Labels: component/config, component/broker, component/client-websocket, doc-not-needed, release/2.8.5, release/2.11.1, ready-to-test, release/2.9.5, release/2.10.5

#19666 [fix][broker] Fix LedgerOffloaderStatsImpl singleton close method
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/LedgerOffloaderStatsImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/LedgerOffloaderMetricsTest.java
Labels: doc-not-needed

#19672 [fix][client] Fix typo in Java doc for ClientConfigurationData
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
Labels: doc, component/client-java, ready-to-test

#19577 [improve][broker] Make BucketDelayedDeliveryTracker can retry snapshot operation & improve logs
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/Futures.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BookkeeperBucketSnapshotStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/Bucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/ImmutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/MutableBucket.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/MockBucketSnapshotStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/MockManagedCursor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#19613 [improve][broker] PIP-192: Add large topic count filter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/data/BrokerLoadData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/BrokerLoadDataReporter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/data/BrokerLoadDataTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerFilterTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerVersionFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/BrokerLoadDataReporterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/LeastResourceUsageWithWeightTest.java
Labels: type/feature, component/broker, doc-not-needed, ready-to-test

#19588 [improve][broker][branch-2.11] Improve tls config on replication client and cluster cli
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ClusterData.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/ClusterDataImpl.java
Labels: doc-not-needed, cherry-picked/branch-2.11, release/2.11.1, ready-to-test

#19683 [improve][broker] PIP-192 Switched Assigning and Releasing state order in the transfer protocol
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitState.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateCompactionStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateData.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateCompactionStrategyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateDataTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/ServiceUnitStateCompactionTest.java
Labels: doc-not-needed, ready-to-test

#19591 [fix][admin] fix create-subscription command --subscription description
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
Labels: component/admin, doc-not-needed, ready-to-test

#19580 [fix][doc] correct description of REST API doc (namespace)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: doc

#19178 [improve][branch-2.9]upgrade the bookkeeper version to 4.14.7
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: release/2.9.5

#19696 [fix][cli] Fix Pulsar admin tool is ignoring tls-trust-cert path arg
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminSupplier.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/PulsarAdminTool.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestRunMain.java
Labels: component/cli, doc-not-needed, release/2.11.1, ready-to-test, release/2.10.5, release/2.9.6

#19667 [fix][broker] Filter system topic when getting topic list by binary proto.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/topics/TopicList.java
Labels: type/bug, doc-not-needed, release/2.11.1, ready-to-test

#19585 [fix] [client] fix memory leak if enabled pooled messages
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/GrowableArrayBlockingQueue.java
Labels: type/bug, flaky-tests, component/client-java, doc-not-needed, release/2.11.1, release/2.9.5, release/2.10.5

#19710 [fix][test] testModularLoadManagerRemoveBundleAndLoad
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
Labels: component/test, doc-not-needed

#19712 [fix][cli][branch-2.9] Fix release tool
  src/get-project-version.py
  src/stage-release.sh
Labels: release/2.9.5

#19538 [improve][broker] PIP-192: Make unload and transfer admin API functional
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannel.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/StateChangeListeners.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/StateChangeListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/package-info.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/UnloadScheduler.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/UnloadSchedulerTest.java
Labels: doc-not-needed, ready-to-test

#19726 [fix][broker] Fixed history load not releasing
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LeastResourceUsageWithWeight.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerStrategyTest.java
Labels: doc-not-needed, ready-to-test

#19754 [fix][meta] Fix deadlock causes session notification not to work
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImplTest.java
Labels: doc-not-needed, release/2.11.1, ready-to-test, release/2.10.5, release/2.9.6

#19692 [fix] [broker] Topic close failure leaves subscription in a permanent fence state
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: type/bug, doc-not-needed, release/2.11.1, release/2.10.5, release/2.9.6

#19743 [Branch-2.9] [build] fix build failed
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
Labels: release/2.9.5

#19746 [fix][broker] Fix potential exception cause the policy service init fail.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
Labels: component/broker, doc-not-needed, release/2.11.1, ready-to-test, release/2.10.5, release/2.9.6

#19756 [fix][io] KCA: 'desanitize' topic name for the pulsar's ctx calls
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaSinkTaskContext.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: doc-not-needed, ready-to-test

#19553 [fix][doc] Update the comment of the method of OwnershipCache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
Labels: doc-not-needed, ready-to-test

#19715 [fix][test]testRedirectOfGetCoordinatorInternalStats
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionMultiBrokerTest.java
Labels: doc-not-needed, ready-to-test

#19193 [fix] [doc] fix multiple apis in the automatically generated documentation use the same anchor point
  pulsar-broker/pom.xml
Labels: type/enhancement, doc, ready-to-test

#16353 [StructuredEventLog] Added support for Log4j2 structured logging if available
  structured-event-log/pom.xml
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/Initializer.java
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/StructuredEventLog.java
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/log4j2/Log4j2Event.java
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/log4j2/Log4j2StructuredEventLog.java
  structured-event-log/src/main/java/org/apache/pulsar/structuredeventlog/log4j2/package-info.java
  structured-event-log/src/test/java/org/apache/pulsar/structuredeventlog/slf4j/StructuredEventLogTest.java
Labels: type/enhancement, doc-not-needed, Stale

#19768 [cherry-pick][branch-2.10] Fix deadlock causes session notification not to work (#19754)
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImplTest.java
Labels: doc-not-needed

#19733 [fix][client] Fix topic list watcher fail log
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicListWatcher.java
Labels: type/bug, doc-not-needed, cherry-picked/branch-2.11, release/2.11.1, ready-to-test

#19779 [fix][client][branch-2.10]Return local thread for the `newThread`
  pulsar-client/src/main/java/org/apache/pulsar/client/util/ExecutorProvider.java
Labels: doc-not-needed

#19751 [fix] [test] fix flaky test BucketDelayedDeliveryTrackerTest. testWithBkException
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#19759 [fix][broker] Fix issue where msgRateExpired may not refresh forever
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerStatTest.java
Labels: type/bug, component/broker, doc-not-needed, release/2.11.1, ready-to-test, release/2.10.5

#19787 [cherry-pick][branch-2.11] KCA: picking fixes from master
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/AbstractKafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaSinkTaskContext.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImplTest.java
Labels: doc-not-needed, ready-to-test

#19719 [fix][admin] Filter pending ack topic while deleting the namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: type/bug, component/admin, doc-not-needed

#19769 [improve][meta] Fix busy-loop causes watcher can't acquire lock.
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKSessionWatcher.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/ZKSessionTest.java
Labels: doc-not-needed, ready-to-test

#19727 [fix][broker] Fix index generator is not rollback after entries are failed added.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/intercept/ManagedLedgerInterceptor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/MangedLedgerInterceptorImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/intercept/AppendIndexMetadataInterceptor.java
Labels: component/broker, doc-not-needed, release/2.11.1, ready-to-test, release/2.10.5, release/2.9.6

#19782 [fix][broker] Fix admin api status code compatibility
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: doc-not-needed, ready-to-test

#19622 [improve][broker] PIP-192 Added SplitScheduler and DefaultNamespaceBundleSplitStrategyImpl
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/SplitManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/SplitCounter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/SplitDecision.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/SplitScheduler.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/NamespaceBundleSplitStrategy.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/SplitManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/SplitSchedulerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#19788 [cherry-pick][branch-2.10] KCA: picking fixes from master
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/AbstractKafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaSinkTaskContext.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceTest.java
Labels: doc-not-needed, ready-to-test

#19708 [improve][broker] PIP-192 Supports AntiAffinityGroupPolicy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannel.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/AntiAffinityGroupPolicyFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/policies/AntiAffinityGroupPolicyHelper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/AntiAffinityNamespaceGroupExtensionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
Labels: doc-not-needed, ready-to-test

#19761 [fix][meta] Fix close borrowed executor
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
Labels: doc-not-needed, release/2.11.1, ready-to-test

#19803 [improve][misc] Add security section to PIP issue template
  .github/ISSUE_TEMPLATE/pip.yml
Labels: doc-not-needed, ready-to-test

#19706 [improve][broker][PIP-195] Cut off snapshot segment according to maxIndexesPerBucketSnapshotSegment
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/BucketDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/MutableBucket.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#19800 [fix][broker] Copy subscription properties during updating the topic partition number.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/IncrementPartitionsTest.java
Labels: doc-not-needed, cherry-picked/branch-2.11, release/2.11.1, ready-to-test

#19810 [fix][doc] Amend PIP voting process description
  wiki/proposals/PIP.md
Labels: doc

#19801 [fix][broker][PIP-195] Don't clean up BucketDelayedDeliveryTracker when all consumer disconnect
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/Bucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/ImmutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/MutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test

#19802 [improve][broker][PIP-195] Add topicName and cursorName for ledger metadata of bucket snapshot
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/LedgerMetadataUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BookkeeperBucketSnapshotStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/Bucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketSnapshotStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/BookkeeperBucketSnapshotStorageTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/MockBucketSnapshotStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
Labels: type/enhancement, component/broker, doc-not-needed

#19819 [improve][doc] enhancement of link
  README.md
Labels: doc

#19793 [fix] [test] Fix flaky test `MetadataStoreStatsTest.testBatchMetadataStoreMetrics`
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/MultiBrokerMetadataConsistencyTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#19730 [improve][broker] PIP-192 Made only the leader consume TopBundlesLoadDataStore
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannel.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/UnloadScheduler.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStore.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerFilterTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/LeastResourceUsageWithWeightTest.java
Labels: doc-not-needed, ready-to-test

#19817 [fix][meta] Fixed race condition between ResourceLock update and invalidation
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/ResourceLockImpl.java
Labels: type/bug, doc-not-needed, release/2.11.1, ready-to-test

#19753 [cleanup][broker] Remove duplicate code in the SchemaRegistryServiceImpl that checks for existing schema and new schema types
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
Labels: doc-not-needed, ready-to-test

#19812 [improve] Upgrade bookkeeper to 4.15.4
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: component/dependency, doc-not-needed, ready-to-test

#19834 [improve][txn][branch-2.11] Add getState in transaction for client API (#17423)
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/transaction/Transaction.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionImpl.java
Labels: doc-not-needed, ready-to-test

#19047 [improve][broker]PIP-214 Add broker level metrics statistics and expose to prometheus
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedBrokerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TransactionMetricsTest.java
Labels: component/broker, doc-complete, ready-to-test

#19839 [improve][broker] Follow up #19230 to tighten the validation scope (#19234)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PartitionKeywordCompatibilityTest.java
Labels: doc-not-needed, release/2.11.1, ready-to-test

#19830 [improve][broker] Authorize originalPrincipal when provided
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authorization/AuthorizationServiceTest.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authorization/MockAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
Labels: component/broker, doc-required, release/2.8.5, release/2.11.1, ready-to-test, release/2.9.5, release/2.10.4, component/authorization

#19828 [fix][test] Move MetadataStoreStatsTest to flaky group to avoid blocking merge.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/MetadataStoreStatsTest.java
Labels: doc-not-needed, ready-to-test

#19470 [improve][fn] Support configure compression type
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/functions/ProducerConfig.java
  pulsar-function-go/pb/Function.pb.go
  pulsar-function-go/pf/instance.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java
  pulsar-functions/instance/src/main/python/Function_pb2.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/proto/src/main/proto/Function.proto
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
Labels: doc-required, ready-to-test

#19749 [improve][broker] PIP-192: Add metrics for unload operation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/UnloadCounter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/UnloadDecision.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/policies/AntiAffinityGroupPolicyHelper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/NamespaceUnloadStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/UnloadScheduler.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/UnloadSchedulerTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#19773 [improve][broker] PIP-192: Make split admin API functional
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/Split.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundle.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/SpecifiedPositionsBundleSplitAlgorithm.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/models/SplitTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/SplitSchedulerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyTest.java
Labels: doc-not-needed, ready-to-test

#19855 [improve][misc] Add idea icon
  .github/changes-filter.yaml
  .idea/icon.svg
Labels: doc-not-needed

#19837 [fix][client][branch-2.11] moving get sequenceId into the sync code segment (#17836)
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: doc-not-needed, ready-to-test

#19829 [fix][test] Fix flaky MetadataStoreStatsTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ManagedLedgerCompressionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/MetadataStoreStatsTest.java
Labels: doc-not-needed, ready-to-test

#19762 [fix][broker] Fix create cluster with empty url
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiClusterTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/URIPreconditions.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/URIPreconditionsTest.java
Labels: component/broker, doc-not-needed, ready-to-test

#19844 [fix][meta] Follow up #19817, Fix race condition between ResourceLock update and invalidation
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/FutureUtilTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/ResourceLockImpl.java
Labels: doc-not-needed, release/2.11.1, ready-to-test

#19641 [feat][txn] Transaction buffer snapshot writer reuse
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicTxnBufferSnapshotService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SingleSnapshotAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/SegmentAbortedTxnProcessorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferCloseTest.java
Labels: type/feature, component/sql, doc-not-needed, ready-to-test

#19859 [fix][meta] Follow up #19817, Fix race condition between ResourceLock update and invalidation
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/FutureUtilTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/ResourceLockImpl.java
Labels: doc-not-needed, release/2.11.1, ready-to-test

#19835 [fix][branch-2.11] Fix delete system topic clean topic policy (#18823)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: doc-not-needed, ready-to-test

#19670 [improve][proxy] Remove unnecessary executor callback; use assert
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: type/enhancement, component/proxy, doc-not-needed, ready-to-test

#18929 [improve][fn] Support processingGuarantees "EFFECTIVELY_ONCE" in python function
  pulsar-functions/instance/src/main/python/contextimpl.py
  pulsar-functions/instance/src/main/python/python_instance.py
  pulsar-functions/instance/src/main/python/python_instance_main.py
  pulsar-functions/instance/src/test/python/test_python_instance.py
Labels: component/function, doc-required, ready-to-test

#19861 [fix][io] KCA sink: handle null values with KeyValue<Avro,Avro> schema
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/KafkaConnectData.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/PulsarSchemaToKafkaSchema.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: doc-not-needed, ready-to-test

#19865 [improve][admin][branch-2.10] Unset namespace policy to improve deleting namespace (#17033)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: doc-not-needed

#19869 [improve][meta] Make session notification to be async.
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
Labels: doc-not-needed, ready-to-test

#19842 [fix][test] : PulsarStandaloneTest.testMetadataInitialization
  pulsar-broker/src/test/resources/configurations/standalone_no_client_auth.conf
Labels: doc-not-needed, ready-to-test

#19742 [improve][broker] PIP-192 Excluded bundles with isolation policy or anti-affinity-group policy from topk load bundles
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/TopKBundles.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/policies/AntiAffinityGroupPolicyHelper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/TopBundleLoadDataReporter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/AntiAffinityNamespaceGroupExtensionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/models/TopKBundlesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/TopBundleLoadDataReporterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
Labels: component/broker, doc-not-needed, type/refactor, ready-to-test

#19825 [fix] [ml] make the result of delete cursor is success if cursor is deleted
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed, release/2.11.1, ready-to-test, release/2.10.5

#19879 [fix] [admin] Make response code to 400 instead of 500 when delete topic fails due to enabled geo-replication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: doc-not-needed, release/2.11.1, ready-to-test, release/2.10.5, release/2.9.6

#19899 [fix][broker] Fix can't send ErrorCommand when message is null value
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientErrorsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test

#19898 [improve][io][broker] Updated org.reflections-reflections library version
  pom.xml
Labels: doc-not-needed

#19903 [improve][ci] Handle retry of maven downloads for more failure cases
  .github/workflows/ci-go-functions.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#19873 [improve][broker][PIP-195] Make bucket merge operation asynchronous
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/ImmutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/MutableBucket.java
  pulsar-broker/src/main/proto/DelayedMessageIndexBucketSnapshotFormat.proto
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/BookkeeperBucketSnapshotStorageTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
Labels: type/enhancement, component/broker, doc-not-needed

#19901 [improve][broker] Clear delayed message when unsubscribe & Make clear operation asynchronous
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/Bucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/ImmutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/MutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#19777 [fix][broker] Fix RetentionPolicies constructor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumedLedgersTrimTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/RetentionPolicies.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test

#19750 [improve] Allow download link with basic auth
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationDataBasic.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionCommonTest.java
Labels: component/function, doc-not-needed, ready-to-test

#19874 [fix][client] Fix NPE when acknowledging multiple messages
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerAckListTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.11.2

#19889 [fix][broker] Fix the thread safety issue of BrokerData#getTimeAverageData access
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: doc-not-needed, ready-to-test, release/2.11.2

#19904 [fix][fn] Revert change to deprecation since it broke the master branch
  pulsar-function-go/pb/Function.pb.go
Labels: doc-not-needed, ready-to-test

#19925 [fix][admin] Fix delete tenant
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/LocalPoliciesResources.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTenantTest.java
Labels: type/bug, component/admin, doc-not-needed, ready-to-test

#19937 [improve][client] Exclude log4j-slf4j-impl from compile dep in pulsar-client-all
  pulsar-client-all/pom.xml
Labels: component/client, doc-not-needed, ready-to-test

#19936 [fix][doc] fix typo in ConsumerConfigurationData and ServiceConfiguration.
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
Labels: doc, ready-to-test

#19947 [fix][build] Dump Jacoco coverage data to file with JMX interface in TestNG listener
  buildtools/pom.xml
  buildtools/src/main/java/org/apache/pulsar/tests/JacocoDumpListener.java
  pom.xml
Labels: component/build, doc-not-needed, ready-to-test

#19942 [fix] [admin] fix incorrect state replication.connected on API partitioned-topic stat
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/ReplicatorStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
Labels: component/admin, doc-not-needed, release/2.10.5, release/2.11.2

#19851 [improve][broker] PIP-192: Support delete namespace bundle admin API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/data/BrokerLookupData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#19926 [fix][test] final shutdown executor when the class(PerformanceProducer) is destroyed
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: doc-not-needed, ready-to-test

#19915 [fix][client] Fix client erroneous code comments
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
Labels: doc

#19927 [improve][broker][PIP-195] Merge multiple buckets at once
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/CombinedSegmentDelayedIndexQueue.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/DelayedIndexQueueTest.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#19923 [improve][io] KCA: option to collapse partitioned topics
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaConnectSinkConfig.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: doc-not-needed, ready-to-test

#19813 [improve][broker] PIP-192 Improved Auto Unload Logic
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannel.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/data/BrokerLoadData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/TopKBundles.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/UnloadCounter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/UnloadDecision.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/BrokerLoadDataReporter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/TopBundleLoadDataReporter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/NamespaceUnloadStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/SplitScheduler.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/UnloadScheduler.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/LeastResourceUsageWithWeight.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/data/BrokerLoadDataTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/models/TopKBundlesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/BrokerLoadDataReporterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/TopBundleLoadDataReporterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/UnloadSchedulerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/DefaultNamespaceBundleSplitStrategyTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/policies/data/loadbalancer/NamespaceBundleStats.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/policies/data/loadbalancer/ResourceUsage.java
Labels: type/enhancement, component/broker, doc-not-needed, ready-to-test

#19956 [improve][build] Create source jar for pulsar-client-all shaded jar
  pulsar-client-all/pom.xml
Labels: component/build, doc-not-needed, ready-to-test

#19957 [fix][sec] Fix transitive critical CVEs in file-system tiered storage
  pom.xml
  tiered-storage/file-system/pom.xml
Labels: doc-not-needed, ready-to-test

#19951 [improve][io] KCA: flag to force optional primitive schemas
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSink.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaConnectSinkConfig.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/schema/PulsarSchemaToKafkaSchema.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/PulsarSchemaToKafkaSchemaTest.java
Labels: doc-not-needed, ready-to-test

#19716 [feat][broker][PIP-195] Add metrics for bucket delayed message tracker
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BookkeeperBucketSnapshotStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedMessageIndexStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/ImmutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/MutableBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedSubscriptionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/MockBucketSnapshotStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicMetricBean.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
Labels: type/feature, component/broker, doc-not-needed, ready-to-test
