Repository apache/pulsar, pull requests merged in 2023-12, with the labels that each got.

#21490 [improve][pip] PIP-315: Configurable max delay limit for delayed delivery
  pip/pip-315.md
Labels: PIP, doc-not-needed

#21634 [fix][test] Fix the bug caused by unload topic and compaction task failure after task is triggered
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#21650 [improve][admin] Add clusters check when set replication clusters
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21647 [fix][broker] Fix memory leak during topic compaction
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.1.3

#21659 [fix][build] Fix Stage Docker images fail on M1 Mac
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.1.3

#21651 [improve][broker] Print recoverBucketSnapshot log if cursorProperties are empty
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
Labels: type/enhancement, component/broker, doc-not-needed, release/3.1.2, release/3.0.3

#21652 [improve] [bookie] Enable reorder read sequence for bk client by default
  conf/bookkeeper.conf
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: component/config, doc-not-needed, ready-to-test, category/performance

#21662 [improve][broker] Support not retaining null-key message during topic compaction (#21578)
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: doc-not-needed, ready-to-test

#21596 [refactor][broker] PIP-301 Part-3: Add QuotaResources
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/LoadBalanceResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/cache/BundlesQuotas.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/cache/BundlesQuotasTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationController.java
Labels: doc-not-needed, ready-to-test

#21622 [fix][client] Exit when no msg to consume if time reaches the limit
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
Labels: doc-not-needed, ready-to-test

#21670 [fix][test] add unit test to testing the lookupRequestSemaphore would leaked when lookuping topic is not exist.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/lookup/http/HttpTopicLookupv2Test.java
Labels: component/test, doc-not-needed

#21668 [improve][broker] PIP-307 Expose inflight state waiting time and service channel monitor interval configs. Handle AddEntry failure during topic transfer
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#21666 [improve][docs] Added example to PIP process
  pip/README.md
Labels: doc, PIP

#21473 [fix][cli] Add `get-cluster-migration` cmd
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdClusters.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdClusters.java
Labels: doc-not-needed, ready-to-test

#21084 [improve][sec] Add group pulsar and add user pulsar to it instead of root
  docker/pulsar/Dockerfile
  tests/docker-images/java-test-image/Dockerfile
  tests/docker-images/latest-version-image/Dockerfile
Labels: component/build, doc-not-needed, Stale, ready-to-test, release/3.0.3, release/3.1.3

#21690 [fix][broker] Fix typo in the config key
  conf/broker.conf
  conf/standalone.conf
  pip/pip-318.md
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: type/bug, component/broker, PIP, doc-not-needed, ready-to-test, release/2.10.6, release/3.1.2, release/3.0.3, release/2.11.4

#21673 [fix][broker] Record GeoPersistentReplicator.msgOut before producer#sendAsync
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/GeoPersistentReplicator.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3

#21403 [fix][doc] Fix typos in doc for MessageCryptoBc class
  pulsar-client-messagecrypto-bc/src/main/java/org/apache/pulsar/client/impl/crypto/MessageCryptoBc.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#21675 [improve][io] Make connectors load sensitive fields from secrets
  pulsar-io/canal/pom.xml
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalAbstractSource.java
  pulsar-io/canal/src/main/java/org/apache/pulsar/io/canal/CanalSourceConfig.java
  pulsar-io/common/src/main/java/org/apache/pulsar/io/common/IOConfigUtils.java
  pulsar-io/common/src/test/java/org/apache/pulsar/io/common/IOConfigUtilsTest.java
  pulsar-io/dynamodb/pom.xml
  pulsar-io/dynamodb/src/main/java/org/apache/pulsar/io/dynamodb/DynamoDBSource.java
  pulsar-io/dynamodb/src/main/java/org/apache/pulsar/io/dynamodb/DynamoDBSourceConfig.java
  pulsar-io/dynamodb/src/test/java/org/apache/pulsar/io/dynamodb/DynamoDBSourceConfigTests.java
  pulsar-io/influxdb/pom.xml
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/InfluxDBGenericRecordSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v1/InfluxDBAbstractSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v1/InfluxDBSinkConfig.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSink.java
  pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSinkConfig.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v1/InfluxDBSinkConfigTest.java
  pulsar-io/influxdb/src/test/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSinkConfigTest.java
  pulsar-io/jdbc/core/pom.xml
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcAbstractSink.java
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcSinkConfig.java
  pulsar-io/kafka/pom.xml
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSink.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSinkConfig.java
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSourceConfig.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/sink/KafkaAbstractSinkTest.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
  pulsar-io/mongo/pom.xml
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoAbstractConfig.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSink.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSinkConfig.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSource.java
  pulsar-io/mongo/src/main/java/org/apache/pulsar/io/mongodb/MongoSourceConfig.java
  pulsar-io/mongo/src/test/java/org/apache/pulsar/io/mongodb/MongoSinkConfigTest.java
  pulsar-io/mongo/src/test/java/org/apache/pulsar/io/mongodb/MongoSourceConfigTest.java
  pulsar-io/rabbitmq/pom.xml
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSink.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSinkConfig.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSource.java
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSourceConfig.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/sink/RabbitMQSinkConfigTest.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/source/RabbitMQSourceConfigTest.java
  pulsar-io/redis/pom.xml
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/RedisAbstractConfig.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/sink/RedisSink.java
  pulsar-io/redis/src/main/java/org/apache/pulsar/io/redis/sink/RedisSinkConfig.java
  pulsar-io/redis/src/test/java/org/apache/pulsar/io/redis/sink/RedisSinkConfigTest.java
  pulsar-io/redis/src/test/java/org/apache/pulsar/io/redis/sink/RedisSinkTest.java
  pulsar-io/solr/pom.xml
  pulsar-io/solr/src/main/java/org/apache/pulsar/io/solr/SolrAbstractSink.java
  pulsar-io/solr/src/main/java/org/apache/pulsar/io/solr/SolrSinkConfig.java
  pulsar-io/solr/src/test/java/org/apache/pulsar/io/solr/SolrSinkConfigTest.java
Labels: type/enhancement, doc-not-needed, ready-to-test, release/3.0.3, release/2.11.4, release/3.1.3

#21706 [fix][test] Fix PerformanceProducer send count error
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21711 [fix][fn] Fix Deadlock in Functions Worker LeaderService
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/LeaderService.java
Labels: component/function, doc-not-needed, ready-to-test, release/3.0.3, release/2.11.4, release/3.1.3

#21466 [fix][txn] Fix getting last message ID when there are ongoing transactions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferDisable.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TopicTransactionBufferTest.java
Labels: type/bug, doc-not-needed, release/2.9.5, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21719 [fix][sec] Exclude avro from hadoop-client
  pulsar-io/hdfs2/pom.xml
  pulsar-io/hdfs3/pom.xml
Labels: component/security, doc-not-needed, ready-to-test, dependencies, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21635 [improve][pip] PIP-320: OpenTelemetry Scaffolding
  pip/pip-320.md
Labels: PIP, doc-not-needed

#21664 [improve][cli]Introduce Regex and File Input Parameters for Enhanced Topic Deletion Command
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdTopics.java
Labels: doc-not-needed, ready-to-test

#21721 [fix][broker] Fixed ServiceUnitStateChannel monitor to tombstone only inactive bundle states
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: doc-not-needed, ready-to-test, release/3.1.2, release/3.0.3

#21715 [fix][build] Upgrade alluxio version to 2.9.3 to fix CVE-2023-38889
  pulsar-io/alluxio/pom.xml
  pulsar-io/alluxio/src/main/java/org/apache/pulsar/io/alluxio/sink/AlluxioSink.java
  pulsar-io/alluxio/src/test/java/org/apache/pulsar/io/alluxio/sink/AlluxioSinkTest.java
Labels: doc-not-needed, ready-to-test

#21665 [improve][broker] Support not retaining null-key message during topic compaction (#21578)
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.4

#21680 [improve][pip] PIP-322: Pulsar Rate Limiting Refactoring
  pip/pip-322.md
Labels: doc, PIP

#21704 [fix][broker] Fix the issue of topics possibly being deleted.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicInitializeDelayTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21724 [improve][build] Configure https timeout for apt, copy config to java-test-image
  docker/pulsar/Dockerfile
  tests/docker-images/java-test-image/Dockerfile
Labels: doc-not-needed, ready-to-test

#21452 [improve][pip] PIP-313 Support force unsubscribe using consumer api
  pip/pip_313.md
Labels: PIP, doc-not-needed

#21713 [fix][test] Fix flaky test FilterEntryTest.testFilter
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/plugin/FilterEntryTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#21728 [improve][misc] Pin Netty version in pulsar-io/alluxio
  pulsar-io/alluxio/pom.xml
Labels: component/dependency, doc-not-needed, ready-to-test

#21682 [improve][broker] PIP-307: Implement broker and client consumer changes when topic is unloading
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransportCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractBaseDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientErrorsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarTestClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: doc-not-needed, ready-to-test

#21727 [improve][build] Increase apt's initial timeout from 250ms to 2000ms and increase retries
  docker/pulsar/Dockerfile
  tests/docker-images/java-test-image/Dockerfile
Labels: component/build, doc-not-needed, ready-to-test

#21730 [fix][sec] Upgrade org.bouncycastle:bc-fips to 1.0.2.4
  pom.xml
Labels: type/bug, component/security, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3

#21729 [fix][broker] Skip topic auto-creation for ExtensibleLoadManager internal topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3

#21723 [improve][misc] Upgrade Netty to 4.1.104 and io_uring to 0.0.24
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test, dependencies

#21695 [improve][build] Add a default username in the image
  docker/pulsar/Dockerfile
  tests/docker-images/latest-version-image/Dockerfile
Labels: component/build, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3

#21732 [fix][test] Close the resource after the test.
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchExtractTests.java
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/source/RabbitMQSourceTest.java
Labels: component/test, doc-not-needed, ready-to-test

#21733 [fix][ci] Disable `testReuseFork` when runs pulsar-metadata
  build/run_unit_group.sh
Labels: doc-not-needed, ready-to-test

#21749 [fix][pip] Fix pip file naming
  pip/pip-313.md
Labels: PIP, doc-not-needed

#21687 [improve][client] PIP-313 Support force unsubscribe using consumer api
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Subscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BrokerClientIntegrationTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: component/client, component/broker, doc-not-needed, ready-to-test

#21755 [fix][test] Fix flaky PersistentTopicTest.setup
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#21736 [fix][broker] Fix closing of AbstractDispatcherSingleActiveConsumer and reduce flakiness of test
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionMessageDispatchThrottlingTest.java
Labels: type/bug, component/broker, flaky-tests, doc-not-needed, ready-to-test

#21718 [fix][broker] Avoid compaction task stuck when the last message to compact is a marker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21757 [improve][proxy] Fix comment about enableProxyStatsEndpoints
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21744 [fix][test][branch-3.0] fix testCleanupEmptySubscriptionAuthenticationMap
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
Labels: doc-not-needed, ready-to-test

#21709 [improve][pip] PIP-323: Complete Backlog Quota Telemetry
  pip/pip-323.md
Labels: PIP, doc-not-needed

#21764 [fix][broker] Fixed the ExtensibleLoadManagerImpl internal system getTopic failure when the leadership changes
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStore.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerFilterTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/LeastResourceUsageWithWeightTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3

#21769 [fix][test] Don't reuse AsyncResponse mocks in PersistentTopicsTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#21193 [improve][broker] Avoid record inactiveproducers when deduplication is disable.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
Labels: doc-not-needed, ready-to-test, release/3.1.1, release/3.0.3

#21792 [improve][ci] Upgrade Aerospike java client to 4.5.0 to avoid CVE-2023-36480
  pom.xml
Labels: doc-not-needed, ready-to-test

#21789 [improve][broker] PIP-307: Add proxy support for Java client
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferHandlerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferHandlerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PulsarMultiListenersWithInternalListenerNameTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarTestClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupTopicResult.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BinaryProtoLookupServiceTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientTestFixtures.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicListWatcherTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithExtensibleLoadManagerTest.java
Labels: doc-not-needed, ready-to-test

#20776 [improve][pip] PIP-282: Change definition of the recently joined consumers position
  pip/pip-282.md
Labels: type/bug, PIP, doc-not-needed, Stale

#21777 [fix][broker] Fix TableViewLoadDataStoreImpl NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreTest.java
Labels: type/bug, doc-not-needed, release/3.0.3, release/3.1.3

#21790 [fix][client] Fix producer thread block forever on memory limit controller
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerMemoryLimitTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
Labels: doc-not-needed, release/3.0.3, release/3.1.3

#21796 [improve][misc] List Pulsar at the https://projects.apache.org
  doap_Pulsar.rdf
Labels: doc-not-needed, ready-to-test

#21804 [improve] [client] Prevent reserve memory with a negative memory size to avoid send task stuck
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MemoryLimitController.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MemoryLimitControllerTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3

#21799 [fix][test] Fix ExtensibleLoadManager flaky integration test
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#21791 [improve][ci] Exclude jose4j to avoid CVE-2023-31582
  pom.xml
  pulsar-io/debezium/core/pom.xml
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-io/kafka/pom.xml
  pulsar-io/solr/pom.xml
Labels: doc-not-needed, ready-to-test

#21801 [fix][broker] Fixed the ExtensibleLoadManagerImpl internal system getTopic failure when the leadership changes #21764
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStore.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerFilterTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/LeastResourceUsageWithWeightTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-not-needed, ready-to-test

#21423 [improve] [broker] PIP-299-part-1: Stop dispatch messages if the individual acks will be lost in the persistent storage
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionPauseOnAckStatPersistTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/HierarchyTopicPolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: doc-not-needed, ready-to-test, category/reliability

#21817 [improve][ci] Improve OWASP dependency checks
  .github/workflows/ci-owasp-dependency-check.yaml
  pom.xml
  src/owasp-dependency-check-false-positives.xml
Labels: doc-not-needed, ready-to-test

#21745 [fix][broker] Delete compacted ledger when topic is deleted
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PulsarCompactorSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21826 [improve][ci] Run OWASP dependency check for offloaders and pulsar-io even when main check fails
  .github/workflows/ci-owasp-dependency-check.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#21811 [improve][broker] defer the ownership checks if the owner is inactive (ExtensibleLoadManager)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-not-needed, ready-to-test
