Repository apache/pulsar, pull requests merged in 2024-04, with the labels that each got.

#22379 [fix][broker] Skip topic.close during unloading if the topic future fails with ownership check, and fix isBundleOwnedByAnyBroker to use ns.checkOwnershipPresentAsync for ExtensibleLoadBalancer
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22327 [improve][misc] Upgrade log4j2 to 2.23.1
  buildtools/pom.xml
  conf/log4j2.yaml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test

#22342 [improve][admin] Align the auth and check it at the first place for topic related API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAuthZTest.java
Labels: doc-not-needed, ready-to-test

#22395 [improve][broker] Don't log brokerClientAuthenticationParameters and bookkeeperClientAuthenticationParameters by default
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: area/broker, doc-not-needed, ready-to-test, release/3.1.4, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22400 [fix][build] Fix networkaddress.cache.negative.ttl config
  docker/pulsar/Dockerfile
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.1.5, release/3.0.5

#22321 [fix][broker] Update TransferShedder underloaded broker check to consider max loaded broker's msgThroughputEMA and update IsExtensibleLoadBalancerImpl check
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.1.5, release/3.0.5

#22407 [fix][broker] Skip topic.close during unloading if the topic future fails with ownership check, and fix isBundleOwnedByAnyBroker to use ns.checkOwnershipPresentAsync for ExtensibleLoadBalancer (#22379)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
Labels: doc-label-missing

#22406 [fix][broker] Skip topic.close during unloading if the topic future fails with ownership check, and fix isBundleOwnedByAnyBroker to use ns.checkOwnershipPresentAsync for ExtensibleLoadBalancer (#22379)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
Labels: doc-label-missing

#22403 [fix][broker] Skip topic.close during unloading if the topic future fails with ownership check, and fix isBundleOwnedByAnyBroker to use ns.checkOwnershipPresentAsync for ExtensibleLoadBalancer (#22379)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
Labels: doc-label-missing

#22408 [fix][cli] Fix help option
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarVersionStarter.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionWorkerStarter.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketServiceStarter.java
Labels: doc-not-needed, ready-to-test

#22412 [fix][broker] Fix invalid condition in logging exceptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.1.4, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22416 [fix][broker] Update TransferShedder underloaded broker check to consider max loaded broker's msgThroughputEMA and update IsExtensibleLoadBalancerImpl check (#22321)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
Labels: doc-label-missing

#22417 [fix][broker] Update TransferShedder underloaded broker check to consider max loaded broker's msgThroughputEMA and update IsExtensibleLoadBalancerImpl check (#22321)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
Labels: doc-label-missing

#22418 [fix][broker] Update TransferShedder underloaded broker check to consider max loaded broker's msgThroughputEMA and update IsExtensibleLoadBalancerImpl check (#22321)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
Labels: doc-label-missing

#22421 [fix][broker] Support OIDC providers with JWK without alg field set in keys
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenID.java
  pulsar-broker-auth-oidc/src/test/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenIDIntegrationTest.java
Labels: doc-not-needed, area/authn, ready-to-test, release/3.2.3, release/3.0.5

#22415 [fix][misc] Rename all shaded Netty native libraries
  src/rename-netty-native-libs.cmd
  src/rename-netty-native-libs.sh
Labels: type/bug, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22425 [improve][build] Upgrade Lombok to 1.18.32 for Java 22 support
  pom.xml
Labels: area/build, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22424 [cleanup][admin] Remove unused methods in PersistentTopicsBase
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: type/cleanup, area/broker, area/admin, doc-not-needed, ready-to-test

#22423 [admin][broker] Fix force delete subscription not working
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: type/bug, area/admin, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22434 [fix][ci] Fix labels for flaky test GitHub issue template
  .github/ISSUE_TEMPLATE/flaky-test.yml
Labels: doc-not-needed, area/ci

#22426 [fix][build] Fix typo in rename script for windows cmd
  src/rename-netty-native-libs.cmd
Labels: doc-not-needed, ready-to-test

#22433 [improve][test] Move most flaky tests to flaky group
  build/run_unit_group.sh
  buildtools/src/main/java/org/apache/pulsar/tests/AnnotationListener.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMultiBrokersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerConsumerInternalTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndWithoutBatchIndexAckTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22411 [fix][broker][admin] Fix cannot update properties on NonDurable subscription.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, area/ML, release/3.1.4, release/3.2.3, release/3.0.5

#22446 [improve][misc] Specify valid home dir for the default user in the Ubuntu based docker image
  docker/pulsar/Dockerfile
Labels: type/bug, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22447 [improve][misc] Specify /pulsar/data as the home dir for the user in the Alpine based image
  docker/pulsar/Dockerfile
Labels: doc-not-needed, ready-to-test

#22448 [improve][ci] revisit tune-runner-vm action, drop tuning for docker
  .github/actions/tune-runner-vm/action.yml
  .github/workflows/pulsar-ci.yaml
  README.md
  build/build_java_test_image.sh
Labels: doc-not-needed, ready-to-test

#22393 [fix][client] Fix client side memory leak when call MessageImpl.create and fix imprecise client-side metrics: pendingMessagesUpDownCounter, pendingBytesUpDownCounter, latencyHistogram
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, category/reliability, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22449 [improve][broker] Deprecate unused enableNamespaceIsolationUpdateOnTime config
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: doc, area/broker, ready-to-test

#22454 [fix][broker] Fix consumer stops receiving messages when with large backlogs processing
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22459 [cleanup][broker] remove useless code comment
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, ready-to-test

#22451 [fix][build] Fix ps command
  docker/pulsar/Dockerfile
Labels: doc-not-needed, ready-to-test

#22398 [improve][test] Add operation authentication test for namespace API
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespaceAuthZTest.java
Labels: doc-not-needed, ready-to-test

#22399 [improve][admin] Add authorization test for schema and align auth for transaction
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/security/MockedPulsarStandalone.java
Labels: doc-not-needed, ready-to-test

#22463 [improve][test] Replace usage of curl in Java test and fix stream leaks
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
Labels: doc-not-needed, ready-to-test

#22397 [fix][broker] Update topic partition failed when config maxNumPartitionsPerPartitionedTopic<0
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22458 [fix][broker] Fix message drop record in producer stat
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22469 [improve][broker] Recover susbcription creation on the broken schema ledger topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: area/broker, doc-not-needed, ready-to-test

#22478 [fix][broker] Do not migrate internal topics during Blue-Green Migration when ExtensibleLoadBalancer is used
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ClusterMigrationTest.java
Labels: doc-not-needed

#22475 [improve][broker] backlog quota exceed limit log replaced with `debug`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, ready-to-test

#22484 [improve][misc] Upgrade to Bookkeeper 4.16.5
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/dependency, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22464 [feat][admin] Enable Gzip Compression by Default in Admin Client
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/PulsarAdminBuilder.java
  pulsar-client-admin/pom.xml
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnectorProvider.java
  pulsar-client-admin/src/test/java/org/apache/pulsar/client/admin/internal/PulsarAdminGzipTest.java
Labels: area/admin, doc-not-needed, ready-to-test

#22465 [improve][broker] Reduce the duplicated null check for LeaderElectionService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
Labels: type/enhancement, area/broker, doc-not-needed, ready-to-test

#22488 [improve][broker] backlog quota exceed limit log replaced with `debug`
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed

#22493 [fix][test] Fix NPE in BookKeeperClusterTestCase tearDown
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test

#22370 [improve][broker] Improve Gzip compression, allow excluding specific paths or disabling it
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/GzipHandlerUtil.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
Labels: doc-not-needed, ready-to-test

#22495 [fix][test] Move ExtensibleLoadManagerImplTest to flaky tests
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: doc-not-needed, ready-to-test

#22482 [cleanup][broker] Remove unused NamespaceBundleFactory parameter when creating OwnershipCache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnershipCacheTest.java
Labels: type/cleanup, area/broker, doc-not-needed, ready-to-test

#22494 [fix][broker] Optimize /metrics, fix unbounded request queue issue and fix race conditions in metricsBufferResponse mode
  conf/proxy.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGeneratorUtils.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/TimeWindow.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/WindowWrap.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/MetricsExports.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricStreams.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PulsarPrometheusMetricsServlet.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/PrometheusMetricsTestUtil.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/MetadataStoreStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TimeWindowTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TransactionMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/SimpleTextOutputStream.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22479 [fix] [broker] Prevent long deduplication cursor backlog so that topic loading wouldn't timeout
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/DeduplicationDisabledBrokerLevelTest.java
Labels: doc-not-needed, ready-to-test, category/reliability, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#21274 [fix][txn]Handle exceptions in the transaction pending ack init
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
Labels: type/bug, area/transaction, doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/2.11.4, release/3.1.3, release/3.2.3, release/3.0.5

#22489 [fix][test] Flaky-test: testMessageExpiryWithTimestampNonRecoverableException and testIncorrectClientClock
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test

#22468 [improve][test] Add topic operation checker for topic API
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAuthZTest.java
Labels: doc-not-needed, ready-to-test

#22509 [fix][sec] Upgrade Bouncycastle to 1.78
  bouncy-castle/bc/LICENSE
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/security, area/dependency, doc-not-needed, release/3.1.4, release/3.2.3, release/3.0.5

#22511 [fix][io] Kafka Source connector maybe stuck
  pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java
  pulsar-io/kafka/src/test/java/org/apache/pulsar/io/kafka/source/KafkaAbstractSourceTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22496 [fix][broker] Fix Replicated Topic unload bug when ExtensibleLoadManager is enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorGlobalNSTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
Labels: doc-not-needed, ready-to-test

#22514 [improve][fn] Expose `RuntimeFlags` as CLI option for Pulsar Functions and Connectors
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
Labels: doc-required, ready-to-test

#22500 [fix][test] SchemaMap in AutoConsumeSchema has been reused
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: doc-not-needed, release/3.2.3, release/3.0.5

#22490 [improve] Make the config `metricsBufferResponse` description more effective
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: area/config, doc-not-needed, ready-to-test

#22506 [improve][broker] Add topic name to emitted error messages.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: doc-not-needed, ready-to-test

#22521 [improve][broker] Optimize gzip compression for /metrics endpoint by sharing/caching compressed result
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsServlet.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/GzipHandlerUtil.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/web/GzipHandlerUtilTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PulsarPrometheusMetricsServlet.java
  pulsar-broker/src/test/java/org/apache/pulsar/PrometheusMetricsTestUtil.java
Labels: doc-not-needed, ready-to-test

#22507 [improve][admin] Align the auth and check it at the first place for topic related API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAuthZTest.java
Labels: doc-not-needed, ready-to-test

#22526 [improve][test] Move ShadowManagedLedgerImplTest to flaky tests
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImplTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22485 [fix][broker] Check the broker is available for the SLA monitor bundle when the ExtensibleLoadManager is enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: doc-not-needed, ready-to-test

#22528 [fix][broker] Fix a deadlock in SystemTopicBasedTopicPoliciesService during NamespaceEventsSystemTopicFactory init
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22530 [improve][build] Upgrade OWASP Dependency check version to 9.1.0
  pom.xml
Labels: area/build, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22386 [improve] Run Trivy image scanner with the current image
  .github/workflows/ci-trivy-container-scan.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test

#22532 [fix][broker] Fix typos in Consumer class
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
Labels: type/cleanup, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22533 [fix][broker] Fix NPE causing dispatching to stop when using Key_Shared mode and allowOutOfOrderDelivery=true
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22531 [improve][offload] Apply autoSkipNonRecoverableData configuration to tiered storage
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedInputStreamImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImplV2.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/BlobStoreBackedInputStreamTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderStreamingTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: type/enhancement, area/tieredstorage, doc-not-needed, ready-to-test, release/3.2.3, release/3.1.5, release/3.0.5

#22535 [fix][broker] Fix broken topic policy implementation compatibility with old pulsar version
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerInternalClientConfigurationOverrideTest.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22546 [improve][test] Add topic policy test for topic API
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TransactionAndSchemaAuthZTest.java
Labels: doc-not-needed, ready-to-test

#22552 [fix][ml] Fix NPE of getValidPositionAfterSkippedEntries when recovering a terminated managed ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/3.2.3, release/3.1.5, release/3.0.5

#22551 [improve][misc] Upgrade to Bookkeeper 4.17.0
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/dependency, doc-not-needed, ready-to-test

#22525 [improve] Update Oxia client to 0.1.6
  distribution/licenses/LICENSE-Reactive-gRPC.txt
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-metadata/pom.xml
Labels: doc-not-needed, ready-to-test

#21946 [fix] [broker] Part-1: Replicator can not created successfully due to an orphan replicator in the previous topic owner
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Replicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22549 [improve][broker] Apply loadBalancerDebugModeEnabled in LeastResourceUsageWithWeight
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/strategy/LeastResourceUsageWithWeight.java
Labels: type/enhancement, area/broker, doc-not-needed, ready-to-test

#22550 [fix][admin] Fix can't delete tenant for v1
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TopicResources.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
Labels: doc-not-needed, ready-to-test

#22570 [fix] Include swagger annotations in shaded client lib
  distribution/shell/src/assemble/LICENSE.bin.txt
  pulsar-client/pom.xml
Labels: type/bug, area/build, doc-not-needed, ready-to-test, release/3.2.3

#22565 [fix][io] CompressionEnabled didn't work on elasticsearch sink
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/elastic/ElasticSearchJavaRestClient.java
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/opensearch/OpenSearchHighLevelRestClient.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchClientTests.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22537 [improve] [broker] Create partitioned topics automatically when enable topic level replication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#21948 [fix] [broker] Part-2: Replicator can not created successfully due to an orphan replicator in the previous topic owner
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Replicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3

#22391 [improve][misc] Upgrade slf4j to 2.0.13
  buildtools/pom.xml
  distribution/server/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/pom.xml
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-client-all/pom.xml
  pulsar-functions/instance/pom.xml
  pulsar-functions/localrun/pom.xml
  pulsar-functions/runtime-all/pom.xml
  pulsar-io/alluxio/pom.xml
  pulsar-io/hdfs2/pom.xml
  pulsar-io/hdfs3/pom.xml
  pulsar-io/rabbitmq/pom.xml
  pulsar-io/rabbitmq/src/test/java/org/apache/pulsar/io/rabbitmq/RabbitMQBrokerManager.java
  pulsar-io/solr/pom.xml
  structured-event-log/pom.xml
  tiered-storage/file-system/pom.xml
Labels: doc-not-needed, ready-to-test

#22576 [fix][broker] Fix BufferOverflowException and EOFException bugs in /metrics gzip compression
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGeneratorTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.1.4, release/2.11.5, release/3.2.3, release/3.0.5

#22586 [improve][ci] Disable test that causes OOME until the problem has been resolved
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
Labels: doc-not-needed, ready-to-test

#22583 [fix][test] Clear fields in test cleanup to reduce memory consumption
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MultiBrokerTestZKBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LeaderElectionServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/BundleSplitterTaskTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AdvertisedAddressTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/CanReconnectZKClientPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MaxMessageSizeTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicOwnerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionMetaStoreTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ClientDeduplicationFailureTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarWorkerAssignmentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionAdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/zookeeper/ZookeeperServerTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/TestZKServer.java
Labels: area/test, doc-not-needed, ready-to-test

#22587 [fix][admin] Fix namespace admin api exception response
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespaceAuthZTest.java
Labels: type/bug, area/admin, doc-not-needed, ready-to-test, release/2.11.5, release/3.2.3, release/3.0.5

#22547 [improve][admin] Check if the topic existed before the permission operations
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaWithAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthorizationTest.java
Labels: doc-not-needed, ready-to-test

#22595 [cleanup] [test] remove useless TestAuthorizationProvider2
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
Labels: doc-not-needed

#22566 [improve][meta] Log a warning when ZK batch fails with connectionloss
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
Labels: doc-not-needed, area/metadata, ready-to-test

#22596 [improve][broker] Propagate cause exception in TopicBusyException when applicable
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/cleanup, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22573 [fix][broker] Avoid being stuck when closing the broker with extensible load manager
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerCloseTest.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22599 [fix][broker] Continue closing even when executor is shut down
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test

#22589 [improve][broker] Close TopicPoliciesService to allow Pulsar broker graceful shutdown
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicTxnBufferSnapshotService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test

#22598 [improve][broker] Don't use forkjoin pool by default for deleting partitioned topics
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/PulsarResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test

#22536 [improve][broker] perf: Reduce stickyHash calculations of non-persistent topics in SHARED subscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: area/broker, doc-not-needed, ready-to-test

#22600 [fix][test] Flaky-test: ManagedLedgerTest.testTimestampOnWorkingLedger
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/3.2.3, release/3.1.5, release/3.0.5

#22593 [improve][test] Add policy authentication test for namespace API
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespaceAuthZTest.java
Labels: area/test, doc-not-needed, ready-to-test

#22572 [fix][broker] Reader stuck after call hasMessageAvailable when enable replicateSubscriptionState
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/ManagedLedgerImplUtils.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/util/ManagedLedgerImplUtilsTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionWithTransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TopicTransactionBufferTest.java
Labels: type/bug, doc-not-needed, ready-to-test

#22611 [fix][test] Fix the flaky tests of ManagedLedgerImplUtilsTest
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/util/ManagedLedgerImplUtilsTest.java
Labels: area/test, type/flaky-tests, doc-not-needed, ready-to-test, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#17524 [fix][broker] One topic can be closed multiple times concurrently
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.2.3

#22594 [fix] [test] Fix flaky test ReplicatorTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorGlobalNSTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: doc-not-needed, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22580 [fix] [broker] Fix metrics pulsar_topic_load_failed_count is 0 when load non-persistent topic fails and fix the flaky test testBrokerStatsTopicLoadFailed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3

#22620 [improve][ci] Upgrade deprecated GitHub Actions to supported versions
  .github/workflows/ci-go-functions.yaml
  .github/workflows/ci-semantic-pull-request.yml
  .github/workflows/labeler.yml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, area/ci, ready-to-test
