Repository apache/pulsar, pull requests merged in 2024-02, with the labels that each got.

#21993 [improve][broker] Do not close the socket if lookup failed due to LockBusyException
  pulsar-broker/src/main/java/org/apache/pulsar/broker/lookup/TopicLookupBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
Labels: enhancement, component/broker, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22018 [fix] [test] Fix flaky test testPerTopicExpiredStat
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-not-needed, ready-to-test

#21980 [improve][client] Mention partitioning in failover priorityLevel javaDoc
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
Labels: doc

#22022 [improve][broker] Do not retain the data in the system topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionRetentionTest.java
Labels: doc-not-needed, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22020 [cleanup] [broker] fix return value of TransactionTimeoutTrackerImpl#addTransaction
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/timeout/TransactionTimeoutTrackerImpl.java
  pulsar-transaction/coordinator/src/main/java/org/apache/pulsar/transaction/coordinator/TransactionTimeoutTracker.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/MLTransactionMetadataStoreTest.java
Labels: doc-not-needed, ready-to-test

#22037 [improve] Added CodeQL static scanner
  .github/workflows/codeql.yaml
Labels: component/security, doc-not-needed, component/ci, ready-to-test

#22009 [feat] PIP-335: Oxia metadata plugin
  pip/pip-335 Oxia metadata plugin.md
Labels: doc-required, PIP, ready-to-test

#22007 [feat] PIP-335: Add support Oxia as a metadata store
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-metadata/pom.xml
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/MetadataStoreFactoryImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/oxia/OxiaMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/oxia/OxiaMetadataStoreProvider.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/oxia/package-info.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BaseMetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataBenchmark.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: type/feature, doc-required, ready-to-test

#22042 [fix] [ci] [branch-3.0] Fix the build issue from cherry-pick
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
Labels: doc-not-needed, ready-to-test, cherry-picked/branch-3.0, release/3.0.3

#22044 [fix][broker] Sanitize values before logging in apply-config-from-env.py script
  docker/pulsar/scripts/apply-config-from-env-with-prefix.py
  docker/pulsar/scripts/apply-config-from-env.py
Labels: bug, component/broker, doc-not-needed, ready-to-test

#22045 [improve] PIP-335: Pulsar with Oxia integration test
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/scripts/init-cluster.sh
  tests/docker-images/latest-version-image/scripts/run-bookie.sh
  tests/docker-images/latest-version-image/scripts/run-broker.sh
  tests/docker-images/latest-version-image/scripts/run-functions-worker.sh
  tests/docker-images/latest-version-image/scripts/run-proxy.sh
  tests/docker-images/latest-version-image/scripts/run-websocket.sh
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/PulsarInitMetadataContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/oxia/OxiaContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/oxia/OxiaSmokeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterSpec.java
  tests/integration/src/test/resources/pulsar-messaging.xml
Labels: component/test, type/feature, doc-not-needed, ready-to-test

#22006 [feat][io] New component. AzureDataExplorer/Kusto sink for pulsar (https://learn.microsoft.com/en-us/azure/data-explorer/)
  distribution/io/src/assemble/io.xml
  pulsar-io/azure-data-explorer/docker-compose.yml
  pulsar-io/azure-data-explorer/pom.xml
  pulsar-io/azure-data-explorer/src/main/java/org/apache/pulsar/io/azuredataexplorer/ADXPulsarEvent.java
  pulsar-io/azure-data-explorer/src/main/java/org/apache/pulsar/io/azuredataexplorer/ADXSink.java
  pulsar-io/azure-data-explorer/src/main/java/org/apache/pulsar/io/azuredataexplorer/ADXSinkConfig.java
  pulsar-io/azure-data-explorer/src/main/java/org/apache/pulsar/io/azuredataexplorer/ADXSinkUtils.java
  pulsar-io/azure-data-explorer/src/main/java/org/apache/pulsar/io/azuredataexplorer/package-info.java
  pulsar-io/azure-data-explorer/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/azure-data-explorer/src/test/java/org/apache/pulsar/io/azuredataexplorer/ADXSinkConfigTest.java
  pulsar-io/azure-data-explorer/src/test/java/org/apache/pulsar/io/azuredataexplorer/ADXSinkE2ETest.java
  pulsar-io/azure-data-explorer/src/test/resources/sinkConfig.yaml
  pulsar-io/azure-data-explorer/src/test/resources/sinkConfigInvalid.yaml
  pulsar-io/azure-data-explorer/src/test/resources/sinkConfigValid.yaml
  pulsar-io/docs/pom.xml
  pulsar-io/pom.xml
Labels: doc-not-needed

#22053 [fix][broker] Fix hash collision when using a consumer name that ends with a number
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: bug, doc-not-needed, ready-to-test, release/3.0.3, release/3.2.1

#22055 [fix] Fixed implicit conversions from long -> int
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/data/BrokerLoadData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/PulsarResourceDescription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/WRRPlacementStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/NamespaceStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMsgsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LoadManagerReport.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LoadReport.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
Labels: component/security, doc-not-needed

#22065 [improve][broker] Add an error log to troubleshoot the failure of starting broker registry.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
Labels: doc-not-needed

#21995 [improve] [broker] Do not print an Error log when responding to `HTTP-404` when calling `Admin API` and the topic does not exist.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
Labels: doc-not-needed, release/2.10.6, category/performance, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21991 [fix][broker]Support setting `autoSkipNonRecoverableData` dynamically in expiryMon…
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/3.1.2, release/3.0.3, release/3.1.3

#22019 [fix] [broker] Subscription stuck due to called Admin API analyzeSubscriptionBacklog
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AnalyzeBacklogSubscriptionTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/BitSetRecyclable.java
Labels: bug, doc-not-needed, ready-to-test, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22011 [fix][broker][branch-3.1] Avoid PublishRateLimiter use an already closed RateLimiter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupPublishLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PrecisTopicPublishRateThrottleTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/RateLimiter.java
Labels: bug, component/broker, doc-not-needed, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#22025 [fix] [broker] Fix can not subscribe partitioned topic with a suffix-matched regexp
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TopicResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarCommandSenderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicListService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicListWatcher.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: bug, doc-not-needed, ready-to-test, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22031 [branch-2.10][improve][broker] Do not retain the data in the system topic
  .github/workflows/ci-integration-backwards-compatibility.yaml
  .github/workflows/ci-integration-pulsar-io-ora.yaml
  .github/workflows/ci-integration-pulsar-io.yaml
  distribution/server/src/assemble/LICENSE.bin.txt
  managed-ledger/src/test/java/org/apache/bookkeeper/test/ZooKeeperUtil.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionRetentionTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/events/EventsTopicNames.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed

#22070 [fix][test] Fix Thread.getThreadGroup().getName() NPE
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
Labels: component/test, doc-not-needed, ready-to-test

#22081 [fix][broker] Support running docker container with gid != 0
  docker/pulsar/Dockerfile
Labels: doc-not-needed, ready-to-test

#22086 [fix][sec] Upgrade commons-compress to 1.26.0
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/runtime-all/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceDepsTest.java
Labels: bug, component/security, doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22024 [fix] [txn] Get previous position by managed ledger.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TopicTransactionBufferTest.java
Labels: doc-not-needed, ready-to-test

#21940 [fix] [broker] Expire messages according to ledger close time to avoid client clock skew
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
Labels: bug, component/broker, doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22096 [improve][ci] Upgrade Gradle Enterprise maven extension version
  .mvn/extensions.xml
  .mvn/gradle-enterprise.xml
Labels: component/build, doc-not-needed, component/ci, ready-to-test

#22095 [fix][build] Fix building java-test-image without setting IMAGE_JDK_MAJOR_VERSION
  docker/pulsar/pom.xml
  pom.xml
  tests/docker-images/java-test-image/pom.xml
Labels: component/build, doc-not-needed, ready-to-test

#22064 [fix][broker] Set ServiceUnitStateChannel topic compaction threshold explicitly, improve getOwnerAsync, and fix other bugs
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-not-needed, ready-to-test

#22101 [improve][admin] Expose the offload threshold in seconds to the amdin
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: component/admin, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22004 [improve] [broker] Do not try to open ML when the topic meta does not exist and do not expect to create a new one. #21995
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/TopicEventsListenerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22099 [improve][broker] Cache the internal writer when sent to system topic.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TopicPoliciesSystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22107 [fix][fn] Prevent create state table from API calls for non-exists instances
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
Labels: doc-not-needed, ready-to-test

#22090 [fix] [broker] Enabling batch causes negative unackedMessages due to ack and delivery concurrency
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
Labels: bug, doc-not-needed, ready-to-test, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22078 [fix] [client] Do no retrying for error subscription not found when disabled allowAutoSubscriptionCreation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MultiTopicsConsumerTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: doc-not-needed, ready-to-test, release/3.1.2, release/3.0.3, release/3.1.3

#22122 [improve][fn] Optimize Function Worker startup by lazy loading and direct zip/bytecode access
  conf/functions_worker.yml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarClassLoader.java
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarUnpacker.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/ConnectorsManager.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/FunctionsManager.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/utils/pom.xml
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionFilePackage.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionRuntimeCommon.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/LoadedFunctionPackage.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ValidatableFunctionPackage.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/ValidatorUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functions/FunctionArchive.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functions/FunctionUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/Connector.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionCommonTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/FunctionConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImplTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v2/FunctionApiV2ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/AbstractFunctionApiResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/AbstractFunctionsResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/FunctionApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
  tests/docker-images/latest-version-image/conf/functions_worker.conf
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
Labels: doc-not-needed, ready-to-test

#22091 [fix] [client] fix huge permits if acked a half batched message
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: bug, doc-not-needed, ready-to-test, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22023 [fix][sec] Add a check for the input time value
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryMBeanImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/DimensionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/LongAdderCounter.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionRetentionTest.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ClientConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ConsumerConfiguration.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AutoClusterFailover.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ControlledClusterFailover.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/ObjectCache.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  testmocks/src/main/java/org/apache/bookkeeper/client/TestStatsProvider.java
Labels: doc-not-needed, ready-to-test

#22117 [fix][test] Fix test testTransactionBufferMetrics
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22123 [improve][ci] Upgrade codecov-action version
  .github/actions/upload-coverage/action.yml
Labels: doc-not-needed, component/ci, ready-to-test

#22127 [bug][fn] Prevent `putstate` uses empty values
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.1

#22120 [fix][test] fix test testSyncNormalPositionWhenTBRecover
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionStablePositionTest.java
Labels: doc-not-needed, ready-to-test, release/2.9.5, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22121 [fix][test] Fix test testAsyncFunctionMaxPending
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceTest.java
Labels: flaky-tests, release/2.5.3, release/2.6.4, doc-not-needed, release/2.8.5, release/2.7.6, ready-to-test, release/2.9.5, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22112 [fix][broker] Return getOwnerAsync without waiting on source broker upon Assigning and Releasing and handle role change during role init
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22071 [improve][pip] PIP-339: Introducing the --log-topic Option for Pulsar Sinks and Sources
  pip/pip-339.md
Labels: PIP, doc-complete

#22132 [improve][ci] Run CodeQL within Pulsar CI workflow as mandatory check
  .github/workflows/codeql.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#22144 [fix][sec] Upgrade Jetty to 9.4.54.v20240208 to address CVE-2024-22201
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: component/security, doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22146 [improve][ci] Only run CodeQL when the PR contains changes to non-test java code
  .github/changes-filter.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#22150 [fix][cli] Fix the bug when set-retention specified size with -T
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdNamespaces.java
Labels: doc-not-needed, ready-to-test, release/3.2.1

#22139 [fix][broker] Fix broker not starting when both transactions and the Extensible Load Manager are enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplWithTransactionCoordinatorTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/MessagingSmokeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterTestBase.java
  tests/integration/src/test/resources/pulsar-messaging.xml
Labels: bug, doc-not-needed, release/3.0.3, release/3.1.3, release/3.2.1

#22154 [fix][broker][branch-3.0] Set ServiceUnitStateChannel topic compaction threshold explicitly, improve getOwnerAsync, and fix other bugs (#22064)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-label-missing

#22140 [improve][fn] Add missing "exception" argument to some `log.error`
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22156 [fix][broker][branch-3.0] Return getOwnerAsync without waiting on source broker upon Assigning and Releasing and handle role change during role init (#22112)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-label-missing

#22160 [fix][broker][branch-3.2] Set ServiceUnitStateChannel topic compaction threshold explicitly, improve getOwnerAsync, and fix other bugs (#22064)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-label-missing

#22153 [fix] [broker] print non log when delete partitioned topic failed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22163 [improve][broker] Add fine-grain authorization to retention admin API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesAuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/security/MockedPulsarStandalone.java
  pulsar-broker/src/test/java/org/apache/pulsar/security/tls/ec/TlsWithECCertificateFileTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/security/tls/ec/TlsWithECKeyStoreTest.java
Labels: component/broker, doc-not-needed, ready-to-test, component/authorization, release/3.0.3, release/3.1.3, release/3.2.1

#22162 [fix][offload] Fix Offload readHandle cannot close multi times.
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImplV2.java
Labels: bug, component/tieredstorage, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22149 [fix][txn]Fix TopicTransactionBuffer potential thread safety issue
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
Labels: component/transaction, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1
