Repository apache/pulsar, pull requests merged in 2024-05, with the labels that each got.

#22501 [fix][fn]make sure the classloader for ContextImpl is `functionClassLoader` in different runtimes
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
Labels: doc-not-needed, ready-to-test

#22622 [improve][storage] Periodically rollover Cursor ledgers
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: type/enhancement, area/broker, doc-not-needed, ready-to-test

#22628 [fix][ci] Fix labeler GitHub Actions workflow, adapt to v5 configuration format
  .github/labeler.yml
Labels: doc-not-needed, area/ci, ready-to-test

#22631 [fix] Test was leaving client instance to null
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: area/test, doc-not-needed, ready-to-test

#22467 [feat][broker] PIP-264: Add topic messaging metrics
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerMXBean.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/OpenTelemetryTopicStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactionRecord.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/BrokerOpenTelemetryTestUtil.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/OpenTelemetryTopicStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactorTest.java
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/OpenTelemetryAttributes.java
Labels: doc-required, ready-to-test

#22388 [improve][cli] PIP-343: Refactor pulsar-perf to subcommand
  bin/pulsar-perf
  bin/pulsar-perf.cmd
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/BrokerMonitor.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdBase.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdGenerateDocumentation.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationController.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceBaseArguments.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTopicListArguments.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ProxyProtocolConverter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PulsarPerfTestTool.java
  pulsar-testclient/src/test/java/org/apache/pulsar/proxy/socket/client/PerformanceClientTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/GenerateDocumentionTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/Oauth2PerformanceTransactionTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerfClientUtilsTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceBaseArgumentsTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceProducerTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceTransactionTest.java
Labels: doc-not-needed, ready-to-test

#22633 [fix][sec] Upgrade aws-sdk.version to avoid CVE-2024-21634
  pom.xml
Labels: area/security, area/dependency, doc-not-needed, ready-to-test

#22636 [fix][misc] NPE during standalone shutdown
  pulsar-broker/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: doc-not-needed

#22619 [fix] [client] Fix Consumer should return configured batch receive max messages
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerBatchReceiveTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
Labels: area/client, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22646 [improve][build] Use slf4j-bom to align slf4j versions
  buildtools/pom.xml
  pom.xml
Labels: area/build, area/dependency, doc-not-needed, ready-to-test

#22645 [improve][broker] Add logging to leader election
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LeaderElectionImpl.java
Labels: doc-not-needed, ready-to-test

#22641 [fix][sec] Upgrade Debezium oracle connector version to avoid CVE-2023-4586
  pom.xml
  pulsar-io/debezium/oracle/pom.xml
Labels: doc-not-needed

#22640 [fix][sec] Upgrade elasticsearch-java version to avoid CVE-2023-4043
  pom.xml
Labels: doc-not-needed, release/3.2.3, release/3.0.5

#22649 [improve][build] Upgrade OTel library versions
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/Counter.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/LatencyHistogram.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/UpDownCounter.java
Labels: area/metrics, doc-not-needed, ready-to-test

#22630 [fix][storage] ReadonlyManagedLedger initialization does not fill in the properties
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImplTest.java
Labels: doc-not-needed, release/3.0.5

#22654 [fix][io] Fix es index creation
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/elastic/ElasticSearchJavaRestClient.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22659 [fix][test] Clear MockedPulsarServiceBaseTest fields to prevent test runtime memory leak
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22660 [fix][broker] Fix thread safety of loadSheddingTask and loadResourceQuotaTask fields
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
Labels: doc-not-needed, ready-to-test

#22556 [improve][broker] Exclude producers for geo-replication from publishers field of topic stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
Labels: type/enhancement, area/broker, doc-not-needed, ready-to-test

#22662 [fix] [ml] Mark delete stuck due to switching cursor ledger fails
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: doc-not-needed, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22610 [fix] Fix Reader can be stuck from transaction aborted messages.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/ManagedLedgerImplUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TopicTransactionBufferTest.java
Labels: area/client, area/broker, area/transaction, doc-not-needed, ready-to-test, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22663 [improve] Upgrade to Oxia client 0.2.0
  distribution/licenses/LICENSE-Reactive-gRPC.txt
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/oxia/OxiaMetadataStore.java
Labels: doc-not-needed, ready-to-test

#22616 [feat][broker] PIP-264: Add Java runtime metrics
  build/run_unit_group.sh
  conf/pulsar_env.sh
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionMultiBrokerTest.java
  pulsar-opentelemetry/pom.xml
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/OpenTelemetryService.java
  pulsar-opentelemetry/src/test/java/org/apache/pulsar/opentelemetry/OpenTelemetryServiceTest.java
  tests/docker-images/latest-version-image/conf/bookie.conf
  tests/docker-images/latest-version-image/conf/broker.conf
  tests/docker-images/latest-version-image/conf/functions_worker.conf
  tests/docker-images/latest-version-image/conf/global-zk.conf
  tests/docker-images/latest-version-image/conf/local-zk.conf
  tests/docker-images/latest-version-image/conf/proxy.conf
  tests/docker-images/latest-version-image/conf/websocket.conf
Labels: doc-required, ready-to-test

#22617 [improve] Retry re-validating ResourceLock with backoff after errors
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarMetadataEventSynchronizer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/PendingAckHandleImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionHandlerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RetryUtilTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicListWatcher.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/RetryUtil.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/Backoff.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/BackoffBuilder.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/BackoffTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/ResourceLockImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/LockManagerTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22582 [fix][broker] Disable system topic message deduplication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22669 [improve][broker] Disable JFR metric reporting in OpenTelemetry
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/OpenTelemetryService.java
Labels: doc-not-needed, ready-to-test

#22666 [improve][ws] Add memory limit configuration for Pulsar client used in Websocket proxy
  conf/broker.conf
  conf/standalone.conf
  conf/websocket.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketService.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketProxyConfiguration.java
Labels: area/websocket, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22497 [fix][broker] avoid offload system topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: area/broker, doc-not-needed, ready-to-test, category/reliability, release/3.2.3, release/3.0.5

#22653 [fix][admin] Fix deprecated check
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
Labels: doc-not-needed, ready-to-test

#22668 Revert "[fix][sec] Upgrade Debezium oracle connector version to avoid…
  pom.xml
  pulsar-io/debezium/oracle/pom.xml
Labels: type/bug, area/function, release/blocker, doc-not-needed, ready-to-test

#22656 [fix] [broker] rename to changeMaxReadPositionCount
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: type/cleanup, area/broker, area/transaction, doc-not-needed, ready-to-test

#22676 [fix][ml] Remove duplicated field initialization of ML
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/cleanup, doc-not-needed, ready-to-test, area/ML

#22672 [fix][broker] usedLocallySinceLastReport should always be reset
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupReportLocalUsageTest.java
Labels: doc-not-needed, ready-to-test

#22584 [fix][broker] Fix geo-replication admin client url
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTestBase.java
Labels: doc-not-needed, ready-to-test

#22679 [fix][offload] Fix OOM in tiered storage, caused by unbounded offsets cache
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloaderFactory.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/Offloaders.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/JCloudLedgerOffloaderFactory.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffsetsCache.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderBase.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderStreamingTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffsetsCacheTest.java
Labels: area/tieredstorage, doc-not-needed, ready-to-test

#22683 [improve][offload] Replace usage of shaded class in OffsetsCache
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffsetsCache.java
Labels: area/tieredstorage, doc-not-needed, ready-to-test, release/2.11.5, release/3.2.3, release/3.0.5, release/3.3.0

#22651 [improve] [pip] PIP-349: Add additionalSystemCursorNames ignore list for TTL check
  pip/pip-349.md
Labels: type/PIP, doc-not-needed, PIP

#22614 [improve] [broker] Add additionalSystemCursorNames ignore list for TTL check
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MessageTTLTest.java
Labels: doc-not-needed, ready-to-test, category/functionality, release/3.2.3

#22685 [fix][broker] Fix ProducerBusy issue due to incorrect userCreatedProducerCount on non-persistent topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopicTest.java
Labels: area/broker, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22684 [fix] [broker] Fix configurationMetadataSyncEventTopic is marked supporting dynamic setting, but not implemented
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarMetadataEventSynchronizer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/GeoReplicationWithConfigurationSyncTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SyncConfigStoreTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataEventSynchronizer.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/extended/MetadataStoreExtended.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/RocksdbMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/batching/AbstractBatchedMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/oxia/OxiaMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/LocalMemoryMetadataStoreTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.5, release/3.0.5, release/3.3.1

#22644 [fix][broker] Fix cursor should use latest ledger config
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorMXBeanImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapper.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorIndividualDeletedMessagesTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22687 [fix] [doc] fix the class name of transaction exception.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBuffer.java
Labels: doc

#22639 [fix][client] Fix ReaderBuilder doest not give illegalArgument on connection failure retry
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BuildersTest.java
Labels: area/client, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22635 [fix][sec] Upgrade postgresql version to avoid CVE-2024-1597
  pom.xml
Labels: area/security, doc-not-needed, release/3.2.3, release/3.0.5

#22686 [improve] [log] Print source client addr when enabled haProxyProtocolEnabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnxThrottleTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicListService.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarDecoder.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarHandler.java
Labels: doc-not-needed, ready-to-test, release/2.11.5, release/3.0.5, release/3.3.1

#22693 [feat][broker] PIP-264: Add OpenTelemetry consumer metrics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/OpenTelemetryConsumerStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/OpenTelemetryConsumerStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/OpenTelemetryAttributes.java
Labels: doc-required, ready-to-test

#22615 [fix][misc] Correct the description of patternAutoDiscoveryPeriod
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
Labels: doc-not-needed

#22650 [improve] [pip] PIP-348: Trigger offload on topic load stage
  pip/pip-348.md
Labels: doc-not-needed, PIP

#22627 [improve][broker]Ensure namespace deletion doesn't fail
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/LocalPoliciesResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/NamespaceResources.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/TopicResources.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
Labels: type/bug, area/broker, doc-not-needed

#22452 [fix][broker] fix replicated subscriptions for transactional messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsController.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferDisable.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionalReplicateSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: type/bug, area/geo-replication, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22701 [fix][io] Fix es index creation (#22654)
  pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/client/elastic/ElasticSearchJavaRestClient.java
  pulsar-io/elastic-search/src/test/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSinkTests.java
Labels: doc-not-needed, ready-to-test

#22702 [improve][build] Improve docker-push
  docker/pulsar-all/pom.xml
  docker/pulsar/pom.xml
  pom.xml
Labels: doc-not-needed

#22704 [fix] [broker] fix typo and useless local variable.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsController.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatedSubscriptionWithTransactionTest.java
Labels: doc-not-needed

#22564 [improve][pip] PIP-347: add role field in consumer's stat
  pip/pip-347.md
Labels: doc-not-needed, PIP

#22688 [improve][pip] PIP-350: Allow to disable the managedLedgerOffloadDeletionLagInMillis
  pip/pip-350.md
Labels: doc, PIP

#22708 [cleanup][broker] Remove warn logs when changing the state from Owned to Free (Extensible LB)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
Labels: type/cleanup, area/broker, doc-not-needed, ready-to-test

#22703 [improve][build] Support custom image and label names
  docker/pulsar-all/pom.xml
  docker/pulsar/pom.xml
  pom.xml
  tests/docker-images/java-test-image/pom.xml
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/pom.xml
Labels: doc-required, ready-to-test

#22705 [improve] [broker] [break change] Do not create partitioned DLQ/Retry topic automatically
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicDefaultMultiPartitionsTest.java
Labels: doc-not-needed, release/important-notice, ready-to-test, release/3.0.5

#22562 [improve][pip] PIP-347: Add role field in consumer's stat
  pip/pip-347.md
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/AuthenticatedConsumerStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/ConsumerStatsImpl.java
Labels: area/client, doc-required, ready-to-test, release/3.2.3, release/3.0.5, PIP

#22720 [fix][schema] Error checking schema compatibility on a schema-less topic via REST API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/AvroSchemaBasedCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/ProtobufNativeSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/exceptions/IncompatibleSchemaException.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
Labels: type/bug, doc-not-needed, ready-to-test

#22721 [improve] [test] Add a test to guarantee the TNX topics will not be replicated
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicationTxnTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#22727 [fix][broker] Make ExtensibleLoadManagerImpl.getOwnedServiceUnits async
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: doc-not-needed, ready-to-test

#22729 [improve] [broker] Do not call cursor.isCursorDataFullyPersistable if disabled dispatcherPauseOnAckStatePersistentEnabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionPauseOnAckStatPersistTest.java
Labels: doc-not-needed, ready-to-test, release/3.3.1

#22731 [fix][build] Fix CVE-2024-2511 by upgrading to OpenSSL in docker image
  docker/pulsar/Dockerfile
Labels: area/security, release/blocker, doc-not-needed, ready-to-test, release/3.3.0

#22732 [fix][build] Add curl command for pulsar image
  docker/pulsar/Dockerfile
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.3.0

#22730 [fix][build] Fixed creation of `packages-storage` directory in docker image
  docker/pulsar/Dockerfile
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.3.0

#22652 [improve] [broker] Trigger offload on topic load
  conf/broker.conf
  conf/standalone.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: area/tieredstorage, doc-not-needed, ready-to-test, category/functionality, release/3.2.3

#22713 [fix][test] Fix flaky AuthorizationTest.testGetListWithGetBundleOp
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test

#22733 [fix][build] Fix pulsar-client-python installation on ARM arch
  docker/pulsar/Dockerfile
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.3.0

#22741 [improve][build] Remove invalid relativePath definitions in pom.xml files
  bouncy-castle/bc/pom.xml
  bouncy-castle/bcfips-include-test/pom.xml
  bouncy-castle/bcfips/pom.xml
  bouncy-castle/pom.xml
  distribution/io/pom.xml
  distribution/offloaders/pom.xml
  distribution/pom.xml
  distribution/server/pom.xml
  distribution/shell/pom.xml
  jclouds-shaded/pom.xml
  managed-ledger/pom.xml
  microbench/pom.xml
  pulsar-broker/pom.xml
  pulsar-cli-utils/pom.xml
  pulsar-client-1x-base/pom.xml
  pulsar-client-1x-base/pulsar-client-1x/pom.xml
  pulsar-client-1x-base/pulsar-client-2x-shaded/pom.xml
  pulsar-client-admin-api/pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-admin/pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-api/pom.xml
  pulsar-client-auth-athenz/pom.xml
  pulsar-client-auth-sasl/pom.xml
  pulsar-client-messagecrypto-bc/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-client-tools-api/pom.xml
  pulsar-client-tools-customcommand-example/pom.xml
  pulsar-client-tools-test/pom.xml
  pulsar-client-tools/pom.xml
  pulsar-client/pom.xml
  pulsar-common/pom.xml
  pulsar-config-validation/pom.xml
  pulsar-functions/localrun-shaded/pom.xml
  pulsar-functions/localrun/pom.xml
  pulsar-functions/runtime-all/pom.xml
  pulsar-functions/worker/pom.xml
  pulsar-metadata/pom.xml
  pulsar-package-management/pom.xml
  pulsar-testclient/pom.xml
  pulsar-websocket/pom.xml
  structured-event-log/pom.xml
  tiered-storage/file-system/pom.xml
  tiered-storage/jcloud/pom.xml
  tiered-storage/pom.xml
Labels: area/build, doc-not-needed, ready-to-test

#22740 [branch-3.0][feat][broker] Implementation of PIP-323: Complete Backlog Quota Telemetry (#21816)
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerMXBean.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainer.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopicMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedBrokerStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/PrometheusLabels.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/BucketDelayedDeliveryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/MetadataStoreStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TransactionMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/TopicStats.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
Labels: doc-not-needed, ready-to-test, cherry-picked/branch-3.0, release/3.0.6

#22742 [improve][admin] Check if the topic existed before the permission operations
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiSchemaWithAuthTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthorizationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticatedProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthorizationProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyAuthorizationTest.java
  pulsar-sql/presto-pulsar/src/test/java/org/apache/pulsar/sql/presto/TestPulsarAuth.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/presto/TestPulsarSQLAuth.java
Labels: doc-not-needed, ready-to-test, release/3.0.6

#22738 [fix] [broker] fix deadlock when disable topic level Geo-Replication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.7, release/2.11.5, release/3.3.1, release/3.0.6

#22690 [improve][cli] Supports creating tokens with additional headers
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/utils/AuthTokenUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/utils/auth/tokens/TokensCliUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/auth/tokens/TokensCliUtilsTest.java
Labels: area/cli, doc-not-needed

#22734 [improve][test] Restart broker in SimpleProducerConsumerTest if ns deletion times out
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test

#22637 [fix][ml]: subscription props could be lost in case of missing ledger during recovery
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22747 [improve][client] Deprecate `MessageIdUtils.getOffset` and `MessageIdUtils.getMessageId`
  pulsar-client/src/main/java/org/apache/pulsar/client/util/MessageIdUtils.java
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarKafkaSinkTaskContext.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSinkTest.java
Labels: doc-not-needed

#22221 [fix] [ml] Add entry fail due to race condition about add entry failed/timeout and switch ledger
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockLedgerHandle.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22743 [fix][broker] Immediately tombstone Deleted and Free state bundles
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/SplitManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/SplitManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
Labels: doc-not-needed, ready-to-test

#22756 [improve] Allow to construct Oxia metadata-store directly from a client instance
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/oxia/OxiaMetadataStore.java
Labels: doc-not-needed, ready-to-test

#22752 [improve][broker] Clear thread local BrokerEntryMetadata instance before reuse
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: type/cleanup, doc-not-needed, ready-to-test, release/3.0.6, release/3.2.4

#22757 [fix] [conf] fix typo for TransferShedder.
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: doc-not-needed

#22763 [fix] Upgrade Alpine packages at build time to fix CVE-2023-4236
  docker/pulsar/Dockerfile
Labels: area/security, doc-not-needed, ready-to-test, release/3.3.1

#22745 [fix][test] Fix flaky test testShadowWrites
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImplTest.java
Labels: type/bug, type/flaky-tests, doc-not-needed

#22206 [fix] [client] PIP-344 Do not create partitioned metadata when calling pulsarClient.getPartitionsForTopic(topicName)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/GetPartitionMetadataTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAutoCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionLowWaterMarkTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionCoordinatorClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
Labels: type/bug, doc-not-needed, ready-to-test

#22746 [improve][PIP] PIP-353: Improve transaction message visibility for peek-messages
  pip/pip-353.md
Labels: type/PIP, doc-not-needed, PIP

#22774 [fix][admin][part-1]Clearly define REST API on Open API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokerStatsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Bookies.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/BrokerStats.java
Labels: doc-not-needed, ready-to-test

#22450 [fix][admin] Tenant AdminRoles can not contains whitespace in the beginning or end.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TenantTest.java
Labels: doc-not-needed, ready-to-test

#22765 [improve] [pip] PIP-354: apply topK mechanism to ModularLoadManagerImpl
  pip/pip-354.md
Labels: doc-not-needed, ready-to-test, PIP

#22775 [fix][admin][part-2]Clearly define REST API on Open API for Namesaces@v2
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#22783 [fix][admin][part-4]Clearly define REST API on Open API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SourcesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/ResourceGroups.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/ResourceQuotas.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Worker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Packages.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
Labels: doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#22782 [fix][admin][part-3]Clearly define REST API on Open API for Topics
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
Labels: doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#22753 [improve] [pip] PIP-354: apply topK mechanism to ModularLoadManagerImpl
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/TopKBundles.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/BundleData.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/TimeAverageMessageData.java
Labels: doc-not-needed, ready-to-test

#22769 [fix] [broker] fix topic partitions was expanded even if disabled topic level replication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#22762 [improve][cli] PIP-353: Improve transaction message visibility for peek-message
  pip/pip-353.md
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TransactionIsolationLevel.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: type/enhancement, doc-not-needed, ready-to-test, PIP

#22786 [fix] [broker] replace loadSheddingPipeline with loadSheddingStrategy.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: doc-not-needed

#22796 [improve][broker] Remove ClassLoaderSwitcher to avoid objects allocations and consistent the codestyle
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ClassLoaderSwitcher.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/plugin/servlet/AdditionalServletWithClassLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlerWithClassLoader.java
Labels: type/cleanup, area/broker, doc-not-needed, ready-to-test, category/performance, release/3.1.5, release/3.3.1, release/3.0.6, release/3.2.4

#22767 [fix][broker] EntryFilters fix NoClassDefFoundError due to closed classloader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/plugin/EntryFilterProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/plugin/EntryFilterWithClassLoader.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/plugin/FilterEntryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarClassLoader.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/3.1.5, release/3.3.1, release/3.0.6, release/3.2.4

#22791 [improve] [pip] PIP-356: Support Geo-Replication starts at earliest position
  pip/pip-356.md
Labels: doc, PIP

#22805 Revert "[improve] [pip] PIP-356: Support Geo-Replication starts at earliest position"
  pip/pip-356.md
Labels: doc-label-missing, PIP

#22750 [fix][broker] fix can not cleanup heartbeat data if scaling down broker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
Labels: doc-not-needed, ready-to-test

#22766 [improve] [client] improve the class GetTopicsResult
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/LookupServiceTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-common/src/main/java/org/apache/pulsar/common/lookup/GetTopicsResult.java
Labels: type/bug, doc-not-needed, ready-to-test, category/reliability, release/2.11.5, release/3.2.3, release/3.0.6

#22800 [cleanup] [broker] remove DeviationShedder.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/DeviationShedder.java
Labels: doc-not-needed

#22807 [improve] Upgrade to Oxia client 0.3.0
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test

#22789 [fix][ml] Fix race conditions in RangeCache
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/util/RangeCacheTest.java
Labels: doc-not-needed, ready-to-test

#22814 [improve][ml] RangeCache refactoring: test race conditions and prevent endless loops
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheManagerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/util/RangeCacheTest.java
Labels: doc-not-needed, ready-to-test
