Repository apache/pulsar, pull requests merged in 2024-01, with the labels that each got.

#21829 [fix][broker] Fix String wrong format
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21370 [improve][broker] PIP-299-part-2: add config dispatcherPauseOnAckStatePersistentEnabled
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/StandaloneTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/ServiceConfigurationTest.java
  pulsar-broker/src/test/resources/configurations/pulsar_broker_test.conf
  pulsar-broker/src/test/resources/configurations/pulsar_broker_test_standalone.conf
Labels: type/feature, component/broker, doc-not-needed, ready-to-test

#21831 [fix][ci] Fix OWASP dep check GH actions workflow
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#21834 [fix][build] Fix the errorprone maven profile
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: component/build, doc-not-needed, ready-to-test

#21836 [improve][ci] Upgrade to actions/upload-artifact@v4
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#21810 [fix] [broker] Update topic policies as much as possible when some ex was thrown
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
Labels: doc-not-needed, ready-to-test, release/3.0.1, release/3.0.2, release/2.10.6, category/reliability, release/3.0.3, release/2.11.4

#21842 [fix][broker] Fix returns wrong webServiceUrl when both webServicePort and webServicePortTls are set
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerWrapper.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImplTest.java
Labels: doc-not-needed, ready-to-test

#21830 [improve][build] Update copyright date
  NOTICE
  distribution/server/src/assemble/NOTICE.bin.txt
  distribution/shell/src/assemble/NOTICE.bin.txt
Labels: doc-not-needed, ready-to-test

#21844 [fix][sec] Go Functions security updates
  pulsar-function-go/examples/go.mod
  pulsar-function-go/examples/go.sum
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
Labels: component/security, doc-not-needed, ready-to-test, go

#21843 [fix][broker] Fix typo
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
Labels: doc-not-needed, ready-to-test

#21833 [improve][fn] Show the class name of exceptions for pulsar functions
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/ComponentStatsManager.java
Labels: component/function, doc-not-needed, ready-to-test

#21855 [improve][broker] defer the ownership checks if the owner is inactive (ExtensibleLoadManager)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-label-missing, ready-to-test

#21837 [improve] [broker] PIP-299-part-3: Add dynamic config support: dispatcherPauseOnAckStatePersistentEnabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Dispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionPauseOnAckStatPersistTest.java
Labels: type/feature, doc-not-needed, ready-to-test, category/reliability

#21765 [fix][broker] fix the wrong value of BrokerSrevice.maxUnackedMsgsPerDispatcher
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DispatcherBlockConsumerTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21747 [improve][pip] PIP-326: Create a BOM to ease dependency management
  pip/pip-326.md
Labels: PIP, doc-not-needed

#21856 [fix][broker]Fix NonPersistentDispatcherMultipleConsumers ArrayIndexOutOfBoundsException
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3

#21857 [improve][broker] defer the ownership checks if the owner is inactive (ExtensibleLoadManager)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/loadbalance/ExtensibleLoadManagerTest.java
Labels: doc-not-needed, ready-to-test, release/3.1.3

#21853 [fix] [client] Messages lost due to TopicListWatcher reconnect
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicListWatcher.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicListWatcherTest.java
Labels: type/bug, doc-not-needed, category/reliability, release/3.1.3

#21841 [improve][doc] Improve doc for `maxTotalReceiverQueueSizeAcrossPartitions` and `receiverQueueSize` of ConsumerBuilder
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
Labels: doc

#21869 [fix] [ml] Fix retry mechanism of deleting ledgers to invalidate
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloadUtils.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3

#21854 [improve][broker] PIP-307: Add monitoring metrics for graceful closure of producers/consumers
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/StateChangeListeners.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/StateChangeListener.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/models/UnloadCounter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/Summary.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-required

#21880 [improve][broker] Improve NamespaceUnloadStrategy error message
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/UnloadScheduler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithExtensibleLoadManagerTest.java
Labels: doc-not-needed

#21878 [fix][test] Fix thread leak in InjectedClientCnxClientBuilder and EnableProxyProtocolTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/EnableProxyProtocolTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/InjectedClientCnxClientBuilder.java
Labels: type/bug, component/test, doc-not-needed, ready-to-test

#21865 [fix][broker] Fix compaction/replication data loss when expire messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/GeoPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ShadowReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: type/bug, component/broker, doc-not-needed, ready-to-test, release/3.0.3, release/3.2.1

#21879 [improve][cli] error out when --destinationBroker is set when --bundle is empty
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: doc-not-needed, ready-to-test

#21871 [feat][misc] Add Pulsar BOM (Bill of Materials)
  pom.xml
  pulsar-bom/pom.xml
  src/gen-pulsar-bom.sh
Labels: doc-not-needed, ready-to-test

#21866 [improve][broker] PIP-307: Add feature flag config option
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: doc-required, ready-to-test

#21890 [fix][client] Fix DLQ producer name conflicts when multiples consumers send messages to DLQ
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/DeadLetterTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, release/blocker, doc-not-needed, ready-to-test

#21874 [improve] [broker] PIP-299-part-4: Add topic-level policy: dispatcherPauseOnAckStatePersistent
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionPauseOnAckStatPersistTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/TopicPolicies.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicPoliciesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
Labels: doc-not-needed, ready-to-test

#21893 [improve][broker] Don't rollover empty ledgers based on inactivity
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: component/broker, doc-not-needed, ready-to-test, component/ML, release/3.0.3, release/3.1.3, release/3.2.1

#21731 [improve][pip] PIP-325: Add command to abort transaction
  pip/pip-325.md
Labels: PIP, doc-not-needed

#21885 [fix] [broker] Fix break change: could not subscribe partitioned topic with a suffix-matched regexp due to a mistake of PIP-145
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/topics/TopicList.java
Labels: type/bug, doc-not-needed, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21899 [improve][ci] Upgrade pulsar-client-python to 3.4.0 to avoid CVE-2023-1428
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21907 [fix][broker] Fix typos in UniformLoadShedder class
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedder.java
Labels: doc-not-needed, ready-to-test

#21873 [improve][pip] PIP-330: getMessagesById gets all messages
  pip/pip-330.md
Labels: doc, PIP

#21630 [improve][txn] Add command to abort transaction
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TransactionsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Transactions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTransactions.java
Labels: doc-required

#21921 [fix][fn] Throw 404 RestException when state key not found
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
Labels: release/blocker, doc-not-needed, ready-to-test

#21919 [fix][broker] Fix getMessageById throws 500
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#21739 [improve][ml] Filter out deleted entries before read entries from ledger.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ReadOnlyCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: doc-not-needed, ready-to-test, component/ML, category/performance

#21894 [fix][broker] Fix leader broker cannot be determined when the advertised address and advertised listeners are configured
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LeaderBroker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LeaderElectionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/NoopLoadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/ResourceUnit.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/policies/IsolationPoliciesHelper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/BrokerLoadDataReporter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/reporter/TopBundleLoadDataReporter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SLAMonitoringTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiMultiBrokersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AdvertisedListenersMultiBrokerLeaderElectionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LeaderElectionServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/MultiBrokerLeaderElectionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerIsolationPoliciesFilterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/manager/UnloadManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InactiveTopicDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/PartitionedSystemTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/BrokerInfo.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/impl/BrokerInfoImpl.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithExtensibleLoadManagerTest.java
Labels: bug, doc-not-needed, ready-to-test

#21923 [improve][misc] Upgrade Netty version to 4.1.105.Final
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test

#21600 [fix][broker] Fix issue with GetMessageIdByTimestamp can't find match messageId from compacted ledger
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/PulsarTopicCompactionService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: bug, component/broker, doc-not-needed, ready-to-test

#21917 [fix] [broker] fix write all compacted out entry into compacted topic
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchConverter.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactorTest.java
Labels: bug, component/compaction, component/broker, doc-not-needed, release/2.9.5, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21926 [improve] [broker] PIP-299-part-5: Add namespace-level policy: dispatcherPauseOnAckStatePersistent
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionPauseOnAckStatPersistTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PolicyName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: doc-not-needed, ready-to-test

#21937 [fix][broker] Restore the broker id to match the format used in existing Pulsar releases
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v1/V1_AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/AntiAffinityNamespaceGroupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/LoadBalancerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AdvertisedAddressTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
Labels: release/blocker, doc-not-needed, ready-to-test

#19501 [fix][broker] unify topic-level policies enable judgment conditions
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, Stale, ready-to-test, release/3.0.3

#21915 [fix][broker] Fix deadlock while skip non-recoverable ledgers.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3

#21908 [fix] [broker] correct compaction phase one timeout meaning
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: doc-not-needed

#21918 [feat][admin] PIP-330: getMessagesById gets all messages
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTopicApiTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java
Labels: doc-not-needed, ready-to-test

#21941 [fix] [test] fix test code create namespace conflict
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: component/test, doc-not-needed

#21648 [improve][pip] PIP-321 Introduce `allowed-cluster` at the namespace level
  pip/pip-321.md
Labels: PIP, doc-not-needed

#21957 [improve][broker] Reduce ResourceGroup log
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceQuotaCalculatorImpl.java
Labels: doc-not-needed, ready-to-test

#21950 [fix] Restored method as deprecated in AbstractMetadataStore
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
Labels: bug, doc-not-needed, ready-to-test, release/3.1.3, release/3.2.1

#21629 [fix][build] Fix potential insufficient protostuff-related configs
  pom.xml
  pulsar-broker/pom.xml
  pulsar-transaction/coordinator/pom.xml
Labels: doc-not-needed

#21947 [fix] [broker] Replication stopped due to unload topic failed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3

#21956 [cleanup] [broker] fix doc for TransactionBuffer#isTxnAborted
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/TransactionBuffer.java
Labels: doc-not-needed

#21187 [fix][broker] Avoid consumers receiving acknowledged messages from compacted topic after reconnection
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: bug, component/compaction, component/broker, doc-not-needed, ready-to-test, release/2.10.6, category/reliability, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21976 [fix][test] Make base test class method protected so that it passes ReportUnannotatedMethods validation
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/2.11.4, release/3.1.3, release/3.2.1

#21978 [improve][ci] Upgrade GitHub Actions versions to fix deprecation warning
  .github/workflows/ci-go-functions.yaml
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, component/ci, ready-to-test

#21966 [fix][fn] Add missing `version` field back to `querystate` API
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/state/ByteBufferStateStore.java
  pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/state/StateValue.java
  pulsar-functions/api-java/src/main/resources/findbugsExclude.xml
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/BKStateStoreImpl.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/PulsarMetadataStateStoreImpl.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/state/BKStateStoreImplTest.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/state/PulsarMetadataStateStoreImplTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
Labels: release/blocker, doc-not-needed, ready-to-test

#21979 [fix][build] Remove duplicate mapping key in docker-compose yaml file
  docker-compose/kitchen-sink/docker-compose.yml
Labels: doc-not-needed

#21983 [improve] [bk] Upgrade BookKeeper dependency to 4.16.4
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorLedgerCheckerTest.java
Labels: doc-not-needed, ready-to-test, dependencies, release/3.0.3, release/3.1.3, release/3.2.1

#21977 [fix][broker] Fix schema deletion error when deleting a partitioned topic with many partitions and schema
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/schema/SchemaTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21985 [fix][client] Fix ConsumerBuilderImpl#subscribe silent stuck when using pulsar-client:3.0.x with jackson-annotations prior to 2.12.0
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: doc-not-needed, ready-to-test, release/2.9.5, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21972 [improve] [proxy] Add a check for brokerServiceURL that does not support multi uri yet
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyServiceStarter.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConfigurationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceStarterTest.java
Labels: doc-not-needed, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21990 [fix] [broker] add timeout for health check read.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiHealthCheckTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#21969 [fix] [broker] reader stuck when read from compacted topic with read compact mode disable
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/GetLastMessageIdCompactedTest.java
Labels: bug, component/broker, doc-not-needed, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#21872 [improve][pip] PIP-329: Strategy for maintaining the latest tag to Pulsar docker images
  pip/pip-329.md
Labels: doc, PIP

#21945 [fix][client] Fix multi-topics consumer could receive old messages after seek
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: bug, component/client, doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22000 [fix] [bk] [Branch-3.0] Fix the BookKeeper license
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test

#21997 [fix] [broker] [branch-3.0] Fast fix infinite HTTP call createSubscriptions caused by wrong topicName
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicNameForInfiniteHttpCallGetSubscriptionsTest.java
Labels: bug, doc-not-needed, ready-to-test, category/reliability, release/3.0.3

#21999 [improve] [test] Remove redudant test code
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiHealthCheckTest.java
Labels: component/test, doc-not-needed, ready-to-test

#21955 [fix][fn] Use unified PackageManagement service to download packages
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22001 [improve][broker] Include runtime dependencies in server distribution
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/server/src/assemble/bin.xml
Labels: doc-not-needed, ready-to-test
