Repository apache/pulsar, pull requests merged in 2024-07, with the labels that each got.

#22960 [feat][broker][branch-3.0] PIP-321 Introduce allowed-cluster at the namespace level (#22378)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/Policies.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/PulsarAdminToolTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PolicyName.java
Labels: doc-not-needed, ready-to-test

#22989 [fix][broker] Fix broker OOM when upload a large package.
  pulsar-package-management/bookkeeper-storage/src/main/java/org/apache/pulsar/packages/management/storage/bookkeeper/DLOutputStream.java
  pulsar-package-management/bookkeeper-storage/src/test/java/org/apache/pulsar/packages/management/storage/bookkeeper/DLOutputStreamTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6, release/3.2.4

#22966 [fix] Make operations on `individualDeletedMessages` in lock scope
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapper.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/OpenLongPairRangeSet.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/DefaultRangeSetTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/collections/OpenLongPairRangeSetTest.java
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6, release/3.2.4

#22998 [fix][test] Update OpenTelemetry receiver endpoint in integration test
  tests/integration/src/test/resources/containers/otel-collector-config.yaml
Labels: doc-not-needed, ready-to-test

#22991 [fix][broker] Can't connecte to non-persist topic when enable broker client tls
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TokenExpirationProduceConsumerTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#22016 [improve][pip] PIP-337: SSL Factory Plugin to customize SSL Context and SSL Engine generation
  pip/pip-337.md
Labels: type/PIP, doc-not-needed, PIP

#22999 [fix][ci] Fix OWASP Dependency Check download by using NVD API key
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci.yaml
  distribution/io/pom.xml
  pom.xml
  pulsar-io/docs/pom.xml
  pulsar-io/flume/pom.xml
  pulsar-io/hbase/pom.xml
  pulsar-io/hdfs2/pom.xml
  pulsar-io/hdfs3/pom.xml
  tiered-storage/file-system/pom.xml
Labels: doc-not-needed, area/ci, ready-to-test

#23005 [feat][misc] PIP-264: Copy OpenTelemetry resource attributes to Prometheus labels
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/OpenTelemetryService.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/metrics/OpenTelemetrySanityTest.java
Labels: doc-not-needed, ready-to-test

#23004 [fix][broker] Fix MessageDeduplication replay timeout cause topic loading stuck
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/TopicDuplicationTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6, release/3.2.4

#23006 [improve][broker] Use RoaringBitmap in tracking individual acks to reduce memory usage
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapper.java
  pom.xml
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/OpenLongPairRangeSet.java
Labels: type/enhancement, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6, release/3.2.4

#22993 [fix][broker] PulsarStandalone started with error if --stream-storage-port is not 4181
  pulsar-broker/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
  pulsar-broker/src/test/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsembleTest.java
Labels: doc-not-needed, ready-to-test

#23008 [fix][misc] Remove RoaringBitmap dependency from pulsar-common
  distribution/shell/src/assemble/LICENSE.bin.txt
  managed-ledger/pom.xml
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapper.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/OpenLongPairRangeSet.java
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6, release/3.2.4

#23012 [improve][build] Upgrade dependency-check-maven-plugin to 10.0.2
  pom.xml
Labels: area/build, doc-not-needed, area/ci, ready-to-test, release/3.1.4, release/3.3.1, release/3.0.6, release/3.2.4

#22854 [fix][client] Fix pattern consumer create crash if a part of partitions of a topic have been deleted
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicGCTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PatternMultiTopicsConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/LookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternConsumerUpdateQueue.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicListWatcher.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PatternConsumerUpdateQueueTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicListWatcherTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/lookup/GetTopicsResult.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.11.5, release/3.3.1, release/3.0.6, release/3.2.4

#22994 [improve][broker] log exception in MessageDeduplication#takeSnapshot
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
Labels: doc-not-needed

#23002 [fix][admin] Fix half deletion when attempt to topic with a incorrect API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTopicApiTest.java
Labels: doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6, release/3.2.4

#23014 [fix][broker]Fix lookupService.getTopicsUnderNamespace can not work with a quote pattern
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/topics/TopicList.java
  pulsar-common/src/test/java/org/apache/pulsar/common/topics/TopicListTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/2.11.5, release/3.3.1, release/3.0.6, release/3.2.4

#22949 [improve] [pip] PIP-364: Introduce a new load balance algorithm AvgShedder
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/AvgShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerStrategyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/AvgShedderTest.java
Labels: doc-required, ready-to-test

#23028 [fix][broker] Fix stuck when enable topic level replication and build remote admin fails
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6, release/3.2.4

#22902 [improve][pip] PIP-359: Support custom message listener executor for specific subscription
  pip/pip-359.md
Labels: doc-not-needed, PIP

#23013 [feat][ws]Add support for initialSubscriptionPosition in Websocket Consumer
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java
Labels: area/websocket, ready-to-test

#23037 [improve][proxy] Add debug logs for proxy cnx management
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: area/proxy, doc-not-needed, ready-to-test

#23046 [fix][test]Fix flaky test increase the delay time
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
Labels: area/broker, area/transaction, type/flaky-tests, doc-not-needed

#23048 [fix] Upgrade to Oxia 0.3.1
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.3.1

#23042 [feat][misc] PIP-264: Add OpenTelemetry HTTP rate limiting filter metric
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/RateLimitingFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerOpenTelemetry.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/WorkerServer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/stats/PulsarProxyOpenTelemetry.java
Labels: doc-required, ready-to-test

#21953 [fix][broker] Introduce the last sent position to fix message ordering issues in Key_Shared (PIP-282)
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ConsumerStats.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/ConsumerStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
Labels: doc-required, ready-to-test

#23053 [improve][broker][branch-3.0] PIP-364: Introduce a new load balance algorithm AvgShedder
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/AvgShedder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/ModularLoadManagerStrategyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/AvgShedderTest.java
Labels: doc-label-missing, ready-to-test

#23043 [improve][io] The JDBC connector supports JSON substructure schema
  pulsar-io/jdbc/core/pom.xml
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/BaseJdbcAutoSchemaSink.java
  pulsar-io/jdbc/core/src/test/java/org/apache/pulsar/io/jdbc/BaseJdbcAutoSchemaSinkTest.java
Labels: doc-not-needed, ready-to-test, release/3.3.1

#23055 [fix] [broker] fix compile error for PersistentStickyKeyDispatcherMultipleConsumers
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenLongPairRangeSet.java
Labels: doc-not-needed, ready-to-test

#23049 [improve] [broker] high CPU usage caused by list topics under namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.5, release/3.3.1, release/3.0.6

#23040 [improve][broker] don't do load shedding when metadata service not available
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadSheddingTask.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/SimpleLoadManagerImplTest.java
Labels: area/broker, doc-not-needed

#23050 [improve][broker] GetPartitionMetadata fail also can produce messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ZKReconnectTest.java
Labels: area/broker, doc-not-needed, release/3.1.4, release/3.0.6, release/3.2.4

#23054 [fix][broker][branch-2.11] The topic might reference a closed ledger (#22860)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/OrphanPersistentTopicTest.java
Labels: doc-not-needed, cherry-picked/branch-2.11, ready-to-test, release/2.11.5

#23052 [improve] [broker] Improve CPU resources usege of TopicName Cache
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/PulsarServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/StandaloneTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/common/naming/ServiceConfigurationTest.java
  pulsar-broker/src/test/resources/configurations/pulsar_broker_test.conf
  pulsar-broker/src/test/resources/configurations/pulsar_broker_test_standalone.conf
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
Labels: doc-not-needed, ready-to-test, release/2.11.5, release/3.3.1, release/3.0.6, release/3.2.4

#23038 [improve][client] Add exception handle for client send error
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: area/client, doc-not-needed, ready-to-test, java

#23035 [feat][misc] PIP-264: Add OpenTelemetry messaging rate limit metrics
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/InflightReadsLimiter.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheManagerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/cache/InflightReadsLimiterTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/cache/PendingReadsManagerTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnxThrottleTracker.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MessagePublishBufferThrottleTest.java
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/OpenTelemetryAttributes.java
Labels: doc-required

#22735 [fix][broker] Handle BucketDelayedDeliveryTracker recover failed
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/BucketDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/InMemoryDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/RecoverDelayedDeliveryTrackerException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTrackerFactoryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
Labels: type/enhancement, area/broker, doc-not-needed, ready-to-test

#23070 [fix] Fix compile failing
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTracker.java
Labels: doc-not-needed, ready-to-test

#23064 [fix][broker] Do not try to clean owned bundles from inactive source brokers (ExtensibleLoadManagerImpl only)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: doc-not-needed, release/3.1.4, release/3.3.1, release/3.0.6, release/3.2.4

#23044 [improve] [broker] Add subscription prefix for internal reader
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TopicPoliciesSystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TransactionBufferSnapshotBaseSystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/SystemTopicNames.java
Labels: doc-required, area/metrics, ready-to-test, category/functionality, release/3.3.1

#23033 [improve][pip] PIP-366: Support to specify different config for Configuration and Local Metadata Store
  pip/pip-366.md
Labels: type/PIP, doc-not-needed, PIP

#23084 [fix][broker][branch-3.2] Do not try to clean owned bundles from inactive source brokers (ExtensibleLoadManagerImpl only) (#23064)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: doc-label-missing

#23085 [fix][broker][branch-3.3] Do not try to clean owned bundles from inactive source brokers (ExtensibleLoadManagerImpl only) (#23064)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: doc-label-missing

#23082 [fix][broker][branch-3.1] Do not try to clean owned bundles from inactive source brokers (ExtensibleLoadManagerImpl only) (#23064)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: doc-label-missing

#23077 [fix][broker][branch-3.0] Do not try to clean owned bundles from inactive source brokers (ExtensibleLoadManagerImpl only) (#23064)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: doc-label-missing

#23060 [fix][client] Fix negative acknowledgement by messageId
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/NegativeAcksTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: doc-complete, ready-to-test, release/3.3.1, release/3.0.6, release/3.2.4

#23088 [fix] [broker] Remove blocking calls from Subscription.getStats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#23074 [improve] [broker] Check max producers/consumers limitation first before other ops to save resources
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MaxProducerTest.java
Labels: doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#23091 [improve][build] Upgrade docker-maven-plugin to 0.45.0
  docker/pom.xml
  docker/pulsar-all/pom.xml
  docker/pulsar/pom.xml
  pom.xml
Labels: area/build, doc-not-needed, ready-to-test

#23090 [improve][ci] Switch to use DEVELOCITY_ACCESS_KEY from GRADLE_ENTERPRISE_ACCESS_KEY
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
  .mvn/extensions.xml
Labels: doc-not-needed, area/ci, ready-to-test

#23062 [improve][broker] Reduce the CPU pressure from the transaction buffer in rolling restarts
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicTxnBufferSnapshotService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransactionBufferSnapshotServiceFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SingleSnapshotAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TableView.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/utils/SimpleCache.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/utils/SimpleCacheTest.java
Labels: type/enhancement, area/broker, doc-not-needed, ready-to-test, release/3.3.1, release/3.0.6

#23072 [improve][broker] Optimize the performance of individual acknowledgments
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
Labels: doc-not-needed, ready-to-test, category/performance, release/3.3.1, release/3.2.5, release/3.0.7

#23018 [fix] [broker] Internal reader of __change_events can not started after metadata store session rebuilt
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/Ipv4Proxy.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/NetworkErrorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ZkSessionExpireTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
Labels: doc-not-needed, ready-to-test, release/3.3.1, release/3.2.5, release/3.0.7

#23093 [improve][build] Move docker-push profile to submodule
  docker/pom.xml
  docker/pulsar-all/pom.xml
  docker/pulsar/pom.xml
Labels: area/build, doc-not-needed, ready-to-test

#23095 [cleanup][broker] Remove PersistentSubscription.getStats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#23081 [fix][client] TransactionCoordinatorClient support retry
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionCoordinatorClientTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionCoordinatorClientImpl.java
Labels: doc-not-needed, ready-to-test, release/3.2.5, release/3.0.7, release/3.3.2

#23100 [fix] [broker] fix replicated namespaces filter in filterAndUnloadMatchedNamespaceAsync
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiNamespaceIsolationMultiBrokersTest.java
Labels: doc-not-needed, release/3.0.7, release/3.3.2

#23099 [improve][broker]Reuse method getAvailableBrokersAsync
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.7, release/3.3.2

#22710 [improve][pip] PIP-352: Event time based topic compactor
  pip/pip-352.md
Labels: doc, PIP

#23108 [fix][broker]: fix irregular method name
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/OrphanPersistentTopicTest.java
Labels: doc-not-needed
