Repository apache/pulsar, pull requests merged in 2024-03, with the labels that each got.

#22164 [fix] [client] Do no retrying for error subscription not found when disabled allowAutoSubscriptionCreation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MultiTopicsConsumerTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: doc-not-needed, ready-to-test, release/3.2.1, release/3.1.4

#22169 [improve][admin][branch-3.0] Expose the offload threshold in seconds to the admin
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
Labels: doc-not-needed, ready-to-test

#22187 [fix][build][branch-3.1] Fix compile issue in test
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
Labels: doc-not-needed

#22190 [fix][test] Fix flaky test BrokerServiceAutoSubscriptionCreationTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoSubscriptionCreationTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.1

#22184 [improve][fn] Add configuration for connector & functions package url sources
  conf/functions_worker.yml
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionE2ESecurityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionPublishTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTlsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/worker/WorkerConfig.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionRuntimeManager.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PackageUrlValidator.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SinksImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/SourcesImpl.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionActionerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/FunctionRuntimeManagerTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/AbstractFunctionApiResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/AbstractFunctionsResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SinkApiV3ResourceTest.java
  pulsar-functions/worker/src/test/java/org/apache/pulsar/functions/worker/rest/api/v3/SourceApiV3ResourceTest.java
Labels: doc-not-needed, ready-to-test, release/3.1.3, release/3.2.1, release/3.0.4, release/2.10.7, release/2.11.5

#22193 [fix][broker][branch-3.2] Fix broker not starting when both transactions and the Extensible Load Manager are enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplWithTransactionCoordinatorTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/MessagingSmokeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterTestBase.java
  tests/integration/src/test/resources/pulsar-messaging.xml
Labels: doc-not-needed

#22194 [fix][broker][branch-3.1] Fix broker not starting when both transactions and the Extensible Load Manager are enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplWithTransactionCoordinatorTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/MessagingSmokeTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterTestBase.java
  tests/integration/src/test/resources/pulsar-messaging.xml
Labels: doc-not-needed, ready-to-test

#22196 [improve][client] add physicalAddress as part of connection pool key
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/AutoCloseUselessClientConSupports.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
Labels: doc-not-needed

#22202 [improve][broker] Consistently add fine-grain authorization to REST API
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesAuthZTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.6, release/3.0.3, release/2.11.4, release/3.1.3, release/3.2.1

#22058 [feat][misc] PIP-264: Implement topic lookup metrics using OpenTelemetry
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/PulsarBrokerOpenTelemetry.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/AbstractTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/NonStartableTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/StartableTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/stats/MetricsUtil.java
  pulsar-common/src/test/java/org/apache/pulsar/common/stats/MetricsUtilTest.java
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/OpenTelemetryService.java
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/annotations/PulsarDeprecatedMetric.java
  pulsar-opentelemetry/src/main/java/org/apache/pulsar/opentelemetry/annotations/package-info.java
  pulsar-opentelemetry/src/test/java/org/apache/pulsar/opentelemetry/OpenTelemetryServiceTest.java
Labels: doc-required, ready-to-test

#22142 [fix][broker][branch-3.0] Avoid consumers receiving acknowledged messages from compacted topic after reconnection (#21187)
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: doc-not-needed, ready-to-test

#22199 [fix] [branch-3.0] Fix reader stuck when read from compacted topic with read compact mode disable
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/GetLastMessageIdCompactedTest.java
Labels: doc-not-needed, ready-to-test

#22204 [fix][client] GenericProtobufNativeSchema not implement getNativeSchema method.
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericProtobufNativeSchema.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericProtobufNativeReaderTest.java
Labels: bug, doc-not-needed, ready-to-test, release/3.0.4, release/3.1.4, release/3.2.2

#22213 [improve][fn][branch-3.0] Add missing "exception" argument to some `log.error` (#22140)
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/PulsarWorkerService.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/FunctionsImpl.java
Labels: doc-label-missing, ready-to-test

#22211 [fix] [broker][branch-3.0] Expire messages according to ledger close time to avoid client clock skew (#21940)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
Labels: doc-label-missing, ready-to-test

#22161 [improve][cli] Remove cli unnecessary code
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerfClientUtilsTest.java
Labels: doc-not-needed, ready-to-test

#22147 [improve][broker] Change log level to reduce duplicated logs
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LinuxInfoUtils.java
Labels: component/broker, doc-not-needed, ready-to-test

#22233 [improve][broker] Add logs to `getInternalStats` for quickly locate problem when schema ledger is lost
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: component/broker, doc-not-needed, component/schema, ready-to-test

#22238 [improve][ci] Switch JDK distribution from temurin to corretto
  .github/workflows/ci-maven-cache-update.yaml
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/codeql.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test

#22230 [improve] Removed unnecessary native libraries from Docker images
  docker/pulsar/Dockerfile
  docker/pulsar/build-scripts/remove-unnecessary-native-binaries.sh
Labels: component/build, doc-not-needed, ready-to-test

#22240 [fix][test] fix the tests with same namespace name
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.4, release/3.1.4, release/3.2.2, release/2.10.7, release/2.11.5

#21716 [improve][pip] PIP-324: Alpine Docker images
  pip/pip-324-Alpine Docker images.md
Labels: PIP, doc-not-needed, release/important-notice, ready-to-test

#22250 [improve][test] Don't configure Mockito spying for MultiBrokerTestZKBaseTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MultiBrokerTestZKBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/SpyConfig.java
Labels: doc-not-needed, ready-to-test

#22246 [cleanup][ml] ManagedCursor clean up.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/cleanup, doc-not-needed, ready-to-test, component/ML

#22251 [improve][test] Reduce logging overhead in tests
  buildtools/src/main/resources/log4j2.xml
  pulsar-broker/src/test/resources/log4j2.xml
  tiered-storage/jcloud/src/test/resources/log4j2-test.yml
Labels: doc-not-needed, ready-to-test

#22252 [fix][test] Fix flaky RGUsageMTAggrWaitForAllMsgsTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMsgsTest.java
Labels: flaky-tests, doc-not-needed, ready-to-test

#22249 [fix][test] fix flaky test shouldProvideConsistentAnswerToTopicLookupsUsingAdminApi
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/MultiBrokerLeaderElectionTest.java
Labels: doc-not-needed, ready-to-test

#22243 [fix][sec] Revert "[fix][sec] Add a check for the input time value (apache#22023)"
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryMBeanImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/DimensionStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/LongAdderCounter.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionRetentionTest.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ClientConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ConsumerConfiguration.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/PulsarAdminBuilderImpl.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TransactionsImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AutoClusterFailover.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ControlledClusterFailover.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/transaction/TransactionBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/util/ObjectCache.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  testmocks/src/main/java/org/apache/bookkeeper/client/TestStatsProvider.java
Labels: doc-not-needed, release/3.0.4, release/3.1.4, release/3.2.2

#22257 [fix][test] Fix thread leak in TopicPoliciesAuthZTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesAuthZTest.java
Labels: component/test, doc-not-needed, ready-to-test

#21667 [improve] [broker] Servlet support response compression
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
Labels: doc-required, component/metrics, ready-to-test

#22235 [fix] [broker] Fix typo in CompactedTopicImpl.
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
Labels: doc-not-needed, ready-to-test

#22258 [improve][test] Reduce AdvertisedListenersMultiBrokerLeaderElectionTest flakiness
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/MultiBrokerLeaderElectionTest.java
Labels: component/test, flaky-tests, doc-not-needed, ready-to-test

#22185 [improve][pip] PIP-339: Introducing the --log-topic Option for Pulsar Sinks and Sources
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/io/SinkConfig.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/io/SourceConfig.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSources.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SinkConfigUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SinkConfigUtilsTest.java
  pulsar-functions/utils/src/test/java/org/apache/pulsar/functions/utils/SourceConfigUtilsTest.java
Labels: doc-required, ready-to-test

#22260 [fix][fn] fix broken function-go test
  pulsar-function-go/examples/go.mod
  pulsar-function-go/examples/go.sum
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
Labels: doc-not-needed, ready-to-test

#22223 [fix][broker] Fix incorrect unack msk count when dup ack a message (#20990)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeySharedSubscriptionTest.java
Labels: bug, doc-not-needed, release/2.10.7

#22248 [improve][sec][branch-2.11] Align some namespace level policy authorisation check (#21640)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
Labels: doc-not-needed, ready-to-test, release/2.11.5

#22181 [improve][pip] PIP-343: Use picocli instead of jcommander
  pip/pip-343.md
Labels: doc, PIP

#22231 [fix][ws] Check the validity of config before start websocket service
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java
  pulsar-websocket/src/main/java/org/apache/pulsar/websocket/service/WebSocketServiceStarter.java
Labels: doc-not-needed, ready-to-test, release/3.0.4, release/3.1.4, release/3.2.2

#22264 [improve][broker] Add createTopicIfDoesNotExist option to RawReader constructor
  pulsar-broker/src/main/java/org/apache/pulsar/client/api/RawReader.java
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawReaderImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/Compactor.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/RawReaderTest.java
Labels: component/broker, doc-not-needed, ready-to-test, release/3.0.4, release/3.2.2

#22267 [improve][misc] Add mandatory checkbox about release policy in the issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: doc-not-needed, ready-to-test

#22272 [fix][build] Add special handling for pulsar-bom in set-project-version.sh
  src/set-project-version.sh
Labels: doc-label-missing, ready-to-test

#21417 [feat][client] Introduce Refresh API in the TableView
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TableViewTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TableView.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
Labels: doc-not-needed, ready-to-test

#22275 [fix][sec] Upgrade Zookeeper to 3.9.2 to address CVE-2024-23944
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test

#22220 [fix][broker] upgrade jclouds 2.5.0 -> 2.6.0
  jclouds-shaded/pom.xml
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.4, release/3.1.4, release/3.2.2, release/2.10.7, release/2.11.5

#22273 [fix] Upgrade jose4j to 0.9.4
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: component/security, doc-not-needed, ready-to-test, release/3.0.4, release/3.2.2

#22282 [fix][sec] Dismiss warning about MD5 since it's sufficient for these use cases
  pulsar-client-messagecrypto-bc/src/main/java/org/apache/pulsar/client/impl/crypto/MessageCryptoBc.java
  pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarUnpacker.java
Labels: component/security, doc-not-needed, ready-to-test

#22279 [fix][broker] Fix wrong double-checked locking for readOnActiveConsumerTask in dispatcher
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
Labels: bug, component/broker, doc-not-needed, ready-to-test

#22268 [fix][broker] Avoid execute prepareInitPoliciesCacheAsync if namespace is deleted
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
Labels: doc-not-needed, ready-to-test

#22287 [fix][ci] Enable CI for branch-3.2
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed

#22291 [improve][misc] Upgrade checkstyle to 10.14.2
  buildtools/pom.xml
  buildtools/src/main/resources/pulsar/checkstyle.xml
  pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/tls/InetAddressUtils.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/LongPairSet.java
Labels: doc-not-needed, ready-to-test, release/3.0.2, release/3.2.2

#22290 [improve][misc] Upgrade jersey to 2.41
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, dependencies

#22294 [cleanup][meta] Remove com.beust.jcommander.internal import
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/AuditorBookieCheckTaskTest.java
Labels: type/cleanup, doc-not-needed, ready-to-test

#22255 [fix] [client] Unclear error message when creating a consumer with two same topics
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MultiTopicsConsumerTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
Labels: doc-not-needed, release/3.0.4, release/3.1.4, release/3.2.2

#22285 [improve][broker] Remove the atomicity on active consumer of a dispatcher
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
Labels: enhancement, component/broker, doc-not-needed, ready-to-test

#22295 [improve][broker] Add missing configuration keys for caching catch-up reads
  conf/broker.conf
  conf/standalone.conf
Labels: doc-not-needed, ready-to-test

#22305 [improve][broker] Add fine-grain authorization to ns/topic management endpoints
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespaceAuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAuthZTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.4, release/3.2.2

#22307 [fix] [broker] [branch-2.10] Remove the unnecessary HTTP response header: Content-Encoding when calling getSchema
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: bug, doc-not-needed, release/2.10.7

#22309 [improve][broker][branch-3.0] Add fine-grain authorization to ns/topic management endpoints
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespaceAuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicAuthZTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.4

#22311 [improve][admin] Fix the `createMissingPartitions` doesn't response correctly
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.4, release/3.2.2

#22306 [fix][client]Fixed getting an incorrect `maxMessageSize` value when accessing multiple clusters in the same process
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerMemoryLimitTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerSemaphoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/AbstractBatchMessageContainer.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: bug, component/client, doc-not-needed, ready-to-test, release/3.0.4, release/3.2.2

#22308 [improve][cli] CmdConsume print publishTime And eventTime info.
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/AbstractCmdConsume.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/cli/ClientToolTest.java
Labels: component/cli, doc-not-needed, ready-to-test

#22319 [improve][misc] Include native epoll library for Netty for arm64
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pulsar-common/pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.4, release/3.2.2

#22303 [improve][cli] PIP-343: Use picocli instead of jcommander in pulsar-perf
  pulsar-cli-utils/src/test/java/org/apache/pulsar/cli/converters/ByteConversionTest.java
  pulsar-testclient/pom.xml
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/BrokerMonitor.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/CmdGenerateDocumentation.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationController.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceBaseArguments.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTopicListArguments.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PositiveNumberParameterConvert.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PositiveNumberParameterValidator.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/GenerateDocumentionTest.java
Labels: component/cli, doc-not-needed, ready-to-test

#22034 [fix][broker] Create new ledger after the current ledger is closed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumedLedgersTrimTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerConsumerInternalTest.java
Labels: doc-not-needed, ready-to-test

#22178 [improve] PIP 342: Support OpenTelemetry metrics in Pulsar client
  pip/pip-342 OTel client metrics support.md
Labels: doc-required, PIP, release/important-notice

#22270 [fix] [broker] Close dispatchers stuck due to mismatch between dispatcher.consumerList and dispatcher.consumerSet
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumersTest.java
Labels: bug, doc-not-needed, ready-to-test, release/3.0.4, release/3.2.2, release/2.11.5

#22182 [improve] [pip] PIP-344 Correct the behavior of the public API pulsarClient.getPartitionsForTopic(topicName)
  pip/pip-344.md
Labels: doc, PIP, ready-to-test

#22331 [improve][cli] PIP-343: Use picocli instead of jcommander in pulsar-function
  pulsar-functions/instance/pom.xml
  pulsar-functions/localrun-shaded/pom.xml
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/runtime/pom.xml
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/JavaInstanceStarter.java
  pulsar-io/docs/src/main/java/org/apache/pulsar/io/docs/ConnectorDocGenerator.java
Labels: area/cli, doc-not-needed, ready-to-test

#22283 [fix] [broker] fix mismatch between dispatcher.consumerList and dispatcher.consumerSet
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerMLInitializeDelayTest.java
Labels: type/bug, doc-not-needed, release/3.0.4, release/3.2.2

#22340 [fix][broker] Fix ResourceGroup report local usage
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupReportLocalUsageTest.java
Labels: doc-not-needed, release/2.10.7, release/3.2.3, release/3.1.5, release/3.0.5

#21781 [fix][broker] Fix ResourceGroups loading
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigListener.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupConfigListenerTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.3, release/3.1.3, release/3.2.1

#22358 [fix][cli] Fix typos in CmdSinks class
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSinks.java
Labels: doc-not-needed, ready-to-test

#22338 [fix][ml]Expose ledger timestamp
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryTest.java
Labels: doc-not-needed, ready-to-test, area/ML, release/3.2.3, release/3.1.5, release/3.0.5

#22337 [cleanup][cli] Cleanup jcommander
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-cli-utils/pom.xml
  pulsar-cli-utils/src/main/java/org/apache/pulsar/cli/converters/TimeUnitToSecondsConverter.java
  pulsar-cli-utils/src/main/java/org/apache/pulsar/cli/validators/IntegerMaxValueLongValidator.java
  pulsar-cli-utils/src/main/java/org/apache/pulsar/cli/validators/MinNegativeOneValidator.java
  pulsar-cli-utils/src/main/java/org/apache/pulsar/cli/validators/NonNegativeValueValidator.java
  pulsar-cli-utils/src/main/java/org/apache/pulsar/cli/validators/PositiveIntegerValueValidator.java
  pulsar-cli-utils/src/main/java/org/apache/pulsar/cli/validators/PositiveLongValueValidator.java
  pulsar-cli-utils/src/main/java/org/apache/pulsar/cli/validators/package-info.java
  pulsar-cli-utils/src/test/java/org/apache/pulsar/cli/converters/TimeConversionTest.java
  pulsar-cli-utils/src/test/java/org/apache/pulsar/cli/validators/CliUtilValidatorsTest.java
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/utils/NameValueParameterSplitterTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/utils/CmdUtils.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/utils/NameValueParameterSplitter.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdRead.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSources.java
Labels: area/cli, doc-not-needed, ready-to-test

#22344 [fix] [test] Fix flaky test ManagedLedgerTest.testGetNumberOfEntriesInStorage
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed, ready-to-test

#22368 [fix][test] Fix flaky ManagedLedgerErrorsTest.recoverAfterZnodeVersionError
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerErrorsTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22363 [fix][client] Fix wrong results of hasMessageAvailable and readNext after seeking by timestamp
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: area/client, doc-not-needed, ready-to-test, release/3.1.4, release/3.2.3, release/3.0.5

#22367 [fix][broker] Fix OpReadEntry.skipCondition NPE issue
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
Labels: doc-not-needed, ready-to-test, release/3.0.4, release/3.2.2

#22353 [fix][client] Consumer lost message ack due to race condition in acknowledge with batch message
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageIdAdvUtils.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageIdAdvUtilsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/client/api/MessageIdAdv.java
Labels: type/bug, doc-not-needed, release/3.0.4, release/3.1.4, release/3.2.2

#22356 [improve][broker] Optimize web interface deleteDynamicConfiguration return error message
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
Labels: doc-not-needed, ready-to-test

#22361 [fix][misc] Make ConcurrentBitSet thread safe
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentBitSet.java
Labels: type/bug, doc-not-needed, ready-to-test

#22369 [improve][misc] Upgrade to Netty 4.1.108 and tcnative 2.0.65
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/dependency, doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22335 [fix][broker] Avoid expired unclosed ledgers when checking expired messages by ledger closure time
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/2.10.6, release/2.11.4, release/3.0.4, release/3.2.2

#22346 [fix][broker][branch-2.11] Fast fix infinite HTTP call createSubscriptions caused by wrong topicName
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TopicNameForInfiniteHttpCallGetSubscriptionsTest.java
Labels: doc-not-needed, ready-to-test, release/2.11.5

#22191 [fix][broker] Check cursor state before adding it to the `waitingCursors`
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.4, release/3.1.4, release/3.2.2, release/2.10.7, release/2.11.5

#22329 [improve][misc] Remove the call to sun InetAddressCachePolicy
  pulsar-common/src/main/java/org/apache/pulsar/common/util/netty/DnsResolverUtil.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/netty/DnsResolverTest.java
Labels: doc-complete, ready-to-test, release/3.0.4, release/3.1.4, release/3.2.2

#22364 [fix][broker] Fix typos in PersistentTopic class
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, ready-to-test

#22359 [fix][broker] Fix PersistentSubscription duplicate implementation interface Subscription
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
Labels: doc-not-needed, ready-to-test

#22377 [fix][broker] Fix issue of field 'topic' is not set when handle GetSchema request
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22374 [feat][broker][branch-2.11] Implementation of PIP-323: Complete Backlog Quota Telemetry
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerMXBean.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainer.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerMBeanImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainerTest.java
  pom.xml
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopicMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/AggregatedNamespaceStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/PrometheusLabels.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BacklogQuotaManagerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/SchemaServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/TransactionMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionBufferClientTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerMLInitializeDelayTest.java
  pulsar-broker/src/test/resources/log4j2.xml
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/TopicStats.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/TopicStatsImpl.java
Labels: doc-not-needed, cherry-picked/branch-2.11, ready-to-test, release/2.11.5

#22179 [improve] PIP-342: OTel client metrics support
  distribution/shell/src/assemble/LICENSE.bin.txt
  pulsar-broker/pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/EnableProxyProtocolTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/InjectedClientCnxClientBuilder.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PulsarMultiListenersWithInternalListenerNameTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionPoolTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChecksumTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PatternTopicsConsumerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/PulsarTestClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/metrics/ClientMetricsTest.java
  pulsar-client-api/pom.xml
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ClientBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerStats.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerStats.java
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/Counter.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/InstrumentProvider.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/LatencyHistogram.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/MetricsUtil.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/Unit.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/UpDownCounter.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/package-info.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BinaryProtoLookupServiceTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxRequestTimeoutQueueTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/OpSendMsgQueueTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PartitionedProducerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/UnAckedMessageTrackerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ClientConfigurationDataTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyClientCnx.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyParserTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
  pulsar-testclient/pom.xml
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerfClientUtils.java
Labels: type/feature, doc-required, ready-to-test

#22063 [feat][ci] Add Trivy container scan Github workflow
  .github/workflows/ci-trivy-container-scan.yaml
Labels: type/feature, doc-not-needed, area/ci, ready-to-test

#22376 [improve][io]: Add validation for JDBC sink not supporting primitive schema
  pulsar-io/jdbc/core/pom.xml
  pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/BaseJdbcAutoSchemaSink.java
  pulsar-io/jdbc/core/src/test/java/org/apache/pulsar/io/jdbc/BaseJdbcAutoSchemaSinkTest.java
  pulsar-io/jdbc/sqlite/src/test/java/org/apache/pulsar/io/jdbc/SqliteJdbcSinkTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.3, release/3.0.5

#22245 [improve] [broker] Avoid repeated Read-and-discard when using Key_Shared mode
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageRedeliveryController.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerConsumerBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionPauseOnAckStatPersistTest.java
Labels: doc-not-needed, ready-to-test, release/2.10.7, release/2.11.5, release/3.2.3, release/3.0.5

#22074 [fix][sec] implicit narrowing conversion in compound assignment
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/LocalBrokerData.java
Labels: doc-not-needed, ready-to-test

#22350 [improve][fn] Pass FunctionDetails to Go instance
  pulsar-function-go/conf/conf.go
  pulsar-function-go/pf/instanceConf.go
  pulsar-function-go/pf/instanceConf_test.go
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/go/GoInstanceConfig.java
  pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java
  pulsar-functions/runtime/src/test/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeTest.java
Labels: type/enhancement, area/function, doc-not-needed, ready-to-test

#22284 [fix][ml] No rollover inactive ledgers when metadata service invalid
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed, ready-to-test, release/3.1.4, release/2.11.5, release/3.2.3, release/3.0.5
