Repository apache/pulsar, pull requests merged in 2024-10, with the labels that each got.

#23381 [improve][broker] check system topic is used before configuring system topic (ExtensibleLoadManagerImpl only)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
Labels: doc-not-needed, ready-to-test

#23219 [feat] Use producer name and sequence number as fallback key in Key_Shared implementation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryAndMetadata.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CommandsTest.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceProducerTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/MessagingBase.java
Labels: doc-required, ready-to-test

#9292 [fix][broker] Support large number of unack message store for cursor recovery
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapper.java
  managed-ledger/src/main/proto/MLDataFormats.proto
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryIntegrationTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/ConcurrentOpenLongPairRangeSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/LongPairRangeSet.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/OpenLongPairRangeSet.java
Labels: area/broker, doc-not-needed, lifecycle/stale, ready-to-test

#23384 [fix][broker] Cancel possible pending replay read in cancelPendingRead
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
Labels: doc-not-needed, ready-to-test, category/reliability, release/3.0.7, release/3.3.2

#23328 [improve][pip] PIP-381: Handle large PositionInfo state
  pip/pip-381-large-positioninfo.md
Labels: doc-not-needed, PIP

#23387 [improve][pip] Improve PIP process and voting timeline
  pip/README.md
Labels: type/PIP, doc-not-needed, ready-to-test, PIP

#23375 [improve] Configure Rocksdb to use musl libc flavor of the native library
  docker/pulsar/Dockerfile
Labels: doc-not-needed, ready-to-test

#23327 [fix][broker] Fix out-of-order issues with ConsistentHashingStickyKeyConsumerSelector
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsumerIdentityWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsumerNameIndexTracker.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumerIdentityWrapperTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumerNameIndexTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Range.java
Labels: doc-not-needed, ready-to-test, release/3.0.7, release/3.3.2

#22913 [improve][pip] PIP-360 Add admin API to display Schema metadata
  pip/pip-360.md
Labels: type/PIP, doc-not-needed, PIP

#23356 [fix][sec] Upgrade protobuf-java to 3.25.5
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/security, release/blocker, doc-not-needed, ready-to-test, release/3.0.7, release/3.3.2

#23358 [fix][sec][branch-3.3] Upgrade protobuf-java to 3.25.5 (#23356)
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.3.2

#23357 [fix][sec][branch-3.0] Upgrade protobuf-java to 3.25.5 (#23356)
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test, release/3.0.7

#23382 [fix][broker] timeout when broker registry hangs and monitor broker registry (ExtensibleLoadManagerImpl only)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.7, release/3.3.2

#23394 [fix][sec] Upgrade Avro to 1.11.4 to address CVE-2024-47561
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/security, release/blocker, doc-not-needed, ready-to-test, release/3.0.7, release/3.3.2

#21759 [improve][broker] PIP-327: Support force topic loading for unrecoverable errors
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageTest.java
Labels: area/broker, doc-not-needed, ready-to-test

#22938 [improve][pip] PIP-360 Add admin API to display Schema metadata
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SchemasResourceBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/SchemasResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Schemas.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SchemaMetadata.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/SchemasImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSchemas.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/admin/cli/TestCmdSchema.java
Labels: doc-not-needed, ready-to-test, PIP

#23397 [improve][ci] Continue Pulsar CI build even when Trivy scanner fails
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test, release/3.3.2

#23395 [fix][broker] Fix Broker was failing to create producer with broken schema ledger
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/ClientGetSchemaTest.java
Labels: area/broker, doc-not-needed, ready-to-test

#23309 [improve][pip] PIP-379: Key_Shared Draining Hashes for Improved Message Ordering
  pip/pip-379.md
Labels: doc, type/PIP, release/blocker, ready-to-test, PIP

#23401 [fix][client] Add more info while throwing reader creation exception
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderBuilderImpl.java
Labels: area/client, doc-not-needed, ready-to-test

#23399 [fix][broker] Fix delivery-test with unnecessary invocation-count
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageRedeliveryTest.java
Labels: area/test, doc-not-needed, ready-to-test

#20147 [feat] [broker] Add broker health check status into prometheus metrics
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/BrokerOperabilityMetrics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-complete, Stale, ready-to-test

#23405 [improve][misc] Upgrade Jetty to 9.4.56.v20240826
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/dependency, doc-not-needed, ready-to-test, release/3.3.3, release/3.0.8

#23363 [improve] PIP-384: ManagedLedger interface decoupling
  pip/pip-384.md
Labels: doc, type/PIP, ready-to-test, PIP

#23313 [improve][broker][PIP-384] Decouple Bookkeeper client from ManagedLedgerStorage and enable multiple ManagedLedgerFactory instances
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/TransactionMetadataStoreService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/AbstractMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/metrics/ManagedLedgerMetrics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/PrometheusMetricsGenerator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/BookkeeperManagedLedgerStorageClass.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/ManagedLedgerStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/storage/ManagedLedgerStorageClass.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStoreProvider.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiOffloadTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTests.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBookieIsolationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentDispatcherFailoverConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicConcurrentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicationTxnTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMarkerDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ManagedLedgerMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/NonStartableTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/SpyConfig.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/StartableTestPulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/OrphanPersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SubscriptionPauseOnAckStatPersistTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SequenceIdWithErrorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/PersistencePolicies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: doc-required, ready-to-test

#23410 [improve][build] Update maven-wrapper (mvnw) to recent stable version 3.3.2
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: area/build, doc-not-needed, ready-to-test, release/3.3.3, release/3.0.8

#23355 [improve][PIP] PIP-383: Support granting/revoking permissions for multiple topics
  pip/pip-383.md
Labels: doc-not-needed, PIP

#23414 [improve][ci] Move some flaky ExtensibleLoadManager tests to flaky group until they are fixed
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryMetadataStoreIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerCloseTest.java
Labels: type/flaky-tests, doc-not-needed, area/ci, ready-to-test

#23352 [improve][broker] PIP-379: Key_Shared Draining Hashes for Improved Message Ordering
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/AbstractDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsumerHashAssignmentsSnapshot.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/DrainingHashesTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryAndMetadata.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeAssignment.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ImpactedConsumersResult.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PendingAcksMap.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/RemovedHashRanges.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelectorUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageRedeliveryController.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/RescheduleReadHandler.java
  pulsar-broker/src/main/java/org/apache/pulsar/utils/ConcurrentBitmapSortedLongPairSet.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BrokerTestUtil.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/AbstractDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsumerHashAssignmentsSnapshotTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/DrainingHashesTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PendingAcksMapTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/RescheduleReadHandlerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/SubscriptionStatsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/KeySharedSubscriptionTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionStats.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Range.java
  pulsar-client/src/test/java/org/apache/pulsar/client/api/RangeTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/stats/SubscriptionStatsImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/resources/findbugsExclude.xml
Labels: doc-required, ready-to-test, category/reliability

#23418 [fix][ml] Remove unnecessary return in ManagedLedgerImpl
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: doc-not-needed, ready-to-test

#22988 [improve][ci] Upgrade/Downgrade test
  .github/workflows/pulsar-ci.yaml
  build/run_integration_group.sh
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/PulsarContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterSpec.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarClusterTestBase.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/upgrade/PulsarUpgradeDowngradeTest.java
  tests/integration/src/test/resources/pulsar-upgrade.xml
Labels: release/blocker, doc-not-needed, ready-to-test

#23423 [improve][broker] PIP-379: Snapshot hash range assignments only in AUTO_SPLIT ordered mode
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/StickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/HashRangeAutoSplitStickyKeyConsumerSelectorTest.java
Labels: area/broker, doc-not-needed, ready-to-test

#23415 [fix][broker] Fix typos in pulsar-broker and tiered-storage.
  pulsar-broker/src/test/java/org/apache/pulsar/broker/web/WebServiceTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/provider/AbstractJCloudBlobStoreFactoryTest.java
Labels: doc-not-needed, ready-to-test

#23288 [fix][doc] Fix some typos in pip
  pip/pip-307.md
  pip/pip-324-Alpine Docker images.md
  pip/pip-337.md
  pip/pip-352.md
  pip/pip-359.md
  pip/pip-368.md
Labels: doc-not-needed, PIP

#23426 [fix][ml][PIP-327] fix recover from ledger when ledgerForceRecovery is true
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: release/blocker, doc-not-needed, ready-to-test

#23259 [fix][test] Fix flaky GetPartitionMetadataMultiBrokerTest.testCompatibilityDifferentBrokersForNonPersistentTopic
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/GetPartitionMetadataMultiBrokerTest.java
Labels: type/flaky-tests, release/blocker, doc-not-needed

#22923 [fix] Reapply shell script parameter passthrough fix #22867 reverted in #22921
  bin/bookkeeper
  bin/pulsar
Labels: release/blocker, doc-not-needed, ready-to-test

#23431 [fix][ci] Pin aquasecurity/trivy-action@0.26.0 since master is broken
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test

#20931 [fix][broker] Fix ack hole in cursor for geo-replication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test

#23372 [improve][broker] PIP-383: Support granting/revoking permissions for multiple topics
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/GrantTopicPermissionOptions.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Namespaces.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/RevokeTopicPermissionOptions.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/NamespacesImpl.java
Labels: doc-not-needed, ready-to-test

#22381 [Enhancement]Added a metric for geo replication for tracking replicated subscriptions snapshot timeouts
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsController.java
Labels: type/enhancement, area/broker, doc-required, area/metrics, release/blocker

#22802 [fix][broker] Avoid orphan ledgers in BucketDelayedDeliveryTracker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/BucketDelayedDeliveryTrackerFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BookkeeperBucketSnapshotStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTracker.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BucketNotExistException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/ImmutableBucket.java
Labels: area/broker, release/blocker, doc-not-needed, ready-to-test, release/3.3.3, release/3.0.8

#23433 [fix][broker] Fix namespace unload might be blocked too long with extensible load manager
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerCloseTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.3.3

#23428 [fix][broker] Allow broker to handle non-recoverable schema error only if SchemaLedgerForceRecovery flag is enabled
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/ClientGetSchemaTest.java
Labels: area/broker, doc-not-needed, area/schema, ready-to-test

#21924 [improve][client] Add log when can't add message to the container
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessagesImpl.java
Labels: doc-not-needed, ready-to-test

#23438 [fix][broker] normalize path
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/offload/OffloaderUtils.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/web/plugin/servlet/AdditionalServletUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/protocol/ProtocolHandlerUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/plugin/EntryFilterProvider.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/utils/CustomCommandFactoryProvider.java
  pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/functions/FunctionUtils.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/io/ConnectorUtils.java
  pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/service/WorkerServiceLoader.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/extensions/ProxyExtensionsUtils.java
Labels: doc-not-needed

#23411 [fix][sec] Drop hdfs2 support, Upgrade hadoop3 to 3.4.0 and dnsjava to 3.6.2 to address CVE-2024-25638
  .github/workflows/pulsar-ci.yaml
  deployment/terraform-ansible/deploy-pulsar.yaml
  distribution/io/src/assemble/io.xml
  pom.xml
  pulsar-bom/pom.xml
  pulsar-io/docs/pom.xml
  pulsar-io/hdfs2/pom.xml
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/AbstractHdfsConfig.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/AbstractHdfsConnector.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/Compression.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/HdfsResources.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/SecurityUtil.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/package-info.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsAbstractSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsSinkConfig.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsSyncThread.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/package-info.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/seq/HdfsAbstractSequenceFileSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/seq/HdfsSequentialTextSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/seq/HdfsTextSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/seq/package-info.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/text/HdfsAbstractTextFileSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/text/HdfsStringSink.java
  pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/text/package-info.java
  pulsar-io/hdfs2/src/main/resources/META-INF/services/pulsar-io.yaml
  pulsar-io/hdfs2/src/main/resources/findbugsExclude.xml
  pulsar-io/hdfs2/src/test/java/org/apache/pulsar/io/hdfs2/sink/AbstractHdfsSinkTest.java
  pulsar-io/hdfs2/src/test/java/org/apache/pulsar/io/hdfs2/sink/HdfsSinkConfigTests.java
  pulsar-io/hdfs2/src/test/java/org/apache/pulsar/io/hdfs2/sink/seq/HdfsSequentialSinkTests.java
  pulsar-io/hdfs2/src/test/java/org/apache/pulsar/io/hdfs2/sink/seq/HdfsTextSinkTests.java
  pulsar-io/hdfs2/src/test/java/org/apache/pulsar/io/hdfs2/sink/text/HdfsStringSinkTests.java
  pulsar-io/hdfs2/src/test/resources/hadoop/core-site.xml
  pulsar-io/hdfs2/src/test/resources/hadoop/hdfs-site.xml
  pulsar-io/hdfs2/src/test/resources/sinkConfig.yaml
  pulsar-io/hdfs3/pom.xml
  pulsar-io/pom.xml
  tiered-storage/file-system/pom.xml
Labels: area/security, doc-not-needed, ready-to-test, release/3.3.3, release/4.0.1

#23440 [fix][build] Remove duplicate dependencies in pom.xml
  pulsar-client-tools/pom.xml
  pulsar-common/pom.xml
Labels: area/build, doc-not-needed, ready-to-test, release/3.3.3, release/4.0.0

#23441 [improve][broker][PIP-379] Don't replace a consumer when there's a collision
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsumerHashAssignmentsSnapshot.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelectorTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.0

#23437 [fix][test] Fix flaky test ManagedLedgerTest.testDeleteCurrentLedgerWhenItIsClosed
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed, release/4.0.1

#23446 [improve][cli] Add compactor type option for compaction tool
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactorTool.java
Labels: doc-not-needed

#23450 [improve][build] Drop deprecated pulsar-client-1x and pulsar-client-2x-shaded modules
  pom.xml
  pulsar-bom/pom.xml
  pulsar-client-1x-base/pom.xml
  pulsar-client-1x-base/pulsar-client-1x/pom.xml
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ClientConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/Consumer.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ConsumerConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/MessageBuilder.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/MessageListener.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/Producer.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ProducerConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/PulsarClient.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/Reader.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ReaderConfiguration.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ReaderListener.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/package-info.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/MessageBuilderImpl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/package-info.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/ConsumerV1Impl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/ProducerV1Impl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/PulsarClientV1Impl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/ReaderV1Impl.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/impl/v1/package-info.java
  pulsar-client-1x-base/pulsar-client-1x/src/main/resources/findbugsExclude.xml
  pulsar-client-1x-base/pulsar-client-2x-shaded/pom.xml
Labels: doc-not-needed, ready-to-test, release/4.0.0

#23360 [fix] [broker] topics failed to delete after remove cluster from replicated clusters set and caused OOM
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicFactory.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
Labels: type/bug, release/blocker, doc-not-needed, category/reliability, release/3.2.5, release/3.0.8, release/4.0.1

#23447 [improve][broker][PIP-379] Improve hash collision handling by restoring consumer when other leaves
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelector.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/RemovedHashRanges.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ConsistentHashingStickyKeyConsumerSelectorTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Range.java
  pulsar-client/src/test/java/org/apache/pulsar/client/api/RangeTest.java
Labels: area/broker, doc-not-needed, ready-to-test, release/4.0.0

#23448 [fix][build] Add basic support for vscode-java and Eclipse IDE
  .gitignore
  pom.xml
  pulsar-broker/pom.xml
  pulsar-common/pom.xml
  pulsar-transaction/coordinator/pom.xml
Labels: area/build, doc-not-needed, ready-to-test

#23452 [fix][client] Fix the javadoc for ConsumerBuilder.isAckReceiptEnabled
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
Labels: doc, release/blocker, ready-to-test, release/4.0.0

#23456 [fix][test] Address flaky GetPartitionMetadataMultiBrokerTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/GetPartitionMetadataTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.0

#23061 [improve][pip] PIP-367: Propose a Contributor Repository for Pulsar
  pip/pip-367.md
Labels: doc-required, PIP

#23459 [improve][io] Upgrade Spring version to 6.1.13 in IO Connectors
  pom.xml
Labels: area/function, area/dependency, doc-not-needed, ready-to-test

#23463 [fix][sql] Fix LICENSE
  pulsar-sql/presto-distribution/LICENSE
Labels: doc-not-needed, ready-to-test

#23464 [improve][ci] Prevent git force push to more recent maintenance branches
  .asf.yaml
Labels: doc-not-needed, area/ci, ready-to-test

#23461 [fix][client] Use dedicated executor for requests in BinaryProtoLookupService (#23378)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BinaryProtoLookupService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BinaryProtoLookupServiceTest.java
Labels: doc-not-needed, ready-to-test

#23465 [improve][build] Upgrade os-maven-plugin to support RISC-V 64
  pom.xml
Labels: doc-not-needed

#21618 [fix][client] Fix ConsumerStats.getRateMsgsReceived javadoc
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerStats.java
Labels: doc, release/4.0.1, triage/lhotari/important

#23471 [feat][meta] Bump oxia java version from 0.4.5 to 0.4.7
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/broker, doc-not-needed, ready-to-test

#23478 [fix][ci] Temporarily move OneWayReplicatorTestBase tests to flaky group to unblock CI
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SameAuthParamsLookupAutoClusterFailoverTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/DisabledCreateTopicToRemoteClusterForReplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicationTxnTest.java
Labels: doc-not-needed, ready-to-test

#23468 [fix][client] Prevent embedding protobuf-java class files in pulsar-client-admin and pulsar-client-all
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
Labels: type/bug, area/client, doc-not-needed, release/3.3.3, release/3.0.8, release/4.0.1

#23479 [feat][monitor] Add offloader stats grafana dashboard
  grafana/dashboards/offloader.json
Labels: area/metrics, doc-not-needed, ready-to-test, release/4.0.1

#23473 [improve][test] Added message properties tests for batch and non-batch messages
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: area/test, doc-not-needed

#23483 [fix][test] Fix memory leak via OTel shutdown hooks in tests
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/cache/InflightReadsLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/BrokerOpenTelemetryTestUtil.java
  pulsar-opentelemetry/src/test/java/org/apache/pulsar/opentelemetry/OpenTelemetryServiceTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/3.3.3

#23484 [improve][monitor] Upgrade OTel to 1.41.0
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/dependency, doc-not-needed, ready-to-test, release/4.0.1

#23481 [improve][io] Upgrade Spring version to 6.1.14 in IO Connectors
  pom.xml
Labels: area/security, doc-not-needed, ready-to-test, release/4.0.1

#23486 [fix][test] Prevent OOM in test by not spying invocations in SimpleProducerConsumerTest
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/4.0.1

#23489 [fix] [proxy] Fix pattern consumer does not work when using Proxy
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
Labels: doc-not-needed, release/2.11.0, ready-to-test, release/3.2.5, release/3.3.3, release/3.0.8, release/4.0.1

#23492 [fix][test] Fix running ClusterMetadataSetupTest in IDE
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.3.3, release/4.0.1

#23449 [fix][broker] Key_Shared subscription: Reject consumers with incompatible policy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionConsumerCompatibilityTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
Labels: area/broker, doc-not-needed, release/4.0.1

#23499 [fix][client] Fix producer/consumer stop to reconnect or Pub/Sub due to IO thread race-condition
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SimpleProduceConsumeIoTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
Labels: doc-not-needed, release/3.3.3, release/3.0.8, release/4.0.1

#23496 [fix][broker] Fix unloadNamespaceBundlesGracefully can be stuck with extensible load manager (#23349)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerWrapper.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannel.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateCompactionStrategy.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/filter/BrokerMaxTopicCountFilter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStore.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/store/TableViewLoadDataStoreImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerCloseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/store/LoadDataStoreTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
Labels: doc-not-needed, doc-label-missing, ready-to-test

#23507 [fix][broker] Fix the broker registering might be blocked for long time (#23371)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TableViewTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java
Labels: doc-not-needed, doc-label-missing, ready-to-test

#23502 [fix][client] Fix Reader.hasMessageAvailable return wrong value after seeking by timestamp with startMessageIdInclusive
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, doc-not-needed, release/3.3.3, release/3.0.8, release/4.0.1

#23497 [fix][standalone] correctly delete bookie registration znode
  pulsar-broker/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java
Labels: doc-not-needed, ready-to-test, release/3.0.8, release/4.0.1

#23510 [fix][broker] timeout when broker registry hangs and monitor broker registry (ExtensibleLoadManagerImpl only) (#23382)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistry.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Brokers.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/BrokersImpl.java
Labels: doc-not-needed, doc-label-missing, ready-to-test

#23517 [fix][broker] Fix namespace unload might be blocked too long with extensible load manager (#23433)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerCloseTest.java
Labels: doc-not-needed, ready-to-test

#23516 [improve][broker] re-elect the channel owner if no channel owner is found
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.1

#23522 [fix] [broker] Fix race-condition causing repeated delete topic
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/SameAuthParamsLookupAutoClusterFailoverTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/DisabledCreateTopicToRemoteClusterForReplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicationTxnTest.java
Labels: doc-not-needed, ready-to-test, release/3.2.5, release/3.3.3, release/3.0.8, release/4.0.1

#23520 [improve][broker] Make cluster metadata teardown command support metadata config path
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataTeardown.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataSetupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ClusterMetadataTeardownTest.java
Labels: doc-not-needed, ready-to-test, release/3.3.3, release/4.0.1

#23508 [fix][client] Fix the javadoc for startMessageIdInclusive
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ReaderBuilder.java
Labels: doc, ready-to-test

#23293 [fix][test] Fix NonDurableSubscriptionTest.testInitReaderAtSpecifiedP…
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/NonDurableSubscriptionTest.java
Labels: doc-not-needed, ready-to-test

#23532 [fix][sec] Replace bcprov-jdk15on dependency with bcprov-jdk18-on
  pom.xml
  pulsar-io/hdfs3/pom.xml
  tiered-storage/file-system/pom.xml
Labels: area/security, doc-not-needed, ready-to-test, release/3.3.3, release/4.0.1
