Repository apache/pulsar, pull requests merged in 2024-12, with the labels that each got.

#23667 [improve] Install coreutils in docker image to improve compatibility
  docker/pulsar/Dockerfile
Labels: doc-not-needed, ready-to-test, release/3.3.4, release/4.0.2

#23671 [fix] [broker] Add consumer name for subscription stats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23676 [fix][broker] Invoke custom BrokerInterceptor's `onFilter` method if it's defined
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/BrokerInterceptorWithClassLoader.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/WebService.java
  tests/docker-images/java-test-plugins/src/main/java/org/apache/pulsar/tests/integration/plugins/LoggingBrokerInterceptor.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/plugins/TestBrokerInterceptors.java
Labels: doc-not-needed, ready-to-test, release/3.3.4, release/4.0.2

#23601 [improve][pip] PIP-393: Improve performance of Negative Acknowledgement
  pip/pip-393.md
Labels: doc-not-needed, PIP, release/4.0.1

#23688 [fix][cli] Fix set topic retention policy failed
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: type/bug, area/client, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23684 [fix][sec] Bump commons-io version to 2.18.0
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/security, doc-not-needed, release/3.0.9, release/4.0.2

#23683 [fix][broker] Catch exception for entry payload interceptor processor
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/MangedLedgerInterceptorImplTest.java
Labels: doc-not-needed, ready-to-test

#23680 [fix][admin] Listen partitioned topic creation event
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/TopicEventsListenerTest.java
Labels: doc-not-needed

#23709 [improve][admin] Opt-out of topic-existence check
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23698 [improve][client] Print consumer stats log if prefetched messages are not zero
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorderImpl.java
Labels: type/enhancement, area/client, doc-not-needed, ready-to-test, release/4.0.2

#23719 [fix] [broker] Fix config replicationStartAt does not work when set it to earliest
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23713 [fix][client] Fix wrong start message id when it's a chunked message id
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessageChunkingTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
Labels: type/bug, area/client, doc-not-needed, ready-to-test, release/3.0.9, release/4.0.2

#23725 [fix][sec] Mitigate CVE-2024-53990 by disabling AsyncHttpClient CookieStore
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/AuthenticationProviderOpenID.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ControlledClusterFailover.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenClient.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23686 [fix][broker] Fix the retry mechanism in `MetadataCache#readModifyUpdateOrCreate`
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/resources/BaseResources.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/Backoff.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/BackoffTest.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataCacheConfig.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/4.0.2

#23721 [improve] [test] Add more test for the case that client receives a SendError, which relates to the PR #23038
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/4.0.2

#21906 [fix][broker] Remove delta when calculating msgRateRequiredFromUnloadedBundles and msgThroughputRequiredFromUnloadedBundles for UniformLoadShedder
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/impl/UniformLoadShedderTest.java
Labels: doc-not-needed, ready-to-test

#21210 [fix][broker] Avoid block markDeletePosition forward when skip lost entries
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
Labels: release/blocker, doc-not-needed, triage/lhotari/important, release/4.0.2

#23732 [fix][sec] Upgrade async-http-client to 2.12.4 to address CVE-2024-53990
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/pom.xml
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-admin/pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-proxy/pom.xml
  tiered-storage/jcloud/pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23730 [fix][admin] Verify is policies read only before revoke permissions on topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: type/bug, area/admin, doc-not-needed, ready-to-test, release/3.0.8, release/4.0.2

#23691 [fix][common] TopicName: Throw IllegalArgumentException if localName is whitespace only
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java
  pulsar-common/src/test/java/org/apache/pulsar/common/naming/TopicNameTest.java
Labels: doc-not-needed, release/3.0.9, release/3.3.4, release/4.0.2

#23743 [fix][sec] Upgrade golang.org/x/crypto from 0.21.0 to 0.31.0 in pulsar-function-go
  pulsar-function-go/examples/go.mod
  pulsar-function-go/examples/go.sum
  pulsar-function-go/go.mod
  pulsar-function-go/go.sum
Labels: area/security, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23708 [improve][fn] Improve implementation for maxPendingAsyncRequests async concurrency limit when return type is CompletableFuture<Void>
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaExecutionResult.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23734 [improve][fn] Improve closing of producers in Pulsar Functions ProducerCache invalidation
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ProducerCache.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/ProducerCacheTest.java
Labels: area/function, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23752 [improve] Upgrade lombok to 1.18.36
  pom.xml
Labels: area/build, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23755 [fix][broker] Fix typo in `buildMetadataForCompactedLedger`
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/LedgerMetadataUtils.java
Labels: doc-not-needed

#23738 [fix] [client] Fix memory leak when publishing encountered a corner case error
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerMemoryLeakTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerInterceptors.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23756 [improve][monitor] Upgrade OTel to 1.45.0
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.3.4, release/4.0.2

#23761 [Fix][Client] Fix pending message not complete when closeAsync
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerImplTest.java
Labels: area/client, doc-not-needed, release/3.0.9, release/3.3.4, release/4.0.2

#23747 [fix][test] Fix flaky KeySharedSubscriptionTest.testNoKeySendAndReceiveWithHashRangeAutoSplitStickyKeyConsumerSelector
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: type/flaky-tests, doc-not-needed, release/4.0.2

#23764 [fix][broker] Fix bug causing loss of migrated information when setting other localPolicies in namespace
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundles.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/LocalPolicies.java
Labels: doc-not-needed, release/3.3.4, release/4.0.2

#23753 [fix][client] Fix enableRetry for consumers using legacy topic naming where cluster name is included
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TopicsConsumerImplTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23757 [improve][client] Make replicateSubscriptionState nullable
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SubscriptionOption.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ReplicateSubscriptionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: doc-not-needed

#23766 [fix][admin] Fix exception loss in getMessageId method
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
Labels: doc-not-needed, release/3.0.9, release/3.3.4, release/4.0.2

#23767 [fix][broker] System topic should not be migrated during blue-green cluster migration
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, release/3.3.4, release/4.0.2

#23718 [fix][client] Make DeadLetterPolicy & KeySharedPolicy serializable
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/DeadLetterPolicy.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/KeySharedPolicy.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Range.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ReaderConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationDataTest.java
Labels: doc-not-needed, release/3.0.9, release/3.3.4, release/4.0.2

#23772 [fix][ml] Topic load timeout due to ml data ledger future never finishes
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23776 [improve][ml] Optimize BlobStoreManagedLedgerOffloader.getOffloadPolicies
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
Labels: area/tieredstorage, doc-not-needed, ready-to-test, category/performance

#23781 [fix][broker] Fix enableReplicatedSubscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/EnableReplicatedSubscriptionsIsDisabledTest.java
Labels: doc-not-needed, ready-to-test

#23652 [improve][log] Print ZK path if write to ZK fails due to data being too large to persist
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/batching/MetadataOp.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/4.0.2

#23786 [fix][broker] topic policy deadlock block metadata thread.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.3.4, release/4.0.2

#23791 [fix][client] Cannot access message data inside ProducerInterceptor#onSendAcknowledgement
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/InterceptorsTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, doc-not-needed, release/2.10.7, release/2.11.5, release/3.0.9, release/3.3.4, release/4.0.2

#23782 [fix][broker] Fix pulsar.replicated.subscription checks
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentSubscriptionTest.java
Labels: doc-not-needed, ready-to-test

#23615 [fix][broker] Skip to persist cursor info if it failed by cursor closed
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/bug, doc-not-needed, release/4.0.1, release/3.0.9, release/3.3.4
