Repository apache/pulsar, pull requests merged in 2025-08, with the labels that each got.

#24390 [improve][admin] PIP-422 part 1: Support global topic-level replicated clusters policy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalPartitionedTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/TopicPolicies.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicPoliciesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
Labels: type/PIP, doc-not-needed, ready-to-test, PIP, release/4.0.7, release/3.0.14, release/3.3.9

#24599 [fix][client] Retry for unknown exceptions when creating a producer or consumer
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/SimpleProduceConsumeIoTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarHandler.java
Labels: type/bug, area/client, doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9

#24609 [fix][test] Fix flaky EntryCacheManagerTest.simple
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/EntryCacheManagerTest.java
Labels: doc-not-needed

#24604 [improve][io] Add dependency file name information to error message when .nar file validation fails with ZipException
  pulsar-broker/src/test/java/org/apache/pulsar/functions/worker/PulsarFunctionTestTemporaryDirectory.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/AbstractPulsarE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/FunctionFilePackage.java
Labels: doc-not-needed, release/4.0.7, release/3.0.14, release/3.3.9

#24606 [improve][broker]Remove block calling that named cursor.asyncGetNth when expiring messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/MessageExpirer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.3.9

#24612 [fix][misc] Exclude commons-configuration2 and commons-beanutils in pulsar-common
  pulsar-common/pom.xml
Labels: doc-not-needed, ready-to-test

#24602 [improve][broker]Part-2 Add Admin API to delete topic policies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/PersistentTopics.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPolicyTestUtils.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/TopicPolicies.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicPoliciesImpl.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopicPolicies.java
Labels: doc-not-needed, ready-to-test

#24621 [fix][broker] Fix duplicate watcher registration after SessionReestablished
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/ZKSessionTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9

#24626 [fix][proxy] Fix TooLongFrameException with Pulsar Proxy
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarChannelInitializer.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/MockBrokerService.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/FrameDecoderUtil.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ServiceChannelInitializer.java
Labels: type/bug, doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9

#24630 [fix][test]fix flaky ZeroQueueSizeTest.testZeroQueueGetExceptionWhenReceiveBatchMessage
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ZeroQueueSizeTest.java
Labels: doc-not-needed, release/4.0.7, release/3.0.14, release/3.3.9

#24632 [fix][test] Fix ConcurrentModificationException in Ipv4Proxy
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/Ipv4Proxy.java
Labels: doc-not-needed, release/4.0.7, release/3.0.14, release/3.3.9

#24642 [fix][ws] Allow websocket principals to specify originalPrincipal without proxy role
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/NonProxyRoleTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/websocket/proxy/ProxyRoleAuthTest.java
Labels: type/bug, area/websocket, doc-not-needed, ready-to-test, release/4.0.7

#24643 [fix][broker] Add double-check for non-durable cursor creation
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: doc-not-needed, ready-to-test

#24650 [fix][sec] Upgrade bouncycastle bcpkix-fips version to 1.79 to address CVE-2025-8916
  bouncy-castle/bc/LICENSE
  bouncy-castle/bc/pom.xml
  bouncy-castle/bcfips/LICENSE
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/security, doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9

#24647 [improve][client] Add OpenTelemetry metrics for client memory buffer usage
  pulsar-broker/src/test/java/org/apache/pulsar/client/metrics/ClientMetricsTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MemoryLimitController.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/InstrumentProvider.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/MemoryBufferStats.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/metrics/ObservableUpDownCounter.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/metrics/MemoryBufferStatsTest.java
Labels: type/enhancement, area/client, area/metrics, doc-complete, ready-to-test

#24572 [improve][pip]PIP-436: Add decryptFailListener to Consumer
  pip/pip-436.md
Labels: doc, PIP

#24653 [improve][pip] Standardize PIP filenames and add comprehensive table of contents
  pip/README.md
  pip/pip-307-duplicate.md
  pip/pip-324.md
  pip/pip-335.md
  pip/pip-342.md
  pip/pip-376.md
  pip/pip-380.md
  pip/pip-381.md
  pip/pip-391.md
  pip/pip-404.md
  pip/pip-421.md
  pip/pip-427.md
  pip/pip-431.md
  pip/pip-432.md
Labels: doc, ready-to-test, PIP

#24659 [fix][misc] Upgrade fastutil to 8.5.16
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9

#24655 [improve][ml] Optimize ledger opening by skipping fully acknowledged ledgers
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpScan.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: type/enhancement, doc-not-needed, ready-to-test, area/ML, release/4.0.7

#24661 [improve][io] Upgrade AWS SDK v1 & v2, Kinesis KPL and KPC versions
  docker/kinesis-producer-alpine/Dockerfile
  docker/kinesis-producer-alpine/README.md
  docker/kinesis-producer-alpine/build-alpine.sh
  docker/kinesis-producer-alpine/kinesis_producer_alpine.patch
  docker/pulsar-all/pom.xml
  pom.xml
  pulsar-io/aws/pom.xml
  pulsar-io/kinesis-kpl-shaded/pom.xml
  pulsar-io/kinesis/pom.xml
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/KinesisSinkConfigTest.java
  pulsar-io/pom.xml
  tests/integration/pom.xml
Labels: doc-not-needed, ready-to-test, release/4.0.7

#24427 [fix][broker] PIP-428: Fix corrupted topic policies issues with sequential topic policy updates
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BrokerTestUtil.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesUpdateTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/InmemoryTopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPoliciesServiceDisableTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPolicyTestUtils.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/InactiveTopicPolicies.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/PersistencePolicies.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/PublishRate.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/RetentionPolicies.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/SubscribeRate.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/impl/BacklogQuotaImpl.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/impl/DispatchRateImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/SubscriptionPolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/TopicPolicies.java
Labels: type/PIP, doc-not-needed, ready-to-test

#24666 [improve][build] Increase maven resolver's sync context timeout
  .mvn/jvm.config
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9

#23977 [fix][broker] Invalid regex in PulsarLedgerManager causes zk data notification to be ignored
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarLedgerManager.java
Labels: doc-not-needed, ready-to-test, triage/lhotari/important, release/4.0.7, release/3.0.14, release/3.3.9

#24622 [improve][broker]Find the target position at most once, during expiring messages for a topic, even though there are many subscriptions
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpFindNewest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/MessageExpirer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/bookkeeper/mledger/impl/PersistentMessageExpiryMonitorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicE2ETest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.7

#24679 [fix][broker]Fix flaky test PartitionCreationTest.testCreateMissedPartitions
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionCreationTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.7

#23222 [improve] [pip] PIP-375 Expose the Admin client configs: readTimeout, requestTimeout, and connectionTimeout
  pip/pip-375.md
Labels: doc, PIP, release/4.0.7

#24648 [fix][broker]User topic failed to delete after removed cluster because of failed delete data from transaction buffer topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SingleSnapshotAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/naming/SystemTopicNames.java
Labels: type/bug, doc-not-needed, ready-to-test, release/4.0.7

#23351 [improve] [pip] PIP-382: Add a label named reason for topic_load_failed_total
  pip/pip-382.md
Labels: doc-not-needed, PIP

#24488 [improve][client] PIP-420: Supports users implement external schemas
  conf/broker.conf
  conf/standalone.conf
  pip/pip-420.md
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/ExternalSchemaCompatibilityCheck.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/validator/SchemaDataValidator.java
  pulsar-broker/src/main/proto/SchemaRegistryFormat.proto
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/schema/ExternalSchemaCompatibilityCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/ExternalSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/MockExternalJsonSchema.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaCompatibilityCheckTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/EncodeData.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Message.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Schema.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/SchemaSerializationException.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/KeyValue.java
  pulsar-client-api/src/main/java/org/apache/pulsar/common/schema/SchemaType.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicMessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/SupportVersioningKeyValueSchemaTest.java
  pulsar-client/src/test/java/org/apache/pulsar/common/schema/KeyValueTest.java
  pulsar-common/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchemaInfo.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/proto/PulsarApi.proto
  pulsar-io/http/src/test/java/org/apache/pulsar/io/http/HttpSinkTest.java
Labels: doc-required, ready-to-test, PIP
