Repository apache/pulsar, pull requests merged in 2025-05, with the labels that each got.

#24242 [improve][build] Upgrade errorprone to 2.38.0
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/build, doc-not-needed, ready-to-test

#24236 [improve] Adapt startup scripts for Java 24 changes
  bin/bookkeeper
  bin/function-localrunner
  bin/pulsar
  bin/pulsar-admin-common.cmd
  bin/pulsar-admin-common.sh
  bin/pulsar-perf
  conf/bkenv.sh
  conf/pulsar_env.sh
  src/pulsar-io-gen.sh
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24240 [improve][build] Upgrade to jacoco 0.8.13
  pom.xml
Labels: area/build, doc-not-needed, ready-to-test

#24239 [improve][misc] Migrate from multiple nullness annotation libraries to JSpecify annotations
  buildtools/src/main/resources/pulsar/checkstyle.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/AckSetState.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pom.xml
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/OpenIDProviderMetadataCache.java
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v3/Transactions.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/delayed/bucket/BookkeeperBucketSnapshotStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceEphemeralData.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ConsumerHashAssignmentsSnapshot.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryAndMetadata.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SystemTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorageFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaRegistryServiceImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/SchemaStorageFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicUtils.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactionServiceFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/PulsarCompactionServiceFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/PulsarTopicCompactionService.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/TopicCompactionService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/MultiBrokerTestZKBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/MultiBrokerMetadataConsistencyTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicImplTest.java
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ControlledClusterFailover.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/URIPreconditions.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/GrowableArrayBlockingQueue.java
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
  pulsar-functions/runtime-all/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceDepsTest.java
  pulsar-io/azure-data-explorer/src/main/java/org/apache/pulsar/io/azuredataexplorer/ADXSink.java
  pulsar-io/azure-data-explorer/src/test/java/org/apache/pulsar/io/azuredataexplorer/ADXSinkConfigTest.java
  pulsar-io/core/pom.xml
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyWithExtensibleLoadManagerTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24249 [fix] chore: remove unused preciseTopicPublishRateLimiterEnable
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPublishRateThrottleTest.java
Labels: doc-not-needed, ready-to-test

#24252 [cleanup] remove unused config messagePublishBufferCheckIntervalInMillis
  deployment/terraform-ansible/templates/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: type/cleanup, area/broker, doc-not-needed, ready-to-test, release/4.0.5

#24251 [cleanup] Remove unused static fields in BrokerService
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: type/cleanup, area/broker, doc-not-needed, ready-to-test, release/4.0.5

#24258 [fix][test] Fix TestNG BetweenTestClassesListenerAdapter listener
  buildtools/pom.xml
  buildtools/src/main/java/org/apache/pulsar/tests/BetweenTestClassesListenerAdapter.java
  buildtools/src/main/java/org/apache/pulsar/tests/FastThreadLocalCleanupListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/MockitoCleanupListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/SingletonCleanerListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
  buildtools/src/test/java/org/apache/pulsar/tests/BetweenTestClassesListenerAdapterTest.java
Labels: area/test, doc-not-needed, ready-to-test

#24178 [fix][broker]fix memory leak, messages lost, incorrect replication state if using multiple schema versions(auto_produce)
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalPartitionedTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerMemoryLeakTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/GeoReplicationProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HandlerState.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImplementationBindingImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/client/impl/schema/SchemaInfoImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/client/impl/schema/SchemaUtils.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24248 [improve][io][kca] support fully-qualified topic names in source records
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/AbstractKafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceTest.java
Labels: doc-not-needed, release/3.0.12, release/3.3.7, release/4.0.5

#24264 [improve] Improve the GitHub issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/doc.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/ISSUE_TEMPLATE/flaky-test.yml
Labels: doc-not-needed, ready-to-test

#24261 [fix][test] Fix flaky ManagedCursorTest.testLastActiveAfterResetCursor and disable failing SchemaTest
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24241 [improve][build] Upgrade Mockito to 5.17.0 and byte-buddy to 1.15.11
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/build, doc-not-needed, ready-to-test

#24266 [improve][ci] Disable detailed console logging for integration tests in CI
  .github/workflows/pulsar-ci.yaml
  build/run_integration_group.sh
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24254 [fix][broker]Fix incorrect priority between topic policies and global topic policies
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/PolicyHierarchyValue.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/PolicyHierarchyValueTest.java
Labels: type/bug, doc-not-needed, release/3.0.12, release/3.3.7, release/4.0.5

#24268 [improve][build] Allow building and running tests on JDK 24 and upcoming JDK 25 LTS
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
  docker/pulsar/Dockerfile
  pom.xml
Labels: area/build, doc-not-needed, area/ci, ready-to-test

#24270 [improve][build] Upgrade commons-compress version from 1.27.0 to 1.27.1
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test

#24273 [fix][misc] Fix ByteBuf leaks in tests by making ByteBufPair.coalesce release the input ByteBufPair
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/ByteBufPair.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CommandsTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/protocol/ByteBufPairTest.java
Labels: doc-not-needed, ready-to-test

#24274 [fix][misc] Fix ByteBuf leak in SchemaUtils
  pulsar-common/src/main/java/org/apache/pulsar/client/impl/schema/SchemaUtils.java
Labels: doc-not-needed, area/schema, ready-to-test

#24278 [improve][build] Suppress JVM class sharing warning when running tests
  pom.xml
Labels: area/test, area/build, doc-not-needed, ready-to-test

#24281 [fix][test] Fix multiple ByteBuf leaks in tests
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImplTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractBaseDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SharedConsumerAssignorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsSnapshotBuilderTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CommandsTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/compression/CompressorCodecTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/protocol/CommandUtilsTests.java
  pulsar-common/src/test/java/org/apache/pulsar/common/protocol/MarkersTest.java
Labels: doc-not-needed, ready-to-test

#24263 [improve][build] Upgrade zstd version from 1.5.2-3 to 1.5.7-3
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7

#24277 [improve][build] Improve thread leak detector by ignoring "Attach Listener" thread
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
Labels: doc-not-needed, area/ci, ready-to-test

#24272 [improve][ci] Add Netty leak detection reporting to Pulsar CI
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
  build/pulsar_ci_tool.sh
  buildtools/pom.xml
  buildtools/src/main/java/org/apache/pulsar/tests/ExtendedNettyLeakDetector.java
  buildtools/src/main/java/org/apache/pulsar/tests/PulsarTestListener.java
  conf/bkenv.sh
  conf/pulsar_tools_env.sh
  deployment/terraform-ansible/templates/pulsar_env.sh
  pom.xml
  pulsar-common/src/test/java/org/apache/pulsar/common/allocator/PulsarByteBufAllocatorDefaultTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/allocator/PulsarByteBufAllocatorOomThrowExceptionTest.java
  tests/bc_2_0_0/pom.xml
  tests/bc_2_0_1/pom.xml
  tests/bc_2_6_0/pom.xml
  tests/docker-images/java-test-image/Dockerfile
  tests/docker-images/java-test-image/pom.xml
  tests/docker-images/latest-version-image/Dockerfile
  tests/docker-images/latest-version-image/pom.xml
  tests/integration/pom.xml
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/BKContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/CSContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ChaosContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/PulsarContainer.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/containers/ZKContainer.java
  tests/pulsar-client-admin-shade-test/pom.xml
  tests/pulsar-client-all-shade-test/pom.xml
  tests/pulsar-client-shade-test/pom.xml
Labels: area/test, area/build, doc-not-needed, ready-to-test

#24282 [fix][client] Fix producer publishing getting stuck after message with incompatible schema is discarded
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24297 [fix][io] Fix SyntaxWarning in Pulsar Python functions
  pulsar-functions/instance/src/main/python/contextimpl.py
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24225 [fix][broker] Allow recreation of partitioned topic after metadata loss
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminTest.java
Labels: doc-not-needed, ready-to-test

#24271 [improve][broker] Optimize message TTL check
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/MessageCumulativeAckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TransactionMarkerDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
Labels: area/broker, doc-not-needed, ready-to-test, category/performance

#24299 [fix][test] Fix more Netty ByteBuf leaks in tests
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersClassicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/AcknowledgementsGroupingTrackerTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/BinaryProtoLookupServiceTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientCnxTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientTestFixtures.java
Labels: area/test, doc-not-needed, ready-to-test

#24302 [improve] Upgrade pulsar-client-python to 3.7.0 in Docker image
  docker/pulsar/Dockerfile
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/4.0.5

#24289 [improve][io] Add configuration parameter for disabling aggregation for Kinesis Producers
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
Labels: doc-required

#24304 [fix][test] Simplify BetweenTestClassesListenerAdapter and fix issue with BeforeTest/AfterTest annotations
  buildtools/src/main/java/org/apache/pulsar/tests/BetweenTestClassesListenerAdapter.java
  buildtools/src/main/java/org/apache/pulsar/tests/FastThreadLocalCleanupListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/MockitoCleanupListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/SingletonCleanerListener.java
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
  buildtools/src/test/java/org/apache/pulsar/tests/BetweenTestClassesListenerAdapterTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24307 [fix][build] Ensure that buildtools is Java 8 compatible and fix remaining compatibility issue
  buildtools/pom.xml
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
Labels: area/test, area/build, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24309 [improve][cli] Make pulsar-perf termination more responsive by using Thread interrupt status
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/BrokerMonitor.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationClient.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/LoadSimulationController.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/ManagedLedgerWriter.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerfClientUtils.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceConsumer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceProducer.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceReader.java
  pulsar-testclient/src/main/java/org/apache/pulsar/testclient/PerformanceTransaction.java
  pulsar-testclient/src/test/java/org/apache/pulsar/testclient/PerformanceProducerTest.java
Labels: area/cli, doc-not-needed, ready-to-test

#24279 [fix][broker]Global topic policies do not affect after unloading topic and persistence global topic policies never affect
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentTopicInitializeDelayTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicationTopicGcTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPolicyTestUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24308 [improve] Change PersistentMessageFinder's fields modifier to reuse in plugins
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageFinder.java
Labels: doc-not-needed, ready-to-test

#24314 [fix][test] Fix more resource leaks in tests
  buildtools/src/main/java/org/apache/pulsar/tests/ThreadLeakDetectorListener.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/test/BookKeeperClusterTestCase.java
  pulsar-broker-auth-sasl/src/test/java/org/apache/pulsar/broker/authentication/ProxySaslAuthenticationTest.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/bookie/rackawareness/BookieRackAffinityMappingTest.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/RateLimiterTest.java
  tiered-storage/file-system/src/main/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileStoreBackedReadHandleImpl.java
  tiered-storage/file-system/src/test/java/org/apache/bookkeeper/mledger/offload/filesystem/FileStoreTestBase.java
  tiered-storage/file-system/src/test/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloaderTest.java
  tiered-storage/file-system/src/test/java/org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemOffloaderLocalFileTest.java
Labels: area/test, doc-not-needed, ready-to-test

#24313 [fix][broker] Fix potential deadlock when creating partitioned topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24220 [feat][pip]PIP-415: Support getting message ID by Index
  pip/pip-415.md
Labels: doc-not-needed, PIP

#24315 [cleanup] Remove unused config `autoShrinkForConsumerPendingAcksMap`
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: area/config, doc-not-needed, ready-to-test

#24316 [fix][io] Fix kinesis avro bytes handling
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/json/JsonConverter.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/UtilsTest.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/json/JsonConverterTests.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/KinesisSinkTester.java
Labels: doc-not-needed, release/4.0.5, release/3.0.13, release/3.3.8

#24317 [fix][io][branch-3.0]Pulsar-SQL: Fix classcast ex when decode decimal value
  pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/decoder/json/PulsarJsonFieldDecoder.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.12

#24324 [fix][test] Fix flaky AutoScaledReceiverQueueSizeTest.testNegativeClientMemory
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/AutoScaledReceiverQueueSizeTest.java
Labels: doc-not-needed, release/3.0.13, release/4.0.6, release/3.3.8

#24320 [fix][cli] Fix pulsar-shell cannot produce message with quotes and space
  pulsar-client-tools/src/main/java/org/apache/pulsar/shell/PulsarShell.java
  pulsar-client-tools/src/test/java/org/apache/pulsar/shell/PulsarShellTest.java
Labels: doc-not-needed, release/4.0.6

#24286 [fix][broker]Non-global topic policies and global topic policies overwrite each other
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicPoliciesService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicServiceTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.13, release/4.0.6, release/3.3.8

#24330 [fix][test] Fix flaky ManagedLedgerTest.testDoNotGetOffloadPoliciesMultipleTimesWhenTrimLedgers
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
Labels: doc-not-needed, ready-to-test

#24331 [fix][offload] Complete the future outside of the reading loop in BlobStoreBackedReadHandleImplV2.readAsync
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImplV2.java
Labels: area/tieredstorage, doc-not-needed, ready-to-test, release/3.0.13, release/4.0.6, release/3.3.8

#24338 [fix][ml] Fix ManagedCursorImpl.individualDeletedMessages concurrent issue
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, area/ML

#24190 [fix][broker] Resolve the issue of frequent updates in message expiration deletion rate
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageExpiryMonitor.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
Labels: doc-not-needed, ready-to-test, PIP

#24336 [improve][admin] Expose per ledger props to PersistentTopic.getInternalStats
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/stats/client/PulsarBrokerStatsClientTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/ManagedLedgerInternalStats.java
Labels: area/broker, area/admin, doc-not-needed, ready-to-test

#24349 [fix][io][branch-3.0] Backport Kinesis Sink custom native executable support #23762
  pulsar-io/kinesis/pom.xml
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSink.java
  pulsar-io/kinesis/src/main/java/org/apache/pulsar/io/kinesis/KinesisSinkConfig.java
  pulsar-io/kinesis/src/test/java/org/apache/pulsar/io/kinesis/KinesisSinkTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/KinesisSinkTester.java
Labels: area/function, doc-not-needed, ready-to-test, release/3.0.13

#24352 [fix][broker] Ignore metadata changes when broker is not in the Started state
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: doc-not-needed, ready-to-test, release/3.0.13, release/4.0.6, release/3.3.8

#24354 [fix][io] Acknowledge RabbitMQ message after processing the message successfully
  pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSource.java
Labels: doc-not-needed, ready-to-test

#24350 [fix][broker] Fix issue that topic policies was deleted after a sub topic deleted, even if the partitioned topic still exists
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicGCTest.java
Labels: type/bug, doc-not-needed, release/3.0.13, release/4.0.6, release/3.3.8

#24359 [improve][broker]Improve the log when encountered in-flight read limitation
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/InflightReadsLimiter.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.13, release/4.0.6, release/3.3.8

#24365 [improve] Enable metrics for all broker caches
  distribution/shell/src/assemble/LICENSE.bin.txt
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/JwksCache.java
  pulsar-broker-auth-oidc/src/main/java/org/apache/pulsar/broker/authentication/oidc/OpenIDProviderMetadataCache.java
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
  pulsar-broker/pom.xml
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/OwnershipCache.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/stats/CacheMetricsCollector.java
  pulsar-client-shaded/pom.xml
  pulsar-common/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/stats/CacheMetricsCollector.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/ProducerCache.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/AbstractMetadataStore.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/FaultInjectionMetadataStore.java
Labels: doc-not-needed, ready-to-test, release/4.0.6
