Repository apache/pulsar, pull requests merged in 2025-04, with the labels that each got.

#24141 [fix][test] Fix flaky DisabledCreateTopicToRemoteClusterForReplicationTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/DisabledCreateTopicToRemoteClusterForReplicationTest.java
Labels: doc-not-needed, ready-to-test

#24105 [improve][pip] PIP-412: Support setting messagePayloadProcessor in Pulsar Functions and Sinks
  pip/pip-412.md
Labels: doc-not-needed, PIP

#24155 [fix][build] Fix docker image building by replacing deprecated and removed compress argument
  docker/pulsar/Dockerfile
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceChaosTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalPartitionedTest.java
Labels: doc-not-needed, ready-to-test, release/3.3.7, release/4.0.5

#24154 [fix][broker] Directly query single topic existence when the topic is partitioned
  pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/NamespaceService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/NamespaceServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceChaosTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalPartitionedTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ConsumerCreationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerCreationTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClientException.java
Labels: doc-not-needed, ready-to-test

#24162 [fix][test] Fix flaky BrokerServiceChaosTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesChaosTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceChaosTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/CanReconnectZKClientPulsarServiceBaseTest.java
Labels: doc-not-needed, ready-to-test

#24158 [fix][proxy] Propagate client connection feature flags through Pulsar Proxy to Broker
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorDeduplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ServerCnxTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyClientCnx.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
Labels: type/bug, doc-not-needed, release/3.0.12, release/3.3.7, release/4.0.5

#24161 [fix][test] Fix flaky BrokerServiceChaosTest.testFetchPartitionedTopicMetadataWithCacheRefresh
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/CanReconnectZKClientPulsarServiceBaseTest.java
Labels: doc-not-needed, ready-to-test

#24150 [fix][broker] The feature brokerDeleteInactivePartitionedTopicMetadataEnabled leaves orphan topic policies and topic schemas
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicationTopicGcTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicationTopicGcUsingGlobalZKTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24164 [fix][client]Add setCompressMinMsgBodySize method to ProducerBuilder for compression configuration flexibility
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerConsumerInternalTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerBuilderImpl.java
Labels: doc-not-needed, ready-to-test

#24156 [fix][broker] fix ExtensibleLoadManager to override the ownerships concurrently without blocking load manager thread
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/scheduler/TransferShedder.java
Labels: doc-not-needed

#24098 [fix][ml] Skip deleting cursor if it was already deleted before calling unsubscribe
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/bookkeeper/mledger/impl/ConsumerUnsubscribeIntegrationTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.7, release/4.0.5

#24165 [fix][test] Fix UnfinishedStubbing issue in AuthZTests
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespaceAuthZTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TransactionAndSchemaAuthZTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24166 [fix][test] Fix invalid test CompactionTest.testDeleteCompactedLedgerWithSlowAck
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactionTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24170 [fix][test]flaky-test:ManagedLedgerInterceptorImplTest.testManagedLedgerPayloadInputProcessorFailure
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImplTest.java
Labels: doc-not-needed, release/3.0.12, release/3.3.7, release/4.0.5

#24168 [fix][build] Fix skipTag and use explicit tag for image name
  docker/pulsar-all/pom.xml
  docker/pulsar/pom.xml
  pom.xml
  tests/docker-images/java-test-image/pom.xml
  tests/docker-images/latest-version-image/pom.xml
Labels: area/build, doc-not-needed, ready-to-test, release/3.3.7, release/4.0.5

#24172 [fix][test] Improve reliability of IncrementPartitionsTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/IncrementPartitionsTest.java
Labels: doc-not-needed, release/3.0.12, release/3.3.7, release/4.0.5

#24171 [improve][test] Use configured session timeout for MockZooKeeper and TestZKServer in PulsarTestContext
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MockZooKeeperMetadataStoreProvider.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeperSession.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24174 [fix][test] Fix remaining UnfinishedStubbingException issue with AuthZTests
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AuthZTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.11, release/3.3.7, release/4.0.5

#23837 [improve][pip] PIP-404: Introduce per ledger properties
  pip/pip-404-Introduce-per-ledger-properties.md
Labels: doc, area/broker, ready-to-test, area/ML, category/performance, PIP

#24091 [fix][broker] Fix some problems in calculate totalAvailableBookies in method getExcludedBookiesWithIsolationGroups when some bookies belongs to multiple isolation groups.
  pulsar-broker-common/src/main/java/org/apache/pulsar/bookie/rackawareness/IsolatedBookieEnsemblePlacementPolicy.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/bookie/rackawareness/IsolatedBookieEnsemblePlacementPolicyTest.java
Labels: doc-not-needed, release/3.0.12, release/3.3.7, release/4.0.5

#24180 [improve][build] Build apachepulsar/pulsar-io-kinesis-sink-kinesis_producer with Alpine 3.21
  docker/kinesis-producer-alpine/Dockerfile
  docker/kinesis-producer-alpine/README.md
  docker/kinesis-producer-alpine/build-alpine.sh
Labels: doc-not-needed, ready-to-test, cherry-picked/branch-3.3, release/3.3.7, release/4.0.5

#24181 [fix][proxy] Fix incorrect client error when calling get topic metadata
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/LookupProxyHandler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
Labels: type/bug, area/proxy, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24103 [fix][schema] Reject unsupported Avro schema types during schema registration
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/validator/SchemaDataValidator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/validator/StructSchemaDataValidator.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/schema/compatibility/SchemaCompatibilityCheckTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/generic/GenericSchemaTest.java
Labels: type/bug, doc-not-needed, ready-to-test, PIP, release/3.0.12, release/3.3.7, release/4.0.5

#24186 [fix][broker] Fixes Inconsistent ServiceUnitStateData View (ExtensibleLoadManagerImpl only)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateData.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateDataTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/Backoff.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/api/MetadataCacheConfig.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/cache/impl/MetadataCacheImpl.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/tableview/impl/MetadataStoreTableViewImpl.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/4.0.5

#24151 [fix][broker] Fix cluster level OffloadedReadPriority to bookkeeper-first does not work
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPoliciesImpl.java
  pulsar-common/src/test/java/org/apache/pulsar/common/policies/data/OffloadPoliciesTest.java
Labels: type/bug, area/tieredstorage, doc-not-needed, ready-to-test, release/3.3.7, release/4.0.5

#24196 [fix][broker] Fix NPE from the wrong iterator in the ownership cleanup job(ExtensibleLoadManagerImpl only)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/4.0.5

#24194 [fix][test] Fix flaky NamespacesTest.testNamespacesApiRedirects
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java
Labels: doc-not-needed, ready-to-test, release/3.3.7, release/4.0.5

#23592 [feat][pip] PIP-402: Role Anonymizer for Pulsar Logging
  pip/pip-402.md
Labels: doc-label-missing, PIP

#24201 [improve][io] Upgrade Kafka client and compatible Confluent platform version
  pom.xml
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarOffsetBackingStore.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sinks/KafkaSinkTester.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/AvroKafkaSourceTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/io/sources/KafkaSourceTester.java
Labels: area/security, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24204 [fix][test] Fix resource leaks in ProxyTest and fix invalid tests
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24200 [cleanup][test] Cleanup OneWayReplicatorUsingGlobalPartitionedTest and OneWayReplicatorUsingGlobalZKTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalPartitionedTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24207 [fix][broker] Fix compaction service log's wrong condition
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24203 [improve][client] PIP-391: Enable batch index ACK by default
  conf/broker.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/v3/AdminApiTransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/namespace/OwnerShipForCurrentServerTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionProduceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TransactionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionLowWaterMarkTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/TransactionStablePositionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/coordinator/TransactionMetaStoreTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckPersistentTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStoreTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/CustomMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/UnloadSubscriptionTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/BatchMessageIndexAckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/NegativeAcksTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ConsumerBuilderImplTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/transaction/TransactionTest.java
Labels: type/enhancement, doc, area/client, area/broker

#24210 [fix][broker] Fix broker shutdown delay by resolving hanging health checks
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/BrokersBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HealthChecker.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiHealthCheckTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryMetadataStoreIntegrationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/PartitionedSystemTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/NonStartableTestPulsarService.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24205 [improve] Upgrade Apache Commons library versions to compatible versions
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-functions/runtime-all/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceDepsTest.java
Labels: area/dependency, doc-not-needed, ready-to-test, release/3.3.7, release/4.0.5

#24211 [revert][broker] Revert #24200: Cleanup OneWayReplicatorUsingGlobalPartitionedTest and OneWayReplicatorUsingGlobalZKTest
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalPartitionedTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
Labels: doc-not-needed, ready-to-test

#24192 [fix][admin] Backlog quota's policy is null which causes a NPE
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/TopicPoliciesTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTopicPoliciesTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/BacklogQuota.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24209 [fix][broker] Fix tenant creation and update with null value
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTenantTest.java
Labels: doc-not-needed, release/3.0.12, release/3.3.7, release/4.0.5

#24216 [fix][broker] Fix HealthChecker deadlock in shutdown
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HealthChecker.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24218 [fix][test] Fix multiple resource leaks in tests
  pulsar-broker-common/src/test/java/org/apache/pulsar/bookie/rackawareness/BookieRackAffinityMappingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/AbstractDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/DelayedDeliveryTrackerFactoryTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/InMemoryDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/delayed/bucket/BucketDelayedDeliveryTrackerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPublishRateThrottleTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/PrometheusMetricsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/NamespaceStatsAggregatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/zookeeper/ZKReconnectTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProduceWithMessageIdTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ReaderTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/PulsarClientImplTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TopicListWatcherTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/UnAckedMessageTrackerTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/BlobStoreBackedInputStreamTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedInputStreamTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlockAwareSegmentInputStreamTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexV2Test.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24212 [fix][test] Fix flaky BatchMessageWithBatchIndexLevelTest.testBatchMessageAck
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24214 [improve] Upgrade Netty to 4.1.121.Final
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24219 [improve][broker]Improve the feature "Optimize subscription seek (cursor reset) by timestamp": search less entries
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageFinder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.5

#24184 [fix][client] Fix incorrect producer.getPendingQueueSize due to incomplete queue implementation
  pulsar-broker/src/test/java/org/apache/pulsar/schema/SchemaTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/OpSendMsgQueueTest.java
Labels: type/bug, area/client, doc-not-needed, release/3.0.12, release/3.3.7, release/4.0.5

#24228 [fix][broker] Fix ByteBuf memory leak in REST API for publishing messages
  pulsar-broker/src/main/java/org/apache/pulsar/broker/rest/TopicsBase.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24230 [improve][client]Improve transaction log when a TXN command timeout
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TransactionMetaStoreHandler.java
Labels: doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5

#24221 [improve][io] support kafka connect transforms and predicates
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/AbstractKafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSource.java
  pulsar-io/kafka-connect-adaptor/src/test/java/org/apache/pulsar/io/kafka/connect/KafkaConnectSourceTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.5

#24232 [fix][sec] Upgrade Jetty to 9.4.57.v20241219 to mitigate CVE-2024-6763
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/security, doc-not-needed, ready-to-test, release/3.0.12, release/3.3.7, release/4.0.5
