Repository apache/pulsar, pull requests merged in 2025-09, with the labels that each got.

#24680 [fix][broker][branch-4.0]Can not access topic policies if topic partitions have not been created
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/AdminResource.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/PartitionCreationTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.7

#24691 [fix][client] Fix potential NPE in TypedMessageBuilderImpl
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TypedMessageBuilderImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/TypedMessageBuilderImplTest.java
Labels: doc-not-needed, ready-to-test

#24689 [feat][misc] upgrade oxia version to 0.6.2
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test

#24696 [fix][broker]Fix dirty reading of namespace level offload thresholds
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApi2Test.java
Labels: doc-not-needed, ready-to-test, release/4.0.7

#24706 [fix][broker] Fix NPE and annotate nullable return values for ManagedCursorContainer
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedger.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorContainer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc, release/4.0.7, release/4.1.1

#24698 [fix][client]TopicListWatcher not closed when calling PatternMultiTopicsConsumerImpl.closeAsync() method
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicListWatcher.java
Labels: doc-not-needed, ready-to-test

#24715 [improve][misc] Protect branch-4.1
  .asf.yaml
Labels: doc-not-needed, ready-to-test

#24510 [improve][pip] PIP-434: Expose Netty channel configuration WRITE_BUFFER_WATER_MARK to pulsar conf and pause receive requests when channel is unwritable
  pip/pip-434.md
Labels: doc-required, PIP

#24719 [fix][broker] Fix memory leak when metrics are updated in a thread other than FastThreadLocalThread
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/DataSketchesOpStatsLogger.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/DataSketchesSummaryLogger.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/metrics/ThreadLocalAccessor.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/prometheus/metrics/ThreadLocalAccessorTest.java
Labels: type/bug, area/broker, doc-not-needed, release/4.0.7, release/3.0.14, release/3.3.9, release/4.1.1

#24682 [improve][broker] Reduce unnecessary MessageMetadata parsing by caching the parsed instance in the broker cache
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/Entry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/EntryCacheDisabled.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeCache.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeCacheEntryWrapper.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/EntryAndMetadata.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageFinder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersClassic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/MessageImplTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
Labels: doc-not-needed, ready-to-test, release/4.1.1

#24625 [improve][pip] PIP-437: Granular and Fixed-Delay Policies for Message Delivery
  pip/pip-437.md
Labels: doc-not-needed, PIP

#24721 [feat][fn] Fallback to using `STATE_STORAGE_SERVICE_URL` in `PulsarMetadataStateStoreProviderImpl.init`
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/state/PulsarMetadataStateStoreProviderImpl.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarBKStateStoreTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarMetadataStateStoreTest.java
  tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarStateTest.java
  tests/integration/src/test/resources/pulsar-function.xml
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.3.9, release/4.1.1

#24730 [fix][broker] Ensure KeyShared sticky mode consumer respects assigned ranges
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelector.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/HashRangeExclusiveStickyKeyConsumerSelectorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9, release/4.1.1

#24722 [fix][ml] Negative backlog & acked positions does not exist & message lost when concurrently occupying topic owner
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BkEnsemblesTestBase.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerBkEnsemblesTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/4.0.7, release/4.1.1

#24742 [improve][build] Upgrade Apache Parent POM to version 35
  build/run_unit_group.sh
  buildtools/pom.xml
  pom.xml
  pulsar-bom/pom.xml
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9, release/4.1.1

#24749 [fix] Exclude commons-lang dep from bookkeeper
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/4.1.1

#24752 [fix][client] rollback TopicListWatcher retry behavior
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PatternMultiTopicsConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/TopicListWatcher.java
Labels: doc-not-needed, release/4.0.7, release/3.0.14, release/3.3.9, release/4.1.1

#24750 [fix][broker] Fix typos in PulsarClusterMetadataSetup
  pulsar-broker/src/main/java/org/apache/pulsar/PulsarClusterMetadataSetup.java
Labels: doc-not-needed, ready-to-test

#24741 [fix][broker] Prevent unexpected recycle failure in dispatcher's read callback
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/ManagedLedgerUtils.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/ManagedLedgerReplayTaskTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/compaction/CompactedTopicUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BrokerMessageDeduplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumerTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/compaction/CompactedTopicUtilsTest.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/4.1.1

#24738 [fix][broker] First entry will be skipped if opening NonDurableCursor while trimmed ledger is adding first entry.
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/NonDurableCursorTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9, release/4.1.1

#24767 [fix][ci] Fix CI for Java 25 including upgrade of Gradle Develocity Maven extension
  .github/workflows/ci-owasp-dependency-check.yaml
  .github/workflows/pulsar-ci-flaky.yaml
  .github/workflows/pulsar-ci.yaml
  .mvn/extensions.xml
Labels: doc-not-needed, ready-to-test, release/4.0.0, release/3.0.14, release/3.3.9, release/4.1.1

#24768 [improve][build] Upgrade SpotBugs to a version that supports JDK25
  pom.xml
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/4.1.1

#24769 [fix][test] Flaky-test: BrokerServiceTest.testShutDownWithMaxConcurrentUnload
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test

#24753 [fix][ml]Fix EOFException after enabled topics offloading
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/OffloadIndexEntryImpl.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreBackedReadHandleImplTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/4.1.1

#24772 [fix][misc] Fix compareTo contract violation for NamespaceBundleStats, TimeAverageMessageData and ResourceUnitRanking
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/SimpleLoadManagerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/models/TopKBundlesTest.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/policies/data/loadbalancer/NamespaceBundleStats.java
  pulsar-client-admin-api/src/test/java/org/apache/pulsar/policies/data/loadbalancer/NamespaceBundleStatsTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/CompareUtil.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/ResourceUnitRanking.java
  pulsar-common/src/main/java/org/apache/pulsar/policies/data/loadbalancer/TimeAverageMessageData.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/CompareUtilTest.java
  pulsar-common/src/test/java/org/apache/pulsar/policies/data/loadbalancer/TimeAverageMessageDataTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.7, release/3.0.14, release/3.3.9, release/4.1.1

#24784 [improve][client/broker] Add DnsResolverGroup to share DNS cache across multiple PulsarClient instances
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConnectionPoolTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionPool.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/DnsResolverGroupImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
Labels: doc-not-needed, ready-to-test

#24770 [fix][broker] Flaky-test: ExtensibleLoadManagerImplTest.testDisableBroker
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/channel/ServiceUnitStateChannelImpl.java
Labels: doc-not-needed, ready-to-test, release/4.1.2, release/3.3.10, release/4.0.8, release/3.0.15

#24766 [improve][pip] PIP-443: Stop using Netty Recycler in new code
  pip/pip-443.md
Labels: doc, type/PIP, PIP
