Repository apache/pulsar, pull requests merged in 2025-02, with the labels that each got.

#23884 [fix][broker] Closed topics won't be removed from the cache
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionPersistentTopicTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23935 [improve][client] Avoid logging errors for retriable errors when creating producer
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
Labels: type/enhancement, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23939 [improve][broker] Avoid logging errors when there is a connection issue during subscription.
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerServiceException.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: type/enhancement, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23938 [improve][broker] Avoid printing log for IncompatibleSchemaException in ServerCnx
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
Labels: type/enhancement, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23932 [improve][io] Allow skipping connector deployment
  pom.xml
  pulsar-io/common/pom.xml
  pulsar-io/core/pom.xml
  pulsar-io/pom.xml
Labels: doc-not-needed, release/3.0.10, release/3.3.5, release/4.0.3

#23947 [feat][client] Support forward proxy for the ZTS server in pulsar-client-auth-athenz
  pom.xml
  pulsar-client-auth-athenz/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenz.java
  pulsar-client-auth-athenz/src/test/java/org/apache/pulsar/client/impl/auth/AuthenticationAthenzTest.java
Labels: doc-not-needed, release/3.0.10, release/4.0.3

#23933 [improve][offload] Skip tiered-storage deployment
  tiered-storage/pom.xml
Labels: doc-not-needed, ready-to-test

#23943 [fix] [client] call redeliver 1 msg but did 2 msgs
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/collections/GrowableArrayBlockingQueue.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23940 [improve][ml] Do not switch thread to execute asyncAddEntry's core logic
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImplTest.java
Labels: type/enhancement, area/broker, doc-not-needed, release/4.0.3

#23955 [fix][ml] Fix memory leak due to duplicated RangeCache value retain operations
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/util/RangeCacheTest.java
Labels: type/bug, doc-not-needed, release/3.0.9, release/3.3.5, release/4.0.3

#23951 [fix] [ml] incorrect non-durable cursor's backlog due to concurrently trimming ledger and non-durable cursor creation
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23919 [fix][broker] Fix seeking by timestamp can be reset the cursor position to earliest
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageFinder.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/SubscriptionSeekTest.java
Labels: type/bug, area/broker, doc-not-needed, release/4.0.3

#23915 [improve][broker] Refactor a private method to eliminate an unnecessary parameter
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
Labels: doc-not-needed, release/4.0.3

#23958 [fix][ml] Fix deadlock in PendingReadsManager
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/PendingReadsManager.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23965 [fix][sec] Upgrade to Netty 4.1.118
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: area/security, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23964 [fix] Use Alpine 3.21 in base image
  docker/pulsar/Dockerfile
Labels: area/security, doc-not-needed, ready-to-test, release/4.0.2, release/3.3.5

#23960 [fix][ml] Fix memory leaks in ManagedCursorInfo and ManagedLedgerInfo decompression and compression
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/MetaStoreImpl.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23957 [improve][broker] Avoid PersistentReplicator.expireMessages logic compute backlog twice
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
Labels: area/broker, doc-not-needed, ready-to-test, area/ML, category/performance, release/3.0.10, release/3.3.5, release/4.0.3

#23966 [fix][build] Upgrade json-smart to 2.5.2
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23970 [improve][ci] Skip "OWASP dependency check" when data wasn't found in cache
  .github/workflows/pulsar-ci.yaml
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23971 [fix][client] Fix memory leak in ClientCnx.newLookup when there's TooManyRequestsException
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
Labels: area/client, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23967 [fix][client] Fix memory leak when message size exceeds max message size and batching is enabled
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
Labels: area/client, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23969 [improve][client] Update TypedMessageBuilder deliverAfter and deliverAt api comment
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java
Labels: doc-not-needed, ready-to-test, release/4.0.3

#23976 [fix] Potential fix for code scanning alert no. 22: HTTP response splitting
  pulsar-broker-auth-sasl/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderSasl.java
Labels: doc-not-needed, ready-to-test

#23979 [fix][io] Fix pulsar-io:pom not found
  pulsar-io/aerospike/pom.xml
  pulsar-io/alluxio/pom.xml
  pulsar-io/aws/pom.xml
  pulsar-io/batch-data-generator/pom.xml
  pulsar-io/canal/pom.xml
  pulsar-io/cassandra/pom.xml
  pulsar-io/common/pom.xml
  pulsar-io/core/pom.xml
  pulsar-io/data-generator/pom.xml
  pulsar-io/debezium/core/pom.xml
  pulsar-io/debezium/mongodb/pom.xml
  pulsar-io/debezium/mssql/pom.xml
  pulsar-io/debezium/mysql/pom.xml
  pulsar-io/debezium/oracle/pom.xml
  pulsar-io/debezium/postgres/pom.xml
  pulsar-io/docs/pom.xml
  pulsar-io/dynamodb/pom.xml
  pulsar-io/elastic-search/pom.xml
  pulsar-io/file/pom.xml
  pulsar-io/flume/pom.xml
  pulsar-io/hbase/pom.xml
  pulsar-io/hdfs3/pom.xml
  pulsar-io/http/pom.xml
  pulsar-io/influxdb/pom.xml
  pulsar-io/jdbc/clickhouse/pom.xml
  pulsar-io/jdbc/core/pom.xml
  pulsar-io/jdbc/mariadb/pom.xml
  pulsar-io/jdbc/openmldb/pom.xml
  pulsar-io/jdbc/postgres/pom.xml
  pulsar-io/jdbc/sqlite/pom.xml
  pulsar-io/kafka-connect-adaptor-nar/pom.xml
  pulsar-io/kafka-connect-adaptor/pom.xml
  pulsar-io/kafka/pom.xml
  pulsar-io/kinesis/pom.xml
  pulsar-io/mongo/pom.xml
  pulsar-io/netty/pom.xml
  pulsar-io/nsq/pom.xml
  pulsar-io/pom.xml
  pulsar-io/rabbitmq/pom.xml
  pulsar-io/redis/pom.xml
  pulsar-io/solr/pom.xml
  pulsar-io/twitter/pom.xml
Labels: doc-not-needed, release/3.0.10, release/3.3.5, release/4.0.3

#23648 [improve] [pip] PIP-395: Add Proxy configuration to support configurable response headers for http reverse-proxy
  pip/pip-395.md
Labels: type/PIP, doc-not-needed, ready-to-test, PIP

#23649 [improve] [proxy] PIP-395: Add Proxy configuration to support configurable response headers for http reverse-proxy
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/WebServer.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyAdditionalServletTest.java
Labels: area/proxy, doc-not-needed, ready-to-test

#23981 [improve][proxy] Make keep-alive interval configurable in Pulsar Proxy
  conf/proxy.conf
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConnection.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyConfigurationTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyOriginalClientIPTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceStarterDisableZeroCopyTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceStarterTest.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceTlsStarterTest.java
  pulsar-proxy/src/test/resources/proxy.conf
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23796 [fix][broker] Fix incorrect blockedConsumerOnUnackedMsgs value when maxUnackedMessagesPerConsumer is 1
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceTest.java
Labels: doc-not-needed, ready-to-test, triage/lhotari/important, release/3.0.10, release/3.3.5, release/4.0.3

#23984 [fix][meta] Fix ephemeral Zookeeper put which creates a persistent znode
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreExtendedTest.java
Labels: doc-not-needed, release/3.0.10, release/3.3.5, release/4.0.3

#23986 [fix][test] fix flaky testNegativeAcksWithBackoff when batch enabled.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/NegativeAcksTest.java
Labels: doc-not-needed, release/3.0.10, release/3.3.5, release/4.0.3

#23985 [fix] fix for code scanning alert no. 48: Uncontrolled data used in path expression
  pulsar-package-management/filesystem-storage/src/main/java/org/apache/pulsar/packages/management/storage/filesystem/FileSystemPackagesStorage.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23331 [fix][broker] fix broker may lost rack information
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/PulsarRegistrationClient.java
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23525 [improve][client][PIP-389] Add a producer config to improve compression performance
  pulsar-broker/src/main/java/org/apache/pulsar/client/impl/RawBatchMessageContainerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerConsumerInternalTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerMemoryLeakTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageContainerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
Labels: doc-required, ready-to-test

#23994 [revert] "[improve][ml] Do not switch thread to execute asyncAddEntry's core logic (#23940)"
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ShadowManagedLedgerImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImplTest.java
Labels: doc-not-needed

#23988 [fix][meta] Fix ephemeral handling of ZK nodes and fix MockZooKeeper ephemeral and ZK stat handling
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/web/PulsarWebResource.java
  pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundles.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/MockedPulsarServiceBaseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testcontext/PulsarTestContext.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/ProducerConsumerBase.java
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
  pulsar-metadata/src/test/java/org/apache/bookkeeper/replication/BookKeeperClusterTestCase.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BaseMetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/CounterTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreExtendedTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MockZooKeeperMetadataStoreProvider.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/LedgerManagerIteratorTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/LedgerUnderreplicationManagerTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/bookkeeper/PulsarLedgerIdGeneratorTest.java
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/impl/MetadataStoreFactoryImplTest.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeper.java
  testmocks/src/main/java/org/apache/zookeeper/MockZooKeeperSession.java
Labels: release/blocker, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23998 [fix][test] Fix flaky test MetadataStoreTest.emptyStoreTest
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataStoreTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23996 [improve][meta] Simplify getting parent path in ZKMetadataStore without using java.io.File
  pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23859 [fix][client] fix retry topic with exclusive mode.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/RetryTopicTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java
Labels: type/bug, doc-required, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23286 [improve][broker] Fix non-persistent system topic schema compatibility
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentSystemTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/loadbalance/extensions/ExtensibleLoadManagerImplTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.5, release/4.0.3

#24003 [improve][test] Upgrade Testcontainers to 1.20.4 and docker-java to 3.4.0
  pom.xml
Labels: doc-not-needed, ready-to-test, release/4.0.4, release/3.0.11, release/3.3.6

#24006 [fix][broker] fix broker identifying incorrect stuck topic
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumersClassic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: area/broker, doc-not-needed, ready-to-test, release/4.0.4, release/3.0.11, release/3.3.6

#24008 [fix][broker] Fix NPE during active consumer is disconnected
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
Labels: area/broker, doc-not-needed, ready-to-test, release/4.0.4, release/3.0.11, release/3.3.6

#23697 [fix][broker] Geo Replication lost messages or frequently fails due to Deduplication is not appropriate for Geo-Replication
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Topic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TransportCnx.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/GeoPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageDeduplication.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ShadowReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BrokerMessageDeduplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorDeduplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/GeoReplicationProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java
  pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Markers.java
  pulsar-common/src/main/proto/PulsarApi.proto
Labels: doc-not-needed, ready-to-test, release/4.0.4, release/3.0.11, release/3.3.6

#24004 [improve][ci] Upgrade Gradle Develocity Maven Extension to 1.23.1
  .mvn/extensions.xml
  pulsar-metadata/src/test/java/org/apache/pulsar/metadata/BaseMetadataStoreTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.4, release/3.0.11, release/3.3.6

#23931 [improve] [broker] Make the estimated entry size more accurate
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/InflightReadsLimiterIntegrationTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageWithBatchIndexLevelTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/stats/ConsumerStatsTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.4, release/3.0.11, release/3.3.6

#24019 [fix][test]Fix flaky test V1_ProducerConsumerTest.testConcurrentConsumerReceiveWhileReconnect
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java
Labels: doc-not-needed, ready-to-test

#24011 [fix][test] Fix flaky test OneWayReplicatorUsingGlobalZKTest.testConfigReplicationStartAt
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/OneWayReplicatorUsingGlobalZKTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.4, release/3.0.11, release/3.3.6

#23978 [improve][cli] Support additional msg metadata for V1 topic on peek message cmd
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdPersistentTopics.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java
Labels: area/cli, doc-not-needed, ready-to-test

#24012 [fix][broker] PIP-322 Fix issue with rate limiters where rates can exceed limits initially and consumption pauses until token balance is positive
  conf/broker.conf
  conf/standalone.conf
  microbench/README.md
  microbench/src/main/java/org/apache/pulsar/broker/qos/AsyncTokenBucketBenchmark.java
  microbench/src/main/java/org/apache/pulsar/broker/qos/DefaultMonotonicClockBenchmark.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/AsyncTokenBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/AsyncTokenBucketBuilder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/DefaultMonotonicClock.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/DefaultMonotonicSnapshotClock.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/DynamicRateAsyncTokenBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/DynamicRateAsyncTokenBucketBuilder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/FinalRateAsyncTokenBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/FinalRateAsyncTokenBucketBuilder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/qos/MonotonicClock.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroup.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/resourcegroup/ResourceGroupPublishLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PublishRateLimiterImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiter.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiterAsyncTokenBucketImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiterClassicImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiterFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiterFactoryAsyncTokenBucket.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/DispatchRateLimiterFactoryClassic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumersClassic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/SubscribeRateLimiter.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/qos/AsyncTokenBucketTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/qos/DefaultMonotonicSnapshotClockTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/resourcegroup/RGUsageMTAggrWaitForAllMsgsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractBaseDispatcherTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/AbstractTopicTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/DispatchRateLimiterOverconsumingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PublishRateLimiterOverconsumingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PublishRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorRateLimiterTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPublishRateThrottleTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/MessageDuplicationTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/AbstractMessageDispatchThrottlingTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/MessagePublishThrottlingTest.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/RateLimitFunction.java
  pulsar-common/src/main/java/org/apache/pulsar/common/util/RateLimiter.java
  pulsar-common/src/test/java/org/apache/pulsar/common/util/RateLimiterTest.java
Labels: doc-not-needed, ready-to-test

#23962 [improve][ml] Use lock-free queue in InflightReadsLimiter since there's no concurrent access
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/InflightReadsLimiter.java
Labels: doc-not-needed, ready-to-test, release/4.0.4, release/3.0.11, release/3.3.6

#24025 [improve] [broker] Separate offload read and write thread pool
  conf/broker.conf
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/LedgerOffloaderFactory.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java
  pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/OffloadPolicies.java
  pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/OffloadPoliciesImpl.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/JCloudLedgerOffloaderFactory.java
  tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloader.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderStreamingTest.java
  tiered-storage/jcloud/src/test/java/org/apache/bookkeeper/mledger/offload/jcloud/impl/BlobStoreManagedLedgerOffloaderTest.java
Labels: type/enhancement, area/tieredstorage, doc-not-needed, ready-to-test, release/3.3.6

#24023 [fix][doc] fix doc related to chunk message feature.
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java
Labels: doc-not-needed, ready-to-test, release/3.0.6, release/4.0.4, release/3.0.11, release/3.3.6

#24033 [cleanup][misc] Add override annotation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/extensions/BrokerRegistryImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
Labels: doc-not-needed

#24022 [improve][pip] PIP-409: support producer configuration for retry/dead letter topic producer
  pip/pip-409.md
Labels: doc-not-needed, PIP

#23950 [improve][pip] PIP-407 Add a newMessage API to create a message with a schema and transaction
  pip/pip-407.md
Labels: doc, PIP

#23975 [fix][broker] Add expire check for replicator
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/GeoPersistentReplicator.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ShadowReplicator.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java
Labels: type/bug, area/broker, doc-not-needed, release/4.0.4, release/3.0.11, release/3.3.6
