Repository apache/pulsar, pull requests merged in 2025-01, with the labels that each got.

#23797 [fix][broker] Continue using the next provider for authentication if one fails
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderList.java
  pulsar-broker-common/src/test/java/org/apache/pulsar/broker/authentication/AuthenticationProviderListTest.java
Labels: type/bug, doc-not-needed, area/authn, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23620 [feat][broker] Prevent auto-creation of topics using legacy cluster-based naming scheme
  conf/broker.conf
  conf/standalone.conf
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BrokerServiceAutoTopicCreationTest.java
Labels: doc-not-needed

#23795 [fix] [broker] Msg delivery is stuck due to items in the collection recentlyJoinedConsumers are out-of-order
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersClassic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersClassicTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23798 [fix][client] Fix compatibility between kerberos and tls
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Authentication.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdRead.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ClientInitializationTest.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceTlsStarterTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
Labels: type/bug, doc-not-needed, area/authn

#23600 [improve][client] PIP-393: Improve performance of Negative Acknowledgement
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/NegativeAcksTest.java
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-dependencies-minimized/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-client/pom.xml
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ConsumerConfigurationData.java
Labels: doc-not-needed, ready-to-test, PIP, release/4.0.2

#23801 [fix][client][branch-3.0] Fix compatibility between kerberos and tls
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerTest.java
  pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/http/AsyncHttpConnector.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Authentication.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdConsume.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdProduce.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/client/cli/CmdRead.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/HttpClient.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarChannelInitializer.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/AdminProxyHandler.java
  pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/DirectProxyHandler.java
  pulsar-proxy/src/test/java/org/apache/pulsar/proxy/server/ProxyServiceTlsStarterTest.java
  pulsar-testclient/src/main/java/org/apache/pulsar/proxy/socket/client/PerformanceClient.java
Labels: type/bug, doc-not-needed, area/authn, ready-to-test, release/3.0.9

#23802 [fix] [broker] Fix items in dispatcher.recentlyJoinedConsumers are out-of-order, which may cause a delivery stuck
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersClassic.java
  pulsar-broker/src/test/java/org/apache/bookkeeper/mledger/impl/NonEntryCacheKeySharedSubscriptionV30Test.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23780 [improve][broker] Improve SystemTopicBasedTopicPoliciesService reader to reduce GC pressure
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/SystemTopicBasedTopicPoliciesService.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TopicPoliciesSystemTopicClient.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/TopicPolicyTestUtils.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/NamespaceEventsSystemTopicServiceTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/systopic/PartitionedSystemTopicTest.java
Labels: area/broker, doc-not-needed, ready-to-test, category/performance, release/4.0.2

#23779 [improve][txn] Improve Reader in TransactionBuffer to reduce GC pressure
  pulsar-broker/src/main/java/org/apache/pulsar/broker/systopic/TransactionBufferSnapshotBaseSystemTopicClient.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/SnapshotSegmentAbortedTxnProcessorImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TableView.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/SegmentAbortedTxnProcessorTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/TopicTransactionBufferRecoverTest.java
Labels: area/broker, area/transaction, doc-not-needed, ready-to-test, category/performance

#23804 [improve][client] PIP-393: Support configuring NegativeAckPrecisionBitCnt while building consumer.
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/NegativeAcksTest.java
  pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java
Labels: doc-not-needed, ready-to-test, PIP, cherry-picked/branch-4.0, release/4.0.2

#23810 [improve][ci] Move ZkSessionExpireTest to flaky group to unblock CI
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ZkSessionExpireTest.java
Labels: type/flaky-tests, doc-not-needed, ready-to-test, release/4.0.2

#23813 [improve] Upgrade to Netty 4.1.116.Final and io_uring to 0.0.26.Final
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23817 [fix][broker] Remove failed OpAddEntry from pendingAddEntries
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java
  pulsar-broker/src/test/java/org/apache/bookkeeper/mledger/impl/MangedLedgerInterceptorImpl2Test.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImplTest.java
Labels: doc-not-needed, release/3.0.9, release/3.3.4, release/4.0.2

#23826 [improve][broker][branch-3.3] Optimize PersistentTopic.getLastDispatchablePosition (#22707)
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/InMemTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TopicTransactionBuffer.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buffer/impl/TransactionBufferDisable.java
Labels: doc-not-needed, ready-to-test, category/performance

#23823 [fix][test] Remove useless test code
  pulsar-broker/src/test/java/org/apache/pulsar/broker/intercept/ManagedLedgerInterceptorImplTest.java
Labels: doc-not-needed, release/4.0.2, release/3.0.10, release/3.3.5

#23793 [improve][pip] PIP-401: Support set batching configurations for Pulsar Functions&Sources
  pip/pip-401.md
Labels: doc-not-needed, PIP

#22792 [improve][broker] Optimize subscription seek (cursor reset) by timestamp
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedCursor.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedCursorTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentMessageFinder.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/PersistentMessageFinderTest.java
Labels: area/broker, doc-not-needed, ready-to-test, category/performance, triage/lhotari/important, release/4.0.3

#23832 [fix][broker] Remove blocking calls from internalGetPartitionedStats
  pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java
Labels: doc-not-needed, ready-to-test

#23839 [improve][broker] Reduce unnecessary REPLICATED_SUBSCRIPTION_SNAPSHOT_REQUEST
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/ReplicatedSubscriptionsController.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatedSubscriptionTest.java
Labels: doc-not-needed, ready-to-test, category/performance, release/3.0.10, release/3.3.5, release/4.0.3

#23789 [fix][pip] PIP-399: Fix Metric Name for Delayed Queue
  pip/pip-399.md
Labels: doc-not-needed, PIP

#23841 [fix] [broker] Fix acknowledgeCumulativeAsync block when ackReceipt is enabled
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ConsumerAckTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java
Labels: doc-not-needed, ready-to-test

#23842 [fix][broker] Continue using the next provider for http authentication if one fails
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/auth/AuthenticationServiceTest.java
Labels: type/bug, doc-not-needed, area/authn, ready-to-test

#23833 [fix][broker] Fix possible mark delete NPE when batch index ack is enabled
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/AckSetState.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/PendingAckInMemoryDeleteTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLPendingAckStoreTest.java
Labels: type/bug, area/broker, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.4, release/4.0.2

#23712 [fix][broker] PIP-399: Fix Metric Name for Delayed Queue
  pulsar-broker/src/main/java/org/apache/pulsar/broker/stats/prometheus/TopicStats.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentTopicTest.java
Labels: type/bug, area/metrics, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23846 [improve] Support overriding java.net.preferIPv4Stack with OPTS
  bin/bookkeeper
  bin/function-localrunner
  bin/pulsar
  bin/pulsar-admin-common.cmd
  bin/pulsar-admin-common.sh
  bin/pulsar-perf
  src/pulsar-io-gen.sh
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/4.0.3

#23847 [fix][misc] Honor dynamic log levels in log4j2.yaml
  bin/pulsar
  bin/pulsar-admin-common.cmd
  bin/pulsar-perf
  docker/pulsar/Dockerfile
Labels: doc-not-needed

#23852 [fix][test]Fix flaky test testTopicUnloadAfterSessionRebuild
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ZkSessionExpireTest.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.5, release/4.0.3

#23854 [fix][broker] Fix deadlock in Key_Shared PIP-379 implementation
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/DrainingHashesTracker.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BrokerTestUtil.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java
Labels: doc-not-needed, ready-to-test, release/4.0.3

#23855 [fix][broker] Revert "[fix][broker] Cancel possible pending replay read in cancelPendingRead (#23384)"
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumersClassic.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23853 [fix][client] Orphan producer when concurrently calling producer closing and reconnection
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerCloseTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/impl/ProducerReconnectionTest.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
  pulsar-client/src/test/java/org/apache/pulsar/client/impl/ProducerImplTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/3.0.9, release/3.3.5, release/4.0.3

#23857 [fix][test] Add reconsumeLater call in RetryTopicTest#testRetryTopicWithMultiTopic.
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/RetryTopicTest.java
Labels: area/test, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23759 [fix] [ml] Fix cursor metadata compatability issue when switching the config unackedRangesOpenCacheSetEnabled
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/RangeSetWrapper.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ManagedLedgerConfigTest.java
Labels: type/bug, doc-not-needed, ready-to-test, release/4.0.3

#23862 [improve][broker] Remove spamming logs for customized managed ledger
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.5, release/4.0.3

#23863 [improve] Upgrade to Netty 4.1.117.Final
  buildtools/pom.xml
  distribution/server/src/assemble/LICENSE.bin.txt
  distribution/shell/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/3.3.4, release/3.0.10, release/4.0.3

#23864 [improve][broker] Improve Consumer.equals performance
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Consumer.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23871 [feat][misc] upgrade oxia java client to 0.5.0
  distribution/server/src/assemble/LICENSE.bin.txt
  pom.xml
Labels: doc-not-needed, ready-to-test, release/4.0.3

#23875 [improve][test] Add solution to PulsarMockBookKeeper for intercepting reads
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockBookKeeper.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockLedgerHandle.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockReadHandle.java
  testmocks/src/main/java/org/apache/bookkeeper/client/PulsarMockReadHandleInterceptor.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/4.0.3

#23876 [fix][test] Fix quiet time implementation in BrokerTestUtil.receiveMessages
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BrokerTestUtil.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/BrokerTestUtilTest.java
Labels: area/test, type/flaky-tests, doc-not-needed, ready-to-test, release/3.0.10, release/4.0.3

#23874 [fix][broker] PIP-379 Key_Shared implementation race condition causing out-of-order message delivery
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionDisabledBrokerCacheTest.java
  pulsar-broker/src/test/resources/log4j2.xml
Labels: doc-not-needed, ready-to-test, release/4.0.3

#23881 [improve][fn] Set default tenant and namespace for ListFunctions cmd
  pulsar-client-tools-test/src/test/java/org/apache/pulsar/admin/cli/CmdFunctionsTest.java
  pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java
Labels: doc-not-needed, ready-to-test, release/3.0.9, release/3.3.5, release/4.0.3

#23888 [improve][ml]Set default value of managedLedgerPersistIndividualAckAsLongArray to true
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
Labels: doc-not-needed, ready-to-test

#23886 [fix][client] Fix LoadManagerReport not found
  pulsar-client-admin-shaded/pom.xml
  pulsar-client-all/pom.xml
  pulsar-client-shaded/pom.xml
  pulsar-common/src/main/java/org/apache/pulsar/common/util/ObjectMapperFactory.java
  tests/pulsar-client-admin-shade-test/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
  tests/pulsar-client-all-shade-test/src/test/java/org/apache/pulsar/tests/integration/SmokeTest.java
Labels: type/bug, area/client, doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23892 [improve][test] Support decorating topic, subscription, dispatcher, ManagedLedger and ManagedCursors instances in tests
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/TopicFactory.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentSubscription.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/testinterceptor/BrokerTestInterceptor.java
Labels: area/test, doc-not-needed, ready-to-test

#23894 [fix][broker] Apply dispatcherMaxReadSizeBytes also for replay reads for Shared and Key_Shared subscriptions
  pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumersReadLimitsTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumersTest.java
Labels: doc-not-needed, ready-to-test

#23898 [fix][build] Use amazoncorretto:21-alpine3.20 JDK build for Alpine 3.20
  docker/pulsar/Dockerfile
Labels: doc-not-needed, ready-to-test, release/3.3.5, release/4.0.3

#23869 [fix][broker] Fix repeatedly acquired pending reads quota
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/PendingReadsManager.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/InflightReadsLimiterIntegrationTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/cache/PendingReadsManagerTest.java
Labels: doc-not-needed, release/3.0.10, release/3.3.5, release/4.0.3

#23811 [fix][fn] Record Pulsar Function processing time properly for asynchronous functions
  pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarFunctionE2ETest.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaExecutionResult.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstance.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/JavaInstanceRunnable.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/ComponentStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/FunctionStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SinkStatsManager.java
  pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/SourceStatsManager.java
  pulsar-functions/instance/src/main/resources/findbugsExclude.xml
  pulsar-functions/instance/src/test/java/org/apache/pulsar/functions/instance/JavaInstanceRunnableTest.java
Labels: doc-not-needed

#23893 [fix][test] Fix flaky DelayedDeliveryTest.testEnableTopicDelayedDelivery
  pulsar-broker/src/test/java/org/apache/pulsar/broker/service/persistent/DelayedDeliveryTest.java
Labels: doc-not-needed, release/3.0.10, release/3.3.5, release/4.0.3

#23903 [fix][broker Fix bug in RangeCache where different instance of the key wouldn't ever match
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/RangeCache.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerBkTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/util/RangeCacheTest.java
  pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionBrokerCacheTest.java
  pulsar-broker/src/test/resources/log4j2.xml
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/impl/TxnLogBufferedWriterTest.java
  pulsar-transaction/coordinator/src/test/java/org/apache/pulsar/transaction/coordinator/test/MockedBookKeeperTestCase.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23909 [fix][ci] Configure Docker data-root to /mnt/docker to avoid running out of disk space
  .github/actions/clean-disk/action.yml
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23901 [fix][broker] Make InflightReadsLimiter asynchronous and apply it for replay queue reads
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/ManagedLedgerFactoryConfig.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/InflightReadsLimiter.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/PendingReadsManager.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheImpl.java
  managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheManagerImpl.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/InflightReadsLimiterIntegrationTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/cache/InflightReadsLimiterTest.java
  managed-ledger/src/test/java/org/apache/bookkeeper/mledger/impl/cache/PendingReadsManagerTest.java
  pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java
  pulsar-broker/src/main/java/org/apache/pulsar/broker/ManagedLedgerClientFactory.java
Labels: doc-not-needed, ready-to-test, release/3.0.10, release/3.3.5, release/4.0.3

#23911 [fix] Avoid NPE when closing an uninitialized SameAuthParamsLookupAutoClusterFailover
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/SameAuthParamsLookupAutoClusterFailover.java
Labels: doc-not-needed, ready-to-test

#23914 [fix] Initialize UrlServiceProvider before trying to use transaction coordinator
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java
  pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java
Labels: doc-not-needed, ready-to-test
